doctype html
html(lang="en" dir="ltr")
	block vars

	head
		block headSection
			include ../partials/head
	body
		main(class=mainCSSClass, data-currency-iso-code="USD")

			block main

		// scripts
		block commonScripts
			include ../partials/common-scripts
