doctype html
html(lang="en" dir="ltr")
	block vars

	head
		block headSection
			include ../partials/head
	body
		main(data-currency-iso-code="USD")
			block header
				include ../partials/header-without-menu

			block main

			block footer
				include ../partials/footer

		// scripts
		block commonScripts
			include ../partials/common-scripts
