## messageSource=classpath:/wileycore/messages/email-ags-orderConfirmation_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

<html>
<head>
</head>
<body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background: #ffffff; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;">
#set ($orderInfoUrl = "${ctx.secureBaseUrl}/my-account/manage-subscription")
<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%" bgcolor="#ffffff">
	<tr>
		<td align="center">
			<center style="max-width: 600px; width: 100%;">
				<!--[if gte mso 9]>
				<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0"><tr><td>
				<![endif]-->
				<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%">
					<tr>
						<td colspan="2">
							<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%" bgcolor="000000">
								<tr>
									<td style="padding:25px 30px; text-align:left;">
										${ctx.cmsSlotContents.SiteLogo}
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding:25px 30px;" colspan="2">
                         #if ($ctx.order.deliveryOrderGroups.size() > 0)
							<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%" bgcolor="#f7f7f7">
							#foreach( $orderGroup in ${ctx.order.deliveryOrderGroups} )
								<tr>
									<th align="left" bgcolor="#dadada" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 6px 10px 6px 20px; white-space:nowrap;">${ctx.messages.orderNo}<a href="$orderInfoUrl" style="color: #222222; text-decoration: underline !important; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: left; line-height: 17px; font-size: 12px; margin: 0;padding:0;">${ctx.order.code}</a></th>
									<th align="right" bgcolor="#dadada" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 6px 10px; white-space:nowrap;">${ctx.messages.quantity}</th>
									<th align="right" bgcolor="#dadada" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 6px 10px; white-space:nowrap;">${ctx.messages.price}</th>
									<th align="right" bgcolor="#dadada" style="width:60px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 6px 20px 6px 10px; white-space:nowrap;">${ctx.messages.total}</th>
								</tr>
								#foreach( $entry in ${orderGroup.entries} )
								<tr>
									<td align="left" style="margin: 0; padding: 20px 10px 20px 20px; vertical-align: top;">
										<a href="${ctx.externalBaseUrl}" style="display: block; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: left; line-height: 15px; font-size: 12px; margin: 0; text-decoration:underline !important;">$entry.product.name</a>
									</td>
									<td align="right" style="vertical-align: top; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 20px 10px; white-space:nowrap;">
										$entry.quantity
									</td>
									<td align="right" style="vertical-align: top; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 20px 10px; white-space:nowrap;">
										  #if ($entry.basePrice.value > 0) $entry.basePrice.formattedValue #else ${ctx.messages.free} #end
									</td>
									<td align="right" style="width:60px; vertical-align: top; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 20px 20px 20px 10px; white-space:nowrap;">
									      #if($entry.totalPrice.value > 0) $entry.totalPrice.formattedValue #else ${ctx.messages.free} #end	
									</td>
								</tr>
								#end
								
							#end
								<tr>
									<td colspan="4" style="padding: 4px 20px 0 20px" >
										<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%" bgcolor="#f7f7f7">
											<tr>
												<td align="right" style="border-top:1px solid #000000; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 10px 10px 0 0;">
													${ctx.messages.subtotal}
												</td>
												<td align="right" style="border-top:1px solid #000000; width: 60px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 10px 0 0 10px;">
													${ctx.order.subTotalWithoutDiscount.formattedValue}
												</td>
											</tr>
											#if ($ctx.order.totalDiscounts.value > 0) 
												<tr>
													<td align="right" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 0 10px 0 0;">
														${ctx.messages.discount}
													</td>
													<td align="right" style="width: 60px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 0 0 0 10px;">
														-${ctx.order.totalDiscounts.formattedValue}
													</td>
												</tr>
											#end
											#if ( ! ${ctx.order.pinApplied})
												<tr>
													<td align="right" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 0 10px 0 0;">
														${ctx.messages.tax}
													</td>
													<td align="right" style="width: 60px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 0 0 0 10px;">
														${ctx.order.totalTax.formattedValue}
													</td>
												</tr>
											#end
											<tr>
												<td align="right" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 6px 10px 6px 0;">
													${ctx.messages.orderTotal}
												</td>
												<td align="right" style="width: 60px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: right; line-height: 17px; font-size: 12px; margin: 0; padding: 6px 0 6px 10px;">
													${ctx.order.totalPriceWithTax.formattedValue}
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						#end
						</td>
					</tr>
					#if(${ctx.order.paymentInfo.billingAddress} && ! ${ctx.order.pinApplied})
						<tr>
							<td style="padding: 0 0 25px 30px; width: 44.17%">
								<p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;"><b>${ctx.messages.billedTo}</b></p>
								<p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;">${ctx.order.paymentInfo.billingAddress.firstName} ${ctx.order.paymentInfo.billingAddress.lastName}</p>
								<p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;">${ctx.order.paymentInfo.billingAddress.line1}</p>
							
								<p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;">${ctx.order.paymentInfo.billingAddress.town}, #if(${ctx.order.paymentInfo.billingAddress.region.isocodeShort})${ctx.order.paymentInfo.billingAddress.region.isocodeShort}#end ${ctx.order.paymentInfo.billingAddress.postalCode}</p>
							</td>
							<td style="padding: 0 30px 25px 0;">
								<p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;"><b>${ctx.messages.creditCard}</b></p>
								<p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;">${ctx.order.paymentInfo.cardType}</p>
								<p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;"><b>${ctx.messages.cardNo}</b></p>
								<p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;">${ctx.order.paymentInfo.cardNumber}</p>
							</td>
						</tr>
					#end
					<tr>
						<td style="padding:15px 30px 25px 30px; border-top:1px solid #d3d3d3" colspan="2">
							<!--[if gte mso 9]>
							<table border="0" cellpadding="0" cellspacing="0">
								<tr><td align="center">
									<table border="0" cellpadding="0" cellspacing="0" width="268" align="center"><tr><td>
							<![endif]-->

					         <span style="display:inline-block; float:left; width:268px;">
								<h3 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: left; line-height: 1.3; word-break: normal; font-size: 14px; text-transform: uppercase; margin: 15px 0 0; padding: 0;" align="left">${ctx.messages.headingAmericas}</h3>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.nameAmericas}</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.address1Americas},</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.address2Americas} </p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.phoneAmericas}</p>

                                <h3 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: left; line-height: 1.3; word-break: normal; font-size: 14px; text-transform: uppercase; margin: 15px 0 0; padding: 0;" align="left">${ctx.messages.headingCanada}</h3>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.nameCanada}</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.address1Canada}</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.address2Canada}</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.phoneCanada}</p>

                                <h3 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: left; line-height: 1.3; word-break: normal; font-size: 14px; text-transform: uppercase; margin: 15px 0 0; padding: 0;" align="left">${ctx.messages.headingEUMEAF}</h3>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.nameEUMEAF}</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.address1EUMEAF}</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.address2EUMEAF} </p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.phoneEUMEAF}</p>
					         </span>

							<!--[if gte mso 9]>
							</td></tr></table>
							</td>
							<td align="center">
								<table border="0" cellpadding="0" cellspacing="0" align="center"><tr><td>
							<![endif]-->

					         <span style="display:inline-block; float:left; width:210px;">
								<h3 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: left; line-height: 1.3; word-break: normal; font-size: 14px; text-transform: uppercase; margin: 15px 0 0; padding: 0;" align="left">${ctx.messages.headingAustralia}</h3>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.nameAustralia}</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.address1Australia}</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.address2Australia}</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.phoneAustralia}</p>

                                <h3 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: left; line-height: 1.3; word-break: normal; font-size: 14px; text-transform: uppercase; margin: 15px 0 0; padding: 0;" align="left">${ctx.messages.headingAsia}</h3>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.nameAsia}</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.address1Asia}</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.address2Asia}</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.address3Asia}</p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.phoneAsia}</p>

                                <h3 class="custom-service" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; text-align: left; line-height: 1.3; word-break: normal; font-size: 14px; text-transform: capitalize; margin: 15px 0 0; padding: 0;" align="left">${ctx.messages.signature}</h3>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.contactUsWeb} <a href="${ctx.messages.contactUsWebAddress}" style="color: #ec8442 !important; text-decoration: underline !important;">${ctx.messages.contactUsWebAddressDisplay}</a></p>
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0; padding: 0;" align="left">${ctx.messages.contactUsEmail} <a href="mailto:${ctx.messages.contactUsEmailAddress}" style="color: #ec8442 !important; text-decoration: underline !important;">${ctx.messages.contactUsEmailAddress}</a></p>
					         </span>

							<!--[if gte mso 9]>
							</td></tr></table>
							</td>
							</tr></table>
							<![endif]-->
						</td>
					</tr>
					<tr>
						<td style="padding:0 30px 25px 30px;" colspan="2">
							<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%">
								<tr>
									<td style="padding-top:25px; border-top: 1px dashed #b3b3b3">
										<p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0 0 10px; padding: 0; text-decoration: none !important;">${ctx.messages.paragraphReceivingStart} <a href="mailto:${ctx.order.user.uid}" style="color: #ec8442 !important; text-decoration: underline !important;">${ctx.order.user.uid}</a> ${ctx.messages.paragraphReceivingEnd}</p>
                                        <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 17px; font-size: 12px; margin: 0 0 10px; padding: 0; text-decoration: none !important;"><a href="${ctx.messages.wileySiteLink}" style="color: #ec8442 !important; text-decoration: none !important; text-decoration: underline !important;">${ctx.messages.copyright}</a>${ctx.messages.rightsReservedSentence}</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td align="right" style="padding:25px 30px; border-top:2px solid #000000" colspan="2">
							${ctx.cmsSlotContents.SiteLogoBottom}
						</td>
					</tr>
				</table>
				<!--[if gte mso 9]>
				</td></tr></table>
				<![endif]-->
			</center>
		</td>
	</tr>
</table>
</body>

</html>
