## messageSource=classpath:/wileycore/messages/email-preOrderPlacement_$lang.properties
<html>
	<head>
	</head>
	<body>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="center" valign="top">
					<table border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff" >
						<tr>
							<td>
								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin:0; padding:0;"
									   bgcolor="#272f37">
									<tr>
										<td style="padding: 35px 10px 35px 20px;">
											<div style="max-width: 240px;">${ctx.cmsSlotContents.SiteLogo}</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align="center" valign="top" style="width:570px;">
								<table cellpadding="0" cellspacing="0" border="0" align="center" style="font-family: 'Helvetica', 'Arial', sans-serif; font-size:14px;padding: 30px 20px 0 20px;">
									<tr style="font-family: 'Helvetica', 'Arial', sans-serif; font-size:20px;">
										<td>
											<div><b>${ctx.messages.thankYouMessage}</b></div>
										</td>
									</tr>
									<tr>
										<td style="padding-top:20px;">
											<div>${ctx.messages.notChargedMessage}</div>
											<div>${ctx.messages.getMessage('changeOrCancelMessage', "<a href='${ctx.efficientLearningLink}${ctx.messages.customerSupportLink}'><font color='#666666'>", "</font></a>")}</div>
										</td>
									</tr>
									<tr>
                                    	<td style="padding-top: 60px; font-size: 14px;">
                                        	<!--[if gte mso 9]>
                                        		<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; width:600px; font-family: 'Helvetica', 'Arial', sans-serif;  font-size: 14px;"><tr><td>
                                        	<![endif]-->
                                        	<div>${ctx.messages.questionsQuote}
                                        		<a href="${ctx.efficientLearningLink}${ctx.messages.customerSupportLink}" style="color: #0a4d93; text-align: left; font-weight: bold; text-decoration: none;">${ctx.messages.customerSupportText}</a>&nbsp;${ctx.messages.bestOfLuckMessage}
                                        	</div>
                                        	<!--[if gte mso 9]>
                                        	</td></tr></table>
                                        	<![endif]-->
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td style="padding-top: 20px; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px;">
                                        	<div>${ctx.messages.teamWel}<sup style="margin: 0; padding: 0; color: #000000; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 9px; line-height: 10px;">${ctx.messages.tm}</sup></div>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td style="padding-top: 20px; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 12px; line-height: 18px;">
                                    		<div>${ctx.messages.emailSentText}</div>
                                    		<div>${ctx.messages.poBoxText}</div>
                                    		<div>${ctx.messages.rightsReservedText}</div>
                                    		<div>${ctx.messages.contactUsText}</div>
                                    	</td>
                                    </tr>
                                    <tr>
                                    	<td style="padding-top: 20px; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 12px; color: #0a4d93;">
                                    		<a href="${ctx.efficientLearningLink}" style="color: #0a4d93; text-decoration: none;">${ctx.messages.efficientLearningText}</a> | <a href="${ctx.efficientLearningLink}${ctx.messages.privacyPolicyLink}" style="color: #0a4d93; text-decoration: none;">${ctx.messages.privacyPolicyText}</a>
                                    	</td>
                                    </tr>
									<tr>
										<td align="right" style="padding: 25px 30px;">
											${ctx.cmsSlotContents.SiteLogoBottom}
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
