// Modal
#cancelProductConfirm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cancelProductConfirmTitle', aria-hidden='true')
    .modal-dialog.modal-confirmation
        .modal-content
            form
                .modal-body
                    div(class="modal-info") Are you sure you want to cancel your order?
                    div(class="order-details-cancellation-reason")
                        div(class="order-details-cancellation-reason-title") Cancellation reason
                        div(class="input-group")
                            div(class="form-field required")
                                div(class="form-group")
                                    div(class="select-component")
                                        select(required)
                                            option(value='1' selected disabled) Author request
                                            option(value='2') Unpaid invoice
                                            option(value='3') Others
                                            option(value='4') Cancel
                                            option(value='5') Duplicate
                        div(class="input-group")
                            div(class="form-field")
                                textarea(id="orderCancellationReasonComment", name="orderCancellationReasonComment", class="form-control", placeholder="Enter comment")
                .modal-footer
                    button.button.button-red(type='button', data-dismiss='modal') Cancel
                    button.button.button-main(type='button') Confirm