// Modal
#newCartModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='newCartModalTitle', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            form
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true')
                        span.sr-only Close
                    h4#newCartModalTitle.modal-title NEW CART
                .modal-body
                    div(class="modal-info") Your cart will be moved to Saved Cart list.
                    div(class="form-wrapper")
                        div(class="input-group characters-counter")
                            div(class="form-field")
                                label(for="newCartName") Name
                                input(id="newCartName", maxlength='5', name="newCartName", class="form-control", type="text", placeholder="Enter name", required)
                            i(class="characters-counter-result") Characters left:&nbsp;
                                span(class="characters-counter-value")
                        div(class="input-group characters-counter")
                            div(class="form-field")
                                label(for="newCartDescription") Description
                                textarea(id="newCartDescription", maxlength='250', name="newCartDescription", class="form-control", placeholder="Enter description")
                            i(class="characters-counter-result") Characters left:&nbsp;
                                span(class="characters-counter-value")
                .modal-footer
                    button.button.button-red(type='button', data-dismiss='modal') Cancel
                    button.button.button-main(type='button') Save