// Modal
#removeOrderLineModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='removeOrderLineModalTitle', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content
            form
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true')
                        span.sr-only Close
                    h4#removeOrderLineModalTitle.modal-title ORDER TOTAL DETAILS
                .modal-body
                    div(class="modal-order-details")
                        div.order-details-info-message
                            | Are you sure you would like to remove Online Open
                            | item from your order? Your order will be updated.
                            | Do you want to save changes?
                        div.order-details-title Order Total
                        div.order-details-text Subtotal
                            span.order-details-text-right $4,320.00
                        div.order-details-text Estimated Taxes
                            span.order-details-text-right $136.00
                        div.order-details-text Discounts
                            span.order-details-text-right - $100.00
                        div.order-details-text.bold Total
                            span.order-details-text-right $4,356.00
                    div(class="modal-order-details")
                        div.order-details-title Order Total
                        div.order-details-text Subtotal
                            span.order-details-text-right $1,820.00
                        div.order-details-text Estimated Taxes
                            span.order-details-text-right $136.00
                        div.order-details-text Discounts
                            span.order-details-text-right - $100.00
                        div.order-details-text.bold Total
                            span.order-details-text-right $1,856.00
                    div(class="order-details-cancellation-reason")
                        div(class="order-details-cancellation-reason-title") Cancellation reason
                        div(class="input-group")
                            div(class="form-field required")
                                div(class="form-group")
                                    div(class="select-component", id="cancel-reason")
                                        select(required)
                                            option(value='1' selected disabled) Author request
                                            option(value='2') Unpaid invoice
                                            option(value='3') Others
                                            option(value='4') Cancel
                                            option(value='5') Duplicate
                        div(class="input-group")
                            div(class="form-field")
                                textarea(id="orderCancellationReasonComment", name="orderCancellationReasonComment", class="form-control", placeholder="Enter comment")

                .modal-footer
                    button.button.button-red(type='button', data-dismiss='modal') Cancel
                    button.button.button-main(type='button') Confirm
