// Modal
#removeProductConfirm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='removeProductConfirm', aria-hidden='true')
    .modal-dialog.modal-confirmation
        .modal-content
            form
                .modal-body
                    div(class="modal-info") Are ou sure you would like to remove this item from your cart? Are ou sure you would like to remove this item from your cart?

                .modal-footer
                    button.button.button-red(type='button', data-dismiss='modal') Cancel
                    button.button.button-main(type='button') Confirm