// Modal
#creditCardsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='creditCardsModalTitle', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content
            form
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true')
                        span.sr-only Close
                    h4#creditCardsModalTitle.modal-title Saved credit cards
                .modal-body
                    div(class="saved-card-info")
                        div.saved-info-value Visa   **** - **** - **** - 1234
                        div.saved-info-value Expired 05/2020
                        button(class="button button-main") Use this payment method
                    div(class="saved-card-info")
                        div.saved-info-value Visa   **** - **** - **** - 1234
                        div.saved-info-value Expired 05/2020
                        button(class="button button-main") Use this payment method
