// Modal
#savedAddressesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='savedAddressesModalTitle', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content
            form
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true')
                        span.sr-only Close
                    h4#savedAddressesModalTitle.modal-title Saved addresses
                .modal-body
                    div(class="saved-card-info")
                        div.saved-info-title Catherine
                        div.saved-info-value 5th avenue
                        div.saved-info-value 555-555-555
                        button(class="button button-main small") Use this address
                    div(class="saved-card-info")
                        div.saved-info-title Adam
                        div.saved-info-value 5th avenue
                        div.saved-info-value 555555
                        button(class="button button-main small") Use this address
