<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="spring"  uri="http://www.springframework.org/tags"%>

<div class="alert positive forgotten-password modal-body" id="validEmail" tabindex="0">
	<P><spring:theme code="account.confirmation.forgotten.password.link.sent"/></P>
</div>
