block betterThanOurCompetitors
	div(class="better-competitors")
		div(class="container")
			div(class="row")
				h1
					| Better than Our Competitors
			div(class="row")
				div(class="col-md-4 col-sm-4 col-xs-4")
					ul(class="list-unstyled")
						li
							| &nbsp
						li
							| Retail Price (All Four Parts)
						li
							| Cost to repeat the course
						li
							| Length of access time
						li
							| AICPA Practice Questions
						li
							| Task-based Simulations
						li
							| CPA Course Structure
						li
							| Published pass rate&#42;
						li
							| Video lectures delivered by
				div(class="col-md-4 col-sm-4 col-xs-4")
					ul(class="list-unstyled")
						li
							| Wiley CPAexcel
						li
							| &#36;2,295
						li
							| Free until you pass, no conditions
						li
							| Free until you pass, no conditions
						li
							| 12,000 (more than any
							br
							| other course available)
						li
							| 600
						li
							| Short, bite-sized lessons
						li
							| 9 out of 10 students pass
						li
							| National Professors
				div(class="col-md-4 col-sm-4 col-xs-4")
					ul(class="list-unstyled")
						li
							| Becker
							sup
								| &nbsp;TM
						li
							| &#36;3,393&#43;
						li
							| 50&#37; extra per part retaken
						li
							| 12 months live classes.
							br
							| 18 months software
						li
							| 7,000
						li
							| 300
						li
							| Traditional, long format lectures
						li
							| &quot;Twice non-Becker students&quot;
						li
							| National Instructors
			div(class="row")
				p
					| *Our data about the Becker
					sup
						| TM &nbsp;
					| CPA Review Course is taken from the Becker
					sup
						| TM &nbsp;
					| website and other sources we believe to be reliable.
					| We strive to be accurate but suggest you check the data for yourself. Please contact Wiley CPAexcel if you believe any of our data is incorrect so that we may remedy any error.