block commonScripts

    script.
        /*<![CDATA[*/
        var ACC = {config: {}};
        ACC.config.contextPath = "/welstorefront";
        ACC.config.encodedContextPath = "/welstorefront/wel/en";
        ACC.config.commonResourcePath = "/welstorefront/_ui/responsive/common";
        ACC.config.themeResourcePath = "/welstorefront/_ui/responsive/theme-blue";
        ACC.config.siteResourcePath = "/welstorefront/_ui/responsive/site-wel";
        ACC.config.rootPath = "/welstorefront/_ui/responsive";
        ACC.config.CSRFToken = "afd195be-f142-4e7d-907e-480128d9b5f8";
        ACC.pwdStrengthVeryWeak = 'Very weak';
        ACC.pwdStrengthWeak = 'Weak';
        ACC.pwdStrengthMedium = 'Medium';
        ACC.pwdStrengthStrong = 'Strong';
        ACC.pwdStrengthVeryStrong = 'Very strong';
        ACC.pwdStrengthUnsafePwd = 'password.strength.unsafepwd';
        ACC.pwdStrengthTooShortPwd = 'Too short';
        ACC.pwdStrengthMinCharText = 'Minimum length is %d characters';
        ACC.accessibilityLoading = 'Loading... Please wait...';
        ACC.accessibilityStoresLoaded = 'Stores loaded';
        ACC.config.googleApiKey = "";
        ACC.config.googleApiVersion = "3.7";
        ACC.autocompleteUrl = '/welstorefront/wel/en/search/autocompleteSecure';
        /*]]>*/

    script.
        /*<![CDATA[*/
        ACC.addons = {};
        ACC.addons.wileystorefrontcommons = [];
        ACC.addons.liveeditaddon = [];
        ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.add'] = 'Add new component to content slot';
        ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.edit_menu'] = 'Edit menu';
        ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.override'] = 'Override content slot';
        ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.create'] = 'Create new content slot';
        ACC.addons.b2ccheckoutaddon = [];
        ACC.addons.b2ccheckoutaddon['key.2'] = 'value 2';
        ACC.addons.b2ccheckoutaddon['key.1'] = 'value 1';
        ACC.addons.subscriptionstorefront = [];
        /*]]>*/

    script(src="shared/js/generatedVariables.js")
    script(src="responsive/common/js/jquery-2.1.1.min.js")
    script(src="responsive/common/bootstrap/dist/js/bootstrap.min.js")
    script(src="responsive/common/js/matchMedia.js")
    script(src="responsive/common/js/matchMedia.addListener.js")
    script(src="responsive/common/js/enquire.min.js")
    script(src="responsive/common/js/Imager.min.js")
    script(src="responsive/common/js/jquery.blockUI-2.66.js")
    script(src="responsive/common/js/jquery.colorbox-min.js")
    script(src="responsive/common/js/jquery.form.min.js")
    script(src="responsive/common/js/jquery.hoverIntent.js")
    script(src="responsive/common/js/jquery.pstrength.custom-1.2.0.js")
    script(src="responsive/common/js/jquery.syncheight.custom.js")
    script(src="responsive/common/js/jquery.tabs.custom.js")
    script(src="responsive/common/js/jquery-ui-1.11.2.custom.min.js")
    script(src="responsive/common/js/jquery.currencies.min.js")
    script(src="responsive/common/js/jquery.zoom.custom.js")
    script(src="responsive/common/js/owl.carousel.custom.js")
    script(src="responsive/common/js/acc.address.js")
    script(src="responsive/common/js/acc.autocomplete.js")
    script(src="responsive/common/js/acc.carousel.js")
    script(src="responsive/common/js/acc.cart.js")
    script(src="responsive/common/js/acc.cartitem.js")
    script(src="responsive/common/js/acc.checkout.js")
    script(src="responsive/common/js/acc.checkoutsteps.js")
    script(src="responsive/common/js/acc.colorbox.js")
    script(src="responsive/common/js/acc.common.js")
    script(src="responsive/common/js/acc.forgottenpassword.js")
    script(src="responsive/common/js/acc.global.js")
    script(src="responsive/common/js/acc.imagegallery.js")
    script(src="responsive/common/js/acc.langcurrencyselector.js")
    script(src="responsive/common/js/acc.minicart.js")
    script(src="responsive/common/js/acc.navigation.js")
    script(src="responsive/common/js/acc.order.js")
    script(src="responsive/common/js/acc.paginationsort.js")
    script(src="responsive/common/js/acc.paymentDetails.js")
    script(src="responsive/common/js/acc.pickupinstore.js")
    script(src="responsive/common/js/acc.product.js")
    script(src="responsive/common/js/acc.productDetail.js")
    script(src="responsive/common/js/acc.productvariants.js")
    script(src="responsive/common/js/acc.quickview.js")
    script(src="responsive/common/js/acc.ratingstars.js")
    script(src="responsive/common/js/acc.refinements.js")
    script(src="responsive/common/js/acc.tabs.js")
    script(src="responsive/common/js/acc.track.js")
    script(src="responsive/common/js/acc.storefinder.js")
    script(src="responsive/common/js/_autoload.js")
    script(src="responsive/common/js/wiley.js")
    script(src="responsive/common/js/jquery.validate.min.js")
    script(src="addons/wileystorefrontcommons/responsive/common/js/wileystorefrontcommons.js")