div(class="confirmation-note")
	p Note that it may take a few moments for your account to become active and your product to show up. If you still have issues after 5 minutes please contact customer service for help.