div(class="confirmation-text")
	-if(confirmationTextType == 'studentFlowText')
		h2 Thank you for your purchase!
		p
			| Your order is being processed and a confirmation email will be sent to you which will include your product information.
			br
			| Please note that you won't get access to your product until your academic status is verified.
	-else
		h2 Thank you for your purchase!
		p
			| Your order has been processed and a confirmation email
			br
			| will be sent to you which will include your product information.