block footer
    footer(class="main-footer")
        div(class="container")
            div(class="row")
                div(class="col-md-10 col-sm-10 col-xs-12")
                    ul(class="nav navbar-nav navbar-left")
                        li
                            a(href="#", title="Terms of Use") Terms of Use
                        li
                            a(href="#", title="Privacy Policy") Privacy Policy
                        li
                            a(href="#", title="Shipping Information Return Policy") Shipping Information &#38; Return Policy
                        li
                            a(href="#", title="Contact Us") Contact Us
                div(class="col-md-2 col-sm-2 col-xs-12")
                    a(class="logo" href="" title="")
                        img(class="img-responsive" src="responsive/theme-blue/images/logo-wiley-footer.png", alt="Wiley logo")

            if (drawFooterAddInfo)
                div(class="row")
                    div(class="col-md-12 col-sm-12 col-xs-12")
                        div(class="footer-add-info")
                            p
                                | CFA
                                sup
                                    | &reg;
                                | &nbsp; Institute does not endorse, promote, or warrant the accuracy or quality of the products or services offered by Wiley. CFA
                                sup
                                    | &reg;
                                | &nbsp; Institute, CFA
                                sup
                                    | &reg;
                                | &nbsp; and Chartered Financial Analyst® are trademarks owned by CFA
                                sup
                                    | &reg;
                                | &nbsp; Institute.