block form
    div(class="panel-heading" role="tab" id="headingOne")
        div(class="form-title")
            | Shipping Address
            a(class="form-title-toggle", role="button", data-toggle="collapse", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne")
    div(id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne")
        div(class="site-form")
            div(class="panel-body")
                div(class="same-as-billing")
                    div(class="form-cell")
                        div(class="form-field")
                            div(class="checkbox-component")
                                input(type="checkbox", id="sameAsBilling", checked="checked", tabindex="13")
                                label(for="sameAsBilling" class="shipping-label") Same as Billing
                    div(class="form-cell")
                        div(class="form-label required")
                            | Shipping Method
                        div(class="form-field")
                            input(type="radio", name="shipping" id="shipping-standard", tabindex="14")
                            label(for="shipping-standard") Standard
                            input(type="radio", name="shipping" id="shipping-express", tabindex="15")
                            label(for="shipping-express") Express
                            input(type="radio", name="shipping" id="shipping-next-day", tabindex="16")
                            label(for="shipping-next-day") Next Day

                div(class="form-fields")
                    div(class="form-cell")
                        div(class="form-label required")
                            | First Name
                        div(class="form-field")
                            input(type="text", name="firstname", required, tabindex="17")
                    div(class="form-cell")
                        div(class="form-label required")
                            | Last Name
                        div(class="form-field")
                            input(type="text", name="lastname", required, tabindex="18")
                    div(class="form-cell")
                        div(class="form-label required")
                            | Country
                        div(class="form-field")
                            select(tabindex="19")
                                option(value="|USA|United States|")
                                    | |USA|United States|
                                option(value="|AFG|Afghanistan|")
                                    | |AFG|Afghanistan|
                                option(value="|ALA|Aland Islands|")
                                    | |ALA|Aland Islands|
                                option(value="|ALB|Albania|")
                                    | |ALB|Albania|
                                option(value="|DZA|Algeria|")
                                    | |DZA|Algeria|
                                option(value="|ASM|American Samoa|")
                                    | |ASM|American Samoa|
                                option(value="|AND|Andorra|")
                                    | |AND|Andorra|
                                option(value="|AGO|Angola|")
                                    | |AGO|Angola|
                                option(value="|AIA|Anguilla|")
                                    | |AIA|Anguilla|
                                option(value="|ATA|Antarctica|")
                                    | |ATA|Antarctica|
                                option(value="|ATG|Antigua and Barbuda|")
                                    | |ATG|Antigua and Barbuda|
                                option(value="|ARG|Argentina|")
                                    | |ARG|Argentina|
                                option(value="|ARM|Armenia|")
                                    | |ARM|Armenia|
                                option(value="|ABW|Aruba|")
                                    | |ABW|Aruba|
                                option(value="|AUS|Australia|")
                                    | |AUS|Australia|
                                option(value="|AUT|Austria|")
                                    | |AUT|Austria|
                                option(value="|AZE|Azerbaijan|")
                                    | |AZE|Azerbaijan|
                                option(value="|BHS|Bahamas|")
                                    | |BHS|Bahamas|
                                option(value="|BHR|Bahrain|")
                                    | |BHR|Bahrain|
                                option(value="|BGD|Bangladesh|")
                                    | |BGD|Bangladesh|
                                option(value="|BRB|Barbados|")
                                    | |BRB|Barbados|
                                option(value="|BLR|Belarus|")
                                    | |BLR|Belarus|
                                option(value="|BEL|Belgium|")
                                    | |BEL|Belgium|
                                option(value="|BLZ|Belize|")
                                    | |BLZ|Belize|
                                option(value="|BEN|Benin|")
                                    | |BEN|Benin|
                                option(value="|BMU|Bermuda|")
                                    | |BMU|Bermuda|
                                option(value="|BTN|Bhutan|")
                                    | |BTN|Bhutan|
                                option(value="|BOL|Bolivia, Plurinational State of|")
                                    | |BOL|Bolivia, Plurinational State of|
                                option(value="|BES|Bonaire, Sint Eustatius and Saba|")
                                    | |BES|Bonaire, Sint Eustatius and Saba|
                                option(value="|BIH|Bosnia and Herzegovina|")
                                    | |BIH|Bosnia and Herzegovina|
                    div(class="form-cell")
                        div(class="form-label required")
                            | Address
                        div(class="form-field")
                            input(type="text", name="address", required, tabindex="20")
                    div(class="form-cell")
                        div(class="form-label required")
                            | Address 1
                        div(class="form-field")
                            input(type="text", name="address1", required, tabindex="21")
                    div(class="form-cell")
                        div(class="form-label")
                            | Address 2
                        div(class="form-field")
                            input(type="text", name="address2", tabindex="22")
                    div(class="form-cell")
                        div(class="form-label required")
                            | City
                        div(class="form-field")
                            input(type="text", name="city", required, tabindex="23")
                    div(class="form-cell")
                        div(class="form-label required")
                            | City/Province
                        div(class="form-field")
                            input(type="text", name="cityprovince", required, tabindex="24")
                    div(class="form-cell")
                        div(class="form-label required")
                            | State
                        div(class="form-field")
                            select(tabindex="25")
                                option(value="|2|Alabama|")
                                    | |2|Alabama|
                                option(value="|3|Alaska|")
                                    | |3|Alaska|
                                option(value="|6|Arizona|")
                                    | |6|Arizona|
                                option(value="|7|Arkansas|")
                                    | |7|Arkansas|
                                option(value="|9|California|")
                                    | |9|California|
                                option(value="|10|Colorado|")
                                    | |10|Colorado|
                                option(value="|11|Connecticut|")
                                    | |11|Connecticut|
                                option(value="|12|Delaware|")
                                    | |12|Delaware|
                                option(value="|13|District of Columbia|")
                                    | |13|District of Columbia|
                                option(value="|15|Florida|")
                                    | |15|Florida|
                                option(value="|16|Georgia|")
                                    | |16|Georgia|
                                option(value="|18|Hawaii|")
                                    | |18|Hawaii|
                                option(value="|19|Idaho|")
                                    | |19|Idaho|
                                option(value="|20|Illinois|")
                                    | |20|Illinois|
                                option(value="|22|Iowa|")
                                    | |22|Iowa|
                                option(value="|23|Kansas|")
                                    | |23|Kansas|
                    div(class="form-cell")
                        div(class="form-label required")
                            | Zip Code
                        div(class="form-field")
                            input(type="text", name="zipcode", required, tabindex="26")
                    div(class="form-cell")
                        div(class="form-label required")
                            | Phone
                        div(class="form-field")
                            input(type="text", name="phone", required, tabindex="27")

        div(class="form-required")
            | Required