h1(class="page-title") CFA Exam Review: Free Trial
div(class="row")
	div(class="col-sm-6 col-xs-12")
		div(class="cfa-free-trial-description")
			div(class="video")
				iframe(src="https://www.youtube.com/embed/QVI_BRQUzQY?rel=0&amp;autoplay=0", width="680", height="510", frameborder="0", allowfullscreen="allowfullscreen")
			p Get immediate access to the online study materials for 24 hours. Access the exam planner and actual bite-sized lessons with video lectures, study text, questions, mock exams, performance metrics and more. No credit card required.
			p The email and password you provide will allow you to return at any time in the next 24 hours.
	div(class="col-sm-6 col-xs-12")
		h2(class="sub-title") Try it Free. Take a 24 Hour Test Drive.
		p(class="form-text") Register for a free trial and get started now!
		form(class="site-form")
			div(class="form-cell")
				div(class="form-label required")
					| First Name
				div(class="form-field")
					input(type="text", name="firstname")
			div(class="form-cell")
				div(class="form-label required")
					| Last Name
				div(class="form-field")
					input(type="text", name="lastname")
			div(class="form-cell ")
				div(class="form-label required")
					| Email
				div(class="form-field")
					input(type="text", name="email")
			div(class="form-cell")
				div(class="form-label required")
					| Employer or School
				div(class="form-field")
					input(type="text", name="employerorschool")
			div(class="form-cell")
				div(class="form-label required")
					| Country
				div(class="form-field")
					select
						option(value="|USA|United States|")
							| |USA|United States|
						option(value="|AFG|Afghanistan|")
							| |AFG|Afghanistan|
						option(value="|ALA|Aland Islands|")
							| |ALA|Aland Islands|
						option(value="|ALB|Albania|")
							| |ALB|Albania|
						option(value="|DZA|Algeria|")
							| |DZA|Algeria|
						option(value="|ASM|American Samoa|")
							| |ASM|American Samoa|
						option(value="|AND|Andorra|")
							| |AND|Andorra|
						option(value="|AGO|Angola|")
							| |AGO|Angola|
						option(value="|AIA|Anguilla|")
							| |AIA|Anguilla|
						option(value="|ATA|Antarctica|")
							| |ATA|Antarctica|
						option(value="|ATG|Antigua and Barbuda|")
							| |ATG|Antigua and Barbuda|
						option(value="|ARG|Argentina|")
							| |ARG|Argentina|
						option(value="|ARM|Armenia|")
							| |ARM|Armenia|
						option(value="|ABW|Aruba|")
							| |ABW|Aruba|
						option(value="|AUS|Australia|")
							| |AUS|Australia|
						option(value="|AUT|Austria|")
							| |AUT|Austria|
						option(value="|AZE|Azerbaijan|")
							| |AZE|Azerbaijan|
						option(value="|BHS|Bahamas|")
							| |BHS|Bahamas|
						option(value="|BHR|Bahrain|")
							| |BHR|Bahrain|
						option(value="|BGD|Bangladesh|")
							| |BGD|Bangladesh|
						option(value="|BRB|Barbados|")
							| |BRB|Barbados|
						option(value="|BLR|Belarus|")
							| |BLR|Belarus|
						option(value="|BEL|Belgium|")
							| |BEL|Belgium|
						option(value="|BLZ|Belize|")
							| |BLZ|Belize|
						option(value="|BEN|Benin|")
							| |BEN|Benin|
						option(value="|BMU|Bermuda|")
							| |BMU|Bermuda|
						option(value="|BTN|Bhutan|")
							| |BTN|Bhutan|
						option(value="|BOL|Bolivia, Plurinational State of|")
							| |BOL|Bolivia, Plurinational State of|
						option(value="|BES|Bonaire, Sint Eustatius and Saba|")
							| |BES|Bonaire, Sint Eustatius and Saba|
						option(value="|BIH|Bosnia and Herzegovina|")
							| |BIH|Bosnia and Herzegovina|
			div(class="form-cell")
				div(class="form-label required")
					| Select Course
				div(class="form-field")
					select
						option(value="") &nbsp;
						option(value="December 2015 Level I")
							| December 2015 Level I
						option(value="June 2016 Level I")
							| June 2016 Level I
						option(value="June 2016 Level II")
							| June 2016 Level II
			div(class="form-cell")
				div(class="form-label required")
					| Password
				div(class="form-field")
					input(type="password", name="", autocomplete="off")
			div(class="form-cell")
				div(class="form-label required")
					| Confirm Password
				div(class="form-field")
					input(type="password", name="", autocomplete="off")
			div(class="form-cell")
				div(class="form-field")
					input(type="checkbox", id="receive_updates")
					label(for="receive_updates")
						| Yes! Sign up to receive exclusive product offers and exam updates from Wiley | CFA Exam Review.
						| We will not sell or rent your information to any third parties. You are free to unsubscribe or change email preferences at any time.
			div(class="form-buttons")
				span(class="btn-control")
					button(class="button form-button", type="submit")
						| Launch Free Trial
			div(class="note")
				| Note: Your information is strictly confidential andwill not be sold or shared. View our
				= ' '
				a(href="", title="")
					| privacy policy
				| .
