block header
    header(id="main-header")
        block siteHeader
            div(class="site-header")
                div(class="container")
                    div(class="row")
                        div(class="col-md-4 col-sm-4 col-xs-6")
                            div(class="logo")
                                a(class="hidden-xs", href="/welstorefront/wel/en/", title="Wiley EL")
                                    img(class="img-responsive", src="responsive/theme-blue/images/logo.png", alt="Wiley EL")
                                a(class="visible-xs", href="/welstorefront/wel/en/", title="Wiley EL")
                                    |&lt;&nbsp;&nbsp;
                                    img(class="img-responsive", src="responsive/theme-blue/images/logo-320.png", alt="Wiley EL")
                        div(class="col-md-8 col-sm-8 col-xs-6")
                            ul(class="site-menu nav navbar-nav navbar-right")
                                li(class="menu-item-mobile"): a(class="livechat", title="Live Chat") Live Chat

        block searchBar
            div(id="search-bar", class="collapse")
                div(class="container")
                    form(id="searchform", method="get", role="search", action="http://www.efficientlearning.com/wileycmaexcel/")
                        input(type="text", placeholder="What can we help you find?")
                        button(type="submit")
                            span(class="hidden-xs") Search
                            span(class="visible-xs") &nbsp;



