block header
    header(id="main-header")
        block siteHeader
            div(class="site-header")
                div(class="container")
                    div(class="row")
                        div(class="col-md-3 col-sm-3 col-xs-6")
                            div(class="logo")
                                div(class="simple-responsive-banner-component")
                                    a(class="hidden-xs", href="/welstorefront/wel/en/", title="Wiley EL")
                                        img(src="responsive/theme-blue/images/logo.png", alt="Wiley EL")
                                    a(class="visible-xs", href="/welstorefront/wel/en/", title="Wiley EL")
                                        |&lt;&nbsp;&nbsp;
                                        img(class="img-responsive", src="responsive/theme-blue/images/logo-320.png", alt="Wiley EL")
                        div(class="col-md-9 col-sm-9 col-xs-6")
                            ul(class="site-menu nav navbar-nav navbar-right")
                                li
                                    a(href="#", title="About Us") About Us
                                    ul
                                        li
                                            a(href="#", title="Why Efficient Learning") Why Efficient Learning
                                        li
                                            a(href="#", title="Success Stories") Success Stories
                                li
                                    a(href="#", title="Contact Us") Contact Us
                                li(class="menu-item-mobile")
                                    a(href="#", title="Live Chat", class="livechat") Live Chat
                                li
                                    a(href="#", title="Activate PIN") Activate PIN
                                li
                                    a(href="#", title="Cart", class="cart") Cart

                                if (hideMobileLoginButton)
                                    li(class="menu-item-bordered")
                                        a(href="#", title="Login") Login
                                    li(class="menu-item-bordered")
                                        a(href="#", title="My Account") My Account
                                        ul: li: a(href="#", title="Sing Out") Sing Out
                                else
                                    li(class="menu-item-bordered menu-item-mobile")
                                        a(href="#", title="Login") Login
                                    li(class="menu-item-bordered menu-item-mobile")
                                        a(href="#", title="My Account") My Account
                                        ul: li: a(href="#", title="Sing Out") Sing Out

        if (drawCategoryNavigationMenu)
            block productHeader
                div(class="product-header blue-lagoon")
                    div(class="container")
                        div(class="row")
                            div(class="navbar-header col-sm-3")
                                button(type="button", class="search-button visible-xs", data-target="#search-bar", data-toggle="collapse")
                                button(type="button", class="collapsed menu-button visible-xs", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                                div(class="logo")
                                    div(class="simple-responsive-banner-component")
                                        a(class="hidden-xs", href="/welstorefront/wel/en/", title="Wiley EL")
                                            img(src="responsive/theme-blue/images/ima-wileycma2.png", alt="Wiley EL")
                                        a(class="visible-xs", href="/welstorefront/wel/en/", title="Wiley EL")
                                            img(src="responsive/theme-blue/images/wileycmaexcel.png", alt="Wiley EL")
                            div(id="navbar", class="navbar-collapse collapse col-sm-9")
                                div(class="social-links nav navbar-nav navbar-right")
                                    a(href="https://twitter.com/wileycpaexcel", title="Follow us")
                                        img(src="responsive/theme-blue/images/ico-twitter.png")
                                    a(href="https://twitter.com/wileycpaexcel", title="Connect with us")
                                        img(src="responsive/theme-blue/images/ico-linkedin.png")
                                    a(href="https://plus.google.com/114273573586018361218/posts", title="Follow us")
                                        img(src="responsive/theme-blue/images/ico-googleplus.png")
                                    a(href="https://www.facebook.com/WileyCPAexcel", title="Friend with us")
                                        img(src="responsive/theme-blue/images/ico-facebook.png")
                                    a(href="https://www.youtube.com/user/CPAexcel", title="Watch us")
                                        img(src="responsive/theme-blue/images/ico-youtube.png")
                                    a(class="search", href="#")
                                        button(type="button", class="search-button", data-target="#search-bar", data-toggle="collapse")

                                ul(class="product-menu nav navbar-nav navbar-right")
                                    li
                                        a(href="#") Products
                                        ul
                                            li(class="sub-menu")
                                                a(href="#") Free Trial
                                                ul
                                                    li
                                                        a(href="#") Platinum Course
                                                    li
                                                        a(href="#") Gold Course
                                                    li
                                                        a(href="#") Silver Course
                                                    li
                                                        a(href="#") Self-Study Course
                                                    li
                                                        a(href="#") 11th Hour Review Course
                                                    li
                                                        a(href="#") Supplements
                                            li(class="sub-menu")
                                                a(href="#") Level I CFA Dec 2015
                                                ul
                                                    li
                                                        a(href="#") Course
                                                    li
                                                        a(href="#") Gold Course
                                            li(class="sub-menu")
                                                a(href="#") Level I CFA Dec 2015
                                                ul
                                                    li
                                                        a(href="#") Self-Study Course
                                                    li
                                                        a(href="#") Supplements
                                            li
                                                a(href="#") Product Availability Schedule
                                            li
                                                a(href="#") Product Availability Schedule
                                    li
                                        a(href="#") Why CMAexcel?
                                    li
                                        a(href="#") CMA Resources
                                        ul
                                            li
                                                a(href="#") Universities &amp; Schools
                                            li
                                                a(href="#") Firms &amp; Corporations
                                            li
                                                a(href="#") International Providers
                                            li
                                                a(href="#") Industry Associations
                                            li
                                                a(href="#") Campus Representatives
                                    li
                                        a(href="#") Blog

        block searchBar
            div(id="search-bar", class="collapse")
                div(class="container")
                    form(id="searchform", method="get", role="search", action="http://www.efficientlearning.com/wileycmaexcel/")
                        input(type="text", placeholder="What can we help you find?")
                        button(type="submit")
                            span(class="hidden-xs") Search
                            span(class="visible-xs") &nbsp;



