block headSection
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection", content="telephone=no")
    base(href="../../../hybris/bin/custom/wiley/welstorefront/web/webroot/_ui/")

    <!--[if IE 9]>
    script.
        (function () {
            var baseTag = document.getElementsByTagName('base')[0];
            baseTag.href = baseTag.href;
        })();
    <![endif]-->

    link(rel="stylesheet" type="text/css" media="all" href="addons/wileystorefrontcommons/responsive/common/css/wileystorefrontcommons.css")
    link(rel="stylesheet" type="text/css" media="all" href="addons/liveeditaddon/responsive/common/css/liveeditaddon.css")

    <!--[if IE 9]>
    link(rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/ybase-ie9.css")
    link(rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style-ie9.css")
    <![endif]-->

    <![if !IE]>
    link(rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css")
    <![endif]>

    title WEL