block payment-method
    div(class="payment-method panel")
        div(role="tab", id="headingThree", class="panel-heading")
            div(class="form-title")
                | Payment
                a(role="button", data-toggle="collapse", href="#collapseThree", aria-expanded="true", aria-controls="collapseThree", class="form-title-toggle")
        div(id="collapseThree", role="tabpanel", aria-labelledby="headingThree", class="panel-collapse collapse in")
            div(class="panel-body")
                div(class="payment-method-variants")
                    div(class="form-cell")
                        div(class="form-label required")
                            | Payment Method
                    div(class="form-cell")
                        div(class="form-field")
                            input(type="radio", name="payment-types", id="visa", tabindex="28")
                            label(for="visa", class="payment-icons")
                                img(src="responsive/theme-blue/images/icon-visa.png", alt="Visa")
                                img(src="responsive/theme-blue/images/icon-ms-cd.png", alt="MasterCard")
                                img(src="responsive/theme-blue/images/icon-disc.png", alt="Discover")
                                img(src="responsive/theme-blue/images/icon-amex.png", alt="American Express")
                        div(class="form-field")
                            input(type="radio", name="payment-types", id="paypal", tabindex="29")
                            label(for="paypal", class="payment-icons")
                                img(src="responsive/theme-blue/images/icon-pp.png", alt="PayPal")
                                a(href="https://www.paypal.com/cgi-bin/websrc?cmd=xpt/Marketing/popup/OLCWhatsPayPal-outside", target="_blank", title="What is PayPal?", class="paypal-link")
                                    | What is PayPal?