div(class="product-detailed-info")
	h2(class="title") Your choice

	div(class="row")
		div(class="col-sm-6 col-xs-12")
			div(class="product-info-section")
				h3 Gold CPA Review Course
				ul
					li Core Study Materials
					li Video Lectures + Slides
					li Professor Mentoring
					li Course Outlines
					li Flash Drive for Offline Access
					li Free Shipping
					li
						| Partner Until You Pass Guarantee – Free Content and Software Updates
						= " "
						span(class="tooltipHelp",
							data-toggle="popover",
							data-content='<p><strong>Free Continuing Access to the Course - Guaranteed</strong></p><ul class="alternate" type="square"><li>Your Wiley CPAexcel course has no expiration date. Use it until one year after you pass the CPA Exam.</li><li>Course repeats, online content updates, and software upgrades are free.</li></ul>') ?

					li Special Partner Price Applied at Cart

			div(class="product-checkout-section")
				div(class="product-checkout-header") Checkout
				div(class="product-checkout-content")
					div(class="product-variants")
						div(class="product-variants-radio")
							input(type="radio", name="product1", id="product-variant-0", checked)
							label(for="product-variant-0") Print
							input(type="radio", name="product1", id="product-variant-1")
							label(for="product-variant-1") eBook
						div(class="product-variants-checkbox")
							input(id="product-variant-WEL_CPA_PART_AUD-0", type='checkbox', data-code='WEL_CPA_PART_AUD', value='WEL_CPA_PLATINUM_REVIEW_COURSE_AUD_PRINT', checked)
							label(for='product-variant-WEL_CPA_PART_AUD-0') AUD
							input(id="product-variant-WEL_CPA_PART_BEC-0", type='checkbox', data-code='WEL_CPA_PART_BEC', value='WEL_CPA_PLATINUM_REVIEW_COURSE_BEC_PRINT', checked)
							label(for='product-variant-WEL_CPA_PART_BEC-0') BEC
							input(id="product-variant-WEL_CPA_PART_FAR-0", type='checkbox', data-code='WEL_CPA_PART_FAR', value='WEL_CPA_PLATINUM_REVIEW_COURSE_FAR_PRINT', checked)
							label(for='product-variant-WEL_CPA_PART_FAR-0') FAR
							input(id="product-variant-WEL_CPA_PART_REG-0", type='checkbox', data-code='WEL_CPA_PART_REG', value='WEL_CPA_PLATINUM_REVIEW_COURSE_REG_PRINT', checked)
							label(for='product-variant-WEL_CPA_PART_REG-0') REG

					div(class="product-price-section")
						p(class="price stating-price") Starting price: $1800
						p(class="price price-before-coupon") Price before coupon: $1800
						button(class="btn btn-primary", type="submit") Add to cart

		div(class=" col-sm-6 col-xs-12")
			div(class="product-info-section")
				span(class="best-value-label") Best value
				h3 Platinum CPA Review Course
				ul
					li Core Study Materials
					li Video Lectures + Slides
					li Professor Mentoring

			div(class="product-checkout-section")
				div(class="product-checkout-header") Checkout
				div(class="product-checkout-content")
					div(class="product-variants")
						div(class="product-variants-radio")
							input(type="radio", name="product2", id="product-variant-2", checked)
							label(for="product-variant-2") Print
							input(type="radio", name="product2", id="product-variant-3")
							label(for="product-variant-3") eBook

					div(class="product-price-section")
						button(class="btn btn-primary", type="submit") Add to cart

	div(class="row")
		div(class="col-sm-6 col-xs-12")
			div(class="product-info-section")
				h3 Gold CPA Review Course
				ul
					li Core Study Materials
					li Video Lectures + Slides
			div(class="product-checkout-section")
				div(class="product-checkout-header") Checkout
				div(class="product-checkout-content")
					div(class="product-variants")
						div(class="product-variants-radio")
							input(type="radio", name="product1", id="product-variant-0", checked)
							label(for="product-variant-0") Print
							input(type="radio", name="product1", id="product-variant-1")
							label(for="product-variant-1") eBook
						div(class="product-variants-checkbox")
							input(id="product-variant-WEL_CPA_PART_AUD-0", type='checkbox', data-code='WEL_CPA_PART_AUD', value='WEL_CPA_PLATINUM_REVIEW_COURSE_AUD_PRINT', checked)
							label(for='product-variant-WEL_CPA_PART_AUD-0') AUD
							input(id="product-variant-WEL_CPA_PART_BEC-0", type='checkbox', data-code='WEL_CPA_PART_BEC', value='WEL_CPA_PLATINUM_REVIEW_COURSE_BEC_PRINT', checked)
							label(for='product-variant-WEL_CPA_PART_BEC-0') BEC
							input(id="product-variant-WEL_CPA_PART_FAR-0", type='checkbox', data-code='WEL_CPA_PART_FAR', value='WEL_CPA_PLATINUM_REVIEW_COURSE_FAR_PRINT', checked)
							label(for='product-variant-WEL_CPA_PART_FAR-0') FAR
							input(id="product-variant-WEL_CPA_PART_REG-0", type='checkbox', data-code='WEL_CPA_PART_REG', value='WEL_CPA_PLATINUM_REVIEW_COURSE_REG_PRINT', checked)
							label(for='product-variant-WEL_CPA_PART_REG-0') REG
					div(class="product-price-section")
						p(class="price stating-price") Starting price: $1800
						p(class="price price-before-coupon") Price before coupon: $1800
						button(class="btn btn-primary", type="submit") Add to cart
		div(class=" col-sm-6 col-xs-12")
			div(class="product-info-section")
				h3 Platinum CPA Review Course
				ul
					li Core Study Materials
					li Video Lectures + Slides
					li Professor Mentoring
					li
						| Partner Until You Pass Guarantee – Free Content and Software Updates
						= " "
						span(class="tooltipHelp",
						data-toggle="popover",
						data-content='<p><strong>Free Continuing Access to the Course - Guaranteed</strong></p><ul class="alternate" type="square"><li>Your Wiley CPAexcel course has no expiration date. Use it until one year after you pass the CPA Exam.</li><li>Course repeats, online content updates, and software upgrades are free.</li></ul>') ?
			div(class="product-checkout-section")
				div(class="product-checkout-header") Checkout
				div(class="product-checkout-content")
					div(class="product-variants")
						div(class="product-variants-radio")
							input(type="radio", name="product2", id="product-variant-2", checked)
							label(for="product-variant-2") Print
							input(type="radio", name="product2", id="product-variant-3")
							label(for="product-variant-3") eBook
						div(class="product-variants-checkbox")
							input(id="product-variant-WEL_CPA_PART_AUD-1", type='checkbox', data-code='WEL_CPA_PART_AUD', value='WEL_CPA_PLATINUM_REVIEW_COURSE_AUD_PRINT', checked)
							label(for='product-variant-WEL_CPA_PART_AUD-1') AUD
							input(id="product-variant-WEL_CPA_PART_BEC-1", type='checkbox', data-code='WEL_CPA_PART_BEC', value='WEL_CPA_PLATINUM_REVIEW_COURSE_BEC_PRINT', checked)
							label(for='product-variant-WEL_CPA_PART_BEC-1') BEC
							input(id="product-variant-WEL_CPA_PART_FAR-1", type='checkbox', data-code='WEL_CPA_PART_FAR', value='WEL_CPA_PLATINUM_REVIEW_COURSE_FAR_PRINT', checked)
							label(for='product-variant-WEL_CPA_PART_FAR-1') FAR
							input(id="product-variant-WEL_CPA_PART_REG-1", type='checkbox', data-code='WEL_CPA_PART_REG', value='WEL_CPA_PLATINUM_REVIEW_COURSE_REG_PRINT', checked)
							label(for='product-variant-WEL_CPA_PART_REG-1') REG
					div(class="product-price-section")
						p(class="price stating-price") Starting price: $2295
						p(class="price price-before-coupon") Price before coupon: $2295
						button(class="btn btn-primary", type="submit") Add to cart