block progressLine
	ul(class="progress-line")
		- if(progressLineType == 'activePinProgressLine')
			li(class="step step-completed")
				span(class="step-number") 1
				span(class="step-name") Pin Input
			li(class="step")
				span(class="step-number") 2
				span(class="step-name step-name-desktop") Create an Account or Log In
				span(class="step-name step-name-mobile") Log In
			li(class="step")
				span(class="step-number") 3
				span(class="step-name") Confirmation
		- else if(progressLineType == 'studentFlowProgressLine')
			li(class="step step-completed")
				span(class="step-number") 1
				span(class="step-name step-name-desktop") Create an Account or Log In
				span(class="step-name step-name-mobile") Log In
			li(class="step step-completed")
				span(class="step-number") 2
				span(class="step-name step-name-desktop") Billing & Shipping
				span(class="step-name step-name-mobile") Billing Shipping
			li(class="step step-completed")
				span(class="step-number") 2
				span(class="step-name") Student Verification
			li(class="step step-completed")
				span(class="step-number") 3
				span(class="step-name") Payment
			li(class="step")
				span(class="step-number") 4
				span(class="step-name step-name-desktop") Order Confirmation
				span(class="step-name step-name-mobile")
					| Order
					br
					| Confirmation
		- else if(progressLineType == 'partnerFlowProgressLine')
			li(class="step step-completed")
				span(class="step-number") 1
				span(class="step-name step-name-desktop") Create an Account or Log In
				span(class="step-name step-name-mobile") Log In
			li(class="step step-completed")
				span(class="step-number") 2
				span(class="step-name step-name-desktop") Billing & Shipping
				span(class="step-name step-name-mobile") Billing Shipping
			li(class="step step-completed")
				span(class="step-number") 3
				span(class="step-name step-name-desktop") Order Confirmation
				span(class="step-name step-name-mobile")
					| Order
					br
					| Confirmation
		- else
			li(class="step step-completed")
				span(class="step-number") 1
				span(class="step-name step-name-desktop") Create an Account or Log In
				span(class="step-name step-name-mobile") Log In
			li(class="step step-completed")
				span(class="step-number") 2
				span(class="step-name step-name-desktop") Billing & Shipping
				span(class="step-name step-name-mobile") Billing Shipping
			li(class="step")
				span(class="step-number") 3
				span(class="step-name") Payment
			li(class="step")
				span(class="step-number") 4
				span(class="step-name step-name-desktop") Order Confirmation
				span(class="step-name step-name-mobile")
					| Order
					br
					| Confirmation
