block subscriptions
	div(class="container my-cart")
		div(class="subscriptions-empty-cart")
			p
				strong Your Shopping Cart is empty.
			p Learn more about our
				= " "
				a(href="#") CMA
				= " "
				| ,
				= " "
				a(href="#") CPA
				= " "
				| and
				= " "
				a(href="#") CFA
				= " "
				| exam preparation products or visit the
				= " "
				a(href="#") Efficient Learning home page

		div(class="subscriptions")
			div(class="subscriptions-title")
				h2(class="title") My Cart
				div(class="subscriptions-action-buttons")
					a(class="link", href="#") Keep Shopping
					button(class="btn btn-primary", type="button") Continue

			div(class="subscriptions-container")
				div(class="subscriptions-header")
					div(class="subscriptions-header-item item-item") Item
					div(class="subscriptions-header-item item-price") Price
					div(class="subscriptions-header-item item-qty") Qty
					div(class="subscriptions-header-item item-total") Total
					div(class="subscriptions-header-item item-action")

				div(class="subscriptions-content")
					div(class="subscription subscription-gift-card")
						div(class="subscription-info")
							div(class="subscription-image")
								img(src="https://app.efficientlearning.com/pv5/v8/page_assets/res/mycart/images/cpa_platinum_90x90.jpg", alt="Platinum CPA Review Course: Complete Print 2015")
							h3(class="subscription-title") $299 Apply gift card
							div(class="subscription-description") Example feature 1

						div(class="subscription-price-item item-price")
							div(class="subscription-price-name") Price:
							div(class="subscription-price-value") $299.00
						div(class="subscription-price-item item-qty")
							div(class="subscription-price-name") Qty:
							div(class="subscription-price-value") 1
						div(class="subscription-price-item item-total")
							div(class="subscription-price-name") Total:
							div(class="subscription-price-value") $0.00
						div(class="subscription-price-item item-action")
							div(class="subscription-price-name")
							div(class="subscription-price-value")

					div(class="subscription")
						div(class="subscription-info")
							div(class="subscription-image")
								a(class="subscription-image-link", href="#")
									img(src="https://app.efficientlearning.com/pv5/v8/page_assets/res/mycart/images/cpa_platinum_90x90.jpg", alt="Platinum CPA Review Course: Complete Print 2015")
							h3(class="subscription-title")
								a(class="subscription-title-link", href="#") Platinum CPA Review Course: Complete Print 2016
							div(class="subscription-description")
								ul
									li Complete Review Course
									li Virtual Classroom
									li Online Test Bank
									li Focus Notes
									li Flashcards
									li Course Offline Access (USB Drive)
									li Partner Until You Pass Guarantee - no expiration date until you pass your exam
							div(class="discount-code-message")
								p 10% discount - you saved $0.00 &#9786;.

						div(class="subscription-price-item item-action item-action-mobile")
							div(class="subscription-price-name")
							div(class="subscription-price-value")
								button(class="link remove-link", type="button") Remove
						div(class="subscription-price-item item-price")
							div(class="subscription-price-name") Price:
							div(class="subscription-price-value")
								span(class="discount-price") $2295.00
								= " "
								| $2065.50
						div(class="subscription-price-item item-qty")
							div(class="subscription-price-name") Qty:
							div(class="subscription-price-value") 1
						div(class="subscription-price-item item-total")
							div(class="subscription-price-name") Total:
							div(class="subscription-price-value") $2065.50
						div(class="subscription-price-item item-action")
							div(class="subscription-price-name")
							div(class="subscription-price-value")
								button(class="link remove-link", type="button") Remove

					div(class="subscription")
						div(class="subscription-info")
							div(class="subscription-image")
								a(class="subscription-image-link", href="#")
									img(src="https://app.efficientlearning.com/pv5/v8/page_assets/res/mycart/images/cpa_platinum_90x90.jpg", alt="Platinum CPA Review Course: Complete Print 2015")
							h3(class="subscription-title")
								a(class="subscription-title-link", href="#") Wiley CMAexcel Exam Review 2016, Flashcards: Complete Set
							div(class="subscription-description")
								ul
									li Wiley CMAexcel Exam Review 2016 Flashcards: Part 1, Financial Planning, Performance and Control
									li Wiley CMAexcel Exam Review 2016, Flashcards: Part 2, Financial Decision Making

						div(class="subscription-price-item item-action item-action-mobile")
							div(class="subscription-price-name")
							div(class="subscription-price-value")
								button(class="link remove-link", type="button") Remove
						div(class="subscription-price-item item-price")
							div(class="subscription-price-name") Price:
							div(class="subscription-price-value") $150.00
						div(class="subscription-price-item item-qty")
							div(class="subscription-price-name") Qty:
							div(class="subscription-price-value")
								div(class="quantity-field")
									button(class="btn btn-quantity-minus", type="button")
									input(class="form-control form-control-quantity", type="text", value="3")
									button(class="btn btn-quantity-plus", type="button")

						div(class="subscription-price-item item-total")
							div(class="subscription-price-name") Total:
							div(class="subscription-price-value") $450.00
						div(class="subscription-price-item item-action")
							div(class="subscription-price-name")
							div(class="subscription-price-value")
								button(class="link remove-link", type="button") Remove

			div(class="subscriptions-footer")
				div(class="discount-code")
					div(class="discount-code-title") Discount Code
					form(class="discount-code-form")
						div(class="input-group")
							input(class="discount-code-input form-control", type="text")
							span(class="input-group-btn")
								button(class="btn btn-primary", type="button") Apply

						div(class="discount-code-message")
							p Discount Code TRYNOW applied successfully. 10% off Platinum CPA Review Course: Complete Print 2016.

				div(class="subscriptions-subtotal")
					div(class="subscriptions-subtotal-items")
						div(class="subscriptions-subtotal-item item-subtotal")
							div(class="subscriptions-subtotal-name") Subtotal:
							div(class="subscriptions-subtotal-value") $2745.00
						div(class="subscriptions-subtotal-item item-discount-code")
							div(class="subscriptions-subtotal-name") Discount Code:
							div(class="subscriptions-subtotal-value")
								div(class="voucher-list__item")
									form(id="removeVoucherForm" action="" method="post")
										span(class="js-release-voucher voucher-list__item-box" id="voucher-code-EASYSHARE")
											| EASYSHARE
											input(id="voucherCode" name="voucherCode" hidden="hidden" value="EASYSHARE" type="text")
											span(class="glyphicon glyphicon-remove js-release-voucher-remove-btn voucher-list__item-remove")
										div
											input(type="hidden" name="CSRFToken" value="c77c1ef2-432b-4883-89e3-f2016935286c")
						div(class="subscriptions-subtotal-item item-discount")
							div(class="subscriptions-subtotal-name") Discount:
							div(class="subscriptions-subtotal-value") -$705.00
						div(class="subscriptions-subtotal-item item-tax")
							div(class="subscriptions-subtotal-name") Tax:
							div(class="subscriptions-subtotal-value") $0.00
						div(class="subscriptions-subtotal-item item-total")
							div(class="subscriptions-subtotal-name") Total:
							div(class="subscriptions-subtotal-value") $2040.00

					div(class="subscriptions-action-buttons")
						a(class="link", href="#") Keep Shopping
						button(class="btn btn-primary", type="button") Continue

					div(class="subscriptions-paypal-buttons")
						button(class="btn btn-paypal", type="button") Checkout with