mixin tabs(tabsData)
	div(class="tabs js-tabs tabs-responsive")

		- each tabName in tabsData

			case tabName
				when 'Product Features'
					div(class="tabhead")
						span(class="glyphicon")
						a(href="") #{tabName}
					div(class="tabbody")
						include product-features

				when 'FAQs'
					div(class="tabhead")
						span(class="glyphicon")
						a(href="") #{tabName}
					div(class="tabbody")
						| FAQs

				when 'Purchase Information'
					div(class="tabhead")
						span(class="glyphicon")
						a(href="") #{tabName}
					div(class="tabbody")
						| Purchase Information

				when 'System Requirements'
					div(class="tabhead")
						span(class="glyphicon")
						a(href="") #{tabName}
					div(class="tabbody")
						| System Requirements

				when 'Refund Policy'
					div(class="tabhead")
						span(class="glyphicon")
						a(href="") #{tabName}
					div(class="tabbody")
						| Refund Policy