div(class="row")
	div(class="col-md-12")
		div(class="una-middle-content")
			h3 Date of Entrance
			p
				| If you meet all requirements, complete all forms, and pay your registration fee you 
				| will be granted full access to your selected course and you may begin studying and 
				| completing the course requirements. However, note that the semester of official 
				| enrollment at the University of North Alabama is based on the schedule below. 
				| Depending on the date you meet all enrollment requirements, you may be able to begin 
				| the course before the semester of official enrollment begins. However, you will not 
				| be able to receive an official transcript from UNA until the end of the semester for 
				| which you are enrolled.
			p
				| If you receive access to the course materials before your semester of official 
				| enrollment begins, you are not officially registered at UNA until you receive 
				| notification from the UNA faculty.
			p
				| If you pay your course fee and enroll before March 31, 2016, you will be enrolled at 
				| UNA for the Spring 2016 semester. You will be able to receive a transcript with your 
				| official grade from UNA once the semester is completed.
			ul(class="clearfix")
				li
					p
						b Complete all forms before:
					p Now – March 31, 2016
				li
					p
						b To be enrolled in:
					p Spring 2016 Semester
				li
					p
						b Complete coursework by:
					p May 6, 2016
			p
				| Note that the University of North Alabama allows students two semesters to complete 
				| the requirements for a specific course, subject to the approval of the instructor. 
				| If you do not complete the course in the semester of your enrollment, you will 
				| receive a grade of “Incomplete” and will be able to complete the course in the 
				| following semester. If you do not complete the course by the end of the 2nd semester 
				| of enrollment, then you automatically receive a failing grade for the course.
			h3 Transcript Requests
			p
				| Your course fee includes one copy of your transcript.You may request this at any 
				| time by completing the 
				a(href="#") Transcript Request
				|  form and faxing it to 1.256.765.6014, or mail to:
			p
				| University of North Alabama
				br
				| UNA Box 5044
				br
				| Florence, AL 35632-0001
			p
				| Note that if you submit this form BEFORE the academic semester ends for your  
				| official enrollment, check the box indicating for UNA to not mail the transcript  
				| until grades for the current semester are finalized and posted to your transcript.