h1 University of North Alabama Professional Accounting Prep Program: Enrollment
div(class="row")
	div(class="col-sm-12 col-md-6")
		div(class="una-description-content")
			h2 Repeat Applicants
			p
				| If you were enrolled in the UNA Professional Accounting Prep Program for the 
				strong  previous semester 
				| you only need to complete the Course Selection Form and pay for the course(s)
				| for which you are enrolling.
			h2 Questions
			p
				| If you have any questions about enrolling, please call 256.765.4608. If you have
				| questions about the program itself, contact the Program Director, Dr. Mark Lawrence,
				| at 
				a(href="#") mlawrence@una.edu
				| .
			h2 Enrollment
			p Instructions for enrollment in a UNA PAPP course(s):
			h2 First Time Applicants
			ol
				li
					| Complete the 
					a(href="#") Undergraduate Application Form
					| , the 
					a(href="#") Transcript Substitution Form
					| , and the 
					a(href="#") Course Selection Form 
					| and email them to 
					a(href="#") mlawrence@una.edu
					| .
				li
					| Pay for the course(s) for which you are enrolling by submitting your order on 
					| this page.
			p
				| After completing the above steps, you will receive an email providing online access 
				| to the materials.
			p Note: All exams and study material are provided online.
			p
				| Repeat Applicants: If you were enrolled in the UNA Professional Accounting Prep 
				| Program for the 
				b previous semester 
				| you only need to complete the Course Selection Form 
				| and pay for the course(s) for which you are enrolling.

	div(class="col-sm-12 col-md-6")
		form
			div(class="uma-programm-details")
				div(class="uma-programm-table")
					div(class="title") Section
					div(class="table-row")
						div(class="table-row-left")
							h3 Financial Reporting I.
							p AC 361P. (3 CREDIT HOURS) $475
						div(class="table-row-right")
							div(class="checkbox-component")
								input(type="checkbox", id="courseName1")
								label(for="courseName1")
					div(class="table-row")
						div(class="table-row-left")
							h3 Financial Reporting II.
							p AC 362P. (3 CREDIT HOURS) $475
						div(class="table-row-right")
							div(class="checkbox-component")
								input(type="checkbox", id="courseName2")
								label(for="courseName2")
					div(class="table-row")
						div(class="table-row-left")
							h3 Financial Reporting III.
							p AC 365P. (3 CREDIT HOURS) $475
						div(class="table-row-right")
							div(class="checkbox-component")
								input(type="checkbox", id="courseName3")
								label(for="courseName3")
					div(class="table-row")
						div(class="table-row-left")
							h3 Management Accounting
							p AC 366P. (3 CREDIT HOURS) $475
						div(class="table-row-right")
							div(class="checkbox-component")
								input(type="checkbox", id="courseName4")
								label(for="courseName4")
					div(class="table-row")
						div(class="table-row-left")
							h3 Federal Income Taxation I.
							p AC 462P. (3 CREDIT HOURS) $475
						div(class="table-row-right")
							div(class="checkbox-component")
								input(type="checkbox", id="courseName5")
								label(for="courseName5")
					div(class="table-row")
						div(class="table-row-left")
							h3 Financial Statement Auditing
							p AC 463P. (3 CREDIT HOURS) $475
						div(class="table-row-right")
							div(class="checkbox-component")
								input(type="checkbox", id="courseName6")
								label(for="courseName6")
					div(class="table-row")
						div(class="table-row-left")
							h3 Federal Income Taxation II.
							p AC 465P. (3 CREDIT HOURS) $475
						div(class="table-row-right")
							div(class="checkbox-component")
								input(type="checkbox", id="courseName7")
								label(for="courseName7")
					div(class="table-row")
						div(class="table-row-left")
							h3 Fundamentals of Business Law
							p BL 460P. (3 CREDIT HOURS) $475
						div(class="table-row-right")
							div(class="checkbox-component")
								input(type="checkbox", id="courseName8")
								label(for="courseName8")
				button(type="submit", class="btn btn-primary") Continue