div(class="col-sm-3")
	div(class="una-left-side")
		img(class="una-left-image", src="responsive/theme-blue/images/logouniversity.png",
		alt="University of North Alabama")
		ul(class="una-left-menu")
			li
				a(href="#") Program Home
			li
				a(href="#") Course Descriptions & Syllabi
			li
				a(href="#") Enrollment
			li
				a(href="#") Help & FAQs
		div(class="una-left-content")
			p(class="una-left-quote")
				| “If you’re considering a career change, the UNA Professional Accounting
				| Prep Program can provide you with the academic coursework you will need as part of the
				| process to become a licensed CPA. Becoming a CPA will broaden your career opportunities
				| and accelerate your career success.”
			p
				| Professor Greg Carnes, Ph.D., CPA, Raburn Eminent Scholar of Accounting, University of
				| North Alabama
		img(class="una-left-image", src="responsive/theme-blue/images/professors_GregCarnes.png",
		alt="Professor Greg Carnes")