div(class="welcome-partners")
	h2(class="title") Welcome Partners!

	div(class="row")
		div(class="welcome-partners-image col-sm-5 col-xs-12")
			img(src="http://www.efficientlearning.com/wileycpaexcel/wp-content/uploads/sites/2/2015/02/CPA-Gold-Slide.png")
		div(class="welcome-partners-content col-sm-7 col-xs-12")
			div(class="partner-chooser")
				label(class="partner-chooser-label", for="partner-chooser") Choose firm
				div(class="partner-chooser-input")
					input(class="autocomplete ui-autocomplete-input", type="text", autocomplete="off", placeholder="Type Firm Name Here...", name="partner-chooser", id="partner-chooser")

			div(class="welcome-partners-description")
				p Wiley CPAexcel is your complete solution for CPA Exam success. This course was selected by a Big 4 Firm for its employees. Now you can pass the CPA Exam with it too. Your firm has partnered with Wiley CPAexcel to provide preferred pricing on our popular Gold Review Course.
				p(class="attention-text")
					span Attention:
					= " "
					| Partner code will be applied automatically at checkout through this page. Your firm has a preferred partner agreement with Wiley CPAexcel. You may submit your order through our shopping cart.
