extends layouts/grid-two-column
block vars
	- var showLogoutLink = true;
	- var showCurrencySelector = false;

block asideNavigation
	include partials/aside-menu

block main
	div(class="main-content")
		div(class="panel-heading")
			h3(class="panel-title text-center text-uppercase")
				span Edit profile
		div(class="panel-body")
			| Test test