extends layouts/grid-one-column
block vars
	- var showLogoutLink = true;
	- var showCurrencySelector = false;
	- var progressLineType = 'activate-pin';

block main
	include partials/progress-line

	include partials/feedback-title

	h1(class="page-title") Activate PIN

	div(class="site-form activate-pin-form")
		div(class="form-title") Please enter your PIN below
		form(action="", method="post")
			div(class="form-cell")
				div(class="form-label") PIN
				div(class="form-field")
					input(type="text", name="pin")
			div(class="form-buttons")
				button(class="button button-submit form-button", type="submit") Activate PIN
		div(class="form-description")
			p Already purchased a PIN? Activate it here to begin using the product.