extends layouts/grid-one-column
block vars
	- var showLogoutLink = true;
	- var showCurrencySelector = false;
	- var progressLineType = 'activate-pin';

block main
	div(class="confirmation-page")
		include partials/progress-line

		include partials/feedback-title

		include partials/confirmation-text

		div(class="form-buttons")
			button(class="button form-button", type="submit") Start Searching
