extends layouts/grid-one-column

block vars
	- var showLogoutLink = false;
	- var showCurrencySelector = false;
	- var progressLineType = 'account';

block main
	include partials/progress-line

	include partials/feedback-title

	div(class="billing-address")
		div(class="billing-address-form")
			include partials/form
		include partials/order-details