extends layouts/grid-two-column
block vars
	- var showLogoutLink = true;
	- var showCurrencySelector = false;

block asideNavigation
	include partials/aside-menu

block main
	div(class="main-content")
		div(class="panel-heading")
			h3(class="panel-title text-center text-uppercase")
				span Change Password
		div(class="panel-body")
			div(class="site-form change-password-form")
				div(class="form-title")
					| Change Password
				form(action="", method="post")
					div(class="block-form")
						div(class="form-cell")
							div(class="form-label")
								| Existing Password
							div(class="form-field")
								input(type="password", name="existing_password", autocomplete="off", required)
						div(class="form-cell")
							div(class="form-label")
								| New Password
							div(class="form-field")
								input(type="password", name="new_password", autocomplete="off", required)
						div(class="form-cell")
							div(class="form-label")
								| Confirm New Password
							div(class="form-field")
								input(type="password", name="confirm_new_password", autocomplete="off", required)
					div(class="form-buttons")
						div(class="text-right ")
							button(class="button form-button", type="submit")
								| Save