extends layouts/grid-one-column
block vars
	- var showLogoutLink = true;
	- var showCurrencySelector = false;
	- var progressLineType = 'account';

block main
	div(class="confirmation-page")
		include partials/progress-line

		include partials/feedback-title

		include partials/confirmation-text

		div(class="table-order")
			div(class="table-order-row")
				div(class="table-order-head") Order #123456 11/19/15 6:40pm
				div(class="table-order-head") Price
				div(class="table-order-head") Qty
				div(class="table-order-head") Total

			div(class="table-order-row subscription-row")
				div(class="table-order-cell")
					a(href="#") AGS One Year Subscription
				div(class="table-order-cell") $575.00
				div(class="table-order-cell") 1
				div(class="table-order-cell") $575.00

			div(class="table-order-row-mobile")
				div(class="table-order-row")
					div(class="table-order-cell") Price: $575.00
				div(class="table-order-row")
					div(class="table-order-cell") Qty: 1
				div(class="table-order-row")
					div(class="table-order-cell") Total: $575.00

			div(class="table-order-row-group")
				div(class="table-order-row")
					div(class="table-order-cell")
					div(class="table-order-cell")
					div(class="table-order-cell") Subtotal:
					div(class="table-order-cell") $575.00
				div(class="table-order-row")
					div(class="table-order-cell")
					div(class="table-order-cell")
					div(class="table-order-cell")
						span(class="table-order-cell-desktop") Valid Discount Code:
						span(class="table-order-cell-mobile") Discount Code:
					div(class="table-order-cell") DISCOUNT-CODE
				div(class="table-order-row")
					div(class="table-order-cell")
					div(class="table-order-cell")
					div(class="table-order-cell") Discount:
					div(class="table-order-cell") &#45;$0.0
				div(class="table-order-row")
					div(class="table-order-cell")
					div(class="table-order-cell")
					div(class="table-order-cell") Tax:
					div(class="table-order-cell") $40.25
				div(class="table-order-row total-row")
					div(class="table-order-cell")
					div(class="table-order-cell")
					div(class="table-order-cell") Total:
					div(class="table-order-cell") $615.25

		div(class="form-buttons")
			button(class="button form-button", type="submit") Start Searching