extends layouts/grid-two-column
block vars
	- var showLogoutLink = true;
	- var showCurrencySelector = false;

block asideNavigation
	include partials/aside-menu

block main
	div(class="main-content")
		div(class="panel-heading")
			h3(class="panel-title text-center text-uppercase")
				span Edit Payment
		div(class="panel-body")
			div(class="edit-payment")
				div(class="edit-payment-info")
					div(class=" edit-payment-form")
						include partials/edit-payment-form
					div(class="edit-payment-card")
						include partials/card-info
				div(class="form-buttons")
					button(class="button form-button", type="submit")
						| Save