extends layouts/grid-one-column
block vars
	- var showCurrencySelector = true;
	- var showLogoutLink = true;
	- var progressLineType = 'account';

block main
	div(class="subscriptions")
		div(class="subscriptions-title")
			h2(class="title") My Cart
				span(class="cart-id") cart id: 00003009
			div(class="subscriptions-action-buttons")
				button(class="button form-button", type="button") Continue

		div(class="subscriptions-container")
			div(class="subscriptions-header")
				div(class="subscriptions-header-item item-item") Item
				div(class="subscriptions-header-item item-price") Price
				div(class="subscriptions-header-item item-qty") Qty
				div(class="subscriptions-header-item item-total") Total
				div(class="subscriptions-header-item item-action")

			div(class="subscriptions-content")
				div(class="subscription")
					div(class="subscription-info")
						h3(class="subscription-title")
							a(class="subscription-title-link", href="#") EASYSHARE Z730 Zoom Digital Camera
						ul(class="subscription-description")
							li All the great features of the AGS Site for one year
							li Maybe you have another sing to say here
							li Another bullet point about the product
					div(class="subscription-price-item item-action item-action-mobile")
						div(class="subscription-price-name")
						div(class="subscription-price-value")
							button(class="link remove-link", type="button") Remove
					div(class="subscription-price-item item-price")
						div(class="subscription-price-name") Price:
						div(class="subscription-price-value")
							span(class="discount-price") $2295.00
							| $1470.00
					div(class="subscription-price-item item-qty")
						div(class="subscription-price-name") Qty:
						div(class="subscription-price-value") 1
					div(class="subscription-price-item item-total")
						div(class="subscription-price-name") Total:
						div(class="subscription-price-value") $1470.00
					div(class="subscription-price-item item-action")
						div(class="subscription-price-name")
						div(class="subscription-price-value")
							button(class="link remove-link", type="button") Remove

				div(class="subscription")
					div(class="subscription-info")
						h3(class="subscription-title")
							a(class="subscription-title-link", href="#") Photosmart E317 Digital Camera
						ul(class="subscription-description")
							li All the great features of the AGS Site for one year
							li Maybe you have another sing to say here
							li Another bullet point about the product
					div(class="subscription-price-item item-action item-action-mobile")
						div(class="subscription-price-name")
						div(class="subscription-price-value")
							button(class="link remove-link", type="button") Remove
					div(class="subscription-price-item item-price")
						div(class="subscription-price-name") Price:
						div(class="subscription-price-value")
							span(class="discount-price") $2295.00
							| $114.00
					div(class="subscription-price-item item-qty")
						div(class="subscription-price-name") Qty:
						div(class="subscription-price-value") 2
					div(class="subscription-price-item item-total")
						div(class="subscription-price-name") Total:
						div(class="subscription-price-value") $228.00
					div(class="subscription-price-item item-action")
						div(class="subscription-price-name")
						div(class="subscription-price-value")
							button(class="link remove-link", type="button") Remove

		div(class="subscriptions-footer")
			div(class="discount-code")
				div(class="discount-code-wrapper")
					div(class="discount-code-title")
						| Discount Code
						span(class="discount-code-toggle")

					form(class="discount-code-form")
						div(class="input-group")
							div(class="form-field")
								input(class="discount-code-input form-control", type="text")
							span(class="input-group-btn")
								button(class="button form-button", type="button") Apply

						div(class="discount-code-message")
							p
								| Discount code STRUCTURE successfully applied.
							p
								| 10% off entire order.

			div(class="subscriptions-subtotal")
				div(class="subscriptions-subtotal-items")
					div(class="subscriptions-subtotal-item item-subtotal")
						div(class="subscriptions-subtotal-name")
							| Subtotal:
						div(class="subscriptions-subtotal-value")
							| $1,098.00
					div(class="subscriptions-subtotal-item item-discount-code")
						div(class="subscriptions-subtotal-name discount-code-desktop")
							| Valid Discount Code:
						div(class="subscriptions-subtotal-name discount-code-mobile")
							| Discount Code:
						div(class="subscriptions-subtotal-value")
							div(class="voucher-list__item")
								form(id="removeVoucherForm" action="" method="post")
									span(class="js-release-voucher voucher-list__item-box" id="voucher-code-EASYSHARE")
										| EASYSHARE
										input(id="voucherCode" name="voucherCode" hidden="hidden" value="EASYSHARE" type="text")
										span(class="glyphicon glyphicon-remove js-release-voucher-remove-btn voucher-list__item-remove")
									div
										input(type="hidden" name="CSRFToken" value="c77c1ef2-432b-4883-89e3-f2016935286c")
					div(class="subscriptions-subtotal-item item-discount")
						div(class="subscriptions-subtotal-name")
							| Discount:
						div(class="subscriptions-subtotal-value")
							| &#45;$0.00
					div(class="subscriptions-subtotal-item item-taxes")
						div(class="subscriptions-subtotal-name")
							| Tax:
						div(class="subscriptions-subtotal-value")
							| $39.99
					div(class="subscriptions-subtotal-item item-total")
						div(class="subscriptions-subtotal-name")
							| Total:
						div(class="subscriptions-subtotal-value")
							| $1,098.00
				div(class="subscriptions-action-buttons")
					button(class="button form-button", type="button")
						| Continue
