extends layouts/grid-one-column
block vars
	- var showLogoutLink = true;
	- var showCurrencySelector = false;

block main
	div(class="simple-page")
		h2(class="page-title") Privacy Policy

		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras commodo, quam quis porttitor dictum, lectus nisi aliquet lorem, id vehicula massa nulla ac massa. Praesent orci massa, ullamcorper eu lectus lacinia, mattis blandit nibh. Vestibulum lobortis malesuada est, quis egestas diam auctor a. Integer diam neque, consectetur sit amet est ut, feugiat placerat ipsum. Sed venenatis tempor dapibus. Etiam mollis metus nec purus consectetur, eget ultrices leo fermentum. Duis sit amet enim a orci convallis posuere. Quisque consectetur placerat nisl. In hac habitasse platea dictumst. Proin consectetur quam sed neque gravida, id aliquam quam lobortis. Sed non magna ligula. Suspendisse non venenatis metus, ac dictum orci. Vestibulum dictum, arcu a varius mattis, lectus libero auctor dui, tempus mollis justo risus in est. Proin sem sapien, scelerisque quis orci eget, mollis mattis massa.
		p Integer vel lacus gravida, semper ipsum non, efficitur quam. Proin in mi quis quam lobortis condimentum. Proin vel pretium turpis. Nunc vel tempor ipsum. Aenean eget risus purus. Nulla luctus et tortor ut gravida. Nunc gravida aliquam elit id lobortis. Integer tincidunt volutpat ex, in placerat purus. Nunc convallis venenatis ligula ut finibus. Morbi pellentesque at magna vitae iaculis. Duis viverra semper pellentesque.
		p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sapien massa, eleifend quis nisi elementum, molestie dapibus augue. Nulla id massa at orci viverra vulputate nec in ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam a lacus mattis, mattis purus vitae, vehicula purus. Suspendisse convallis ac ex laoreet mattis. Suspendisse volutpat ligula maximus, convallis ante vitae, euismod nisi. Nam laoreet sit amet ligula quis bibendum. Cras tempus, mi ac consequat venenatis, justo ante tincidunt elit, sed consectetur elit purus eget urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent justo nisl, consequat vel dui ut, sagittis ultricies felis. Vestibulum sed lorem tincidunt, maximus urna vel, semper lacus. Curabitur aliquam magna viverra ipsum congue tristique. Nam euismod sapien non dictum venenatis. Praesent molestie nibh in arcu convallis lobortis. Mauris et convallis nisi.
