extends layouts/grid-two-column
block vars
	- var showLogoutLink = true;
	- var showCurrencySelector = false;

block asideNavigation
	include partials/aside-menu

block main
	div(class="main-content")
		div(class="panel-heading")
			h3(class="panel-title text-center text-uppercase")
				span Manage Subscriptions
		div(class="panel-body")
			div(class="site-form subscription-form")
				h2(class="title") Manage Subscriptions
				form(action="", method="post")
					div(class="table")
						div(class="table-head")
							div(class="table-head-cell") Subscription End Date
							div(class="table-head-cell") Name of Subscription
							div(class="table-head-cell") Price of Subscription Plan
						div(class="table-row")
							div(class="table-column")
								div(class="table-head-cell") Subscription End Date
								div(class="table-cell") 11/23/2016
							div(class="table-column")
								div(class="table-head-cell") Name of Subscription
								div(class="table-cell") AGS one year subscription
							div(class="table-column")
								div(class="table-head-cell") Price of Subscription Plan
								div(class="table-cell") $575.00
					div(class="form-buttons")
						div(class="checkbox-component pull-left")
							input(type="checkbox", id="auto_renew", name="auto_renew")
							label(for="auto_renew" class="right-side") Auto-renew?
