extends layouts/grid-two-column
block vars
	- var showLogoutLink = true;
	- var showCurrencySelector = false;

block asideNavigation
	include partials/aside-menu
block main
	div(class="main-content")
		div(class="panel-heading")
			h3(class="panel-title text-center text-uppercase")
				span Edit profile
		div(class="panel-body")
			div(class="site-form update-profile-form")
				div(class="form-title")
					| Edit Profile
				form(action="", method="post")
					div(class="block-form")
						div(class="form-cell")
							div(class="form-label")
								| First Name
							div(class="form-field")
								input(type="text", name="firstname", required)
						div(class="form-cell")
							div(class="form-label")
								| Last Name
							div(class="form-field")
								input(type="text", name="lastname", required)
						div(class="form-cell")
							div(class="form-label")
								| Email
							div(class="form-field")
								input(type="email", name="email", required)
					div(class="form-buttons")
						div(class="text-right")
							a(class="link", href="http://news.wiley.com/LP=812",)
								| Click here to update or change your email preferences
						div(class="text-right ")
							button(class="button form-button", type="submit")
								| Save