extends layouts/grid-wpg
block vars
	- var showLogoutLink = true;
	- var showCurrencySelector = false;
	- var progressLineType = 'account';

block main
	include partials/progress-line

	include partials/feedback-title

	div(class="table-layout")
		div(class="wpg-subscriptions subscriptions")
			div(class="subscriptions-title")
				a(href="#") Back

			div(class="subscriptions-container")
				div(class="subscriptions-header")
					div(class="subscriptions-header-item item-item") Item
					div(class="subscriptions-header-item item-price") Price
					div(class="subscriptions-header-item item-qty") Qty
					div(class="subscriptions-header-item item-total") Total

				div(class="subscriptions-content")
					div(class="subscription")
						div(class="subscription-info")
							h3(class="subscription-title")
								a(class="subscription-title-link", href="#") EASYSHARE Z730 Zoom Digital Camera
							div(class="subscription-description")
								p All the great features of the AGS Site for one year
								p Mayby you have another sing to say here
								p Another bullet point about the product
						div(class="subscription-price-item item-price")
							div(class="subscription-price-name") Price:
							div(class="subscription-price-value") $1470.00
						div(class="subscription-price-item item-qty")
							div(class="subscription-price-name") Qty:
							div(class="subscription-price-value") 1
						div(class="subscription-price-item item-total")
							div(class="subscription-price-name") Total:
							div(class="subscription-price-value") $1470.00

			div(class="subscriptions-footer")
				div(class="subscriptions-subtotal")
					div(class="subscriptions-subtotal-items")
						div(class="subscriptions-subtotal-item item-subtotal")
							div(class="subscriptions-subtotal-name")
								| Subtotal:
							div(class="subscriptions-subtotal-value")
								| $1,098.00
						div(class="subscriptions-subtotal-item item-discount")
							div(class="subscriptions-subtotal-name")
								| Discount:
							div(class="subscriptions-subtotal-value")
								| &#45;$0.00
						div(class="subscriptions-subtotal-item item-tax")
							div(class="subscriptions-subtotal-name")
								| Tax:
							div(class="subscriptions-subtotal-value")
								| $0.00
						div(class="subscriptions-subtotal-item item-total")
							div(class="subscriptions-subtotal-name")
								| Total:
							div(class="subscriptions-subtotal-value")
								| $1,098.00

		div(class="wpg-payment")
			include partials/wpg-payment-iframe