.section-author {
	.author-skill {
		margin-bottom: 18px;
		color: @color-black-6;
	}

}

.section-author-wr {
	display: flex;
	width: 100%;
}

.section-permissions {
	font-weight: 600;

	a {
		font-weight: 600;
	}

}

@media @mobile {
	.section-author-wr {
		&.page-section{
			display: block;
			padding: 16px 0 0 0;
			.section-permissions {
				h2 {
					margin-bottom: 16px;
				}
			}
			.section-author {
				margin-bottom: 0;
				h2 {
					margin-bottom: 16px;
				}
				#author-section-item {
					margin-bottom: 16px;
					margin-top: 0;
				}
				.author-skill {
					font-size: 8px;
				}

				& ~ .section-permissions {
					border-top: 1px solid #D8D9DA;
					padding-top: 16px;
				}

			}
		}

	}

}

@media @laptop {
	.section-author {
		margin-right: 38px;
		position: relative;

		.author-skill {
			font-size: 9px;
		}

	}

	.section-permissions {
		margin-right: 60px;
		min-width: 200px;
	}
}