ul.breadcrumbs {
	margin-bottom: 0;
	padding-bottom: 34px;
	font-size: 0;
	letter-spacing: 0.27px;

	li {
		display: inline;
		margin-left: 0;
		list-style: none;
		color: @color-dark-gray;
		font-size: 16px;
		line-height: 30px;
		font-weight: 600;

		&.active,
		&:last-child {
			color: @color-main-gray;
		}

		&:first-child a {
			padding-left: 0;
		}

		&:last-child {
			&:after {
				display: none;
			}

			a {
				padding-right: 0;
			}
		}

		&:after {
			content: "/";
			margin: 0 0.3em;
			font-size: inherit;
			font-weight: @font-weight-normal;
		}

		a {
			color: inherit;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

@media @mobile {
	ul.breadcrumbs {
		padding: 14px 0 20px;
		li {
			font-size: 14px;
			line-height: 17px;
		}
	}
}

@media @laptop {
	// .breadcrumbs {
	// 	padding: 4em 0;
	// }
}