.button {
	display: inline-block;
	margin-bottom: 0; // For input.button
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid transparent;
	.user-select(none);

	&,
	&:active,
	&.active {
		&:focus {
			.tab-focus();
		}
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:active,
	&.active {
		.box-shadow(none);
	}

	&.disabled,
	&[disabled] {
		cursor: not-allowed;
		pointer-events: none; // Future-proof disabling of clicks
		.opacity(100);
		.box-shadow(none);
		background-color: @color-light-gray;
		color: @color-mid-gray;
	}
}

/* buttons according style guide */
.button {
	margin: 0;
	font-family: @font-family-main;
	font-weight: @font-weight-bold;

	&.icon-paypal {
		padding: 0;
		background-color: @color-white;

		&:hover,
		&:focus {
			background-color: @color-white;
		}

		&:after {
			display: inline-block;
			content: '';
			width: 118px;
			height: 30px;
			margin-left: 5px;
			background-image: url('../images/paypal.png');
			background-repeat: no-repeat;
			vertical-align: middle;
		}
	}

	&.disabled-paypal {
		font-size: 14px;
	}

	&.arrow {
		&:after {
			content: '';
			position: relative;
			display: inline-block;
			top: -1px;
			margin-left: 5px;
			border: 4px solid transparent;
			border-left-color: initial;
		}
	}
}

a.button {
	&.large {
		line-height: 50px;
	}

	&.medium {
		line-height: 38px;
	}

	&.small {
		line-height: 28px;
	}
}

.button-main {
	color: @color-white;
	background-color: @color-teal;

	&:hover,
	&:focus {
		background-color: @color-teal-light;
		color: @color-white;
	}
}

.button-secondary {
	color: @color-white;
	background-color: @color-lnk;

	&:hover,
	&:focus {
		background-color: @color-mid-gray;
		color: @color-white;
	}
}

.button-outlined {
	color: @color-dark-teal;
	border-color: @color-dark-teal;
	background-color: transparent;

	&:hover,
	&:focus {
		color: @color-lnk;
		border-color: @color-lnk;
		background-color: transparent;
	}
}

.button-remove {
	width: 30px;
	height: 30px;
	padding: 0;
	border: 1px solid #e7e4df;
	border-radius: 5px;
	background: #ffffff url('../images/trash.png') 50% 50% no-repeat;
}

.button-edit {
	width: 30px;
	height: 30px;
	padding: 0;
	border: 1px solid #e7e4df;
	border-radius: 5px;
	background: #ffffff url('../images/edit2.png') 50% 50% no-repeat;
}

.button-gray {
	background-color: fade(@color-light-gray, 40%);
	text-transform: uppercase;
	font-weight: @font-weight-semibold;
	color: fade(@color-light-gray, 70%);
}

.small-button {
	background-color: @color-teal;
	text-transform: uppercase;
	font-weight: @font-weight-semibold;
	color: @color-white;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	display: inline-block;
	padding: 0 20px;
	cursor: pointer;
	border: none;

	&:hover,
	&:focus {
		text-decoration: none;
		color: @color-white;
		background-color: @color-teal-light;
	}
}

.button-dark-gray {
	background: @color-gray;
	color: @color-white;
}

.button-teal {
	background-color: @color-teal;
	color: @color-white;
}

.button-wrapper {
	bottom: 0;
	padding: 17px 16px;
	width: 100%;
	position: absolute;
	background: white;

	&.isMobileSafari {
		bottom: 60px;
	}
}

.learn-more-button {
	height: auto;
	width: 130.75px;
	padding: 4px 5px 5px 5px;
	text-align: center;
	line-height: normal;
	background-color: @color-super-light-gray;
	border: 1px solid @color-teal;
	color: @color-teal;

	&:hover {
		color: @color-teal;
	}
}

.link-view-more {
	display: block;
	font-size: 14px;

	.link-corner {
		font-weight: bold;
	}
}

.link-view-more.big {
	display: block;
	font-size: 16px;
	border-width: 2px;
	border-color: white;
	border-style: solid;
	cursor: pointer;
	font-weight: @font-weight-semibold;
	color: inherit;
	line-height: 45px;
	text-align: center;
	height: 45px;
	width: 243px;
	vertical-align: middle;

	.glyphicon-arrow-right {
		margin-left: 5px;
		margin-top: 1px;

	}

	a {
		color: inherit;

		&:hover {
			text-decoration: none;
		}
	}

}

.link-corner {
	&:after {
		content: '';
		display: inline-block;
		margin-left: 10px;
		border: 4px solid transparent;
		border-left-color: inherit;
	}
}

// Buttons sample

.link-arrow {
	font-weight: 600;
	cursor:pointer;
	font-size: 16px;
	display: inline-block;

	&:after {
		content: '';
		display: inline-block;
		margin-left: 10px;
		border: 4px solid transparent;
		border-left-color: inherit;
	}
}

.link-bullet {
	cursor:pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;

	&:before {
		content: '\2022';
		display: inline-block;
		margin-right: 10px;
	}

	&:hover{
		text-decoration: none;
	}
}

.link-button {
	background: @color-white;
	border: 2px solid @color-white;
	cursor:pointer;
	display: inline-block;
	box-sizing: content-box;
	font-weight: 700;
	padding: 14px 38px;
	text-transform: uppercase;
	font-size: 16px;
	color: white;

	&:hover{
		text-decoration: none;
		color:inherit;
	}

	&.transparent{
		background: transparent;
		padding: 12px 34px;
		&:hover,
		&:focus {
			color: @color-teal-light!important;
			border-color: @color-teal-light;
			text-decoration: none;
		}
	}

	&.arrow {
		&:after {
			content: "\2192";
			font-weight: bold;
			font-size: 20px;
			line-height: 20px;
			display: inline-block;
			margin-left: 10px;
		}
	}
}

.more-text-btn {
	&.shift {
		padding-left: 10px;
		clear: both;
	}
	span {
		color: @color-teal;
		font-size: 14px;
		line-height: 19px;
		position: relative;
		cursor: pointer;
		margin-top: 5px;
		display: inline-block;
		&:hover {
			text-decoration: underline;
		}
		&:after {
			content: '';
			margin-left: 5px;
			width: 0;
			height: 0;
			border-style: solid;
			border-color: inherit;
			border-width: 0 1px 1px 0;
			display: inline-block;
			position: relative;
			padding: 4px;
			transform: rotate(-45deg);
		}
	}
}

/* will be removed or edit after upgrading full styling */
.button-link {
	width: auto;
	height: auto;
	padding: 0;
	margin-bottom: 0;
	background: none;
	font-size: 12px;
	color: @color-dark-teal;
}

/* will be removed or edit after upgrading full styling */

/* ADD TO CART BUTTON */
.product-add-to-cart {
	.add-to-cart {
		.button + .button {
			margin-top: 20px;
		}
	}

	.add-to-cart-button {
		.button;
		.button-main;
	}
}

.discount-price-info {
	.add-to-cart-button {
		.button;
		.button-main;
		width: 100%;
		margin-bottom: 6px;
		height: 50px;
		font-size: 16px;
		padding: 0 35px;
		margin-top: 15px;
	}
}
/* END */

@media @mobile {
	.button {
		width: 100%;
		padding: 0 15px;
		font-size: 16px;
		line-height: 38px;
	}

	.button-remove {
		width: 22px;
		height: 22px;
		background-size: 8px;
	}

	.button-edit {
		height: 30px;
		width: 30px;
		background-size: auto auto;
	}

	/* ADD TO CART BUTTON */
	.product-add-to-cart {
		.add-to-cart-button {
			.button;
			.button-main;
			height: auto;
		}
	}
	.product-table {
		.add-to-cart-button {
			width: 100%;
			text-align: center;
			height: 40px;
			line-height: 40px;
		}
	}

	.link-button {
		font-size: 14px;
		padding: 9px 40px;
		&.transparent {
			padding: 7px 34px;
		}
	}
	/* END */
}

/* end buttons according style guide */

@media @tablet {
	.button {
		padding: 0 10px;

		&.large,
		&.medium {
			min-width: 140px;
			font-size: 14px;
		}
	}
}

@media @laptop {
	.button {
		&.large {
			min-height: 43px;
			font-size: 18px;
		}

		&.medium {
			min-height: 38px;
			padding: 0 35px;
			font-size: 16px;
		}

		&.small {
			min-height: 28px;
			padding: 0 15px;
			font-size: 14px;
		}
	}

	/* ADD TO CART BUTTON */
	.product-add-to-cart {
		.add-to-cart-button {
			min-height: 43px;
			font-size: 18px;
		}
	}
	/* END */
}