.featured-products {
	padding: 0;

	header {
		padding: 40px 0 24px 0;
		border-bottom: 1px solid @color-mid-gray;
		margin-bottom: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h4 {
			text-transform: uppercase;
			font-weight: @font-weight-bold;
			margin: 0;
		}

		.link-corner {
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	.featured-products-gallery {
		display: flex;
		flex-wrap: wrap;

		.owl-pagination {
			.owl-page {
				span {
					width: 9px;
					height: 9px;
					border-radius: 50%;
					background: fade(@color-teal, 20%);
				}

				&.active {
					span {
						background: @color-teal;
					}
				}
			}
		}
	}

	.product-item {
		margin-bottom: 34px;
		overflow: hidden;
		width: 50%;
		border-bottom: none;

		.product-title {
			font-size: 22px;
			line-height: 35px;
			font-weight: normal;
		}

		.product-description {
			font-size: 1.4em;
		}
	}
}

.container-with-panel {
	.side-panel {
		width: 150px;
		float: left;
		padding: 40px 0;

		ul {
			margin-bottom: 25px;
			list-style: none;

			li {
				font-size: 1.2em;
				line-height: 21px;
				color: @color-dark-gray-2;
				margin-left: 0;

				a {
					color: @color-dark-gray-2;
				}
			}
		}

		header {
			font-family: @font-family-secondary-pro;
			color: @color-black;
			margin-bottom: 32px;
		}
	}

	.content-panel {
		padding: 0 10px;
		overflow: hidden;
	}
}

.products-preview-block {
	position: relative;

	&:after {
		content: " ";
		display: table;
		clear: both;
	}

	header {
		width: 100%;
		clear: both;
		float: none;

		h3{
			margin-bottom: 40px;
		}
	}

	.product-item{
		margin-bottom: 15px;
		border-bottom: none;
	}

	& > * {
		width: 50%;
		float: left;
		margin-bottom: 30px;
		padding-right: 20px;
		overflow: hidden;

		&:last-child{
			margin-bottom: 50px;
		}

		.product-title {
			font-size: 22px;
			font-weight: normal;
		}

		.product-description {
			font-size: 1.4em;
		}
	}
}

.author-spotlight-section {
	&>*{
		&:last-child{
			margin-bottom: 30px;
		}
	}

	.section-author {
		margin-bottom: 40px;

		&:after {
			display: none;
		}
	}
}

.related-series {
	background: @color-super-light-gray;
	padding: 45px 0;

	h6 {
		font-size: 2.6em;
		margin-bottom: 60px;
		font-weight: @font-weight-semibold;
	}

	.container {
		overflow: hidden;
	}

	.links {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		width: 104%;

		& > * {
			width: 25%;
			font-size: 1.6em;
			font-weight: @font-weight-semibold;
			margin-bottom: 56px;
			line-height: 26px;
			padding-right: 20px;
			box-sizing: border-box;

		}
	}
}

.blue-info-box {
	background: #F0FCFF;
	border: 1px solid #1AA6B1;
	padding: 30px;
	margin-bottom: 30px;

	h4 {
		font-weight: @font-weight-semibold;
		margin-bottom: 10px;
	}

	p {
		font-size: 1.6em;
		margin-bottom: 20px;
	}

	a {
		display: inline-block;
		font-size: 1.4em;
		font-weight: bold;

		&:after {
			content: '';
			display: inline-block;
			margin-left: 10px;
			border: 4px solid transparent;
			border-left-color: inherit;
		}
	}
}

.no-wrap-link {
	white-space: nowrap!important;
}

.cke-content {
	ul,
	ol {
		margin: 0 0 20px;
		padding: 0;

		li {
			margin-bottom: 10px;
			padding-left: 15px;
		}
	}
}

.preview-articles {
	.wiley-product-list-component-header{
		border-bottom: none;
	}
	.content {
		&:last-child {
			margin-bottom: 40px;
		}
	}
	.preview-article {
		margin-bottom: 40px;

		.preview-title {
			margin-bottom: 25px;

			h5 {
				font-size: 2.4em;
				font-weight: normal;
				color: #A1A6B1;
				margin-top: -7px;
				font-family: @font-family-secondary-pro;
			}

			.author {
				color: @color-mid-gray;
				font-size: 14px;
				display: inline-block;
				margin-left: 5px;
				font-family: @font-family-main;
			}
		}

		p {
			font-size: 1.6em;
			line-height: 28px;
			color: @color-black;
			margin-bottom: 15px;
		}

		.preview-image-wrapper {
			position: relative;
			margin-bottom: 30px;
		}
	}
	.product-item {
		border-bottom: none;
	}
}

.editor-choice-badge {
	display: block;
	top: 0;
	font-weight: @font-weight-bold;
	color: #FF6C00;
	font-size: 1.4em;
	font-family: inherit;
	line-height: inherit;
	vertical-align: middle;

	&:before {
		position: relative;
		top: 1px;
		font-family: 'Glyphicons Halflings';
		margin-right: 10px;
	}
}

.publish-date-badge {
	color: @color-white;
	min-width: 120px;
	text-align: center;
	text-transform: uppercase;
	height: 25px;
	line-height: 25px;
	font-size: 1.2em;
	background-color: #1AA6B1;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.section-description {
	margin-bottom: 50px;
	h2 {
		font-size: 1.6em;
		font-weight: 700;
	}
	p{
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.page-section, .section-video {
	&*>{
		&:last-child{
			margin-bottom: 50px;
		}
	}
}

.category-product-list-page {
	article {
		header {
			h1 {
				font-family: @font-family-secondary-pro;
				font-weight: @font-weight-normal;
				font-size: 4em;
			}
		}
	}

	.product-list-wrapper {
		padding-top: 50px;
		border-top: 1px solid @color-gray;
	}

}

.dropdown-component {
	position: relative;
	&.open{
		.dropdown-toggle {
			border-color:#009aa8;
			&:before{
				top: 7px;
				border-top-color: transparent;
				border-bottom-color: #000000;
			}
		}
	}

	.dropdown-toggle {
		border: 1px solid #C2C3C6;
		font-size: 1.4em;
		color: #1b1c1d;
		line-height: 30px;
		height: 30px;
		margin: 0 0 35px 0;
		padding: 0 10px;
		width: 100%;
		background: white;
		text-align: left;

		&:before {
			position: absolute;
			content: "";
			right: 9px;
			top: 13px;
			display: block;
			width: 10px;
			height: 5px;
			z-index: 10;
			border: 5px solid transparent;
			border-top-color: #000000;
			//transition: all 0.3s;
		}
	}

	.dropdown-menu {
		top: 28px;
		width: 100%;

		a {
			display: block;
			padding: 3px 10px;
			color: @color-dark-gray-2;
		}
	}
}

@media @laptop {

	.category-product-list-page {
		.product-list-wrapper .product-item {
			padding: 0;
			padding-left: 20px;
		}

		.product-item {
			.product-badge {
				position: relative;
				right: 0;
				display: inline-block;
				top: 0;
				margin-left: 20px;
			}
		}

		.section-description {
			margin-bottom: 80px;
		}
	}

	.container-with-panel {
		.content-panel {
			border-left: 1px solid @color-gray;
		}
	}
}

@media @mobile {
	.products-preview-block > * {
		width: 100%;
		float: none;
		overflow: visible;

		.product-content {
			.product-title {
				top: 0;
			}
		}
	}

	.related-series {
		padding: 60px 0 40px 0;
		margin: 0;

		h6 {
			font-size: 2em;
			margin-bottom: 40px;
		}

		.links {
			flex-direction: column;

			a {
				width: 100%;
				position: relative;
				font-size: 1.5em;
				padding: 0 0 0 15px;
				margin: 0 0 20px 0;

				&:before {
					content: "\2013";
					color: @color-teal;
					display: inline-block;
					vertical-align: middle;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}

	.page-section, .section-video, .section-description {
		&*>{
			&:last-child{
				margin-bottom: 30px;
			}
		}
	}

	article, section {
		&*>{
			&:last-child{
				margin-bottom: 25px;
			}
		}
	}

	.side-panel {
		display: none;
	}

	.products-preview-block {
		& > * {
			&:last-child{
				margin-bottom: 40px;
			}

			.product-title {
				top: 0;
				line-height: 36px;
			}
		}
	}

	.preview-articles {
		.preview-title {
			h5 {
				font-size: 2.2em;
			}

			.author {
				display: block;
			}
		}

		&:last-child {
			margin-bottom: 80px;
		}
	}

	.category-product-list-page {
		article {
			header {
				h1 {
					margin-bottom: 30px;
					font-size: 3.4em;
				}
			}
		}

		h1 {
			margin-bottom: 30px;
			font-size: 3.4em;
		}

		h2 {
			margin-bottom: 25px;
		}

		h5 {
			font-size: 2em;
			margin-bottom: 40px;
		}

		p {
			margin-bottom: 30px;
			font-size: 1.4em;
		}

		.section-description {
			margin-bottom: 5px;
		}

		.products-list {
			margin: 0;

			.product-item {
				margin-top: 50px;
				margin-bottom: 0;
			}
		}

		.product-list-wrapper {
			padding-top: 15px;
		}
	}

	.featured-products {
		.product-item {
			width: 100%;
		}
	}

	.container-with-panel {
		.facets-dropdown-component {
			margin-top: 40px;
		}
	} 
}