.checkout-shipping-method {
	.checkout-shipment-item:not(:last-child) {
		margin: 0 0 20px 0;
	}

	.checkout-shipment-title,
	.checkout-shipment-qty {
		margin: 0 0 2px 0;
	}
	
	.checkout-content-address {
		margin-bottom: 20px;
		font-family: @font-family-main;
	}

	.checkout-delivery-addition {
		color: @color-dark-teal;
	}

	.checkout-delivery-option-dates {
		.checkout-content-subtitle {
			margin-bottom: 20px;
		}

		.checkout-delivery-item {
			margin-bottom: 20px;
		}
	}
}

@media @mobile {
	.checkout-shipping-method {
		.checkout-shipment-list {
			.separate-border-bottom-custom-color(30px, 30px, #dcd7d0)
		}

		.checkout-delivery-option-dates {
			.separate-border-bottom-custom-color(30px, 30px, #dcd7d0)
		}

		.checkout-shipment-shipping-date {
			.separate-border-bottom-custom-color(10px, 30px, #dcd7d0)
		}

		.checkout-delivery-list {
			margin-bottom: 30px;
		}

		.checkout-shipment-title {
			line-height: 14px;
		}

		.checkout-delivery-option-dates {
			.checkout-delivery-item {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media @laptop {
	.checkout-shipping-method {
		.checkout-shipment-list {
			.separate-border-bottom-custom-color(40px, 20px, #dcd7d0)
		}

		.checkout-delivery-option-dates {
			.separate-border-bottom-custom-color(20px, 40px, #dcd7d0)
		}
		
		.checkout-shipment-shipping-date {
			.separate-border-bottom-custom-color(20px, 20px, #dcd7d0)
		}

		.checkout-delivery-addition {
			padding-top: 35px;
		}
	}
	.checkout-shipping-method.b2b-checkout {
		.site-form .date-picker {
			padding-right: 35px;
		}
	}

	.checkout-shipping-method.b2b-checkout {
		.checkout-shipment-list {
			.separate-border-bottom-custom-color(40px, 40px, #dcd7d0)
		}
	}
}