.order-review-page {
	.checkout-accordion-item.current {
		.checkout-accordion-header {
			background-color: @color-dark-teal;
		}
	}
}

@media @mobile {
	.order-review-page {
		.checkout-accordion-content {
			padding: 0;
		}

		.order-brief-section {
			display: block;
		}

		.product-list {
			margin: 0 0 20px 0;
		}
	}
}