.checkout-payment-gateway {
	.sub-title-block {
		h2 {
			font-size: 26px;
		}
	}

	.payment-credit-cards {
		text-align: left;
		margin: 0 auto 25px;

		.credit-card {
			display: inline-block;
			background: url("../images/credit-cards.png") no-repeat;
			background-size: auto 25px;
			height: 25px;
			width: 157px;
		}
	}

	.site-form {
		.form-cell {
			margin-bottom: 25px;
		}
	}
}

@media @laptop {
	.checkout-payment-gateway {
		margin-bottom: 30px;

		.page-title {
			display: none;
		}

		.sub-title-block {
			h2 {
				margin-bottom: 40px;
			}
		}

		.payment-credit-cards {
			width: 320px;
		}

		.checkout-payment-gateway-wrap {
			width: 530px;
			background-color: @color-super-light-gray;
			padding: 35px 105px 10px 105px;
		}
	}
}

@media @mobile {
	.checkout-payment-gateway {
		margin-bottom: 20px;

		.page-title {
			display: block;
		}

		.sub-title-block {
			display: none;
		}

		.payment-credit-cards {
			width: 157px;
			margin: 0 auto 20px;
		}

		.checkout-payment-gateway-wrap div:first-child .form-cell {
			margin-bottom: 15px;
		}
	}
}