.product-list-wrapper {
	&.collection-list {
		.products-title {
			color: @color-mid-gray;
			font-weight: @font-weight-bold;
			text-transform: uppercase;
		}
	}
}

.product-listing-page {
	margin-bottom: 70px;
	
	.page-header {
		border-bottom: none;

		header {
			margin-bottom: 0;
		}

		h1 {
			margin-bottom: 15px;
		}

		h2 {
			font-family: @font-family-main;
			margin: 0 0 1em 0;
			font-size: 24px;
			font-weight: 600;
			line-height: 34px;
		}
	}
	.empty-result {
		padding: 0;
		margin: -25px 0 0 -10px;

		h5 {
			text-align: left;
			font-family: @font-family-main;
			font-size: 23px;
			font-weight: 400;
			letter-spacing: 0.27px;
			line-height: 1.5;
			b {
				font-weight: 400;
			}
		}
	}
}

@media @laptop {
	.product-list-wrapper {
		&.collection-list {
			padding: 50px 0 0;
			border-bottom: 1px solid @color-light-gray;
			.products-title {
				margin-bottom: 55px;
				font-size: 2.2em;
			}

			.product-item {
				padding: 0;
				margin-bottom: 60px;
			}
		}
	}
	.search-results-top-bar {
		margin-bottom: 35px;
	}
}

@media @mobile {
	.product-list-wrapper {
		&.collection-list {
			width: auto;
			margin: 0 -10px;
			.products-title {
				padding: 30px 10px 0;
				margin-bottom: 30px;
				font-size: 1.6em;
			}
		}
	}
}