.wiley-product-list-component {
	margin-top: 30px;
	.product-item {
		margin-bottom: 34px;
		overflow: hidden;
		.product-title {
			overflow: hidden;
			font-size: 20px;
			line-height: 30px;
			font-weight: 600;
		}
		.product-description {
			font-size: 14px;
		}
		.product-author {
			font-size: 12px;
		}
	}

	&.plcGridCarousel,
	&.plcGrid {
		.product-content {
			width: auto;
		}
		.product-table-flexible {

			.product-table-head {
				display: none;
			}

			.product-table-body {
				border-top: 1px solid @color-gray;

				.product-table-row {
					&:after {
						width: calc(~"100% - 18px");
						left: 9px;
						right: auto;
					}

					.pr-not-available {
						font-size: 1.7em;
						line-height: 28px;
					}

					.table-row-content {
						padding: 25px 9px 20px;
						display: block;
						flex-wrap: nowrap;
						overflow: hidden;
						text-align: right;

						&>div {
							display: block;
							width: 50%;
							padding: 0;

							&.product-type {
								clear: left;
								text-align: left;
								float: left;
								padding: 0;
								margin-top: -5px;
								margin-bottom: 20px;
								font-size: 1.8em;
								margin-right: auto;
							}

							&.product-price {
								display: inline-block;
								padding: 3px 0 0 0;
								margin: 0 0 18px 10px;
								text-align: right;
								font-size: 2.6em;
								line-height: 20px;

								&.gray {
									text-align: right;
									padding-top: 0;
									margin-left: 0;
									font-size: 16px;
									text-decoration: line-through;
									margin-bottom: 5px;
								}
							}

							&.product-date {
								clear: left;
								float: left;
								text-align: left;
								position: relative;
								font-size: 1.2em;
								margin-bottom: 5px;
								font-style: italic;
								margin-right: auto;
								color: fade(@color-mid-gray, 80%);
							}

							&.product-button {
								text-align: right;
								padding: 0;
								margin-left: auto;
							}

							&.product-quantity {
								max-width: none;
								float: left;
								position: relative;
								margin-right: auto;
								margin-top: -2px;
								clear: left;
								text-align: left;

								.product-quantity-title {
									display: inline-block;
								}
							}
						}
					}
				}
			}

		}
	}
}

.wiley-product-list-component-header {
	padding: 40px 0 24px 0;
	width: 100%;
	border-bottom: 1px solid @color-mid-gray;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1 {
		margin: 0;
	}
	.link-corner {
		font-weight: bold;
		text-transform: uppercase;
	}
}

@media @laptop {
	.wiley-product-list-component {
		&.plcGridCarousel,
		&.plcGrid {
			display: flex;
			flex-wrap: wrap;
			.product-item {
				width: 50%;
				display: block;
				&:nth-child(odd) {
					padding-right: 10px;
				}
				&:nth-child(even) {
					padding-left: 10px;
				}
				.product-image {
					width: 140px;
					float: left;
					margin-bottom: 20px;
				}
				.product-content {
					width: auto;
				}
			}
		}
	}
}

@media @mobile {
	.wiley-product-list-component-header {
		width: auto;
		margin-left: -10px;
		margin-right: -10px;
		.link-corner {
			white-space: nowrap;
		}
	}
	.wiley-product-list-component {
		margin-left: -10px;
		margin-right: -10px;
		.product-item {
			.product-title {
				font-size: 18px;
			}
		}
		&.plcGridCarousel {
			.product-content {
				padding-right: 5px;
				word-break: break-word;
			}
			.owl-pagination {
				.owl-page {
					span {
						width: 9px;
						height: 9px;
						border-radius: 50%;
						background: fade(@color-teal, 20%);
					}
					&.active {
						span {
							background: @color-teal;
						}
					}
				}
			}
		}
	}
}