.cookie-consent-component-container {
	.cc-revoke {
		display: none;
	}
}

.cookie-popup-container {
	font-family: @font-family-main;
	line-height: 1.4;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 999;
	left: 0;
	right: 0;
	background: @color-super-light-gray;
	padding-top: 18px;
	padding-bottom: 11px;
	font-size: 1.4em;
	.container{
		display: flex;
		width:100%;
		justify-content: space-between;
	}
	p {
		font-size: 14px;
		line-height: 16px;
		margin-right: auto;
	}
	.small-button {
		min-width: 140px;
		text-align: center;
		margin-top: -4px;
		cursor: pointer;
	}
	.link-corner {
		color: @color-teal;
		margin-left: 14px;
		font-weight: 700;
		white-space: nowrap;
		capacity: initial;
		padding: initial;
		text-decoration-line: none;
		text-decoration-style: initial;
		text-decoration-color: initial;
	}
}

@media @mobile {
	.cookie-popup-container {
		font-size: 12px;
		line-height: 22px;
		padding-top: 15px;
		padding-bottom: 20px;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
		p {
			font-size: 12px;
			margin-right: 0;
			line-height: inherit;
			margin-bottom: 18px;
		}
		.small-button {
			font-size: 14px;
			width: 100%;
			height: 40px;
			line-height: 40px;
		}
		.container{
			width: 100%;
			display: block;
			padding-left: 0;
			padding-right: 0;
		}
	}
}