.stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
  background-position: @x @y;
  width: @width;
  height: @height;
}

.sprite {
  background-image: url("../../common/images/countries-icons-sprite.png");
  background-repeat: no-repeat;
  &.sprite-AD {
    .stitches-sprite(-5px, -5px );
  }

  &.sprite-AE {
    .stitches-sprite(-55px, -5px );
  }

  &.sprite-AF {
    .stitches-sprite(-105px, -5px );
  }

  &.sprite-AG {
    .stitches-sprite(-155px, -5px );
  }

  &.sprite-AI {
    .stitches-sprite(-205px, -5px );
  }

  &.sprite-AL {
    .stitches-sprite(-255px, -5px );
  }

  &.sprite-AM {
    .stitches-sprite(-305px, -5px );
  }

  &.sprite-AO {
    .stitches-sprite(-355px, -5px );
  }

  &.sprite-AQ {
    .stitches-sprite(-405px, -5px );
  }

  &.sprite-AR {
    .stitches-sprite(-455px, -5px );
  }

  &.sprite-AS {
    .stitches-sprite(-505px, -5px );
  }

  &.sprite-AT {
    .stitches-sprite(-555px, -5px );
  }

  &.sprite-AU {
    .stitches-sprite(-605px, -5px );
  }

  &.sprite-AW {
    .stitches-sprite(-5px, -41px );
  }

  &.sprite-AX {
    .stitches-sprite(-55px, -41px );
  }

  &.sprite-AZ {
    .stitches-sprite(-105px, -41px );
  }

  &.sprite-BA {
    .stitches-sprite(-155px, -41px );
  }

  &.sprite-BB {
    .stitches-sprite(-205px, -41px );
  }

  &.sprite-BD {
    .stitches-sprite(-255px, -41px );
  }

  &.sprite-BE {
    .stitches-sprite(-305px, -41px );
  }

  &.sprite-BF {
    .stitches-sprite(-355px, -41px );
  }

  &.sprite-BG {
    .stitches-sprite(-405px, -41px );
  }

  &.sprite-BH {
    .stitches-sprite(-455px, -41px );
  }

  &.sprite-BI {
    .stitches-sprite(-505px, -41px );
  }

  &.sprite-BJ {
    .stitches-sprite(-555px, -41px );
  }

  &.sprite-BL {
    .stitches-sprite(-605px, -41px );
  }

  &.sprite-BM {
    .stitches-sprite(-5px, -77px );
  }

  &.sprite-BN {
    .stitches-sprite(-55px, -77px );
  }

  &.sprite-BO {
    .stitches-sprite(-105px, -77px );
  }

  &.sprite-BQ {
    .stitches-sprite(-155px, -77px );
  }

  &.sprite-BR {
    .stitches-sprite(-205px, -77px );
  }

  &.sprite-BS {
    .stitches-sprite(-255px, -77px );
  }

  &.sprite-BT {
    .stitches-sprite(-305px, -77px );
  }

  &.sprite-BV {
    .stitches-sprite(-355px, -77px );
  }

  &.sprite-BW {
    .stitches-sprite(-405px, -77px );
  }

  &.sprite-BY {
    .stitches-sprite(-455px, -77px );
  }

  &.sprite-BZ {
    .stitches-sprite(-505px, -77px );
  }

  &.sprite-CA {
    .stitches-sprite(-555px, -77px );
  }

  &.sprite-CC {
    .stitches-sprite(-605px, -77px );
  }

  &.sprite-CD {
    .stitches-sprite(-5px, -113px );
  }

  &.sprite-CF {
    .stitches-sprite(-55px, -113px );
  }

  &.sprite-CG {
    .stitches-sprite(-105px, -113px );
  }

  &.sprite-CH {
    .stitches-sprite(-155px, -113px );
  }

  &.sprite-CI {
    .stitches-sprite(-205px, -113px );
  }

  &.sprite-CK {
    .stitches-sprite(-255px, -113px );
  }

  &.sprite-CL {
    .stitches-sprite(-305px, -113px );
  }

  &.sprite-CM {
    .stitches-sprite(-355px, -113px );
  }

  &.sprite-CN {
    .stitches-sprite(-405px, -113px );
  }

  &.sprite-CO {
    .stitches-sprite(-455px, -113px );
  }

  &.sprite-CR {
    .stitches-sprite(-505px, -113px );
  }

  &.sprite-CU {
    .stitches-sprite(-555px, -113px );
  }

  &.sprite-CV {
    .stitches-sprite(-605px, -113px );
  }

  &.sprite-CW {
    .stitches-sprite(-5px, -149px );
  }

  &.sprite-CX {
    .stitches-sprite(-55px, -149px );
  }

  &.sprite-CY {
    .stitches-sprite(-105px, -149px );
  }

  &.sprite-CZ {
    .stitches-sprite(-155px, -149px );
  }

  &.sprite-DE {
    .stitches-sprite(-205px, -149px );
  }

  &.sprite-DJ {
    .stitches-sprite(-255px, -149px );
  }

  &.sprite-DK {
    .stitches-sprite(-305px, -149px );
  }

  &.sprite-DM {
    .stitches-sprite(-355px, -149px );
  }

  &.sprite-DO {
    .stitches-sprite(-405px, -149px );
  }

  &.sprite-DZ {
    .stitches-sprite(-455px, -149px );
  }

  &.sprite-EC {
    .stitches-sprite(-505px, -149px );
  }

  &.sprite-EE {
    .stitches-sprite(-555px, -149px );
  }

  &.sprite-EG {
    .stitches-sprite(-605px, -149px );
  }

  &.sprite-EH {
    .stitches-sprite(-5px, -185px );
  }

  &.sprite-ER {
    .stitches-sprite(-55px, -185px );
  }

  &.sprite-ES {
    .stitches-sprite(-105px, -185px );
  }

  &.sprite-ET {
    .stitches-sprite(-155px, -185px );
  }

  &.sprite-FI {
    .stitches-sprite(-205px, -185px );
  }

  &.sprite-FJ {
    .stitches-sprite(-255px, -185px );
  }

  &.sprite-FK {
    .stitches-sprite(-305px, -185px );
  }

  &.sprite-FM {
    .stitches-sprite(-355px, -185px );
  }

  &.sprite-FO {
    .stitches-sprite(-405px, -185px );
  }

  &.sprite-FR {
    .stitches-sprite(-455px, -185px );
  }

  &.sprite-GA {
    .stitches-sprite(-505px, -185px );
  }

  &.sprite-GB {
    .stitches-sprite(-555px, -185px );
  }

  &.sprite-GD {
    .stitches-sprite(-605px, -185px );
  }

  &.sprite-GE {
    .stitches-sprite(-5px, -221px );
  }

  &.sprite-GF {
    .stitches-sprite(-55px, -221px );
  }

  &.sprite-GG {
    .stitches-sprite(-105px, -221px );
  }

  &.sprite-GH {
    .stitches-sprite(-155px, -221px );
  }

  &.sprite-GI {
    .stitches-sprite(-205px, -221px );
  }

  &.sprite-GL {
    .stitches-sprite(-255px, -221px );
  }

  &.sprite-GM {
    .stitches-sprite(-305px, -221px );
  }

  &.sprite-GN {
    .stitches-sprite(-355px, -221px );
  }

  &.sprite-GP {
    .stitches-sprite(-405px, -221px );
  }

  &.sprite-GQ {
    .stitches-sprite(-455px, -221px );
  }

  &.sprite-GR {
    .stitches-sprite(-505px, -221px );
  }

  &.sprite-GS {
    .stitches-sprite(-555px, -221px );
  }

  &.sprite-GT {
    .stitches-sprite(-605px, -221px );
  }

  &.sprite-GU {
    .stitches-sprite(-5px, -257px );
  }

  &.sprite-GW {
    .stitches-sprite(-55px, -257px );
  }

  &.sprite-GY {
    .stitches-sprite(-105px, -257px );
  }

  &.sprite-HK {
    .stitches-sprite(-155px, -257px );
  }

  &.sprite-HM {
    .stitches-sprite(-205px, -257px );
  }

  &.sprite-HN {
    .stitches-sprite(-255px, -257px );
  }

  &.sprite-HR {
    .stitches-sprite(-305px, -257px );
  }

  &.sprite-HT {
    .stitches-sprite(-355px, -257px );
  }

  &.sprite-HU {
    .stitches-sprite(-405px, -257px );
  }

  &.sprite-ID {
    .stitches-sprite(-455px, -257px );
  }

  &.sprite-IE {
    .stitches-sprite(-505px, -257px );
  }

  &.sprite-IL {
    .stitches-sprite(-555px, -257px );
  }

  &.sprite-IM {
    .stitches-sprite(-605px, -257px );
  }

  &.sprite-IN {
    .stitches-sprite(-5px, -293px );
  }

  &.sprite-IO {
    .stitches-sprite(-55px, -293px );
  }

  &.sprite-IQ {
    .stitches-sprite(-105px, -293px );
  }

  &.sprite-IR {
    .stitches-sprite(-155px, -293px );
  }

  &.sprite-IS {
    .stitches-sprite(-205px, -293px );
  }

  &.sprite-IT {
    .stitches-sprite(-255px, -293px );
  }

  &.sprite-JE {
    .stitches-sprite(-305px, -293px );
  }

  &.sprite-JM {
    .stitches-sprite(-355px, -293px );
  }

  &.sprite-JO {
    .stitches-sprite(-405px, -293px );
  }

  &.sprite-JP {
    .stitches-sprite(-455px, -293px );
  }

  &.sprite-KE {
    .stitches-sprite(-505px, -293px );
  }

  &.sprite-KG {
    .stitches-sprite(-555px, -293px );
  }

  &.sprite-KH {
    .stitches-sprite(-605px, -293px );
  }

  &.sprite-KI {
    .stitches-sprite(-5px, -329px );
  }

  &.sprite-KM {
    .stitches-sprite(-55px, -329px );
  }

  &.sprite-KN {
    .stitches-sprite(-105px, -329px );
  }

  &.sprite-KP {
    .stitches-sprite(-155px, -329px );
  }

  &.sprite-KR {
    .stitches-sprite(-205px, -329px );
  }

  &.sprite-KW {
    .stitches-sprite(-255px, -329px );
  }

  &.sprite-KY {
    .stitches-sprite(-305px, -329px );
  }

  &.sprite-KZ {
    .stitches-sprite(-355px, -329px );
  }

  &.sprite-LA {
    .stitches-sprite(-405px, -329px );
  }

  &.sprite-LB {
    .stitches-sprite(-455px, -329px );
  }

  &.sprite-LC {
    .stitches-sprite(-505px, -329px );
  }

  &.sprite-LI {
    .stitches-sprite(-555px, -329px );
  }

  &.sprite-LK {
    .stitches-sprite(-605px, -329px );
  }

  &.sprite-LR {
    .stitches-sprite(-5px, -365px );
  }

  &.sprite-LS {
    .stitches-sprite(-55px, -365px );
  }

  &.sprite-LT {
    .stitches-sprite(-105px, -365px );
  }

  &.sprite-LU {
    .stitches-sprite(-155px, -365px );
  }

  &.sprite-LV {
    .stitches-sprite(-205px, -365px );
  }

  &.sprite-LY {
    .stitches-sprite(-255px, -365px );
  }

  &.sprite-MA {
    .stitches-sprite(-305px, -365px );
  }

  &.sprite-MC {
    .stitches-sprite(-355px, -365px );
  }

  &.sprite-MD {
    .stitches-sprite(-405px, -365px );
  }

  &.sprite-ME {
    .stitches-sprite(-455px, -365px );
  }

  &.sprite-MF {
    .stitches-sprite(-505px, -365px );
  }

  &.sprite-MG {
    .stitches-sprite(-555px, -365px );
  }

  &.sprite-MH {
    .stitches-sprite(-605px, -365px );
  }

  &.sprite-MK {
    .stitches-sprite(-5px, -401px );
  }

  &.sprite-ML {
    .stitches-sprite(-55px, -401px );
  }

  &.sprite-MM {
    .stitches-sprite(-105px, -401px );
  }

  &.sprite-MN {
    .stitches-sprite(-155px, -401px );
  }

  &.sprite-MO {
    .stitches-sprite(-205px, -401px );
  }

  &.sprite-MP {
    .stitches-sprite(-255px, -401px );
  }

  &.sprite-MQ {
    .stitches-sprite(-305px, -401px );
  }

  &.sprite-MR {
    .stitches-sprite(-355px, -401px );
  }

  &.sprite-MS {
    .stitches-sprite(-405px, -401px );
  }

  &.sprite-MT {
    .stitches-sprite(-455px, -401px );
  }

  &.sprite-MU {
    .stitches-sprite(-505px, -401px );
  }

  &.sprite-MV {
    .stitches-sprite(-555px, -401px );
  }

  &.sprite-MW {
    .stitches-sprite(-605px, -401px );
  }

  &.sprite-MX {
    .stitches-sprite(-5px, -437px );
  }

  &.sprite-MY {
    .stitches-sprite(-55px, -437px );
  }

  &.sprite-MZ {
    .stitches-sprite(-105px, -437px );
  }

  &.sprite-NA {
    .stitches-sprite(-155px, -437px );
  }

  &.sprite-NC {
    .stitches-sprite(-205px, -437px );
  }

  &.sprite-NE {
    .stitches-sprite(-255px, -437px );
  }

  &.sprite-NF {
    .stitches-sprite(-305px, -437px );
  }

  &.sprite-NG {
    .stitches-sprite(-355px, -437px );
  }

  &.sprite-NI {
    .stitches-sprite(-405px, -437px );
  }

  &.sprite-NL {
    .stitches-sprite(-455px, -437px );
  }

  &.sprite-NO {
    .stitches-sprite(-505px, -437px );
  }

  &.sprite-NP {
    .stitches-sprite(-555px, -437px );
  }

  &.sprite-NR {
    .stitches-sprite(-605px, -437px );
  }

  &.sprite-NU {
    .stitches-sprite(-5px, -473px );
  }

  &.sprite-NZ {
    .stitches-sprite(-55px, -473px );
  }

  &.sprite-OM {
    .stitches-sprite(-105px, -473px );
  }

  &.sprite-PA {
    .stitches-sprite(-155px, -473px );
  }

  &.sprite-PE {
    .stitches-sprite(-205px, -473px );
  }

  &.sprite-PF {
    .stitches-sprite(-255px, -473px );
  }

  &.sprite-PG {
    .stitches-sprite(-305px, -473px );
  }

  &.sprite-PH {
    .stitches-sprite(-355px, -473px );
  }

  &.sprite-PK {
    .stitches-sprite(-405px, -473px );
  }

  &.sprite-PL {
    .stitches-sprite(-455px, -473px );
  }

  &.sprite-PM {
    .stitches-sprite(-505px, -473px );
  }

  &.sprite-PN {
    .stitches-sprite(-555px, -473px );
  }

  &.sprite-PR {
    .stitches-sprite(-605px, -473px );
  }

  &.sprite-PS {
    .stitches-sprite(-5px, -509px );
  }

  &.sprite-PT {
    .stitches-sprite(-55px, -509px );
  }

  &.sprite-PW {
    .stitches-sprite(-105px, -509px );
  }

  &.sprite-PY {
    .stitches-sprite(-155px, -509px );
  }

  &.sprite-QA {
    .stitches-sprite(-205px, -509px );
  }

  &.sprite-RE {
    .stitches-sprite(-255px, -509px );
  }

  &.sprite-RO {
    .stitches-sprite(-305px, -509px );
  }

  &.sprite-RS {
    .stitches-sprite(-355px, -509px );
  }

  &.sprite-RU {
    .stitches-sprite(-405px, -509px );
  }

  &.sprite-RW {
    .stitches-sprite(-455px, -509px );
  }

  &.sprite-SA {
    .stitches-sprite(-505px, -509px );
  }

  &.sprite-SB {
    .stitches-sprite(-555px, -509px );
  }

  &.sprite-SC {
    .stitches-sprite(-605px, -509px );
  }

  &.sprite-SD {
    .stitches-sprite(-5px, -545px );
  }

  &.sprite-SE {
    .stitches-sprite(-55px, -545px );
  }

  &.sprite-SG {
    .stitches-sprite(-105px, -545px );
  }

  &.sprite-SH {
    .stitches-sprite(-155px, -545px );
  }

  &.sprite-SI {
    .stitches-sprite(-205px, -545px );
  }

  &.sprite-SJ {
    .stitches-sprite(-255px, -545px );
  }

  &.sprite-SK {
    .stitches-sprite(-305px, -545px );
  }

  &.sprite-SL {
    .stitches-sprite(-355px, -545px );
  }

  &.sprite-SM {
    .stitches-sprite(-405px, -545px );
  }

  &.sprite-SN {
    .stitches-sprite(-455px, -545px );
  }

  &.sprite-SO {
    .stitches-sprite(-505px, -545px );
  }

  &.sprite-SR {
    .stitches-sprite(-555px, -545px );
  }

  &.sprite-SS {
    .stitches-sprite(-605px, -545px );
  }

  &.sprite-ST {
    .stitches-sprite(-5px, -581px );
  }

  &.sprite-SV {
    .stitches-sprite(-55px, -581px );
  }

  &.sprite-SX {
    .stitches-sprite(-105px, -581px );
  }

  &.sprite-SY {
    .stitches-sprite(-155px, -581px );
  }

  &.sprite-SZ {
    .stitches-sprite(-205px, -581px );
  }

  &.sprite-TC {
    .stitches-sprite(-255px, -581px );
  }

  &.sprite-TD {
    .stitches-sprite(-305px, -581px );
  }

  &.sprite-TF {
    .stitches-sprite(-355px, -581px );
  }

  &.sprite-TG {
    .stitches-sprite(-405px, -581px );
  }

  &.sprite-TH {
    .stitches-sprite(-455px, -581px );
  }

  &.sprite-TJ {
    .stitches-sprite(-505px, -581px );
  }

  &.sprite-TK {
    .stitches-sprite(-555px, -581px );
  }

  &.sprite-TL {
    .stitches-sprite(-605px, -581px );
  }

  &.sprite-TM {
    .stitches-sprite(-5px, -617px );
  }

  &.sprite-TN {
    .stitches-sprite(-55px, -617px );
  }

  &.sprite-TO {
    .stitches-sprite(-105px, -617px );
  }

  &.sprite-TR {
    .stitches-sprite(-155px, -617px );
  }

  &.sprite-TT {
    .stitches-sprite(-205px, -617px );
  }

  &.sprite-TV {
    .stitches-sprite(-255px, -617px );
  }

  &.sprite-TW {
    .stitches-sprite(-305px, -617px );
  }

  &.sprite-TZ {
    .stitches-sprite(-355px, -617px );
  }

  &.sprite-UA {
    .stitches-sprite(-405px, -617px );
  }

  &.sprite-UG {
    .stitches-sprite(-455px, -617px );
  }

  &.sprite-US {
    .stitches-sprite(-505px, -617px );
  }

  &.sprite-UY {
    .stitches-sprite(-555px, -617px );
  }

  &.sprite-UZ {
    .stitches-sprite(-605px, -617px );
  }

  &.sprite-VA {
    .stitches-sprite(-655px, -5px );
  }

  &.sprite-VC {
    .stitches-sprite(-655px, -41px );
  }

  &.sprite-VE {
    .stitches-sprite(-655px, -77px );
  }

  &.sprite-VG {
    .stitches-sprite(-655px, -113px );
  }

  &.sprite-VI {
    .stitches-sprite(-655px, -149px );
  }

  &.sprite-VN {
    .stitches-sprite(-655px, -185px );
  }

  &.sprite-VU {
    .stitches-sprite(-655px, -221px );
  }

  &.sprite-WF {
    .stitches-sprite(-655px, -257px );
  }

  &.sprite-WS {
    .stitches-sprite(-655px, -293px );
  }

  &.sprite-YE {
    .stitches-sprite(-655px, -329px );
  }

  &.sprite-YT {
    .stitches-sprite(-655px, -365px );
  }

  &.sprite-ZA {
    .stitches-sprite(-655px, -401px );
  }

  &.sprite-ZM {
    .stitches-sprite(-655px, -437px );
  }

  &.sprite-ZW {
    .stitches-sprite(-655px, -473px );
  }
}

