.dts-page {
  h1 {
    padding-top: 50px;
  }
  .products-list-container {
    border-top: 1px solid @color-light-gray;
    padding-top: 50px;
  }
  .product-item {
    .product-content {
      .product-title {
        a {
          color: black;
        }
      }
    }
  }
  .preview-image-wrapper {
    .simple-responsive-banner-component{
      margin-top: 0;
    }
  }

}

@media @laptop {
  .dts-page {
    .product-list-wrapper {
      padding-top: 50px;
    }
    .product-item {
      .product-content {
        .product-title {
          line-height: 42px;
        }
      }
    }
  }
}

@media @mobile {
  .dts-page {
    h1 {
      padding-top: 38px;
    }
    .preview-image-wrapper {
      margin-bottom: 30px;
    }
    article {
      margin-bottom: 0;
    }
    .product-list-wrapper {
      padding-top: 35px;
    }
    .product-item {
      margin-bottom: 50px;
      .product-content {
        .product-title {
          overflow: hidden;
        }
        .product-description {
          margin-left: 0;
        }
      }
    }
  }
}