.free-trial.confirmation {
	.success-message {
		padding-left: 60px;
		position: relative;
		border-bottom: 1px solid @color-light-gray;

		&.icon-check {
			&:before {
				position: absolute;
				top: 0;
				left: 15px;
			}
		}

		a {
			color: @color-teal;
		}
	}
}

@media @mobile {
	.free-trial.confirmation {
		.success-message {
			padding-bottom: 20px;
		}
	}
}

@media @laptop {
	.free-trial.confirmation {
		.success-message {
			padding-bottom: 35px;
		}
	}
}