.free-trial {
	.product-list {
		border-bottom: 1px solid @color-light-gray;
	}

	.form-wrap {
		border-bottom: 1px solid @color-light-gray;
	}
}

@media @laptop {
	.free-trial {
		.product-list {
			padding-top: 35px;
			padding-bottom: 35px;
			border-top: 1px solid @color-light-gray;
		}

		.form-wrap {
			//padding-bottom: 15px;
		}
	}
}

@media @mobile {
	.free-trial {
		.product-list {
			padding-bottom: 20px;

			.product-list-info {
				padding-left: 75px;
			}
		}

		.graduation-year {
			display: none;
		}
	}
}