.alert {
	padding: 15px 25px;
	border: none;
	font-weight: @font-weight-bold;

	.close {
		&:before {
			content: "×";
		}
	}

	&.alert-dismissable,
	&.alert-dismissible {
		padding-right: 45px;

		.close {
			top: -8px;
			opacity: inherit;
			font-size: 34px;
			text-shadow: none;
			text-align: right;
		}
	}

	&.alert-success {
		background-color: @color-green-light;
		color: @color-green-dark;


		hr {
			border-top-color: @color-mint;
		}

		.alert-link {
			color: @color-green-dark;
		}

		.close {
			color: @color-green-dark;
		}
	}

	&.alert-info {
		background-color: #d9edf7;
		border-color: #bce8f1;
		color: #31708f;

		hr {
			border-top-color: #a6e1ec;
		}

		.alert-link {
			color: #245269;
		}
	}

	&.alert-warning {
		background-color: #fcf8e3;
		border-color: #faebcc;
		color: #8a6d3b;

		hr {
			border-top-color: #f7e1b5;
		}

		.alert-link {
			color: #66512c;
		}
	}

	&.alert-danger {
		background-color: @color-light-red;
		color: #fff;

		hr {
			border-top-color: @color-dark-red-error;
		}

		.alert-link {
			color: #fff;
		}

		.close {
			text-shadow: 0 1px 0 #333;
		}
	}
}