/*! Gray v1.6.0 (https://github.com/karlhorky/gray) | MIT */
.grayscale {
	&.grayscale-fade {
		transition: filter .5s;
	}
	&.grayscale-off,
	&.grayscale-fade:hover {
		-webkit-filter: grayscale(0);
		filter:         grayscale(0);
	}
	&.grayscale-replaced {
		-webkit-filter: none;
		filter:         none;
		& > svg {
			-webkit-transition: opacity .5s ease;
			transition:         opacity .5s ease;
			opacity: 1;
		}
		&.grayscale-off > svg,
		&.grayscale-fade:hover > svg {
			opacity: 0;
		}
	}
}
