.wiley-rich-content-page {
	.carousel-default {
		margin: 0;
	}
	.simple-responsive-banner-component.hero-banner-component {
		margin: 0;
	}
	p {
		margin-bottom: 20px;
		font-size: 16px;
	}

	.page-title {
		h2 {
			color: rgba(0, 0, 0, 0.87);
			text-align: left;
		}
	}

	.component-wrapper {
		margin-bottom: 20px;
		margin-top: 20px;
		.container-fluid {
			padding: 0;
		}
	}

	.page-content-wrapper {
		padding-top: 0px;
	}
	.wiley-slogan {
		color: white;
		h1 {
			color: white;
			font-family: @font-family-secondary-pro;
			line-height: 63px;
			font-size: 50px;
			font-weight: 600;
			margin: 0;
		}

		p {
			color: white;
		}

		p:nth-of-type(1) {
			margin-bottom: 10px;
		}

		.link-button {
			margin-bottom: 45px;
		}
	}
	.hero-banner {
		.container {
			display: block;
			min-height: 0;
		}
	}
}

.carousel-default {
	.hero-banner-carousel {
		color: white;
		height: 360px;
		padding: 0;
		.owl-nav {
			z-index: 2;
			display: block;
			.owl-next, .owl-prev {
				&:focus {
					outline: none;
				}
				width: 70px;
				height: 100%;
				position: absolute;
				top: 0;
				background-size: contain;
				cursor: pointer;
				text-align: center;
				-webkit-transition: 0.3s ease-out;
				-o-transition: 0.3s ease-out;
				transition: 0.3s ease-out;
				right: 0;
				font-size: 0;
				color: #414245;
				background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
				margin: 0;
				&:after {
					position: absolute;
					width: 0;
					content: '';
					height: 0;
					top: 48%;
					right: 32px;
					border-style: solid;
					border-color: inherit;
					border-width: 0 2px 2px 0;
					display: inline-block;
					padding: 10px;
					transform: rotate(-45deg);
				}
			}
			.owl-prev {
				left: 0;
				background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);

				&:after {
					left: 32px;
					right: auto;
					transform: rotate(135deg);
				}
			}
			.owl-next, .owl-prev{
				&:focus{
					color: white;
				}
			}
		}
		.owl-dots {
			text-align: center;
			position: absolute;
			z-index: 1;
			bottom: 5px;
			left: 0;
			right: 0;
			.owl-dot {
				cursor: pointer;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				width: 26px;
				height: 26px;
				padding: 3px 3px;
				display: inline-block;
				&.active {
					cursor: default;
					span {
						background: #ffffff;
					}
				}
				span {
					width: 12px;
					display: block;
					height: 12px;
					border-radius: 50%;
					background: #ABABAB;
				}
			}
		}
		.hero-banner {
			background-attachment: inherit;
			height: 360px;
		}
		.owl-stage-outer {
			overflow: hidden;
		}
		.page-section {
			margin: 20px 0 0;
			height: 100%;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.link-button {
				margin-bottom: auto;
				color: inherit;
			}
		}
		.animated {
			animation-duration: 1000ms;
			animation-fill-mode: both;
		}

		.wiley-slogan {
			width: 100%;
			padding-top: 0;
			p {
				margin-bottom: 10px;
			}
		}
		.simple-responsive-banner-component {
			position: absolute;
			max-height: 100%;
			overflow: hidden;
			img {
				width: auto;
				height: 360px;
				max-width: none;
			}
		}
		.container {
			position: relative;
			height: 360px;
		}
		.owl-item {
			float: left;
			height: 360px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.item {
			height: 360px;
			position: relative;
			.link-item {
				cursor: pointer;
			}
		}
		&:hover {
			.owl-nav {
				.owl-next, .owl-prev {
					color: white;
				}
			}
		}
	}
}

.hero-banner {
	position: relative;
	overflow: hidden;
	min-height: 360px;
	/* Create the parallax scrolling effect */
	// background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	.simple-responsive-banner-component {
		margin: 0;
		min-height: 0;
	}

	.container {
		position: relative;
	}
	.section-description {
		margin: 0;
	}
	p {
		margin-bottom: 50px;
	}
}

.wiley-slogan {
	h1 {
		color: white;
		font-family: @font-family-secondary-pro;
		line-height: 63px;
		font-size: 50px;
		font-weight: 600;
		margin: 0;
	}

	p {
		color: white;
		font-size: 24px;
		line-height: 30px;
		&:first-of-type {
			margin-bottom: 10px;
		}
		&:last-of-type {
			margin-bottom: 50px;
		}
	}

	.link-button {
		margin-bottom: 45px;

	}
}

.description-component {
	color: rgba(0, 0, 0, 0.87);
	display: flex;
	margin-top: 30px;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	&.component-wrapper {
		margin-top: 30px;
	}

	.description-component-title {
		letter-spacing: 0.37px;
		color: #414245;
		font-family: @font-family-secondary-pro;
		margin-bottom: 14px;
		text-transform: none;
		text-align: left;
	}

	.description-component-text {
		font-size: 14px;
		line-height: 24px;
		color: black;
		text-align: left;

		p {
			font-size: inherit;
			line-height: inherit;
		}
	}

	.link-button {
		white-space: nowrap;
		margin-left: 50px;
		font-size: 16px;
		letter-spacing: 0.27px;
		border: none;
		&:hover, &:focus {
			text-decoration: none;
			color: #ffffff;
			background-color: #00b1c2 !important;
		}
	}
}

.who-we-serve-component {
	&.component-wrapper {
		margin-bottom: 0;
		margin-top: 45px;
	}
	.who-we-serve-blocks {
		font-size: 0;
		margin-right: -10px;
		margin-left: -10px;
		.simple-responsive-banner-component {
			margin: 0;
			padding: 0;
		}

		.who-we-serve-block {
			display: inline-block;
			vertical-align: top;
			text-align: center;
			margin-bottom: 26px;

			.simple-responsive-banner-component {
				margin: 0;
				padding: 0;
				img {
					width: auto;
				}
			}

			.who-we-serve-block-title {
				font-weight: 600;
				font-size: 16px;
				text-align: left;
				display: inline-block;
				letter-spacing: 0.27px;
				line-height: 52px;
				color: rgba(0, 0, 0, 0.87);
				padding: 0 0 0 24px;
				background-color: rgba(216, 216, 216, 0.5);
				width: 100%;
			}
			a {
				&:hover {
					text-decoration: none;
					color: @color-teal-light;
				}
			}

			p {
				font-size: 13px;
				color: @color-mid-gray;
				line-height: 22px;
			}

			.stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
				background-position: @x @y;
				width: @width;
				height: @height;
			}

			.who-we-serve-icon {
				text-align: center;
				vertical-align: middle;
				line-height: 92px;
				height: 92px;
				margin-bottom: 20px;
			}

		}

	}
}

.subjects-blocks {
	color: rgba(0, 0, 0, 0.87);
	background-color: rgba(216, 216, 216, 0.6);
	padding: 0 10px 8px 0;
	margin: 0;

	.simple-responsive-banner-component {
		margin: 0;
		padding: 0;
	}
	.subjects-block, a {
		line-height: 62px;
		background-color: white;
		color: #0C3D5D;
		margin: 16px 0 8px 0;
		padding: 0 14px;
		cursor: pointer;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		padding-right: 30px;
		text-overflow: ellipsis;
		&:after {
			position: absolute;
			width: 0;
			content: '';
			height: 0;
			top: 50%;
			right: 30px;
			border-style: solid;
			border-color: inherit;
			border-width: 0 1px 1px 0;
			display: inline-block;
			padding: 4px;
			transform: rotate(-45deg);
		}
		img {
			display: inline-block;
			margin-right: 10px;
		}
		h3, span {
			color: inherit;
			display: inline-block;
			margin-bottom: 0 !important;
			vertical-align: middle;
			line-height: 22px;
		}
		&:hover {
			text-decoration: none;
			color: @color-teal-light;
		}
	}
	.subjects-block-button {
		line-height: 147px;
		background-color: white;
		text-transform: uppercase;
		font-size: 16px;
		text-align: center;
		font-weight: 600;
		color: @color-blue;
		display: block;
		margin-top: 16px;
		margin-left: -8px;
		cursor: pointer;
		&:after {
			position: absolute;
			width: 0;
			content: '';
			height: 0;
			top: 48%;
			right: 34px;
			border-style: solid;
			border-color: inherit;
			border-width: 0 1px 1px 0;
			display: inline-block;
			padding: 6px;
			transform: rotate(-45deg);
		}
		&:hover {
			color: @color-teal-light;
		}
	}
}

ul.list-with-columns {
	columns: 2;

	li {
		list-style: none;

		a {
			font-size: 18px;
			line-height: 36px;
			font-weight: @font-weight-semibold;

			&:before {
				margin-right: 18px;
				color: @color-super-light-gray;
			}
		}
	}
}

.special-and-news-block-wrapper {
	padding-top: 70px;
	padding-bottom: 50px;

	.special-and-news-block {
		padding-top: 10px;
		position: relative;
		color: @color-white;
	}

	.link-button {
		margin-bottom: 45px;
	}

	.section-description {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-bottom: 20px;
	}

	.section-content {
		width: 100%;
		margin-bottom: 0;
	}

	.float-image {
		float: right;
		width: 300px;
		height: 300px;
		margin-left: 20px;

		img {
			width: 100%;
		}
	}

	.date {
		display: block;
		font-size: 16px;
		font-weight: @font-weight-semibold;
		margin-bottom: 10px;
	}

	.subtitle {
		display: block;
		font-size: 22px;
		font-weight: @font-weight-semibold;
		margin-bottom: 10px;
	}

	.title {
		display: block;
		font-size: 50px;
		color: white;
		font-weight: 400;
		margin-bottom: 10px;
		font-family: @font-family-secondary-pro;
	}

	.line-separator {
		margin: 30px 0 25px 0;
	}
}

.stroke-line-separator {
	background: url("../../common/images/lineWithArrow.png") repeat-x;
	height: 17px;
	margin-bottom: 10px;
}

.wiley-careers {
	margin: 230px 0;

	.right-block {
		width: 50%;
		float: right;
	}

	.under-title {
		font-weight: bold;
		font-size: 20px;
		text-transform: uppercase;
	}

	.title {
		font-size: 68px;
		line-height: 103px;
		font-family: @font-family-secondary-pro;
		margin-bottom: 30px;
		font-weight: 400;
	}

	p {
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 40px;
	}
}

.proudly-publishing {
	padding: 120px 0 100px 0;

	.title {
		font-weight: @font-weight-semibold;
		font-size: 48px;
		text-align: center;
		color: @color-dark-gray-2;
		margin-bottom: 50px;
	}

	.block-bottom {
		text-align: center;

	}

	.count {
		margin-top: -50px;
		margin-bottom: 30px;

		.count-number {
			font-size: 87px;
			font-weight: bold;
			color: @color-dark-gray-2;
			display: block;
		}

		.count-title {
			font-family: @font-family-secondary-pro;
			color: @color-dark-gray-2;
			font-size: 42px;
			display: block;
			margin-bottom: 40px;
		}
	}
}

.sub-title.icon-bulb,
.sub-title.icon-flag {
	position: relative;
	margin-bottom: 15px;
	top: 0;
	font-size: 14px;
	font-weight: bold;
	height: 31px;
	line-height: 31px;
	text-transform: uppercase;

	&:before {
		content: '';
		height: 31px;
		line-height: 31px;
		width: 31px;
		background-color: white;
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		background-image: url("../../common/images/Specials&News.png");
		background-position: 50% 50%;
	}
}

.sub-title.icon-bulb {
	&:before {
		background-image: url("../../common/images/ProductStrategy.png");
	}
}

.scroll-icon-wrapper {
	position: relative;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	width: 200px;
	bottom: 20px;
	height: 100px;

	&:before,
	&:after {
		position: absolute;
		width: 5px;
		height: 5px;
		background: rgba(255, 255, 255, .8);
		border-radius: 50%;
		content: '';
		display: block;
		bottom: -5px;
		left: 0;
		right: 0;
		margin: auto;
	}

	&:after {
		bottom: -15px;
		background: rgba(255, 255, 255, .6);
	}

	.scroll-icon {
		background-image: url("../../common/images/Scroll.png");
		width: 40px;
		height: 40px;
		display: inline-block;
		position: relative;

		&:before,
		&:after {
			position: absolute;
			width: 5px;
			height: 5px;
			background: white;
			border-radius: 50%;
			left: 0;
			right: 0;
			margin: auto;
			content: '';
			display: block;
			bottom: -10px;
		}

		&:after {
			bottom: -20px;
		}
	}

	.scroll-title {
		font-size: 18px;
		font-style: italic;
		margin-bottom: 10px;
		color: @color-white;
		display: block;
	}
}

@media @mobile {
	.building-future-component {
		.simple-responsive-banner-component {
			margin: 5px 0 10px 0;
		}

	}

	.wiley-rich-content-page {
		.component-wrapper {
			margin-top: 12px;
			margin-bottom: 12px;
		}
		.subjects-blocks {
			.row {
				padding: 0;
			}
		}
		.who-we-serve-component {
			&.component-wrapper {
				// fix for .who-we-serve-component hybris component
				margin-top: 26px;
			}
			.who-we-serve-blocks {
				margin-right: -10px;
				margin-left: -10px;
			}
		}
		.page-title {
			margin-bottom: 15px;
		}
		.wiley-slogan {
			p {
				font-size: 14px;
				line-height: 22px;
			}

			h1 {
				line-height: 36px;
				font-size: 32px;
				margin-bottom: 0;
			}
		}
		.hero-banner {
			.container {
				padding: 0;
				.page-section {
					margin-bottom: 0;
				}
			}
		}
	}

	.hero-banner-carousel {
		.wiley-slogan {
			width: 100%;
			padding-top: 0;
			p {
				margin-bottom: 10px;
			}
		}
		.page-section {
			padding: 0 10px;
		}

	}

	.carousel-default .hero-banner-carousel .page-section .link-button {
		font-weight: 700;
	}

	.special-and-news-block-wrapper {
		padding: 10px 0;

		.section-description {
			margin-bottom: 0;
		}
	}

	.hero-banner {
		min-height: 170px;
		.desktop {
			display: none;
		}

		&.collection-banner {
			padding: 0 9px;
		}
	}

	.wiley-slogan {
		.subtitle {
			margin-bottom: 20px;
			font-size: 16px;
		}

		h1 {
			margin-bottom: 0;
			line-height: 36px;
			font-size: 32px;
		}

		.link-button {
			margin-bottom: 30px;
		}

		.under-title {
			font-size: 16px;
		}
	}

	.page-content-wrapper {
		padding-top: 0;
	}

	.who-we-serve-component {
		margin-bottom: 0;
		.who-we-serve-blocks {
			padding: 0;
			margin: 0;
			.simple-responsive-banner-component {
				overflow: hidden;
			}

			&.component-wrapper {
				margin-bottom: 0;
			}

			.container-fluid {
				padding: 0;
			}

			.who-we-serve-block {
				margin-bottom: 15px;

				p {
					font-size: 13px;
				}

				.who-we-serve-block-title {
					padding: 6px 0 6px 15px;
					font-size: 15px;
					line-height: 22px;
					color: #414245;
				}
			}

		}
	}

	.subjects-blocks {
		padding: 8px 0px 8px 0;

		.simple-responsive-banner-component {
			margin: 0;
			padding: 0;
		}
		.subjects-block, a {
			margin: 8px 0 8px 0;
			text-align: left;
			&:after {
				top: 44%;
			}
		}
		.subjects-block-button {
			margin-top: 8px;
			margin-bottom: 8px;
			line-height: 83px;
			color: @color-blue;
			text-align: left;
			padding-left: 48px;
			margin-left: 0;
			&:after {
				top: 44%;
				right: 30px;
				padding: 4px;
			}
		}
	}

	.description-component {
		display: block;
		padding: 5px 0 10px 0;

		.description-component-title {
			font-size: 20px;
		}

		.description-component-text {
			line-height: 22px;
			p {
				font-size: inherit;
				line-height: inherit;
			}

		}

		.link-button {
			white-space: nowrap;
			font-size: 14px;
			font-weight: 700;
			margin: auto;
			display: inline-block;
			letter-spacing: 0.27px;
			padding: 4px 12px 4px 12px;
		}
	}

	.special-and-news-block {
		margin: 6px 0 30px;

		.sub-title {
			margin-bottom: 35px;
		}

		.title {
			font-size: 36px;
			line-height: 40px;
		}

		.subtitle {
			font-size: 18px;
		}

		.date {
			font-size: 14px;
		}
	}

	.wiley-careers {
		margin: 50px 0 65px 0;

		.right-block {
			width: 100%;
			float: none;
		}
		.under-title {
			font-size: 14px;
			display: block;
			width: 50%;
			margin-bottom: 10px;
		}

		.title {
			font-size: 36px;
			line-height: 55px;
			margin-bottom: 100px;
		}

		p {
			font-size: 16px;
			line-height: 28px;
			margin-bottom: 35px;
		}
	}

	.proudly-publishing {
		padding: 50px 0 60px 0;

		.count {
			margin-top: -50px;
			margin-bottom: 30px;

			.count-number {
				font-size: 24px;
			}

			.count-title {
				font-family: @font-family-secondary-pro;
				color: @color-dark-gray-2;
				font-size: 15px;
				display: block;
				margin-bottom: 40px;
			}
		}

		.title {
			font-size: 26px;
		}

		article {
			margin-bottom: 0;
		}
	}
}

@media @laptop {
	.simple-responsive-banner-component {
		margin: 0;
		padding: 0;
	}

	.hero-banner {
		.carousel-default .hero-banner-carousel .item{
			padding: 0 60px;
		}

		.mobile {
			display: none;
		}
	}

	.subjects-blocks {
		.row, .col-sm-12.col-xs-12 {
			&:last-child {
				padding-right: 0;
				margin-left: 0;
			}
		}
		.col-sm-12.col-xs-12 {
			padding-left: 0;

		}
	}

}