
@keyframes loader {
	to {transform: rotate(360deg);}

}
.wiley-loader{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.5);
	left:0;
	top:0;
	z-index: 99999;
	&:before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 60px;
		height: 60px;
		margin-top: -30px;
		margin-left: -30px;
		border-radius: 50%;
		border: 4px solid rgba(204, 204, 204, 0.4);
		border-top-color: @color-teal;
		animation: loader 1s linear infinite;
	}
}


.spinner {
	background-image: url('../images/spinner.gif');
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: transparent;
	z-index: 99999;
}