.activate-registration-code,
.reset-password {
	font-size: 12px;
}

.reset-password {
	.button-main {
		width: 100%;
	}
}

#forgotPasswordLink,
.forgotten-password {
	margin-top: -10px;
}

@media @laptop {
	.log-in {
		.left-block {
			border-right: 1px solid @color-light-gray;
		}
	}
}