.separate-border-bottom( @padding-bottom, @margin-bottom) {
	padding-bottom: @padding-bottom;
	margin-bottom: @margin-bottom;
	border-bottom: @solid-border-gray;
}

.separate-border-bottom-custom-color( @padding-bottom, @margin-bottom, @color) {
	padding-bottom: @padding-bottom;
	margin-bottom: @margin-bottom;
	border-bottom: 1px solid @color;
}

.separate-border-top() {
	padding-top: 35px;
	border-top: @solid-border-gray;
}

.meter-variation(@titles; @colors; @index) when (iscolor(extract(@colors, @index))) and (@index > 0) {
	.meter-variation(@titles; @colors; (@index - 1));

	@title: extract(@titles, @index);
	@color: extract(@colors, @index);
	@title-content: "@{title}";

	&.meter-@{title} {
		&:before {
			content: @title-content;
			width: (100 / @index) * 1%;
			display: block;
			padding: 0 5px;
			height: 100%;
			background-color: @color;
			font-size: 11px;
			text-transform: capitalize;
			transition: width 1s ease-in-out;
		}
	}
}

.select-menu-input() {
	display: block;
	width: 100%;
	height: 30px;
	padding: 0 5px;
	font-size: 13px;
	color: @color-dark-gray-2;
	line-height: 26px;
	font-style: normal;
	border: 1px solid @color-gray;
	border-radius: 0;
	background-color: @color-white;
}

.select-menu-button() {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 29px;
	height: 100%;
	background-color: @color-white;
	border-left: 1px solid @color-gray;
}

.custom-scroll(){
	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		color: @color-light-gray;
		background: @color-light-gray;
	}
}

.cearfix() {
	&:before,
	&:after {
		content: "";
		display: table;
		clear: both;
	  }
}