
.modal-backdrop.in {
	opacity: 0.7;
}

.modalWindow {
	&.modal.in {
		.modal-dialog {
			transform: translate3d(0, 0, 0);
			height: 100%;
			display: flex;
			align-items: center;
			margin-top: 0;
		}
	}

	.modal-body {
		max-height: calc(~"90vh - 150px");
		overflow-y: auto;
		padding: 0;
		background: @color-white;

		.facets-panel-list {
			display: flex;
			flex-wrap: wrap;
			overflow-y: auto;
			margin-bottom: 25px;
		}

		.modal-wnd-list {
			.product-item {
				flex-wrap: wrap;
				margin-bottom: 0;
				padding: 15px 24px 24px;
				border-bottom: 1px solid #D8D8D8;

				&:last-of-type {
					border-bottom: none;
				}

				.product-image {
					width: 129px;
					margin-right: 18px;
				}

				.product-content {
					color: @color-main-gray;

					.product-price {
						margin-bottom: 10px;
						font-size: 24px;
						line-height: 1.375;
						font-weight: 600;

						> * {
							margin-bottom: 0;
							display: inline-block;
						}

						.price {
							color: @color-black;
						}

						.old-price {
							margin-right: 10px;
							text-decoration: line-through;
							font-size: 18px;
							color: #96969B	;
							font-weight: @font-weight-semibold;

							&:empty {
								display: none;
							}
						}
					}

					.product-title {
						margin-bottom: 10px;
						color: @color-main-gray;
						font-size: 20px;
						font-weight: 600;
						line-height: 30px;
						font-family: @font-family-main;

					}

					.product-author {
						margin-bottom: 10px;
						font-size: 12px;
						line-height: 17px;
					}

					.product-type {
						margin-bottom: 0;
						text-transform: none;
						font-size: 16px;
						font-weight: 600;
						line-height: 22px;
					}

				}

				.product-sets {
					width: 100%;
					margin-top: 20px;
					margin-bottom: 0;
					font-size: 10px;
					color: @color-main-gray;

					.sets-title {
						margin-bottom: 10px;
						font-weight: 400;
						color: @color-main-gray;
						font-size: 14px;
						text-transform: uppercase;
						line-height: 19px;
					}

					.sets-list {
						margin: 0;
						margin-left: 15px;
						padding: 0;
						list-style: none;
						color: #000000;
						font-size: 14px;
						line-height: 20px;

						li {
							position: relative;
							margin-bottom: 5px;

							&:before {
								position: absolute;
								content: '\25CF';
								top: 3px;
								left: -15px;
								font-size: 8px;
							}

							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}

	.modal-content {
		background-color: white;
		border: none;
		width: 100%;
	}

	.modal-header {
		padding: 25px 20px 20px;
		line-height: 44px;
		color: @color-black;
		width: 100%;
		display: flex;
		background: @color-white;
		justify-content: space-between;
		align-items: center;
		border: none;

		.modal-title {
			color: @color-main-gray;
			font-family: @font-family-main;
			font-size: 16px;
			line-height: 22px;
			text-transform: uppercase;
			margin-right: 24px;
			font-weight: @font-weight-bold;
		}

		.close {
			margin: 0;
			font-size: 0;
			opacity: 1;
			position: relative;
			width: 24px;
			height: 24px;
			&:before, &:after {
				background-color: @color-main-gray;
				position: absolute;
				left: 11px;
				top: 0;
				content: ' ';
				height: 24px;
				width: 2px;
			}
			&:before {
				content: "";
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);;

			}
			&:after {
				content: "";
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}

	.modal-footer {
		border-top: 1px solid #EFEFF0;

		.button {
			padding: 15px 12px;
			font-size: 16px;
			line-height: 1;
		}

		.button-dark-gray {
			height: 50px;
			width: 253px;
			color: @color-teal;
			border: 1px solid @color-teal;
			background-color: #fff;
			&:hover {
				border: 1px solid #00B1C2;
				color: #00B1C2;
			}
		}

		.button-teal {
			height: 50px;
			width: 253px;
			background-color: #009CA9;
			&:hover {
				background-color: #00B1C2;
			}
		}
	}

	.modal-wnd-list-description {
		color: @color-dark-gray-2;

		& > p:last-child {
			margin-bottom: 0;
		}
	}

	.modal-wnd-list-title {
		font-weight: @font-weight-bold;
	}

	.modal-wnd-list-image {
		float: left;
		width: 60px;
		text-align: center;

		img {
			border: 1px solid #a4a39f;
			height: auto;
			max-width: 100%;
		}
	}

	.modal-wnd-list-info {
		padding-left: 80px;

		.modal-wnd-list-title {
			margin-bottom: 2px;
			font-size: 12px;
			color: #424240;
		}

		.modal-wnd-list-qty {
			font-weight: @font-weight-bold;
			font-size: 12px;
			color: #424240;
		}

		.modal-wnd-list-price {
			margin-top: 7px;
			font-size: 12px;
		}

		.modal-wnd-list-number {
			input {
				width: 100%;
				height: 28px;
				padding: 0 5px;
				border: 1px solid transparent;
				font-size: 12px;
				background-color: @color-super-light-gray;
			}
		}
	}

	.read-more-link {
		display: none;
	}

	label {
		display: block !important;
	}

	.facets-panel-item {
		display: block;
		width: calc(~"100% * (1/3) - 6px");
		padding-right: 6px;
		box-sizing: border-box;
	}
}

#payByInvoice .modal-wnd-item-button {
	.button-icon {
		color: @color-dark-teal;
	}
}

.deletePayment,
.deleteAddress {
	.modal-wnd-content {
		margin-bottom: 30px;
	}
}

#forgotPasswordMsg {
	margin-bottom: 25px;
}

.modal-wnd-subtotal {
	position: relative;
	padding: 24px 20px;
	background-color: #EFEFF0;
	color: #96969B;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	text-align: left;

	.item-price {
		float: right;
		font-weight: 700;
		font-size: 20px;
		line-height: 27px;
		text-align: right;
		color: #000;
		margin-top: -5px;
	}

	.price-disclaimer {
		position: absolute;
		right: 20px;
		bottom: 7px;
		font-family: @font-family-main;
		font-weight: normal;
		text-transform: capitalize;
		color: #414245;
		font-size: 12px;
		font-style: italic;
		line-height: 17px;
		text-align: right;

		.icon-info {
			margin-left: 3px;
		}
	}
}

.modal-vnd-error {
	//background-color: #EFEFF0;

	.error, .info {
		color: @color-dark-red-error;
	}

}

/*geo modal*/

#selectCountryModalWnd {
	.info {
		color: @color-main-gray;
		font-family: @font-family-main;
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
		span {
			font-weight: 700;
		}
	}
}

/**/

.modal-wnd-list {
	.info {
		margin-bottom: 30px;
		padding: 65px 20px 60px;
		font-family: @font-family-secondary-pro;
		font-size: 26px;
	}
	.modal-vnd-error {
		.info {
			font-size: 12px;
		}
	}
	p,
	.modal-vnd-error p {
		padding: 0;
		margin-bottom: 0;
		font-family: @font-family-main;
		font-size: 12px;
		line-height: 1.4;

		&:last-of-type {
			margin-bottom: 0;
		}

		b,
		strong {
			font-weight: inherit;
		}
	}
}

.country-form {
	.modal-wnd-list {
		.info {
			line-height: 47px;
		}
	}
}

@media @mobile {
	#selectCountryModalWnd {
		.info {
			font-size: 18px;
		}
	}

	#addToCartModalWnd .modal-body {
		max-height: calc(~"100vh - 230px");
		max-height: calc(~"var(--vh, 1vh) * 100 - 230px");
	}

	.modalWindow {
		.modal-body .modal-wnd-list .product-item .product-content {

			.product-title {
				position: static;
				top: auto;
				font-size: 18px;
				line-height: 24px;
			}

			.product-price {
				letter-spacing: 0;
				.price {
					font-size: 22px;
					color: #000;
				}
				.old-price {
					right: 5px;
					font-size: 16px;
					color: #96969b;
				}
			}
		}

		.modal-dialog {
			margin: 0 5px;
		}
		.modal-header {
			padding: 10px 20px 25px;
		}

		.modal-footer {
			padding: 20px;
			display: flex;
			flex-wrap: wrap;

			.button {
				padding: 10px 0;
				margin-bottom: 0;
				order: 2;
				line-height: 1.3;
				font-weight: 700;
				width:100%;

				&:nth-of-type(2) {
					order: 1;
					margin-bottom: 20px;
				}
			}
		}
	}

	.modal-body {
		padding: 20px;
	}

	.modal-wnd-list-item {
		.separate-border-bottom-custom-color(20px, 20px, #d9d9d9);
	}

	.modal-wnd-list-info {
		.modal-wnd-list-price {
			margin-bottom: 7px;
		}
	}

	.modal-wnd-list-description {
		margin-bottom: 20px;
	}

	.modal-button-wrap {
		.row div:first-child {
			.button {
				margin-bottom: 15px;
			}
		}
	}

	.modal-wnd-title {
		margin-bottom: 30px;
	}

	.modal-wnd-list {
		margin: 0;
		padding: 0;

		.product-item {
			padding: 15px 24px;

			.product-image {
				max-width: 90px;
				margin-right: 20px;
				margin-bottom: 15px;
				display: inline-block;
			}

			.product-content {
				padding-left: 0;

				.product-author {
					margin-left: 0;
					margin-bottom: 20px;
					font-size: 14px;
					clear: both;
				}

				.product-type {
					clear: left;
				}
			}

			.product-sets .sets-list {
				margin-left: 30px;
			}
		}
	}

	.modal-wnd-subtotal {
		.item-price {
			font-size: 18px;
			font-weight: 600;
		}
		.price-disclaimer {
			clear: both;
		}
	}

	.modal-vnd-error {
		margin: 0;
		padding: 7px 24px;

		p a {
			text-decoration: underline;
		}
	}

	.product-sets {
		font-size: 12px;
	}

	.country-form {
		.modal-wnd-list {
			.info {
				line-height: 38px;
				font-size: 22px;
			}
		}
	}

	#addToCartModalWnd {
		.modal-wnd-list {
			overflow-y: initial;
			max-height: none;
		}
	}
}

@media @laptop {
	.modalWindow {
		.modal-body {
			.custom-scroll();
			.modal-wnd-list {
				.product-item {
					display: block;
					padding: 15px 20px 24px;
					.cearfix();

					.product-image {
						margin-right: auto;
						float: left;
					}
		
					.product-content,
					.product-sets {
						width: calc(~"100% - 148px");
						float: right;
					}
				}
			}
		}

		.modal-footer {
			button {
				font-weight: 700;
			}
		}

		.popover {
			width: 400px !important;
		}
	}

	.modal-wnd-list-item {
		.separate-border-bottom-custom-color(20px, 20px, #d9d9d9);
	}

	.modal-wnd-item-button {
		text-align: right;

		.button {
			padding: 0 20px;
		}
	}

	.modal-wnd-item-current-sub {
		text-align: right;
	}

	#payByInvoice .modal-wnd-item-button {
		.button {
			width: auto;
		}
	}

	.modal-button-wrap {
		.button {
			width: 100%;
		}
	}

	.form-forgot-password {
		.button.large {
			margin-top: 24px;
		}
	}

	.modal-wnd-title {
		margin-bottom: 50px;
	}

	.modalWindow {
		.modal-dialog {
			width: 735px;
		}

		.modal-footer {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px;

			.button {
				&:last-of-type {
					margin-left: 40px;
				}
			}
		}
	}

	#facetsListWindow {
		.modal-dialog {
			width: 970px;
		}
	}

	.modal-vnd-error {
		padding: 10px 20px;
	}
}
