.my-account-wrap.order-details {
	.order-details,
	.order-details-total {
		.row {
			margin-bottom: 15px;
		}
	}

	.order-details-total-sum {
		padding-top: 15px;
		font-size: 16px;
		border-top: 1px solid @color-light-gray;

		.row > div:first-child {
			font-size: 16px;
		}

		.row > div:last-child {
			color: @color-teal;
		}
	}

	.order-details-add-info {
		.add-info-title {
			margin-bottom: 15px;
			font-weight: @font-weight-bold;
			font-size: 16px;
		}

		p {
			margin-bottom: 5px;
		}
	}

	.tracking-numbers {
		border-top: 1px solid @color-light-gray;
	}

	.order-details-product-list {
		.product-list-item {
			border-bottom: none;
			padding-bottom: 0;
		}

		.product-list-title {
			margin-bottom: 10px;
		}
	}

	.tracking-numbers-list {
		color: @color-dark-gray-2;

		a {
			text-decoration: underline;
			color: @color-black;
		}
	}

	.items-shipped-item {
		.items-shipped {
			background-color: @color-super-light-gray;
		}

		&:last-child {
			.tracking-numbers-list {
				margin-bottom: 0;
			}
		}
	}
}

@media @mobile {
	.my-account-wrap.order-details {
		.order-details-top {
			margin-bottom:	20px;

			.order-number {
				border-bottom: 1px solid @color-light-gray;
				margin-bottom: 15px;
			}

			.order-details-total-sum {
				border-bottom: 1px solid @color-light-gray;
			}
		}

		.order-details-add-info {
			margin-bottom: 20px;
			padding-bottom: 20px;

			.row .row > div:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		.tracking-numbers {
			padding-top: 20px;
		}

		.order-details-product-list {
			padding-bottom: 20px;

			.product-list-info {
				padding-left: 75px;
			}
		}

		.tracking-numbers-title {
			font-size: 22px;
			margin-bottom: 15px;
		}

		.tracking-numbers-list {
			margin-bottom: 20px;

			.row > div {
				margin-bottom: 5px;
			}
		}

		.items-shipped-item {
			.items-shipped {
				margin-bottom: 20px;
				padding: 10px;
			}

			.items-shipped-text {
				font-size: 14px;
				color: @color-dark-gray-2;
			}
		}
	}
}

@media @laptop {
	.my-account-wrap.order-details {

		.order-details-top,
		.order-details-add-info  {
			margin-bottom: 110px;

		}

		.tracking-numbers {
			padding-top: 35px;
		}

		.order-details-product-list {
			padding-bottom: 35px;

			.product-list-info {
				padding-left: 144px;
			}
		}

		.tracking-numbers-title {
			font-size: 26px;
			margin-bottom: 15px;
			color: @color-black;
		}

		.tracking-numbers-list {
			margin-bottom: 35px;
			font-size: 12px;

			.row {
				margin-bottom: 2px;
			}
		}

		.items-shipped-item {
			.items-shipped {
				padding: 15px 20px;
				margin-bottom: 35px;

				label {
					font-size: 14px;
					color: @color-dark-gray-2;
				}
			}
		}
	}
}