.my-company.business-units-view-details {
	font-size: 12px;

	h2 {
		font-size: 26px;
		word-wrap: break-word;
	}

	.my-company-wrap a {
		color: @color-teal;
		text-decoration: underline;
	}

	.unit-item-row {
		word-wrap: break-word;
	}
}

@media  @mobile {
	.my-company.business-units-view-details {
		.unit-item:not(:last-of-type) {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid @color-light-gray;
		}

		h2 {
			margin-bottom: 20px;
		}

		.unit-summary {
			padding-bottom: 20px;
			border-bottom: 1px solid @color-light-gray;
		}

		.unit-summary-item:not(:last-of-type) {
			margin-bottom: 20px;
		}

		.unit-item-row:not(:last-of-type) {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid @color-light-gray;
		}

		.thead {
			margin-bottom: 7px;
			font-family: "Open Sans Bold";
			color: @color-mid-gray;
		}

		.col-xs-12:not(:last-of-type) .td {
			margin-bottom: 20px;
		}

		.button-outlined {
			margin-top: 20px;
		}
	}
}


@media @laptop {
	.my-company.business-units-view-details {

		.my-company-wrap {
			padding-top: 35px;
			border-top: 1px solid @color-light-gray;
		}

		h2 {
			margin-bottom: 35px;
			padding-bottom: 35px;
			border-bottom: 1px solid @color-light-gray;
		}

		.unit-item {
			margin-bottom: 65px;

			.thead {
				margin-bottom: 15px;
				font-family: "Open Sans Bold";
				color: @color-mid-gray;
			}
		}

		.td {
			margin-bottom: 5px;
		}

		.button-edit {
			margin-right: 15px;
		}
	}
}