.my-company.create-user {
	.site-form {
		form > .form-cell:last-child {
			margin-bottom: 0;
		}
	}

	.user-roles-option .checkbox-component:not(:last-child) {
		margin-bottom: 10px;
	}
}

@media @mobile {
	.my-company.create-user {

		h2 {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid @color-light-gray;
		}

		.my-account-button-wrap {
			margin-bottom: 20px;
		}

	}
}

@media @laptop {
	.my-company.create-user {

		.my-company-wrap {
			padding-top: 10px;
			border-top: 1px solid @color-light-gray;
		}
	}
}