.progress-line {
	padding: 70px 0 55px 0;
	color: #757472;
	background-color: @color-super-light-gray;

	.progress-number {
		position: absolute;
		top: 0;
		left: 0;
		height: 30px;
		width: 30px;
		padding: 4px 0 0 0;
		border: 2px solid transparent;
		font-size: 15px;
		text-align: center;
		background: @color-super-light-gray;
	}

	.progress-text {
		position: absolute;
		top: -32px;
		left: 30px;
		font-size: 12px;
	}

	.progress-item {
		position: relative;
		display: table-cell;
		min-width: 245px;

		&:last-child {
			min-width: 30px;
		}

		&:before {
			content: "";
			position: absolute;
			top: 12px;
			left: 15px;
			display: block;
			width: 245px;
			height: 5px;
			background-color: #d6d6d6;
		}

		&:last-child:before {
			display: none;
		}

		&.passed {
			.progress-number {
				color: #1a1818;
			}

			&:before {
				background-color: @color-dark-gray-2;
			}

			.progress-text {
				color: @color-dark-gray-2;
			}
		}

		&.active {
			.progress-number {
				color: @color-dark-teal;
				border-color: @color-dark-teal;
				border-radius: 15px;
				font-weight: @font-weight-bold;
			}

			.progress-text {
				color: @color-dark-teal;
			}
		}
	}
}