.intro-banner {
	min-height: 0;
	color: @color-white;
	padding: 35px 0;

	h1 {
		font-size: 5.2em;
		color: white;
		margin-bottom: 80px;
	}
}

.line-separator {
	width: 60px;
	height: 1px;
	background: @color-white;
	margin-bottom: 45px;
}

.links-wrapper {
	margin-bottom: 30px;
	a {
		font-size: 14px;
		font-weight: @font-weight-bold;
	}
	& > * {
		&:after {
			content: '';
			display: inline-block;
			margin: 0 10px;
			background: @color-dark-gray-2;
			height: 16px;
			width: 1px;
			vertical-align: middle;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}

.title-layer {
	background: fade(@color-teal, 50%);
	width: 90%;
	border-radius: 50%;
	align-items: flex-end;
	display: flex;
	min-height: 600px;
	padding: 400px 20% 0 25%;
	margin-top: -400px;
	margin-left: -35px;
	.page-title {
		h2 {
			margin: 0;
		}
		span {
			font-size: 1.4em;
		}
	}
}

header.medium-size {
	h2 {
		font-size: 3.6em;
	}
}

header.small-size {
	h5 {
		font-size: 2em;
		margin-bottom: 2em;
	}
}

.section-text {
	& > * {
		&:last-child {
			margin-bottom: 75px;
		}
	}
	ul {
		margin: 40px 15px;
	}
	ol {
		margin: 40px 0 70px 0;
		padding-left: 15px;
		li {
			padding-left: 15px;
		}
	}

	li {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 10px;
	}

}

.resources-for-blocks-wrapper {

	&.component-wrapper {
		margin-bottom: 0;
	}

	.resources-for-blocks-text {
		padding-top: 33px;
		margin-bottom: 70px;

		em {
			font-weight: @font-weight-semibold;
		}
	}

	.resources-for-blocks {
		font-size: 0;
	}

	.resources-for-block {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		margin-bottom: 32px;

		.simple-responsive-banner-component {
			margin: 0;
			text-align: center;
			vertical-align: middle;
			line-height: 92px;
			height: 92px;
			margin-bottom: 20px;

			img {
				width: auto;
			}
		}

		.resources-for-block-title {
			font-weight: @font-weight-semibold;
			font-size: 26px;
			margin-bottom: 5px;
			display: inline-block;
		}

		p {
			font-size: 13px;
			color: @color-mid-gray;
			line-height: 22px;
		}

		.stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
			background-position: @x @y;
			width: @width;
			height: @height;
		}

		.resources-for-icon {
			text-align: center;
			vertical-align: middle;
			line-height: 92px;
			height: 92px;
			margin-bottom: 20px;
		}

		.sprite {
			vertical-align: middle;
			background-image: url("../../common/images/resources-for-icons.png");
			background-repeat: no-repeat;
			display: inline-block;
			height: 100%;
			width: 81px;
			margin: auto;

			&.sprite-Authors {
				.stitches-sprite(-50px, -50px, 72px, 66px);
			}

			&.sprite-Booksellers {
				.stitches-sprite(-222px, -50px, 67px, 85px);
			}

			&.sprite-Corporations {
				.stitches-sprite(-389px, -50px, 65px, 92px);
			}

			&.sprite-Institutions {
				.stitches-sprite(-554px, -50px, 78px, 76px);
			}

			&.sprite-Instructors {
				.stitches-sprite(-732px, -50px, 78px, 67px);
			}

			&.sprite-Librarians {
				.stitches-sprite(-910px, -50px, 82px, 79px);
			}

			&.sprite-Professionals {
				.stitches-sprite(-1092px, -50px, 76px, 66px);
			}

			&.sprite-Researchers {
				.stitches-sprite(-1268px, -50px, 73px, 73px);
			}

			&.sprite-Societies {
				.stitches-sprite(-1441px, -50px, 67px, 67px);
			}

			&.sprite-Students {
				.stitches-sprite(-1608px, -50px, 66px, 77px);
			}
		}
	}

}

@media @mobile {
	.resources-for-blocks-wrapper {
		.resources-for-block {
			width: 50%;
		}
	}
}
