.search-result-page {
	position: relative;
	
	.search-result-header {
		color: @color-black;

		> .container {
			max-width: 1360px;
		}

		.result-count,
		.result-suggestion {
			font-size: 1.4em;
			line-height: 1.35;
		}

		.result-count {
			width: 50%;
			float: right;
			text-align: right;

			b {
				font-weight: 600;
			}
		}

		.result-suggestion {

			a {
				color: inherit;
				text-decoration: underline;
				font-weight: 600;

				&:hover, &:focus {
					text-decoration: none;
				}
			}
		}
	}

	.search-result-tabs {
		display: flex;
		letter-spacing: 0.27px;
		background-color: @color-white;
		border: none;

		li {
			float: none;
			display: flex;
			flex-grow: 1;
			margin-left: 0;
			margin-bottom: 0;
			border: 1px solid #979797;

			&.active {
				background-color: @color-main-gray;
				border: 1px solid @color-main-gray;

				a {
					color: #fff;

					&:hover, &:focus {
						border: none;
						cursor: default;
						color: #fff;
						background: none;
					}
				}
			}

			a {
				display: block;
				height: 43px;
				width: 100%;
				padding: 0;
				margin: 0;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 16px;
				line-height: 41px;
				color: #96969B;
				text-align: center;
				border: none;
				background: none;
				transition: all 0.3s ease-in-out;

				&:hover, &:focus {
					color: @color-teal;
				}
			}

			.nav-tabs-results {
				margin-left: 8px;
				font-weight: normal;
				text-transform: none;
				i {
					font-style: normal;
				}
			}
		}
	}

	.content-block {
		margin-bottom: 25px;
		padding-left: 20px;
		overflow: hidden;

		header{
			margin-bottom: 0;
		}

		h4 {
			color: @color-main-gray;
			margin-bottom: 10px;
			font-family: @font-family-main;
			font-size: 20px;
			line-height: 1.5;
			font-weight: 600;
		}

		h6 {
			font-weight: @font-weight-bold;
			text-transform: uppercase;
			font-size: 1.3em;
			color: @color-mid-gray;
		}

		.subtitle {
			font-size: 16px;
			color: @color-mid-gray;
			display: block;
			line-height: 30px;
		}

		p {
			margin: 0 0 10px;
			color: @color-black;
			line-height: 24px;
			font-size: 14px;
		}

		a {
			color: @color-teal;
			font-size: 14px;
			line-height: 24px;
			font-weight: 600;
			word-break: break-all;
		}
	}

	.search-result-tabs-wrapper {
		width: 100%;
	}

	.select-component.device em {
		font-size: 1.4em;
	}

	.products-list {
		clear: both;
	}

	.product-item{
		margin-bottom: 20px;

		.search-highlight {
			background: @color-text-highlight;
			font-weight: inherit;
		}
	}

	.contentSearchBottomPagination {
		margin-bottom: 0;
	}
}

.lazy-loading-content{
	position: relative;
	padding-bottom: 30px;
}
.page-contentSearchPage{
	.facets-panel-wrapper{
		display: none;
	}
}
.content-list{
	padding-top: 27px;
}


.search-result-page,
.product-listing-page {
	.container {
		max-width: 1340px;
	}
}

.search-results-top-bar {
	.cearfix();

	.sort-panel {
		padding-left: 20px;
		float: left;
		text-align: left;
		
		.select-component {
			select {
				opacity: 0;
			}
		}
	}
}

@media @laptop {
	.page-wth-search-filters,
	.page-productSearchPage,
	.page-contentSearchPage {
		main {
			overflow: hidden;
		}

		.main-header-container .main-sticky-header.affix {
			box-shadow: none;
		}
		.main-navigation-search {
			position: absolute;
			top: 100%;
			left: 50%;
			width: 100%;
			padding-left: 10px;
			margin-left: -380px;
			background-color: #fff;

			> .container {
				margin-left: 0;
				padding-left: 0;
				padding-right: 0;
			}
		}

		.page-header {
			border-bottom: none;
		}

		.product-list-container.scrolled {
			padding-left: 251px;
		}

		.product-list-wrapper {
			padding: 0;

			.product-item {
				padding: 0;
				padding-left: 20px;
			}
		}
	}

	.page-wth-search-filters.page-productList {
		#facetsListWindow + div {
			width: 100%;
			max-width: ~"calc(100% - 290px)";
		}
	}
	
	.search-result-page {
		padding-top: 73px;

		&.scrolled {

			.search-result-header {
				box-shadow: 0 10px 10px -3px rgba(67,99,125,0.11);
			}
		}

		.search-result-header {
			position: fixed;
			top: 151px;
			left: 50%;
			margin-left: -380px;
			padding-top: 5px;
			padding-left: 10px;
			display: flex;
			width: 100%;
			z-index: 100;
			background-color: #fff;

			> .container {
				max-width: 1030px;
				margin-left: 0;
				padding-left: 0;
				padding-right: 0;
			}
		}

		.search-result-tabs {
			float: left;
			width: 100%;
			margin-top: 10px;
		}

		.search-result-tabs-wrapper {
			border-left: 1px solid @color-dark-gray;
			max-width: calc(~"100% - 290px");
			margin-left: auto;
			padding-top: 20px;
			padding-bottom: 70px;
		}

		.product-list-wrapper {
			padding-left: 0;

			.product-item{
				padding: 0;
				padding-left: 20px;
			}
		}
	}

	.page-contentSearchPage {
		.main-header-container .main-sticky-header.affix {
			box-shadow: none;
		}
	}

	.search-results-top-bar {
		margin-bottom: 25px;
	}

	.search-results-top-bar,
	.pagination-bar {
		.select-component {
			&.device {
				&:before {
					position: absolute;
					content: "";
					right: 9px;
					top: 13px;
					display: block;
					width: 8px;
					height: 4px;
					z-index: 10;
					background: none;
					border: 4px solid transparent;
					border-top-color: #000000;
					//transition: all 0.3s;
				}

				em {
					height: 28px;
					padding-left: 10px;
					color: #000000;
					font-size: 14px;
					line-height: 26px;
					border-color: @color-dark-gray;
	
					&:after {
						border: 1px solid @color-dark-gray;
						border-left: none;
					}
				}
			}
		}
	}
}

@media (min-width: 641px) and (max-width: 1400px) {
	.page-wth-search-filters,
	.page-productSearchPage {
		.facets-panel-wrapper.sticky {
			right: auto;
			margin-right: 0;
			left: 10px;
		}
	}
}

@media (min-width: 641px) and (max-width: 1355px) {
	.search-result-page,
	.page-wth-search-filters,
	.page-contentSearchPage {
		.search-result-header,
		.main-navigation-search {
			max-width: ~"calc(100% - 310px)";
			left: 290px;
			margin-left: 0;
			padding-right: 10px;
			padding-left: 10px;
			box-sizing: initial;
		}
	}
}

@media @mobile {
	.search-result-page {
		padding-top: 0!important;
		padding-bottom: 70px;

		.search-result-content {
			.container {
				padding: 0;
			}
		}

		.search-result-header {
			margin-bottom: 0;
			padding: 0;

			&.sticky-tabs {
				> .container {
					padding-bottom: 60px;
				}

				.search-result-tabs {
					position: fixed;
					top: 60px;
					left: 0;
					right: 0;
					width: 100%;
					margin-top: 0;
					z-index: 21;
				}
			}

			> .container {
				padding: 0;
			}

			.result-count,
			.result-suggestion {
				width: 100%;
				padding: 0 10px;
				float: none;
			}

			.result-suggestion {
				padding: 15px 10px;
			}

			.result-count {
				margin-bottom: 7px;
			}
		}

		.search-result-tabs {
			li {
				width: 50%;

				a {
					height: auto;
					line-height: 20px;
					padding-top: 6px;

					.nav-tabs-results {
						display: block;
						margin-left: 0;
						font-size: 12px;
						line-height: 16px;
					}
				}
			}
		}

		.tab-pane {
			padding-bottom: 0;
		}

		.content-block {
			padding: 0 9px;

			h4 {
				line-height: 36px;
				font-size: 18px;
			}

			.subtitle {
				font-size: 16px;
			}

			p {
				font-size: 14px;
				line-height: 24px;
			}

			a {
				font-size: 14px;
				line-height: 24px;
			}

			h6 {
				font-size: 1.3em;
			}
		}
	}

	.search-results-top-bar {
		position: relative;
		padding: 52px 0 24px;

		.sort-panel {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0;
			width: 50%;
			float: none;
		}
	}

	.contentSearchTopPagination {
		height: auto;
		padding: 20px 0 24px;
	}
}