.server-error {
	padding-bottom: 150px;

	.wrap {
		text-align: center;

		p {
			margin-bottom: 30px;
		}
	}

	h1 {
		margin-bottom: 40px;
		b{
			font-weight: 600;
		}
	}

	a {
		color: @color-teal;
	}
}

.wiley-server-error-page {
	height: 100%;

	.server-error {
		text-align: center;
		padding-top: 115px;
		box-sizing: border-box;
		padding-bottom: 70px;

		h1, h2 {
			margin-bottom: 40px;
		}

		p {
			margin-bottom: 0;
		}

		a {
			font-weight: bold;
		}

	}
	.header-light {
		height: 90px;
		text-align: left;
		line-height: 90px;
		margin-bottom: 0;

		.container-fluid {
			border-bottom: 3px solid @color-light-gray;
		}
	}

	.footer-light {
		position: absolute;
		width: 100%;
		bottom: 0;

		a {
			font-weight: bold;
			color: @color-dark-gray-2;
		}

		.container-fluid {
			border-top: 2px solid @color-light-gray;
		}

		.container {
			display: flex;
			height: 90px;
			align-items: center;
			justify-content: space-between;
		}

		.logo {
			width: 105px;
			max-width: 105px;
		}

		.footer-copyright-text {
			width: 100%;
			color: @color-dark-gray-2;
			margin-right: 60px;
		}
	}
}

@media @mobile {
	.wiley-server-error-page {
		.header-light {
			text-align: center;
		}

		.server-error {
			padding-top: 58px;
			h1, h2 {
				margin-bottom: 24px;
			}
		}

		.footer-light {
			.footer-copyright-text {
				margin-right: 10px;
				p {
					font-size: 10px;
					line-height: 14px;
					margin: 0;
				}
			}
		}
	}
}

