.shopping-cart-page {
	.order-button-group {
		.icon-paypal {
			width: 100%;
		}
	}

	.order-total-section {
		.enrolled-in-school {
			margin-top: 25px;
			padding: 10px 15px;
			background: @color-light-gray;
		}

		.info-message {
			display: inline-block;
			padding: 10px 0 0;
			font-size: 12px;
			font-style: italic;
			color: #1a1818;
		}

		.inter-school {
			margin: 15px 0;
		}

		.order-discount div {
			color: @color-dark-teal;
		}

		.free-shipping div {
			color: @color-lnk;
		}
	}
}

.product-item-price .item-qty-input {
	width: 30px;
	height: 30px;
	text-align: center;
}

@media @mobile {
	.shopping-cart-page {
		.order-total-top-section {
			padding: 20px 15px;
			margin-bottom: 20px;
			background-color: @color-super-light-gray;
			background-color: @color-super-light-gray;

			.order-summary {
				position: relative;
			}

			.text {
				padding-right: 25px;
				font-size: 18px;
				color: @color-dark-teal;
			}

			.help {
				display: block;
				position: absolute;
				right: 0;
				top: -1px;
				width: 20px;
				height: 20px;
				background: transparent url('../images/help.png') no-repeat right top;
				text-decoration: none;
			}
		}

		.promotion-text {
			display: none;
		}

		.enrolled-in-school {
			margin-right: -15px;
			margin-left: -15px;
		}

		.order-button-group {
			padding: 15px 0;

			.icon-paypal {
				margin-top: -15px;
			}

			.disabled-paypal {
				margin-top: -15px;
			}
		}

		.continue-shopping {
			text-align: center;

			a {
				font-weight: @font-weight-bold;
				font-size: 12px;
				color: @color-dark-teal;
			}
		}

		.inter-school input[type="text"] {
			height: 34px;
			width: 100%;
			padding: 0 5px;
			border: 1px solid #dcd7d0;
			color: @color-dark-gray-2;
			font-size: 12px;
			box-shadow: none;
		}

		.order-brief-section {
			margin-bottom: 20px;
		}
	}
}

@media @laptop {
	.shopping-cart-page {
		.order-total-section {
			border-radius: 0;

			.order-total-list {
				padding-top: 35px;
				margin-bottom: 25px;
			}

			.order-total-item {
				margin-bottom: 15px;
				font-size: 14px;
				color: @color-black;
			}

			.order-total-info {
				padding: 0 15px;
				margin: 0 0 5px 0;
				background: none;
				border-radius: 0;
				color: @color-black;
			}

			.order-promotion-code {
				display: block;
				padding: 0 15px;

				.promotion-field {
					.promo-message {
						line-height: inherit;

						.button {
							padding: inherit;
						}
					}
				}
			}

			.inter-school input[type="text"] {
				width: 100%;
				font-size: 15px;
				height: 48px;
				padding-left: 25px;
			}

			.button-main {
				display: block;
			}

			.order-button-group {
				padding: 20px 15px;

				.icon-paypal {
					margin-top: -20px;
				}

				.disabled-paypal {
					margin-top: -20px;
				}
			}
		}
	}
}
