
.site-map-page {
    .breadcrumbs {
        position: relative;
        top: -8px;
        padding-bottom: 18px;
    }
    
    h1 {
        margin-bottom: 30px;
        color: @color-main-gray;
    }
}

.sitemap-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px solid #96969B;

    &:last-of-type {
        border-bottom: none;
        margin-bottom: -15px;
    }

    .sitemap-lists-col {
        margin-bottom: 15px;
        padding-left: 20px;

        > li {
            margin-bottom: 15px;
            margin-left: 0;
            padding-left: 0;
            ul {
                padding-left: 50px;
                margin: 0;

                li {
                    margin: 0;
                    padding: 0;

                    ul {
                        padding-left: 23px;
                    }
                }
            }
        }
    }
}

.sitemap-section-header {
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: @color-main-gray;
    font-family: @font-family-main;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.sitemap-list-block {
    margin-bottom: 15px;
}

.sitemap-lists-col {
    width: 50%;
    margin-bottom: 15px;
    padding-left: 20px;
    list-style: none;
    > li {
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 0;
        }

        a {
            color: @color-teal;
        }
        
        > a,
        > h3,
        > span {
            display: inline-block;
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.27px;
            line-height: 22px;
            text-transform: none;

            &:last-child {
                margin-bottom: 0;
            }

            &:empty {
                display: block;
                margin: -15px 0 0;
            }
        }

        > h3,
        > span {
            color: @color-main-gray;
        }

        ul {
            padding-left: 50px;
            list-style: none;
        
            li {
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: -22px;
                    width: 4px;
                    height: 4px;
                    background-color: @color-teal;
                    border-radius: 50%;
                }

                a {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }

    li {
        > span {
            color: @color-main-gray;
        }
    }
}

.sitemap-list-header {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: @color-teal;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.27px;
    line-height: 22px;
}

.sitemap-list {
    padding-left: 50px;

    li {
        
        a {
            color: @color-teal;
            font-size: 14px;
            font-weight: 600;
            line-height: 2;
        }
    }
}

@media @mobile {
    .site-map-page {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }

        .breadcrumbs {
            top: 0;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 18px;
            line-height: 24px;
        }
    }

    .sitemap-lists-col {
        width: 100%;

        > li {
            > a,
            > h3,
            > span {
                letter-spacing: 0.27px;
                font-size: 15px;
            }

            ul li a {
                line-height: 22px;
            }
        }
    }

    .sitemap-section-header {
        margin-bottom: 15px;
    }

}