.site-form {
	color: @color-dark-gray-2;

	h4 {
		font-size: 16px;
		font-weight: @font-weight-bold;
		margin-bottom: 5px;
	}

	h1 {
		font-weight: @font-weight-bold;
		margin-bottom: 5px;
		margin-top: 10px;
	}

	p {
		font-size: 12px;
	}

	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="email"] {
		width: 100%;
		height: 28px;
	}

	select,
	input[type="text"] {
		.half-size {
			width: 50%;
		}
	}

	.form-cell {
		margin: 0 0 20px 0;

		&.thin {
			margin-bottom: 10px;
		}

		&.heading {
			font-weight: @font-weight-bold;
		}
	}

	.form-label {
		margin: 0 0 2px 0;

		label {
			font-size: 14px;
			font-weight: normal;
		}
	}

	.form-field {
		.strength-meter-component {
			@colors: #50c800, #f0ad4e, @color-light-red;
			@titles: strong, normal, week;
			@length: length(@titles);

			height: 20px;
			width: 100%;
			color: @color-white;
			border: 1px solid #d5d3d3;

			.meter-variation(@titles; @colors; @length);
		}

		input[type="text"],
		input[type="password"],
		input[type="date"],
		input[type="email"] {
			padding: 0 5px;
			color: @color-dark-gray-2;
			border: 1px solid #dcd7d0;
			font-size: 12px;
		}
	}

	.help-block {
		font-size: 12px;
	}
}

.has-error {
		#password_minchar {
			display: none;
		}
	}

.central-form {
	a {
		font-size: 12px;
		color: @color-dark-teal;
	}

	.form-cell:last-child {
		margin-bottom: 0;
	}
}

@media @laptop {
	.central-form {
		margin: 0 auto;
		max-width: 330px;

		.button-main {
			margin-top: 20px;
		}
	}
}



