.terms-conditions {
	font-size: 12px;

	.terms-and-cond-nav {
		padding: 15px;
		background-color: @color-super-light-gray;

		.nav-item {
			display: block;
			font-family: "Open Sans Bold";
			font-size: 14px;
			color: @color-dark-gray-2;

			.item-number {
				display: table-cell;
			}

			a {
				display: table-cell;
				color: inherit;
				text-decoration: underline;
			}

			a:hover {
				text-decoration: none;
				color: inherit;
			}

			&:not(:last-of-type) {
				margin-bottom: 15px;
			}
		}
	}

	.terms-and-cond-title {
		display: block;
		margin-bottom: 20px;
		font-size: 16px;
		color: @color-black;
		text-decoration: none;
	}

	.terms-and-cond-description {
		margin-bottom: 20px;
	}
}

#termsAndConditionsModal {
	.top-anchor {
		position: absolute;
		top: 0;
	}
}

@media @mobile {
	.terms-conditions {
		.my-account-wrap {
			border-top: 1px solid @color-light-gray;
			padding-top: 20px;
		}
	}
}

@media @laptop {
	.terms-conditions {
		h1 {
			margin-top: 0;
		}
	}
}
