@grid-gutter-width: 30px;

@screen-xs: 320px;
@screen-sm: 641px;

@container-sm: 100%;
@container-desktop: 100%;
@container-large-desktop: 100%;

// Media queries
@mobile: ~"(max-width: 640px)";
@tablet: ~"(min-width: 641px) and (max-width: 1240px)";
@laptop: ~"(min-width: 641px)";
@retina: ~"(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)";

// Fonts
@font-family-main: 'Open Sans', sans-serif; // body
@font-family-secondary-pro: 'Source Serif Pro', serif;

//Font-weight
	@font-weight-extra-light:100;
	@font-weight-light:200;
	@font-weight-demi:300;
	@font-weight-normal:400;
	@font-weight-regular:400;
	@font-weight-medium:500;
	@font-weight-semibold:600;
	@font-weight-bold:700;
	@font-weight-extra-bold:800;
	@font-weight-fat:900;

/* style guide color palette */

	/* --------- primary ------------- */
		@color-blue: #0E3D5D; // old #06B2FA;
		@color-blue-light: #025274;
		@color-blue-6: lighten(@color-blue, 40%);
		@color-blue-3: lighten(@color-blue, 70%);
		@color-blue-1: lighten(@color-blue, 90%);
		@color-teal: #009CA9; // old #1aa6b1;
		@color-teal-light: #00B1C2; // old #1aa6b1;
		@color-teal-6: lighten(@color-teal, 40%);
		@color-teal-3: lighten(@color-teal, 70%);
		@color-teal-1: lighten(@color-teal, 90%);
		@color-black: #000000; // old #1B1C1D;
		@color-black-8: lighten(@color-black, 20%);
		@color-black-6: lighten(@color-black, 40%);
		@color-white: #FFF;


	/* --------- shades of gray --------- */
		@color-main-gray:#414245;
		@color-gray-bg:#EFEFF0;
		@color-dark-gray:#C2C3C6;
		@color-mid-gray:#D8D9DA;



	/* --------- accent colours --------- */
		@color-orange:hsl(25, 100%, 50%); //#FF6C00;
		@color-orange-6:lighten(@color-orange, 40%);
		@color-orange-3:lighten(@color-orange, 70%);
		@color-orange-1:lighten(@color-orange, 90%);

	/* --------- secondary --------- */
		@color-red: hsl(353, 84%, 51%); //#eb1730;
		@color-red-6: lighten(@color-red, 40%);
		@color-red-3: lighten(@color-red, 70%);
		@color-red-1: lighten(@color-red, 90%);
		@color-red-error: hsl(353, 83%, 40%); // #bd1125;
		@color-dark-red-error: #A41022; //old #840C1A;

		@color-green: hsl(155, 92%, 33%); // #07A363
		@color-green-6: lighten(@color-green, 40%);

		@color-text-highlight: #FFECA4;


	/* --------- old variables --------- */
		@color-dark-gray-1: hsl(210, 3%, 16%); // #272829
		@color-dark-gray-2: hsl(210, 2%, 25%); // #404142
		@color-dark-gray-6: lighten(@color-dark-gray-2, 40%);

		@color-gray: hsl(210, 2%, 82%); // #D0D1D2 - light-gray 1
		@color-light-gray:  hsl(210, 3%, 87%); // #DDDEDF - light-gray 2
		@color-super-light-gray:  hsl(210, 5%, 93%); //#EBECED;
		@color-lnk: #5D5D5D;
		@color-dark-teal: hsla(198, 96%, 50%, 1); //#05B0FA
		@color-green-light: #C6DE8C;
		@color-green-dark: #1D5C56;
		@color-mint: #92CB9C;
		@color-light-red: #D22938;
		@color-light-teal: hsla(198, 96%, 50%, .1);

/* end style guide color palette */

/* style guide color palette p3 */

/* end style guide color palette p3 */

@image-border: 1px solid @color-mid-gray;

@solid-border-gray: 1px solid #f4f6f6;

@zindex-main-header-container: 1000;
@zindex-wiley-popover: 999;

@separate-border: 1px solid #f4f6f6;

//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width: 20px;

@header-height: 60px;
@header-height-mobile: 60px;