.asm-panel {
	margin: 0 0 20px;

	.container {
		padding: 10px 0 6px;
		position: relative;
		border-bottom: 2px solid @color-main-blue;

		.clearfix();
	}

	.asm-title {
		position: absolute;
		left: 0;
		bottom: 0;
		height: 32px;
		padding: 0 15px;
		margin: 0;
		background-color: @color-main-blue;
		font-size: 1.8em;
		line-height: 32px;
		color: #fff;
		text-transform: capitalize;
	}

	.asm-agent-info {
		float: right;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid @color-main-blue;
	}

	.asm-user-info {
		float: right;
	}

	.asm-info-label,
	.asm-info-value {
		font-size: 13px;
		color: @color-slate-grey;
	}

	.asm-info-value {
		margin-left: 4px;
		color: @color-main-black;
	}
}

@media @mobile {
	.asm-panel {
		.container {
			padding: 5px 0 2px;
			display: flex;
			flex-flow: column nowrap;
		}

		.asm-title {
			height: 46px;
			padding: 0 10px;
			font-size: 1.5em;
			line-height: 44px;
		}

		.asm-agent-info,
		.asm-user-info {
			display: flex;
			flex-flow: row nowrap;
			float: none;
			margin-left: 130px;
			margin-right: 10px;
			padding: 2px 0 3px;
			text-align: right;
		}

		.asm-agent-info {
			border-right: none;
			border-bottom: 1px solid @color-main-blue;
			order: 1;
		}

		.asm-user-info {
			order: 2;
		}

		.asm-info-label,
		.asm-info-value {
			font-size: 12px;
		}

		.asm-info-label {
			padding-left: 3px;
		}

		.asm-info-value {
			flex-grow: 1;
			padding-right: 3px;
		}
	}
}