.button {
	display: inline-block;
	margin-bottom: 0; // For input.button
	padding: 11px 20px;
	font-weight: normal;
	font-size: 1.6em;
	text-align: center;
	vertical-align: middle;
	min-width: 150px;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid @color-main-blue;
	color: @color-main-blue;
	border-radius: 3px;
	background-color: white;
	.user-select(none);

	&,
	&:active,
	&.active {
		&:focus {
			.tab-focus();
		}
	}

	&:hover,
	&:focus {
		text-decoration: none;
		color: @color-main-blue;
	}

	&:active,
	&.active {
		.box-shadow(none);
	}

	&.disabled,
	&[disabled] {
		cursor: not-allowed;
		pointer-events: none; // Future-proof disabling of clicks
		opacity: 0.4;
		.box-shadow(none);
	}

	&.button-main {
		background-color: @color-main-blue;
		color: @color-white;
		&.disabled{

		}
	}
	&.button-red{
		background: @color-red;
		color: @color-white;
		border: 1px solid @color-red;
	}
	&.button-secondary{
		background: #f4f4f4;
		color: @color-main-black;
		border-color: #B3B3B3;
		font-size: 1.4em;
		padding: 10px 20px;
		&.button-add-services {
			padding-right: 57px;
			padding-left: 57px;
			font-size: 1.6em;
		}
	}

	&.right{
		float: right;
	}

	&.small{
		height: 35px;
		line-height: 35px;
		padding: 0 20px;
		min-width: 0;
		font-size: 1.3em;
	}

	&.place-order-btn {
		margin-right: 30px;
	}

	&.item-invoice-button {
		padding: 5px 20px;
		min-width: auto;
		font-size: 1.4em;
	}
}

@media @mobile {
	.button{
		width: 100%;
		padding: 11px 25px;
		margin: 20px 0 0;
		font-size: 1.8em;

		&.button-secondary{
			&.button-add-services {
				font-size: 1.8em;
				padding:0;
			}
		}

		&.small{
			height: auto;
			min-width: auto;
			padding: 11px 25px;
			line-height: normal;
			font-size: 1.8em;
		}

		&.place-order-btn {
			margin-right: 0;
			margin-top: 34px;
		}
	}
}