.shopping-cart-checkout {
	.panel-group {
		padding-top: 38px;
	}
}

.panel-group {
	padding-top: 30px;
	width: 100%;
	.panel {
		box-shadow: none;
		margin: 0;
		& + .panel {
			margin-top: 0;
		}
		&:last-child{
			.panel-collapse.in{
				border-bottom: 1px solid #9d9d9d;
			}
			.panel-title {
				border-bottom: 1px solid #9d9d9d;
			}
		}
	}

	.panel-body {
		padding: 22px 15px;
	}
	.panel-title {
		font-size: 2.4em;
		padding: 35px 25px;
		border-top: 1px solid #9d9d9d;
		border-bottom: 1px solid #9d9d9d;
		position: relative;
		display: block;
		color: @color-slate-grey;
		text-decoration: none;
		margin-bottom: -3px;
		&:hover {
			text-decoration: none;
		}

		&:after {
			position: absolute;
			content: '>';
			display: block;
			top: 50%;
			margin-top: -17px;
			right: 26px;
			transform: rotate(-90deg) scale(0.8, 1.3);
			transition: all 0.3s;
			font-size: 26px;
			font-weight: 400;

		}
		&.completed{
			&:before{
				content: "";
				display: block;
				position: absolute;
				right: 80px;
				top:0;
				bottom:0;
				margin: auto;
				width: 30px;
				height: 30px;
				background: url("../images/green_check_icon@2x.png") no-repeat;
				background-size: 28px;
			}
		}
		&.collapsed {
			&:after {
				transform: rotate(90deg) scale(0.8, 1.3);
			}
		}
	}
	.form-wrapper {
		border: 1px solid #e6e6e6;
		border-radius: 3px;
		background: #f7f7f7;
		display: flex;
		flex-wrap: wrap;

		.form-title-button {
			float: right;
			margin-top: -28px;
			padding: 0 15px;
		}

		.form-field label {
			margin-right: 0;
			max-width: 32%;
			min-width: 32%;
			flex: auto;
		}
		.form-top {
			padding: 30px 20px 0 20px;
			width: 100%;
		}
		.form-content {
			padding: 15px 20px 0 20px;
			margin-top: 15px;

			&.column {
				width: 50%;
				margin-bottom: 15px;
				.form-controls-wrapper{
					&:nth-child(2) {
						border-bottom: 1px solid #b9bbbd;
						margin-bottom: 25px;
					}

				}
				&:first-child {
					padding-right: 30px;
				}
				&:nth-child(2) {
					padding-left: 30px;
					border-left: 1px solid #b9bbbd;
				}
				.additionalBillingInfoForm {
					.form-controls-wrapper {
						margin-top: 24px;
						padding-bottom: 18px;
					}

					.input-group {
						margin-bottom: 10px;

						&:nth-child(2) {
							margin-bottom: 20px;
						}
					}
				}
				.taxExemptionDetailsForm {
					.form-controls-wrapper {
						margin-top: 24px;
						padding-bottom: 15px;
						border-bottom: none;

						.input-group {
							margin-bottom: 0;
						}
					}
				}
				.input-group {
					margin-bottom: 10px;
					margin-top: 15px;
					&:first-child {
						margin-top: 0;
					}
				}

			}
		}

		.form-footer {
			border-top: 1px solid #b9bbbd;
			padding: 18px 20px;
			overflow: hidden;
			width: 100%;
			.button {
				float: right;
			}
		}

	}
}

.tab-content{
	width: 100%;
}

.tab-links {
	padding-top: 30px;
	padding-bottom: 32px;
	border-bottom: 1px solid #b9bbbd;

	li {
		list-style: none;
		display: inline-block;
		&.tab-link-paypal {
			[type="radio"] + label {
				span {padding-right: 10px;}
			}
			img {
				width: 66px;
				vertical-align: middle;
			}
		}
		input[disabled] + label {
			opacity: 0.4;

			span {
				cursor: default;
			}
		}
		[type="radio"] + label {
			min-height: auto;
			position: initial;
			padding: 0;
			margin: 0;
			font-size: 1.6em;
			font-weight: initial;

			span {
				position: relative;
				padding-right: 40px;
				cursor: pointer;
				text-transform: none;
				line-height: 13px;
				display: inline-block;
				padding-left: 23px;
				color: #909397;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 13px;
					height: 13px;
					border: 1px solid #929599;
					border-radius: 50%;
					background: @color-white;
				}

				&:after {
					content: '' !important;
					width: 7px;
					height: 7px;
					background: #00a8ff;
					box-shadow: 0 0 2px #00a8ff;
					position: absolute;
					top: 3px;
					left: 3px;
					border-radius: 50%;
					-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
					opacity: 0;
					-webkit-transform: scale(0);
					transform: scale(0);
				}

			}
		}

		&.active {
			span {
				font-weight: bold;
			}
			[type="radio"] + label {
				span {
					color: #909397;

					&:before {
						border-color: #00a8ff;
					}

					&:after {
						opacity: 1;
						-webkit-transform: scale(1);
						transform: scale(1);
					}

					img {
						opacity: 1;
					}
				}
			}
		}
	}

}

.card-type-icons {
	width: 50%;
	white-space: nowrap;
	img {
		border-radius: 2px;
		width: 60px;
		margin-right: 10px;
		opacity: 1;
	}
}


.form-controls-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-top: 42px;
	padding-bottom: 0;
	color: #909397;

	&.payment-controls-custom {
		margin-top: 32px;
	}

	.tax-details {
		margin-bottom: 20px;
		font-size: 1.6em;
	}
	.tax-details-country-name {
		font-weight: bold;
	}
	label {
		min-width: 130px;
	}
}

#credit-card-tab {
	.input-group {
		width: 45%;
		margin-bottom: 38px;
	}
}

.required-field-legend {
	position: relative;
	margin-bottom: -15px;
	margin-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	font-style: italic;
	font-size: 1.4em;
	color: #00a8ff;

	&:before {
		content: "";
		width: 4px;
		height: 4px;
		position: absolute;
		top: 2px; left: 0;
		border-radius: 50%;
		background-color: #00a8ff;
	}
}

@media @mobile {
	.shopping-cart-checkout {
		.panel-group {
			width: auto;
			margin: 0 -5px;

			.form-wrapper {
				.form-footer {
					padding: 12px 5px 35px;
				}
			}
		}
	}
	.required-field-legend{
		margin-bottom: 0;
		margin-top: 5px;
	}
	.card-type-icons {
		width: 100%;
		margin: 5px 0 10px 0;
		order:0;
	}
	#credit-card-tab {
		.input-group {
			width: 100%;
			margin-bottom: 15px;
			order: 1;
		}
	}

	.panel-group {
		.panel-body {
			padding: 0;
		}
		.form-wrapper {
			border: none;
			border-radius: 0;
			.form-top {
				padding: 30px 10px 0;
			}
			.form-title-button{
				float: none;
				margin: 20px 0 0;
				width: 100%;
				padding: 11px 15px;
			}
			.form-title {
				font-size: 1.6em;
			}
			.form-field label {
				width: 100%;
				flex: 1;
				min-width: 100%;
			}
			.form-footer{
				padding: 18px 0;
			}
			.form-content {
				padding: 15px 7px 20px;
				&.column {
					width: 100%;
					.input-group{
						margin-top: 0;
						margin-bottom: 0;
					}
					&:first-child{
						padding-right: 10px;
						border-bottom: 1px solid #b9bbbd;
					}
					&:nth-child(2) {
						margin-top: 9px;
						margin-bottom: 0;
						padding-left: 7px;
						padding-top: 0;
						padding-bottom: 10px;
						border-left: none;
					}

					.additionalBillingInfoForm {
						.form-controls-wrapper {
							margin-top: 8px;
						}
					}

					.taxExemptionDetailsForm {
						.form-controls-wrapper {
							margin-top: 16px;
							margin-bottom: 0;
							padding-bottom: 0;
							border-bottom: none;
						}
					}
				}
			}
		}

		.panel-title {
			&:after {
				right: 15px;
			}
			&.completed{
				&:before{
					right: 40px;
				}

			}
		}
	}

	.tab-links {
		li {
			width: 100%;
			margin-bottom: 15px;
			[type="radio"] + label {
				font-size: 1.4em;
			}
		}
	}

	.form-controls-wrapper {
		margin-top: 0;

		.tax-details {
			margin-bottom: 0;
			font-size: 1.4em;
			p {
				line-height: 20px;
			}
			.tax-details-country-name {
				margin-bottom: 5px;
			}
		}
	}
}

