.form-wrapper {
	&.order-review-block {
		.custom-checkbox{
			text-transform: none;
		}
		.form-top {
			border-bottom: 1px solid #b9bbbd;

			.form-title {
				position: relative;
				margin-bottom: 30px;

				.button-view-details {
					position: absolute;
					left: auto;
					right: 0;
					bottom: auto;
					top: 8px;
					font-size: 14px;

					&:after {
						top: -8px;
					}

					.word-more,
					.word-less {
						margin-left: 4px;
					}

					.word-more {
						display: none;
					}

					&.collapsed {
						.word-less {
							display: none;
						}

						.word-more {
							display: inline;
						}
					}
				}
			}
		}

		.form-footer {
			text-align: right;

			label {
				float: right;
				color: @color-main-blue;
			}
		}
	}
}

.order-review-payment,
.order-review-billing {
	position: relative;
	padding: 30px 20px 0 20px;
	width: 100%;
}

.order-review-section-title {
	font-size: 2em;
	color: @color-slate-grey;
	margin-bottom: 30px;
}

.order-review-items-list {
	margin-bottom: 40px;
}

.order-review-item {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 20px;
	font-size: 1.6em;
	color: @color-slate-grey;

	.order-review-label {
		width: 225px;
	}

	.order-review-value {
		word-wrap: break-word;
		width: calc(~"100% - 225px");
	}
}

.order-review-edit-button {
	position: absolute;
	top: 20px; right: 20px;
	background-color: #fff;
}

.order-review-table {
	overflow: hidden;
	width: 100%;

	.products-table {
		.table-head {
			.item-total {
				width: auto;
				flex-grow: 1;
			}
		}
		.table-body {
			padding: 0 20px;
			border: none;
			box-shadow: inset 0 17px 30px -30px #000;

			.table-body-row {
				padding-right: 15px;
				padding-left: 15px;

				.table-body-item {
					&.item-total {
						flex-grow: 1;
						width: auto;
						margin-right: 0;
					}

					.item-price-discount {
						right: 15px;
					}
				}
			}
		}
	}

	.clearfix();

	.product-summ-total {
		width: 270px;
		float: right;
		margin: 30px 35px 30px 0;
		padding: 0;

		.total-row {
			padding-left: 0;
			color: @color-main-black;
			font-size: 1.6em;
		}
	}
}

@media @mobile {
	#cart-order-review{
		.form-wrapper {
			&.order-review-block {
				.form-top {
					padding: 22px 7px 0;

					.form-title {
						.button-view-details {
							top: 4px; right: 9px;
							margin: 0;
						}
					}
				}

				.form-footer {
					border-top: none;
					padding: 6px 10px 10px;
				}

				.tab-content{
					border-bottom: 1px solid #b9bbbd;
				}
			}
		}
	}


	.shopping-cart-checkout {
		.panel-group {
			.panel-title {
				padding: 25px 7px 23px;
				font-size: 2em;
			}

			.panel-body {
				padding: 0;
			}

			.form-wrapper {
				border: none;
				border-radius: 0;
			}
		}
	}

	.order-review-table {
		.product-summ-total {
			width: auto;
			margin: 15px 15px 15px 104px;
			float: none;
		}

		.products-table {
			.table-body {
				padding: 0;

				.table-body-row {
					padding: 25px 15px 10px;
				}
			}
		}
	}

	.order-review-section-title {
		margin-bottom: 20px;
		font-size: 1.6em;
	}

	.order-review-payment,
	.order-review-billing {
		padding: 22px 7px 0;
	}

	.order-review-item {
		font-size: 1.4em;

		.order-review-label {
			width: 170px;
		}

		.order-review-value {
			width: calc(~"100% - 170px");
		}
	}

	.order-review-items-list {
		margin-bottom: 20px;
	}

	.order-review-edit-button {
		position: static;
		width: 100%;
		margin-bottom: 25px;
		font-size: 1.8em;
	}
}