.order-summary {
	padding: 28px 20px 0 18px;
	border: 1px solid @color-main-blue;
	background-color: #f2fbff;
}

.order-summary-title {
	margin: 0 0 30px;
	padding: 0 8px;
	font-size: 2.2em;
	font-weight: 400;
	color: @color-slate-grey;
}

.order-summary-product-summ {
	display: flex;
	flex-flow: row wrap;
}

.product-summ-wr {
	display: flex;
	flex-flow: row nowrap;
	width: 68.5%;
	position: relative;
	margin-bottom: 70px;
	padding-left: 8px;
	border-right: 1px solid #909397;
}

.product-summ-image {
	width: 13.6%;
	margin-right: 40px;
	padding-top: 5px;

	img {
		max-width: 75px;
	}
}

.product-summ-description {
	width: calc(~"86.4% - 40px");
	padding-top: 5px;

	.description-items-list {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		margin-bottom: 8px;
		align-items: flex-start;
	}

	.product-label {
		margin: 0 10px 0 0;
	}

	.item-description-title {
		font-size: 1.6em;
		font-weight: 400;
	}
}

.product-summ-total {
	width: 31.5%;
	margin-bottom: 73px;
	padding-right: 8px;

	.total-row {
		display: flex;
		flex-flow: row nowrap;
		padding-left: 75px;
		margin-bottom: 12px;
		font-size: 1.4em;

		&:last-of-type {
			margin-bottom: 0;

			.item-total-value, .item-total-label {
				font-weight: 600;
			}
		}
	}

	.item-total-label {}

	.item-total-value {
		text-align: right;
		flex-grow: 1;
	}
}

.button-view-details {
	position: absolute;
	left: 138px;
	bottom: -20px;
	padding-right: 28px;
	font-size: 1.6em;
	font-weight: 600;
	color: @color-main-blue;

	&.collapsed {
		&:after {
			transform: rotate(90deg) scale(0.8, 1.3);
		}
	}

	&:after {
		content: ">";
		position: absolute;
		right: 0;
		top: -5px;
		font-size: 26px;
		font-weight: 300;
		transform: rotate(-90deg) scale(0.8, 1.3);
		transition: all 0.3s;
	}

	&:hover,
	&:focus {
		color: @color-main-blue;
		text-decoration: none;
	}
}

.product-summ-table {
	width: 100%;
	&.collapse.in {
		margin-bottom: 18px;
	}

	&.products-table {
		border: none;

		.table-body {
			background-color: #fff;
			border-color: #d7d7d7;

			.table-body-row {
				padding: 30px 17px;
				border-color: #d7d7d7;

				.table-body-item {
					&.item-description {
						flex-grow: 1;
					}

					&.item-total {
						margin-right: 0;
					}
				}
			}
		}
	}
}

@media @mobile {
	.order-summary {
		padding: 20px 15px;
	}

	.order-summary-title {
		margin-bottom: 20px;
		font-size: 1.6em;
	}

	.product-summ-wr {
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 0;
		padding: 0;
		border-right: none;
		border-bottom: 1px solid #d7d7d7;
	}

	.product-summ-image {
		width: 70px;
		margin-right: 10px;

		img {
			max-width: 100%;
		}
	}

	.product-summ-description {
		width: calc(~"100% - 80px");
		.item-description-title{
			 word-wrap: break-word;
			 overflow: hidden;
		}
	}

	.button-view-details {
		position: relative;
		left: 0;
		bottom: 0;
		margin: 16px 0 25px 80px;
	}

	.product-summ-total {
		width: 100%;
		padding: 20px 0 0;
		margin-bottom: 0;
		order: 2;
	}

	.product-summ-table {
		&.products-table {
			margin: 0;
			order: 1;

			.table-body {
				padding: 0 10px;
				border-top: none;

				.table-body-row {
					padding: 20px 0;
				}
			}
		}
	}
}