.select-component {
	position: relative;
	width: 100%;

	&.middle {
		width: 270px;
	}
	&.small {
		max-width: 130px;
		margin-right: 10px;
	}
	select {
		position: absolute;
		z-index: 0;
		width: 10px;
		height: 1px;
		left: 5px;
		bottom: 5px;
	}

	/* .select-component styling for mobile, tablet device */
	&.device {
		position: relative;
		&.small {
			flex: 0.5;
			&:last-child {
				margin-right: 0;
			}
		}
		&.middle {
			flex: 1;
		}
		select {
			width: 100%;
			left: 0;
			top: 0;
			position: absolute;
			height: 100%;
			box-sizing: border-box;
			opacity: 0;
			z-index: 20;
		}

		&:before {
			background-image: url('../images/arrows-for-select@3x.png');
			background-size: 104% 201%;
			background-position: 0 -8px;
			content: '';
			width: 13px;
			height: 8px;
			right: 10px;
			top: 17px;
			display: inline-block;
			left: auto;
			margin-top: -3px;
			position: absolute;
			z-index: 10;
		}

		&.select-open {
			&:before {
				//transform-origin: top;
				//transform: translate(0%, 50%) rotate(180deg) ;
			}
		}

		em {
			.select-menu-input;
			white-space: nowrap;
			overflow: hidden;
			padding-right: 30px;
			text-overflow: ellipsis;

			&:after {
				content: "";
				.select-menu-button;
			}
		}
	}
	/* end .select-component styling for mobile, tablet device */

}

#addressForm{
	.select-component{
		overflow: hidden;
	}
}

/* styling for jquery-ui menu */
.ui-selectmenu-menu .ui-menu {
	overflow-y: auto;
	border-radius: 0;
	border-color: gray;
	border-top: none;
	padding: 0;

	.ui-state-focus {
		background-color: teal;
		border: none;
		color: @color-white;
		list-style-image: none;
	}

	.ui-menu-item {
		margin: 0;
		padding: 3px 0 3px 10px;
		list-style-image: none;
		font-family: @font-family-main;
		font-size: 14px;
	}
}

/* end styling for jquery-ui menu */

.ui-selectmenu-button {
	overflow: hidden;
	background: @color-white;
	display: block;
	width: 100%;
	height: 36px;
	padding: 0;
	text-align: left;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	border: 1px solid #cbcccd;
	white-space: nowrap;

	&:active {
		color: black;
		border-color: #00a8ff;
	}
	&:hover {
		span.ui-icon, span.ui-icon:focus {
			background-image: url('../images/arrows-for-select@3x.png');
			background-position: 0 -8px;
			margin-top: -3px;
		}

	}

	&.ui-selectmenu-button-open, &:focus {
		background: @color-white;
		border-color: #00a8ff;
		span.ui-icon, span.ui-icon:focus {
			background-image: url('../images/arrows-for-select@3x.png');
			background-position: 0 -8px;
			margin-top: -3px;
		}
		&:focus, &:hover {
			background: @color-white;
			border-color: #00a8ff;
			span.ui-icon, span.ui-icon:focus {
				background-image: url('../images/arrows-for-select@3x.png');
				background-position: 0 0;
				margin-top: -5px;
			}
		}
	}

	span.ui-icon, span.ui-icon:focus {
		background-image: url('../images/arrows-for-select@3x.png');
		background-size: 104% 201%;
		background-position: 0 -8px;
		width: 13px;
		height: 8px;
		right: 10px;
		left: auto;
		margin-top: -3px;
	}

	span.ui-selectmenu-text {
		height: 36px;
		display: inline-block;
		width: 100%;
		margin-right: 20px;
		&.placeholder {
			color: rgba(123,131,143, 0.4);
			font-style: italic;
			font-weight: normal;

		}
	}

	&.ui-state-disabled {
		cursor: not-allowed !important;
		pointer-events: all !important;
		&:active, &:focus, &:focus:focus{
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
			border: 1px solid #b3b3b3 !important;
			outline: #b3b3b3;

			span.ui-icon, span.ui-icon:focus {
				background-image: url('../images/arrows-for-select@3x.png');
				background-size: 104% 201%;
				background-position: 0 -8px;
				width: 13px;
				height: 8px;
				right: 10px;
				left: auto;
				margin-top: -3px;
			}
		}
		span.ui-selectmenu-text {
			&.placeholder {
				font-style: normal;
			}
		}
	}
}

.ui-selectmenu-menu {
	max-width: 301px;
	.ui-menu {
		.ui-menu-item {
			font-size: 12px;
			color: @color-slate-grey;
			padding: 5px 20px 5px 5px;
			display: block;
			border-top: 1px solid #909397;
			&:first-child {
				border-bottom: none;
			}
			.ui-state-active {
				border: none;
				background: none;
				color: #00a8ff;
				margin: 0;
				font-weight: bold;
			}
		}
	}
}

/* .select-component  select styling */
.select-component {
	position: relative;

	.ui-selectmenu-button {
		.select-menu-input;

		font-family: @font-family-main;

		.ui-selectmenu-text {
			line-height: inherit;
			padding: 0 25px 0 0;
			font-size: 16px;
		}
	}

	&.select-open {
		.ui-selectmenu-button .ui-icon:before {
			transform: rotate(180deg);
		}
	}
}

.sort-panel-component {
	.ui-selectmenu-button {
		.ui-selectmenu-text {
			color: #909397;
			font-weight: normal;
		}

	}
}

/* end .select-component select styling */

/* perfect scrollbar restyling */
/* to make scrollbar always visible */
.ps-scrollbar-container {
	position: relative;
	max-height: 300px;
	overflow: auto;
}

.always-visible.ps-container > .ps-scrollbar-x-rail,
.always-visible.ps-container > .ps-scrollbar-y-rail {
	opacity: 1;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover {
	background: transparent;
	opacity: 1;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	right: 7px;
	width: 6px;
	background-color: gray;
	opacity: 1;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
	background-color: gray;
	opacity: 1;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
	background: transparent;
	opacity: 1;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	background: gray;
	opacity: 1;
}

/* end perfect scrollbar restyling */

@media @mobile {
	.select-component{
		&.device {
			&.small {
				max-width: none;
			}
		}

		.ui-selectmenu-button {
			.ui-selectmenu-text {
				font-size: 14px;
			}
		}
	}
}
