.error-block {
  padding: 260px 0 140px;

  .error-image {
    display: block;
    margin: auto auto 50px;
  }

  .error-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    color: @color-slate-grey;
  }

  .error-text {
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.6em;
    line-height: 23px;
    color: @color-slate-grey;

    a {
      color: @color-main-blue;
      font-weight: bold;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
@media @mobile {
  .error-block {
    padding: 45px 0 110px;

    .error-image {
      width: 95px;
      margin-bottom: 40px;
    }

    .error-title {
      margin-bottom: 15px;
      font-size: 2.6em;
    }

    .error-text {
      margin: 0 30px;
      font-size: 1.4em;
    }
  }
}