.main-footer-container {
	margin: 0;
	padding: 80px 0 50px;
	background-color: @color-white;
	font-weight: 400;
}
.main-footer-nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 20px;
	font-size: 1.4em;

	.main-footer-nav-item {
		border-left: 1px solid #cccdcf;

		&:first-child {
			border-left: none;
		}

		a {
			padding: 10px;
			color: @color-main-blue;
		}
	}
}

.footer-copyright {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	color: @color-gray;

	.footer-logo {
		width: 83px;
		margin-right: 35px;
	}

	.footer-copyright-text {
		font-size: 16px;
	}
}
@media @mobile {
	.main-footer-container{
		padding-top: 45px;
		padding-bottom: 45px;
	}
	.main-footer-nav{
		margin-bottom: 35px;
	}
	.footer-copyright {
		align-items: center;
		.footer-copyright-text{
			font-size: 10px;
			p{
				margin-bottom: 0;
			}
		}
		.footer-logo {
			min-width: 90px;
			margin-right: 20px;
		}
	}
}