
@keyframes loader {
	to {transform: rotate(360deg);}

}
.wiley-loader{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,.3);
	left:0;
	top:0;
	z-index: 99999;
	&:before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 60px;
		height: 60px;
		margin-top: -30px;
		margin-left: -30px;
		border-radius: 50%;
		border: 4px solid rgba(204, 204, 204, 0.4);
		border-top-color: teal;
		animation: loader 1s linear infinite;
	}
}

