.custom-scroll(){
	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
	}
}

.custom-placeholder(){
	&::-webkit-input-placeholder {
		font-style: italic;
		color: @color-slate-grey;
		font-weight: normal;
		opacity: 0.4;
	}
	&:-moz-placeholder {
		font-style: italic;
		color: @color-slate-grey;
		font-weight: normal;
		opacity: 0.4;
	}
	&::-moz-placeholder {
		font-style: italic;
		color: @color-slate-grey;
		font-weight: normal;
		opacity: 0.4;
	}
	&:-ms-input-placeholder {
		font-style: italic;
		color: @color-slate-grey;
		font-weight: normal;
	}
}

.custom-placeholder-disabled(){
	&::-webkit-input-placeholder {
		color: @color-main-black;
		font-style: normal;
	}
	&:-moz-placeholder {
		font-style: normal;
		color: @color-main-black;
	}
	&::-moz-placeholder {
		font-style: normal;
		color: @color-main-black;
	}
	&:-ms-input-placeholder {
		font-style: normal;
		color: @color-main-black;
	}
}

.select-menu-input() {
	display: block;
	width: 100%;
	height: 37px;
	padding: 0 10px;
	font-size: 14px;
	color:#7b838f;
	line-height: 37px;
	font-style: normal;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	background-color: @color-white;
}

.select-menu-button() {
	position: absolute;
	right: 0;
	top: 2px;
	display: block;
	width: 29px;
	height: 32px;
	background-color: @color-white;
	border-right: 1px solid @color-gray;
}
