.order-history-details-table {
	.clearfix();
}

.shopping-cart-history-details {
	&.order-edit-page {
		.shopping-cart-top {
			.icon-shopping-cart {
				&:before {
					background: url("../images/order_editing_icon@2x.png") no-repeat 0 0;
					background-size: cover;
				}
			}
		}
	}
	.shopping-cart-top {
		margin-bottom: 20px;
		padding-top: 195px;
		position: relative;

		.icon-shopping-cart {
			&:before {
				background: url("../images/confirmation_icon.png") no-repeat 0 0;
				background-size: cover;
			}
		}

		.button-back-to-order {
			padding: 9px 20px 10px;
			position: absolute;
			left: 0;
			top: 35px;
			font-size: 1.4em;
			//padding-left: 47px;

			&:before {
				display: inline-block;
				content: "";
				position: relative;
				top: 1px;
				width: 18px;
				height: 11px;
				margin-right: 8px;
				background: url("../images/button_back_arrow.png") no-repeat 0 0;
				background-size: cover;
			}

		}
	}
}

.order-history-details {
	margin-bottom: 35px;
	border-bottom: 1px solid #b9bbbd;

	.product-summ-total {
		width: 270px;
		float: right;
		margin: 30px 35px 30px 0;
		padding: 0;

		.total-row {
			padding-left: 0;
			color: @color-main-black;
			font-size: 1.6em;
		}
	}

	.products-table {
		.table-head {
			.item-product {
				width: 57%;
			}

			.item-product-status {
				width: 10.5%;
				text-align: left;
			}
		}

		.table-body {
			.table-body-row {
				.table-body-item {
					&.item-description {
						width: 49.673%;
					}
					.item-cancelled {
						color: #e20020;
					}

					&.item-status {
						width: 12.357%;

						.item-value {
							font-size: 1.6em;
						}

						.item-title-mobile {
							display: none;
							font-size: 12px;
							text-align: left;
						}
					}
				}
			}

			.extra-item {
				&.mobile {
					display: none;
				}

				&.mobile + .extra-item {
					margin-left: 0;
				}
			}
		}
	}
	.form-top + .tab-content {
		border-top: 1px solid #b9bbbd;

	}

}

.payment-details {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;

	.payment-number-date {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;
		font-size: 1.6em;
		color: #909397;

		p {
			margin-bottom: 0;
			&:first-child {
				position: relative;
				padding-right: 14px;
				margin-right: 12px;

				&:after {
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					content: "";
					width: 2px;
					height: 100%;
					background-color: #b0b2b4;
				}
			}

			span {
				font-weight: bold;
			}
		}
	}

	.payment-group-buttons {
		.button {
			&:first-child {
				margin-right: 10px;
			}
		}
	}
}

.product-summ-total-funder {
	padding: 15px 0 32px;
	font-size: 1.6em;
	font-weight: bold;
	font-style: italic;
}

@media @mobile {
	.shopping-cart-history-details {
		.order-history-details-wrapper {
			padding-bottom: 20px;
			border-bottom: 1px solid #b9bbbd;
		}
		.shopping-cart-top {
			padding-top: 110px;

			.button-back-to-order {
				margin-top: 0;
				padding: 11px 20px 12px;
				top: 0;
				font-size: 1.8em;

				&:before {
					top: 0;
				}
			}

			.product-cart-id {
				top: 74px;
			}
		}
	}

	.order-history-details {
		margin-bottom: 0;

		.order-review-payment,
		.order-review-billing {
			width: auto;
			margin: 0 -5px;
		}

		.tab-content {
			border-top: 1px solid #b9bbbd;
		}

		.tab-content:last-of-type{
			border-bottom: 1px solid #b9bbbd;
		}

		.product-summ-total {
			margin: 25px 0;
		}

		.products-table {
			.table-body {
				.table-body-row {
					.table-body-item {
						&.item-description {
							width: auto;
						}
						&.item-status {
							width: 100%;
							display: flex;
							flex-flow: row nowrap;

							.item-title-mobile {
								display: block;
							}

							.item-value {
								flex-grow: 1;
								font-size: 1.6em;
								text-align: right;
							}
						}

						&.desktop {
							display: none;
						}
					}
				}

				.extra-item {
					&.mobile {
						display: flex;
					}
				}
			}
		}
	}

	.payment-details {
		display: block;

		.payment-number-date {
			display: block;
			font-size: 1.4em;

			p {
				margin-bottom: 5px;

				&:first-child {
					position: relative;
					padding-right: 0;
					margin-right: 0;

					&:after {
						display: none;
					}
				}
			}
		}

		.payment-group-buttons {
			.button {
				margin-top: 10px;

				&:first-child {
					margin-right: 0;
				}
			}
		}
	}

	.product-summ-total-funder {
		margin: 0 -5px;
		padding: 15px 0 15px 5px;
		font-size: 1.4em;
		border-bottom: 1px solid #b9bbbd;
	}
}