.recommended-items-wrapper {
	padding-top: 70px;
	padding-bottom: 40px;

	.recommended-item-title {
		font-size: 1.8em;
		margin-bottom: 20px;
	}
	.recommended-item-price {
		font-size: 1.6em;
		margin-bottom: 20px;
	}
	.recommended-item-price-title {
		font-size: 1.2em;
		color: @color-main-black;
		margin-bottom: 3px;
	}
	.recommended-item-image {
		width: 74px;
		margin-right: 30px;
		min-width: 74px;
	}
	.owl-stage {
		display: flex;
		flex-flow: row nowrap;
	}
	.carouselItem{
		display: flex;
		flex-flow: column;
		height: 100%;
	}
	.recommended-item {
		display: flex;
		flex-flow: row nowrap;
		height: 154px;
		color: @color-slate-grey;
		margin-bottom: 70px;
		justify-content: flex-start;
		&:last-child{
			margin-bottom: 0;
		}
		.recommended-item-info{
			display: flex;
			flex-flow: column wrap;
			height: 100%;
			width: 100%;
		}
		.recommended-item-button{
			margin-top: auto;
		}

		.recommended-item-title {
			width: 100%;
			overflow: hidden;
			position: relative;
			line-height: 1.2em;
		}
	}
	.recommended-items-title {
		font-size: 2.4em;
		color: @color-slate-grey;
		margin-bottom: 18px;
	}
	.recommended-items-carousel-wrapper {
		padding: 0 87px;
		background: #f7f7f7;
		position: relative;
	}
	.recommended-items {
		padding: 50px 0;
		display: flex;
		//hide carousel before its initialization
		opacity: 0;
		&.visible{
			opacity: 1;
		}
	}

	.recommended-item-button {
		.button {
			height: 30px;
			line-height: 30px;
			background-color: @color-white;
			padding: 0 20px;
		}
	}

	.owl-stage-outer {
		overflow: hidden;
	}
	.owl-prev, .owl-next {
		width: 20px;
		height: 30px;
		cursor: pointer;
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -40px;
		user-select: none;
		background: url("../images/carousel-arrows.png") no-repeat;
		&.disabled {
			visibility: hidden;
		}
	}
	.owl-next {
		left: auto;
		right: -60px;
		background-position: -20px 0;
	}
	.owl-nav.disabled {
		display: none;
	}

}


@media @mobile {
	.recommended-items-wrapper {
		padding-bottom: 0;
		padding-top:35px;
		.recommended-item-button .button {
			height: 32px;
			line-height: 32px;
			font-size: 1.2em;
		}
		.recommended-items-carousel-wrapper {
			padding: 0 36px;
			.owl-dots{
				position: absolute;
				bottom: 15px;
				left: 50%;
				transform: translateX(-50%);
				.owl-dot{
					width: 8px;
					height: 8px;
					display: inline-block;
					margin: 0 4px;
					border-radius: 50%;
					background-color: #cecfd1;
					&.active{
						background-color: #909397;
					}
				}
			}
			.recommended-item{
				margin-bottom: 50px;
				height: auto;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}

