.shopping-cart-top {
	position: relative;
	padding-top: 145px;
	margin-bottom: 80px;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	.btn-group {
		margin-left: auto;
	}

	.product-cart-id {
		position: absolute;
		top: 60px;
		right: 0;
		font-size: 1.6em;
		text-align: right;
		color: @color-gray;
	}

	.main-page-title {
		font-size: 4em;
		font-weight: 600;
		color: @color-main-blue;
	}

	.icon-shopping-cart, .icon-confirmation {
		position: relative;
		padding: 5px 0 5px 85px;

		&:before {
			content: '';
			width: 55px;
			height: 55px;
			position: absolute;
			top: 50%;
			margin-top: -27.5px;
			left: 0;
			background: url("../images/shopping-cart-icon.png") no-repeat 0 0;
			background-size: cover;
		}
	}
	.icon-confirmation {
		&:before {
			background: url("../images/confirmation_icon.png") no-repeat 0 0;
			background-size: cover;
		}
	}
}

.item-price-discount {
	position: relative;
	font-style: italic;
	font-size: 14px;
	font-weight: bold;
	color: #909397;
	width: 100%;
	margin-top: -28px;
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	align-items: flex-end;

	p {
		margin-bottom: 0;
		width: 280px;
		text-align: right;
	}
}

.products-table {
	border-top: 1px solid #bcbec0;
	border-bottom: 1px solid #bcbec0;

	.table-head {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		padding: 30px;
		border-bottom: 1px solid #bcbec0;
		border-top: 1px solid #dbdcdd;
		font-size: 1.4em;

		.table-head-item {
			margin-right: 10px;
			text-align: right;
		}

		.item-product {
			width: 67.5%;
			text-align: left;
		}

		.item-quantity {
			width: 7.92%;
		}

		.item-total {
			width: 16.88%;
		}
	}

	.table-body {
		padding: 0 30px;
		border: 1px solid #e6e6e6;
		background-color: #f7f7f7;

		.table-body-row {
			position: relative;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			padding: 38px 0 35px;
			border-top: 1px solid #dbdcdd;

			&:first-child {
				border-top: none;
			}

			.table-body-mobile-wrap {
				display: flex;
				position: relative;
				flex-flow: row nowrap;
				justify-content: flex-start;
				width: calc(~"86.2% - 10px");

				.item-invoice-button {
					position: absolute;
					right: 3px;
					top: 35px;
				}
			}

			.table-body-item {
				margin-right: 10px;
				text-align: left;

				&.item-image {
					width: 13.8%;
					margin-right: 10px;

					img {
						max-width: 90px;
						border: 1px solid #d8d8d8;
					}
				}

				&.item-description {
					width: 62.03%;
					display: flex;
					flex-flow: column wrap;
					align-items: flex-start;
					justify-content: space-between;

					.item-description-title {
						margin-bottom: 6px;
						font-size: 2em;
						font-weight: 400;
						max-width: 100%;
					}

					.item-description-text {
						margin-bottom: 15px;
						font-size: 1.6em;
						line-height: 1.4em;
						color: @color-slate-grey;
						max-width: 100%;
					}
				}

				&.item-quantity {
					width: 9.32%;
					text-align: right;

					.item-quantity-mobile {
						display: none;
						text-align: left;
					}
					.item-title-mobile {
						display: none;
					}
					.item-value {
						font-size: 1.6em;
					}

				}

				&.item-total {
					width: 19.86%;
					text-align: right;

					.item-title-mobile {
						display: none;
					}

					.item-value {
						font-size: 1.6em;
						font-weight: 600;
					}
				}

				&.item-remove {
					flex-grow: 1;
					margin-right: 0;
					text-align: right;

					.button-remove {
						float: right;
						width: 20px;
						height: 20px;
						background: transparent url("../images/icon-trash.png") no-repeat center;
						border: none;
						font-size: 0;
					}
				}
			}
		}
	}
}

.product-label {
	display: inline-block;
	padding: 2px 8px 3px;
	margin-bottom: 10px;
	background-color: @color-main-blue;
	border-radius: 4px;
	font-size: 1.2em;
	font-weight: 600;
	text-transform: uppercase;
	color: @color-white;
}

.description-extra-info {
	display: flex;
	flex-flow: row nowrap;

	.extra-item {
		margin-left: 40px;

		&:first-child {
			margin-left: 0;
			max-width: 150px;

			.item-value {
				word-wrap: break-word;
			}
		}
	}

	.item-title {
		margin-bottom: 2px;
		font-size: 1.2em;
	}

	.item-value {
		font-size: 1.6em;
		color: @color-slate-grey;
	}
}

.shopping-cart-action-buttons {
	display: flex;
	margin-top: 20px;
	margin-bottom: 75px;
	justify-content: flex-start;
	.action-buttons-mobile-wrapper {
		margin-left: auto;
	}

	.button-paypal-wrapper {
		display: inline-block;
		margin-right: 8px;

		.button {
			height: 44px;
			padding: 0 50px;
			line-height: 44px;
			font-size: 1.6em;

			&.button-paypal {
				padding: 0;
				background: @color-dark-yellow url("../images/Paypal-button.jpg") 50% 50% no-repeat;
				border: 1px solid #eda211;
				border-radius: 4px;
				width: 228px;
				height: 44px;
				font-size: 0;
			}

		}

	}

	.button-checkout {
		padding: 11px 50px;
		font-size: 1.6em;
	}
}

.shopping-cart-bottom {
	.total-details-wrapper {
		padding: 53px 84px;
		overflow: hidden;
		border-bottom: 2px solid #bcbec0;
	}

	.discount-code-form {
		border-top: 1px solid #dbdcdd;
		padding-top: 10px;
		padding-bottom: 10px;

		.select-component {
			outline: none;
			width: 352px;
		}

		&:first-child {
			border-top: none;
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}

	.discount-code-form-title {
		label {
			font-size: 12px;
			font-weight: normal;
			text-transform: none;
			color: @color-main-black;
		}
		margin-bottom: 12px;
	}

	.discount-code-block {
		width: 506px;
		min-height: 106px;
		float: left;
		background: url("../images/discount-code-bg.png") repeat-y;
		box-sizing: border-box;
		padding: 22px 36px;
		text-align: center;

		.form-control {
			font-size: 13px;
		}
	}

	.total-details-table {
		flex: 1;
		display: flex;
		width: 256px;
		float: right;
		color: @color-main-black;
		flex-flow: column;

		.total-details-row {
			font-size: 16px;
			margin-bottom: 20px;
			justify-content: space-between;
			display: flex;
			flex-flow: row nowrap;

			div {
				width: 50%;

				&:last-child {
					text-align: right;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.discount-code-value {
			background: #C3EEFF;
			word-wrap: break-word;
			padding: 8px;
			display: block;
			position: relative;
			font-size: 12px;
			text-transform: uppercase;
			text-align: left;
			margin-bottom: 15px;
			margin-top: -5px;
			padding-right: 25px;

			&:hover,
			&:focus {
				text-decoration: none;
			}

			&:last-child {
				margin-bottom: -8px;
			}
		}

		.remove-discount {
			font-style: normal;
			position: absolute;
			font-weight: bold;
			right: 13px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 10px;
			cursor: pointer;
		}
	}

	.discount-code-message {
		font-size: 1.4em;
		line-height: 22px;
		margin: 10px 0 0 0;
	}

}

.shopping-cart-empty {
	.products-table {
		.table-body {
			.table-body-row {
				flex-flow: column wrap;
				justify-content: unset;
				align-items: center;
				padding: 70px 90px 40px 90px;
				font-size: 1.4em;
				color: @color-slate-grey;
			}
		}
	}

	.empty-cart-title {
		font-size: 30px;
		padding: 15px 0;
	}

	.button-add-services {
		padding-right: 50px;
		padding-left: 50px;
		margin-top: 30px;
	}
}

@media @mobile {
	.item-price-discount {
		margin-top: 0;
		p {
			width: calc(~"100% - 75px");
			max-width: none;
		}
	}

	.shopping-cart-top {
		padding-top: 64px;
		margin-bottom: 25px;
		.btn-group {
			margin-left: 0;
			width: 100%;
		}

		.product-cart-id {
			top: 24px;
			font-size: 1.2em;
		}

		.main-page-title {
			font-size: 2.4em;
		}

		.icon-shopping-cart, .icon-confirmation {
			position: relative;
			padding: 5px 0 5px 50px;

			&:before {
				width: 40px;
				height: 40px;
				margin-top: -20px;
			}
		}
		.icon-confirmation {
			&:before {
				background-size: 40px;
			}
		}
	}

	.products-table {
		margin: 0 -5px;

		.table-head {
			display: none;
		}

		.table-body {
			padding: 0 5px;

			.table-body-row {
				padding: 25px 0;

				.table-body-mobile-wrap {
					width: calc(~"100% - 95px");
					flex-flow: column wrap;
					position: relative;

					.item-invoice-button {
						position: initial;
						right: auto;
						top: auto;
						margin-top: 0;
						padding: 11px 25px;
						font-size: 1.8em;
					}
				}

				.table-body-item {
					margin-right: 0;

					&.item-image {
						width: 85px;

						img {
							max-width: 70px;
						}
					}

					.item-value {
						color: @color-slate-grey;
						word-break: break-word;
						overflow: visible;
					}

					&.item-description {
						width: auto;

						.item-description-title {
							font-size: 1.6em;
						}

						.item-description-text {
							font-size: 1.4em;
							margin-bottom: 20px;
						}

						.product-label {
							margin-right: 25px;
						}
					}

					&.item-total, &.item-quantity {

						width: 100%;
						display: flex;
						flex-flow: row wrap;

						.item-title-mobile {
							display: block;
							font-size: 12px;
							text-align: left;
						}

						.item-value {
							flex-grow: 1;
							font-size: 2em;
							margin-top: -2px;
							padding-bottom: 7px;
						}
					}

					&.item-total {
						.item-value {
							color: @color-main-black;
						}
						.item-title-mobile {
							font-weight: bold;
						}
					}

					&.item-quantity {
						width: 100%;
						display: flex;
						flex-flow: row nowrap;

						.item-quantity-mobile {
							display: block;
							font-size: 1.2em;
							font-weight: 600;
							text-align: left;
						}

						.item-value {
							flex-grow: 1;
							font-size: 1.6em;
						}
					}

					&.item-remove {
						position: absolute;
						top: 0;
						right: 0;
					}
				}
			}
		}
	}

	.description-extra-info {
		margin-top: 20px;
		width: 100%;
		flex-flow: column nowrap;

		.extra-item {
			margin-left: 0;
			display: flex;
			flex-flow: row nowrap;

			&:first-child {
				max-width: none;
			}
		}

		.item-value {
			flex-grow: 1;
			text-align: right;
			margin-top: -2px;
			padding-bottom: 7px;
		}
	}

	.shopping-cart-action-buttons {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		border-bottom: 2px solid #bcbec0;
		padding-bottom: 15px;
		margin-top: 10px;
		margin-bottom: 35px;
		.button-paypal-wrapper {
			width: 100%;
			.button.button-paypal {
				margin-right: 0;
				width: 100%;
				height: 48px;
			}
		}

		.button {
			width: 100%;
			height: 48px;
			line-height: 48px;
			padding: 0;
			font-size: 1.8em;
			margin-top: 15px;

			&.checkout-button {
				margin-left: 0;
			}

			&.button-add-services + .action-buttons-mobile-wrapper {
				border-bottom: 1px solid #d7d8d9;
				padding-bottom: 10px;
			}
		}
		.action-buttons-mobile-wrapper {
			.button {
				margin: 10px 0;
			}
		}
	}

	.shopping-cart-bottom {

		.total-details-wrapper {
			padding: 10px 5px;
			flex-flow: row wrap;
		}

		.discount-code-block {
			margin-right: 0;
			margin-bottom: 45px;
			padding: 15px;
			background-size: 100% auto;
			max-width: 100%;
			.button {
				margin-top: 0;
			}
		}
		.discount-code-form {
			.select-component {
				width: auto;
			}
		}

	}

	.action-buttons-mobile-wrapper {
		width: 100%;
	}

	.shopping-cart-empty {
		.products-table {
			.table-body {
				.table-body-row {
					padding: 45px 10px 40px 10px;
					font-size: 1.2em;
					text-align: center;
				}
			}
		}

		.empty-cart-title {
			font-size: 2.2em;
			padding: 35px 0 10px 0;
		}

		.button-add-services {
			width: 100%;
		}

	}
}
