.confirmation-message-block {
	margin-bottom: 20px;
	padding-bottom: 5px;

	.confirmation-message-title {
		font-size: 1.8em;
		font-weight: bold;
		margin-bottom: 15px;
	}

	p {
		font-size: 1.6em;
		line-height: 1.4em;
	}

	a {
		color: @color-main-blue;
	}
}

.confirmation-order-review {
	padding: 35px 0;
	border-top: 1px solid #9d9d9d;
	border-bottom: 1px solid #9d9d9d;
}

.confirmation-order-summary {
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	background: #f7f7f7;
	padding: 25px 20px 0 33px;
	margin-bottom: 20px;
	.order-review-items-list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	.order-review-value {
		word-wrap: break-word;
		color: @color-main-black;
	}
	.order-review-label {
		width: 180px;
	}
	.order-review-item {
		width: 50%;
		margin-bottom: 13px;
		&:nth-child(2){
			.order-review-value {
				text-align: right;
			}
		}
	}

	.order-info-block-title {
		font-size: 2em;
		color: @color-slate-grey;
	}
}

.discount-coupon-block{
	padding: 45px 0 30px 0;
	border-bottom: 1px solid #9d9d9d;
	color: @color-slate-grey;
	text-align: center;
	p{
		font-size: 2em;
		&.blue{
			color: #00a8ff;
			font-weight: bold;
		}
	}

	.button{
		margin: 20px 0 0;
		text-transform: uppercase;
		min-width: 50%;
		border-radius: 20px;
		font-weight: bold;
		cursor: default;
		user-select: text;

		&:hover {
			cursor: text;
		}
	}
	.discount-coupon {
		position: relative;
		width: 40%;
		padding: 30px;
		margin: 30px auto;
		background: #f7f7f7;
		border-radius: 3px;
		border: 1px solid #e6e6e6;

		&:after,
		&:before {
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			width: 15px;
			height: 30px;
			margin-top: -15px;
			border: 1px solid #e6e6e6;
			background-color: #fff;
		}

		&:before {
			left: -1px;
			border-bottom-right-radius: 30px;
			border-top-right-radius: 30px;
			border-left-color: transparent;
		}

		&:after {
			right: -1px;
			border-bottom-left-radius: 30px;
			border-top-left-radius: 30px;
			border-right-color: transparent;
		}


		p {
			font-size: 1.2em;
		}
	}
	.discount-coupon-amount{
		font-weight: bold;
		color: black;
		font-size: 2.6em;
	}
}

.shopping-cart-survey-block {
	color: @color-slate-grey;
	padding: 40px 0 65px 0;
	border-bottom: 1px solid #9d9d9d;
	p{
		font-size: 1.6em;
	}

	.shopping-cart-survey-title {
		margin-bottom: 30px;
		background: url("../images/survey_icon@2x.png") no-repeat;
		background-position: 0 50%;
		color: #00a8ff;
		font-size: 24px;
		font-weight: bold;
		padding: 10px 0 10px 80px;
		background-size: 52px;
	}
	.input-group {
		width: 100%;
		margin-bottom: 15px;
		.form-control{
			min-height: 120px;
			height: 120px;
		}
	}
	.shopping-cart-survey-list {
		list-style: none;
		margin: 30px 0 35px 0;

		.radio-button-component {
			margin: 12px 0;
			label {
				color: @color-slate-grey;
				font-weight: normal;
				text-transform: none;
				span {
					font-size: 15px;
					padding-left: 30px;
				}
			}
		}
	}
}

.shopping-cart-confirmation{
	.order-review-block{
		.form-top, .order-review-payment, .order-review-billing{
			padding: 25px 20px 0 33px;
		}
	}

	.shopping-cart-top {
		.icon-shopping-cart {
			&:before {
				background: url("../images/confirmation_icon.png") no-repeat 0 0;
				background-size: cover;
			}
		}
	}

	.discount-coupon-block {
		.button {
			text-transform: none;
		}
	}

	.back-button {
		margin-top: 35px;
	}
}
@media @mobile {
	.confirmation-message-block {
		margin-bottom: 22px;
		padding-bottom: 0;
		.confirmation-message-title {
			font-size: 1.6em;
		}

		p {
			font-size: 1.4em;
		}
	}

	.confirmation-order-review {
		padding-top: 27px;
	}

	.order-review-items-list{
		.order-review-item{
			width: 100%;
		}
	}
	.discount-coupon-block{
		.discount-coupon{
			width: 100%;
		}
	}
	.shopping-cart-survey-block {
		margin-bottom:0;
		padding-top: 25px;
		padding-bottom: 60px;

		.button {
			margin-top: 0;
			margin-bottom: 0;
		}

		.shopping-cart-survey-title {
			padding-left: 58px;
			margin-bottom: 23px;
			background-size: 40px;
			font-size: 1.8em;
		}

		.shopping-cart-survey-list {
			margin: 30px 0 17px 0;

			.radio-button-component {
				font-size: 1.4em;
			}
		}

		p {
			font-size: 1.4em;
		}
	}
	.confirmation-order-summary {
		padding-left: 20px;
		border-radius: 0;

		.order-review-item {
			display: flex;
			flex-flow: row nowrap;
			margin-bottom: 10px;
		}

		.order-review-label {
			width: auto;
			margin-right: 15px;
		}

		.order-review-value {
			text-align: right;
			flex-grow: 1;
		}
	}

	.shopping-cart-confirmation {
		.order-review-block {
			margin: 0 -5px;
			border-radius: 0;

			.form-top, .order-review-payment, .order-review-billing {
				padding: 20px 5px 0 5px;
			}

			.form-top {
				.form-title {
					margin-bottom: 22px;
					font-size: 1.6em;
				}
			}

			.products-table {
				margin: 0;
				.table-body {
					.table-body-row {
						padding: 25px 10px 10px 0;
						margin: 0 10px;
					}
				}
			}
		}

		.back-button {
			margin-top: 17px;
		}
	}

	.discount-coupon-block {
		.discount-coupon {
			padding: 22px 20px 24px;
		}

		.discount-coupon-amount {
			font-size: 2em;
		}

		.button {
			width: auto;
			margin-top: 10px;
			padding: 6px 40px;
			font-size: 1.2em;
		}
	}
}


