@screen-xs: 320px;
@screen-sm: 641px;

@container-sm: 100%;
@container-desktop: 100%;
@container-large-desktop: 100%;

// Media queries
@mobile: ~"(max-width: 640px)";
@tablet: ~"(min-width: 641px) and (max-width: 1200px)";
@laptop: ~"(min-width: 641px)";
@retina: ~"(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)";

// Fonts
@font-family-main: 'Lato'; // body
@font-family-secondary: 'Lato Black';

//Font-weight
@font-weight-extra-light:100;
@font-weight-light:200;
@font-weight-demi:300;
@font-weight-normal:400;
@font-weight-regular:400;
@font-weight-medium:500;
@font-weight-semibold:600;
@font-weight-bold:700;
@font-weight-extra-bold:800;
@font-weight-fat:900;

/* style guide color palette */

@color-main-black: #2d3540;
@color-main-blue: #00a8ff;
@color-white: #ffffff;
@color-gray: #909397;
@color-red: #DF0027;
@color-slate-grey: #7B838F;
@color-dark-yellow: #fbc439;

/* end style guide color palette */

//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width: 10px;

//** Load fonts from this directory.
@icon-font-path:          "../bootstrap/fonts/";
//** File name for all font files.
@icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "glyphicons_halflingsregular";