<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
            	<td height="125px" width="35%" class="structureViewSection">
            	    <cockpit code="SiteLogo" />
            	</td>
            	<td width="40%" class="structureViewSection">
                	<div>Header links</div>
           		</td>
           		<td width="25%" class="structureViewSection">
                    <div>Profile name</div>
                </td>
            </tr>
			<tr>
                <td width="20%" rowspan="2" class="structureViewSection" style="vertical-align:top;">
					<cockpit code="SideContent" />
				</td>
				<td colspan="2" width="85%" class="structureViewSection" height="100px" style="vertical-align:top;">
					<cockpit code="TopContent" />
				</td>
			</tr>
			<tr>
				<td colspan="2" height="343px" width="85%" class="structureViewSection">
					<div>Order confirmation Data</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" class="structureViewSection">
					<cockpit code="FooterNavigationSlot" />
				</td>
			</tr>
			<tr>
				<td colspan="2" class="structureViewSection">
					<cockpit code="CompanyLogoSlot" />
				</td>
				<td colspan="2" class="structureViewSection">
					<cockpit code="FooterCopyrightSlot" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>
