footer {
  padding-top: 50px;
  margin-top: 30px;
  background: @footer-background;
  color: @footer-text-color;
  font-weight: 300;
}

.footer__top {
  padding-bottom: 50px;

  @media (max-width: @screen-md) {
    padding-bottom: 38px;
  }

  .footer__nav--container {

    @media (max-width: @screen-sm) {
      margin-bottom: 10px;
      text-align: center;
    }

    .footer__nav--links {
      padding-left: 0px;
      width: 100%;
      margin: 0px;
      list-style: none;

      .footer__link {
        margin-top: 10px;
      }

      a {
        color: @footer-text-color;
        font-size: 14px;
      }
    }
  }
}

.footer__left {
  .full-width-padding();
}

.footer__right {
  .full-width-padding();
  @media (max-width: @screen-md) {
    border-top: 1px solid @footer-border-color;
    padding-top: 30px;
    margin-top: 25px;
  }

  .footer__dropdown {

    select.form-control {
      padding: 2px 13px;
    }

    .form-group {
      margin-bottom: 0;
    }

    .form-control {
      cursor: pointer;
      background-color: @footer-background;
      color: @footer-text-color;
      padding: 7px 10px;
      height: 26px;
      line-height: 20px;
      font-size: 14px;

      option {
        background-color: @footer-background;
      }

      &:focus::-ms-value {
        background-color: @footer-background;
      }
    }
  }
}

/*
Commented due error:

>> NameError: variable @copyright-color is undefined in web/webroot/WEB-INF/_ui-src/responsive/lib/ybase-0.1.0/less/footer.less on line 86, column 10:
>> 85   padding: 25px 0;
>> 86   color: @copyright-color;
>> 87   text-align: center;
Warning: Error compiling web/webroot/WEB-INF/_ui-src/responsive/common/less/style.less Use --force to continue.

.footer__copyright {
  color: @copyright-color;
}
*/

.footer__copyright {
  background: @copyright-background;
  padding: 25px 0;
  text-align: center;
}
