.item.brightcove-video::after {
    width: 29px;
    height: 30px;
    display: block;
    position: absolute;
    background: url("../images/video-cover.png") no-repeat 0 0;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    content: ' ';
}

.brightcove-video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.BrightcoveExperience {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}