/* Min-height for hero image block */
.hero-banner {
	min-height: 360px;
}
/***********************************/

.wiley-slogan {
	padding-top: 165px;
	color: #fff;
}

.hero-banner.middleContentBackground1 {
    background-color: #E6E8F0;
}

.hero-banner.middleContentBackground2 {
    background-color: #F0F0F1;
}

.hero-banner.middleContentBackground3 {
    background-color: #07a261;
}

.hero-banner.middleContentBackground4 {

}

.hero-banner.middleContentBackground5 {
    background-color: #F0F0F1;
}

.hero-banner.middleContentBackground6 {
    background-position: 50% 100%;
    background-attachment: initial;
    /** Padding bottom added for properly view of sample background image with netbook */
    padding-bottom: 920px;
    /* min-height: 1390px; */
    min-height: inherit;
}

/* Only mobile styles */
@media (max-width: 640px) {

	.hero-banner.middleContentBackground6 {
        background-position: 50% 100%;
		background-size: initial;
        background-color: #00A9B2;
        /** Padding bottom added for properly view of sample background image with netbook */
        padding-bottom: 385px;
        /* min-height: 1065px; */
        min-height: inherit;
	}

	.wiley-slogan {
		padding-top: 90px;
	}
}

/* Only desktop styles */
@media (min-width: 641px) {
	.hero-banner.middleContentBackground1 {
		padding-top: 60px;
	}

	.hero-banner.middleContentBackground1 .resources-for-blocks-wrapper .page-title h2 {
		margin-bottom: 90px;
	}

	.hero-banner.middleContentBackground2 {
		padding-top: 20px;
	}

	.hero-banner.middleContentBackground2 .subjects-block-wrapper .page-title h2 {
		margin-bottom: 50px;
	}
}