<div>
    <table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;border-bottom:0px">
        <tbody>
        <tr>
            <td width="25%" class="structureViewSection">
                <cockpit code="SiteLogo"/>
            </td>
            <td width="25%" class="structureViewSection">
                <cockpit code="NavigationBar" />
            </td>
            <td width="25%" class="structureViewSection">
                <cockpit code="CountrySelector"/>
            </td>
            <td width="25%" class="structureViewSection">
                <cockpit code="HeaderLinks"/>
            </td>
        </tr>
        </tbody>
    </table>
    <table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;border-bottom:0px">
        <tbody>
        <tr>
            <td width="100%" class="structureViewSection">
                <cockpit code="SearchBox" />
            </td>
        </tr>
        </tbody>
    </table>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;border-top:0px;border-bottom:0px">
		<tbody>
			<tr>
				<td class="structureViewSection">
					<cockpit code="Breadcrumb" />
				</td>
			</tr>
			<tr>
				<td class="structureViewSection">
					<cockpit code="TopContentBackground" />
				</td>
			</tr>
			<tr>
				<td class="structureViewSection">
					<cockpit code="TopContent" />
				</td>
			</tr>
			<tr>
				<td class="structureViewSection">
					<cockpit code="BodyContent" />
				</td>
			</tr>
		</tbody>
	</table>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;border-top:0px">
		<tbody>
			<tr>
				<td height="100%" colspan="3" class="structureViewSection">
					<cockpit code="Footer" />
				</td>
			</tr>
			<tr>
				<td height="100px" width="33%" class="structureViewSection">
					<cockpit code="FooterCopyrightSlot"/>
				</td>
				<td height="50px" width="33%" class="structureViewSection">
					<cockpit code="FooterSocialMediaSlot"/>
				</td>
				<td height="50px" width="34%" class="structureViewSection">
					<cockpit code="CompanyLogo" />
				</td>
			</tr>
			<tr>
				<td height="100%" colspan="3" class="structureViewSection">
					<cockpit code="ClosingBodyPlaceholderSlot" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>
