.pagination-bar .row{
    float:left;
    margin-bottom:10px;
}

.paginationButtons{
    width:400px;
    left:0;
}

.pagination-bar .pagination{
    float:left
}

.pagination-bar .pager{
    float:left
}

.pagination-bar .enabledPaginationButton{
    background-color:#ffffff !important;
    color:#000000 !important;
    border-color:#000000 !important;
}

.pagination-bar .numberOfPages{
    font-size:14px;
}

.pagination-bar .desktop{
    display:block;
    position:relative;
    float:right
}

.contentSearchTopPagination{
    height:30px;
}

.contentSearchBottomPagination{
    height:30px;
    margin-bottom:30px;
}