.main-header-container {
	background-color: #c40d42;
}

.navigation-link-item:first-child a {
	color:white;
}

.main-navigation-menu {
	background-color: black;
}

.navigation-menu-items a {
	color:white;
}

.main-header-container::before {
	background: black none repeat scroll 0 0;
}

.main-footer-container {
    background: #c40d42 none repeat scroll 0 0;
}

.main-footer-container > .container {
    color:white;
}

.main-footer-container > .container a {
    color:white;
}

.navigation-links-items a {
	color:white;
}

.navigation-link-item.welcome-link{
	color:white;
}