$warehousing-action-buttons--color: $blue__default--100;

.y-toolbar-leftslot .cng-action-group{
    .ya-wileybackoffice_actions_order_fullrefundorderaction.cng-action:not(.cng-action-disabled) {
				padding: 2px 10px;
        tr {
            vertical-align: middle;
        }
    }
}

.y-toolbar-leftslot .cng-action-group {
    .ya-wileybackoffice_actions_order_fullrefundorderaction {
				&:hover {
            background: $white;
            color: $warehousing-action-buttons--color;
            transition: background-color 0.3s ease 0s;
        }
        &.cng-action-disabled:hover {
            color: inherit;
            background: none;
        }
    }
}