.owl-carousel{
	.clearfix;

	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;

	.grabbing { 
		// cursor:url(grabbing.png) 8 8, move;

	}

	.owl-wrapper-outer{
		overflow: hidden;
		position: relative;
		width: 100%;

		&.autoHeight{
			-webkit-transition: height 500ms ease-in-out;
			-moz-transition: height 500ms ease-in-out;
			-ms-transition: height 500ms ease-in-out;
			-o-transition: height 500ms ease-in-out;
			transition: height 500ms ease-in-out;
		}
		.owl-wrapper{
			display: none;
			position: relative;
			-webkit-transform: translate3d(0px, 0px, 0px);
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility:    hidden;
			-ms-backface-visibility:     hidden;
			-webkit-transform: translate3d(0,0,0);
			-moz-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			&:after{
				.clearfix;
			}
			.owl-item{
				float: left;
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility:    hidden;
				-ms-backface-visibility:     hidden;
				-webkit-transform: translate3d(0,0,0);
				-moz-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);

				&.loading{
					&>*{
						min-height:1px;
					}
				}
				
			}
		}
	}

	.owl-controls{
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);


		.owl-pagination{
			 .hidden-md;
			 .hidden-lg;
			.clearfix;
			text-align: center;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			.owl-page{
				cursor: pointer;
				width: 26px;
				height: 26px;
				padding: 3px 3px ;
				display: inline-block;


				span{
					display: block;
					width: 20px;
					height: 20px;
					background: #929292;
					//box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
					
				}

				&.active{
					span{
						background: @brand-primary;
					}
				}
			}
		}

		.owl-buttons{

			.owl-prev,.owl-next{
				cursor: pointer;
				position: absolute !important;
				top: 50% !important;
				display: table;
				width: 60px;
				height: 125px;
				text-align: center;
				.translate(0,-50%);
				.glyphicon;
				color: rgba(255,255,255,0.7);
				font-size:	120px;
				overflow: hidden;
				.transition(~"0.3s ease-out");

				&:hover{
					color: rgba(255,255,255,1);
				}


				span.glyphicon{
					position: absolute;
					left: 40px;
					top: 0;
					bottom: 0;
					right: 0;
					width: auto;
					height: auto;
					font-size: 25px;
					line-height: 125px;
					color: @text-color;
					.transition(~"0.3s ease-in");
				}


				&:hover{
					color: rgba(255,255,255,1);

					span.glyphicon{
						color: @brand-primary;
					}
				}
			}

			.owl-prev{
				left: 0;
				text-indent: -50px;
				.glyphicon-forward;

				span.glyphicon{
					left: 40px;
				}
			}

			.owl-next{
				right: 0;
				.glyphicon-backward;
				text-indent: -10px;

				span.glyphicon{
					left: 10px;
				}
			}
		}
	}


	

}






.carousel{
	width: auto; 
	margin: (@grid-gutter-width/2) -(@grid-gutter-width/2);
	text-align: center;
	.item{

		display: block;
		margin: 0 (@grid-gutter-width/2);
		padding: (@grid-gutter-width/2) 0;


		a{
			color: @text-color;
		}

		a:hover, a:focus{
			text-decoration: none;
			color: @brand-primary;
		}

		
		img{
			max-width: 96px;
			height: auto;
			display: block; 
			margin-left: auto;
			margin-right: auto;
		}  

		.item-name{
			margin: (@grid-gutter-width/2);
			/*color: @text-color;*/
			text-transform: uppercase;
			font-weight: 300;

		}

		.item-price{
			margin: (@grid-gutter-width/2);
		}
	}
}



.carousel-component{
	.clearfix;
	margin: 10px 0 22px;
	.headline{
		
		font-size: 25px;
		margin: (@grid-gutter-width/2) 0;
	}

}




.rotating-image-componet{
	.clearfix;

	.carousel.rotating-image{
		margin: 0;
	}
	
	.owl-item{
		.item{
			padding: 0;
			margin: 0;
		}
		img{
			width: 100%;
			height: auto;
			max-width: none;
		}
	}

	.owl-controls{
		.owl-pagination{
			display: block !important;
		}
	}
}





.image-gallery{
	.gallery-image{
		.owl-item{
			.item{
				padding: 0;
			}
			img{
				width: 100%;
				height: auto;
				max-width: none;
			}
		}

		.owl-controls{
			.hidden-md;
			.hidden-lg;
		}
	}


	.gallery-carousel{
		.item{
			
			

		}
		.owl-item{
		
			img{
				width: 100%;
				height: auto;
				max-width: none;
			}
		}
	}


}