.activation-pin,
.confirmation-pin {
	font-size: 13px;

	.page-title {
		margin: 15px 0 25px;
		font-size: 28px;
		font-weight: 700;
	}

	.activate-pin-form {
		.form-description {
			padding: 20px 10px;
		}
	}
}

.confirmation-pin {
	.confirmation-text {
		padding-top: 30px;

		h2 {
			margin: 15px 0 25px;
			font-size: 28px;
			font-weight: 700;
		}
	}

	.form-buttons {
		margin-top: 30px;
	}
}

.step-name--mobile{
    display: none;
}

@media @tablet {
	.activation-pin {
		.activate-pin-form {
			.form-cell,
			.help-block,
			.form-buttons {
				width: 250px;
			}

			.form-buttons {
				text-align: right;
			}

			form,
			.form-description {
				display: table-cell;
				vertical-align: top;
			}

			.form-description {
				padding-top: 39px;
			}
		}
	}

	.confirmation-pin {
		.form-buttons {
			margin-right: 0;
			margin-left: 0;
		}
	}
}

@media @mobile {
    .container {
        &.activation-pin,
        &.confirmation-pin {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .step-name--desktop{
        display: none;
    }

    .step-name--mobile{
        display: inline;
    }

}