.billing-address {
    &.panel-group {
        .panel {
            .panel-collapse {
                background: transparent;
            }
        }
    }

    .site-form {
        padding: 20px 0 5px 0;

        form,
        .panel-body {
            padding: 0;
        }
    }
}

.gmac-select {
    a {
        color: #0b96c1;
    }
}

.order-details {
    .form-button {
        height: auto;
        padding: 3px 30px;
    }
}
.paymentCardData{
	.form-field{
		.card-number-input{
			width: 91%;
		}
		.expiry-select{
			width: 45% !important;
		}
		.security-code-input{
			width: 45%;
		}
		.tooltip-block{
			display: inline;
			vertical-align: super;
		}
	}
	.inline{
		display: inline;
	}
}
.order-details-info {
    padding: 20px 10px 5px;
    margin: 0 0 15px 0;
    background-color: @bg-light-gray;

    & > div {
        display: table;
        width: 100%;
        margin: 0 0 5px 0;
    }

    & > div span {
        display: table-cell;
        width: 50%;
    }

    & > div span:first-child {
        text-align: left;
    }

    & > div span:last-child {
        text-align: right;
    }

    .total span {
        padding: 10px 0;
        font-weight: 600;
    }
    .subtotal span {
        font-weight: 600;
    }
    .tax span {
        font-weight: 600;
    }
}

.payment-method {
    .panel-body {
        padding: 0;
    }

    .paypal-link {
        display: inline-block;
        margin-top: 5px;
        text-decoration: underline;
        font-size: 13px;
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }
    }
}

.payment-method-variants {
    padding: 20px 10px 5px;
    margin: 0 0 15px 0;
    background-color: @bg-light-gray;
}

.payment-icons {
    img {
        float: left;
        width: 55px;
        margin-right: 5px;
        border: 1px solid #bdbdbd;
    }
}

.no-radio-button {
	display: none !important;
}

.no-radio-button + label {
	padding-left:0px !important;
	&:after,
	&:before {
		display: none !important;
	}
}

.go-to-card {
    text-decoration: underline;
}

.form-cell {
    .shipping-label {
        font-weight: 800;
    }
}

.same-as-billing {
    & + .form-fields {
        display: none;
    }
}

@media @tablet {
    .order-details {
        .form-buttons {
            display: table;
            width: 100%;
            margin-left: 0;
        }

        .link-control {
            display: table-cell;
            width: 50%;
            text-align: left;

            a {
                font-size: 12px;
            }
        }

        .btn-control {
            display: table-cell;
            width: 50%;
            text-align: right;
        }
    }
}

@media @tablet and (max-width: @screen-sm-max) {

    .order-details.col-sm-6 {
        float: right;
    }
}

@media @mobile {
    .order-details {
        .form-buttons {
            margin-left: 10px;
            margin-right: 10px;
        }

        .link-control,
        .btn-control {
            display: block;
            width: 100%;
        }

        .link-control {
            margin-bottom: 15px;
        }
    }

    .billing-address {
        &.panel-group {
            .site-form {
                .panel-body {
                    padding: 0;
                }

                & > .row {
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }
    }

    .container {
        &.billing {
            padding-right: 0;
            padding-left: 0;

            #accordion.row {
                margin-right: 0;
                margin-left: 0;

                .panel.col-sm-6,
                .order-details.col-sm-6 {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }

    .payment-method {
        margin-left: -10px;
        margin-right: -10px;

        .panel-body {
            padding-top: 0!important;
        }
    }
}