.button {
	display: inline-block;
	margin-bottom: 0;
	padding: 7px 30px;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #008fc3;
	background-image: none;
	border: 1px solid transparent;
	color: #ffffff;
	border-radius: 6px;
	.user-select(none);

	&:hover {
		text-decoration: none;
		outline: 0;
	}

    &:focus {
        text-decoration: none;
        outline: 1px dotted black;
    }

	&:active {
		background-image: none;
	}

	&.disabled,
	&[disabled] {
		cursor: not-allowed;
		pointer-events: none;
		.opacity(.65);
		.box-shadow(none);
	}

	&-secondary{
		background-color: #3b8391;
	}

	&-default {
		background: #a9afb7;

		&:hover {
			background: -webkit-linear-gradient(top, rgba(169, 175, 183, 0.65) 0%, rgba(169, 175, 183, 0.65) 57%, #a9afb7 57%, #a9afb7 100%);
			background: linear-gradient(to bottom, rgba(169, 175, 183, 0.65) 0%, rgba(169, 175, 183, 0.65) 57%, #a9afb7 57%, #a9afb7 100%);
		}
	}
}

.button-small {
	padding: 10px 30px 8px;
	font-size: 13px;
}

.button-link {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-size: inherit;
	color: inherit;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}