.cfa-free-trial {
	margin-bottom: 50px;

	.video {
		max-width: 100%;
		height: 0;
		margin-bottom: 20px;
		padding-bottom: 56.25%;
		position: relative;
		overflow: hidden;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.sub-title {
		margin-top: -5px;
		font-size: 22px;
		font-weight: 600;
		text-align: center;
	}

	.form-text {
		margin-bottom: 20px;
		font-size: 17px;
		font-weight: 400;
		text-align: center;
	}

	form {
		margin: 0 auto;
		max-width: 400px;
		padding-top: 20px;
		padding-bottom: 20px;

		.form-button {
			width: 100%;
		}

		.note {
			margin: 0 10px 15px 10px;
		}

		a {
			color: #f09a00;
		}
	}
}

.free-trial-confirmation {
	.confirmation-pin;
}

@media @mobile {
	.cfa-free-trial {
		.cfa-free-trial-description {
			margin: 0 0 40px 0;
		}

		form {
			max-width: 100%;
		}
		.container {
			.row{
				display: flex;
				flex-direction: column;
			}

			.row > .descriptionBlock {order: 2;}
			.row > .freeTrialFormBlock {order: 1;}
		}
	}

	.container {
		&.free-trial-confirmation {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

@media @tablet {
	.cfa-free-trial {
		.container .row > div:last-child {
			position: relative;

			&:before {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				content: '';
				display: block;
				border-left: 1px solid #dee1db;
			}
		}
	}

	.free-trial-confirmation {
		.form-buttons {
			margin-right: 0;
			margin-left: 0;
		}

		.confirmation-note p {
			float: left;
		}
	}
}
