.popover {
	border: 1px solid @popover-border;
	font-family: @main-font;
	background-color: @popover-background;
	color: @text-gray;
	font-size: 13px;
	line-height: 18px;
	box-shadow: none;

	.popover-title {
		font-weight: 600;
		background: none;
		border: none;
	}

	p {
		margin: 0 0 10px 0;
	}
}

.cart-box {
	margin: 0 0 45px;

	.box {
		padding: 20px;
		background: @white;
		border: 1px solid #c3c3c3;

		&.no-side-br {
			border-left: none;
			border-right: none;
		}
	}

	.box > div {
		display: inline-block;
		margin-right: -4px;
	}

	.box > div:first-child {
		width: 50%;

		.price,
		.text {
			display: inline-block;
			margin-right: -4px;
		}

		.price {
			width: 25%;
			font-size: 24px;
			font-weight: 600;
		}

		.text {
			width: 75%;
			padding-right: 0px;
			text-align: right;

			label a {
				font-size: 14px;
				font-weight: 400;
				color: @text-gray;
				text-decoration: underline;
			}

			label a:hover {
				cursor: pointer;
			}
		}
	}

	.box > div:last-child {
		text-align: right;
		width: 50%;

		button, a {
			display: inline-block;
			height: 44px;
			padding: 0 25px;
			font-size: 24px;
			font-weight: 600;
			line-height: 44px;
			cursor: pointer;
			color: @white;
			text-align: center;
		}

		button {
			border: 0 none;
			border-radius: 0;
			outline: 0 none;
			text-decoration: none;
			background-color: #5e2b63;
            vertical-align: top;
		}

		a {
			margin-left: 20px;
			background-color: #38828d;
			text-decoration: none;
		}

		button:hover {
			background-color: #5e2b63;
			background-image: linear-gradient(to bottom, #894090 0%, #894090 50%, #5e2b63 51%, #5e2b63 100%);
            background-image: -moz-linear-gradient(top, #894090 0%, #894090 50%, #5e2b63 51%, #5e2b63 100%); /* FF3.6-15 */
            background-image: -webkit-linear-gradient(top, #894090 0%, #894090 50%, #5e2b63 51%, #5e2b63 100%); /* Chrome10-25,Safari5.1-6 */
            background-image: linear-gradient(to bottom, #894090 0%, #894090 50%, #5e2b63 51%, #5e2b63 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#894090', endColorstr='#5e2b63',GradientType=0 ); /* IE6-9 */
            background-size: 100% auto;
		}

		a:hover {
			background-color: #38828d;
			background-image: linear-gradient(to bottom, #4caebd 0%, #4caebd 50%, #38828d 51%, #38828d 100%);
            background-image: -moz-linear-gradient(top, #4caebd 0%, #4caebd 50%, #38828d 51%, #38828d 100%); /* FF3.6-15 */
            background-image: -webkit-linear-gradient(top, #4caebd 0%, #4caebd 50%, #38828d 51%, #38828d 100%); /* Chrome10-25,Safari5.1-6 */
            background-image: linear-gradient(to bottom, #4caebd 0%, #4caebd 50%, #38828d 51%, #38828d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4caebd', endColorstr='#38828d',GradientType=0 ); /* IE6-9 */
			background-size: 100% auto;
		}
	}
}

.key-features {
	padding: 40px 0;
	background-color: @light-gray-bg;
	box-shadow: 0 -2px 3px 0 rgba(102, 102, 102, 0.3) inset;

	.container > .row {
		padding-bottom: 60px;
	}

	.heading {
		margin: 0 0 10px 0;
		padding-left: 60px;
		line-height:50px;
		font-size: 32px;
		font-weight: 600;
		color: #5e2b63;
		vertical-align: middle;

		span {
			display: inline-block;
			line-height: 36px;
		}

		&.free-trial {
			background: url('../images/ico-key.png') 0 0 no-repeat;
		}

		&.our-promise {
			background: url('../images/ico-clipboard.png') 0 0 no-repeat;
		}

		&.meet-your-professors {
			background: url('../images/ico-people.png') 0 0 no-repeat;
		}

		&.bite-sized-lessons {
			background: url('../images/ico-watch.png') 0 0 no-repeat;
		}
	}

	.try-now {
		text-align: center;

		a {
			color: #f09a00;
			outline: 0 none;
			cursor: pointer;
		}
	}
}

.whats-included {
	position: relative;
	padding: 40px 0;
	color: #ffffff;
	background: #5e2b63 url('../images/polygon-lilac.png') no-repeat scroll 100% 0;

	&:before,
	&:after {
		content: ' ';
		position: absolute;
		bottom: 0;
		display: block;
		width: 50%;
		height: 4px;
	}

	&:before {
		left: 0;
		background-color: #38828d;
	}

	&:after {
		right: 0;
		background-color: #e8962a;
	}

	h4 {
		margin: 30px 0 50px;
		font-size: 30px;
		font-weight: normal;
		line-height: 34px;
	}

	ul {
		margin-left: 30px;

		li {
			margin: 15px 0;
			padding-left: 30px;
			font-size: 18px;
			background: rgba(0, 0, 0, 0) url('../images/ico-check8.png') no-repeat scroll 0 8px;
		}

		li a {
			font-weight: 600;
			color: #f09a00;
			cursor: pointer;
			outline: 0 none;
		}
	}

	.image-gallery {
		margin: 0 0 30px 0;
		background: url('../images/ipad-bg.png') no-repeat scroll center top;

		.slider {
			width: 360px;
			margin: 0 auto;
		}

		#sync1 {
			top: 38px;
			margin: 0 0 95px 0;
		}

		#sync2 {
			width: 340px;
			margin-left: 20px;
		}

		#sync2 .item {
			margin: 0 15px 0 0;
			opacity: 0.8;
			cursor: pointer;
		}

		#sync2 .synced .item {
			opacity: 1;
		}

		#sync2 .item img {
			border: 1px solid #ffffff;
		}

		.owl-prev,
		.owl-next {
			height: 32px !important;
		}

		.owl-prev:before,
		.owl-next:before {
			content: ' ';
			position: absolute;
			top: 50%;
			display: block;
			height: 32px;
			width: 32px;
			z-index: 9999;
			margin-top: -16px;
			outline: 0 none;
			text-indent: -9999px;
			background-color: rgba(0, 0, 0, 0);
			background-image: url('../images/circle-arrows-black.png');
			background-repeat: no-repeat;
		}

		.owl-prev:before {
			left: 10px;
			background-position: 0 0;
		}

		.owl-next:before {
			right: 10px;
			background-position: -32px 0;
		}

	}
}

.highlights {
	h4 {
		margin: 40px 0;
		color: #5e2b63;
		font-size: 32px;
		text-align: center;
	}

	ul li {
		margin: 30px 0;
		padding: 0 0 0 25px;
		background: rgba(0, 0, 0, 0) url('../images/ico-check8.png') no-repeat scroll 0 8px;
	}

	ul li:first-child {
		margin-top: 15px;
	}

    .mobile-view {
        display: none;
    }

	#owl-text {
		.owl-wrapper-outer {
			margin: 0 0 35px 0;
		}

		.owl-page {
			height: auto;
			width: auto;
			padding: 0;
		}

		.owl-page span {
			display: block;
			width: 10px;
			height: 10px;
			margin: 0 3px;
			box-shadow: 2px 2px 1px 0 rgba(153, 153, 153, 0.5) inset;
			background: #ffffff none repeat scroll 0 0;
			border-radius: 5px;
			outline: 0 none;
			text-indent: -9999px;
		}

		.owl-page.active span,
		.owl-page:hover span {
			background: #f8971d none repeat scroll 0 0;
		}

		p {
			font-size: 22px;
			line-height: 33px;
		}
	}
}

.chat-with-expert {
	margin: 25px 0 35px;
	text-align: center;

	a {
		display: inline-block;
		padding: 20px;
		font-size: 18px;
		line-height: 18px;
		background-color: #5e2b63;
		color: #ffffff;

		span {
			background: url('../images/ico-arrow-sml.png') no-repeat scroll right 5px;
			padding: 0 18px 0 0;
		}

		strong {
			font-weight: 600;
		}

		&:hover,
		&:focus {
			background: linear-gradient(to bottom, #8f6b92 0%, #8f6b92 50%, #5e2b63 50%, #5e2b63 100%) repeat scroll 0 0;
			text-decoration: none;
		}
	}
}

.try-free {
	margin-bottom: 50px;

	.container .row > div:first-child {
		border-right: 1px solid #dee1db;
		font-size: 17px;

		p {
			margin-right: 60px;
		}
	}

	.video:not(.video-background) {
		max-width: 100%;
		height: 0;
		margin-bottom: 20px;
		padding-bottom: 56.25%;
		position: relative;
		overflow: hidden;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.video-background {
		iframe {
			height: 338px;
			width: 450px;
			padding: 35px 60px;
			background: url('../images/ipad-bg.png') no-repeat;
			background-size: 468px;
			background-position: -12px 0;
		}
	}

	.title {
		font-size: 22px;
		font-weight: 600;
		margin-top: -5px;
		text-align: center;
	}

	.sub-title {
		margin-bottom: 20px;
		font-size: 17px;
		font-weight: 400;
		text-align: center;
	}

	form {
		margin: 0 auto;

		& > div {
			position: relative;
			margin: 10px 0 20px;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"] {
			box-sizing: border-box;
			height: 36px;
			width: 100%;
			padding: 0 10px;
			font-weight: 600;
			color: @text-gray;
			background-color: #f2f5ed;
			border: 1px solid #d2d4cf;
			box-shadow: none;
		}

		::-webkit-input-placeholder {
			font-size: 15px;
			font-weight: 400;
			color: @text-gray;
		}

		::-moz-placeholder {
			font-size: 15px;
			font-weight: 400;
			color: @text-gray;
		}

		:-moz-placeholder {
			font-size: 15px;
			font-weight: 400;
			color: @text-gray;
		}

		:-ms-input-placeholder {
			font-size: 15px;
			font-weight: 400;
			color: @text-gray;
		}

		input::-ms-clear {
			display: none;
		}

		a {
			color: #f09a00;
		}
	}

	.dropdown-status {
		position: relative;
		display: block;
		width: 100%;
		height: 36px;
		padding: 0 10px;
		box-sizing: border-box;
		color: inherit;
		font-weight: 400;
		font-size: 14px !important;
		text-align: left;
		background-color: #f2f5ed;
		border: 1px solid #c7c9c3;

		&.btn-default:hover {
			background: #f2f5ed;
		}
	}

	.dropdown-ico {
		position: absolute;
		right: 1px;
		top: 1px;
		height: 95%;
		width: 32px;
		padding: 0 16px;
		background-color: #eeeeee !important;
		border-left: 1px solid #c7c9c3;

		&.btn-default:hover {
			background: #eeeeee;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			height: 0;
			width: 0;
			margin: -3px 0 0 -6px;
			border-color: #a2a49f transparent transparent;
			border-image: none;
			border-style: solid;
			border-width: 6px;
		}
	}

	.drop-down.open {
		.dropdown-ico::before {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background-color: #dfe0de;
		}

		.dropdown-status {
			background-color: #f2f5ed;
			border-color: #0090c1;
			color: @text-gray;
		}
	}

	.scrollable-menu {
		height: auto;
		max-height: 250px;
		width: 100%;
		overflow-x: hidden;
		padding: 0;
		margin: 0;
		background-color: @white;
		border-left: 1px solid #d2d4cf;
		border-right: 1px solid #d2d4cf;
		border-bottom: 1px solid #d2d4cf;
		box-shadow: none;

		li {
			padding: 5px 10px;
		}

		li:hover {
			cursor: pointer;
			background-color: #eeeeee;
		}

		li.selected {
			background-color: #c7c9c3;
			color: #ffffff;
		}
	}

	.launch {
		width: 100%;
		min-width: 115px;
		height: 38px;
		padding: 0 22px;
		font-size: 19px;
		font-weight: 400;
		line-height: 38px;
		color: #ffffff;
		background-color: #00a4e4;
		text-align: center;
	}

	.launch:hover {
		background: #00a4e4 url('../images/btn-hover-light.png') repeat-x scroll center top;
	}

	label.error {
		margin: 5px 0 0;
		color: #ff0000;
		font-size: 13px;
		font-weight: 400;
	}

	.checkbox label {
		position: relative;
		margin-bottom: 20px;
		font-size: 15px;
	}

	.form-control-feedback {
		top: 0;
	}

	.has-success .form-control-feedback {
		color: green;
	}

	.has-success .form-control:focus {
		border-color: #d2d4cf;
		box-shadow: none;
	}

	.has-error input,
	.has-error .form-control:focus {
		border-color: #ff0000 !important;
		box-shadow: none;
	}

}

.description {
	margin-bottom: 30px;
}

.description-product {
	padding: 70px 0 0 0;
	background-color: #f2f5ed;

	h1 {
		margin: 0 0 20px;
		font-size: 40px;
		line-height: 44px;
		letter-spacing: -0.4px;
	}

	.image {
        margin: 0 0 30px 0;
        text-align: center;

        img  {
            max-width: 100%;
            height: auto;
        }
	}

    .description {
        margin-right: 55px;
    }

    .offset-bottom-20 {
        margin-bottom: 20px;
    }

    .top-link a {
        font-size: 14px;
        color: #000000;
        text-decoration: underline;
    }

	a {
		color: #f09a00;
	}

	strong {
		font-weight: 700;
	}

	.text > p {
		margin-bottom: 20px;
	}

	.note {
		padding: 5px;
		font-size: 15px;
		background: #969d00;
		color: #ffffff;

		p {
			margin-bottom: 0;
		}

        strong {
            text-transform: uppercase;
        }
	}

    .mobile {
        display: none;
    }
}

.mock-questions {
	padding: 25px 0 45px 0;
	box-shadow: 0 -2px 3px 0 rgba(102, 102, 102, 0.3) inset;

	h3 {
		margin-bottom: 30px;
		font-size: 32px;
		color: #5e2b63;
		text-align: center;

		a {
			font-size: 19px;
		}
	}

	strong {
		font-weight: 700;
	}

	p {
		font-size: 15px;
		margin-bottom: 20px;
		margin-left: 20px;
	}

	a {
		color: #f09a00;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	sup {
		position: static;
		font-size: 15px;
		vertical-align: baseline;
	}

	ul {
		margin-left: 40px;
	}

	ul li {
		margin: 15px 0;
		padding-left: 30px;
		font-size: 15px;
		background: rgba(0, 0, 0, 0) url('../images/ico-check8.png') no-repeat scroll 0 8px;
	}

	iframe {
		margin-bottom: 20px;
	}
}

.gray-bg {
	background-color: #f2f5ed;
}

.padding-bottom45 {
	padding-bottom: 45px;
}

.margin-bottom0 {
	margin-bottom: 0;
}

.product-addons {
	padding: 0;
	margin-bottom: 30px;
	border: 1px solid #d2d4cf;
	width: 230px;
	background: #ffffff;

	.product-addons-title {
		padding: 10px 15px;
		font-weight: 600;
		border-bottom: 1px solid #d2d4cf;
	}

	.product-addons-content {
		padding: 10px 15px 0;

		label {
			margin-bottom: 15px;
			font-weight: 400;
		}
	}
}

@media @tablet {
	.cart-box {
		.text,
		.price,
		.cart-box-buttons {
			vertical-align: middle;
		}
	}

	.try-free {
		form {
			max-width: 400px;
		}
	}
	
	.whats-included {
        .product-include-title {
          color: #ffffff;
        }
	}
}

@media @tablet and (max-width: @screen-sm-max) {
	.cart-box {

		.box {
			padding: 15px;
		}

		.box > div:first-child {
			width: 53%;

			.text {
				padding-right: 0;
			}
		}

		.box > div:last-child {
			width: 47%;

			button, a {
				padding: 0 6%;
				font-size: 20px;
			}
		}
	}

	.whats-included {
		h4 {
			margin: 20px 0;
			font-size: 26px;
			line-height: 30px;
		}

		ul {
			margin-left: 0;

			li {
				font-size: 15px;
				margin: 10px 0;
				padding-left: 20px;
			}
		}
	}

	.highlights h4 {
        margin: 20px 0;
    }

	.description-product {

		h1 {
			font-size: 28px;
			line-height: 32px;
			margin: 0 0 10px;
		}

		.text {
			font-size: 14px;
		}
	}
}

@media @mobile {
	.cart-box {

		.box {
			padding: 15px;
		}

		.box > div:first-child {
			width: 100%;
			margin-bottom: 10px;

			.price {
				width: 100%;
				margin-bottom: 10px;
			}

			.text {
				width: 100%;
				text-align: left;
			}
		}

		.box > div:last-child {
			width: 100%;
            text-align: left;

			button, a {
				padding: 0;
				font-size: 16px;
				height: 34px;
				line-height: 34px;
			}

			button {
				width: 50%;
			}

			a {
				width: 45%;
				margin-left: 3%;
			}
		}
	}

	.popover {
		min-width: 200px !important;
	}

	.key-features {
		padding: 20px 0;

		.container > .row {
			padding-bottom: 0;
		}

		.container > .row > div {
			padding-bottom: 20px;
		}

		.heading span {
			font-size: 28px;
		}

		p {
			font-size: 15px;
		}

	}

	.whats-included {
		padding: 30px 0;

		h4 {
			font-size: 26px;
			line-height: 30px;
			margin: 20px 0;
		}

		ul {
			margin-left: 0;

			li {
				font-size: 15px;
				margin: 10px 0;
				padding-left: 20px;
			}
		}
		
        .product-include-title {
          color: #ffffff;
        }

		.image-gallery {
			background: none;

			.slider {
				width: 100%;
				margin: 0 auto;
			}

			#sync1 {
				top: 0;
				margin-bottom: 35px;
			}

			#sync2 {
				width: 100%;
				margin-left: 7px;
			}

		}
	}

	.highlights {

        .tablet-view {
            display: none;
        }

        .mobile-view {
            display: block;
        }

        h4 {
            margin: 25px;
        }

    }

	.try-free {
		margin-top: 30px;

		.video {
			text-align: center;
		}

		.video-background {
			iframe {
				height: 248px;
				width: 72%;
				padding: 33px;
				background-size: 105% 92%;
				background-position: 57% 50%;
				background-repeat: no-repeat;
				margin-bottom: 15px;
			}
		}

		.container .row > div:first-child {
			margin-bottom: 40px;

			p {
				margin-right: 0;
			}
		}

		form {
			margin: 0 20px;
		}

	}

	.description-product {
		padding: 20px 0 0 0;

		h1 {
			font-size: 28px;
			line-height: 32px;
			margin: 0 0 10px;
		}

        .image {
            margin: 0 0 25px 0;
        }

		.text {
			font-size: 14px;
		}

		.description {
            margin-right: 0;
		}

        .tablet {
            display: none;
        }

        .mobile {
            display: block;
        }
	}
}

.competitors {
	padding-bottom: 35px;
	background: #f2f5ed;

	h3 {
		margin: 30px 25px;
		font-size: 32px;
		text-align: center;
	}

	.notice {
		font-size: 12px;
	}

	&-table {
		width: 100%;
		margin: 25px 0 50px 0;
		table-layout: auto;
		border-spacing: 1px;
		border-collapse: separate;
		font-size: 20px;
		background-color: #d2d4cf;

		td,
		th {
			padding: 18px;
			text-align: center;

			&:nth-child(3) {
				position: relative;

				&:before {
					content: "";
					position: absolute;
					top: -1px;
					left: 0;
					bottom: 0;
					z-index: 1;
					width: 20px;

					-webkit-box-shadow: inset 10px 0px 5px -6px rgba(0, 0, 0, 0.15);
					-moz-box-shadow: inset 10px 0px 5px -6px rgba(0, 0, 0, 0.15);
					box-shadow: inset 10px 0px 5px -6px rgba(0, 0, 0, 0.15);
				}
			}

			&:nth-child(1) {
				text-align: left;
			}
		}

		th {
			background-color: #f9faf6;
			font-size: 26px;

			&:nth-child(2) {
				position: relative;
				background-color: #ffffff;

				&:before {
					content: "";
					position: absolute;
					top: -24px;
					left: -1px;
					right: -1px;
					height: 25px;
					z-index: 1;
					border-width: 1px 1px 0 1px;
					border-style: solid;
					border-color: #d2d4cf;
					background-color: inherit;
				}
			}
			&:nth-child(3) {
				position: relative;

				&:before {
					top: -20px;
				}
			}
		}

		tr {
			&:nth-child(odd) {
				background-color: #e2ebe9;

				td {
					&:nth-child(2) {
						background-color: #bfd7da;
					}
				}
			}

			&:nth-child(even) {
				background-color: #f9faf6;

				td {
					&:nth-child(2) {
						background-color: #ffffff;
					}
				}
			}

			&:last-child {
				td {
					&:nth-child(2) {
						position: relative;

						&:before {
							content: "";
							position: absolute;
							bottom: -24px;
							left: -1px;
							right: -1px;
							height: 40px;
							z-index: 1;
							border-width: 0 1px 1px 1px;
							border-style: solid;
							border-color: #d2d4cf;
							background-color: inherit;

							box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.15);
						}
					}
				}
			}
		}
	}
}

@media @mobile {
	.competitors {
		h3 {
			margin: 15px 25px;
			font-size: 26px;
		}

		&-table {
			font-size: 16px;

			td,
			th {
				padding: 12px 9px;
			}

			th {
				font-size: 20px;
			}
		}
	}
}

.bottom-line {
	position: relative;

	&:before,
	&:after {
		width: 50%;
		position: absolute;
		bottom: 0;
		height: 4px;
		line-height: 4px;
		display: block;
		content: ' ';
		z-index: 1;
	}

	&:before {
		right: 0;
		background-color: #e8962a;
	}

	&:after {
		left: 0;
		background-color: #5e2b63;
	}
}

.bottom-shadow {
	-moz-box-shadow: inset 0px -2px 3px 0px rgba(102, 102, 102, 0.3);
	-webkit-box-shadow: inset 0px -2px 3px 0px rgba(102, 102, 102, 0.3);
	box-shadow: inset 0px -2px 3px 0px rgba(102, 102, 102, 0.3);
}

/***********************************************************************************************************************
 * Styles for block on cfa page "Plan" & "Front row"
 **********************************************************************************************************************/
.plan,
.front-row {
	position: relative;
	overflow: hidden;

	.img-block {
		position: absolute;
		top: 0;
		min-width: 100%;
		min-height: 100%;
	}

	.container {
		position: relative;
	}

	h3 {
		margin: 50px 0 20px 0;
		font-size: 32px;
		font-weight: 400;
		line-height: 36px;
	}

	p {
		font-size: 20px;
		line-height: 30px;
	}
}

.plan {
	min-height: 400px;
}

.front-row {
	max-height: 443px;
	color: #ffffff;

	a {
		color: #f09a00;
	}

	&.bottom-line {
		&:before {
			background: #e8962a;
		}

		&:after {
			background: #38828d;
		}
	}

	.front-row-image {
		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}

	.front-row-text {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}
}

.promo-flag-new {
	display: inline-block;
	position: relative;
	height: 16px;
	margin-right: 10px;
	padding: 0 5px;
	background-color: #5e2b63;
	font-size: 12px;
	font-weight: 700;
	color: #ffffff;
	line-height: 16px;

	&:after {
		position: absolute;
		width: 0;
		height: 0;
		top: 0;
		right: -4px;
		border-color: transparent transparent transparent #5e2b63;
		border-style: solid;
		border-width: 8px 0 8px 4px;
		content: " ";
	}
}

@media @mobile {
	.plan,
	.front-row {
		h3 {
			font-size: 28px;
			margin: 10px 0 5px 0;
		}

		p {
			font-size: 16px;
		}
	}

	.plan {
		min-height: 320px;
	}

	.front-row {
		.front-row-image {
			height: 100%;
			position: absolute;

			img {
				display: block;
				height: 100%;
				width: auto;
			}
		}

		.front-row-text {
			position: relative;
			background: rgba(85, 85, 85, 0.6) none repeat scroll 0 0;
		}

		p {
			line-height: 26px;
		}
	}

}

@media @tablet and (max-width: @screen-sm-max) {
	.plan,
	.front-row {
		p {
			font-size: 16px;
			line-height: 26px;
		}
	}
}

/***********************************************************************************************************************
 * Styles for block on cfa page "Product tour"
 **********************************************************************************************************************/
.product-tour {
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		height: 85px;
		width: 50%;
		top: 0;
		z-index: -1;
	}

	&:before {
		left: 0;
		background: #979e00;
	}

	&:after {
		right: 0;
		background: #e8962a;
	}

	h4 {
		height: 85px;
		line-height: 85px;
		margin: 0;
		padding: 0;
		font-size: 24px;
		text-align: center;
		font-weight: 600;
		color: #ffffff;
	}

	.row > div {
		padding: 0 0 38px 0;

		&:nth-child(2) {
			h4 {
				position: relative;
				background: #5e2b63;

				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 42.5px 0 42.5px 22px;
				}

				&:before {
					left: -1px;
					border-color: transparent transparent transparent #979e00;
				}

				&:after {
					right: -21px;
					border-color: transparent transparent transparent #5e2b63;
				}

			}
		}

		ul {
			list-style: none;
			margin: 36px 0 0 0;
			padding: 0 20px;

			li {
				position: relative;
				display: none;
				margin: 8px 0;
				padding-left: 10px;
				font-size: 15px;

				&:nth-child(-n+3) {
					display: block;
				}

				&:before {
					content: ' ';
					width: 4px;
					height: 4px;
					border-radius: 2px;
					position: absolute;
					top: 8px;
					left: 0;
					background-color: #979e00;
				}
			}
		}

		.show-hide {
			color: #5e2b63;
			padding-left: 25px;
			text-decoration: underline;
			font-size: 15px;
			outline: none;

			&:hover,
			&:active {
				text-decoration: none;
				color: #5e2b63;
			}
		}
	}
}

@media (max-width: @screen-xs-max) {
	.product-tour {
		&:before,
		&:after {
			display: none;
		}

		.row > div {
			h4 {
				padding: 0 25px;
				height: 55px;
				line-height: 55px;
				text-align: left;
			}

			&:nth-child(1) {
				h4 {
					background: #979e00;
				}
			}

			&:nth-child(2) {
				h4 {
					&:before,
					&:after {
						display: none;
					}
				}
			}

			&:nth-child(3) {
				h4 {
					background: #e8962a;
				}
			}
		}
	}
}


@media @tablet and (max-width: @screen-md-min) {
	.product-tour {
		.row > div {
			h4 {
				font-size: 20px;
			}
		}
	}

	.front-row {
		.front-row-text {
			background: rgba(85, 85, 85, 0.6) none repeat scroll 0 0;
			h3 {
				font-size: 28px;
				margin: 10px 0 5px 0;
			}
		}
	}
}