.comparison-product-anchors {
	.anchors-text,
	.anchors-links {
		display: inline-block;
		vertical-align: middle;
	}

	.anchors-text {
		margin-right: 10px;
		margin-bottom: 0;
		font-size: 14px;
	}

	.anchor-link {
		margin-left: 10px;
		padding: 6px 28px 6px 8px;
		display: inline-block;
		position: relative;
		border: 1px solid #d2d4cf;
		font-size: 16px;
		font-weight: 600;
		line-height: 16px;
		color: inherit;

		&:first-child {
			margin-left: 0;
		}

		&:after {
			width: 15px;
			height: 15px;
			margin-top: -7px;
			display: block;
			content: "\e026";
			position: absolute;
			top: 50%;
			right: 4px;
			font-size: 15px;
			font-family: 'Glyphicons Halflings';
			color: #969d00;
		}

		&:hover {
			background-color: #f6f8f2;
			text-decoration: none;
		}
	}
}

.comparison-table {
	margin: 55px 0 20px;
}

.comparison-product {
	margin-top: 50px;
	border-bottom: 1px solid #d1d3d0;

	&:last-child {
		border-bottom: 0;
	}
}

.comparison-product-title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
}

@media @mobile {
	.comparison-table {
		margin-top: 45px;
	}

    .comparison-product-navigation {
        padding-right: 10px;
        padding-left: 10px;
    }

	.comparison-table-title,
	.comparison-product-title {
		padding-right: 10px;
		padding-left: 10px;
	}

	.comparison-table-title {
		margin-top: 30px;
		font-size: 24px;
		font-weight: 700;
        text-align: left;
	}

    .comparison-product-title {
        text-align: center;
    }

	.comparison-table-subtitle {
		font-size: 18px;
		line-height: 22px;
	}

	.most-popular-label {
		width: 58px;
		height: 58px;
		padding-top: 17px;
		background: #eb9d21;
		position: absolute;
		top: -24px;
		left: 22px;
		font-size: 11px;
		text-transform: uppercase;
		color: @white;
		line-height: 11px;
		.border-top-radius(58px);
		.border-bottom-radius(58px);
		.rotate(-15deg);
	}

	.course-component {
		margin-bottom: 20px;
		background: @white;
		border: 1px solid #e7e7e8;
		position: relative;
		text-align: center;
		.border-top-radius(20px);
		.border-bottom-radius(10px);

		&:first-child {
			background: #eaf5f5;
			border-color: #d2dbdb;

			.course-component-title {
				padding: 0 70px;
			}

			.learn-more-links,
			.course-component-header {
				background: #aec1be;
			}

			.course-component-header {
				.learn-more-links {
					background: #ccd7d5;
					border-color: #b4bfbe;
				}
			}

			.course-component-price {
				background: #dce4e6;
				border-color: #d2dbdb;
			}

			.learn-more-links {
				.link {
					&.not-active {
						color: #99a4a3;

						&:after,
						&:before {
							border-color: #99a4a3;
						}
					}
				}
			}
		}

		.course-component-header {
			padding: 17px 8px 25px;
			background: #ecf0ee;

			.border-top-radius(20px);

			.course-component-title {
				font-size: 24px;
				font-weight: 700;
				line-height: 24px;

				& + .learn-more-links {
					margin-top: 11px;
				}
			}

			.learn-more-links {
				background: #fcfdfb;
				border: 1px solid #e7e7e8;
			}
		}

		.course-component-price {
			padding: 16px 8px 9px;
			background: #fcfdfb;
			border-bottom: 1px solid #e7e7e8;

			.price-value {
				margin-bottom: 2px;
				font-size: 25px;
				font-weight: 700;

				&.price-value-discount {
					padding: 0 2px;
					display: inline-block;
					position: relative;
					font-size: 20px;
					font-weight: 600;

					&:after {
						width: 100%;
						height: 0;
						display: block;
						content: '';
						border-bottom: 2px solid #eb9d21;
						position: absolute;
						top: 50%;
						left: 0;
						.rotate(-10deg);
					}
				}
			}

			.price-name {
				font-size: 18px;
				font-weight: 600;
			}

			.not-applicable {
				font-size: 12px;
				font-weight: 600;
			}
		}

		.course-component-products {
			margin: 0;
			padding: 0;
			list-style: none;

			.course-component-product {
				padding: 10px 8px;
				border-bottom: 1px solid #e7e7e8;
				font-size: 15px;
				font-weight: 600;
			}

			.check-mark {
				width: 20px;
				display: inline-block;
				font-size: 13px;
				font-weight: 400;

				&:after {
					content: '\2713';
					font-weight: 700;
					font-size: 14px;
				}
			}
		}

		.course-component-footer {
			padding-bottom: 15px;
			.border-bottom-radius(10px);

			.learn-more-links {
				margin-top: 17px;
			}
		}
	}

	.learn-more-links {
		padding: 11px 8px;
		border-top: 1px solid #e7e7e8;
		border-bottom: 1px solid #e7e7e8;
		background: #ecf0ee;
		text-transform: uppercase;

		.title {
			margin-bottom: 4px;
			padding: 0;
			font-size: 14px;
			text-transform: uppercase;
		}

		.links {
			width: 100%;
			display: table;
			table-layout: fixed;
		}

		.link-wrapper {
			display: table-cell;
			text-align: center;
			vertical-align: top;
		}
		
		.link {
			height: 20px;
			padding-right: 13px;
			display: inline-block;
			position: relative;
			font-size: 19px;
			font-weight: 600;
			color: inherit;

			&:after,
			&:before {
				content: '';
				display: block;
				width: 8px;
				height: 8px;
				border-right: 2px solid #272f37;
				border-bottom: 2px solid #272f37;
				position: absolute;
				top: 8px;
				right: 0;
				.rotate(-45deg);
				border-bottom-right-radius: 4px;
			}

			&:after {
				right: 5px;
			}

			&:hover {
				border-bottom: 1px solid #272f37;
				text-decoration: none;
			}

			&.not-active {
				color: #bcbfc0;

				&:after,
				&:before {
					border-color: #bcbfc0;
				}

				&:hover {
					border-bottom: 0;
				}
			}
		}
	}

	.comparison-table-desktop {
		display: none;
	}

	.comparison-product {
		margin-top: 40px;
	}

    .container {
        &.compare-cfa,
        &.compare-cma {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

@media @tablet {
	.comparison-table-title {
		font-size: 30px;
		font-weight: 600;
	}

	.comparison-table-subtitle {
		font-size: 22px;
		line-height: 30px;
	}

	.comparison-product-navigation {
		width: 100%;
		margin-top: 30px;
		display: table;

		.comparison-table-subtitle,
		.comparison-product-anchors {
			display: table-cell;
			vertical-align: top;
		}

		.comparison-table-subtitle {
			text-align: left;
		}

		.comparison-product-anchors {
			text-align: right;
		}
	}

	.comparison-table {
		table {
			width: 100%;
			table-layout: fixed;
			border-spacing: 0;
			border-collapse: collapse;
			border: 1px solid #d3d6cf;
			background: @white;
		}

		th,
		td {
			padding: 8px 12px;
			border: 1px solid #d3d6cf;
		}

		th,
		td:not(:first-child) {
			text-align: center;
		}

		th {
			min-height: 55px;
			font-size: 18px;
			line-height: 20px;

			&:not(:first-child) {
				background: #eaedea;
			}

			&:nth-child(2) {
				position: relative;
				background: #afc0bd;

				&:before {
					width: 100%;
					height: 17px;
					display: block;
					content: '';
					background: #afc0bd;
					position: absolute;
					top: -17px;
					left: 0;
					.border-top-radius(10px);
				}
			}

			.most-popular-label {
				width: 50px;
				height: 50px;
				padding-top: 14px;
				background: #eb9d21;
				position: absolute;
				top: -42px;
				left: 10px;
				font-size: 10px;
				text-transform: uppercase;
				color: @white;
				line-height: 10px;
				.border-top-radius(50px);
				.border-bottom-radius(50px);
				.rotate(-15deg);
			}
		}

		td {
			min-height: 45px;

			&:first-child {
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;
			}

			.price-name,
			.price-value,
            .starting-at {
				font-size: 25px;
				font-weight: 400;
			}

			.price-value-discount {
				padding: 0 2px;
				position: relative;
				font-size: 18px;

				&:after {
					width: 100%;
					height: 0;
					display: block;
					content: '';
					border-bottom: 2px solid #eb9d21;
					position: absolute;
					top: 50%;
					left: 0;
					.rotate(-10deg);
				}

				& + .price-value {
					display: block;
				}
			}
		}

		tbody {
			tr {
				&:nth-child(odd) {
					td {
						background: #fafcf8;

						&:first-child {
							background: #f1f5ea;
						}

						&:nth-child(2) {
							background: #dce3e3;
						}
					}
				}
				&:nth-child(even) {
					td {
						&:first-child {
							background: #fafcf8;
						}

						&:nth-child(2) {
							background: #e9f1f1;
						}
					}
				}
			}
		}

		tfoot {
			td {
				padding-bottom: 14px;
				vertical-align: top;
			}
		}

		.not-applicable {
			font-size: 15px;
			color: #afb1ac;
		}

		.check-mark {
			display: inline-block;
			width: 18px;
			height: 18px;
			position: relative;
			.border-top-radius(18px);
			.border-bottom-radius(18px);

			&:after {
				display: block;
				content: '';
				width: 7px;
				height: 10px;
				.rotate(45deg);
				border-right: 3px solid #689f4c;
				border-bottom: 3px solid #689f4c;
				position: absolute;
				left: 5px;
				top: 3px;
			}
		}

        tfoot {
            .learn-more {
                td {
                    padding-bottom: 0;
                    border-bottom: none;
                }

                p, a {
                    margin-bottom: 3px;
                    font-size: 13px;
                    font-weight: 600;
                    text-align: center;
                }
            }

            .level-link {
                td {
                    padding-top: 0;
                    border-top: none;

                    div {
                        display: block;
                        max-width: 105px;
                        margin: 0 auto;
                        padding: 2px 5px;
                        white-space: nowrap;
                        background: #2191c3;
                    }

                    a, span {
                        display: block;
                        padding: 3px;
                        color: @white;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 24px;
                        border-top: 1px solid #94bdda;

                        &:first-child {
                            border: 0;
                        }

                        &.not-active {
                            color: #32add1;
                        }
                    }
                }
            }
        }
	}

	.comparison-table-mobile {
		display: none;
	}
}

@media @tablet and (max-width: @screen-sm-max) {

    .comparison-table {
        overflow-x: scroll;
        padding-top: 45px;
        margin-top: 0;
        
        table {
            table-layout: auto;

            .level-link td div {
                max-width: 70px;
            }
        }
    }
}
