.comparison-product-anchors {
	.anchors-text,
	.anchors-links {
		display: inline-block;
		vertical-align: middle;
	}

	.anchors-text {
		margin-right: 10px;
		margin-bottom: 0;
		font-size: 14px;
	}

	.anchor-link {
		margin-left: 10px;
		padding: 6px 28px 6px 8px;
		display: inline-block;
		position: relative;
		border: 1px solid #d2d4cf;
		font-size: 16px;
		font-weight: 600;
		line-height: 16px;
		color: inherit;

		&:first-child {
			margin-left: 0;
		}

		&:after {
			width: 15px;
			height: 15px;
			margin-top: -7px;
			display: block;
			content: "\e026";
			position: absolute;
			top: 50%;
			right: 4px;
			font-size: 15px;
			font-family: 'Glyphicons Halflings';
			color: #969d00;
		}

		&:hover {
			background-color: #f6f8f2;
			text-decoration: none;
		}
	}
}

.cell-level {
  margin-bottom: -3px !important;
}

.cell-right-text {
  text-align: right !important;
}

.footer-level-links {
  text-align: -webkit-center;
}

.level-url {
  padding: 0 10px;
}

.comparison-table-cfa {
	margin: 0 0 20px;

	.tooltipHelp {
		margin-left: 5px;
	}

	.learn-more {
		padding: 1px 10px;
		display: block;
		font-size: 16px;
		font-weight: 600;
		font-weight: 600;
		line-height: 35px;
		background-color: #057a83;
		color: #fff;
		margin: 3px;

		&:hover {
			text-decoration: none;
			color: #000;
		}
	}

	.check-mark {
		display: inline-block;
		width: 18px;
		height: 18px;
		position: relative;
		.border-top-radius(18px);
		.border-bottom-radius(18px);

		&:after {
			display: block;
			content: '';
			width: 7px;
			height: 10px;
			.rotate(45deg);
			border-right: 3px solid #511c54;
			border-bottom: 3px solid #511c54;
			position: absolute;
			left: 5px;
			top: 3px;
		}
	}

	.comparison-product {
		margin-top: 50px;
		border-bottom: 1px solid #d1d3d0;

		&:last-child {
			border-bottom: 0;
		}
	}

	.comparison-product-title {
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 600;
		line-height: 36px;
	}

	.most-popular-label {
		width: 50px;
		height: 50px;
		padding-top: 14px;
		background: #892c63;
		position: absolute;
		top: 20px;
		left: 50%;
		font-size: 9px;
		text-transform: uppercase;
		color: @white;
		line-height: 10px;
		.border-top-radius(50px);
		.border-bottom-radius(50px);
	}
}

@media @mobile {
	.comparison-table-title-cfa,
	.comparison-product-title {
		padding-right: 10px;
		padding-left: 10px;
	}

	.comparison-table-title-cfa {
		margin-top: 30px;
		font-size: 24px;
		font-weight: 700;
		text-align: left;
	}

	.comparison-table-cfa {
		margin: 0 10px 0;

		&.comparison-table-cfa-desktop {
			display: none;
		}

		.cfa-thead-image {
			img {max-width: 300px;}
		}

		.comparison-product-navigation {
			padding-right: 10px;
			padding-left: 10px;
		}

		.comparison-product-title {
			text-align: center;
		}

		.comparison-table-subtitle {
			font-size: 18px;
			line-height: 22px;
		}

		.most-popular-label {
			width: 58px;
			height: 58px;
			padding-top: 17px;
			top: 10px;
			left: 60%;
			font-size: 11px;
			line-height: 11px;
		}

		.course-component-cfa {
			margin-bottom: 20px;
			position: relative;

			.course-component-image {
				background: #ffffff; /* Old browsers */
				background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 11%, #fbfdfc 15%, #f0f4f7 22%, #e7eff1 26%,
				#e2eaec 31%, #dfe7e9 32%, #d8e2e4 38%, #d3dee0 40%, #cddbde 45%, #c1d0d3 53%, #bed0d4 54%, #b0c5ca 65%,
				#a0bcc0 74%, #9cb9c1 78%, #95b4b9 83%, #88adb5 90%, #7da6ac 98%, #7ea7ad 99%, #79a4aa 100%);
				/* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 11%,#fbfdfc 15%,#f0f4f7 22%,#e7eff1 26%,
				#e2eaec 31%,#dfe7e9 32%,#d8e2e4 38%,#d3dee0 40%,#cddbde 45%,#c1d0d3 53%,#bed0d4 54%,#b0c5ca 65%,
				#a0bcc0 74%,#9cb9c1 78%,#95b4b9 83%,#88adb5 90%,#7da6ac 98%,#7ea7ad 99%,#79a4aa 100%);
				/* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 11%,#fbfdfc 15%,#f0f4f7 22%,#e7eff1 26%,
				#e2eaec 31%,#dfe7e9 32%,#d8e2e4 38%,#d3dee0 40%,#cddbde 45%,#c1d0d3 53%,#bed0d4 54%,#b0c5ca 65%,
				#a0bcc0 74%,#9cb9c1 78%,#95b4b9 83%,#88adb5 90%,#7da6ac 98%,#7ea7ad 99%,#79a4aa 100%);
				/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

				text-align: center;
			}

			.course-component-title {
				padding-top: 12px;
				background: #fdfeff; /* Old browsers */
				background: -moz-linear-gradient(top,  #fdfeff 0%, #ffffff 15%, #fcfefd 26%, #f2f4f3 73%, #f0f4f5 76%,
				#edf1f2 82%, #eef2f3 85%, #ecf0f1 87%, #ecf0f1 95%, #ebeff0 98%, #e9edec 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #fdfeff 0%,#ffffff 15%,#fcfefd 26%,#f2f4f3 73%,#f0f4f5 76%,
				#edf1f2 82%,#eef2f3 85%,#ecf0f1 87%,#ecf0f1 95%,#ebeff0 98%,#e9edec 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #fdfeff 0%,#ffffff 15%,#fcfefd 26%,#f2f4f3 73%,#f0f4f5 76%,#edf1f2 82%,
				#eef2f3 85%,#ecf0f1 87%,#ecf0f1 95%,#ebeff0 98%,#e9edec 100%);
				/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				text-align: center;

				p {
					font-size: 24px;
					font-weight: 700;
					line-height: 24px;
				}

				.learn-more {
					margin-bottom: 14px;
				}

				.course-price {
					background-color: #abaf37;
					font-size: 16px;
					line-height: 36px;
					font-weight: 800;
				}
			}

			.course-component-products {
				margin: 0;
				padding: 0;
				list-style: none;

				.course-component-product {
					padding: 7px 8px 7px 32px;
					position: relative;
					font-size: 15px;
					font-weight: 800;

					&:nth-child(odd) {
						background-color: #ebedea;
					}
				}

				.check-mark {
					position: absolute;
					margin-top: -9px;
					left: 8px;
					top: 50%;
				}
			}

			.course-component-footer {
				padding-top: 15px;
				text-align: center;
			}
		}

		.comparison-table-mobile-title {
			margin: 0 0 10px;
			font-size: 25px;
			font-weight: 800;
		}
	}
}

@media @tablet {
	.comparison-table-title-cfa {
		margin-bottom: -40px;
		font-size: 30px;
		font-weight: 600;
	}

	.comparison-table-cfa {
		&.comparison-table-cfa-mobile {
			display: none;
		}

		.cfa-thead-image {
			img {max-width: 150px;}
		}

		.comparison-table-subtitle {
			font-size: 22px;
			line-height: 30px;
		}

		.comparison-product-navigation {
			width: 100%;
			margin-top: 30px;
			display: table;

			.comparison-table-subtitle,
			.comparison-product-anchors {
				display: table-cell;
				vertical-align: top;
			}

			.comparison-table-subtitle {
				text-align: left;
			}

			.comparison-product-anchors {
				text-align: right;
			}
		}

		table {
			width: 100%;
			border: none;
			border-spacing: 0;
			border-collapse: collapse;
			background: @white;
			table-layout: fixed;
		}

		th,
		td {
			padding: 10px;
			border-left: 1px solid #fff;
			border-right: 1px solid #fff;
		}

		th {
			min-height: 55px;
			font-size: 18px;
			line-height: 20px;

			&:not(:first-child) {
			}
		}

		td {
			min-height: 45px;
			text-align: center;

			&:first-child {
				font-size: 14px;
				font-weight: 800;
				text-align: left;
				line-height: 20px;
			}

			.price-value-discount {
				padding: 0 2px;
				position: relative;
				font-size: 18px;

				&:after {
					width: 100%;
					height: 0;
					display: block;
					content: '';
					border-bottom: 2px solid #eb9d21;
					position: absolute;
					top: 50%;
					left: 0;
					.rotate(-10deg);
				}

				& + .price-value {
					display: block;
				}
			}
		}

		thead {

			th {
				text-align: center;
			}

			.cfa-thead-title {
				th {
					width: 30%;
					font-size: 25px;
					vertical-align: top;
					text-align: left;
				}
			}

			.cfa-thead-image {
				th {
					padding: 0;
					position: relative;
					background: #ffffff; /* Old browsers */
					background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 68%, #e9eef1 82%, #d7e2e6 89%, #d4dfe1 90%,
					#d1dcde 92%, #ccdbde 93%, #c4d3d6 97%, #bacbd2 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 68%,#e9eef1 82%,#d7e2e6 89%,#d4dfe1 90%,
					#d1dcde 92%,#ccdbde 93%,#c4d3d6 97%,#bacbd2 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 68%,#e9eef1 82%,#d7e2e6 89%,#d4dfe1 90%,
					#d1dcde 92%,#ccdbde 93%,#c4d3d6 97%,#bacbd2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

					&:first-child {
						background: #ffffff; /* Old browsers */
						background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 11%, #fbfdfc 15%, #f0f4f7 22%,
						#e7eff1 26%, #e2eaec 31%, #dfe7e9 32%, #d8e2e4 38%, #d3dee0 40%, #cddbde 45%, #c1d0d3 53%,
						#bed0d4 54%, #b0c5ca 65%, #a0bcc0 74%, #9cb9c1 78%, #95b4b9 83%, #88adb5 90%, #7da6ac 98%,
						#7ea7ad 99%, #79a4aa 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 11%,#fbfdfc 15%,#f0f4f7 22%,
						#e7eff1 26%,#e2eaec 31%,#dfe7e9 32%,#d8e2e4 38%,#d3dee0 40%,#cddbde 45%,#c1d0d3 53%,#bed0d4 54%,
						#b0c5ca 65%,#a0bcc0 74%,#9cb9c1 78%,#95b4b9 83%,#88adb5 90%,#7da6ac 98%,#7ea7ad 99%, #79a4aa 100%);
						/* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 11%,#fbfdfc 15%,#f0f4f7 22%,#e7eff1 26%,
						#e2eaec 31%,#dfe7e9 32%,#d8e2e4 38%,#d3dee0 40%,#cddbde 45%,#c1d0d3 53%,#bed0d4 54%,#b0c5ca 65%,
						#a0bcc0 74%,#9cb9c1 78%,#95b4b9 83%,#88adb5 90%,#7da6ac 98%,#7ea7ad 99%,#79a4aa 100%);
						/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					}
				}
			}

			.cfa-thead-courses {
				th {
					&:first-child {
						background: #fdfeff; /* Old browsers */
						background: -moz-linear-gradient(top,  #fdfeff 0%, #ffffff 15%, #fcfefd 26%, #f2f4f3 73%,
						#f0f4f5 76%, #edf1f2 82%, #eef2f3 85%, #ecf0f1 87%, #ecf0f1 95%, #ebeff0 98%, #e9edec 100%);
						/* FF3.6-15 */
						background: -webkit-linear-gradient(top,  #fdfeff 0%,#ffffff 15%,#fcfefd 26%,#f2f4f3 73%,
						#f0f4f5 76%,#edf1f2 82%,#eef2f3 85%,#ecf0f1 87%,#ecf0f1 95%,#ebeff0 98%,#e9edec 100%);
						/* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom,  #fdfeff 0%,#ffffff 15%,#fcfefd 26%,#f2f4f3 73%,
						#f0f4f5 76%,#edf1f2 82%,#eef2f3 85%,#ecf0f1 87%,#ecf0f1 95%,#ebeff0 98%,#e9edec 100%);
						/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					}

					p {
						margin-bottom: 5px;
					}
				}
			}

			.cfa-thead-price {
				th {
					background-color: #d0d291;

					&:first-child {
						background-color: #abaf37;
					}
				}
			}

		}

		tbody {
			tr {
				&:nth-child(odd) {
					td {
						background: #eaece9;

						&:nth-child(2) {
							background: #c6d0d1;
						}
					}
				}

				&:nth-child(even) {
					td {
						&:nth-child(2) {
							background: #eaece9;
						}
					}
				}

				&.level-row{
					border-bottom: 1px solid #fff;
            		td {
            			background: #d0d291 !important;
            			&:nth-child(2) {
                        	background: #abaf37 !important;
                        }
            		}
            	}

			}
		}

		tfoot {
			td {
				padding-bottom: 0px;
				vertical-align: top;
				padding-top: 5px;
			}
		}

		.not-applicable {
			font-size: 15px;
			color: #afb1ac;
		}
	}
}

@media @tablet and (max-width: @screen-sm-max) {

    .comparison-table-cfa {
        overflow-x: scroll;
        padding-top: 45px;
        margin-top: 0;

        table {
            table-layout: auto;

            .level-link td div {
                max-width: 70px;
            }
        }
    }
}
