.table-order {
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
	background: #f7f7f7;

	.table-order-cell,
	.table-order-head {
		display: table-cell;
	}

	.table-order-head {
		padding: 8px 24px;
		background-color: #e6e7e8;
		font-weight: 700;
	}

	.table-order-cell {
		color: #000000;

		a {
			font-weight: 700;
			text-decoration: underline;

			&:hover,
			&:active {
				text-decoration: none;
			}
		}
	}

	.subscription-row {
		.table-order-cell {
			padding: 30px 24px;
		}
	}

	.table-order-row {
		display: table-row;

		.table-order-head,
		.table-order-cell {
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4){
				width: 15%;
				text-align: right;
			}
		}

		&-group {
			position: relative;
			display: table-row-group;

			&:before {
				content: '';
				position: absolute;
				left: 18px;
				right: 18px;
				height: 1px;
				background-color: #888888;
			}

			.table-order-cell {
				padding: 8px 24px 0 24px;
			}

			.total-row{
				.table-order-cell {
					padding: 30px 24px;
					font-weight: 700;
				}
			}
		}

		&-mobile {
			display: none;
		}
	}
}

@media @mobile {
	.table-order {
		.table-order-head {
			padding: 8px 10px;

			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				display: none;
			}
		}

		.table-order-row {
			&-group {
				display: table;
				width: 100%;
				table-layout: fixed;
				background: #ffffff;

				&:before {
					display: none;
				}

				.table-order-row {
					.table-order-cell {
						&:empty {
							display: none;

							& + .table-order-cell {
								text-align: left;
							}
						}
					}
				}

				.table-order-cell {
					padding: 8px 10px 0;
				}

				.total-row {
					.table-order-cell {
						padding: 30px 10px;
					}
				}
			}

			&-mobile {
				display: table-row-group;

				.table-order-row {
					&:first-child {
						.table-order-cell {
							padding-top: 20px;
						}
					}

					&:last-child {
						.table-order-cell {
							padding-bottom: 20px;
						}
					}

					.table-order-cell {
						padding: 10px 10px 0;
					}
				}
			}

			&.subscription-row {
				.table-order-cell {
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4){
						display: none;
					}
				}
			}
		}

		.subscription-row {
			.table-order-cell {
				padding: 30px 10px;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					left: 10px;
					right: 10px;
					bottom: 0;
					height: 1px;
					background-color: #888888;
				}
			}
		}
	}
}

.confirmation-student-flow {
    &:extend(.confirmation-page all);
}

.confirmation-page {
     font-size: 13px;
	.form-buttons {
		margin-top: 20px;
	}
}

@media @mobile{
	.confirmation-page {
		.form-buttons {
			margin-top: 0;
		}
	}

    .container {
        &.confirmation-page {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

@media @tablet {
	.confirmation-page {
		.form-buttons {
			margin-left: 0;
			margin-right: 0;
		}

		.table-order {
			& + .form-buttons {
				text-align: right;
			}
		}
	}
}