.currency-selector {
	margin: 7px 0 0 10px;
	font-size: 14px;
	font-weight: 600;

	.dropdown-toggle {
		height: 27px;
		padding: 0 16px 0 5px;
		position: relative;
		background: #37444f;
		border: 1px solid #516576;
		font-size: inherit;
		font-weight: inherit;
		color: #859caf;
		outline: 0;

		&:before {
			width: 6px;
			height: 6px;
			display: block;
			position: absolute;
			top: 50%;
			right: 5px;
			margin-top: -5px;
			border: 1px solid #859caf;
			border-width: 0 1px 1px 0;
			content: '';
			.rotate(45deg);
		}
	}

	.dropdown-menu {
		min-width: 100%;
		border: 1px solid #516576;
		border-width: 0 1px;
		background: transparent;
		font-size: inherit;
		font-weight: inherit;

		li {
			border-bottom: 1px solid #516576;
			background: #37444f;
			padding: 0 5px;
			font-size: inherit;
			font-weight: inherit;
			line-height: 26px;
			color: #859caf;
			cursor: pointer;

			&:hover,
			&:focus {
				color: @text-orange;
			}
		}

		.current {
			display: none;
		}
	}
}

@media @tablet and (max-width: @screen-sm-max) {
	.currency-selector {
		font-size: 11px;

		.dropdown-toggle {
			height: 25px;
			line-height: 23px;
		}
	}
}
