.expanding-sections {

	&.panel-group {
		.expanding-section-header,
		.expanding-section-collapse {
			&.panel-heading,
			&.panel-collapse {
				background: transparent;
			}
		}
	}

	ul {
		padding: 0;
		list-style: none;

		li {
			position: relative;

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				content: '\b7';
			}

			li {
				&:before {
					content: '';
				}
			}
		}
	}
}

@media @mobile {
	.expanding-sections {
		border-bottom: 3px solid #b1b2b2;

		&.panel-group {
			.expanding-section {
				margin-bottom: 0;
				padding: 10px;
				border-top: 3px solid #b1b2b2;
				background: @white;
			}

			.expanding-section-header {
				&.panel-heading {
					.expanding-section-title {
						&.panel-title {
							min-height: 34px;
							padding-right: 40px;
							position: relative;
							font-size: 26px;
							font-weight: 600;
							line-height: 28px;
						}
					}
				}
			}

			.expanding-section-toggle {
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;

				&:before {
					width: 24px;
					height: 24px;
					margin-top: -12px;
					display: block;
					position: absolute;
					right: 5px;
					top: 50%;
					border: 1px solid #0090c1;
					border-width: 0 2px 2px 0;
					content: '';
					.rotate(45deg);
				}

				&.collapsed {
					&:before {
						.rotate(-45deg);
					}
				}

				&:focus {
					outline: 0;
				}
			}

			.expanding-section-body {
				&.panel-body {
					padding: 15px 0 0;
					font-size: 15px;
					line-height: 18px;
				}
			}
		}

		ul {
			li {
				padding-left: 10px;

				&:before {
					color: #0090c1;
					font-size: 22px;
				}

				li {
					padding-left: 0;
					padding-right: 10px;
					display: inline-block;
				}
			}
		}
	}
}

@media @tablet {
	.expanding-sections {
		margin-top: 25px;

		&.panel-group {
			.expanding-section-collapse {
				&.panel-collapse {
					&.collapse {
						height: auto !important;
						display: block;
					}
				}
			}

			.expanding-section-title {
				&.panel-title {
					font-size: 18px;
					font-weight: 700;
				}
			}

			.expanding-section-body {
				&.panel-body {
					padding: 20px 0 10px;
				}
			}
		}

		ul {
			li {
				padding-left: 14px;

				&:before {
					color: #272f37;
					font-size: 36px;
				}

				li {
					padding-left: 20px;
				}
			}
		}
	}

	.expanding-section-toggle {
		display: none;
	}
}