@footer-margin: 60px 0 20px 0;

.main-footer {
    padding: 0;
    .box-shadow(0 0 15px rgba(0,0,0,0.5));
    background-color: #ffffff;

        .navbar-nav {
            margin: @footer-margin;
            font-size: 13px;
            font-weight: 400;
          
                li {
                    position: relative;
                    margin: 0 20px 0 0;
                }

                li:after {
                    content: '|';
                    position: absolute;
                    top: 0;
                    right: -10px;
                    color: @text-gray;
                }

                li:last-child:after {
                    display: none;
                }

                li > a {
                    padding: 0;
                    color: @text-gray;
                }

                li a:hover {
                    background: none;
                    text-decoration: underline;
                }
        }
    
        .logo {
            float: right;
            display: block;
            margin: @footer-margin;

            img {
                width: 102px;
            }
        }

        .footer-add-info {
            margin: 0 0 25px 0;
            font-size: 10px;
            font-weight: 400;
            color: @text-gray;

                sup {
                    position: static;
                    font-size: inherit;
                    vertical-align: baseline;
                }
        }
}
@media @mobile {
    .main-footer {


        .navbar-nav {
            margin: 15px 0;

            & > li {
                display: inline-block;
            }
        }

        .logo {
            float: none;
            margin: 0 0 15px 0;
        }
    }
}