.site-form {
	background-color: @bg-light-gray;

	form {
		padding: 20px 0 5px 0;
	}

	select {
		width: 100%;
		height: 28px;
	}
}

#g-recaptcha_widget-help{
	color: #ff4444;
}

.form-title {
	padding: 5px 10px;
	position: relative;
	font-weight: 600;
	background-color: #dadada;

	.form-title-toggle {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}
}

.form-description {
	padding: 20px 10px 0;
}

.form-cell,
.form-buttons {
	margin: 0 10px 15px 10px;
}

.form-buttons {
	.link-control {
		a {
			color: #272f37;
		}
	}
}

.form-label {
	display: block;
	margin: 0 0 5px 0;
	font-weight: 400;

	&.required:after {
		content: '\2A';
		color: #921e20;
	}
}

.form-field {
	input[type='text'],
	input[type='password'],
    input[type='email'] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		border-radius: 0;
		width: 100%;
		height: 30px;
		padding: 0 10px;
		border: 1px solid @border-color-gray;
	}

	label {
		font-weight: 400;
	}

}

.form-required {
	margin: 15px 0;
	font-style: italic;

	&:before {
		content: '\2A';
		color: #921e20;
	}
}

.help-block {
	margin-bottom: 0;
}

.has-error {
	.help-block {
		color: #ff4444;
	}

	.control-label {
		color: #000000;
	}

	&.form-field,
	.form-field {
		input {
			background-color: #f2dede;
			border-color: #ebccd1;
		}
	}
}

.form-button {
	height: 30px;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 0;
}

.form-confirmation-button {
	height: 49px;
	width: 289px;
	padding: 0 30px;
	font-size: 25px;
	font-weight: 600;
	border-radius: 0;
}



@media @tablet {
	#accordion .collapse {
		height: auto !important;
		display: block;
	}

	.form-required.mobile {
		display: none;
	}

	.form-title {
		.form-title-toggle {
			display: none;
		}
	}

	.reset-password-form,
	.forgot-password-form {
		input[type='password'],
        input[type='email'],
		input[type='text'],
		.help-block {
			width: 250px;
		}
	}

	.forgot-password-form {
		form {
			display: table;
		}

		.form-cell {
			display: table-cell;
			padding: 0 10px 15px 10px;
			vertical-align: top;
		}

		.form-controls{
			display: table-row;
			#g-recaptcha_widget{
				margin: 5px 10px 5px 10px;
			}
			.form-cell{
				padding: 50px 10px 0 10px;
				vertical-align: top;
			}
			#g-recaptcha_widget-help{
				span {
					display: block;
					margin: -1px 10px 0 10px;
				}
			}

		}
	}

	#wileyRegisterForm{
		#g-recaptcha_widget{
			margin: 10px 0 20px 0;
		}
		#g-recaptcha_widget-help{
			span {
				margin-top: -15px;
				display: block;
			}
		}
	}
}

@media @mobile {
	.form {
		&-button {
			width: 100%;
			height: auto;
			min-height: 50px;
			padding: 5px 30px;
			font-size: 20px;
		}

		&-confirmation-button {
        	width: 100%;
        	height: auto;
        	min-height: 50px;
        	padding: 5px 30px;
        	font-size: 20px;
        }

		&-required {
			margin-left: 10px;
		}
	}

	.login-page {
		.panel-group {
			margin-top: 30px;
		}

		.panel {
			margin-bottom: 30px;
			border: 0;

			&-heading {
				background: #cccccc;

				.panel-title {
					font-size: 24px;

					a {
						cursor: pointer;
					}
				}

			}

			&-body {
				padding-top: 15px;
				border: 0;
			}
		}

		.form-title {

			.form-title-toggle {
				&:before,
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					right: 10px;
					background: #000000;
				}

				&:before {
					width: 20px;
					height: 3px;
				}

				&.collapsed {
					&:after {
						width: 3px;
						height: 20px;
						margin: -8px 8px 0 0;
					}
				}
			}
		}

		.recover-password {
			display: block;
			margin: 0 0 15px 0;
		}

		.form-required.laptop {
			display: none;
		}

		#collapseTwo .form-required.mobile {
			margin-left: 0;
		}
	}

	.forgot-password-form {
		.form-button {
			margin-top: 15px;
		}
		#g-recaptcha_widget{
			margin: 0 0 0 10px;
		}
		#g-recaptcha_widget-help {
			span {
				display: block;
				margin: 3px 0 0 10px;
			}
		}
	}

	#wileyRegisterForm{
		#g-recaptcha_widget-help {
			span {
				display: block;
				margin: 5px 0 -5px 0;
			}
		}
	}
}
