.gift-card {
	margin: 20px 0 20px 11px;
	position: relative;
	border: 1px solid #dbdbdb;
}

.gift-card-image {
	margin-left: -12px;
	padding-top: 8px;
}

.gift-card-text {
	padding: 12px 20px 20px;
	font-size: 18px;
	line-height: 20px;
}