.site-header {
	margin: 0;
	padding: 0;

	.logo {
		position: relative;
		height: 40px;
	}

	.logo a {
		position: absolute;
		top: 50%;
		display: block;
		max-height: 40px;
		.translate(0px, -50%);
	}
}

.product-header {
	.logo {
		position: relative;
		height: 58px;

		a {
			position: absolute;
			top: 50%;
			.translate(0px, -50%);
			max-width: 315px;
			max-height: 58px;
		}
	}

	.search,
	.search-button {
		display: none !important;
	}

	.menu-button {
		background-image: url('../images/ico-nav.png');

		&.collapsed {
			-webkit-transition: background-color 400ms linear;
			-ms-transition: background-color 400ms linear;
			transition: background-color 400ms linear;
		}
	}
}

.menu-button,
.search-button {
	padding: 28px 10px;
	border: none;
	outline: none;
	background-position: center center;
	background-repeat: no-repeat;
}

.search-button {
	background-color: transparent;
	background-image: url('../images/ico-search.png');
}

/* search bar */
#search-bar {
	background: #e6ecde;

	form:before {
		content: '';
		position: absolute;
		top: -36px;
		right: 8px;
		width: 16px;
		height: 8px;
		background: url('../images/searchbox-arrow.png') no-repeat right top;
	}

	form {
		position: relative;
		margin: 28px 0;
		padding: 5px;
		background: #ffffff;
	}

	input,
	button {
		height: 35px;
		line-height: 35px;
		border: none;
		outline: 0 none;
	}

	input[type="text"] {
		width: 100%;
		padding: 0 0 0 30px;
		font-size: 20px;

		.placeholder(#8e8e8e);
	}


	button {
		position: absolute;
		top: 5px;
		right: 5px;
		bottom: 5px;
		padding: 0 18px;
		font-size: 19px;
		font-weight: 600;
		cursor: pointer;
		color: #ffffff;
		background: #f8971d;
	}

	button:hover {
		background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffbb65 0%, #ffbb65 50%, #f8971d 50%, #f8971d 100%) repeat scroll 0 0;
	}

}
/* end search bar */

.blue-lagoon {
	&.product-header {
		background: #007887;
	}
}

.olive-bg {
	&.product-header {
		background-color: @olive;
	}
}

.blue {
	&.product-header {
		background-color: #00a7dc;
	}
}

.dark-blue {
	&.product-header {
		background-color: #0c4d98;
	}
}

.full-width-layout {
	header {
		margin-bottom: 0;
	}
}

@media @tablet {
	.site-header {
		background: #272f37 url('../images/header-glow.png') no-repeat center top;
	}

	.navbar-collapse {
		float: right;
	}

	header {
		margin: 0 0 40px 0;

		.navbar-nav {
			li {
				list-style: outside none none;
			}

			ul {
				position: absolute;
				display: none;
				margin: 0;
				padding: 0;
				white-space: nowrap;
				z-index: 2000;
			}

			li:hover > ul,
			li.hover > ul {
				display: block;
			}

			& > li > ul {
				left: 0;
				top: 100%;
			}

			& > li li:hover > ul,
			& > li li.hover > ul {
				display: block;
				left: 100%;
				top: 0;
			}

			li li {
				position: relative;
			}

			a:hover,
			a:focus {
				background: none;
			}

			a {
				text-decoration: none;
			}
		}
	}

	.site-menu {
		&.navbar-nav {
			font-size: 14px;

			& > li {
				& > a {
					padding: 0 12px;
					line-height: 40px;
					color: @gray-light;
					list-style: outside none none;
					text-shadow: none;

					&.cart,
					&.livechat {
						background: url('../images/icon-livechat.png') no-repeat 12px 50%;
						padding-left: 37px;
						cursor: pointer;
					}

					&.cart {
						background-image: url('../images/icon-cart.png');
					}
				}

				a:hover,
				a:focus {
					background-color: #1E2B36;
					color: @text-orange;
				}

				&.menu-item-bordered {
					margin: 7px 0 0 12px;
					padding: 0 0 6px 0;

					& > a {
						height: 27px;
						line-height: normal;
						border: 1px solid #9ba2a7;
						padding: 3px 16px;
					}

					& > ul {
						right: 0;
						left: auto;
					}
				}
			}

			& > li:hover > a {
				color: orange;
			}
			& > li:hover {
				background-color: #1E2B36;
			}

			ul:not(.dropdown-menu) {
				min-width: 100%;
				background-color: #1E2B36;

				& > li {
					//border-bottom: 1px solid @border-color-gray;
					list-style: outside none none;
				}
                
                & > .sub-menu {
                    background: url(../images/ico-arrow-sml-2.png) no-repeat 95% 50%;
                }
                
                & > .sub-menu:hover > a {
                    text-decoration: none;
                    background: url(../images/ico-arrow-sml-2.png) no-repeat 95% 50%  #04111C !important;
                }
                
                & > .sub-menu a:focus {
                    background-color: #04111C;
                }

				& > li a {
					display: block;
					padding: 0 25px;
					line-height: 36px;
					color: #ecedea;
				}


				& > li a:hover {
					background-color: #04111C;
					text-decoration: none;
				}

				& > li > ul {
					background-color: #04111C;
				}

				& > li > ul li a:hover {
						background-color:  #000003;
				}

			}
		}

		&.navbar-right {
			padding-right: 10px;
		}
	}

	/* social links menu */
	.social-links {
        margin: 16px 0;
		a {
            display: inline-block;
            width: 20px;
            margin-right: 4px;

                img {
                    height: auto;
                    width: 100%;
                }
		}

		.search {
			margin-left: 15px;
		}
	}
	/* end social links menu */

	.product-menu.navbar-nav {
		& > li > a {
			padding: 0 15px;
			font-size: 18px;
			font-weight: 600;
			line-height: 58px;
		}

		li ul a {
			display: block;
			padding: 0 40px 0 20px;
			font-size: 16px;
			line-height: 36px;
		}

		ul {
			background: #808080;
		}

		&:last-child {
			margin-right: 20px;
		}

		a {
			color: @text-gray;
		}

		a:hover {
			text-decoration: none;
		}

		.sub-menu > a {
			background: url('../images/ico-arrow-sml-2.png') no-repeat 95% 50%;
		}
	}

	/* product menu for blue-lagoon theme */
	.blue-lagoon {
		.product-menu.navbar-nav {
			a {
				color: #ffffff;
			}

			& > li:hover > a,
			& > li.hover > a {
				background-color: #244d54;
				color: #f8971d;
			}

			li ul {
				background-color: #244d54;
			}

			li ul li:hover,
			li ul li.hover {
				background-color: #007887;

				a {
					color: #ffffff;
					text-decoration: none;
				}
			}
		}
	}

	/* product menu for olive, olive-bg themes */
	.olive-bg {
		.product-menu.navbar-nav  {
			& > li:hover > a,
			& > li.hover > a {
				color: @text-gray;
			}

			li.sub-menu ul {
				margin-top: -1px;
			}

			ul  {
				background: #ffffff;
				border-left: 1px solid #d4d4d4;
				border-right: 1px solid #d4d4d4;
			}

			ul li {
				border-bottom: 1px solid #d4d4d4;
			}

			ul ul {
				border-top: 1px solid #d4d4d4;
			}

			ul li a:hover {
				background-color: @light-gray-bg;
			}
		}

		.search {
			display: none;
		}
	}

	.olive-bg {
		.product-menu.navbar-nav > li > a {
			color: @white;
		}
	}
	/* end product menu for olive-bg themes */

	/* product menu for blue, dark-blue themes */
	.blue,
	.dark-blue {
		.product-menu.navbar-nav  {
			a {
				color: #ffffff;
			}

			& > li:hover > a,
			& > li.hover > a {
				background-color: #0093cf;
			}
			ul  {
				background: #0093cf;
			}

			ul li a:hover {
				background-color: #26303c;
			}
		}
	}

	.blue {
		.search {
			display: none;
		}
	}

	.dark-blue {
		.search {
			display: none;
		}
	}
	/* end product menu for blue, dark-blue themes */
}

@media @tablet and (max-width: @screen-sm-max) {
	.site-menu.navbar-nav {
		& > li{
			& > a {
				padding: 0 5px;
				font-size: 10px;
			}

			&.cart,
			&.livechat {
				a {
					background-position: 5px 50%;
					padding-left: 30px;
				}
			}

			&.menu-item-bordered {
				&  > a {
					height: 25px;
					padding: 5px;
					font-size: 10px;
				}

				&:hover {
					margin-bottom: 0;
					padding-bottom: 17px;
				}
			}
		}
	}

	.product-menu.navbar-nav > li > a {
		padding: 0 5px;
		font-size: 14px;
	}

	.product-header .logo a {
		max-width: 250px;
	}


	.social-links.navbar-nav .search {
		margin-left: 0;
	}
}

@media @mobile {
	.site-menu {
		margin: 0;
		text-align: right;

		& > li {
			&:not(.menu-item-mobile) {
				display: none;
			}

			&.menu-item-mobile {
				margin-left: 5px;
				position: relative;
				display: inline-block;

				& > a {
					display: block;
					margin: 9px 0;
					padding: 0 10px;
					border: 1px solid #9ba2a7;
					border-radius: 2px;
					font-size: @font-small;
					color: @gray-light;
					cursor: pointer;
					text-decoration: none;

					&:hover,
					&:focus {
						background-color: @gray-light;
						color: @gray-dark;
						text-decoration: none;
					}
				}

				& > ul {
					min-width: 100%;
					margin: 0;
					padding: 0;
					display: none;
					border-right: 1px solid #e5e5e5;
					border-left: 1px solid #e5e5e5;
					background-color: #f2f5ed;
					position: absolute;
					top: 100%;
					right: 0;
					white-space: nowrap;
					z-index: 2000;

					li {
						border-bottom: 1px solid #e5e5e5;
						list-style: outside none none;

						&:hover {
							background-color: #daded4;
						}
					}

					a {
						padding: 0 13px;
						line-height: 24px;
						color: #333b41;
						text-decoration: none;
						font-size: 11px;
					}
				}

				&:hover,
				&.hover {
					& > ul {
						display: block;
					}

					& > a {
						background-color: @gray-light;
						color: @gray-dark;
					}
				}
			}
		}
	}

	.site-header {
		background: @gray-dark;

			.logo a {
				max-width: 122px;
				margin: 0 0 0 10px;

				&:before {
					content: "\2329";
					position: absolute;
					top: 0;
					left: -10px;
					color: #ecedea;
					font-size: 11px;
				}
			}
	}


	.menu-button,
	.search-button {
		position: absolute;
		z-index: 1;
	}

	.search-button {
		display: none !important;
		right: 5px;
		padding: 30px 20px;
	}

	.menu-button {
		padding: 29px 26px 29px 25px;
		left: 0;
	}

	.product-header {
		.logo {
			margin-left: 48px;
			a {max-width: 200px;}
		}

		.search-button {
			margin-right: 0;
		}

		.navbar-header {
			height: 58px;
		}

		.navbar-collapse {
			padding: 0;
			border: none;
			box-shadow: none;
			overflow-x: hidden;
		}

		.product-menu.navbar-nav {
            padding: 0 0 50px 0;
			margin: 0;

			ul {
				overflow: hidden;
				max-height: 0;
				padding: 0;
				margin: 0;
			}

			.animated {
				& > ul {
					max-height: 600px;
					padding: 7px 0 10px;
				}
			}

			a {
				text-decoration: none;
			}

			a:hover,
			& > li > a:focus {
				text-decoration: none;
				color: #ffffff;
			}

			li a {
				color: @white;
			}

			li a,
			li li a {
				padding: 0;
				font-size: 15px;
				line-height: 28px;
			}

			li li a {
				color: #cf962a;
			}

			li li a:hover {
				color: #ffffff;
			}

			li {
				&.inner-menu {
					&.hover {
						&> a:before {
							-webkit-transform: rotate(0deg);
							-ms-transform: rotate(0deg);
							-o-transform: rotate(0deg);
							transform: rotate(0deg);
						}
					}

					&> a:before,
					&> a:after {
						content: '';
						width: 13px;
						height: 4px;
						background-color: white;
						position: absolute;
						right: 20px;
						top: 50%;
						margin-top: -2px;
						-webkit-transition: all 0.4s ease;
						-o-transition: all 0.4s ease;
						transition: all 0.4s ease;
					}

					&> a:before {
						-webkit-transform: rotate(-90deg);
						-ms-transform: rotate(-90deg);
						-o-transform: rotate(-90deg);
						transform: rotate(-90deg);
					}
				}
				&> a {
					padding: 0 15px;
					font-size: 20px;
					font-weight: bold;
					line-height: 58px;
				}
				ul {
					list-style: none;
					padding: 0;

					li {
						a {
							display: block;
							position: relative;
							padding: 5px 30px;
							line-height: 20px;
							font-size: 16px;
							font-weight: normal;
							color: #ffffff;
						}
						ul {
							a {
								padding: 5px 45px;
							}
						}
					}
				}
			}
		}
	}

	#search-bar form {
		margin: 10px 0;

		&:before {
			top: -18px;
		}

		input[type="text"] {
			font-size: 18px;
			padding-left: 5px;
		}

		button {
			top: 0;
			bottom: 0;
			right: 0;
			line-height: 45px;
			height: 45px;
			padding: 0;
		}

		span:last-child {
			height: 35px;
			width: 45px;
			background: url('../images/search-arrow.png') no-repeat scroll center center;
		}
	}

    /* social links menu */
    .social-links {
        position: absolute;
		width: 100%;
        bottom: 10px;
		margin: 7.5px 0;
        display: none;
		text-align: center;

        a {
            display: inline-block;
            width: 25px;
			margin: 0 15px;

            img {
                height: auto;
                width: 100%;
            }
        }
    }
    /* end social links menu */

	.blue-lagoon {
		&.product-header {
			.menu-button {
				&.collapsed {
					background-color: transparent;
				}
			}

			.menu-button,
			.navbar-collapse {
				background-color: darken(#007887, 10%);
			}

			.inner-menu {
				ul {
					background-color: darken(#007887, 12%);

					ul {
						background-color: darken(#007887, 14%);
					}
				}
			}
		}
	}

	.olive-bg {
		&.product-header {
			.menu-button {
				&.collapsed {
					background-color: transparent;
				}
			}

			.menu-button,
			.navbar-collapse {
				background-color: darken(@olive, 10%);
			}

			.inner-menu {
				ul {
					background-color: darken(@olive, 12%);

					ul {
						background-color: darken(@olive, 14%);
					}
				}
			}
		}
	}

	.blue {
		&.product-header {
			.menu-button {
				&.collapsed {
					background-color: transparent;
				}
			}

			.menu-button,
			.navbar-collapse {
				background-color: darken(#00a7dc, 10%);
			}

			.inner-menu {
				ul {
					background-color: darken(#00a7dc, 12%);

					ul {
						background-color: darken(#00a7dc, 14%);
					}
				}
			}
		}
	}

	.dark-blue {
		&.product-header {
			.menu-button {
				&.collapsed {
					background-color: transparent;
				}
			}

			.menu-button,
			.navbar-collapse {
				background-color: darken(#0c4d98, 10%);
			}

			.inner-menu {
				ul {
					background-color: darken(#0c4d98, 12%);

					ul {
						background-color: darken(#0c4d98, 14%);
					}
				}
			}
		}
	}
}