.partners-bar {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    background-color: #009ad7;
}

.kpmg-page {

	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		height: 40px;
		background-color: #009ad7;
	}

	& > div:first-child {
		padding-top: 60px;
	}

    h1 {
        margin: 0 0 30px 0;
        font-size: 30px;
        font-weight: 600;
    }

    h2 {
        margin: 0 0 25px 0;
        font-size: 20px;
        font-weight: 600;
    }

    h3 {
        margin: 0 0 25px 0;
        font-size: 19px;
        font-weight: 600;
        color: #ff9900;
    }

    .kpmg-img img {
        display: block;
        height: auto;
        width: 100%;
        max-height: 138px;
        max-width: 337px;
        margin: 0 auto 30px auto;
    }

    .kpmg-description {
        margin: 0 0 20px 0;
    }

    a {
        color: #0090c1;

        &:hover {
            text-decoration: underline;
        }
    }

    .top-option {
        margin: 0 0 20px 0;
    }

    .bottom-option {
        margin: 0 0 20px 0;
    }

    .kpmg-enroll {
        padding: 8px 20px 15px 20px;
        margin: 0 0 30px 0;
        border: 5px solid #fff;
        border-radius: 3px;
        box-shadow: 1px 1px 3px 1px #cccccc;
        border-collapse: separate;
        background-color: rgba(241, 241, 239, 1);
        background: -webkit-linear-gradient(top, rgba(249, 249, 247, 1) 0%, rgba(241, 241, 239, 1) 100%);
        background: -ms-linear-gradient(top, rgba(249, 249, 247, 1) 0%, rgba(241, 241, 239, 1) 100%);
        background: linear-gradient(to bottom, rgba(249, 249, 247, 1) 0%, rgba(241, 241, 239, 1) 100%);

        .site-form {
            background: none;
        }

        .label-bold {
            font-weight: 600;
        }

        .form-buttons {
            margin-top: 30px;
        }
    }

    .course-summary {
        border-bottom: 1px solid #f2f5ed;
        margin-bottom: 45px;
        padding-bottom: 45px;
    }

    .course-description {
        margin: 0 0 20px 0;
    }

    .course-description-image {
        height: auto;
        max-width: 100%;
    }

	.course-description-includes {
		margin: 0 0 20px 0;

		.product-include-title {
			font-weight: 600;
		}
	}

	.course-product-variant {
		label {
			font-weight: 600;
		}
	}
}

@media @tablet {
    .kpmg-page {
        h1 {
            margin-top: 10px;
        }

        .kpmg-img {
            margin-top: -80px;
        }
    }
}
