.login-page {
	font-size:13px;

	.tooltip-question {
		margin-left: 10px;
		font-size: 16px;
		font-weight: 600;
	}

	.container-fluid {
		padding: 0;
	}

	.create-account {
		.form-cell {
			margin: 0 0 15px;
		}

		.form-buttons {
			margin: 0;
		}
	}

	.recover-password {
		text-decoration: underline;
		cursor: pointer;
		color: #272f37;

		&:hover {
			text-decoration: none;
		}
	}
}

.panel-group {
	.panel-heading {
		padding: 0;

		&  + .panel-collapse {
			&  > .panel-body {
				border: 0;
			}
		}
	}

	.panel {
		box-shadow: none;
		margin-top: 0;
		border: 0;

		.panel-title {
			font-size: 18px;
			font-weight: 700;

			a {
				text-decoration: none;
				cursor: default;
			}
		}

		.panel-collapse {
			background-color: @bg-light-gray;

			select {
				width: 100%;
				height: 28px;
			}
		}

		& + .panel {
			margin-top: 0;
		}
	}
}

.panel-body {
	padding: 10px;
}

@media @tablet {
	.form-required {
		&.mobile {
			display: none;
		}
	}

	#accordion {
		.collapse {
			height: auto !important;
			display: block;
		}
	}
}

@media @mobile {
	.panel-group {
		margin-top: 30px;

		.panel {
			margin-bottom: 30px;
			border: 0;

			.panel-heading {
				background: #cccccc;

				.panel-title {
					font-size: 24px;

					a {
						cursor: pointer;
					}
				}

			}

			.panel-body {
				padding-top: 15px;
				border: 0;
			}
		}
	}

	.form-title {
		font-size: 22px;
		line-height: 24px;

		.form-title-toggle {
			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 10px;
				background: #000000;
			}

			&:before {
				width: 20px;
				height: 3px;
			}

			&.collapsed {
				&:after {
					width: 3px;
					height: 20px;
					margin: -8px 8px 0 0;
				}
			}
		}
	}

	.login-page {
		.form-required {
			margin-left: 10px;
		}

		.page-title {
			.tooltip-question {
				display: none;
			}
		}

		.recover-password {
			display: block;
			margin: 0 0 15px 0;
		}

		.form-required {
			&.laptop {
				display: none;
			}
		}

		#collapseTwo {
			.form-required {
				&.mobile {
					margin-left: 0;
				}
			}
		}

        &.container {
            padding-left: 0;
            padding-right: 0;
        }

        #accordion.row {
            margin-right: 0;
            margin-left: 0;

            .panel.col-sm-6 {
                padding-right: 0;
                padding-left: 0;
            }
        }
	}
}