@media (min-width : 641px){
	.order-review-container{
		.reviewYourOrderSlot{
			display: table-cell;
			width: 60%;
			padding-right: 10px;
			margin-bottom: 5px;
			vertical-align: top;

			.review-container {
				.cell-item{
					display: table-cell;
					width: 50%;
				}

				.review-details{
					padding-top: 10px;
					padding-left: 20px;
					background: #f6f8f4;
					min-height: 250px;

					.address-container{
						padding-bottom: 10px;
					}

					.methodSection{
						padding-bottom: 40px;
					}
				}

				.review-header{
					display: table;
					width:100%;
					background: #e0e1db;
					padding: 8px 20px;

					span{
						display: table-cell;

					}

					span:first-child{
						font-size: 19px;
						font-weight: bold;
					}
					span:last-child{
						text-align: right;
					}
				}
			}

		}
		.row-item{
			display: table;
			width: 100%;
			padding-bottom: 15px;

			.cancelLinkSlot{
				display: none;
			}
		}
		.cancelLinkSlot{
			.row-item{
				padding-bottom: 0;
			}
		}
		.orderSummarySlot{
			display: table-cell;
			width: 40%;
			border-style:groove;
			border-width: 1px;
		}
		.purchaseDetailsSlot{
			display: block;
			width: 60%;
			padding-right: 10px;
		}
		.order-summary-container{
			.placeOrderButton{
				text-align: center;
			}

			.order-summary-info{
				padding: 10px 20px 5px 20px;
				margin: 0 0 15px 0;
				background-color: white;
			}

			.title {
				padding-left: 20px;
				font-size: 19px;
				font-weight: bold;
				padding-top: 20px;
			}

			.termsAndConditions {
				margin: 0 0 23px;
				font-size: 13px;
				text-align: center;
				font-weight: 600;
				padding-top: 15px;
			}
		}


	}
	.cancelAndReturnToCart{
		font-size: 15px;
		text-decoration: underline;
	}


}
@media @mobile {
	.review-container .cell-item{
		padding-bottom: 20px;
	}

	.review-container .row-item{
		width: 100%;
	}
	.review-container{
		height:100%;
	}
	.review-details{
		padding: 10px 15px;
		background: #f6f8f4;
	}
	.review-details .address-container{
	}
	.review-details .methodSection{
	}

	.review-header{
		display: table;
    	width: 100%;
		background: #e0e1db;
		padding: 8px 15px;
	}
	.review-header span{
		display: table-cell;
	}

	.review-header span:first-child{
		font-size: 19px;
		font-weight: bold;
	}

	.review-header span:last-child{
		text-align: right;
	}

	.order-review-container{
		.row-item{
			width: 100%;
			padding-bottom: 10px;
			display: flex;
			flex-direction: column;

		}

		.row-item > .orderSummarySlot {order: 1;}
		.row-item > .cancelLinkSlot {order: 2;}
		.row-item > .reviewYourOrderSlot {order: 3;}

		.cancelLinkSlot{
			padding-bottom: 10px;
			.row-item{
				display: none;
			}
		}

		.reviewYourOrderSlot{
		}

		.orderSummarySlot{
			padding-bottom: 10px;
		}
		.purchaseDetailsSlot{
		}

		.order-summary-container{
			padding: 15px 15px 5px 15px;
			border-style:groove;
			border-width: 1px;

			.order-summary-info{
				padding: 10px 0px 0px 0px;
				margin: 0 0 15px 0;
				background-color: white;
			}

			.title {
				font-size: 19px;
				font-weight: bold;
			}

			.termsAndConditions {
				font-size: 13px;
				text-align: center;
				font-weight: 600;
				padding: 15px 0 0px 0;
			}
		}
	}
	.cancelAndReturnToCart{
		font-size: 15px;
		text-decoration: underline;
	}

}
