.partner-chooser {
	padding: 10px 0 30px;
}

.partner-chooser-label {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 700;
}

.partner-chooser-input {
	input {
		width: 100%;
		height: 36px;
		padding: 0 10px;
		display: block;
		box-sizing: border-box;
		border: 1px solid #d2d4cf;
		background: #f2f5ed;
		font-size: 14px;
		.placeholder(#272f37);
	}
}

ul.ui-autocomplete {
	max-width: 329px;
	max-height: 156px;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 2000;
	word-wrap: break-word;
	background: #ffffff;
	border: 1px solid #d2d4cf;
	overflow: scroll;
	list-style: none;

	li {
		background: #ffffff;
		padding: 5px 10px;
		text-decoration: none;

		&.ui-state-focus {
			background: #eeeeee;
		}
	}
}

@media @mobile {
	ul.ui-autocomplete {
		max-width: 100%;
	}
}