.product-brief {
	&-item {
		margin-bottom: 60px;
		text-align: center;

		img {
			max-height: 200px;
			width: auto;
		}

		&-name,
		&-description,
		&-buttons {
			text-align: left;
		}

		&-name {
			font-size: 20px;
			font-weight: 600;
		}

		&-description {
			min-height: 80px;
			margin-bottom: 20px;
			font-size: 15px;

			p {
				font-size: 15px;
			}
		}

		&-price {
			float: left;
			height: 30px;
			line-height: 30px;
			font-size: 18px;
			font-weight: 600;
		}

		&-buttons {
			.clearfix();

			.button {
				float: right;
				margin-left: 10px;
				padding: 0 10px;
				font-size: 16px;
				line-height: 28px;
				min-width: 100px;
			}
		}
	}
}

@media @mobile {
	.product-brief-item {
		&-price {
			float: none;
			display: block;
			font-style: italic;
			padding: 15px 0 10px 0;
			height: auto;
		}

		&-buttons {
			.button {
				float: none;
				display: block;
				margin: 0 0 10px 0;
				font-size: 19px;
				line-height: 50px;
				font-weight: 400;
			}

			.two-btn .button:first-child {
				margin-bottom: 10px;
			}
		}
	}

    .container {
        &.product-brief {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media @tablet {
	.product-brief-item {
		&:nth-child(3n) + .product-brief-item {
			clear: left;
		}

		&-buttons {
			.two-btn .button:first-child {
				margin-bottom: 5px;
			}
		}

	}
}
