/***********************************************************************************************************************
 * Styles for product page
 **********************************************************************************************************************/
.product-details {
	margin-bottom: 30px;

	.name {
		font-family: 'Source Sans Pro';
		font-size: 30px;
		font-weight: 600;
		line-height: 1;

		.not-break-out;
	}

	.description {
		p {
			margin: 0 0 20px 0;
		}
	}

	.price {
		margin: 10px 0 5px 0;
		font-size: 22px;
		font-weight: 600;
		line-height: 26px;
	}
	.variant-options {
		label {
			font-weight: 600;
			margin-right: 20px;
		}
	}
	.product-discount {
		label {
			font-weight: 400;
		}
	}
	.product-addons {
		padding: 0;
		border: 1px solid #d2d4cf;
		width: 245px;
		margin-top: 25px;

		&-title {
			padding: 10px 15px;
			font-weight: 600;
			border-bottom: 1px solid #d2d4cf;
			background: @light-gray-bg;
		}
		&-content {
			padding: 10px 15px 0;

			label {
				margin-bottom: 15px;
				font-weight: 400;
			}
		}
	}

	.addtocart-component {
		.qty-selector {
			margin: 0;

			.form-control {
				height: 32px;
			}
		}
	}

	.LoveShare {
		margin-top: 20px;
	}

	a {
		color: #959595 !important;
	}
}

.description-product {
	.product-addons {
		width: 100%;
	}
}

.free-trial-button {
	width: 100%;
	padding: 15px 25px;
	border: 1px solid #d2d4cf;
	font-weight: 600;
	color: #272f37;
	background-color: #f2f5ed;

	&:hover {
		color: #025093;
	}
	
	&:before {
		content: " ";
		display: inline-block;
		width: 30px;
		height: 34px;
		margin: -4px 10px 0 0;
		vertical-align: middle;
		background: url("../images/ico-clock.png") no-repeat scroll 0 0;
	}
}

.addtocart-bottom-component {
	padding: 15px 10px;
	border: 1px solid #d2d4cf;
	background-color: #f2f5ed;

	.name {
		margin: 10px 0 20px;
		font-size: 26px;
		font-weight: 600;
	}

	.note {
		margin-bottom: 5px;
		color: #025093;
		font-weight: 700;
	}

	.price-value {
		font-size: 22px;
		font-weight: 600;
	}
}

@media (max-width: @screen-xs-max) {
	.product-details {
		.product-addons {
			width: 100%;
			margin-bottom: 50px;
		}

		.addtocart-component {
			.qty-selector {
				margin: 0;
				width: 100%;

				.form-control {
					height: 32px;
					width: 100%;
				}
			}
		}

		.btn {
			display: block;
			width: 100%;
		}
	}
}
.product-include {
	margin: 0 0 30px 0;

	&-title {
		margin-bottom: 12px;
		font-weight: 700;
		color: #272f37;
	}
}

.features-listing {
	padding: 0;
	margin:0;

	li {
		position: relative;
		margin: 2px 0;
		padding: 1px 2px 1px 22px;
		list-style-type: none;

		&:before {
			content: '\e013';
			position: absolute;
			top: 3px;
			left: 0;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: 400;
			line-height: 1;
			color: #f8971d;
		}
	}

	&.blueTheme {
		li {
			&:before {
				color: #0089c7;
			}
		}
	}
}

.nav-tabs {
	> li {
		> a {
			margin-right: 0;

			&:hover {
				border-color: transparent;
			}
		}

		&.active > a {
			&,
			&:hover,
			&:focus {
				background: none;
				border: 0;
				border-bottom-color: transparent;
				cursor: default;
			}
		}
	}
}

.nav {
	> li {
		> a {
			padding: 12px 25px;

			&:hover,
			&:focus {
				background: none;
			}
		}
	}
}

.tabs {
	border-bottom: 0;

	.tabs-list {
		.nav;
		.nav-tabs;
		border-bottom: 1px solid #d2d4cf;

		li {
			a {
				font-size: 20px;
				line-height: 22.5px;
				font-family: 'Source Sans Pro';
				text-transform: capitalize;
				font-weight: normal;
				color: #272f37;
			}
		}

		li.active {
			a,
			a:hover,
			a:focus {
				font-weight: 600;
				background: #f2f5ed;
				color: #272f37;
				border: 1px solid #d2d4cf;
				border-bottom: 1px solid transparent;
			}
		}

		&.links-tabs-list {
			padding-left: 25px;
		}
	}

	.tabhead {
		margin-bottom: 0;
		background: none;
		border: 1px solid #d2d4cf;
		color: #272f37;
		font-weight: bold;

		&:focus {
			outline: none;
		}

		& + .tabbody {
			display: none !important;
		}

		.glyphicon {
			&:before {
				display: inline-block;
				content: "\2b";
				height: 21px;
				width: 21px;
				text-align: center;
				vertical-align: baseline;
				border: 1px solid #d2d4cf;
				padding-top: 3px;
				padding-left: 2px;
				font-size: 12px;
				background: @light-gray-bg;
			}
		}

		&.active {
			background: #fff;
			color: #272f37;

			.glyphicon:before {
				content: "\2212";
				padding-left: 0;
			}

			& + .tabbody {
				display: block !important;
			}
		}
	}

	&.tabs-responsive {
		.tabhead {
			margin-bottom: -1px;
		}
		.tabhead.active {
			margin-bottom: 0;

			&:focus {
				outline: 0;
			}
		}
	}

	.tabbody {
		position: relative;
		padding: 40px 10px;
		.box-shadow(inset 0 40px 40px -20px rgba(242,245,237, 100));

		&.links-tabs-content {
			padding: 40px 0;
		}
	}

	.tab-details {
		.row {
			margin-bottom: 20px;
		}

		p,
		ul {
			margin-bottom: 20px;
			color: #272f37;
		}
	}

	.tab-item {
		overflow: hidden;
		margin-bottom: 20px;

		.img {
			float: left;
			max-width: 35%;
			margin: 0 10px 10px 0;
			clear: left;

			&.right-side {
				float: right;
				margin: 0 0 10px 10px;
			}
		}
		.headline {
			margin-bottom:6px;
		}
		&-content {
			overflow: hidden;
		}
	}
}

.unified-partner-contacts {
	.title {
		font-weight: 600;
		margin-bottom: 46px;
	}

	p {
		margin-bottom: 0;
	}
}

@media (max-width: @screen-xs-max) {
	.tabs {
		&.tabs-responsive {
			.tabbody {
				border-image: none;

				&:before {
					display: none;
				}
			}
		}

		.tab-item {
			text-align: center;

			.img {
				float: none;
				max-width: 70%;
				margin: 20px 0;

				&.right-side {
					float: none;
					margin: 10px 0;
				}
			}
			.headline,
			&-content {
				text-align: left;
			}
		}
	}
}
@media (max-width: @screen-sm-max) {
	.tabs {
		&.tabs-responsive {
			.tabhead.active {
				& + .tabbody {
					border-right: 1px solid #d2d4cf;
					border-left: 1px solid #d2d4cf;
				}
			}
		}
	}
}

@media @mobile {
	.product-details .js-gallery-carousel {
		display: none !important;
	}

	.free-trial {
		margin: 30px 0 0 0;
	}

	.free-trial-button {
		font-size: 16px;
	}

	.addtocart-bottom-component {
		.note {
			text-align: right;
		}

		.product-discount {
			margin-bottom: 15px;
		}

		.product-variants {
			padding-top: 10px;
			border-top: 1px solid #d9dbd5;
		}

		.variants-section {
			label {
				margin-bottom: 15px;
			}

			.variants-section {
				display: table;

				label {
					display: block;
				}
			}
		}

		.price {
			margin: 5px 0 20px;
			display: table;
			width: 100%;
		}

		.price-text,
		.price-value {
			display: table-cell;
		}

		.price-value {
			text-align: right;
		}

		.btn {
			width: 100%;
		}
	}
}

@media @tablet {
	.product-details .js-gallery-image .owl-controls {
		display: none !important;
	}

	.free-trial {
		margin: 30px 0;
	}

	.free-trial-button {
		font-size: 18px;
	}

	.addtocart-bottom-component {
		.note {
			margin-bottom: 10px;
		}

		.variants-section {
			label {
				margin: 0 20px 15px 0;
			}
		}

		.right-column {
			display: table;

			.product-discount {
				display: table-footer-group;
				text-align: right;
			}

			.product-price-section {
				margin-bottom: 15px;
				text-align: right;
			}

			.price {
				padding-right: 15px;
				display: inline-block;
			}

			.price-text {
				display: none;
			}
		}
	}
}

