.product-detailed-info {
	.title {
		margin: 0 0 10px;
		font-size: 30px;
		font-weight: 600;
	}
}

.product-info-section {
	margin-bottom: 10px;
	padding: 15px;
	position: relative;
	background-color: #f2f5ed;

	h3 {
		margin: 0 0 15px;
		font-size: 20px;
		font-weight: 600;
	}

	ul {
		padding-left: 25px;
		font-size: 15px
	}

}

.product-checkout-section {
	margin-bottom: 20px;
	background-color: #f2f5ed;
}

.product-checkout-header {
	padding: 10px 15px;
	background-color: #d2d4cf;
	font-size: 22px;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
}

.product-checkout-content {
	padding: 15px;

	.product-variants {
		margin-bottom: 15px;
	}

	.product-price-section {
		text-align: right;

		.price {
			font-size: 16px;
			font-weight: 600;
			line-height: 18px;
		}

		.stating-price {
			margin-bottom: 5px;
			font-size: 15px;
			font-weight: 700;
			color: #025093;
		}
	}
}

@media @mobile {
	.product-info-section {
		min-height: 45px;
	}

	.product-checkout-section {
		margin-bottom: 30px;
	}

	.product-checkout-content {
		.product-variants-radio {
			margin-bottom: 10px;
		}

		.product-variants-checkbox {
			display: inline-block;

			label {
				display: block;
			}
		}

		.variants-section {
			margin-bottom: 10px;

			.variants-section {
				display: table;

				label {
					display: block;
				}
			}
		}
	}
}

@media @tablet {
	.product-info-section {
		min-height: 95px;
	}
}