.progress-line {
	display: table;
	width: 100%;
	list-style: none;
	margin: 0 0 25px;
	padding: 25px 0 0;

	.step {
		position: relative;
		display: table-cell;
		padding-top: 20px;
		text-align: center;
		font-size: 18px;

		&.step-completed {
			font-weight: 700;

			.step-number {
				background: #008fc3;
				font-weight: 400;
			}
		}
	}

	.step-number {
		position: absolute;
		top: -15px;
		left: 50%;
		margin-left: -15px;
		height: 30px;
		width: 30px;
		line-height: 30px;
		color: #ffffff;
		border-radius: 50%;
		background: #cccccc;
		z-index: 1;
	}
}

@media @mobile {
	.progress-line {
		.step {
            width: 20%;
			border-top: 2px solid #cccccc;

			&.step-completed {
				&:before {
					content: '';
					position: absolute;
					top: -2px;
					left: -50%;
					border-top: 2px solid #008fc3;
					width: 100%;
				}

				&:last-child {
					&:after {
						content: '';
						position: absolute;
						top: -2px;
						right: 0;
						border-top: 2px solid #008fc3;
						width: 50%;
                        }
                    }
                }
            }

		.step-name-desktop {
			display: none;
		}
	}

	.student-verification,
	.confirmation-student-flow {
        .progress-line {
            .step {
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
}

@media @tablet {
	.progress-line {
        table-layout: fixed;

		.step-name-mobile {
			display: none;
		}
	}
}