.quantity-field {
	display: inline-block;

	.btn {
		width: 22px;
		height: 22px;
		margin: 0 5px;
		padding: 0;
		display: inline-block;
		position: relative;
		background: transparent;

		&:before {
			width: 22px;
			height: 0;
			border-top: 2px solid #0090c1;
			position: absolute;
			top: 50%;
			left: 0;
			content: '';
		}

		&.btn-quantity-plus {
			&:after {
				width: 0;
				height: 22px;
				margin-right: -1px;
				border-left: 2px solid #0090c1;
				position: absolute;
				top: 0;
				right: 50%;
				content: '';
			}
		}
	}

	.form-control-quantity {
		width: 40px;
		height: 22px;
		margin-right: 0;
		padding: 0 5px;
		display: inline-block;
		border: 2px solid #cccccc;
		font-size: inherit;
		text-align: center;
		vertical-align: middle;
	}
}


@media @tablet {
	.quantity-field {
		.btn {
			display: none;
		}

		.form-control-quantity {
			height: 38px;
		}
	}
}