.student-verification {
	.page-title {
		font-weight: 600;
	}

	.site-form {
		background: transparent;
	}

	.agreement {
		label {
			font-weight: 400;

            span {
                color: #921e20;
            }
		}
	}

	.agreement-title {
		font-weight: 600;
	}
}

@media @mobile {
	.student-verification {
		&.container {
			padding-right: 0;
			padding-left: 0;
		}

		.agreement {
			padding-right: 10px;
			padding-left: 10px;

			.checkbox-component {
				font-size: 15px;
				line-height: 18px;
			}
		}

		.agreement-title {
			margin-bottom: 15px;
			font-size: 26px;
			font-weight: 600;
			line-height: 28px;
		}

		.form-required {
			font-size: 15px;
			line-height: 18px;
			font-weight: 600;
		}
	}

	.student-verification-question {
		display: none;
	}
}

@media @tablet {
	.student-verification {
		.agreement-title {
			font-size: 18px;
			font-weight: 700;
		}

		.site-form {
			max-width: 600px;

			.clearfix();
		}

		.form-cell {
			max-width: 270px;
		}

		.form-cell,
		.form-buttons {
			margin-left: 0;
			margin-right: 0;
		}

		.form-required {
			float: left;
		}

		.form-buttons {
			float: right;
		}
	}

	.student-verification-question {
		margin: 15px 0 25px;
	}
}