.una-page {
    h1 {
        margin-top: 0;
        font-size: 30px;
        font-weight: 600;
    }
}
.una-left-side {
    padding: 20px;
    margin: 0 0 30px;
    background: #0093cf url('../images/light-blue-gradient.png') no-repeat center center;
    background-image: -webkit-linear-gradient(top left, #119ad2, #119ad2 50%, #0093cf 50%, #0093cf);
    background-image: -o-linear-gradient(top left, #119ad2, #119ad2 50%, #0093cf 50%, #0093cf);
    background-image: linear-gradient(to right bottom, #119ad2, #119ad2 50%, #0093cf 50%, #0093cf);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.una-left-image {
    max-width: 100%;
    height: auto;
}

.una-left-menu {
    padding: 0;
    margin-bottom: 20px;
    line-height: 20px;
    text-align: left;

    li {
        margin: 0 0 5px 25px;
        list-style: initial;
    }
}

.una-left-content {
	text-align: left;

    p {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 22px;
    }
    .una-left-quote {
        line-height: 18px;
    }
}

.una-description-content {
    margin-bottom: 20px;
    
    h2 {
        margin: 30px 0 20px 0;
        font-size: 19px;
        font-weight: 600;
        line-height: 25px;
        
        &:first-child {
            margin-top: 10px;
        }
    }
    
    a {
        color: #0090c1;
    }
    
    ol {
        margin-bottom: 20px;
        padding-left: 0;
        
        li {
            margin: 3px 0 3px 20px;
        }
    }
}

.uma-programm-details {
    margin-bottom: 20px;
    text-align: right;
}

.uma-programm-table {
    margin-bottom: 15px;
    border: 1px solid #d2d4cf;
    text-align: left;
    
    .title {
        padding: 10px;
        margin-bottom: 45px;
        background-color: #f2f5ed;
        border-bottom: 1px solid #d2d4cf;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
    }
    
    .table-row {
        //overflow: hidden;
        display: table;
        width: 100%;
        border-top: 1px solid #d2d4cf;
    }

    .table-row-left,
    .table-row-right {
        display: table-cell;
        padding: 10px;
    }
    
    .table-row-left {
        vertical-align: top;
        
        h3 {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
        }
        
        p {
            margin: 0;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 17px;
        }
    }
    
    .table-row-right {
        width: 50px;
        border-left: 1px solid #d2d4cf;
        vertical-align: middle;
        text-align: center;
    }

    .checkbox-component {
        input[type="checkbox"] ~ label {
            width: 15px;
            height: 15px;
            margin-right: 0;
            padding-left: 0;
        }
    }
}

.una-middle-content {
    h3 {
        margin: 10px 0 20px;
        font-size: 19px;
        font-weight: 600;
        line-height: 25px;
    }
    
    p {
        margin-bottom: 20px;
    }
    
    a {
        color: #0090c1;
    }
    
    ul {
        padding: 0;
        margin-bottom: 20px;
        
        li {
            float: left;
            width: 33%;
            list-style: none;
            
            p {
                margin: 0;
                padding-right: 10px;
            }
        }
    }
}

@media @mobile {
    .una-left-side {
        margin-top: 10px;
    }
    
    .una-middle-content {
        ul {
            margin-bottom: 10px;

            li {
                margin-bottom: 10px;
                float: none;
                width: auto;
            }
        }
    }

    .una-page {
        .global-alerts {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
