@import "../../../../shared/less/generatedVariables.less";
@import "../../../../shared/less/variableMapping.less";

/* media queries */
@mobile: ~"(max-width: 640px)";
@tablet: ~"(min-width: 641px)";

/* font */
@font-path: "../fonts";
@main-font: 'Source Sans Pro', sans-serif;
@font-normal: 16px;
@font-small: 11px;
@main-line-height: 22.5px;
/* text color */
@text-gray: #272f37;
@text-orange: #cf962a;

/* borders */
@border-color-gray: #daded4;

/* colors */
@white: #ffffff;
@gray-light: #ecedea;
@gray-dark: #3a4550;
@olive: #979e00;
@lilac: #5a2e5d;

@light-gray-bg: #f2f5ed;

/* bootstrap popover */
@popover-background: #e0e2dc;
@popover-border: #d2d4cf;

/* billing page */
@bg-light-gray: #f7f7f7;
@border-color-gray: #e5e5e5;