.welcome-partners {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #f2f5ed;

	.title {
		margin: 0 0 30px;
		font-size: 30px;
		font-weight: 600;
	}
}

.welcome-partners-image {
	img {
		max-width: 100%;
	}
}

.welcome-partners-description {
	p {
		margin-bottom: 20px;

		&.attention-text {
			font-style: italic;

			span {
				font-weight: 700;
				font-style: normal;
			}
		}
	}
}