.table-layout {
    margin-bottom: 25px;
    display: table;
    width: 100%;
    table-layout: initial;
}

.wpg-payment,
.wpg-subscriptions {
    display: table-cell;
    vertical-align: top;
}

.wpg-payment {
    width: 420px;
    padding-left: 20px;
    padding-top: 32px;

    iframe {
        width: 100%;
    }
}

#wpg-session-timeout,
#wpg-termsAndConditions {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
}

#wpg-termsAndConditions {
    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

#wpg-iframe {
    & + #wpg-termsAndConditions {
        padding-top: 0;
    }
}

#wpg-iframe {
    text-align: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

@media @tablet {
    #wpg-session-timeout,
    #wpg-termsAndConditions {
        margin: 0 20px 0 10px;
    }

    #wpg-iframe {
        margin-top: -9px;
    }
}

@media @mobile {
    .table-layout,
    .wpg-payment,
    .wpg-subscriptions {
        display: block;
    }

    .wpg-subscriptions {
        .subscriptions-subtotal {
            padding-bottom: 0;
        }

        .subscriptions-subtotal-item:not(.item-subtotal) {
            display: table-row;
        }
    }

    .wpg-payment {
        width: 100%;
        padding: 0;

        iframe {
            width: 400px;
        }
    }


    #wpg-session-timeout,
    #wpg-termsAndConditions {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
    }

    #wpg-session-timeout {
        margin: 0 0 25px 0;
    }

    .container {
        &.payment {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

@media @tablet and (max-width: @screen-sm-max) {
    .wpg-subscriptions {
        .subscription-info {
            min-width: 180px;
        }

        .subscription-image {
            width: 100%;
            margin-right: 0;
            float: none;
            text-align: left;

            & ~ .subscription-title,
            & ~ .subscription-description,
            & ~ .discount-code-message {
                margin-left: 0;
            }
        }
    }
}