include ../partials/mixins

doctype html
html(lang="en" dir="ltr")
	block vars
	head
		block headSection
			include ../partials/head
	body
		main
			block header
				include ../partials/header

			div(class="container " + (containerCSSClass || " "))
				div(class="row")
					div(class="col-xs-12 col-sm-9 col-sm-offset-3")
						if isPagination
							div(class="row")
								div(class="col-xs-12 col-sm-9")
									h1(class="page-title") #{pageTitle}
								div(class="col-xs-12 col-sm-3")
									include ../partials/pagination
						else
							h1(class="page-title") #{pageTitle}
				div(class="row")
					div(class="col-xs-12 col-sm-3")
						block left
					div(class="col-xs-12 col-sm-9")
						block right

			block footer
				include ../partials/footer
