include ../partials/mixins

doctype html
html(lang="en" dir="ltr")
	block vars
	head
		block headSection
			include ../partials/head
	body
		main
			block header
				include ../partials/header

			div(class="container " + (containerCSSClass || " "))
				div(class="row")
					div(class="col-xs-12 col-sm-12")
						h1(class="page-title" class=pageTitleCSSClass) #{pageTitle}

				div(class="row")
					div(class="col-xs-12 col-sm-7")
						block left
					div(class="col-xs-12 col-sm-4 col-sm-offset-1")
						block right

			block footer
				include ../partials/footer
