include ../partials/mixins

doctype html
html(lang="en" dir="ltr")
	block vars
	head
		block headSection
			include ../partials/head
	body
		main
			block header
				if nonLoggedIn
					include ../partials/header-non-logged-in
				else
					include ../partials/header

			div(class="container " + (containerCSSClass || " "))
				div(class="row")
					div(class="col-xs-12 col-sm-3")
						block left
					div(class="col-xs-12 col-sm-9")
						if supportMessage
							include ../partials/support-message
						if isH1LeftBlock
							div(class="row")
								div(class="col-xs-12 col-sm-8")
									if isfullWidthGrayH1Mobile
										h1(class="full-width-gray") #{pageTitle}
									if isMyCompany
										h1(class="hidden-xs") #{pageTitle}
									if !isfullWidthGrayH1Mobile && !isMyCompany
										h1 #{pageTitle}
								div(class="col-xs-12 col-sm-4")
									block h1LeftBlock
						else
							if isfullWidthGrayH1Mobile
								h1(class="full-width-gray") #{pageTitle}
							if isMyCompany
								h1(class="hidden-xs") #{pageTitle}
							if !isfullWidthGrayH1Mobile && !isMyCompany
								h1 #{pageTitle}

						if isMyCompany
							div(class="row")
								div(class="col-xs-12 visible-xs")
									h1 #{pageTitle}
						block right

			block footer
				include ../partials/footer

		include ../partials/cookie-popup
		// scripts
		block commonScripts
			include ../partials/common-scripts
