include ../partials/mixins

doctype html
html(lang="en" dir="ltr")
	block vars
	head
		block headSection
			include ../partials/head
	body
		main
			block header
				if nonLoggedIn
					include ../partials/header-non-logged-in
				else
					include ../partials/header

			if fullWidthBorder
				div(class="full-width-border")

			div(class="container " + (containerCSSClass || " "))
				if !nonLoggedIn
					div(class="row")
						div(class="col-xs-12 col-sm-6")
							h1(class=(isfullWidthGrayH1Mobile ? "full-width-gray" : " ")) #{pageTitle}
							if subTitleBlock
								div(class="sub-title-block")
									block subTitle
				div(class="row")
					if supportMessage
						div(class="col-xs-12 col-sm-12")
							include ../partials/support-message

					div(class="col-xs-12 col-sm-6 left-block")
						block left
					if !showRightCol
						div(class="col-xs-12 col-sm-6")
							block right

			block footer
				include ../partials/footer


		include ../partials/cookie-popup
		// scripts
		block commonScripts
			include ../partials/common-scripts
