include ../partials/mixins
doctype html
html(lang="en" dir="ltr")
	block vars
	head
		block headSection
			include ../partials/head
	body
		a(class="skip-to-content-link", href="#maincontent", tabindex="1") Skip to main content
		main
			block header
				if nonLoggedIn
					include ../partials/header-non-logged-in
				else
					include ../partials/header
			div(class="container-fluid " + (containerCSSClass || " "))
				a(name="maincontent", id="maincontent")
				div(class="row")
					block center
			block footer
				include ../partials/footer

		//include ../partials/cookie-popup
		// scripts
		block commonScripts
			include ../partials/common-scripts