include ../partials/mixins
doctype html
html(lang="en" dir="ltr")
	block vars
	head
		block headSection
			include ../partials/head
	body
		main
			block header
				if nonLoggedIn
					include ../partials/header-non-logged-in
				else
					include ../partials/header

			if progressLine
				include ../partials/progress-line
			div(class="container " + (containerCSSClass || " "))
				if globalAlerts
					div(col="row")
						div(col="col-sm-12")
							div(class="global-alerts")
								+globalAlert("danger", true)
									| Danger message goes here.
								+globalAlert("warning", true)
									| Warning message goes here.
								+globalAlert("info", true)
									| Info message goes here.
								+globalAlert("success", true)
									| Success message goes here.

				div(col="row")
					div(col="col-sm-12")
						if supportMessage
							include ../partials/support-message
						block top
				if !hiddenBottom
					div(col="row")
						div(col="col-sm-12")
							block bottom
			block footer
				include ../partials/footer

		include ../partials/cookie-popup
		block commonScripts
			include ../partials/common-scripts