include ../partials/mixins
doctype html
html(lang="en" dir="ltr")
	block vars
	head
		block headSection
			include ../partials/head
	body
		main
			block header
				if nonLoggedIn
					include ../partials/header-non-logged-in
				else
					include ../partials/header
			div(class="container " + (containerCSSClass || " "))
				div(class="row")
					div(class="col-xs-12 col-sm-9")
						block center
					div(class="col-xs-12 col-sm-2 col-sm-offset-1")
						block right
			block footer
				include ../partials/footer

		include ../partials/cookie-popup
		// scripts
		block commonScripts
			include ../partials/common-scripts