include ../partials/mixins
doctype html
html(lang="en" dir="ltr")
	block vars
	head
		block headSection
			include ../partials/head
	body
		main
			block header
				if nonLoggedIn
					include ../partials/header-non-logged-in
				else
					include ../partials/header
			div(class="container " + (containerCSSClass || " "))
				div(class="row")
					div(class="col-xs-12 col-sm-4")
						block left
					div(class="col-xs-12 col-sm-8")
						block center
			block footer
				include ../partials/footer
		// scripts


		include ../partials/cookie-popup
		block commonScripts
			include ../partials/common-scripts