include ../partials/mixins
doctype html
html(lang="en" dir="ltr")
	block vars
	head
		block headSection
			include ../partials/head
	body
		main
			block header
				if nonLoggedIn
					include ../partials/header-non-logged-in
				else
					include ../partials/header
			if progressLine
				include ../partials/progress-line
			div(class="container " + (containerCSSClass || " "))
				div(class="row")
					div(class="col-xs-12 col-sm-12")
						if supportMessage
							include ../partials/support-message
						h1(class="page-title" class=pageTitleCSSClass) #{pageTitle}
						if subTitleBlock
							div(class="sub-title-block")
								block subTitle
				div(class="row")
					div(class="col-xs-12 col-sm-7")
						block left
					div(class="col-xs-12 col-sm-4 col-sm-offset-1")
						block right
				block bottom
			block footer
				include ../partials/footer

		include ../partials/cookie-popup
		block commonScripts
			include ../partials/common-scripts