div(class="asm-panel")
	div(class="container")
		p(class="asm-title") Imitation mode
		div(class="asm-user-info")
			span(class="asm-info-label") Customer:
			span(class="asm-info-value") Ihar Karotki
		div(class="asm-agent-info")
			span(class="asm-info-label") CS Agent:
			span(class="asm-info-value") Tom Smit
