div(class="checkout-breadcrumb")
	div(class="breadcrumb-item done")
		span(class="status") 1
		| Shopping Cart
	div(class="breadcrumb-item in-progress")
		span(class="status") 2
		| Checkout
	div(class="breadcrumb-item next")
		span(class="status") 3
		| Confirmation