div(class="flash-message-wrapper")
	div(class="flash-message informational")
		div(class="container")
			span(class="flash-message-text")
				| Error processing card info. Please call &nbsp;
				a(href="#") customer service
			button(class="close")
				span ×

	div(class="flash-message success")
		div(class="container")
			span(class="flash-message-text")
				| Error processing card info. Please call &nbsp;
				a(href="#") customer service
			button(class="close")
				span ×
	div(class="flash-message warning")
		div(class="container")
			span(class="flash-message-text")
				| Error processing card info. Please call &nbsp;
				a(href="#") customer service
			button(class="close")
				span ×

	div(class="flash-message error")
		div(class="container")
			span(class="flash-message-text")
				| Error processing card info. Error processing card info. Error processing card info. Error processing card info. Error processing card info. Please call &nbsp;
				a(href="#") customer service
			button(class="close")
				span ×