block footer
	footer(class="main-footer-container", role="contentinfo")
		div(class="container")
			nav(class="main-footer-nav")
				div(class="main-footer-nav-item")
					a(href="", title="Wiley.com") Wiley.com
				div(class="main-footer-nav-item")
					a(href="", title="Wiley Online Library") Wiley Online Library
				div(class="main-footer-nav-item")
					a(href="", title="Privacy Policy") Privacy Policy
				div(class="main-footer-nav-item")
					a(href="", title="Terms & Conditions") Terms & Conditions
				div(class="main-footer-nav-item")
					a(href="", title="Contact us") Contact us
				div(class="main-footer-nav-item")
					a(href="", title="Help") Help


			div(class="footer-copyright")
				a(class="footer-logo", href="javascript:void(0);", title="Wiley")
					img( src="responsive/common/images/wiley-logo-footer@3x.png", alt="Wiley logo")

				div(class="footer-copyright-text")
					p
						| Copyright © 2000-
						script.
							document.write(new Date().getFullYear())
						|  by John Wiley & Sons, Inc., or related companies. All rights reserved.
