block footer
	footer(class="main-footer-container", role="contentinfo")
		div(class="container")
			div(class="footer-copyright")
				a(class="footer-logo", href="javascript:void(0);", title="Wiley")
					img( src="responsive/common/images/wiley-logo-footer@3x.png", alt="Wiley logo")

				div(class="footer-copyright-text")
					p
						| Copyright © 2000-
						script.
							document.write(new Date().getFullYear())
						|  by John Wiley & Sons, Inc., or related companies. All rights reserved.
