block headSection
	meta(name="viewport", content="width=device-width")
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="format-detection", content="telephone=no")
	base(href="../../../hybris/bin/custom/wiley/wileyasstorefront/web/webroot/_ui/")

	link(rel="stylesheet" type="text/css" media="all" href="responsive/common/css/style.css")
	title= headTitleText || 'Wiley'