block headers
    header(class="header-container nav-down", role="banner")
        nav(class="header-container-navigation", role="navigation")
            div.navbar-header
                a(class="navigation-logo", href="javascript:void(0);", title="Wiley")
                    img(src="responsive/common/images/logo-mobile.png", alt="Wiley")
            div( class="collapse navbar-collapse", id="willey-navbar-collapse")
                div(class="container-navigation")
                    div(class="container-navigation-item-1")
                        a(class="navigation-logo", href="javascript:void(0);", title="Wiley")
                            img(src="responsive/common/images/logo-desktop.png", alt="Wiley")

