block headers
    header(class="header-container nav-down", role="banner")
        nav(class="header-container-navigation", role="navigation")
            div.navbar-header
                div(class="navbar-toggle collapsed", type='button', data-toggle='collapse', data-target='#willey-navbar-collapse', aria-expanded='false')
                    span(class="patty")
                a(class="navigation-logo", href="javascript:void(0);", title="Wiley")
                    img(src="responsive/common/images/logo-mobile.png", alt="Wiley")
                div(class="header-title-mobile") Menu
            div( class="collapse navbar-collapse", id="willey-navbar-collapse")
                div(class="container-navigation")
                    div(class="container-navigation-item-1")
                        a(class="navigation-logo", href="javascript:void(0);", title="Wiley")
                            img(src="responsive/common/images/logo-desktop.png", alt="Wiley")
                    div(class="container-navigation-item-2")
                        div(class="navigation-menu")
                            div(class="menu-item")
                                a(href="", title="") My Dashboard
                            div(class="dropdown show menu-item menu-item-dropdown")
                                a(class="dropdown-toggle" href="#" role="button" id="menu-dropdown-help-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Help
                                div(class="dropdown-menu", aria-labelledby="menu-dropdown-help-block")
                                    a(class="dropdown-item selected" href="#") Action
                                    a(class="dropdown-item" href="#") Another action
                                    a(class="dropdown-item" href="#") Something else here
                            div(class="menu-item user-name")
                                | Username:
                                span John Parker Maria Luiza Pereira Junior Senior


