//- Checkout accordion mixin
mixin checkoutAccordion(currentItem, items)
    - var items = items || [{name:"Shipping Information"},{name:"Shipping Method"},{name:"Payment & Billing Address"},{name:"Order Review"}];
    div(class="checkout-accordion")
        - each item, i in items
            - var isCurrentItem = (i+1 == currentItem);
            - var itemClasses = (isCurrentItem) ? "checkout-accordion-item current" : "checkout-accordion-item";
            div(class=itemClasses)
                div(class="checkout-accordion-header")
                    a(href="#")
                        span(class="item-number") #{i + 1}
                        span(class="item-text") #{item.name}
                        span(class="icon-edit")

                - if (isCurrentItem)
                    div(class="checkout-accordion-content")
                        block

mixin modal(id, title, className)
    div(id=id class="modal fade modalWindow " + (className || ""), role="dialog")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    div(class="row")
                        div(class="col-xs-10 col-sm-10")
                            div(class="modal-title")
                                = title
                        div(class="col-xs-2 col-sm-2")
                            button(class="close", type="button", data-dismiss="modal", aria-label="Close")
                                span(aria-hidden="true") &times;
                div(class="modal-body")
                    if isOderReview
                        a(class="top-anchor", name="top-anchor")

                    block

mixin globalAlert(type, isDismissable)
    div(class="alert alert-" + type.toLowerCase() + ((isDismissable) ? " alert-dismissable" : ""), role="validation-message")
        button(class="close", aria-label="close", data-dismiss="alert", type="button")
        block

mixin modalList(list)
    if modalTitle
        div(class="modal-wnd-title")
            h3=modalTitle
    div(class="modal-wnd-list")
        - each item, i in list
            div(class=((i + 1) == list.length ? "modal-wnd-list-item-last" : "modal-wnd-list-item"))
                div(class="row")
                    div(class="col-xs-12 col-sm-8")
                        if item.title
                            div(class="modal-wnd-list-title")
                                p=item.title
                        if item.description
                            div(class="modal-wnd-list-description")
                                - each descrItem, i in item.description
                                    if descrItem
                                        p=descrItem
                    div(class="col-xs-12 col-sm-4")
                        if item.buttonName
                            div(class="modal-wnd-item-button")
                                button(class="button button-main small")
                                    =item.buttonName
                        if item.currentSubscription
                            div(class="modal-wnd-item-current-sub")
                                b=item.currentSubscription

mixin sideBarNavigation(list)
    nav(class="sidebar-nav")
        - each item in list
            div(class="yCmsComponent " + (navItem == item ? "active" : ""))
                a(href="#", class ="nav-item", title=item)
                    =item