.navigation-menu-items a {
	color: white;
}

.main-header-container > .container {
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

.main-navigation-container > .main-navigation-links {
	padding-left: 15px;
	padding-right: 15px;
}

.main-navigation-container > .main-navigation-menu{
	padding-left: 15px;
}

.main-navigation-menu {
	background-color: #C4262E;
}

.main-navigation-links .logo img {
	width: 372px;
	height: 50px;
}

.main-header-container::before {
	background: black none repeat scroll 0 0;
	height: 1px;
}

.footer-logo {
	display: none;
}