<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<c:set var="                        screenXs" value="480px" scope="session"/>
<c:set var="screenSm" value="640px" scope="session"/>
<c:set var="screenMd" value="1024px" scope="session"/>
<c:set var="screenLg" value="1400px" scope="session"/>
  
<c:set var="screenXsMin" value="480px" scope="session"/>
<c:set var="screenSmMin" value="640px" scope="session"/>
<c:set var="screenMdMin" value="1024px" scope="session"/>
<c:set var="screenLgMin" value="1400px" scope="session"/>

<c:set var="screenXsMax" value="639px" scope="session"/>
<c:set var="screenSmMax" value="1023px" scope="session"/>
<c:set var="screenMdMax" value="1399px" scope="session"/>