.two-column-layout {
	&.wrapper {
		background: #f7f8f8;
	}

	.loader-container {
		display: none;
	}

	&.loading {
		position: relative;

		.header {
			z-index: 1;
		}

		.loader-container {
			width: 100%;
			height: 100%;
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			border-top: 85px solid transparent;
			background: rgba(255,255,255, 0.85);

			.loader-text {
				width: 100%;
				height: 40px;
				margin-top: -20px;
				display: block;
				position: absolute;
				top: 50%;
				font-size: 30px;
				text-align: center;
			}
		}
	}

	.content {
		.clearfix();
	}

	.panel {
		&-heading {
			position: relative;
			display: table;
			width: 100%;
			height: 65px;
			color: #ffffff;
		}

		&-title {
			display: table-cell;
			vertical-align: middle;
			font-weight: 600;
		}

		&-body {
			padding: 0;
		}
	}

	.main-content {
		.panel-heading {
			background: #e7e8e7;
			color: #363636;
		}

		.icon-arrow-left {
			display: none;
		}
	}

	.aside-menu {
		position: relative;

		.navigation {
			position: absolute;
			top: 50%;
			right: 20px;
			margin-top: -10px;
		}

		.panel-heading {
			background: #952b31;
			color: #ffffff;
		}

		.list-group-item {
			text-transform: uppercase;
		}

		.icon-arrow-right {
			border-color: #606261;
		}

		.swipe-area {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.navigation {
		display: table-cell;
		padding-right: 20px;
		vertical-align: middle;
		text-align: right;

		&-item {
			display: inline-block;
			height: 10px;
			width: 10px;
			margin-left: 5px;
			border: 1px solid #ffffff;
			border-radius: 50%;

			&:hover,
			&:focus {
				text-decoration: none;
			}

			&.current {
				position: relative;

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					margin-left: -3px;
					margin-top: -3px;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: #ffffff;
				}
			}

			span {
				display: none;
			}
		}
	}
}

@media @tablet {
	.two-column-layout {
		&.wrapper {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				width: 25%;
				background: #e7e8e7;
				border-right: 20px solid #ffffff;
				.box-sizing(content-box);
			}
		}

		.navigation {
			position: static;
			display: table;
			width: 100%;
			padding: 0;
			text-align: center;

			&-item {
				display: table-row;
				height: auto;
				width: auto;

				span {
					position: relative;
					display: table-cell;
					height: 60px;
					padding: 0 30px;
					vertical-align: middle;
					border-bottom: 1px solid #cccccc;
					font-size: 14px;
					font-weight: 600;
					color: #8e8c8c;
					text-transform: uppercase;

					&:before,
					&:after {
						content: '';
						position: absolute;
						top: 30px;
						border-color: #8e8c8c;
						border-style: solid;
					}

					&:after {
						right: 10px;
						width: 15px;
						height: 15px;
						border-radius: 9999px;
						border-width: 1px;
						margin-top: -7px;
					}

					&:before {
						right: 16px;
						width: 5px;
						height: 5px;
						.rotate(45deg);
						border-width: 1px 1px 0 0;
						margin-top: -2px;
					}
				}

				&:hover,
				&:focus {
					text-decoration: none;
				}

				&.current {
					position: relative;

					&:before {
						display: none;
					}

					span {
						color: #606261;

						&:before,
						&:after {
							border-color: #606261;
						}
					}
				}
			}
		}

		.aside-menu,
		.main-content {
			float: left;
		}

		.aside-menu {
			width: 25%;

			.panel-heading {
				background: #3e3e3d;
				color: #ffffff;
			}

			.navigation {
				position: static;
				margin: 0;
			}

			.swipe-area {
				display: none;
			}
		}

		.main-content {
			width: 75%;
			padding-left: 20px;

			.icon-arrow-left {
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -10px;
				left: 10px;
			}

			.panel-heading {
				background: #952b31;
				color: #ffffff;
			}
		}

		& + .footer {
			border-top: 15px solid #ffffff;
		}
	}
}

