.order-details-info {
    padding: 20px 10px 5px;
    margin: 0 0 15px 0;
    background-color: @bg-light-gray;

    & > div {
        display: table;
        width: 100%;
        margin: 0 0 5px 0;
    }

    & > div span {
        display: table-cell;
        width: 50%;
    }

    & > div span:first-child {
        text-align: left;
    }

    & > div span:last-child {
        text-align: right;
    }

    .total span {
        padding: 10px 0;
        font-weight: 600;
    }
}
.billing-address {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
    .col-sm-12,
    .col-md-6 {
        width: auto;
        float: none;
        padding: 0;
    }
}
.go-to-card {
    text-decoration: underline;
}

@media @mobile {
	.billing-address {
		.form-buttons {
			padding: 0 10px;
		}
	}
}

@media @tablet {
    .billing-address {
        display: table;
        width: 80%;
    }

    .billing-address-form,
    .order-details {
        display: table-cell;
        vertical-align: top;
    }

    .billing-address-form {
        padding: 0 1% 0 0;
    }

    .order-details {
        padding: 0 0 0 1%;
    }

    .order-details {

        .form-buttons {
            display: table;
            width: 100%;
            margin-left: 0;
        }

        .link-control {
            display: table-cell;
            width: 50%;
            text-align: left;
        }

        .btn-control {
            display: table-cell;
            width: 50%;
            text-align: right;
        }
    }
}

@media @mobile {

    .order-details {

        .form-buttons {
            margin-left: 0;
            margin-right: 0;
        }

        .link-control,
        .btn-control {
            display: block;
            width: 100%;
        }

        .link-control {
            margin: 0 0 15px 10px;
        }
    }
}