.currency-selector {
	display: inline-block;
	font-size: 11px;
	font-weight: 600;

	.dropdown-toggle {
		min-width: 60px;
		height: 25px;
		padding: 0 20px 0 5px;
		position: relative;
		background: #f8f8f8;
		border: 1px solid #dedede;
		border-radius: 3px;
		font-size: inherit;
		font-weight: inherit;
		line-height: 25px;
		text-align: left;
		outline: 0;
		.box-shadow(0 0 1px rgba(0,0,0,.2));

		&:before,
		&:after {
			content: '';
			position: absolute;
			right: 5px;
			width: 0;
			height: 0;
			border-style: solid;
		}

		&:after {
			top: 13px;
			border-width: 4px 3px 0 3px;
			border-color: #000 transparent transparent transparent;
		}

		&:before {
			top: 7px;
			border-width: 0 3px 4px 3px;
			border-color: transparent transparent #000 transparent;
		}
	}

	.dropdown-menu {
		min-width: 100%;
		margin: 0;
		padding: 0;
		border: 1px solid #dedede;
		border-width: 0 1px;
		background: transparent;
		font-size: inherit;
		font-weight: inherit;

		li {
			height: 23px;
			border-bottom: 1px solid #dedede;
			background: #f8f8f8;
		}

		.current {
			display: none;
		}

		a {
			padding: 0 5px;
			font-size: inherit;
			font-weight: inherit;
			line-height: 22px;
			cursor: pointer;
		}
	}
}