.card-info {
    width: 100%;
    margin-bottom: 15px;
    border-collapse: collapse;

    th {
        width: 50%;
        padding-bottom: 5px;
        text-align: left;
        vertical-align: top;
        font-weight: 400;
    }

    td {
        vertical-align: middle;
    }

    .card-number {
        font-weight: 600;
    }

    .card-type {
        display: block;
        width: 56px;
        height: 33px;
        font-size: 0;
        background: no-repeat url("../images/icon-card-types.png");

        &.amex {
            background-position: 0 0;
        }

        &.diners {
            background-position: 0 -40px;
        }

        &.maestro {
            background-position: 0 -80px;
        }

        &.master {
            background-position: 0 -120px;
        }

        &.mastercard_eurocard {
            background-position: 0 -160px;
        }

        &.switch {
            background-position: 0 -200px;
        }

        &.visa {
            background-position: 0 -240px;
        }

        &.discover {
            background-position: 0 -280px;
        }
}

    .card-type[value] {
        font-weight: 600;
        -webkit-text-fill-color: #000000;
        -webkit-opacity: 1;
        color: #000000;
    }
}
.card-expirience {
    width: 100%;
    border-collapse: collapse;

    th {
        font-weight: 400;
    }

    .date {
        font-weight: 600;
    }

    .td-button {
        text-align: right;
    }

    .form-button {
        height: auto;
        min-height: 30px;
        background-color: #000000;
        font-size: 12px;
    }
}

@media @tablet {
    .edit-payment {
        margin: 60px 10% 0;

        .form-buttons {
            text-align: right;
        }
        .form-cell,
        .form-buttons {
            margin: 0 0 15px;
        }
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .edit-payment-info {
        display: table;
        width: 100%;

        .edit-payment-form,
        .edit-payment-card {
            display: table-cell;
            vertical-align: top;
        }

        .edit-payment-card {
            width: 240px;
            padding: 0 0 0 5px;

                .card-info {
                    margin-top: 48px;
                }

                .form-button {
                    margin: 5px 0;
                }
        }

        .form-required {
            margin-left: 10px;
        }
    }
}

@media @mobile {
    .edit-payment-card {
        margin: 0 10px 15px 10px;

        .form-button {
            padding: 5px 10px;
        }
    }

	.edit-payment .form-title {
		display: none;
	}

    .card-expirience {
        td {
            width: 50%;
        }
    }
}