.footer {
	width: 100%;
	height: 150px;
	margin-top: -150px;
	padding: 14px;
	position: relative;
	display: table;
	background: #383838;
	font-size: 12px;
	color: #ffffff;
}

.footer-left-side,
.footer-right-side {
	display: table-row-group;
	vertical-align: middle;
	text-align: center;
}

.footer-left-side {
	.copyright {
		p {
			margin: 0;
			font-size: inherit;
			color: inherit;
		}
	}
}

.footer-logo {
	text-align: center;

	a {
		display: inline-block;
	}

	img {
		width: 100px;
	}
}

@media @mobile {
	.copyright-text {
		display: none;
	}
}

@media @tablet {
	.footer {
		height: 85px;
		margin-top: -85px;
	}

	.footer-left-side,
	.footer-right-side {
		width: 50%;
		display: table-cell;
		text-align: left;
		vertical-align: middle;
	}

	.copyright-text-mobile {
		display: none;
	}

	.footer-logo {
		text-align: right;
	}
}