.site-form {
	margin-bottom: 15px;
	background-color: @bg-light-gray;

	form {
		padding: 20px 0 5px 0;
	}

	select {
		width: 100%;
		height: 28px;
	}
}

.form-title {
	padding: 5px 10px;
	position: relative;
	font-weight: 600;
	background-color: #dadada;

	.form-title-toggle {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}
}

.form-description {
	padding: 20px 10px 0;
}

.form-cell,
.form-buttons {
	margin: 0 10px 15px 10px;
}

.form-label {
	display: block;
	margin: 0 0 5px 0;
	font-weight: 400;

	&.required:after {
		content: '\2A';
		color: #921e20;
	}
}

.form-field input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border-radius: 0;

	width: 100%;
	height: 30px;
	padding: 0 10px;
	border: 1px solid @border-color-gray;
}

.form-required {
	margin: 15px 0;
	font-style: italic;

	&:before {
		content: '\2A';
		color: #921e20;
	}
}

.help-block {
	margin-bottom: 0;
 }

.has-error {
	.help-block {
		color: #ff4444;
	}

	.control-label {
		color: #000000;
	}
	&.form-field,
	.form-field {
		input {
			background-color: #f2dede;
			border-color: #ebccd1;
		}
	}
}

.form-button {
	height: 30px;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 0;
}

.block800px{
	max-width: 800px;
	margin: 0 auto;
	padding: 30px 30px 0;
	.box-sizing(content-box);
}

.update-profile-form,
.change-password-form {
	.block800px();

	.block-form {
		display: table;
		width: 100%;
		table-layout: fixed;
	}

	.form-cell {
		display: table-cell;
		padding: 0 10px 5px 10px;
		vertical-align: top;

		label {
			white-space: nowrap;
		}
	}

	.link {
		padding-right: 10px;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
			cursor: pointer;
		}
	}

	.form-button {
		margin-top: 30px;
	}
}

.subscription-form {
	.block800px();

    padding-bottom: 30px;

	.title {
		margin: 0;
        font-size: 22px;
        font-weight: 600;
	}

	form {
		padding-top: 15px;
	}

	label {
		font-weight: 600;
	}

	.table {
		margin-bottom: 0;

		&-cell {
			padding: 20px 10px;
		}
	}
}

.activate-pin-form {
	.form-description {
		padding: 20px 10px;
	}
}

@media @mobile {
	.form-button {
		width: 100%;
		height: auto;
		min-height: 50px;
		padding: 5px 30px;
		font-size: 20px;
	}

	.form-required {
		margin-left: 10px;
	}

	.update-profile-form,
	.change-password-form {
		padding: 0;

		form {
			display: block;
		}

		.form-title{
			display: none;
		}

		.form-cell {
			display: block;
			padding: 0;
		}
	}

	.subscription-form {
		.table {
			margin-bottom: 0;

			&-cell {
				padding: 10px;
			}
		}
	}
	.forgot-password-form {
		.form-button {
			margin-top: 0;
		}
	}
}

@media @tablet {
	.form-title {
		.form-title-toggle {
			display: none;
		}
	}

	.reset-password-form,
	.forgot-password-form {
		input,
		.help-block {
			width: 250px;
		}
	}

	.forgot-password-form {
		form {
			display: table;
		}

		.form-cell {
			display: table-cell;
			padding: 0 10px 15px 10px;
			vertical-align: top;
		}
		.form-button {
			margin-top: 23px;
		}
	}

	.activate-pin-form {
		.form-cell,
		.help-block,
		.form-buttons {
			width: 250px;
		}

		.form-buttons {
			text-align: right;
		}

		form,
		.form-description {
			display: table-cell;
			vertical-align: top;
		}

		.form-description {
			padding-top: 39px;
		}
	}
}