.header {
	position: relative;
	width: 100%;
	background: #ffffff;
}

.header-container {
	width: 100%;
	height: 85px;
	position: relative;
	display: table;
}

.header-title,
.header-left-side,
.header-right-side {
	display: table-cell;
	vertical-align: middle;
}

.header-title {
	width: 100%;
	padding: 15px;
	text-align:center;

	h1 {
		margin: 0;
		font-size: 14px;
		font-weight: bold;
		color: #bdbec1;
	}

	a {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	img {
    	width: 336px;
    	max-width: 100%;
    }
}

.header-left-side,
.header-right-side {
	display: none;
}

@media @mobile {
	.header-container {
		width: 100%;
	}

	.logo-header {
		display: none;
	}
}

@media @tablet {
	.two-column-layout {
		.header {
			padding: 0 10px;
		}
	}

	.header-title {
		width: 60%;

		img {
			height: 16px;
		}
	}

	.header-left-side,
	.header-right-side {
		width: 20%;
		display: table-cell;
	}

	.header-right-side {
		text-align: right;

		.logout-link {
			& + .currency-selector {
				margin-left: 15px;
			}
		}

		.currency-selector {
			& + .logout-link {
				margin-left: 15px;
			}
		}
	}

	.logo-header-mobile {
		display: none;
	}

    .logout-link {
		text-transform: uppercase;
		color: #606261;
    }
}
