.icon {
	width: 24px;
	height: 24px;
	display: inline-block;
}

.icon-email {
	background: url('../images/icon-email.png') no-repeat;
}

.icon-help {
	background: url('../images/icon-help.png') no-repeat;
}

.icon-scales {
	background: url('../images/icon-scales.png') no-repeat;
}