.login-page {
	.panel-group {
		.panel-heading + .panel-collapse > .panel-body {
			border: 0;
		}
		.panel-heading {
			padding: 0;
		}

		.panel {
			box-shadow: none;
			margin-top: 0;

			&-title {
				font-size: 18px;
				font-weight: 700;
				a {
					text-decoration: none;
					cursor: default;
				}
			}

			&-collapse {
				background-color: @bg-light-gray;

				select {
					width: 100%;
					height: 28px;
				}
			}
		}
	}

	.container-fluid {
		padding: 0;
	}

    .create-account .form-cell {
		margin: 0 0 15px;
	}
    
    .create-account .form-buttons {
		margin: 0;
	}

	.recover-password {
		text-decoration: underline;
		cursor: pointer;

		&:hover {
			text-decoration: none;
		}
	}
}

@media @tablet {
    .form-required.mobile {
        display: none;
    }

    #accordion .collapse {
	    height: auto !important;
        display: block;
    }
}

@media @mobile {
	.login-page {
		.panel-group {
			margin-top: 30px;
		}

		.panel {
			margin-bottom: 30px;
			border: 0;

			&-heading {
				background: #cccccc;

				.panel-title {
					font-size: 24px;

					a {
						cursor: pointer;
					}
				}

			}

			&-body {
				padding-top: 15px;
				border: 0;
			}
		}
		.form-title {
			font-size: 24px;

			.form-title-toggle {
				&:before,
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					right: 10px;
					background: #000000;
				}

				&:before {
					width: 20px;
					height: 3px;
				}

				&.collapsed {
					&:after {
						width: 3px;
						height: 20px;
						margin: -8px 8px 0 0;
					}
				}
			}
		}

        .recover-password {
            display: block;
            margin: 0 0 15px 0;
        }

        .form-required.laptop {
            display: none;
        }

        #collapseTwo .form-required.mobile {
            margin-left: 0;
        }
	}
}
