.progress-line {
	display: table;
	width: 100%;
	list-style: none;
	margin: 25px 0;
	padding: 0;

	.step {
		position: relative;
		display: table-cell;
		width: 25%;
		padding-top: 20px;
		text-align: center;
		font-size: 18px;

		&.step-completed {
			font-weight: 700;

			.step-number {
				background: #921e20;
				color: #ffffff;
				font-weight: 400;
			}
		}
	}

	.step-number {
		position: absolute;
		top: -15px;
		left: 50%;
		margin-left: -15px;
		height: 30px;
		width: 30px;
		line-height: 30px;
		color: #8d7a7a;
		border-radius: 50%;
		background: #cccccc;
		z-index: 1;
	}

	.step-name-mobile{
		display: none;
	}
}

@media @mobile {
	.progress-line {
		.step {
			display: table-cell;
			border-top: 2px solid #cccccc;

			&.step-completed {
				&:before {
					content: '';
					position: absolute;
					top: -2px;
					left: -50%;
					border-top: 2px solid #921e20;
					width: 100%;
				}

				&:last-child {
					&:after {
						content: '';
						position: absolute;
						top: -2px;
						right: -50%;
						border-top: 2px solid #921e20;
						width: 100%;
					}
				}
			}
		}

		.step-name-desktop {
			display: none;
		}

		.step-name-mobile{
			display: inline;
		}
	}
}

@media @tablet {
	.progress-line {
		.step-name-mobile {
			display: none;
		}
	}
}