.subscriptions {
	font-size: 14px;
	line-height: 22px;

	a {
		color: inherit;
        text-decoration: underline;

		&:hover,
		&:focus {
			color: inherit;
            text-decoration: none;
		}
	}

	.link {
		background: transparent;
		border: 0;

		&:focus {
			outline: 0;
		}
	}

	.btn {
		&:active {
			.box-shadow(none);
			&:focus {
				outline: 0;
			}
		}
	}
}

.subscriptions-title {
	padding: 10px 14px 20px;

	.title {
		margin: 0;
		font-size: 23px;
	}

	.subscriptions-action-buttons {
		display: none;
	}

	.cart-id {
		padding-left: 20px;
		text-transform: uppercase;
		font-size: 12px;
		color: #989ba0;
	}
}

.subscriptions-header {
	.subscriptions-header-item {
		padding: 6px 14px 10px;
		background: #e6e7e8;
		font-size: 14px;
		font-weight: 600;
		display: none;

		&.item-item {
			display: block;
		}
	}
}

.subscription-info {
	margin-bottom: 20px;
	padding: 18px 14px 25px;
	background: #f7f7f7;

	.discount-code-message {
		margin-top: 10px;
		font-style: italic;
	}
}

.subscription-image {
	float: left;
	width: 90px;
	margin-right: 30px;
	text-align: center;

	.subscription-image-link,
	img {
		max-width: 100%;
	}

	.subscription-image-link {
		display: inline-block;
	}

	& ~ .subscription-title,
	& ~ .subscription-description,
	& ~ .discount-code-message {
		margin-left: 120px;
	}
}

.subscription-title {
	margin: 0 0 19px;
	font-size: 15px;
	font-weight: 600;
}

.subscription-description {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 17px;
	list-style-type: none;

	p {
		margin:0;
	}
}

.subscription-price-item {
	margin-bottom: 15px;
	padding: 0 14px;
	font-size: 14px;
	line-height: 14px;

	&.item-total,
	&.item-action {
		display: none;
	}

	&.item-action {
		&.item-action-mobile {
			display: block;
			float: right;
		}
	}
}

.subscription-price-name,
.subscription-price-value {
	display: inline-block;
}

.subscription-price-value {
	.discount-price {
		text-decoration: line-through;
	}
}

.discount-code-title {
	padding: 7px 18px;
	background: #e6e7e8;
	font-size: inherit;
	font-weight: 600;
}

.discount-code-form {
	padding: 25px 17px;
	background: #f7f7f7;

	.input-group {
		margin-bottom: 14px;
	}

	.discount-code-input {
		margin-right: 0;
		padding: 0 10px;
		vertical-align: middle;
	}

	#discountCodeValue.has-error {
		background-color: #f2dede;
		border-color: #f2dede;
	}
}

.discount-code-message {
	p {
		margin: 0;
		line-height: 18px;
	}

	& + .discount-code-message {
		margin-top: 10px;
	}

	.discount-error.has-error {
		font-style: italic;
		color: #902026;
	}
}

.subscriptions-subtotal {
	padding: 14px 14px;
	font-size: inherit;
}

.subscriptions-subtotal-items {
	display: inline-block;
}

.subscriptions-subtotal-item {
	margin-bottom: 20px;
	display: table-row;
}

.subscriptions-subtotal-name,
.subscriptions-subtotal-value {
	padding-bottom: 5px;
	display: table-cell;
	color: inherit;
	vertical-align: middle;
}

.subscriptions-action-buttons {
	.link {
		display: none;
	}
}

.voucher-list__item-box {
	display: inline-block;
	border: 1px solid #cccccc;
	background-color: #f2f2f2;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 5px;
	margin-top: 0;
}

.voucher-list__item-remove {
	color: #cdcdcd;
	padding: 5px;
	cursor: pointer;
	margin: -5px -5px -5px -3px;
	position: relative;
	top: 2px;
}

@media @mobile {
	.subscriptions {
		.btn {
			width: 100%;
			height: 50px;
			margin: 0;
		}

        .subscription-title-link {
            text-decoration: none;
        }
	}

	.input-group {
		display: block;

		.discount-code-input,
		.has-error {
			display: block;
			margin-bottom: 15px;
		}
	}

	.subscriptions-subtotal-items {
		width: 100%;
		display: table;
		margin: 20px 0;
	}

	.subscriptions-subtotal-item {
		font-weight: 600;
	}

	.subscriptions-subtotal-value {
		text-align: right;
	}
}

@media @tablet {
	.subscriptions {
		margin: 15px 0;

		.link {
			text-decoration: underline;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}

		.btn {
			min-width: 135px;
			height: 38px;
			padding: 0 40px;
			font-size: 14px !important;
			font-weight: 400;
		}
	}

	.subscriptions-title {
		margin-bottom: 9px;
		padding: 0;
		background: transparent;
		.clearfix();

		.title {
			float: left;
			margin: 2px 0 0;
			font-size: 22px;
			font-weight: 600;
		}

		.subscriptions-action-buttons {
			display: block;
			float: right;
			text-align: right;
		}
	}

	.subscriptions-container {
		display: table;
		width: 100%;
		padding-bottom: 20px;
	}

	.subscriptions-header {
		padding: 0;
		display: table-header-group;
		background: transparent;

		.subscriptions-header-item {
			width: 10%;
			padding: 8px 10px;
			display: table-cell;
			background: #e6e7e8;
			font-weight: 600;

			&.item-item {
				width: 60%;
				padding-left: 18px;
				display: table-cell;
			}

			&.item-action {
				padding-right: 18px;
			}
		}
	}

	.subscriptions-content {
		margin-bottom: 35px;
		display: table-row-group;
		background: #f7f7f7;
	}

	.subscriptions-action-buttons {
		.btn,
		.link {
			margin-left: 14px;
			display: inline-block;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.subscription {
		display: table-row;

		.subscription-price-name {
			display: none;
		}
	}

	.promo {
		padding-top: 20px;
	}

	.subscription-info,
	.subscription-price-item {
		border: 0;
		display: table-cell;
	}

	.subscription-info {
		width: 60%;
		padding: 26px 10px 30px 18px;
		background: transparent;
	}

	.subscription-title {
		margin-bottom: 4px;
		font-size: inherit;
	}

	.subscription-description {
		font-size: 13px;
		line-height: inherit;
	}

	.subscription-price-item {
		width: 10%;
		margin: 0;
		padding: 26px 0;
		font-size: inherit;
		line-height: inherit;

		&.item-total,
		&.item-action {
			display: table-cell;
		}

		&.item-action {
			&.item-action-mobile {
				display: none;
			}

			.subscription-price-value {
				padding-right: 18px;
			}
		}
	}

	.subscription-price-name,
	.subscription-price-value {
		display: block;
	}

	.subscription-price-name {
		padding: 30px 10px;
		background: #e6e7e8;
		font-weight: 600;
	}

	.subscription-price-value {
		padding: 0 10px;

		.discount-price {
			display: block;
		}
	}

	.subscriptions-footer {
		display: table;
		width: 100%;

		.discount-code,
		.subscriptions-subtotal {
			margin-bottom: 15px;
			display: table-cell;
		}

		.discount-code {
			width: 55%;
			vertical-align: top;
		}

		.discount-code-title,
		.discount-code-form {
			max-width: 455px;
		}

		.subscriptions-subtotal {
			width: 45%;
			vertical-align: bottom;
		}
	}

	.discount-code {
		.input-group-btn {
			.button {
				margin-left: 18px;
			}
		}

		& + .subscriptions-subtotal {
			padding-left: 20px;
		}
	}

	.discount-code-mobile {
		display: none;
	}

	.subscriptions-subtotal {
		padding: 0;
		font-size: inherit;
		text-align: right;

		.btn {
			width: inherit;
			height: 38px;
		}
	}

	.subscriptions-subtotal-item {
		&.item-total {
			.subscriptions-subtotal-name,
			.subscriptions-subtotal-value {
				padding-top: 20px;
				font-weight: 600;
			}
		}
	}

	.subscriptions-subtotal-value {
		min-width: 100px;
		padding-left: 25px;
		font-weight: inherit;
	}
}

