@import "../../../../shared/less/generatedVariables.less";
@import "../../../../shared/less/variableMapping.less";

@mobile: ~"(max-width: 640px)";
@tablet: ~"(min-width: 641px)";

@font-path: "../fonts";

@font-size-base: 13px;
@font-family-base: 'Source Sans Pro';
@bg-light-gray: #f7f7f7;
@border-color-gray: #e5e5e5;