.table-layout {
    margin-bottom: 25px;
    display: table;
    width: 100%;
    table-layout: initial;
}

.wpg-payment,
.wpg-subscriptions {
    display: table-cell;
    vertical-align: top;
}

.wpg-payment {
    width: 420px;
    padding-left: 20px;
    padding-top: 32px;

    iframe {
        width: 100%;
    }
}

#wpg-session-timeout,
#wpg-termsAndConditions {
    text-align: center;
    font-weight: 600;
}

#wpg-termsAndConditions {
    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

#wpg-iframe {
    & + #wpg-termsAndConditions {
        padding-top: 0;
    }
}

#wpg-iframe {
    text-align: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

@media @tablet {
    #wpg-session-timeout,
    #wpg-termsAndConditions {
        margin: 0 20px 0 10px;
    }

    #wpg-iframe {
        margin-top: -9px;
    }
}

@media @mobile {
    .table-layout,
    .wpg-payment,
    .wpg-subscriptions {
        display: block;
    }

	.wpg-subscriptions {
		.subscriptions-subtotal {
			padding-bottom: 0px;
		}
	}

    .wpg-payment {
        width: 100%;
        padding: 0;

        iframe {
            width: 400px;
        }
    }


    #wpg-session-timeout,
    #wpg-termsAndConditions {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 20px;
    }

    #wpg-session-timeout {
        margin: 0 0 25px 0;
    }
}