block bestValueOutThere
    div(class="best-value")
        div(class="container")
            div(class="row")
                div(class="col-md-6 col-sm-12 col-xs-12")
                    div(class="image-gallery")
                        div(class="slider")
                            div(id="sync1", class="owl-carousel")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/cpa-slides-a.jpg")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/cpa-slides-c.jpg")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/cpa-slides-d.jpg")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/cpa-slides-e.jpg")
                            div(id="sync2", class="owl-carousel")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/cpa-slides-a.jpg")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/cpa-slides-c.jpg")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/cpa-slides-d.jpg")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/cpa-slides-e.jpg")
                div(class="col-md-6 col-sm-12 col-xs-12")
                    h4
                        | The Best Value <br>
                        | Out There
                    p
                        | CPA Exam review courses are a big investment. With Wiley CPAexcel, you get the best value for your dollar.
                        | Our CPA prep course costs just a fraction of the leading competitor’s.
                    p
                        a(hre="#", title="") Compare &nbsp
                        | our CPA Review Course bundles