block bestBrightestProfessors
    div(class="best-bright-profess")
        div(class="container")
            div(class="row")
                div(class="col-md-6 col-sm-6 col-xs-12")
                    div(class="row")
                        div(class="col-md-3 col-sm-3 col-xs-3")
                            img(class="img-responsive pull-right", src="responsive/theme-blue/images/icon-stopwatch.png", width="70", height="80", alt="")
                        div(class="col-md-9 col-sm-9 col-xs-9")
                            p(class="sum")
                                | 12,000+
                            p
                                | CPA Exam Questions
                div(class="col-md-6 col-sm-6 col-xs-12")
                    div(class="row")
                        div(class="col-md-6 col-sm-5 col-xs-3")
                            img(class="img-responsive pull-right", src="responsive/theme-blue/images/icon-video.png", width="66", height="66", alt="")
                        div(class="col-md-6 col-sm-7 col-xs-9")
                            p(class="sum")
                                | 600+
                            p
                                | Task Based Simulations
            div(class="row")
                div(class="col-md-6 col-sm-6 col-xs-12")
                    div(class="row")
                        div(class="col-md-5 col-sm-4 col-xs-3")
                            img(class="img-responsive pull-right",src="responsive/theme-blue/images/profess-icon.png", width="109", height="154", alt="")
                        div(class="col-md-7 col-sm-8 col-xs-9")
                            h2
                                | Best &amp;
                                br
                                | Brightest
                                br
                                | Professors
                div(class="col-md-6 col-sm-6 col-xs-12")
                    p
                        | From Pam Smith, KPMG Professor of Accountancy, to Don Tidrick, Deloitte Professor of Accountancy,
                        | both from University of Northern Illinois, our professors are the most revered and recognized names
                        | in accounting education. You have access to them all via video lectures, online mentoring and virtual classes.
                    p(class="signature")
                        a(href="#", title="")
                            | See full list of CPA professors