div(class="courses-block")
    div(class="container")
        div(class="row")
            div(class="col-md-12")
                h2
                    |3 Great CPA Review Course Bundles to Choose From
                table(class="courses-table")
                    thead
                        tr
                            th
                                a(href="http://www.efficientlearning.com/wileycpaexcel/why-cpaexcel/need-more-reasons/")
                                    |Product Components
                            th(class="most-popular")
                                a(href="http://www.efficientlearning.com/wileycpaexcel/cpa-products/platinum-cpa-review-course/")
                                    h3
                                        |Platinum CPA
                                        br
                                        |Review Course
                            th
                                a(href="http://www.efficientlearning.com/wileycpaexcel/cpa-products/video-gold-medal-course/")
                                    h3
                                        |Gold CPA
                                        br
                                        |Review Course
                            th
                                a( href="http://www.efficientlearning.com/wileycpaexcel/cpa-products/silver-cpa-review-course/")
                                    h3
                                        |Silver CPA
                                        br
                                        |Review Course
                    tbody
                        tr
                            td
                                |Efficient Learning System with Bite-Sized Lessons
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                        tr
                            td
                                |2,600+ Pages Study Text (Digital)
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                        tr
                            td
                                |7,500+ AICPA Past Exam Questions
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                        tr
                            td
                                |110+ Hours Video Lectures + Slides
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                        tr
                            td
                                |4,200+ Flash Cards (Digital)
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                        tr
                            td
                                |450+ Task-Based Simulations
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                        tr
                            td
                                |Simulated CPA Exams in Exam-Identical Interface
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                        tr
                            td
                                |Exam Planner
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                        tr
                            td
                                |Course Outlines (Print or Ebook)
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                        tr
                            td
                                |32 GB Flash Drive for Offline Access
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                        tr
                            td
                                |Free Content and Software Updates
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                        tr
                            td
                                |Free Shipping
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                        tr
                            td
                                |Professor Mentoring
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                        tr
                            td
                                |Bonus 4,400 MCQ's and 148 Sims (CPA Test Bank)
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                            td
                        tr
                            td
                                |Virtual Classes
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                            td
                        tr
                            td
                                |Focus Notes (Print or Ebook)
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                            td
                        tr
                            td
                                |Flash Cards (Print)
                            td
                                span(class="glyphicon glyphicon-ok")
                            td
                            td
                    tfoot
                        tr
                            td
                                |Price
                            td
                                a(href="http://www.efficientlearning.com/wileycpaexcel/cpa-products/platinum-cpa-review-course/")
                                    |$2295
                            td
                                a(href="http://www.efficientlearning.com/wileycpaexcel/cpa-products/video-gold-medal-course/")
                                    |$1800
                            td
                                a(href="http://www.efficientlearning.com/wileycpaexcel/cpa-products/silver-cpa-review-course/")
                                    |$1590