div(class="how-it-works")
    img(class="img-block" src="responsive/theme-blue/images/belicia-crop.jpg", alt="")
    div(class="how-it-works-content")
        div(class="learn-more")
            p Belicia Cespedes,&nbsp;CPA<br>Passed with Wiley CPAexcel<br>
                a(href="http://blog.efficientlearning.com/uncategorized/17-year-old-passed-cpa-exam", target="_blank") Check out Belicia`s story
        div(class="video-content")
            div(class="wrapper")
                h1 CPA Exam Review for Your Busy Schedule
                h2 Wiley CPAexcel gives you everything you need to prep for the CPA Exam without having to give up your life.
                img(class="video-thumb"
                    src="responsive/theme-blue/images/video-promo.jpg",
                    data-vidsrc="https://www.youtube.com/embed/bIOtN09lWK4?modestbranding=1&amp;rel=0")
                p
                    |View our most popular
                    a(href="http://www.efficientlearning.com/wileycpaexcel/cpa-products/platinum-cpa-review-course/") CPA review course bundle
                    |, now featuring 12,000 past CPA Exam practice questions.