div(class="partners")
    div(class="container")
        div(class="row")
            ul(class="partners-list list-inline")
                li
                    img(src="responsive/theme-blue/images/UTDALLAS.jpg", alt="", width="227", height="85")
                li
                    img(src="responsive/theme-blue/images/CHINESE.jpg", alt="", width="98", height="109")
                li
                    img(src="responsive/theme-blue/images/W.jpg", alt="", width="84", height="85")
                li
                    img(src="responsive/theme-blue/images/NOBA.jpg", alt="", width="105", height="94")
                li
                    img(src="responsive/theme-blue/images/LAU.jpg", alt="", width="156", height="110")
                li
                    img(src="responsive/theme-blue/images/UNIC.jpg", alt="", width="76", height="76")