block passWithUs
	div(class="pass-with-us")
		div(class="container")
			div(class="bg-image")
				img(src="responsive/theme-blue/images/desk-new.jpg")
			div(class="content col-xs-8 col-sm-5")
				h1(class="title")
					| Faster, More
					br
					| Effective Test Prep

				div(class="description")
					p
						| With Wiley CPAexcel, you'll learn
						br
						| faster and more per study hour. We
						br
						| break your CPA study material down
						br
						| into bite-sized lessons. Master an
						br
						| entire lesson in just thirty minutes!
					p
						strong
							a(title="Why CPAexcel?", href="#") 5 reasons
							|  you will pass with us