block startFreeTrial
    div(class="start-free-trial")
        form
            input(class="email-field", name="email", type="email", value="", tabindex="100", placeholder="Enter Your Email")
            input(class="button button-submit", type="submit", value="Start Free Trial", tabindex="101")
            h1(class="learn-more")
                | Or
                = " "
                a(href="http://www.efficientlearning.com/wileycpaexcel/cpa-products/") learn more
                |  about Wiley CPAexcel


