div(class="story")
    div(class="container")
        div(class="row")
            div(class="col-md-12")
                h2
                    | Why People Love Wiley CPAexcel
        div(class="row")
            div(class="col-md-6")
                div(class="avatar", style="background-image: url(http://www.efficientlearning.com/wileycpaexcel/wp-content/uploads/sites/2/2015/08/35.jpg)")
                div(class="content")
                    p(class="description")
                        |The CPAexcel comprehensive study materials are truly exceptional. Being able to listen to the video lectures and having access to the professor mentoring made the learning process a little more interactive and effective.
                    p(class="by")
                        |Merike Henneman, Arlington VA
            div(class="col-md-6")
                div(class="avatar", style="background-image: url(http://www.efficientlearning.com/wileycpaexcel/wp-content/uploads/sites/2/2015/08/37.jpg)")
                div(class="content")
                    p(class="description")
                        | CPAexcel’s Bite Sized Lessons meant every minute of studying was spent learning the material, not distracted in a classroom setting.
                    p(class="by")
                        | Max Duncan, Charlottesville, VA
        div(class="row")
            div(class="col-md-12")
                a(class="read-more pull-right", href="http://www.efficientlearning.com/wileycpaexcel/why-cpaexcel/success-stories/")
                    | Read more success stories