block unrivaledCpaexcelExperience
    div(class="unrivaled-expers")
        div(class="container")
            div(class="row")
                h2
                    | The Unrivaled Wiley CPAexcel Experience
            div(class="row")
                div(class="col-md-6 col-sm-6 col-xs-12")
                    div(class="row")
                        div(class="col-md-4 col-sm-4 col-xs-3")
                            img(class="img-responsive",src="responsive/theme-blue/images/our-pass-gurantee.png", width="120", height="121", alt="")
                        div(class="col-md-8 col-sm-8 col-xs-9")
                            p
                                | We Don't Charge You Extra If You Don't Pass.
                    div(class="row")
                        div(class="col-md-4 col-sm-4 col-xs-3")
                            img(class="img-responsive",src="responsive/theme-blue/images/throphy.png", width="120", height="118", alt="")
                        div(class="col-md-8 col-sm-8 col-xs-9")
                            p
                                | Personalized Study Plans That Fit Your Schedule.
                    div(class="row")
                        div(class="col-md-4 col-sm-4 col-xs-3")
                            img(class="img-responsive",src="responsive/theme-blue/images/interactive.png", width="120", height="118", alt="")
                        div(class="col-md-8 col-sm-8 col-xs-9")
                            p
                                | Interactive Online Platform To Monitor Progress.
                div(class="col-md-6 col-sm-6 col-xs-12")
                    div(class="row")
                        div(class="col-md-4 col-sm-4 col-xs-3")
                            img(class="img-responsive",src="responsive/theme-blue/images/9-out-of-10.png", width="120", height="121", alt="")
                        div(class="col-md-8 col-sm-8 col-xs-9")
                            p
                                | Proven Pass Rates. Isn't That All That Matters?
                    div(class="row")
                        div(class="col-md-4 col-sm-4 col-xs-3")
                            img(class="img-responsive",src="responsive/theme-blue/images/grad.png", width="120", height="118", alt="")
                        div(class="col-md-8 col-sm-8 col-xs-9")
                            p
                                | Student Scholarship Programs & Discounts.
                    div(class="row")
                        div(class="col-md-4 col-sm-4 col-xs-3")
                            img(class="img-responsive",src="responsive/theme-blue/images/international.png", width="120", height="118", alt="")
                        div(class="col-md-8 col-sm-8 col-xs-9")
                            p
                                | Free CPA Exam Eligibility Advice for International Candidates