block untilYouPass
	div(class="until-you-pass")
		div(class="container")
			div(class="row")
				div(class="col-md-6 text-center")
					img(src="http://www.efficientlearning.com/wileycpaexcel/wp-content/uploads/sites/2/2015/02/CPA-Gold-Slide.png", alt="", width="687", height="413")
				div(class="col-md-6")
					h1 With You Until You Pass
					p
						|The CPA Exam is a tough test. That’s why&nbsp;we’re with you until you pass with&nbsp;
						|unlimited course repeats, updates and&nbsp;upgrades—at no extra cost!</p>
					div(class="text-right")
						a(href="#")
							|&nbsp;See Pass Guarantee details