p
	| These Terms of Use shall be governed by and construed in accordance with the laws of the State of New York, without regard to such State’s conflict of law rules. You expressly agree that the exclusive jurisdiction for any claim or action arising out of or relating to these Terms of Use or your use of this website shall be filed only in the state or federal courts located in the State of New York, and you further agree and submit to the exercise of personal jurisdiction of such courts for the purpose of litigating any such claim or action.
