p
	| Upon a request by us, you agree to defend, indemnify, and hold harmless John Wiley and Sons, Inc. and its subsidiary and other affiliated companies, and their employees, contractors, officers, and directors from all liabilities, claims, and expenses, including attorney’s fees, that arise from your use or misuse of this website.