p
	| If you believe that your work has been copied and is accessible on this site in a way that constitutes copyright infringement, you may notify SVP & General Counsel, John Wiley & Sons, Inc., 111 River Street, Hoboken, NJ 07030, by providing the following information:

ul(style="list-style-type:circle")
	li
		| the signature of the owner of the copyright or the person authorized to act on the owner’s behalf.
	li
		| a description of the copyrighted work that you claim has been infringed and a description of the infringing activity.
	li
		| identification of the specific location on this website where the material that you claim is infringing is located.
	li
		| your name, address, telephone number, and email address.
	li
		| a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.
	li
		| a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or are authorized to act on the copyright owner’s behalf.
