div
	| Trademark Guidelines
p
	| You may use Wiley’s trademarks (the "Trademarks") to reference its products and services, so long as the Trademarks are used properly. Use of the Trademarks not in accordance with these guidelines or of marks that are confusingly similar to the Trademarks may constitute an infringement of Wiley’s rights. Although specific permission is not required for referential use, Wiley does request that you use the Trademarks correctly and refer to them properly. Proper reference includes marking them with the appropriate trademark symbol (® or ™). You should refer to the full trademark(s) completely at the first and most prominent reference.

p
	| The appropriate trademark symbol must be used when making reference to any Trademark. Following is a listing of the Trademarks and its appropriate trademark symbol :

p
	| All digital and print materials in which Trademarks are referenced must include the following attribution statement:

p
	| (Trademark) is a trademark or registered trademark of John Wiley & Sons, Inc.

p
	| You may NOT:

ul(style="list-style-type:circle")
	li
		| incorporate or use the Trademarks into or as part of your product or company marks or names;
	li
		| use the Trademarks in a manner likely to cause confusion as to the source of goods or services or which may indicate sponsorship, affiliation or an endorsement;
	li
		| incorporate the Trademarks or any derivation thereof in an internet domain name;
	li
		| use the Trademarks to identify products or services that do not belong to Wiley; or
	li
		| use Wiley’s logos, logotypes or designs without prior written permission from Wiley.

p
	| Trademarks are adjectives that describe a specific person, place or thing. Because a trademark is an adjective, it is used with the noun that it modifies.

p
	| Never use trademarks in the possessive or plural form.

p
	| Copyright

p
	| This Web site and any Wiley publications and material which may be accessed from it are protected by copyright. Nothing on this Web site or in the Wiley publications and material may be downloaded, reproduced, stored in a retrieval system, modified, made available on a network, used to create derivative works, or transmitted in any form or by any means, electronic, mechanical, photocopying, recording, scanning, or otherwise, except in the United States, as permitted under Section 107 or 108 of the 1976 United States Copyright Act, or internationally, as permitted by other applicable national copyright laws, or (ii) as expressly authorized on this Web site, or (iii) that a reasonable amount of material may be cached and stored by search engines indexing this Web site, or (iv) with the prior written permission of Wiley. Requests to the Publisher for permission should be addressed to the Rights & Permissions Department, John Wiley & Sons, Inc., 111 River Street, MS 4-02, Hoboken, New Jersey, 07030-5774, USA or email PermissionsUS@wiley.com. The licenses set forth in (ii) and (iii) above may be revoked by Wiley on notice.
