.main-navigation-container {
	background-color: black;
}
.main-navigation-menu {
	background-color: yellow;
}

.main-header-container::before {
	background: black none repeat scroll 0 0;
}

.navigation-link-item:first-child a {
	color:yellow;
}

.navigation-menu-items a {
	color:black;
}

.main-footer-container {
    background: black none repeat scroll 0 0;
}

.main-footer-container > .container {
    color:yellow;
}

.main-footer-container > .container a {
    color:yellow;
}

.navigation-links-items a {
	color:yellow;
}

.navigation-link-item.welcome-link{
	color:yellow;
}