
.product-details{
	margin-bottom: 15px;
	.name{
		font-size: 29px;
		line-height: 35px;
		font-weight: 300;
		.sku{
			font-size: 14px;
			color: #303030;
			font-weight: 400;
			padding-left: 10px;
		}
	}

	.description{
		padding: (@grid-gutter-width/2) 0;
	}

	.price{
		color: #000;
		font-size: 24px;
	}

	.stock-status{
		font-weight: 300;
	}
}



.variant-section{
	padding: (@grid-gutter-width/2);
	margin: (@grid-gutter-width/2) 0;
	background: @grayblue;


	.variant-selector{
		padding: (@grid-gutter-width/2) 0;

		.variant-name{
			text-transform: uppercase;
			font-weight: bold;
			.variant-selected{
				font-weight: normal;
				text-transform: none;
			}
		}

		.variant-list{
			.list-unstyled;
			.clearfix;
			margin: 0 -(@grid-gutter-width/2);

			li{
				float: left;
				margin: (@grid-gutter-width/2) 0 0 (@grid-gutter-width/2);
				a,span{
					display: block;
					height: @input-height-base;
					width: @input-height-base;
					line-height: @input-height-base;
					text-align: center;
					text-transform: uppercase;
					border:1px solid  #e1e1e1;
					background: #fff;
					color: @text-color;
					text-decoration: none;

					@media (max-width: @screen-sm-max) {
						height: @input-height-large;
						width: @input-height-large;
						line-height: @input-height-large;
					}


					img{
						width: 100%;
						height: auto;
						vertical-align: top;
						border:1px solid transparent;
					}
				}



				&:hover a,
				&.active a{
					background: @brand-primary;
					.box-shadow(~"inset 0 0  0 1px #fff");
					border:1px solid @brand-primary;
					color: #fff;


					img{
						border:1px solid #fff;
					}
				}


				&.disabled{
					span{
						color:#999;
						cursor: not-allowed;
					}
				}
			}
		}
		.variant-select{
			margin: (@grid-gutter-width/2) 0 0;
		}
	}
}





.rating{
	.clearfix;

	.rating-stars{
		float: left;
		margin: 0 5px 0 0;
		padding: 3px 0 1px;
		letter-spacing:50px;

		@media (max-width: @screen-sm-max) {
			font-size: @font-size-large;
			float: none;
			.clearfix;
		}

		span{
			color: #dee3e8;
			overflow: hidden;
			position: static;
			width: 1em;
			height: 1em;
			display: block;
			float: left;
			margin: 0 0.1em;


			&.fh{
				width: 0.5em;
				margin-right: 0;
			}

			&.lh{
				width: 0.5em;
				text-indent: -0.5em;
				margin-left: 0;
			}

			&.active{
				color: @brand-primary;
			}
		}
	}

	&.rating-set{
		.rating-stars{
			cursor: pointer;
		}
	}


	a{
		margin-left: 10px;
	}

}







.tabs-responsive{
	@media (max-width: @screen-sm-max) {
		.tabhead{
			border-bottom: 1px solid @grayblue;

		}

	}
}

.tab-review{
	.review-pagination-bar{
		margin: (@grid-gutter-width/2) 0;
		.clearfix;
		.right{
			float: right;
			.pager{
				float: left;
				margin: 0 (@grid-gutter-width/2);
			}

		}
	}


	.review-list{
		.list-unstyled;
		.review-entry{
			margin: (@grid-gutter-width/2) 0;

			.title{
				font-weight:bold;
			}

			.content{

			}

			.autor{

				color:@gray-light;

			}

			.date{

			}

		}
	}


	.write-review{
		display: none;
	}
}












#AddToCart-PickUpInStoreAction{
	.make-sm-column(6);
	.make-md-column(12);
	margin-top: 20px;
}
.AddToCart-PickUpInStoreAction{
    margin-top: @grid-gutter-width;
}


#AddToCart-AddToCartAction{
	.make-sm-column(6);
	.make-md-column(12);
	padding: 0;
}


#AddToCart-ShareOnSocialNetworkAction{
	.make-xs-column(12);
	margin-top: 30px;
}

.addtocart-component {
    div.a2a_kit a.a2a_dd.share {
        background: url("../../common/images/productShareIcon.png") no-repeat left center;
        padding-left: 25px;
        .a2a_img {
            display: none;
        }
    }
}
