/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.owl-carousel {
	-webkit-tap-highlight-color: transparent;
	position: relative;
	display: none;
	width: 100%;
	z-index: 1;
	&.hero-banner-carousel {
 		.owl-nav.disabled {
 				display: none;
 		}
 }
	.owl-item {
		-webkit-tap-highlight-color: transparent;
		position: relative;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-touch-callout: none;
		img {
			display: block;
			width: auto;
			margin: 0;
		}
		.owl-lazy {
			opacity: 0;
			transition: opacity .4s ease;
		}
		img.owl-lazy {
			transform-style: preserve-3d;
		}
	}
	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;
		-moz-backface-visibility: hidden;
		&:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}
	}
	.owl-stage-outer {
		position: relative;
		overflow: hidden;
		-webkit-transform: translate3d(0, 0, 0);
	}
	.owl-wrapper {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
	}
	.owl-dots {
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		&.disabled {
			display: none;
		}
	}

	.owl-nav.disabled {
		display: none;
	}
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 26px;
		height: 26px;
		padding: 3px 3px;
		display: inline-block;
		span{
			width: 9px;
			display: block;
			height: 9px;
			border-radius: 50%;
			background: rgba(27, 167, 177, 0.2);
		}
		&.active{
			span{
				background: #1ba7b1;
			}
		}
	}
	.owl-nav {
		.owl-next {
			cursor: pointer;
			cursor: hand;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.owl-prev {
			cursor: pointer;
			cursor: hand;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
	.animated {
		animation-duration: 1s;
		animation-fill-mode: both;
	}
	.owl-animated-in {
		z-index: 0;
	}
	.owl-animated-out {
		z-index: 1;
	}
	.fadeOut {
		animation-name: fadeOut;
	}
	.owl-video-wrapper {
		position: relative;
		height: 100%;
		background: #000;
	}
	.owl-video-play-icon {
		position: absolute;
		height: 80px;
		width: 80px;
		left: 50%;
		top: 50%;
		margin-left: -40px;
		margin-top: -40px;
		cursor: pointer;
		z-index: 1;
		-webkit-backface-visibility: hidden;
		transition: transform .1s ease;
		&:hover {
			-ms-transform: scale(1.3, 1.3);
			transform: scale(1.3, 1.3);
		}
	}
	.owl-video-playing {
		.owl-video-play-icon {
			display: none;
		}
		.owl-video-tn {
			display: none;
		}
	}
	.owl-video-tn {
		opacity: 0;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		transition: opacity .4s ease;
	}
	.owl-video-frame {
		position: relative;
		z-index: 1;
		height: 100%;
		width: 100%;
	}
}

.no-js {
	.owl-carousel {
		display: block;
	}
}

.owl-carousel.owl-loaded {
	display: block;
}

.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}

.owl-carousel.owl-hidden {
	opacity: 0;
}

.owl-carousel.owl-refresh {
	.owl-item {
		visibility: hidden;
	}
}

.owl-carousel.owl-drag {
	.owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

.owl-carousel.owl-grab {
	cursor: move;
	cursor: grab;
}

.owl-carousel.owl-rtl {
	direction: rtl;
	.owl-item {
		float: right;
	}
}

.owl-height {
	transition: height .5s ease-in-out;
}
