<%@ tag body-content="scriptless" trimDirectiveWhitespaces="true"%>
<%@ attribute name="pageTitle" required="false" rtexprvalue="true"%>
<%@ attribute name="pageCss" required="false" fragment="true"%>
<%@ attribute name="pageScripts" required="false" fragment="true"%>
<%@ attribute name="hideHeaderLinks" required="false"%>
<%@ attribute name="containerCSSClass" required="false"%>
<%@ attribute name="mainCSSClass" required="false"%>
<%@ attribute name="hideHeader" required="false"%>
<%@ attribute name="hideCustomLinks" required="false"%>
<%@ attribute name="hideActivatePinLink" required="false"%>
<%@ attribute name="hideCartLink" required="false"%>
<%@ attribute name="hideLoginLink" required="false"%>
<%@ attribute name="showLoginLinkOnMobile" required="false"%>
<%@ attribute name="renderAntiClickJacking" required="false" type="java.lang.Boolean" %>

<%@ taglib prefix="template" tagdir="/WEB-INF/tags/responsive/template"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="header"
	tagdir="/WEB-INF/tags/responsive/common/header"%>
<%@ taglib prefix="footer"
	tagdir="/WEB-INF/tags/responsive/common/footer"%>
<%@ taglib prefix="common" tagdir="/WEB-INF/tags/responsive/common"%>
<%@ taglib prefix="cart" tagdir="/WEB-INF/tags/responsive/cart" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>

<c:if test="${empty containerCSSClass}"><c:set var="containerCSSClass" value="container" /></c:if>
<c:if test="${empty showLoginLinkOnMobile}"><c:set var="showLoginLinkOnMobile" value="true" /></c:if>
<template:master pageTitle="${pageTitle}" renderAntiClickJacking="${renderAntiClickJacking}">

	<jsp:attribute name="pageCss">
		<jsp:invoke fragment="pageCss" />
	</jsp:attribute>

	<jsp:attribute name="pageScripts">
		<jsp:invoke fragment="pageScripts" />
	</jsp:attribute>

	<jsp:body>
		<main class="${mainCSSClass}" data-currency-iso-code="${currentCurrency.isocode}">
			<spring:theme code="text.skipToContent" var="skipToContent" />
			<a href="#skip-to-content" class="skiptocontent" data-role="none">${skipToContent}</a>
			<spring:theme code="text.skipToNavigation" var="skipToNavigation" />
			<a href="#skiptonavigation" class="skiptonavigation" data-role="none">${skipToNavigation}</a>


            <c:if test="${!hideHeader}" >
			<header:header hideHeaderLinks="${hideHeaderLinks}" hideCustomLinks="${hideCustomLinks}" hideCartLink="${hideCartLink}"
				hideActivatePinLink="${hideActivatePinLink}" hideLoginLink="${hideLoginLink}" showLoginLinkOnMobile="${showLoginLinkOnMobile}"/>
            </c:if>
			<a id="skip-to-content"></a>

			<div class="${containerCSSClass}">
				<common:globalMessages />
				<cart:cartRestoration />
				<jsp:doBody />
			</div>

			<footer:footer />
		</main>

	</jsp:body>

</template:master>
