extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Manage Subscriptions";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "subscriptions-page";
	- var isPagination = true;

block left
	include my-account/my-account-nav
block right
	div(class="product-list product-list-subscriptions")
		- for (var x = 1; x < 4; x++)
			div(class="product-list-item")
				div(class="product-list-info")
					div(class="row")
						div(class="col-xs-12 col-sm-9")
							div(class="product-list-image")
								img(src="responsive/theme-blue/images/product-image.png", alt="product image", width="124", height="163")
							div(class="product-list-title")
								| 2014 FASB Update Intermediate Accounting, 15th Edition
							div(class="product-list-description")
								include my-account/subscription/product-description
						div(class="col-xs-12 col-sm-3")
							div(class="manage-button")
								button(class="button button-default")
									| Manage

	div(class="row product-listing-pagination")
		div(class="col-sm-12")
			include partials/pagination
