extends layouts/grid-two-column-7-4
block vars
	- var pageTitle = "Secure Checkout";
	- var headTitleText = "b2c - Order Review";
	- var containerCSSClass = "order-review-page";
	- var pageTitleCSSClass = "icon-lock";

block left
	+checkoutAccordion(4)
		div(class="order-summary-section")
			div(class="order-summary-details")
				div(class="order-summary-title") Order Total
				div(class="order-summary-items")
					div(class="order-summary-item")
						span(class="summary-name") Subtotal:
						span(class="summary-value") <$##.##>
					div(class="order-summary-item")
						span(class="summary-name") Delivery:
						span(class="summary-value") <$##.##>
					div(class="order-summary-item")
						span(class="summary-name") Estimated Tax:
						span(class="summary-value") <$##.##>

			div(class="order-summary-promotion")
				span(class="promotion-text") I have a promotion code
				div(class="promotion-field")
					div(class="input-group")
						input(type="text", class="input form-control")
						span(class="input-group-btn")
							button(type="button", class="button button-default") Apply

			div(class="order-summary-total")
				div(class="order-summary-items")
					div(class="order-summary-item")
						span(class="summary-name") Total:
						span(class="summary-value") $312.96

			div(class="order-summary-additional")
				div(class="text") By placing the order, I am confirming that I've read and agree with the
					= " "
					a(href="#") Terms & Conditions

			div(class="order-summary-buttons")
				button(class="button button-primary") Place Order

block right
	div(class="order-summary-section order-summary-detailed")
		div(class="order-summary-address")
			div(class="title") Ship to:
			div(class="text")
				p Mr. Issac Gerber
				p 1111 River Street
				p Hoboken, NJ 07030-5774

		div(class="product-list")
			- for (var x = 1; x < 4; x++)
				div(class="product-list-item")
					div(class="row product-list-info")
						div(class="col-xs-9 col-sm-9")
							div(class="product-list-image")
								img(src="responsive/theme-blue/images/product-image.png", alt="product image", width="60", height="80")

							div(class="product-list-title")
								| 2014 FASB Update Intermediate Accounting, 15th Edition
							div(class="product-list-description")
								div(class="product-list-qty") Qty: 1
								div(class="product-list-status") Availability: In Stock
						div(class="col-xs-3 col-sm-3")
							div(class="product-item-price") $114.12

		div(class="order-summary-payment")
			div(class="title") Payment:
			div(class="text")
				p &lt;Payment Type&gt; ****####
				p &lt;Payment Type&gt; ****####

		div(class="order-summary-details")
			div(class="order-summary-title") Order Total
			div(class="order-summary-items")
				div(class="order-summary-item")
					span(class="summary-name") Subtotal:
					span(class="summary-value") $312.96
				div(class="order-summary-item")
					span(class="summary-name") Delivery:
					span(class="summary-value") <$##.##>
				div(class="order-summary-item")
					span(class="summary-name") Estimated Tax:
					span(class="summary-value") <$##.##>
			div(class="order-total-message") Your order includes $33.46 tax.

		div(class="order-summary-promotion")
			div(class="promotion-field")
				div(class="input-group")
					input(type="text", class="input form-control")
					span(class="input-group-btn")
						button(type="button", class="button button-default") Apply

		div(class="order-summary-total")
			div(class="order-summary-items")
				div(class="order-summary-item")
					span(class="summary-name") Total:
					span(class="summary-value") $312.96

		div(class="order-summary-buttons")
			button(class="button button-primary") Check Out