extends layouts/grid-two-column-7-4
block vars
	- var pageTitle = "Shopping Cart";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "shopping-cart-page";

block left
	div(class="order-summary-section order-summary-mobile")
		div(class="order-summary-info")
			span(class="text") Cart (3 items) $312.96
			span(class="help")

		div(class="order-summary-buttons")
			button(class="button button-primary") Proceed to Checkout
			button(class="button button-icon icon-paypal") Checkout with
			button(class="button button-link") Continue Shopping

	div(class="product-list product-list-cart")
		- for (var x = 1; x < 4; x++)
			div(class="product-list-item")
				div(class="product-list-image")
					img(src="responsive/theme-blue/images/product-image.png", alt="product image", width="124", height="163")

				div(class="row product-list-info")
					div(class="col-xs-10 col-sm-9")
						div(class="product-list-title")
							| 2014 FASB Update Intermediate Accounting, 15th Edition
						div(class="product-list-description")
							div(class="product-list-author") Donald E. Kieso, Jerry J. Weygandt, Terry D. Warfield
							div(class="product-list-date") August 2014, &copy;2014
							div(class="product-list-status") Availability: In Stock
					div(class="col-xs-2 col-sm-3")
						div(class="product-item-buttons")
							button(class="button button-remove")

					div(class="product-item-price")
						div(class="col-xs-12 col-sm-5")
							div(class="item-price") Item Price: $114.12
						div(class="col-xs-12 col-sm-4")
							div(class="item-qty")
								| Qty:
								input(class="item-qty-input", type="text", value="1")
						div(class="col-xs-12 col-sm-3")
							div(class="item-total-price") $114.12

	div(class="product-list-buttons")
		button(class="button") Continue Shopping

block right
	include partials/order-summary-section