.button {
	display: inline-block;
	margin-bottom: 0; // For input.button
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid transparent;
	.user-select(none);

	&,
	&:active,
	&.active {
		&:focus {
			.tab-focus();
		}
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:active,
	&.active {
		.box-shadow(none);
	}

	&.disabled,
	&[disabled] {
		cursor: not-allowed;
		pointer-events: none; // Future-proof disabling of clicks
		.opacity(100);
		.box-shadow(none);
		background-color: @color-light-gray;
		color: @color-mid-gray;
	}
}

/* buttons according style guide */
.button {
	margin: 0;
	padding: 0 40px;
	font-family: 'Open Sans Reg';

	&.large {
		min-height: 50px;
		font-size: 16px;
	}

	&.medium {
		min-height: 40px;
		font-size: 16px;
	}

	&.small {
		min-height: 30px;
		font-size: 12px;
	}

	&.icon-paypal {
		padding: 0;
		background-color: @color-white;

		&:hover,
		&:focus {
			background-color: @color-white;
		}

		&:after {
			display: inline-block;
			content: '';
			width: 118px;
			height: 30px;
			margin-left: 5px;
			background-image: url('../images/paypal.png');
			background-repeat: no-repeat;
			vertical-align: middle;
		}
	}

	&.disabled-paypal {
		font-size: 14px;
	}
}

a.button {

	&.large {
		line-height: 48px;
	}

	&.medium {
		line-height: 38px;
	}

	&.small {
		line-height: 28px;
	}
}

.button-main {
	color: @color-white;
	background-color: @color-dark-teal;

	&:hover,
	&:focus {
		background-color: @color-teal;
		color: @color-white;
	}
}

.button-secondary {
	color: @color-white;
	background-color: @color-lnk;

	&:hover,
	&:focus {
		background-color: @color-mid-gray;
		color: @color-white;
	}
}

.button-outlined {
	color: @color-dark-teal;
	border-color: @color-dark-teal;
	background-color: transparent;

	&:hover,
	&:focus {
		color: @color-lnk;
		border-color: @color-lnk;
		background-color: transparent;
	}
}

.button-remove {
	width: 30px;
	height: 30px;
	padding: 0;
	border: 1px solid #e7e4df;
	border-radius: 5px;
	background: #ffffff url('../images/trash.png') 50% 50% no-repeat;
}

.button-edit {
	width: 30px;
	height: 30px;
	padding: 0;
	border: 1px solid #e7e4df;
	border-radius: 5px;
	background: #ffffff url('../images/edit2.png') 50% 50% no-repeat;
}

@media @mobile {
	.button {
		width: 100%;
	}

	.button-remove {
		width: 22px;
		height: 22px;
		background-size: 8px;
	}

	.button-edit {
		height: 30px;
		width: 30px;
		background-size: auto auto;
	}
}
/* end buttons according style guide */

/* will be removed or edit after upgrading full styling */
.button-link {
	width: auto;
	height: auto;
	padding: 0;
	margin-bottom: 0;
	background: none;
	font-family: 'Roboto Slab Bold';
	font-size: 12px;
	color: @color-dark-teal;
}
/* will be removed or edit after upgrading full styling */

@media @tablet {
	.button {
		padding: 0 10px;

		&.large,
		&.medium {
			min-width: 140px;
			font-size: 14px;
		}
	}
}