@media @mobile {
	.checkout-shipping-information {
		.checkout-shipment-item:not(:last-child) {
			margin: 0 0 20px 0;
		}

		.checkout-shipment-list {
			.separate-border-bottom-custom-color(30px, 30px, #dcd7d0);
		}

		.checkout-shipping-address {
			margin-bottom: 30px;
		}
	}
}

@media @laptop {
	.checkout-shipping-information {
		.checkout-accordion-content-wrap:first-child {
			margin-top: -50px;
		}

		.checkout-shipment-list {
			.checkout-content-subtitle {
				padding-top: 25px;
				margin-bottom: 30px;
			}
		}

		.checkout-shipment-list {
			padding-bottom: 25px;
			margin-bottom: 25px;
		}

		.checkout-shipment-item {
			.row > div:last-child {
				text-align: right;
			}
		}

		.checkout-shipment-item:not(:last-child) {
			margin: 0 0 10px 0;
		}

		.checkout-shipping-address {
			.checkout-content-subtitle {
				margin-bottom: 30px;
			}

			.separate-border-bottom-custom-color(30px, 30px, #dcd7d0);
		}

		&.guest-checkout {
			.checkout-shipping-address {
				.separate-border-bottom-custom-color(0, 30px, #dcd7d0);
			}
		}
	}
}