.checkout-payment-billing-address {
	.button {
		width: 100%;

		&.disabled-paypal {
			font-size: 12px;
			padding: 0 10px;
		}
	}

	.order-summary-info-link a {
		color: @color-dark-teal;
	}

	.checkout-payment-credit-cards {
		text-align: center;
	}

	.shipping-address {
		padding: 0 0 0 32px;
		font-size: 12px;
	}

	.checkout-payment-buttons {
		img {
			max-width: 100%;
		}
	}
}

@media @mobile {
	.checkout-payment-billing-address {
		.checkout-payment-buttons {
			.icon-paypal,
			.disabled-paypal {
				margin-top: 15px;
			}
		}

		&.guest-checkout {
			.checkout-payment-buttons {
				.icon-paypal,
				.disabled-paypal {
					margin-top: 0px;
				}
			}
		}

		.shipping-address,
		.add-another-card {
			margin: 0 0 15px 0;
		}

		.order-summary-info-link {
			margin-bottom: 20px;
			font-size: 12px;
		}

		.checkout-payment-billing-address,
		.checkout-payment-buttons {
			.separate-border-bottom-custom-color(20px, 20px, #dcd7d0);
		}
	}
}

@media @laptop {
	.checkout-payment-billing-address {
		.site-form {
			margin-bottom: 20px;
		}

		.order-summary-info-link {
			text-align: center;
		}

		.add-another-card {
			margin-bottom: 10px;
		}

		.checkout-payment-billing-address,
		.checkout-payment-buttons {
			.separate-border-bottom-custom-color(30px, 30px, #dcd7d0);
		}
	}
}