.checkout-order-confirmation {
	.sub-title-block {
		text-align: center;
		margin-bottom: 25px;
		font-size: 12px;

		a {
			color: @color-teal;
		}

		h2 {
			font-family: 'Roboto Slab Bold';
			color: @color-black;
		}

		h2[class^="icon-"] {
			&:before {
				display: block;
				margin: 0 auto 30px;
			}
		}
	}

	.print-section {
		border: 1px solid #e6e6e6;
		padding: 10px 15px;
		font-family: 'Open Sans Bold';
		font-size: 12px;

		a[class^="icon-"] {
			display: block;

			&:before {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	.create-account-section {
		background: @color-super-light-gray;
		margin-bottom: 25px;
		padding: 15px 0 5px;

		.site-form {
			margin: 0 auto;

			.form-cell {
				&.heading {
					margin-bottom: 30px;
				}
			}
		}
	}

	.user-name {
		font-family: 'Roboto Slab Bold';
		color: @color-black;
	}

	.product-list-title a {
		color: @color-teal;
	}
}

@media @laptop {
	.checkout-order-confirmation {
		.sub-title-block {
			margin-top: 10px;

			h2 {
				font-size: 26px;
				margin-bottom: 20px;
			}
		}

		.print-section {
			width: 100px;

			a[class^="icon-"] {
				&:before {
					margin-right: 10px;
				}
			}
		}

		.site-form {
			width: 320px;
		}

		.product-item-price {
			text-align: right;
		}
	}
}

@media @mobile {
	.checkout-order-confirmation {
		.sub-title-block {
			margin-bottom: 50px;

			a {
				display: inline-block;
			}

			p {
				margin: 0 0 5px;
				padding: 0;
				
				& + p {
						a {
							display: block;
						}
				}
			}

			h2 {
				font-size: 20px;
				margin-bottom: 25px;
			}

			h2[class^="icon-"] {
				margin: 15px auto;

				&:before {
					margin-bottom: 25px;
				}
			}

		}

		.order-brief-section {
			display: block;
			position: relative;

			.order-total-section {
				margin-bottom: 20px;
			}

			.product-list-image {
				position: absolute;
			}

			.product-item-price {
				padding-left: 80px;
			}

			.order-promotion-code {
				display: none;
			}
		}

		.print-section {
			position: absolute;
			right: 0;
			top: -44px;
		}

		.site-form {
			max-width: 320px;
			padding: 0 10px;
		}

		.create-account-section {
			position: relative;
			margin: 0 -15px 25px;
			padding-bottom: 20px;

			.site-form {
				.form-cell {
					margin-bottom: 10px;

					&.heading {
						padding: 0 30px;
						margin-bottom: 15px;
					}
				}
			}
		}

		.print-section {
			right: 0;
		}

		.order-brief-top {
			margin: 0 -15px 0;
			padding: 20px 15px 10px;
			border-top: 1px solid #e6e6e6;

			.order-brief-top-item {
				margin-bottom: 10px;
			}
		}

		&.guest-checkout {
			.order-brief-section {
				.print-section {
					display: none;
				}

				.order-total-section {
					margin-bottom: 0;
				}
			}

			.order-brief-top {
				border-top: none;
				padding-top: 0;
			}
		}

		.product-list {
			padding: 20px 0 0;
			margin: 0 0 20px 0;
		}
	}
}