.support-message {
    margin-bottom: 20px;
    line-height: 18px;

    span {
		font-family: 'Open Sans Bold';
    }
}

@media @laptop {
    .authorization-support-message-wr {
        .support-message {
            text-align: center;
        }
    }
}