.checkout-payment {
	&.b2b-checkout {
		.button {
			width: 100%;
		}

		.checkout-payment-credit-cards {
			text-align: center;
		}
	}
}

@media @mobile {
	.checkout-payment {
		&.b2b-checkout {
			.button-main,
			.add-another-card {
				margin-bottom: 15px;
			}
		}
	}
}

@media @laptop {
	.checkout-payment {
		&.b2b-checkout {
			.add-another-card {
				margin-bottom: 10px;
			}
		}
	}
}