.dts-page {
	.sub-title-block {
		border-bottom: 1px solid @color-light-gray;
	}
}

@media @laptop {
	.dts-page {
		h1 {
			padding-bottom: 35px;
			border-bottom: 1px solid @color-light-gray;
		}

		.sub-title-block {
			margin-bottom: 35px;
			padding-bottom: 35px;

			h3 {
				font-size: 18px;
				font-family: 'Open Sans Bold';
				margin-top: 0;
			}

			p {
				line-height: 28px;

				&.slim {
					line-height: 20px;
				}
			}
		}
	}
}

@media @mobile {
	.dts-page {
		h1 {
			.full-width-block;
			padding: 10px 15px;
			font-size: 18px;
			color: @color-white;
			background-color: @color-mid-gray;
		}

		.sub-title-block {
			padding-bottom: 20px;
			margin-bottom: 20px;

			h3 {
				margin-top: 0;
				font-size: 12px;
			}

			p {
				font-size: 10px;
				line-height: 13px;
			}
		}
	}
}