.server-error {
	padding-bottom: 150px;
	.wrap {
		text-align: center;
		p {
			margin-bottom: 30px;
		}
	}
	h1 {
		color: #96969b;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 30px;
		line-height: 32px;
		margin-bottom: 40px;
	}
	a {
		color: #00a3b2;
		text-decoration: underline;
	}
}