.main-footer-container {
    background: @color-light-gray;

    > .container {
        padding-top: 35px;
    }
}

.main-footer-links {
    margin-bottom: 25px;
    .clearfix();
}

.footer-links-title {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}

.footer-links-items {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 12px;
    line-height: 14px;
    list-style: none;

    & + .footer-links-items {
        margin-left: 45px;
    }

    li {
        margin-bottom: 10px;
    }
}

.main-footer-copyright {
    padding: 15px 0;
    border-top: 1px solid #1a1818;
	background-color: #ffffff;
}

.footer-copyright-text {
    font-size: 12px;

    p {
        margin-bottom: 0;
    }
}

.footer-logo {
    display: inline-block;

    img {
        width: 96px;
        height: 20px;
    }
}

@media @mobile {
	.main-footer-copyright {
		text-align: center;
	}

	.footer-copyright-text {
		margin-bottom: 25px;
		text-align: left;
	}
}

@media @laptop {
    .main-footer-copyright {
        padding: 25px 0;
    }

    .main-footer-links {
        margin-bottom: 40px;
    }

    .footer-copyright-text {
        float: left;
        font-size: 12px;
    }

    .footer-logo {
        float: right;
    }

    .footer-sign-up {
        margin-bottom: 25px;
    }

    .sign-up-title {
        margin-bottom: 30px;
        font-size: 14px;
    }

	.sign-up-field {
		.input {
			height: 42px;
			font-size: 12px;
			border-color: #cfd1d3;
			border-right: 0;
		}

		.button {
			height: 42px;
			border-color: #dcd7d0;
			background-color: @color-super-light-gray;
			color: @color-teal;
		}
	}

    .footer-social-links {
        margin-bottom: 45px;
    }

    .social-links-title {
        margin-bottom: 20px;
    }

    .social-links-items {
        a {
            margin-left: 20px;
            display: inline-block;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}