.modal-backdrop.in {
	opacity: 0.7;
}

.modalWindow {
	.modal-body {
		max-height: 80vh;
		overflow-y: auto;
	}

	.modal-content {
		border-radius: 3px;
		background-color: transparent;
		border: none;
	}

	.modal-header {
		padding: 15px 20px;
		background-color: @color-dark-teal;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		color: @color-white;

			.modal-title {
				font-size: 24px;
			}

			.close {
				margin: 0;
				font-size: 34px;
				font-weight: normal;
				text-shadow: none;
				color: @color-white;
				opacity: 1;
				text-align: right;
			}
	}

	.modal-body {
		background: @color-white;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.modal-wnd-list-description {
		color: @color-dark-gray;

		& > p:last-child {
			margin-bottom: 0;
		}
	}

	.modal-wnd-list-title {
		font-family: 'Open Sans Bold';
	}

	.modal-wnd-list-image {
		float: left;
		width: 60px;
		text-align: center;

		img {
			border: 1px solid #a4a39f;
			height: auto;
			max-width: 100%;
		}
	}

	.modal-wnd-list-info {
		padding-left: 80px;

		.modal-wnd-list-title {
			margin-bottom: 2px;
			font-family: 'Roboto Slab Bold';
			font-size: 12px;
			color: #424240;
		}

		.modal-wnd-list-qty {
			font-family: 'Open Sans Bold';
			font-size: 12px;
			color: #424240;
		}

		.modal-wnd-list-price {
			margin-top: 7px;
			font-family: 'Roboto Slab Bold';
			font-size: 12px;
		}

		.modal-wnd-list-number {
			input {
				width: 100%;
				height: 28px;
				padding: 0 5px;
				border: 1px solid transparent;
				font-size: 12px;
				background-color: @color-super-light-gray;
			}
		}
	}
}

#payByInvoice .modal-wnd-item-button {
	.button-icon {
		color: @color-dark-teal;
	}
}

.deletePayment,
.deleteAddress {
	.modal-wnd-content {
		margin-bottom: 30px;
	}
}

#forgotPasswordMsg {
	margin-bottom: 25px;
}

@media @mobile {
	.modal-body {
		padding: 20px 20px;
	}

	.modal-wnd-list-item {
		.separate-border-bottom-custom-color(20px, 20px, #d9d9d9);
	}

	.modal-wnd-list-info {
		.modal-wnd-list-price {
			margin-bottom: 7px;
		}
	}

	.modal-wnd-list-description {
		margin-bottom: 20px;
	}

	.modal-button-wrap {
		.row div:first-child {
			.button {
				margin-bottom: 15px;
			}
		}
	}

	.modal-wnd-title {
		margin-bottom: 30px;
	}
}

@media @laptop {
	.modal-body {
		padding: 30px 20px;
	}

	.modal-wnd-list-item {
		.separate-border-bottom-custom-color(20px, 20px, #d9d9d9);
	}

	.modal-wnd-item-button {
		text-align: right;

		.button {
			padding: 0 20px;
		}
	}
	.modal-wnd-item-current-sub {
		text-align: right;
	}

	#payByInvoice .modal-wnd-item-button {
		.button {
			width: auto;
		}
	}

	.modal-button-wrap {
		.button {
			width: 100%;
		}
	}

	.form-forgot-password {
		.button.large {
			margin-top: 24px;
			.button.small;
		}
	}

	.modal-wnd-title {
		margin-bottom: 50px;
	}
}