.manage-subscriptions {

	h3 {
		margin: 0;
		font-family: 'Roboto Slab Bold';
		font-size: 18px;
		color: @color-black;
	}

	.title-tools a {
		color: @color-teal;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	.plan-name {

		h3 {
			margin: 0 0 5px 0;
		}

		p {
			font-size: 12px;
			color: @color-dark-gray;
		}
	}

	.subscription-details,
	.subscription-status,
	.subscription-activity {
		color: #565656;

		.row {
			margin-bottom: 15px;
		}

		a {
			color: #00a3b2;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.subscription-activity {
		.order-number {
			padding: 4px 0 0 0;
			font-size: 10px;
		}
	}
}

&.billing-activity {
	.no-billing-found {
		font-family: "Open Sans Bold";
		font-size: 14px;
	}
}

@media @mobile {

	.plan-name,
	.subscription-details,
	.subscription-status {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid @color-light-gray;
	}

	.subscription-details {
		.row > div:nth-child(2) {
			text-align: right;
		}
	}

	.manage-subscriptions {
		.select-form-element {
			margin-bottom: 20px;
		}

		.title-tools {
			margin: 0 0 20px 0;

			a {
				font-size: 12px;
			}
		}

		.subscription-status {
			.extend-subscription,
			.payment,
			.shipping {
				margin-bottom: 20px;
			}
		}
	}
}

@media @laptop {
	.manage-subscriptions {
		.plan-name {
			margin-bottom: 65px;
		}

		.subscription-status {
			margin-bottom: 110px;

			.button {
				padding: 0 20px;
			}

			.extend-subscription,
			.payment,
			.shipping {
				padding-top: 6px;
			}
		}

		&.billing-activity {
			.plan-name {
				margin-bottom: 20px;
				padding-bottom: 25px;
				border-bottom: 1px solid @color-light-gray;
			}
		}
	}
}

@media @tablet {
	.manage-subscriptions {
		.subscription-status {
			.button {
				padding: 0 5px;
				min-width: initial;
			}
		}
	}
}