.order-history {
	.product-list-item {
		border-bottom: none;
	}
	
	.order-purchase {
		color: @color-dark-gray;
	}

	.order-purchase {
		margin: 0 0 20px 0;
		font-size: 12px;
	}
}

@media @mobile {
	.order-history {
		.order-common-info {
			.full-width-block;
			margin-bottom: 20px;
			padding-top: 20px;
			padding-bottom: 20px;
			background-color: @color-super-light-gray;

			.row > div:not(:last-child) {
				margin-bottom: 5px;
			}
		}

		.product-list-item:last-child {
			margin-bottom: 20px;
		}
	}
}

@media @laptop {
	.order-history {
		.order-common-info {
			color: @color-dark-gray;
		}

		.order-common-info {
			margin-bottom: 35px;
		}
	}
}
