.my-account {
	.top-icons {
		a {
			text-decoration: none;
			cursor: pointer;

			&:first-child {
				margin-right: 30px;
			}
		}
	}
}

@media @mobile {
	.my-account {
		.top-icons {
			margin-top: -52px;

			a {
				&:first-child {
					margin-right: 20px;
				}
			}
		}
	}

	.my-account-button-wrap .row div:first-child {
		.button {
			margin-bottom: 15px;
		}
	}

	.simple-list {

		.button-remove {
			width: 30px;
			height: 30px;
			background-size: auto;
		}

		.simple-list-text {
			margin-bottom: 20px;
		}
	}

	.simple-list-item:not(:last-child) {
		.separate-border-bottom-custom-color(20px, 20px, @color-light-gray);
	}

	.top-pagination .panel-pagination {
		padding-bottom: 20px;
	}

	.payment-details,
	.address-book {
		.my-account-button-small {
			.button.large {
				.button.small;
			}
		}
	}
}

@media @laptop {
	.my-account {
		h1 {
			margin: 0 0 40px;
		}
	}

	.my-account-wrap {
		padding-top: 35px;
		border-top: 1px solid @color-light-gray;
	}

	.my-account-button-wrap {
		.button {
			width: 100%;
			min-width: auto;
		}
	}

	.my-account-button-small {
		.button.large {
			min-width: 100px;
			.button.small;
		}
	}

	.simple-list-item:not(:last-child) {
		.separate-border-bottom-custom-color(35px, 35px, @color-light-gray);
	}

	.top-pagination .panel-pagination {
		margin: 42px 0;
	}
}