@media @mobile {
	.subscription-product-list {

		.product-list-info {
			padding-left: 75px;
		}
	}

	.my-account.subscriptions {

		.product-list-info,
		.product-list-image {
			margin-bottom: 20px;
		}
	}
}

@media @laptop {

	.subscription-product-list {

		.product-list-info  {
			padding-left: 144px;
		}

		.product-list-title {
			margin-bottom: 10px;
		}
	}
}

