.my-company.all-users {

	.total-results {
		font-size: 12px;
		color: @color-mid-gray;
	}

	.show-hide {
		display: block;
		font-size: 12px;
		color: @color-teal;
		text-decoration: underline;
	}

	.control-panel.top {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid @color-light-gray;
	}
}

@media @mobile {
	.my-company.all-users {

		.panel-pagination {
			margin-top: 15px;
		}
	}
}

@media @laptop {
	.my-company.all-users {

		.my-company-wrap {
			padding-top: 35px;
			border-top: 1px solid @color-light-gray;
		}

		.total-results {
			height: 30px;
			padding-top: 7px;
		}

		.show-hide {
			margin-top: 7px;
			float: right;
		}

		.panel-pagination {
			margin-left: 20px;
		}
	}
}