.my-company {
	h2 {
		margin-top: 0;
	}

	.my-company-form-msg {
		font-size: 12px;
	}

	&.create-shipping-address {
		.site-form form > .form-cell:last-child {
			margin-bottom: 0;
		}
	}
}

@media @mobile {
	.my-company {
		h1 {
			padding-bottom: 20px;
			border-bottom: 1px solid @color-light-gray;
		}

		.user-roles-wrap {
			h2 {
				font-size: 18px;
			}
		}

		.one-arrow-pagination-wrap {
			text-align: center;

			.panel-pagination {
				display: inline-block;
				float: none;
			}
		}

		&.create-shipping-address {
			.my-account-button-wrap {
				margin-bottom: 20px;
			}

			.create-shipping-address-form {
				margin-bottom: 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid @color-light-gray;
			}
		}
	}
}


@media @laptop {
	.my-company {
		h1 {
			margin: 0 0 40px;
		}

		.user-roles-wrap {
			h2 {
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid @color-light-gray;
				font-size: 26px;
			}
		}

		.one-arrow-pagination-wrap {
			margin-top: 10px;
		}

		&.create-shipping-address {
			.my-company-wrap {
				padding-top: 10px;
				border-top: 1px solid @color-light-gray;
			}

			.create-shipping-address-form {
				padding-bottom: 35px;
				border-bottom: 1px solid @color-light-gray;
			}
		}

		&.edit-user {
			.user-form {
				margin-top: 30px;
			}
		}

		&.add-user {
			.user-form {
				margin-top: 30px;
			}
		}
	}
}
