.my-company.manage-user {

	.user-roles-title {
		font-family: "Open Sans Bold";
	}

	.my-company-wrap {
		a {
			color: @color-teal;
		}
	}

	.my-account-button-small form {
		display: inline;
	}
}

@media @mobile {
	.my-company.manage-user {
		font-size: 12px;

		h1 {
			padding-right: 40px;
			word-wrap: break-word;
		}

		.annotation-text {
			margin-bottom: 20px;
		}

		.user-details-wrap {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid @color-light-gray;

				.row > div:first-child {
					color: @color-mid-gray;
				}

				.row > div:last-child {
					color: @color-dark-gray;
				}
		}

		.my-company-wrap {
			position: relative;
		}

		.button-edit {
			position: absolute;
			top: -70px;
			right: 0;
		}


		.user-roles-title {
			font-size: 12px;
		}
	}
}

@media @laptop {
	.my-company.manage-user {

		.user-details-wrap {
			margin-bottom: 35px;
		}

		.my-company-wrap {
			padding-top: 35px;
			border-top: 1px solid @color-light-gray;
		}

		.edit-mobile {
			display: none;
		}

		.my-account-button-small {
			.button:first-child {
				margin-right: 15px;
			}
		}

		.annotation-text {
			line-height: 20px;
		}

		.roles-description {
			line-height: 20px;
		}

		.user-roles-title {
			font-size: 14px;
		}

		.user-roles-description {
			line-height: 20px;
		}
	}
}