.order-total-section {
	.order-total-title {
		margin: 0 0 20px 0;
		font-family: 'Roboto Slab Bold';
		font-size: 16px;

		&.order-total-info {
			font-size: 20px;
		}
	}

	.price {
		font-family: 'Roboto Slab Reg';
		word-wrap: break-word;
	}

	.order-promotion-code {
		.promotion-field {
			.form-cell {
				margin-bottom: 0;
			}

			input[type="text"] {
				&.accepted {
					outline-color: #c4d68c;
					border-color: #c4d68c;
				}

				&.denied {
					outline-color: @color-light-red;
					border-color: @color-light-red;
				}
			}

			.button {
				background-color: @color-light-gray;
				color: @color-dark-teal;
				border-color: #dcd7d0;
			}

			.promo-message {
				text-align: left;
				font-size: 12px;
				font-family: 'Open Sans Italic';
				color: #1a1818;
				line-height: 30px;

				.button {
					width: 100%;
				}
			}
		}
	}

	.checkout-total-message {
		textarea {
			width: 100%;
			padding: 5px;
			resize: none;
		}
	}

	.order-terms-and-conds {
		margin: 0 0 25px 0;
		padding: 8px 0 10px 0;

			a {
				text-decoration: underline;
			}

		&.checkbox-component input[type="checkbox"] ~ label  {
			padding-top: 5px;
			font-family: 'Open Sans Italic';
		}
	}
}

.order-brief-section {
	.order-brief-top {
		word-wrap: break-word;

		.order-brief-top-title {
			font-family: 'Open Sans Bold';
		}
	}
	.order-total-section {
		background-color: @color-super-light-gray;
	}
}

@media @mobile {
	.order-brief-section {
		.order-brief-top {
			padding: 20px 0 30px 0;
			font-size: 12px;
			color: #000;

			.order-brief-top-item:not(:last-child) {
				margin-bottom: 20px;
			}

			.order-brief-top-title {
				margin-bottom: 5px;
			}

			p {
				margin-bottom: 0;
			}
		}

		.product-list {

			.product-list-title,
			.product-list-description {
				padding-left: 80px;
			}

			.product-list-title {
				margin-bottom: 5px;
			}

			.product-list-qty {
				margin-bottom: 5px;
				color: #424240;
			}

			.product-list-item {
				border-color: #e6e6e6;

				&:last-child {
					border-color: transparent;
				}
			}
		}

		.payment-type {
			padding: 0 0 20px 0;
			font-size: 12px;
			color: #000;

			.payment-type-title {
				margin-bottom: 5px;
				font-family: 'Open Sans Bold';
			}

			p {
				margin-bottom: 0;
			}
		}

		.order-total-section {
			padding: 20px 15px;

			.reset-left-right-margin;

			.order-total-list {
				margin-bottom: 15px;

				.order-total-title {
					display: none;
				}
			}

			.order-total-item {
				font-size: 13px;
				color: @color-black;

				&:not(:last-child) {
					.separate-border-bottom-custom-color(7px, 7px, #d7d7da);
				}
			}

			.order-promotion-code {
				.separate-border-bottom-custom-color(20px, 10px, #d7d7da);
			}

			.promotion-field {
				input[type="text"] {
					height: 34px;
				}

				.button {
					height: 34px;
					font-size: 12px;
					width: 100%;
					min-height: inherit;
				}

				.promo-message {
					.button {
						padding: 0 20px;
						width: 100%;
					}
				}
			}

			.order-total-info {
				font-size: 13px;
				margin-bottom: 10px;
			}

			.checkout-total-message {
				margin: 0 0 20px 0;
				font-size: 13px;
				color: @color-black;
			}

			.order-terms-and-conds {
				margin: 0 0 20px 0;
				padding: 0;
			}
		}
	}
}

@media @laptop {
	.order-total-section {
		.order-total-list {
			margin: 0 0 25px 0;
		}

		.order-total-item {
			margin: 0 0 2px 0;
			font-size: 12px;
			color: #424240;
		}

		.order-promotion-code {
			margin: 0 0 25px 0;
			text-align: center;

			.promotion-text {
				height: 45px;
				border-top: 1px solid @color-dark-gray;
				border-bottom: 1px solid  @color-dark-gray;
				font-size: 15px;
				line-height: 40px;
				cursor: pointer;
				color: @color-dark-gray;
			}

			.promotion-field {
				input[type="text"] {
					height: 50px;
					font-size: 15px;
					padding: 0 25px;
					text-overflow: ellipsis;
				}

				.promo-message {
					padding: 10px 0 0;
				}

				.button {
					min-width: inherit;
				}
			}
		}

		.checkout-total-message {
			margin: 0 0 25px;
			font-size: 12px;
			color: #424240;
		}

		.order-terms-and-conds {
			font-size: 12px;
		}

		.button-main {
			min-width: 100%;
		}
	}

	.order-brief-section {

		.order-brief-top {
			padding: 15px;
			border: 1px solid #f7f6f4;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			color: #424240;

			.order-brief-top-item:not(:last-child) {
				margin: 0 0 15px 0;
			}

			p {
				margin-bottom: 2px;
			}
		}

		.product-list {
			padding: 30px 15px;
			border-left: 1px solid #f7f6f4;
			border-right: 1px solid #f7f6f4;

			.product-list-item {
				margin-bottom: 20px;
				padding-bottom: 0;
				border: none;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.product-list-image {
				width: 60px;
			}

			.product-list-title {
				margin: 0 0 3px 0;
				font-size: 12px;
				line-height: inherit;
				color: @color-dark-gray;
			}

			.product-list-qty {
				margin: 0 0 3px 0;
				font-family: 'Open Sans Bold';
				font-size: 12px;
				color: #424240;
			}

			.product-item-price {
				font-size: 12px;
			}

			.product-list-title,
			.product-list-description {
				padding-left: 90px;
			}
		}

		.payment-type {
			padding: 30px 15px;
			border-left: 1px solid #f7f6f4;
			border-right: 1px solid #f7f6f4;
			border-top: 1px solid #f7f6f4;
			color: #424240;

			.payment-type-title {
				font-family: 'Open Sans Bold';
			}

			.payment-type-info {
				padding-left: 15px;
			}

			p {
				margin-bottom: 2px;
			}
		}

		.order-total-section {
			border: 1px solid #f7f6f4;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;

			.order-total-list {
				padding-top: 20px;
				padding-left: 15px;
				padding-right: 15px;
				margin-bottom: 20px;
			}

			.order-promotion-code,
			.checkout-total-message,
			.order-terms-and-conds,
			.purchase-main-button,
			.button-main {
				display: none;
			}

			.order-total-info {
				margin-bottom: 0;
				padding: 15px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				color: @color-dark-teal;
			}
		}

		.order-total-info {
			background-color: @color-light-gray;
		}
	}
}
