.product-description {
	h2 {
		margin: 0 0 25px 0;
		font-family: 'Open Sans Bold';
		font-size: 16px;
	}

	.product-summary,
	.product-additional-inform {
		font-size: 12px;
	}

	.product-summary {
		p {
			margin: 0 0 4px 0;
		}
	}

	.product-price {
		font-family: 'Roboto Slab Bold';
		font-size: 14px;
	}

	.product-qty {
		margin: 0 0 20px 0;

		label {
			margin: 0 5px 0 0;
			font-family: 'Roboto Slab Reg';
			font-weight: normal;
			font-size: 14px;
		}

		input {
			width: 28px;
			height: 28px;
			font-size: 12px;
			text-align: center;
			border: 1px solid @color-light-gray;
		}
	}

	.product-availability {
		margin: 0 0 20px 0;
		font-size: 12px;
	}

	.purchase-main-button {
		font-size: 16px;
	}

	.image-gallery {
		margin: 0 0 20px 0;

		.carousel {
			margin: 0;
			text-align: left;

			.item {
				img {
					max-width: 100%;
					width: auto;
					height: auto;
					border: 1px solid @color-light-gray;
				}
			}
		}

		#pdp-carousel-sync1 {
			margin: 0 0 10px 0;

			.owl-wrapper-outer {
				border: 1px solid @color-light-gray;
			}

			.item {
				margin: 0;
			}
		}

		#pdp-carousel-sync2 {
			.item {
				margin: 0 10px 0 0;
				padding: 10px;
				border: 1px solid @color-light-gray;
			}

			.synced .item {
				border-color: #8ed6dd;
			}

			.owl-wrapper > div:last-child .item {
				margin-right: 0;
			}

			.owl-controls .owl-buttons {
				.owl-next,
				.owl-prev {
					color: @color-light-gray;
					opacity: 0.5;
					margin-top: 15px;

					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}

}

@media @mobile {
	.product-description {
		margin-bottom: 20px;

		.product-details {
			margin: 0 0 20px 0;
		}

		.product-price {
			margin: 0 0 15px 0;
		}

		.product-add-to-cart {
			margin: 0 0 30px 0;
		}

		.image-gallery {
			#pdp-carousel-sync1 {

				.item {
					padding: 10px;
					height: 196px;

					img {
						max-height: 176px;
					}
				}
			}

			#pdp-carousel-sync2 {
				.item {
					height: 58px;

					img {
						max-height: 38px;
					}
				}

				.owl-wrapper > div:last-child .item {
					margin-right: 2px;
				}

				.owl-controls .owl-buttons {
					.owl-next,
					.owl-prev {
						font-size: 58px;
						height: 94px;
					}

					.owl-next {
						text-indent: 26px;
					}
				}
			}
		}
	}
}

@media @laptop {
	.product-description {
		margin-bottom: 35px;

		.product-details {
			margin: 0 0 25px 0;
		}

		.product-price {
			margin: 0 0 20px 0;
		}

		.image-gallery {
			#pdp-carousel-sync1 {

				.item {
					padding: 20px;
					height: 314px;

					img {
						max-height: 274px;
					}
				}
			}

			#pdp-carousel-sync2 {
				.item {
					height: 88px;

					img {
						max-height: 68px;
					}
				}

				.owl-controls .owl-buttons {
					.owl-next,
					.owl-prev {
						font-size: 90px;
						height: 125px;
					}

					.owl-next {
						text-indent: 8px;
					}
				}
			}
		}
	}
}