.product-list-item {
	.clearfix();
}

.error-page {
	.product-list-buttons {
		text-align: center;
	}
}
.product-list-image {
	text-align: center;
	float: left;

	img {
		max-width: 100%;
		height: auto;
		border: @image-border;
	}
}

.product-list-title {
	font-family: 'Roboto Slab Bold';
	color: @color-black;

	a {
		color: inherit;
	}
}

.product-list-author,
.product-list-date {
	color: @color-lnk;
}

.product-item-buttons {
	text-align: right;
}

.qty-label {
	display: inline-block;
	vertical-align: top;
	padding: 6px 5px 0 0;

	label {
		font-weight: normal;
	}
}

.qty-input {
	display: inline-block;
}

.product-list-description {
	.description {
		margin: 0 0 20px 0;
		color: #424240;
	}

	.product-status {
		color: @color-dark-teal;
	}

	.product-list-status {
		color: @color-mid-gray;
	}

	.payment-details {
		color: #61605e;
	}

	.payment-details-title {
		font-family: 'Open Sans Bold';
	}

	.purchase-info {
		color: #424240;

		p {
			margin-bottom: 2px;
		}
	}

	.product-list-status {
		.status-title {
			float: left;
		}
	}
}

.product-item-price {
	font-family: 'Roboto Slab Reg';
	color: @color-black;

	.item-total-price {
		font-family: 'Roboto Slab Bold';
	}
}

@media @mobile {
	.product-list-item:not(:last-child) {
		.separate-border-bottom-custom-color(20px, 20px, @color-light-gray);
	}

	.product-list-item {
		min-height: 60px;
	}

	.product-list-image {
		width: 60px;
	}

	.product-list-title {
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 13px;
	}

	.product-list-description {
		font-size: 10px;
		line-height: 12px;

		.status-description {
			padding: 0 0 0 55px;
		}
	}

	.product-list-qty {
		font-family: 'Open Sans Bold';
		font-size: 12px;
	}

	.product-item-price {
		font-size: 10px;

		.item-price,
		.item-qty {
			margin-bottom: 10px;
		}

		.item-total-price {
			font-size: 12px;
		}
	}

	.order-summary-section {
		& + .product-list {
			margin-top: 20px;
		}
	}

	.product-list-buttons {
		display: none;
	}

	.product-list-cart {
		margin-bottom: 20px;

		.product-list-info {
			padding-left: 75px;
		}

		.product-list-description {
			margin-bottom: 10px;
		}
	}
}

@media @laptop {
	.product-list-item:not(:last-child) {
		.separate-border-bottom-custom-color(35px, 35px, @color-light-gray);
	}

	.product-list-image {
		width: 118px;
	}

	.product-list-title {
		font-size: 16px;
		line-height: 20px;
	}

	.product-list-description {
		font-size: 12px;

		.status-description {
			padding: 0 0 0 67px;
		}
	}

	.product-item-price {
		.item-total-price {
			text-align: right;
		}

		.item-price,
		.item-total-price {
			padding-top: 6px;
		}
	}

	.product-list-buttons {
		margin-bottom: 35px;
		text-align: left;
	}

	.product-list-cart {
		margin-bottom: 35px;

		.product-list-info {
			padding-left: 144px;
		}

		.product-list-description {
			margin-bottom: 20px;
		}
	}
}