@grid-gutter-width: 30px;

@screen-xs: 320px;
@screen-sm: 641px;

@container-sm: 100%;
@container-desktop: 100%;
@container-large-desktop: 100%;

// Media queries
@mobile: ~"(max-width: 640px)";
@tablet: ~"(min-width: 641px) and (max-width: 1200px)";
@laptop: ~"(min-width: 641px)";

// Fonts
@font-family-main: 'Open Sans Reg', sans-serif; // body
@font-family-secondary: 'Roboto Slab Reg', serif; // header
@font-family-tertiary: 'Oxygen', sans-serif; // mobile header

/* style guide color palette */

/* primary */
@color-black: #1F1F1E;
@color-dark-gray: #484848;
@color-dark-teal: #075B81;
@color-teal: #00A3B2;
@color-white: #FFF;
/* end primary*/

/* secondary */
@color-dark-red: #800049;
@color-red: #B40043;
@color-light-red: #D22938;
/* end secondary */

@color-mint: #92CB9C;
@color-green-light: #C6DE8C;
@color-green-dark: #1D5C56;

/*shades of gray */
@color-lnk: #5D5D5D;
@color-mid-gray: #96969B;
@color-light-gray: #DDDDE1;
@color-super-light-gray: #E8E8ED;
/* end shades of gray*/

/* end style guide color palette */

@image-border: 1px solid @color-mid-gray;

@solid-border-gray: 1px solid #f4f6f6;

@zindex-main-header-container: 1000;
@zindex-popover: 999;

@separate-border: 1px solid #f4f6f6;