.wpg-payment {
	iframe {
		width: 400px;
	}

	#wpg-session-timeout {
		margin-bottom: 20px;
	}

	#wpg-termsAndConditions {
		a {
			text-decoration: underline;
			color: @color-teal;
		}
	}
}

@media @mobile {
	.wpg-payment {
		#wpg-iframe {
			text-align: center;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			margin-bottom: 20px;
		}
	}
}
