h2(class="comparison-table-title") Compare CMA Review Courses

div(class="comparison-table comparison-table-mobile")
	div(class="course-component")
		div(class="course-component-header")
			div(class="course-component-title")
				span(class="most-popular-label") most popular
				| CMA
				br
				| Review Course
			div(class="learn-more-links")
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEARN MORE

		div(class="course-component-content")
			div(class="course-component-price")
				div(class="price-value price-value-discount") $2095
				div(class="price-value") Starting at $1255
				div(class="price-name") per part
			div(class="course-component-price")
				div(class="price-value") $1795
				div(class="price-name") complete set

			ul(class="course-component-products")
				li(class="course-component-product")
					span(class="check-mark")
					| 2000-Question Online Test Bank
				li(class="course-component-product")
					span(class="check-mark")
					| Full Textbook
				li(class="course-component-product")
					span(class="check-mark")
					| Quick Online Refresher
				li(class="course-component-product")
					span(class="check-mark")
					| Practice Exams With Essay
				li(class="course-component-product")
					span(class="check-mark")
					| 23-Hour Video Course
				li(class="course-component-product")
					span(class="check-mark")
					| Fully Online Course Text and Slides
				li(class="course-component-product")
					span(class="check-mark")
					| Flash Cards
				li(class="course-component-product")
					span(class="check-mark")
					| Free Updates Until You Pass

		div(class="course-component-footer")
			div(class="learn-more-links")
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEARN MORE


	div(class="course-component")
		div(class="course-component-header")
			div(class="course-component-title")
				| CMA Learning
				br
				| System + OIR
			div(class="learn-more-links")
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEARN MORE

		div(class="course-component-content")
			div(class="course-component-price")
				div(class="price-value") Starting at $756
				div(class="price-name") per part
			div(class="course-component-price")
				div(class="price-value") $1110
				div(class="price-name") complete set

			ul(class="course-component-products")
				li(class="course-component-product")
					span(class="check-mark")
					| 2000-Question Online Test Bank
				li(class="course-component-product")
					span(class="check-mark")
					| Full Textbook
				li(class="course-component-product")
					span(class="check-mark")
					| Quick Online Refresher
				li(class="course-component-product")
					span(class="check-mark")
					| Practice Exams With Essay
				li(class="course-component-product") 23-Hour Video Course
				li(class="course-component-product") Fully Online Course Text and Slides
				li(class="course-component-product") Flash Cards
				li(class="course-component-product") Free Updates Until You Pass

		div(class="course-component-footer")
			div(class="learn-more-links")
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEARN MORE


	div(class="course-component")
		div(class="course-component-header")
			div(class="course-component-title")
				| Learning
				br
				| System
			div(class="learn-more-links")
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEARN MORE

		div(class="course-component-content")
			div(class="course-component-price")
				div(class="price-value") $655
				div(class="price-name") per part
			div(class="course-component-price")
				div(class="price-value") $950
				div(class="price-name") complete set

			ul(class="course-component-products")
				li(class="course-component-product")
					span(class="check-mark")
					| 2000-Question Online Test Bank
				li(class="course-component-product")
					span(class="check-mark")
					| Full Textbook
				li(class="course-component-product") Quick Online Refresher
				li(class="course-component-product")
					span(class="check-mark")
					| Practice Exams With Essay
				li(class="course-component-product") 23-Hour Video Course
				li(class="course-component-product") Fully Online Course Text and Slides
				li(class="course-component-product") Flash Cards
				li(class="course-component-product") Free Updates Until You Pass

		div(class="course-component-footer")
			div(class="learn-more-links")
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEARN MORE


	div(class="course-component")
		div(class="course-component-header")
			div(class="course-component-title")
				| Online
				br
				| Intensive Review
			div(class="learn-more-links")
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEARN MORE

		div(class="course-component-content")
			div(class="course-component-price")
				div(class="price-value") $325
				div(class="price-name") per part
			div(class="course-component-price")
				div(class="price-value") $470
				div(class="price-name") complete set

			ul(class="course-component-products")
				li(class="course-component-product")
					span(class="check-mark")
					| 2000-Question Online Test Bank
				li(class="course-component-product") Full Textbook
				li(class="course-component-product")
					span(class="check-mark")
					| Quick Online Refresher
				li(class="course-component-product")
					span(class="check-mark")
					| Practice Exams With Essay
				li(class="course-component-product") 23-Hour Video Course
				li(class="course-component-product") Fully Online Course Text and Slides
				li(class="course-component-product") Flash Cards
				li(class="course-component-product") Free Updates Until You Pass

		div(class="course-component-footer")
			div(class="learn-more-links")
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEARN MORE


	div(class="course-component")
		div(class="course-component-header")
			div(class="course-component-title")
				| Option #5
			div(class="learn-more-links")
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") TRY IT FREE

		div(class="course-component-content")
			div(class="course-component-price")
				div(class="price-value") $225
				div(class="price-name") per part
			div(class="course-component-price")
				div(class="price-value") $170
				div(class="price-name") complete set

			ul(class="course-component-products")
				li(class="course-component-product")
					span(class="check-mark")
					| 2000-Question Online Test Bank
				li(class="course-component-product")
					span(class="check-mark")
					| Full Textbook
				li(class="course-component-product") Quick Online Refresher
				li(class="course-component-product") Practice Exams With Essay
				li(class="course-component-product") 23-Hour Video Course
				li(class="course-component-product") Fully Online Course Text and Slides
				li(class="course-component-product") Flash Cards
				li(class="course-component-product") Free Updates Until You Pass

		div(class="course-component-footer")
			div(class="learn-more-links")
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEARN MORE


	div(class="course-component")
		div(class="course-component-header")
			div(class="course-component-title")
				| Option #6
			div(class="learn-more-links")
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEARN MORE

		div(class="course-component-content")
			div(class="course-component-price")
				div(class="price-value") $125
				div(class="price-name") per part
			div(class="course-component-price")
				div(class="price-value") $70
				div(class="price-name") complete set

			ul(class="course-component-products")
				li(class="course-component-product")
					span(class="check-mark")
					| 2000-Question Online Test Bank
				li(class="course-component-product") Full Textbook
				li(class="course-component-product") Quick Online Refresher
				li(class="course-component-product") Practice Exams With Essay
				li(class="course-component-product") 23-Hour Video Course
				li(class="course-component-product") Fully Online Course Text and Slides
				li(class="course-component-product") Flash Cards
				li(class="course-component-product") Free Updates Until You Pass

		div(class="course-component-footer")
			div(class="learn-more-links")
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEARN MORE

div(class="comparison-table comparison-table-desktop")
		table
			thead
				tr
					th Product Components
					th
						span(class="most-popular-label") most popular
						| CMA
						br
						| Review Course
					th CMA Learning System + OIR
					th Learning System
					th Online Intensive Review
					th Option #5
					th Option #6

			tbody
				tr
					td Price Per Part
					td
						span(class="starting-at")
							| Starting at &nbsp;
						span(class="price-value")
							| $1255
					td: span(class="price-value")
							| $756
					td: span(class="price-value")
							| $655
					td: span(class="price-value")
							| $325
					td: span(class="price-value")
							| $225
					td: span(class="price-value")
							| $125

				tr
					td Complete Set
					td
						span(class="price-value price-value-discount")
							| $2095
						span(class="price-value")
							| $1795
					td: span(class="price-value")
							| $1110
					td: span(class="price-value")
							| $950
					td: span(class="price-value")
							| $470
					td: span(class="price-value")
							| $170
					td: span(class="price-value")
							| $70

					tr
						td 2000-Question Online Test Bank
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")

					tr
						td Full Textbook
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td
						td: span(class="check-mark")
						td

					tr
						td Quick Online Refresher
						td: span(class="check-mark")
						td: span(class="check-mark")
						td
						td: span(class="check-mark")
						td
						td

					tr
						td Practice Exams With Essay
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td
						td

					tr
						td 23-Hour Video Course
						td: span(class="check-mark")
						td
						td
						td
						td
						td

					tr
						td Fully Online Course Text and Slides
						td: span(class="check-mark")
						td
						td
						td
						td
						td

					tr
						td Flash Cards
						td: span(class="check-mark")
						td
						td
						td
						td
						td

					tr
						td Free Updates Until You Pass
						td
						td
						td
						td
						td
						td

			tfoot
				tr(class="learn-more")
					td
					td
						p Learn More
					td
						p Learn More
					td
						p Learn More
					td
						p Learn More
					td
						p Learn More
				tr(class="level-link")
					td
					td
						div
							a( href="#") LEVEL I
							a(href="#") LEVEL II
							span(class="not-active") LEVEL III
					td
						div
							a(href="#") LEVEL I
							a(href="#") LEVEL II
							a(href="#") LEVEL III
					td
						div
							a(href="#") LEVEL I
							a(href="#") LEVEL II
							a(href="#") LEVEL III
					td
						div
							a(href="#") LEVEL I
							a(href="#") LEVEL II
							a(href="#") LEVEL III
					td
						div
							a( href="#") LEVEL I
							a(href="#") LEVEL II
							span(class="not-active") LEVEL III