<?xml version="1.0" encoding="UTF-8"?>

<taglib xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">
    <tlib-version>1.0</tlib-version>
    <short-name>htmlmeta</short-name>
    <uri>http://hybris.com/tld/htmlmeta</uri>

    <tag>
        <description>Supports generating meta tags with custom attributes</description>
        <name>meta</name>
        <tag-class>de.hybris.platform.acceleratorservices.metainformation.HtmlMetaTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <description>List of MetaElementData objects</description>
            <name>items</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <!-- Any other attributes specified are written onto the element -->
        <dynamic-attributes>false</dynamic-attributes>
    </tag>
</taglib>
