@media only screen and (min-width: 641px) {
    .pdp-addtocart-container {
        position: absolute !important;
        width: 45% !important;
        bottom: 0;
        right: 0;
    }

    .pdp-addtocart-button {
        height: 100% !important;
    }

    .pdp-addtocart-button .pdp-addtocart-div {
        white-space: normal;
    	}

    .preorder-nodes {
        width: 100%;
    }
}
