doctype html
html(lang="en" dir="ltr")
    block vars

    head
        block head
            include ../partials/head
    body
        div(class="wrapper")
            block header
                include ../partials/header-wpg

            div(class="content")
                block main

        block footer
            include ../partials/footer

        // scripts
        block commonScripts
            include ../partials/common-scripts