doctype html
html(lang="en", dir="ltr")
	head
		block head
			include ../partials/head
	body
		div(class="wrapper two-column-layout")
			block header
				include ../partials/header

			div(class="content", id="swipe-area")
				block asideNavigation
				block main

			div(class="loader-container")
				div(class="loader-text") Loading...

		block footer
			include ../partials/footer

		// scripts
		block commonScripts
			include ../partials/common-scripts
