div(class="order-common-info")
	div(class="row")
		div(class="col-xs-12 col-sm-3")
			| Order Number:  &lt;OrderNumber&gt;
		div(class="col-xs-12 col-sm-3")
			| Oder Date:  &lt;OrderDate&gt;
		div(class="col-xs-12 col-sm-3")
			| Total:  &lt;$Total&gt;
		div(class="col-xs-12 col-sm-3")
			| Status:  &lt;Status&gt;
div(class="order-purchase")
	div(class="row")
		div(class="col-xs-12 col-sm-12")
			| Order Type: Purchase