div(class="description")
	div
		| Start Date: June 18, 2015
	div
		| End Date: Jan 18, 2015
	div(class="product-status")
		| Status: Expired
div(class="payment-details")
	div(class="payment-details-title")
		| Payment Details
	div &lt;cc name&gt;
	div &lt;cc number&gt;
	div &lt;cc expiration date&gt;