.button {
	height: 60px;
	display: inline-block;
	margin-bottom: 0; // For input.btn
	padding: 10px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid transparent;
	white-space: nowrap;
	.user-select(none);

	&,
	&:active,
	&.active {
		&:focus {
			.tab-focus();
		}
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:active,
	&.active {
		outline: 0;
		background-image: none;
		.box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
	}

	&.disabled,
	&[disabled] {
		cursor: not-allowed;
		pointer-events: none; // Future-proof disabling of clicks
		.opacity(.65);
		.box-shadow(none);
	}
}

.button-default {
	min-width: 160px;
	height: 36px;
	background-color: #f2f5f7;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #dfdfdf;
}

.button-primary {
	background-color: #075b81;
	color: #ffffff;
}

.button-remove {
	width: 32px;
	height: 32px;
	padding: 0;
	border: 1px solid #e7e4df;
	border-radius: 5px;
	background: #ffffff url('../images/trash.png') 50% 50% no-repeat;
}

.button-icon {
	background-color: #ffffff;
	border: 1px solid #075b81;

	&.icon-paypal {
		&:after {
			width: 118px;
			height: 30px;
			margin-left: 5px;
			content: '';
			display: inline-block;
			background-image: url('../images/paypal.png');
			vertical-align: middle;
		}
	}
}

.button-link {
	width: auto;
	height: auto;
	padding: 0;
	margin-bottom: 0;
	background: none;
	font-size: 12px;
	font-weight: bold;
	color: #075b81;
}

@media @mobile {
	.button-remove {
		width: 22px;
		height: 22px;
		background-size: 8px;
	}
}
