.checkout-accordion-header {
	height: 50px;
	margin-bottom: 3px;
	position: relative;
	background-color: #dfdfdf;

	.item-number {
		width: 50px;
		height: 50px;
		padding-left: 15px;
		display: inline-block;
		position: relative;
		text-align: center;
		vertical-align: middle;
		line-height: 50px;
		font-size: 18px;

		&:before {
			width: 26px;
			height: 26px;
			margin-top: -13px;
			margin-left: -5px;
			display: block;
			border: 1px solid #bababa;
			border-radius: 13px;
			position: absolute;
			top: 50%;
			left: 50%;
			content: '';
		}
	}

	.item-text {
		padding: 0 15px 0 10px;
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		font-weight: bold;
	}

	.icon-edit {
		display: none;
	}
}

.checkout-accordion-content {
	display: none;
}

.checkout-accordion-item {
	&.current {
		.checkout-accordion-header {
			margin-bottom: 0;
			background-color: #075b81;
			color: #ffffff;

			.item-number {
				&:before {
					border-color: #ffffff;
				}
			}
		}
	}
}

@media @tablet {
	.checkout-accordion {
		margin-bottom: 30px;
	}

	.checkout-accordion-header {
		height: 52px;
		margin-bottom: 15px;
		padding-right: 60px;
		position: relative;
		border: 1px solid #edebe6;
		background-color: #f4f4f4;
		box-shadow: inset 0 0 2px rgba(255,255,255,0.35);

		.item-number {
			width: 90px;
			height: 50px;
			padding-left: 0;
			display: inline-block;
			position: relative;
			background-color: #ededed;
			text-align: center;
			vertical-align: middle;
			line-height: 50px;
			font-size: 20px;

			&:before {
				width: 34px;
				height: 34px;
				margin-top: -17px;
				margin-left: -17px;
				display: block;
				border: 1px solid #bababa;
				border-radius: 17px;
				position: absolute;
				top: 50%;
				left: 50%;
				content: '';
			}
		}

		.item-text {
			padding: 0 25px;
			display: inline-block;
			vertical-align: middle;
			font-size: 15px;
			font-weight: bold;
		}

		.icon-edit {
			width: 23px;
			height: 23px;
			margin-top: -12px;
			display: block;
			position: absolute;
			top: 50%;
			right: 20px;
			background-image: url("../images/edit.png");
			cursor: pointer;
		}
	}

	.checkout-accordion-content {
		display: block;
		background-color: #f4f4f4;
	}

	.checkout-accordion-item {
		&.current {
			.checkout-accordion-header {
				margin-bottom: 0;
				border-color: transparent;
				background-color: #838383;
				box-shadow: none;
				color: #ffffff;

				.item-number {
					background-color: transparent;

					&:before {
						border-color: #ffffff;
					}
				}

				.icon-edit {
					display: none;
				}
			}
		}
	}
}