body {
	background: #ffffff;
	font-family: @font-family-1;
	font-size: 14px;
	color: #1a1818;
}

h1 {
	margin: 40px 0;
	font-size: 27px;
}

.page-title {
	&.icon-lock {
		&:after {
			width: 18px;
			height: 26px;
			margin-left: 10px;
			display: inline-block;
			background-image: url("../images/lock.png");
			content: '';
			vertical-align: bottom;
		}
	}
}

@media @mobile {
	h1 {
		margin: 20px 0;
	}
}

@media @tablet {
	h1 {
		margin: 40px 0;
	}
}

/***********************************************************************************************************************
 * Styles for input elements
 **********************************************************************************************************************/
.checkbox-radio-common-styles(@selector) {
	opacity: 0;
	position: absolute;

	& @{selector} label {
		min-height: 22px;
		position: relative;
		display: inline-block;
		margin-right: 6px;
		padding-left: 32px;
		font-weight: normal;

		&:before,
		&:after {
			position: absolute;
			top: 0;
			width: 22px;
			height: 22px;
			display: block;
			content: '';
			left: 0;
		}

		&:before {
			border: 1px solid #dcd7d0;
			background: #ffffff;
		}

		&:after {
			display: none;
		}

		&.right-side {
			padding-left: 0;
			padding-right: 22px;

			&:before,
			&:after {
				right: 0;
				left: auto;
			}
		}
	}

	&:checked {
		& @{selector} label {
			&:after {
				display: block;
			}
		}
	}

	&:focus {
		& @{selector} label {
			&:before {
				outline: 1px dotted black;
			}
		}
	}

	&:disabled {
		& @{selector} label {
			&:before,
			&:after {
				opacity: 0.5;
			}
		}
	}
}

.checkbox-component {
	input[type="checkbox"] {
		.checkbox-radio-common-styles(~'~');

		& ~ label {
			&:after {
				width: 8px;
				height: 14px;
				border: 3px solid #000000;
				border-width: 0 3px 3px 0;
				left: 7px;
				top: 2px;
				transform: rotate(45deg);
			}
		}
	}
}

input[type="checkbox"],
input[type="radio"] {
	.checkbox-radio-common-styles(~'+');
}

input[type="checkbox"] {
	& + label {
		&:after {
			width: 8px;
			height: 14px;
			border: 3px solid #000000;
			border-width: 0 3px 3px 0;
			left: 7px;
			top: 2px;
			transform: rotate(45deg);
		}
	}
}

input[type="radio"] {
	& + label {
		&:before,
		&:after {
			border-radius: 15px;
		}

		&:after {
			background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAgElEQVQY02P8z4APMDHQQ5qRgdGAcT3jV8ZLjMmMCPn/UMigzJDH8IzhP8MfhnUMynBROKOB4RKc0wBjIOxWYxCEsn4xqMEEWeDS+xn4GWQYGBgYGD4y7Me0m4khgOEmwxuGJwzTGZhgooz/4S5nYGCQZtBjeMVwloEBLjqAgQoAoMIyo/3lbhcAAAAASUVORK5CYII=') 50% 50% no-repeat;
		}
	}
}