@media @mobile {
	.my-account-nav {
		display: none;
	}
}

@media @tablet {
	.my-account-nav {
		.nav-item {
			display: block;
			margin: 0 0 1px 0;
			padding: 12px 24px;
			font-size: 15px;
			font-weight: bold;
			color: #424240;
			background-color: #ecf0f1;

			&:hover {
				text-decoration: none;
				color: inherit;
			}

			&.active {
				position: relative;
				padding-left: 55px;
				color: #ffffff;
				background-color: #979797;

				span {
					position: absolute;
					top: 50%;
					left: 23px;
					width: 22px;
					height: 22px;
					margin-top: -11px;
					border: 1px solid #ffffff;
					border-radius: 11px;
				}

				span:before {
					position: absolute;
					top: 10px;
					right: 5px;
					content: "";
					display: block;
					width: 11px;
					border-top: 1px solid #ffffff;
				}

				span:after {
					position: absolute;
					top: 7px;
					right: 6px;
					content: "";
					display: block;
					width: 8px;
					height: 8px;
					border-top: 1px solid #ffffff;
					border-right: 1px solid #ffffff;
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
				}
			}
		}
	}
}