.order-summary-section {
	padding: 10px 0;
}

.order-summary-details,
.order-summary-total,
.order-summary-checkbox,
.order-summary-buttons {
	padding: 20px;
}

.order-summary-items {
	width: 100%;
	display: table;

	.order-summary-item {
		display: table-row;
	}

	.summary-name,
	.summary-value {
		padding: 5px 0;
		display: table-cell;
	}

	.summary-name {
		padding-right: 5px;
	}

	.summary-value {
		padding-left: 5px;
		text-align: right;
	}

	.item-free-shipping {
		color: #757472;
	}

	.item-discount {
		color: #015a82;
	}
}

.order-summary-promotion {
	padding: 0 20px;

	.promotion-text {
		height: 50px;
		padding: 15px;
		display: block;
		border-width: 1px 0;
		border-style: solid;
		font-size: 15px;
		line-height: 17px;
		text-align: center;
		cursor: pointer;

		.active& {
			display: none;
		}
	}

	.input,
	.button {
		height: 50px;
	}

	.input {
		border-color: #e7e4df;
		border-right: 0;
	}

	.button {
		min-width: 90px;
		border-color: #d5d3d3;
		font-size: 14px;
		font-weight: normal;
		color: #009688;
	}

	.promotion-field {
		display: none;

		.active& {
			display: block;
		}
	}
}

.order-summary-total {
	.summary-name,
	.summary-value {
		font-family: @font-family-2;
		font-weight: bold;
	}
}

.order-total-message {
	font-style: italic;
	color: #61605e;
}

.order-summary-checkbox {
	padding: 20px;

	.checkbox-component {
		font-size: 12px;

		label {
			margin: 0;
		}
	}

	.text-field {
		padding-top: 15px;
		display: none;
	}

	input[type="text"] {
		width: 100%;
		padding: 10px 20px;
	}

	input[type="checkbox"]:checked {
		& ~ .text-field {
			display: block;
		}
	}
}

.order-summary-buttons {
	text-align: center;

	.button:not(.button-link) {
		width: 100%;
		margin-bottom: 10px;
	}
}

.order-summary-address,
.order-summary-payment {
	padding: 10px 15px;
	background-color: #ffffff;
	font-size: 12px;
	line-height: 14px;

	.title {
		margin-bottom: 5px;
		font-weight: bold;
	}

	p {
		margin-bottom: 0;
	}
}

.order-summary-payment {
	.text {
		font-size: 12px;
	}
}

.checkout-accordion {
	.order-summary-section {
		margin: 0;
		padding: 0;
		background-color: transparent;
	}

	.order-summary-details,
	.order-summary-promotion,
	.order-summary-total,
	.order-summary-buttons {
		margin: 0 auto;
		max-width: 540px;
	}

	.order-summary-title {
		margin-bottom: 10px;
		font-family: @font-family-2;
		font-size: 16px;
		font-weight: bold;
	}

	.order-summary-items {
		font-size: 12px;

		.summary-name,
		.summary-value {
			padding-top: 0;
			padding-bottom: 0;
		}

		.summary-value {
			font-family: @font-family-2;
		}
	}

	.order-summary-additional {
		background-color: #ededed;
		font-size: 12px;
		font-style: italic;

		.text {
			margin: 0 auto;
			padding: 5px 20px;
			max-width: 540px;
		}

		a {
			color: #1a1818;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.order-summary-detailed {
	padding: 0;

	.product-list {
		padding: 10px 15px;
		background-color: #ffffff;
		border-bottom: 1px solid #e7e4df;
	}

	.product-list-item {
		margin: 0;
		padding: 20px 0;
		border-bottom: 1px solid #b5b5b5;

		&:last-child {
			border-bottom: 0;
		}
	}

	.product-list-title,
	.product-list-description,
	.product-item-price {
		font-size: 12px;
		line-height: 14px;
	}

	.product-list-title,
	.product-item-price {
		font-family: @font-family-2;
		font-weight: bold;
	}

	.product-list-image {
		width: 60px;
		margin-right: 20px;

		& ~ .product-list-title,
		& ~ .product-list-description {
			margin-left: 80px;
		}
	}

	.product-list-title {
		margin-bottom: 5px;
	}

	.product-list-description {
		margin-bottom: 0;
	}

	.product-list-qty {
		margin-bottom: 5px;
		font-weight: bold;
	}

	.product-item-price {
		text-align: right;
	}

	.order-summary-details {
		padding: 10px 15px;
		background-color: #f4f4f4;
	}

	.order-summary-title {
		margin-bottom: 10px;
		font-family: @font-family-2;
		font-size: 16px;
		font-weight: bold;
	}

	.order-summary-items {
		font-size: 12px;

		.summary-name,
		.summary-value {
			padding-top: 0;
			padding-bottom: 0;
		}

		.summary-value {
			font-family: @font-family-2;
		}
	}

	.order-summary-total {
		padding: 10px 15px;
		color: #025a82;
	}

	.order-total-message {
		font-size: 12px;
		font-style: normal;
		color: inherit;
	}

	.order-summary-buttons,
	.order-summary-payment {
		display: none;
	}
}

@media @mobile {
	.order-summary-section {
		margin-bottom: 10px;
		background: #f4f4f4;
	}

	.order-summary-mobile {
		margin: 0 0 10px;
		border: 1px solid #e7e4df;
	}

	.order-summary-info {
		padding: 10px 50px 0 20px;
		position: relative;
		font-family: @font-family-2;
		font-size: 18px;
		font-weight: bold;

		.help {
			width: 20px;
			height: 20px;
			display: block;
			position: absolute;
			top: 10px;
			right: 20px;
			background-image: url("../images/help.png");
			cursor: pointer;
		}
	}

	.order-summary-details {
		font-size: 12px;
	}

	.order-summary-promotion {
		.promotion-text {
			border-color: #075b81;
			color: #075b81;
		}
	}

	.order-summary-total {
		.summary-name,
		.summary-value {
			font-size: 16px;
		}
	}

	.order-total-message {
		font-size: 10px;
	}

	.order-summary-checkbox {
		background: #e8e8e8;
	}

	.order-summary-buttons {
		.button-link {
			margin-top: 15px;
		}
	}

	.order-summary-detailed {
		.order-summary-details,
		.order-summary-promotion,
		.order-summary-total,
		.order-summary-buttons {
			background-color: #696969;
			color: #ffffff;
		}

		.order-summary-details {
			padding-bottom: 3px;
		}

		.order-summary-title,
		.order-total-message {
			display: none;
		}

		.order-summary-item {
			.summary-name,
			.summary-value {
				padding-top: 5px;
				padding-bottom: 5px;
				border-bottom: 1px solid #b5b5b5;
				font-size: 13px;
				font-weight: normal;
			}

			&:last-child {
				.summary-name,
				.summary-value {
					border-bottom: 0;
				}
			}
		}

		.order-summary-promotion {
			padding: 0 15px;

			.promotion-field {
				display: block;
				padding-bottom: 10px;
				border-bottom: 1px solid #b5b5b5;
			}

			.input,
			.button {
				height: 24px;
				border: 0;
				border-radius: 0;
				font-size: 10px;
			}

			.button {
				min-width: 60px;
				margin-left: 5px;
				padding: 0 5px;
				background-color: #075b81;
				color: #ffffff;
			}
		}

		.order-summary-buttons {
			padding: 0 15px 15px;
			display: block;

			.button {
				height: 34px;
				margin-bottom: 0;
				padding: 0 10px;
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
}

@media @tablet {
	.order-summary-mobile {
		display: none;
	}

	.order-summary-section {
		margin-bottom: 30px;
		background: #ebebeb;
	}

	.order-summary-promotion {
		.promotion-text {
			border-color: #404040;
			color: #404040;
		}
	}

	.order-summary-total {
		.summary-name,
		.summary-value {
			font-size: 20px;
		}
	}

	.order-total-message {
		font-size: 12px;
	}

	.order-summary-checkbox {
		background: #f4f4f4;
	}

	.order-summary-buttons {
		.button-link {
			display: none;
		}
	}

	.order-summary-address,
	.order-summary-payment {
		padding: 10px 15px;
		background-color: #ffffff;
		border-bottom: 1px solid #e7e4df;
		font-size: 14px;
		line-height: 16px;
		.clearfix();

		.title,
		.text {
			float: left;
		}

		.title {
			margin-right: 20px;
		}
	}

	.order-summary-detailed {
		border: 1px solid #e7e4df;

		.order-summary-payment {
			display: block;
		}

		.product-list-item {
			border-bottom: 0;
		}

		.order-summary-promotion {
			display: none;
		}
	}
}
