.panel-pagination {
	text-align: right;

	.pagination-elements {
		position: relative;
		display: inline-block;
		font-size: 12px;
		color: #424240;

		@pagination-arrow-color: #424240;

		.pagination-arrow-left,
		.pagination-arrow-right {
			position: absolute;
			top: 50%;
			display: block;
			width: 8px;
			height: 8px;
			margin-top: -4px;
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		.pagination-arrow-left {
			left: 0;
			border-bottom: 1px solid @pagination-arrow-color;
			border-left: 1px solid @pagination-arrow-color;
		}

		.pagination-arrow-right {
			right: 0;
			border-top: 1px solid @pagination-arrow-color;
			border-right: 1px solid @pagination-arrow-color;
		}

		.pagination-text {
			padding: 0 25px;
		}
	}
}

@media @mobile {
	.panel-pagination {
		min-height: 24px;
		padding-right: 20px;
		background-color: #f0f1f2;

		.pagination-elements {
			padding: 3px 0;
		}
	}
}

@media @tablet {
	.panel-pagination {
		min-height: 18px;
	}
}