.product-list-item {
	.clearfix();
}

.product-list-image {
	text-align: center;
	float: left;

	img {
		max-width: 100%;
		height: auto;
		border: @image-border;
	}
}

.product-item-buttons {
	text-align: right;
}

.product-item-price {
	.item-qty-input {
		width: 34px;
		height: 20px;
		text-align: center;
	}
}

@media @mobile {
	.product-list-item {
		.separate-border(20px, 20px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	.product-list-image {
		width: 60px;
	}

	.product-list-title {
		margin-bottom: 10px;
		font-size: 11px;
		font-weight: bold;
		line-height: 13px;
		color: #424240;
	}

	.product-list-description {
		margin-bottom: 10px;
		font-size: 10px;
		line-height: 12px;
		color: #757472;
	}

	.product-item-price {
		font-size: 11px;

		.item-price,
		.item-qty,
		.item-total-price {
			margin-bottom: 5px;
		}

		.item-total-price {
			font-size: 13px;
			font-weight: bold;
		}
	}

	.order-summary-section {
		& + .product-list {
			margin-top: 20px;
		}
	}

	.product-list-buttons {
		display: none;
	}

	.product-list-cart {
		.product-list-info {
			padding-left: 75px;
		}
	}

	.product-list-subscriptions {
		.product-list-title,
		.product-list-description {
			padding-left: 75px;
		}
	}
}

@media @tablet {
	.product-list-item {
		.separate-border(35px, 35px);

		&:last-child {
			margin-bottom: 20px;
		}
	}

	.product-list-image {
		width: 124px;
	}

	.product-list-title {
		font-family: @font-family-2;
		font-size: 18px;
		font-weight: bold;
		line-height: 20px;
		color: #1a1818;
	}

	.product-list-description {
		margin-bottom: 20px;
		font-size: 12px;

		.product-list-status {
			color: #757472;
		}
	}

	.product-item-price {
		font-family: @font-family-2;
		font-weight: bold;

		.item-qty {
			text-align: right;
		}

		.item-total-price {
			font-size: 16px;
			text-align: right;
		}
	}

	.product-list-buttons {
		margin-bottom: 35px;
		text-align: right;

		.button {
			height: 34px;
			padding: 5px 10px;
			background-color: #5d5d5d;
			font-weight: bold;
			color: #ffffff;
		}
	}

	.product-list-cart {
		.product-list-info {
			padding-left: 139px;
		}
	}

	.product-list-subscriptions {
		.product-list-title,
		.product-list-description {
			padding-left: 139px;
		}
	}
}