.subscriptions-page {
	.product-list-description {
		font-size: 12px;

		.duration {
			margin: 0 0 20px 0;
		}

		.start-date,
		.end-date {
			color: #424240;
		}

		.product-status {
			color: #075b81;
		}

		.payment-details {
			color: #61605e;

			.payment-details-title {
				font-weight: bold;
			}
		}
	}

	.manage-button {
		text-align: right;

		button {
			border-color: #f0f1f2;
			font-size: 11px;
			font-weight: bold;
			color: #424240;
		}
	}
}

@media @mobile {
	.subscriptions-page {
		.row:first-child .panel-pagination {
			margin-bottom: 20px;
		}

		.product-list-description {
			.payment-details {
				margin: 0 0 20px 0;
			}
		}

		.product-listing-pagination .panel-pagination {
			margin-bottom: 20px;
		}

		.manage-button {
			button {
				min-width: 100%;
				padding: 10px 0;
			}
		}
	}
}

@media @tablet {
	.subscriptions-page {
		.row:first-child .panel-pagination {
			margin: 40px 0;
		}

		.product-listing-pagination .panel-pagination {
			margin-bottom: 35px;
		}

		.product-list-item:first-child {
			padding-top: 35px;
			border-top: @separate-border;
		}

		.manage-button {
			button {
				min-width: 160px;
			}
		}
	}
}

