block commonScripts

	script(src="responsive/common/js/jquery-2.1.1.min.js")
	script(src="responsive/common/bootstrap/dist/js/bootstrap.min.js")
	script(src="responsive/common/js/bootstrap-collapse.js")
	script(src="responsive/common/js/owl.carousel-2.min.js")
	script(src="responsive/common/js/jquery-ui-1.12.1-custom.min.js")
	script(src="responsive/common/js/perfect-scrollbar.jquery.min.js")
	script(src="responsive/common/js/jquery.zoom.min.js")
	script(src="responsive/common/js/clusterize.min.js")
	script(src="responsive/common/js/mustache.min.js")
	script(src="responsive/common/js/Imager.min.js")
	script(src="responsive/common/js/jquery.truncate.min.js")
	script(src="responsive/common/js/wiley.js")

