div.container-fluid.cookie-popup-container
    div.container
        p This website uses cookies to ensure you get the best experience on our website.
            a(href="#", class="link-corner") Learn more
        a.small-button Got it
