span(class="main-navigation-select-country", aria-label="Select country")
    span(tabindex='0',class="country-selected trigger-country-dropdown", title="selected country with dropdown")
        i.country-icon.sprite.sprite-US
        span(title="United States") United States
    div(class="select-country-dropdown")
        span(class="country-selected visible-xs-inline-block")
            i.country-icon.sprite.sprite-US
            span United States
        input(placeholder="Type your Country", class="country-search-input", aria-label="Type your Country")
        form(id="country-form", action="/en-ag/_s/country", method="post")
            script.
                var ACC = {}; ACC.wileyCountryList = [{"name":"Afghanistan","isocode":"AF"},{"name":"Aland Islands","isocode":"AX"},{"name":"Albania","isocode":"AL"},{"name":"Algeria","isocode":"DZ"},{"name":"American Samoa","isocode":"AS"},{"name":"Andorra","isocode":"AD"},{"name":"Angola","isocode":"AO"},{"name":"Anguilla","isocode":"AI"},{"name":"Antigua and Barbuda","isocode":"AG"},{"name":"Argentina","isocode":"AR"},{"name":"Armenia","isocode":"AM"},{"name":"Aruba","isocode":"AW"},{"name":"Australia","isocode":"AU"},{"name":"Austria","isocode":"AT"},{"name":"Azerbaijan","isocode":"AZ"},{"name":"Bahamas","isocode":"BS"},{"name":"Bahrain","isocode":"BH"},{"name":"Bangladesh","isocode":"BD"},{"name":"Barbados","isocode":"BB"},{"name":"Belarus","isocode":"BY"},{"name":"Belgium","isocode":"BE"},{"name":"Belize","isocode":"BZ"},{"name":"Benin","isocode":"BJ"},{"name":"Bermuda","isocode":"BM"},{"name":"Bhutan","isocode":"BT"},{"name":"Bolivia","isocode":"BO"},{"name":"Bosnia and Herzegovina","isocode":"BA"},{"name":"Botswana","isocode":"BW"},{"name":"Brazil","isocode":"BR"},{"name":"British Indian Ocean Territory","isocode":"IO"},{"name":"Brunei","isocode":"BN"},{"name":"Bulgaria","isocode":"BG"},{"name":"Burkina Faso","isocode":"BF"},{"name":"Burundi","isocode":"BI"},{"name":"Cambodia","isocode":"KH"},{"name":"Cameroon","isocode":"CM"},{"name":"Canada","isocode":"CA"},{"name":"Cape Verde","isocode":"CV"},{"name":"Cayman Islands","isocode":"KY"},{"name":"Central African Republic","isocode":"CF"},{"name":"Chad","isocode":"TD"},{"name":"Chile","isocode":"CL"},{"name":"China","isocode":"CN"},{"name":"Christmas Island","isocode":"CX"},{"name":"Cocos (Keeling) Islands","isocode":"CC"},{"name":"Colombia","isocode":"CO"},{"name":"Comoros","isocode":"KM"},{"name":"Congo","isocode":"CG"},{"name":"Cook Islands","isocode":"CK"},{"name":"Costa Rica","isocode":"CR"},{"name":"Cote d'Ivoire","isocode":"CI"},{"name":"Croatia","isocode":"HR"},{"name":"Cuba","isocode":"CU"},{"name":"Curaçao","isocode":"CW"},{"name":"Cyprus","isocode":"CY"},{"name":"Czech Republic","isocode":"CZ"},{"name":"Denmark","isocode":"DK"},{"name":"Djibouti","isocode":"DJ"},{"name":"Dominican Republic","isocode":"DO"},{"name":"Ecuador","isocode":"EC"},{"name":"Egypt","isocode":"EG"},{"name":"El Salvador","isocode":"SV"},{"name":"Equatorial Guinea","isocode":"GQ"},{"name":"Eritrea","isocode":"ER"},{"name":"Estonia","isocode":"EE"},{"name":"Ethiopia","isocode":"ET"},{"name":"Fiji","isocode":"FJ"},{"name":"Finland","isocode":"FI"},{"name":"France","isocode":"FR"},{"name":"French Guiana","isocode":"GF"},{"name":"Gabon","isocode":"GA"},{"name":"Gambia","isocode":"GM"},{"name":"Georgia","isocode":"GE"},{"name":"Germany","isocode":"DE"},{"name":"Ghana","isocode":"GH"},{"name":"Gibraltar","isocode":"GI"},{"name":"Greece","isocode":"GR"},{"name":"Greenland","isocode":"GL"},{"name":"Guadeloupe","isocode":"GP"},{"name":"Guam","isocode":"GU"},{"name":"Guatemala","isocode":"GT"},{"name":"Guinea","isocode":"GN"},{"name":"Guinea-Bissau","isocode":"GW"},{"name":"Guyana","isocode":"GY"},{"name":"Haiti","isocode":"HT"},{"name":"Holy See (Vatican City State)","isocode":"VA"},{"name":"Honduras","isocode":"HN"},{"name":"Hungary","isocode":"HU"},{"name":"Iceland","isocode":"IS"},{"name":"India","isocode":"IN"},{"name":"Indonesia","isocode":"ID"},{"name":"Iran","isocode":"IR"},{"name":"Iraq","isocode":"IQ"},{"name":"Ireland","isocode":"IE"},{"name":"Israel","isocode":"IL"},{"name":"Italy","isocode":"IT"},{"name":"Jamaica","isocode":"JM"},{"name":"Japan","isocode":"JP"},{"name":"Jordan","isocode":"JO"},{"name":"Kazakhstan","isocode":"KZ"},{"name":"Kenya","isocode":"KE"},{"name":"Korea (the Republic of)","isocode":"KR"},{"name":"Kuwait","isocode":"KW"},{"name":"Kyrgyzstan","isocode":"KG"},{"name":"Laos","isocode":"LA"},{"name":"Latvia","isocode":"LV"},{"name":"Lebanon","isocode":"LB"},{"name":"Lesotho","isocode":"LS"},{"name":"Liberia","isocode":"LR"},{"name":"Libya","isocode":"LY"},{"name":"Liechtenstein","isocode":"LI"},{"name":"Lithuania","isocode":"LT"},{"name":"Luxembourg","isocode":"LU"},{"name":"Macedonia","isocode":"MK"},{"name":"Madagascar","isocode":"MG"},{"name":"Malawi","isocode":"MW"},{"name":"Malaysia","isocode":"MY"},{"name":"Maldives","isocode":"MV"},{"name":"Mali","isocode":"ML"},{"name":"Malta","isocode":"MT"},{"name":"Martinique","isocode":"MQ"},{"name":"Mauritania","isocode":"MR"},{"name":"Mauritius","isocode":"MU"},{"name":"Mexico","isocode":"MX"},{"name":"Moldova","isocode":"MD"},{"name":"Monaco","isocode":"MC"},{"name":"Mongolia","isocode":"MN"},{"name":"Montenegro","isocode":"ME"},{"name":"Morocco","isocode":"MA"},{"name":"Mozambique","isocode":"MZ"},{"name":"Myanmar","isocode":"MM"},{"name":"Namibia","isocode":"NA"},{"name":"Nepal","isocode":"NP"},{"name":"Netherlands","isocode":"NL"},{"name":"New Zealand","isocode":"NZ"},{"name":"Nicaragua","isocode":"NI"},{"name":"Niger","isocode":"NE"},{"name":"Nigeria","isocode":"NG"},{"name":"Norway","isocode":"NO"},{"name":"Oman","isocode":"OM"},{"name":"Pakistan","isocode":"PK"},{"name":"Palestine","isocode":"PS"},{"name":"Panama","isocode":"PA"},{"name":"Papua New Guinea","isocode":"PG"},{"name":"Paraguay","isocode":"PY"},{"name":"Peru","isocode":"PE"},{"name":"Poland","isocode":"PL"},{"name":"Portugal","isocode":"PT"},{"name":"Puerto Rico","isocode":"PR"},{"name":"Qatar","isocode":"QA"},{"name":"Reunion","isocode":"RE"},{"name":"Romania","isocode":"RO"},{"name":"Russia","isocode":"RU"},{"name":"Rwanda","isocode":"RW"},{"name":"Saint Lucia","isocode":"LC"},{"name":"Saint Vincent and the Grenadines","isocode":"VC"},{"name":"Samoa","isocode":"WS"},{"name":"Sao Tome and Principe","isocode":"ST"},{"name":"Saudi Arabia","isocode":"SA"},{"name":"Senegal","isocode":"SN"},{"name":"Serbia","isocode":"RS"},{"name":"Sierra Leone","isocode":"SL"},{"name":"Singapore","isocode":"SG"},{"name":"Slovakia","isocode":"SK"},{"name":"Slovenia","isocode":"SI"},{"name":"Solomon Islands","isocode":"SB"},{"name":"Somalia","isocode":"SO"},{"name":"South Africa","isocode":"ZA"},{"name":"South Sudan","isocode":"SS"},{"name":"Spain","isocode":"ES"},{"name":"Sri Lanka","isocode":"LK"},{"name":"Sudan","isocode":"SD"},{"name":"Suriname","isocode":"SR"},{"name":"Swaziland","isocode":"SZ"},{"name":"Sweden","isocode":"SE"},{"name":"Switzerland","isocode":"CH"},{"name":"Syria","isocode":"SY"},{"name":"Tajikistan","isocode":"TJ"},{"name":"Tanzania","isocode":"TZ"},{"name":"Thailand","isocode":"TH"},{"name":"Timor-Leste","isocode":"TL"},{"name":"Togo","isocode":"TG"},{"name":"Tonga","isocode":"TO"},{"name":"Trinidad and Tobago","isocode":"TT"},{"name":"Tunisia","isocode":"TN"},{"name":"Turkey","isocode":"TR"},{"name":"Turkmenistan","isocode":"TM"},{"name":"Uganda","isocode":"UG"},{"name":"Ukraine","isocode":"UA"},{"name":"United Arab Emirates","isocode":"AE"},{"name":"United Kingdom","isocode":"GB"},{"name":"United States","isocode":"US"},{"name":"Uruguay","isocode":"UY"},{"name":"Uzbekistan","isocode":"UZ"},{"name":"Vanuatu","isocode":"VU"},{"name":"Venezuela","isocode":"VE"},{"name":"Vietnam","isocode":"VN"},{"name":"Virgin Islands, British","isocode":"VG"},{"name":"Virgin Islands, U.S.","isocode":"VI"},{"name":"Yemen","isocode":"YE"},{"name":"Zambia","isocode":"ZM"},{"name":"Zimbabwe","isocode":"ZW"}];
            input(id="selected-country-input",type="hidden",name="code")
            input(id="page-referer-input",type="hidden",name="pageReferer", value="https://www.wiley.com:9002/en-ag/careers")
            ul(role='menu')
