block footer
    footer(class="main-footer-container", role="contentinfo")
        span.back-to-top(href="#0", tabindex="0", title="Back to top")

        div(class="container")
            div(class="main-footer-links-container")
                .main-footer-links
                    .footer-links-title ABOUT WILEY
                    ul.footer-links-items
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-301827.html', title='ABOUT US') ABOUT US
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-311100.html', title='CAREERS') CAREERS
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-301698.html', title='LOCATIONS') LOCATIONS
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-301728.html', title='INVESTOR RELATIONS') INVESTOR RELATIONS
                        li
                            a(href='http://www.wiley.com/go/news', title='NEWSROOM') NEWSROOM
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-302371.html', title='SUBJECTS') SUBJECTS
                    ul.footer-links-items
                        li
                            a(href='http://www.wiley.com/WileyCDA/', title='EVENTS') EVENTS
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-302256.html', title='BRANDS') BRANDS
                        li
                            a(href='http://www.wiley.com/WileyCDA/', title='RESOURCES') RESOURCES
                        li
                            a(href='/en_US/cpa/products/', title='Blank Videotapes') Blank Videotapes
                        li
                            a(href='#', title='Universities And Schools') Universities And Schools
                        li
                            a.livechat(href='https://server.iad.liveperson.net/hc/25669575/?cmd=file&file=visitorWantsToChat&site=25669575&byhref=1', data-targetlink='https://server.iad.liveperson.net/hc/25669575/?cmd=file&file=visitorWantsToChat&site=25669575&byhref=1', title='Live Chat') Live Chat
                .main-footer-links
                    .footer-links-title RESOURCES
                    ul.footer-links-items
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-301837.html', title='AUTHORS') AUTHORS
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-301905.html', title='INSTRUCTORS') INSTRUCTORS
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-404702.html', title='STUDENTS') STUDENTS
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-301886.html', title='LIBRARIANS') LIBRARIANS
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-301962.html', title='SOCIETIES') SOCIETIES
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-301898.html', title='BOOKSELLERS') BOOKSELLERS
                        li
                            a(href='/en_US/cpa/products', title='View All Products') View All Products
                        li
                            a(href='#', title='Live Learning System Courses') Live Learning System Courses
                        li
                            a(href='http://www.hybris.com', title='About hybris', target='_blank') About hybris
                        li
                            a(href='http://www.agile-commerce.com/', title='Agile Commerce Blog', target='_blank') Agile Commerce Blog
                .main-footer-links
                    .footer-links-title CUSTOMER SUPPORT
                    ul.footer-links-items
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-301465.html', title='PRIVACY POLICY') PRIVACY POLICY
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-301466.html', title='SITE MAP') SITE MAP
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-301456.html', title='CONTACT US') CONTACT US
                        li
                            a(href='http://www.wiley.com/WileyCDA/Section/id-302029.html', title='HELP') HELP

            div(class="footer-social-links")
                div(class="content")
                    a(class="fb" href="javascript:void(0);", title="Facebook")
                    a(class="tw" href="javascript:void(0);", title="Twitter")
                    a(class="go" href="javascript:void(0);", title="Google")
            div(class="main-footer-copyright")
                div(class="footer-copyright-text")
                    p Copyright &copy; 2000-
                        script.
                            document.write(new Date().getFullYear())
                        |  by
                        a(href='javascript:void(0);')
                            b  John Wiley & Sons, Inc.,
                        |  or related companies. All rights reserved.

                a(class="footer-logo", href="javascript:void(0);", title="Wiley")
                    img(alt="Wiley", src="https://uat3.store.wiley.com/sys-master/images/ha0/h0b/9078883352606/wiley-logo_optimized.png")
