div(class="site-form form-forgot-password")
	form
		div(class="row")
			div(class="col-xs-12 col-sm-9")
				div(class="form-cell has-error")
					div(class="form-label required")
						label(for="email")
							| Email Address or Account ID
					div(class="form-field")
						input(type="text", id="email", placeholder="<email address or account id>")
					div(class="help-block")
						| Enter your email address or Account ID
			div(class="col-xs-12 col-sm-3 text-right")
				button(class="button button-main large")
					| Submit

