div(class="site-form")
	form
		div(class="form-cell")
			div(class="form-label required")
				label(id="card-number")
					| Card Number
			div(class="form-field")
				input(type="text", for="card-number", placeholder="************1324")
		div(class="row")
			div(class="col-xs-6 col-sm-6")
				div(class="form-cell")
					div(class="form-label required")
						label(id="expiration-date")
							| Expiration Date
					div(class="form-field select-component select-form-element")
						select(for="expiration-date-month")
							option
								| 01 (Jan)
							option
								| 02 (Feb)
							option
								| 03 (Mar)
							option
								| 04 (Apr)
							option
								| 05 (May)
							option
								| 06 (Jun)
							option
								| 07 (Jul)
							option
								| 08 (Aug)
							option
								| 09 (Sep)
							option
								| 10 (Oct)
							option
								| 11 (Nov)
							option
								| 12 (Dec)
			div(class="col-xs-6 col-sm-6")
				div(class="form-cell")
					div(class="form-label required")
						label(id="expiration-year")
							| &nbsp;
					div(class="form-field select-component select-form-element")
						select(for="expiration-date-year")
							option
								| 2016
							option
								| 2017
							option
								| 2018
							option
								| 2019
							option
								| 2020
		div(class="row")
			div(class="col-xs-6 col-md-6")
				div(class="form-cell")
					div(class="form-label required")
						label(id="security-code")
							| Security Code
					div(class="form-field")
						input(type="text", for="security-code", placeholder="")
		div(class="row payment-gateway-buttons")
			div(class="col-xs-12 col-md-6")
				div(class="form-cell")
					button(class="button button-main large")
						| Continue
			div(class="col-xs-12 col-md-6")
				div(class="form-cell")
					button(class="button button-outlined large")
						| Cancel