div(class="site-form")
	form
		if isB2BPage
			div(class="form-cell")
				div(class="form-label required")
					label(for="login-id")
						| Login ID
				div(class="form-field")
					input(type="text", id="login-id", placeholder="<login id>", disabled=true)
			div(class="form-cell")
				div(class="form-label required")
					label(for="email")
						| Email Address
				div(class="form-field")
					input(type="text", id="email", placeholder="<email address>", disabled=true)
		div(class="form-cell")
			div(class="form-label")
				label(for="title")
					| Title (optional)
			div(class="form-field select-component select-form-element")
				select(id="title")
					option
						| Title1
					option
						| Title2
		div(class="form-cell")
			div(class="form-label required")
				label(for="first-name")
					| First Name
			div(class="form-field")
				input(type="text", for="first-name", placeholder="<first name>")
		div(class="form-cell")
			div(class="form-label")
				label(for="middle-name")
					| Middle Name (optional)
			div(class="form-field")
				input(type="text", id="middle-name", placeholder="<middle name>")
		div(class="form-cell")
			div(class="form-label required")
				label(for="last-name")
					| Last Name
			div(class="form-field")
				input(type="text", id="last-name", placeholder="<last name>")
		div(class="form-cell")
			div(class="form-label")
				label(for="suffix")
					| Suffix (optional)
			div(class="form-field")
				input(type="text", id="suffix", placeholder="<suffix>")
		if !isB2BPage
			div(class="form-cell")
				div(class="form-label")
					label(for="student-id")
						| Student ID (optional)
				div(class="form-field")
					input(type="text", id="student-id", placeholder="<student-id>")
			div(class="form-cell")
				div(class="form-label")
					label(for="major")
						| Major (optional)
				div(class="form-field")
					input(type="text", id="major", placeholder="<major>")
			div(class="row")
				div(class="col-xs-12 col-sm-12")
					div(class="form-label required")
						label(for="month")
							| Graduation Date (mm/yyyy) (optional)
			div(class="row")
				div(class="col-xs-12 col-sm-6")
					div(class="form-cell")
						div(class="form-field select-component select-form-element")
							select(id="month")
								option
									| Jan
								option
									| Feb
				div(class="col-xs-12 col-sm-6")
					div(class="form-cell")
						div(class="form-field select-component select-form-element")
							select(id="year")
								option
									| 2000
								option
									| 2001
			div(class="form-cell")
				div(class="form-field checkbox-component")
					input(type="checkbox", id="enrolled")
					label(for="enrolled")
						| I am currently enrolled in school
			div(class="form-cell")
				div(class="form-label")
					label(for="school")
						| School
				div(class="form-field select-component select-form-element")
					select(id="school")
						option
							| school

		div(class="my-account-button-wrap")
			div(class="row")
				div(class="col-xs-12 col-sm-7")
					button(class="button button-main large")
						| Update Information
				div(class="col-xs-12 col-sm-5")
					button(class="button button-main large button-outlined")
						| Cancel