div(class="site-form")
	form
		div(class="form-wrap wrap")
			div(class="row")
				div(class="col-xs-12 col-sm-6")
					div(class="form-cell")
						div(class="form-label required")
							label(id="first-name")
								| First Name
						div(class="form-field")
							input(type="text", for="first-name", placeholder="<first Name>")
				div(class="col-xs-12 col-sm-6")
					div(class="form-cell")
						div(class="form-label required")
							label(id="last-name")
								| Last Name
						div(class="form-field")
							input(type="text", for="last-name", placeholder="<last Name>")
			div(class="row")
				div(class="col-xs-12 col-sm-6")
					div(class="form-cell")
						div(class="form-label required")
							label(id="email")
								| Email Address
						div(class="form-field")
							input(type="text", for="email", placeholder="<email address>")

			if isFreeTrialCourse
				div(class="row")
					div(class="col-xs-12 col-sm-6")
						div(class="form-cell")
							div(class="form-label required")
								label(id="student")
									| Student ID (optional)
							div(class="form-field")
								input(type="text", for="student", placeholder="<student id>")
					div(class="col-xs-12 col-sm-6")
						div(class="form-cell")
							div(class="form-label required")
								label(id="major")
									| Major (optional)
							div(class="form-field")
								input(type="text", for="major", placeholder="<major>")

				div(class="row")
					div(class="col-xs-12 col-sm-6")
						div(class="form-cell")
							div(class="form-label required")
								label(id="graduation-date")
									| Graduation Date (mm/yyyy) (optional)
							div(class="form-field")
								div(class="form-field select-component select-form-element")
									select(for="graduation-date")
										option
											| 08
										option
											| 09
										option
											| 10

					div(class="col-xs-12 col-sm-6")
						div(class="form-cell")
							div(class="form-label graduation-year")
								label
									| &nbsp;
							div(class="form-field")
								div(class="form-field select-component select-form-element")
									select(for="graduation-date")
										option
											| 2016
										option
											| 2016
										option
											| 2016
		
		if freeTrialDisabledButton
			div(class="button-wrap")
				button(class="button button-main large" disabled)
					| Continue
		else
			div(class="button-wrap")
				button(class="button button-main large")
					| Continue
		