div(class="site-form central-form")
	form
		div(class="form-cell heading")
			h1 New to Wiley?
		div(class="form-cell")
			div(class="form-label required")
				label(id="email")
					| Email Address
			div(class="form-field")
				input(type="text", for="email", placeholder="<email address>")
		div(class="form-cell")
			button(class="button button-main large")
				| Create an Account
		div(class="form-cell")
			button(class="button button-outlined large")
				| Checkout as Guest