div(class="site-form central-form")
	form
		div(class="form-cell heading")
			h1 Create an Account
		div(class="form-cell")
			div(class="form-label required")
				label(id="email")
					| Email Address
			div(class="form-field")
				input(type="text", for="email", placeholder="<email address>", disabled=true)
		div(class="form-cell")
			div(class="form-label required")
				label(id="first-name")
					| First Name
			div(class="form-field")
				input(type="text", for="first-name", placeholder="<first name>")
		div(class="form-cell")
			div(class="form-label required")
				label(id="last-name")
					| Last Name
			div(class="form-field")
				input(type="text", for="last-name", placeholder="<last name>")
		div(class="form-cell")
			div(class="form-label required")
				label(id="password")
					| Password
			div(class="form-field")
				input(type="text", for="password", placeholder="<password>")
		div(class="form-cell")
			div(class="form-field")
				div(class="strength-meter-component meter-week")
		div(class="form-cell")
			div(class="form-label required")
				label(id="confirm-password")
					| Confirm Password
			div(class="form-field")
				input(type="text", for="confirm-password", placeholder="<confirm password>")
		div(class="form-cell")
			div(class="form-field checkbox-component")
				input(type="checkbox", id="accept-promotions")
				label(for="accept-promotions")
					| I am interested in receiving promotions from Wiley
		div(class="form-cell")
			button(class="button button-main large")
				| Create Account