div(class="site-form")
	div(class="row")
		div(class="col-xs-12 col-sm-12")
			form
				div(class="form-field input-group")
					if (promoStatus != "promo-denied") && (promoStatus != "promo-accepted")
						input(type="text", aria-label="Enter promaotion code", placeholder="Enter promaotion code")

					if promoStatus == "promo-denied"
						input(type="text", aria-label="Enter promaotion code", placeholder="Enter promaotion code", class="denied")
					if promoStatus == "promo-accepted"
						input(type="text", aria-label="Enter promaotion code", placeholder="Enter promaotion code", class="accepted")

					div(class="input-group-btn")
						button(class="button button-main large")
							| Apply
	div(class="row")
		div(class="col-xs-12 col-sm-12")
			div(class="row promo-message")
				if promoStatus == "promo-denied"
					div(class="col-xs-12 col-sm-12")
						span
							| This discount code has expired.
				if promoStatus == "promo-accepted"
					div(class="col-xs-12 col-sm-8")
						span
							| Discount code XXXXXXX accepted. 10% off your order.
					div(class="col-xs-12 col-sm-4")
						button(class="button button-outlined small") Remove
