div(class="site-form")
	form
		div(class="row")
			div(class="col-xs-12 col-sm-12")
				div(class="form-cell heading text-center")
					h4 Create an Account
					p for a Fast Checkout and Easy Access to Previous Orders
				div(class="form-cell")
					p(class="text-left") &lt;email address&gt;
				div(class="form-cell")
					div(class="form-label required")
						label(id="password")
							| Password
					div(class="form-field")
						input(type="text", for="password", placeholder="<password>")
				div(class="form-cell")
					div(class="form-label required")
						label(id="confirm-password")
							| Confirm Password
					div(class="form-field")
						input(type="text", for="confirm-password", , placeholder="<confirm password>")
				div(class="form-cell")
					div(class="form-field checkbox-component")
						input(type="checkbox", id="accept-promotions")
						label(for="accept-promotions")
							| I am interested in receiving promotions from Wiley
				div(class="form-cell text-center")
					button(class="button button-main large")
						| Create Account