div(class="site-form central-form")
	form
		div(class="form-cell heading")
			if isB2BPage
				h1 Have a business account? - Sign In

			if !isB2BPage
				h1 Returning Customer
		if isB2BPage
			div(class="form-cell")
				div(class="form-label required")
					label(id="account-id-or-email")
						| Account ID OR Email Address
				div(class="form-field")
					input(type="text", for="account-id-or-email", placeholder="<account id or email address>")
		if !isB2BPage
			div(class="form-cell")
				div(class="form-label required")
					label(id="email")
						| Email Address
				div(class="form-field")
					input(type="text", for="email", placeholder="<email address>")
		div(class="form-cell thin")
				div(class="form-label required")
					label(id="password")
						| Password
				div(class="form-field")
					if !isB2BPage
						input(type="text", for="password", placeholder="<password>")
					if isB2BPage
						input(type="text", for="password", placeholder="<password>")
		div(class="form-cell")
			div(class="form-field")
				a(href="#formForgotPassword", data-toggle="modal") Forgot your password?
		div(class="form-cell")
			button(class="button button-main large")
				| #{loginMainButtonTitle}

+modal("formForgotPassword", "Forgot your Password")
	div(id="forgotPasswordMsg")
		| Enter your email address or account ID and we will email you instructions to reset your password.
	include form-forgot-password