div(class="site-form central-form")
	form
		div(class="form-cell heading")
			h1 Reset your password below
		div(class="form-cell heading")
			| Once finished, you will need to log in again with your new password.
		div(class="form-cell")
			div(class="form-label required")
				label(id="password")
					| Password
			div(class="form-field")
				input(type="text", for="password", placeholder="<password>")
		div(class="form-cell")
				div(class="form-label required")
					label(id="rPassword")
						| Re-enter Password
				div(class="form-field")
					input(type="text", for="rPassword", placeholder="<re-enter password>")
		div(class="form-cell")
			button(class="button button-main large")
				| Reset Password