block headers
    header(class="main-header-container", id="main-header-container", role="banner")
        div(class="main-sticky-header")

            div(class="main-header-navigation")

                div(class="main-navigation-mobile-header")

                    a(class="logo", href="javascript:void(0);", title="Wiley")
                        img(src="responsive/common/images/logo.png", alt="Wiley")
                    span(class="navbar-toggle collapsed visible-xs-inline-block", type='button')
                        span(class="patty")
                    span(class="main-navigation-search-icon icon-search-black visible-xs-inline-block")
                    span(class="my-cart-link visible-xs-inline-block")
                        a(href="#", class="shopping-cart-icon") Shopping cart

                nav(id="main-header-navbar", role="navigation", class="collapse navbar-collapse navbar")
                    include ./header-navigation
                    include ./country-selector
                    ul(class="navigation-links-items")
                        li(class="navigation-link-item")
                            a(href="#") Contact
                        li(class="navigation-link-item")
                            a(href="#") Help
                        li(class="navigation-link-item my-account-link")
                            a(href="#") My Account
                        li(class="navigation-link-item my-cart-link hidden-xs")
                            a(href="#", class="shopping-cart-icon") Shopping cart
            div(class="main-navigation-search")
                div(class="container")
                    div(class="input-group")
                        input(type="search", aria-label="Search by Title, Author, Keyword or ISBN", class="form-control main-navigation-search-input", placeholder="Search by Title, Author, Keyword or ISBN")
                        span.input-group-btn
                            button(type="submit") Search
                    aside(class="main-navigation-search-autocomplete hide")
                        section.searchresults-section.suggestions
                            h3 Suggestions
                            ul.searchresults-list
                                li.searchresults-item
                                    a(href="#") <b>Account</b>ing
                                li.searchresults-item
                                    a(href="#") <b>Account</b>ant
                                li.searchresults-item
                                    a(href="#") <b>Account</b>s
                                li.searchresults-item
                                    a(href="#") <b>Account</b>ant
                         section.searchresults-section
                            h3 Products
                            ul.searchresults-list
                                li.searchresults-item
                                    a(href="#") International <b>Account</b>ing Standarts Explained
                                li.searchresults-item
                                    a(href="#") Intermediate <b>Account</b>ing, 16th Edition
                                li.searchresults-item
                                    a(href="#") Financial <b>Account</b> Reporting Handbook 2018
                                li.searchresults-item
                                    a(href="#") Chartered <b>Account</b>ants Auditing & Assurance Handbook 2013 + Wiley E-Text: Incorpo Assurance Handbook 2013
                            a.all-results-link See all results
                         section.searchresults-section
                            h3 Other
                            ul.searchresults-list
                                li.searchresults-item
                                    a(href="#") Culinary & Hospitality
                                li.searchresults-item
                                    a(href="#") Business & Management
                            a.all-results-link See all results