ul(class="navigation-menu-items")
    li
        a(href="#", class="collapsed") Who we serve
        div(class="dropdown-menu collapse")
            ul(class="dropdown-items")
                li(class="dropdown-item")
                    a(href="/students", target="_blank") Students
                li(class="dropdown-item")
                    a(href="/Instructors") Instructors
                li(class="dropdown-item")
                    a(href="/Researchers", target="_self") Researchers
                li(class="dropdown-item")
                    a(href="#") Professionals
                li(class="dropdown-item")
                    a(href="#") Resellers
                li(class="dropdown-item")
                    a(href="#") Authors
                li(class="dropdown-item")
                    a(href="#") Institutions
                li(class="dropdown-item")
                    a(href="#") Librarians
                li(class="dropdown-item")
                    a(href="#") Journalists
                li(class="dropdown-item")
                    a(href="#") Students
                li(class="dropdown-item")
                    a(href="#") Instructors
                li(class="dropdown-item")
                    a(href="#") Researchers
                li(class="dropdown-item")
                    a(href="#") Professionals
                li(class="dropdown-item")
                    a(href="#") Resellers
                li(class="dropdown-item")
                    a(href="#") Authors
                li(class="dropdown-item")
                    a(href="#") Institutions
                li(class="dropdown-item")
                    a(href="#") Librarians
                li(class="dropdown-item")
                    a(href="#") Journalists
    li
        a(href="/subjects", class="collapsed") Subjects
        div(class="dropdown-menu collapse")
            ul(class="dropdown-items")
                li(class="dropdown-item")
                    a(href="#") Shop by subjects
                    div(class="dropdown-items-wrapper")
                        ul(class="dropdown-items")
                            li(class="dropdown-item")
                                a(href="/agriculture", target="_blank") AGRICULTURE
                                ul(class="dropdown-items")
                                    li(class="dropdown-item")
                                        a(href="#") Agriculture
                                    li(class="dropdown-item")
                                        a(href="#") Aquaculture
                            li(class="dropdown-item")
                                a(href="#") BUSINESS & MANAGEMENT
                                ul(class="dropdown-items")
                                    li(class="dropdown-item")
                                        a(href="#") Accounting
                                    li(class="dropdown-item")
                                        a(href="#") Consulting
                                    li(class="dropdown-item")
                                        a(href="#") Property & Real Estate
                                    li(class="dropdown-item")
                                        a(href="#") Advertising
                                    li(class="dropdown-item")
                                        a(href="#") Accounting
                                    li(class="dropdown-item")
                                        a(href="#") Economics
                                    li(class="dropdown-item")
                                        a(href="#") Public Administration
                                    li(class="dropdown-item")
                                        a(href="#") Business & Management
                                    li(class="dropdown-item")
                                        a(href="#") Property & Real Estate
                                    li(class="dropdown-item")
                                        a(href="#") Nonprofit Organizations	Training & HR Development
                                    li(class="dropdown-item")
                                        a(href="#") Business Self-Help
                                    li(class="dropdown-item")
                                        a(href="#") Economics
                                    li(class="dropdown-item")
                                        a(href="#") Intellectual Property & Licensing
                                    li(class="dropdown-item")
                                        a(href="#") Business & Society
                                    li(class="dropdown-item")
                                        a(href="#") Accounting
                                    li(class="dropdown-item")
                                        a(href="#") Consulting
                                    li(class="dropdown-item")
                                        a(href="#") Property & Real Estate
                                    li(class="dropdown-item")
                                        a(href="#") Advertising
                                    li(class="dropdown-item")
                                        a(href="#") Accounting
                                    li(class="dropdown-item")
                                        a(href="#") Economics
                                    li(class="dropdown-item")
                                        a(href="#") Public Administration
                                    li(class="dropdown-item")
                                        a(href="#") Business & Management
                                    li(class="dropdown-item")
                                        a(href="#") Property & Real Estate
                                    li(class="dropdown-item")
                                        a(href="#") Nonprofit Organizations	Training & HR Development
                                    li(class="dropdown-item")
                                        a(href="#") Business Self-Help
                                    li(class="dropdown-item")
                                        a(href="#") Economics
                                    li(class="dropdown-item")
                                        a(href="#") Intellectual Property & Licensing
                                    li(class="dropdown-item")
                                        a(href="#") Business & Society

                            li(class="dropdown-item")
                                a(href="#") Chemistry
                            li(class="dropdown-item")
                                a(href="#") Computing
                            li(class="dropdown-item")
                                a(href="#") EARTH & SPACE SCIENCES
                            li(class="dropdown-item")
                                a(href="#") ENGINEERING & MATERIALS SCIENCE
                            li(class="dropdown-item")
                                a(href="#") Chemistry
                            li(class="dropdown-item")
                                a(href="#") Computing
                            li(class="dropdown-item")
                                a(href="#") EARTH & SPACE SCIENCES
                            li(class="dropdown-item")
                                a(href="#") ENGINEERING & MATERIALS SCIENCE
                            li(class="dropdown-item")
                                a(href="#") Computing
                            li(class="dropdown-item")
                                a(href="#") EARTH & SPACE SCIENCES
                            li(class="dropdown-item")
                                a(href="#") ENGINEERING & MATERIALS SCIENCE
                            li(class="dropdown-item")
                                a(href="#") EARTH & SPACE SCIENCES
                            li(class="dropdown-item")
                                a(href="#") ENGINEERING & MATERIALS SCIENCE
                            li(class="dropdown-item")
                                a(href="#") Chemistry
                            li(class="dropdown-item")
                                a(href="#") Computing
                            li(class="dropdown-item")
                                a(href="#") EARTH & SPACE SCIENCES
                            li(class="dropdown-item")
                                a(href="#") ENGINEERING & MATERIALS SCIENCE
                            li(class="dropdown-item")
                                a(href="#") Computing
                            li(class="dropdown-item")
                                a(href="#") EARTH & SPACE SCIENCES
                            li(class="dropdown-item")
                                a(href="#") ENGINEERING & MATERIALS SCIENCE
                li(class="dropdown-item")
                    a(href="#") Shop by authors
                li(class="dropdown-item")
                    a(href="#") Shop by tags
                li(class="dropdown-item")
                    a(href="#") Shop by language
                li(class="dropdown-item")
                    a(href="#") Shop by message
                li(class="dropdown-item")
                    a(href="#") Shop by country
                li(class="dropdown-item")
                    a(href="#") Shop by mood
                li(class="dropdown-item")
                    a(href="#") Shop offline
                li(class="dropdown-item")
                    a(href="#") Shop by tags
                li(class="dropdown-item")
                    a(href="#") Shop by language
                li(class="dropdown-item")
                    a(href="#") Shop by message
                li(class="dropdown-item")
                    a(href="#") Shop by country
                li(class="dropdown-item")
                    a(href="#") Shop by mood
                li(class="dropdown-item")
                    a(href="#") Shop offline
                li(class="dropdown-item")
                    a(href="#") Shop by type
                li(class="dropdown-item")
                    a(href="#") Shop by resources
                    div(class="dropdown-items-wrapper")
                        ul(class="dropdown-items")
                            li(class="dropdown-item")
                                a(href="#") Authors
                            li(class="dropdown-item")
                                a(href="#") Corporations
                            li(class="dropdown-item")
                                a(href="#") Institutions
                            li(class="dropdown-item")
                                a(href="#") Instructors
                            li(class="dropdown-item")
                                a(href="#") Authors
                            li(class="dropdown-item")
                                a(href="#") Corporations
                            li(class="dropdown-item")
                                a(href="#") Institutions
                            li(class="dropdown-item")
                                a(href="#") Instructors
                            li(class="dropdown-item")
                                a(href="#") Authors
                            li(class="dropdown-item")
                                a(href="#") Corporations
                            li(class="dropdown-item")
                                a(href="#") Institutions
                            li(class="dropdown-item")
                                a(href="#") Instructors
                            li(class="dropdown-item")
                                a(href="#") Authors
                            li(class="dropdown-item")
                                a(href="#") Corporations
                            li(class="dropdown-item")
                                a(href="#") Institutions
                            li(class="dropdown-item")
                                a(href="#") Instructors

    li
        a(href="#", class="collapsed") The Wiley Network
        div(class="dropdown-menu collapse")
            ul(class="dropdown-items")
                li(class="dropdown-item")
                    a(href="#") 2 level menu Shop by subjects
                    div(class="dropdown-items-wrapper")
                        ul(class="dropdown-items")
                            li(class="dropdown-item")
                                a(href="/agriculture", target="_blank") AGRICULTURE
                                ul(class="dropdown-items")
                                    li(class="dropdown-item")
                                        a(href="#") Agriculture
                                    li(class="dropdown-item")
                                        a(href="#") Aquaculture


                li(class="dropdown-item")
                    a(href="#") 2 level menu Shop by subjects
                    div(class="dropdown-items-wrapper")
                        ul(class="dropdown-items")
                            li(class="dropdown-item")
                                a(href="#") 3 level menu1
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjects2
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjects3
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjects4
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjectsLast2
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjectsLast1
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") Shop by subjects
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjectsLast2
                            li(class="dropdown-item")
                                a(href="#") 3 level menu Shop by subjectsLast1
                li(class="dropdown-item")
                    a(href="#") 2 level menu Shop by subjects
                    div(class="dropdown-items-wrapper")
                        ul(class="dropdown-items")
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu1
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects2
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects3
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects4
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                li(class="dropdown-item")
                                    a(href="#") 2 level menu Shop by subjects
                                    div(class="dropdown-items-wrapper")
                                        ul(class="dropdown-items")
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu1
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects2
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects3
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects4
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjectsLast2
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjectsLast1
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") Shop by subjects
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjectsLast2
                                            li(class="dropdown-item")
                                                a(href="#") 3 level menu Shop by subjectsLast1


                li(class="dropdown-item")
                    a(href="#") 2 level menu Shop by subjects
                li(class="dropdown-item")
                    a(href="#") 2 level menu Shop by subjects
    li
        a(href="#", class="collapsed") About us










