block header
	header(class="main-header-container" id="main-header-container")
		div(class="container")
			nav(class="main-navigation-container", role="navigation")
				div(class="main-navigation-links")
					button(class="main-navigation-toggle collapsed", type="button", data-toggle="collapse", data-target="#main-navigation-menu", aria-expanded="false")

					a(class="logo", href="javascript:void(0);", title="Wiley")
						img(src="responsive/common/images/logo.png", alt="Wiley")

					div(class="navigation-links-items")
						div(class="navigation-link-item welcome-link")
							a(href="javascript:void(0);")
								| Sign In/Register

						div(class="navigation-link-item my-cart-link")
							a(href="javascript:void(0);")
								| &nbsp;

				div(id="main-navigation-menu", class="main-navigation-menu collapse")
					ul(class="navigation-menu-items")
						li: a(href="javascript:void(0);") Home
						li
							a(href="javascript:void(0);") Subjects
							div(class="dropdown-menu")
								div(class="dropdown-items-wrapper")
									ul(class="dropdown-items")
										li: a(href="#") Accounting
										li: a(href="#") Arts & Architecture
										li: a(href="#") Business & Management
										li: a(href="#") Chemistry
										li: a(href="#") Computing
									ul(class="dropdown-items")
										li: a(href="#") Culinary & Hospitality
										li: a(href="#") Earth, Space & Environmental Sciences
										li: a(href="#") Economics
										li: a(href="#") Education
									ul(class="dropdown-items")
										li: a(href="#") Law & Criminology
										li: a(href="#") Life Sciences
										li: a(href="#") Lifestyle
										li: a(href="#") Mathematics & Statistics
										li: a(href="#") Psychology
						li: a(href="javascript:void(0);") About Wiley
						li: a(href="javascript:void(0);") Contact US
						li: a(href="javascript:void(0);") Help