div(class="product-list-info")
	div(class="product-list-image")
		img(src="responsive/common/images/product-image.png", alt="product image", width="124", height="164")
	div(class="product-list-title")
		| 2014 FASB Update Intermediate Accounting, 15th Edition
	div(class="product-list-description")
		block productDescription
