#selectCountryModalWnd.modal.fade.modalWindow(role='dialog')
    .modal-dialog
        .modal-content
            form(method='action')
                .modal-header
                    .modal-title Undetected country
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .modal-wnd-list
                        p.info
                            | Looks like you are in 
                            span#wiley-current-location
                            | . Would you like to go to the &nbsp;
                            span#wiley-new-location
                            | ?
                .modal-footer
                    button.button.large.button-dark-gray(id="changeLocationCancelBtn") NO, THANK YOU
                    button.button.large.button-teal(id="changeLocationConfirmBtn") YES