div(class="panel-pagination")
	div(class="pagination-element")
		a(href="#", class="arrow-left", title="") &nbsp;
	div(class="pagination-element active")
		a(href="#", class="pagination-item", title="") 2
	div(class="pagination-element")
		a(href="#", class="text", title="") of
	div(class="pagination-element")
		a(href="#", class="pagination-item", title="") 4
	div(class="pagination-element")
		a(href="#", class="arrow-right", title="") &nbsp;