section(class="product-item")
    div(class="product-image")
        a(href="#")
            img(src="responsive/common/images/product-image.png", class="item-image")
        .product-teaser
            i(class="icon-ok-circle")
            | More related products available
    div(class="product-content")
        span(class="price-disclaimer")
            sup *
            |  Price and Tax<span class="hidden-xs"> information</span>
            a(role="menuitem", tabindex="0", data-placement="bottom-right top-right" aria-label="information icon", class="icon-info", data-container-class="wiley-tax-popover" data-content='<p>Information about e-books:</p><ul><li>E-books are offered as e-Pubs or PDFs. To download and read them, users must install Adobe Digital Editions (ADE) on their PC.</li><li>E-books have DRM protection on them, which means only the person who purchases and downloads the e-book can access it.</li><li>E-books are non-returnable and non-refundable.</li><li>To learn more about our e-books, please refer to our&nbsp;<a href=&quot;http://www.wiley.com/WileyCDA/Section/id-302039.html&quot;>FAQ</a>.</li></ul>')
        h3(class="product-title")
            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
        div(class="product-description") Decription Description Description
        .product-teaser
            i(class="icon-ok-circle")
            | More related products available
        div(class="product-table-flexible")
            div(class="product-table-container")
                div(class="product-table-body")
                    
                    div.product-table-row
                        .table-row-content
                            div(class="product-type")
                                div
                                    span.product-type-name Spiral-Bound Paperback
                                        i(class="product-badge") Out of stock
                            div(class="product-date") Sep 2019
                            div(class="product-price gray") $50.00
                            div(class="product-price") $44.00
                            div(class="product-quantity")
                                input.product-item-spinner(aria-label="Product Quantity")
                            div(class="product-button")
                                a(class="small-button") Add to cart
                    div.product-table-row
                        .table-row-content
                            div(class="product-type")
                                div
                                    span.product-type-name Loose-Leaf
                                        i(class="product-badge") In stock
                            div(class="product-date") Apr 2016
                            div(class="product-price gray") CAD $10,000.00
                            div(class="product-price") CAD $8,000.00
                            div(class="product-quantity")
                                span(class="product-quantity-title") Quantity:&nbsp
                                | 1
                            div(class="product-button")
                                a(class="small-button") Add to cart
                     div.product-table-row
                        .table-row-content
                            div(class="product-type")
                                div
                                    span.product-type-name eBook
                            div(class="product-date") Sep 2015
                            div(class="product-price gray")
                            div(class="product-price")
                            div(class="product-quantity")
                            div(class="product-button")
                                a(class="small-button learn-more-button") View on Wiley Online Library
                    div.product-table-row
                        div.table-row-content
                            div(class="product-type")
                                div
                                    span.product-type-name Wiley Custom Set
                            div(class="product-date") Aug 2015
                            div(class="product-price gray") $71.30
                            div(class="product-price") $50.00
                            div(class="product-quantity")
                                input.product-item-spinner(aria-label="Product Quantity")
                            div(class="product-button")
                                span(class="pr-not-available") Product not available </br> for purchase
                        div.product-includes
                            p Set includes:
                                ul
                                    li Custom print text
                                    li webassign plus math registration card




