section(class="product-item")
    div(class="product-image")
        img(src="responsive/common/images/product-image.png", class="item-image")
    div(class="product-content")
        span(class="price-disclaimer")
            sup *
            |  Price and Tax<span> information</span>
        h3(class="product-title")
            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
        div(class="product-description") Decription Description Description
        div(class="product-teaser")
            i(class="icon-ok-circle")
            | More related products available
        div(class="product-table")
            table
                thead
                    tr
                        th Type
                        th Published on
                        th Quantity
                        th Price
                        th
                tbody
                    tr
                        td(class="product-type")
                            div
                                span.product-type-name Digital content
                                    span.product-info-icon
                                        | &nbsp;
                                        span(class="icon-info black", data-content='<p><a href="#">Text with styles</a></p>')

                        td(class="product-date") 08/04/2016
                                td(class="product-quantity")
                                    span(class="product-quantity-title") Quantity:&nbsp
                                    | 1
                                td(class="product-price") $20
                                td(class="product-button")
                                    span(class="pr-not-available") Product not available </br> for purchase
                            tr
                                td(class="product-type")
                                    span
                                        | PAPERBACK PAPERBACK
                                        i(class="product-badge") In stock
                                td(class="product-date") 07/04/2016
                                td(class="product-quantity")
                                    span(class="product-quantity-title") Quantity:&nbsp
                                    div(class="select-component select-component-short")
                                        select
                                            option(value='1', selected) 1
                                            option(value='2') 2
                                            option(value='3') 3
                                            option(value='4') 4
                                td(class="product-price") $200
                                td(class="product-button")
                                    a(class="small-button") Add to cart
                    tr
                        td(class="product-type")
                            span
                                | HARDCOVER
                                i(class="product-badge") Out of stock
                        td(class="product-date")
                        td(class="product-quantity")
                            span(class="product-quantity-title") Quantity:&nbsp
                            div(class="select-component select-component-short")
                                select
                                    option(value='1', selected) 1
                                    option(value='2') 2
                                    option(value='3') 3
                                    option(value='4') 5
                        td(class="product-price") $300
                        td(class="product-button")
                            a(class="small-button") Add to cart
                    tr
                        td(class="product-type")
                            div
                                span.product-type-name WILEYPLUS
                                div(class="icon-info black", data-content='<p><a href="#">Text with styles</a></p>')
                        td(class="product-date") 2132
                        td(class="product-quantity") 12
                        td(class="product-price")
                        td(class="product-button")
                            a(class="small-button learn-more-button") Learn more

