div(class="progress-line hidden-xs")
	div(class="container")
		div(class="row")
			div(class="col-sm-12")
				div(class="progress-item passed")
					span(class="progress-number")
						| 1
					span(class="progress-text")
						| Shipping
						br
						| Information
				div(class="progress-item passed")
					span(class="progress-number")
						| 2
					span(class="progress-text")
						| Shipping
						br
						| Method
				div(class="progress-item active")
					span(class="progress-number")
						| 3
					span(class="progress-text")
						| Payment &
						br
						| Billing Address
				div(class="progress-item")
					span(class="progress-number")
						| 4
					span(class="progress-text")
						| Order
						br
						| Review