div(class="row recommended-items")
	div(class="col-xs-12 col-sm-12")
		h4
			| Recommended Items

		div(class="image-gallery")
			div(class="carousel")
				div(class="owl-carousel related-products-carousel")
					div(class="item")
						div(class="item-image")
							img(src="responsive/common/images/product-image.png", alt="Protuct Item")
						div(class="item-title")
							| Accounting All-In-One for Dummies
						div(class="item-price")
							| Price: $114.12
					div(class="item")
						div(class="item-image")
							img(src="responsive/common/images/product-image.png", alt="Protuct Item")
						div(class="item-title")
							| Accounting All-In-One for Dummies
						div(class="item-price")
							| Price: $114.12
					div(class="item")
						div(class="item-image")
							img(src="responsive/common/images/product-image.png", alt="Protuct Item")
						div(class="item-title")
							| Accounting All-In-One for Dummies
						div(class="item-price")
							| Price: $114.12
					div(class="item")
						div(class="item-image")
							img(src="responsive/common/images/product-image.png", alt="Protuct Item")
						div(class="item-title")
							| Accounting All-In-One for Dummies
						div(class="item-price")
							| Price: $114.12
					div(class="item")
						div(class="item-image")
							img(src="responsive/common/images/product-image.png", alt="Protuct Item")
						div(class="item-title")
							| Accounting All-In-One for Dummies
						div(class="item-price")
							| Price: $114.12
					div(class="item")
						div(class="item-image")
							img(src="responsive/common/images/product-image.png", alt="Protuct Item")
						div(class="item-title")
							| Accounting All-In-One for Dummies
						div(class="item-price")
							| Price: $114.12
					div(class="item")
						div(class="item-image")
							img(src="responsive/common/images/product-image.png", alt="Protuct Item")
						div(class="item-title")
							| Accounting All-In-One for Dummies
						div(class="item-price")
							| Price: $114.12
					div(class="item")
						div(class="item-image")
							img(src="responsive/common/images/product-image.png", alt="Protuct Item")
						div(class="item-title")
							| Accounting All-In-One for Dummies
						div(class="item-price")
							| Price: $114.12