div(class="row carousel-default")
	div(class="col-xs-12 col-sm-12")
		section.page-section.related-products-section(id="related-products-section")
			h4 Related products
			div(class="carousel-gallery")
				div(class="carousel")
					div(class="owl-carousel related-products-carousel")
						div(class="item")
							a(href="#", class="item-link")
								span(class="item-image-wrapper")
									img(src="responsive/common/images/product-image.png", alt="Product image", class="item-image")
								p(class="item-title")
									| Accounting All-In-One for Dummies
							p(class="item-author")
								| By Jarry J.
						div(class="item")
							a(href="#", class="item-link")
								span(class="item-image-wrapper")
									img(src="responsive/common/images/product-image.png", alt="Product image", class="item-image")
								p(class="item-title")
									| Accounting All-In-One for Dummies
							p(class="item-author")
								| By Jarry J.
						div(class="item")
							a(href="#", class="item-link")
								span(class="item-image-wrapper")
									img(src="responsive/common/images/product-image.png", alt="Product image", class="item-image")
								p(class="item-title")
									| Accounting All-In-One for Dummies
							p(class="item-author")
								| By Jarry J.
						div(class="item")
							a(href="#", class="item-link")
								span(class="item-image-wrapper")
									img(src="responsive/common/images/product-image.png", alt="Product image", class="item-image")
								p(class="item-title")
									| Accounting All-In-One for Dummies
							p(class="item-author")
								| By Jarry J.
						div(class="item")
							a(href="#", class="item-link")
								span(class="item-image-wrapper")
									img(src="responsive/common/images/product-image.png", alt="Product image", class="item-image")
								p(class="item-title")
									| Accounting All-In-One for Dummies
							p(class="item-author")
								| By Jarry J.
						div(class="item")
							a(href="#", class="item-link")
								span(class="item-image-wrapper")
									img(src="responsive/common/images/product-image.png", alt="Product image", class="item-image")
								p(class="item-title")
									| Accounting All-In-One for Dummies
							p(class="item-author")
								| By Jarry J.
						div(class="item")
							a(href="#", class="item-link")
								span(class="item-image-wrapper")
									img(src="responsive/common/images/product-image.png", alt="Product image", class="item-image")
								p(class="item-title")
									| Accounting All-In-One for Dummies
							p(class="item-author")
								| By Jarry J.
						div(class="item")
							a(href="#", class="item-link")
								span(class="item-image-wrapper")
									img(src="responsive/common/images/product-image.png", alt="Product image", class="item-image")
								p(class="item-title")
									| Accounting All-In-One for Dummies
							p(class="item-author")
								| By Jarry J.
						div(class="item")
							a(href="#", class="item-link")
								span(class="item-image-wrapper")
									img(src="responsive/common/images/product-image.png", alt="Product image", class="item-image")
								p(class="item-title")
									| Accounting All-In-One for Dummies
							p(class="item-author")
								| By Jarry J.
						div(class="item")
							a(href="#", class="item-link")
								span(class="item-image-wrapper")
									img(src="responsive/common/images/product-image.png", alt="Product image", class="item-image")
								p(class="item-title")
									| Accounting All-In-One for Dummies
							p(class="item-author")
								| By Jarry J.
						div(class="item")
							a(href="#", class="item-link")
								span(class="item-image-wrapper")
									img(src="responsive/common/images/product-image.png", alt="Product image", class="item-image")
								p(class="item-title")
									| Accounting All-In-One for Dummies
							p(class="item-author")
								| By Jarry J.