nav(class="sidebar-nav")
	each val in ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password", "Update Email"]

		div(class="yCmsComponent " + (navItem == val ? "active": ""))
			a(href="#", class ="nav-item", title="#{val}") #{val}

