div(class="site-form")
	form
		div(class="row")
			div(class="col-xs-12 col-sm-8")
				div(class="form-cell")
					div(class="form-label required")
						label(for="country")
							| Country
					div(class="form-field select-component select-form-element", data-banner="usa")
						select(id="country")
							option
								| USA
							option
								| Canada
							option
								| USA
							option
								| Canada
							option
								| USA
							option
								| Canada
							option
								| USA
							option
								| Canada
							option
								| USA
							option
								| Canada
							option
								| USA
							option
								| Canada
							option
								| USA
							option
								| Canada
							option
								| USA
							option
								| Canada

				+formElements()
				if !isCheckoutPayment
					if !hideCheckbox
						div(class="form-cell")
							div(class="form-field checkbox-component save-to-address-book gray-bg")
								input(type="checkbox", id=formCheckBoxId)
								label(for=formCheckBoxId)
									=labelCheckBox

mixin formElements()
	if !isCheckoutShipping
		div(class="form-cell")
			div(class="form-label required")
				label(for="title")
					| Title
			div(class="form-field select-component select-form-element")
				select(id="title")
					option
						| Title1
					option
						| Title2
	div(class="form-cell")
		div(class="form-label required")
			label(for="first-name")
				| First Name
		div(class="form-field")
			input(type="text", id="first-name", placeholder="<first Name>")
	div(class="form-cell")
		div(class="form-label required")
			label(for="last-name")
				| Last Name
		div(class="form-field")
			input(type="text", id="last-name", placeholder="<last Name>")
	div(class="form-cell")
		div(class="form-label required")
			label(for="address-line1")
				| Address Line 1
		div(class="form-field")
			input(type="text", id="address-line1", placeholder="<address line 1>")
	div(class="form-cell")
		div(class="form-label required")
			label(for="address-line2")
				| Address Line 2 (optional)
		div(class="form-field")
			input(type="text", id="address-line2", placeholder="<address line 2>")
	div(class="form-cell")
		div(class="form-label required")
			label(for="city")
				| City
		div(class="form-field")
			input(type="text", id="city", placeholder="<city>")
	div(class="row")
		div(class="col-xs-6 col-sm-6")
			div(class="form-cell")
				div(class="form-label required")
					label(for="state-province")
						| State / Province
				div(class="form-field select-component select-form-element")
					select(id="state-province")
						option
							| State / Province1
						option
							| State / Province2
		div(class="col-xs-6 col-sm-6")
			div(class="form-cell")
				div(class="form-label required")
					label(for="zip-postal-code")
						| Zip / Postal Code
				div(class="form-field")
					input(type="text", id="zip-postal-code", placeholder="<zip / postal code>")
	if isCheckoutShipping
		div(class="form-cell")
			div(class="form-label required")
				label(for="phone-number")
					| Phone Number (optional)
			div(class="form-field")
				input(type="text", id="phone-number", placeholder="<phone number>")