//- Checkout accordion mixin
mixin checkoutAccordion(currentItem, items)
	- var items = items || [{name:"Shipping Information"},{name:"Shipping Method"},{name:"Payment & Billing Address"},{name:"Order Review"}];
	div(class="checkout-accordion")
		- each item, i in items
			- var isCurrentItem = (i+1 == currentItem);
			- var itemClasses = (isCurrentItem) ? "checkout-accordion-item current" : "checkout-accordion-item";
			div(class=itemClasses)
				div(class="checkout-accordion-header")
					span(class="item-number") #{i+1}
					span(class="item-text") #{item.name}
					span(class="icon-edit")

				- if (isCurrentItem)
					div(class="checkout-accordion-content")
						block
