div(class="order-summary-section")
	div(class="order-summary-details")
		div(class="order-summary-items")
			div(class="order-summary-item item-subtotal")
				span(class="summary-name") Subtotal: (3 items)
				span(class="summary-value") <$####.##>
			div(class="order-summary-item item-shipping")
				span(class="summary-name") Shipping:
				span(class="summary-value") <$####.##>
			div(class="order-summary-item item-free-shipping")
				span(class="summary-name") You qualify for FREE Shipping:
				span(class="summary-value") <$####.##>
			div(class="order-summary-item item-tax")
				span(class="summary-name") Sales Tax:
				span(class="summary-value") <$####.##>
			div(class="order-summary-item item-discount")
				span(class="summary-name") Order Discount:
				span(class="summary-value") <$####.##>

	div(class="order-summary-promotion")
		span(class="promotion-text") I have a promotion code
		div(class="promotion-field")
			div(class="input-group")
				input(type="text", class="input form-control")
				span(class="input-group-btn")
					button(type="button", class="button button-default") Apply

	div(class="order-summary-total")
		div(class="order-summary-items")
			div(class="order-summary-item")
				span(class="summary-name") Order Total:
				span(class="summary-value") $312.96
		div(class="order-total-message") Your order includes $5.82 tax

	div(class="order-summary-checkbox")
		div(class="checkbox-component")
			input(type="checkbox", id="checkbox1")
			label(for="checkbox1") I am currently enrolled in school.

			div(class="text-field")
				input(type="text", placeholder="Enter School")

	div(class="order-summary-buttons")
		button(class="button button-primary") Proceed to Checkout
		button(class="button button-icon icon-paypal") Checkout with
		button(class="button button-link") Continue Shopping