div(class="panel-pagination")
	div(class="pagination-elements")
		a(href="#", class="pagination-arrow-left", title="")
		span(class="pagination-text")
			| PAGE 1 of 1
		a(href="#", class="pagination-arrow-right", title="")