<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="analytics" tagdir="/WEB-INF/tags/shared/analytics" %>

<script type="text/javascript" src="${sharedResourcePath}/js/analyticsmediator.js"></script>
<analytics:googleAnalytics/>
<analytics:jirafe/>
<analytics:adobeAnalytics />