<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td height="50px" width="25%" class="structureViewSection">
					<cockpit code="SiteLogo" />
				</td>
				<td colspan="2" class="structureViewSection">
					<cockpit code="NavigationBar" />
				</td>
				<td colspan="1" class="structureViewSection">
					<cockpit code="CurrencySelector" />
				</td>
			</tr>
			<tr>
				<td height="50px" class="structureViewSection">
					<cockpit code="BrandLogo" />
				</td>
				<td colspan="2" class="structureViewSection">
					<cockpit code="CategoryNavigation" />
				</td>
				<td colspan="1" class="structureViewSection">
					<cockpit code="SocialLinksSlot" />
				</td>
			</tr>
			<tr>
				<td height="300px" colspan="4" class="structureViewSection">
					<cockpit code="MainContent" />
				</td>
			</tr>
			<tr>
				<td height="100%" colspan="3" width="75%" class="structureViewSection">
					<cockpit code="Footer" />
				</td>
				<td class="structureViewSection">
					<cockpit code="CompanyLogo" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>
