<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td width="25%" height="50px" class="structureViewSection">
					<cockpit code="SiteLogo" />
				</td>
				<td width="75%" height="50px" class="structureViewSection">
					<cockpit code="NavigationBar" />
				</td>
			</tr>
			<tr>
				<td colspan="2" height="50px" class="structureViewSection">
					<cockpit code="CheckoutBreadcrumbs" />
				</td>
			</tr>
			<tr>
				<td colspan="2" height="100px" class="structureViewSection">
					<cockpit code="StudentVerification" />
				</td>
			</tr>
			<tr>
				<td width="25%" class="structureViewSection">
					<cockpit code="Footer" />
				</td>
				<td width="75%" class="structureViewSection">
					<cockpit code="CompanyLogo" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>

