div(class="product-add-to-cart")
    div(class="product-price-wr")
        if typeOfBook || typeOfBookApp
            div(class="type-of-book")
                span(class="hidden-xs") Selected type:
                b  &nbsp;#{typeOfBook || typeOfBookApp}
        if typeOfBook
            include product-qty
        if cartProductPrice
            p(class="pr-price")
                | #{cartProductPrice}
            span(class="price-disclaimer")
                sup *
                span
                    | Vat&nbsp;
                    i(class="hidden-xs") information
                a(role="menuitem", tabindex="0", data-placement="bottom-right top-right" aria-label="information icon", class="icon-info black", data-container-class="wiley-tax-popover" data-content='<p>Information about e-books:</p><ul><li>E-books are offered as e-Pubs or PDFs. To download and read them, users must install Adobe Digital Editions (ADE) on their PC.</li><li>E-books have DRM protection on them, which means only the person who purchases and downloads the e-book can access it.</li><li>E-books are non-returnable and non-refundable.</li><li>To learn more about our e-books, please refer to our&nbsp;<a href=&quot;http://www.wiley.com/WileyCDA/Section/id-302039.html&quot;>FAQ</a>.</li></ul>')
    div(class="add-to-cart")
        if typeOfBook
            button(class="button button-main add-to-cart-button large", data-toggle="modal", data-target="#addToCartModalWnd")
                | Add to cart
           // span(class="pr-not-available") Product not available for purchase
            //img(src="responsive/common/images/norton-shopping-guarantee.png")
        if typeOfBookApp
            div(class="product-applications")
                a(href="#", title=""): img(src="responsive/common/images/apple-app-store-icon@2x.png")
                a(href="#", title=""): img(src="responsive/common/images/google-play-badge@2x.png")
