section(class="page-section section-author-wr",id="author-section")
    div(class="page-section-content section-author")
        h2(class="section-title collapsed", data-toggle="collapse", data-target="#author-section-item")
            | About the Author
        div(class="collapse", id="author-section-item")
            p Donald E. Kieso, PhD, CPA, received his bachelor's degree from Aurora University and his doctorate in accounting from the University of Illinois. He is currently the KPMG Peat Marwick Emeritus Professor of Accounting at Northern Illinois University. He has public  accounting experience with Price Waterhouse & Co. (San Francisco and Chicago) and Arthur Andersen & Co. (Chicago) and research experience with the Research Division of the American Institute of Certified Public Accountants (New York). He has done  post doctorate work as a Visiting Scholar at the University of California at Berkeley and is a recipient of NIU's Teaching Excellence Award and four Golden Apple Teaching Awards. Professor Kieso is the author of other accounting and business books and is a member of the American Accounting Association, the American Institute of Certified Public Accountants, and the Illinois CPA Society. He is currently serving on the Board of Trustees and Executive Committee of Aurora University, as a member of the Board of Directors of Castle BancGroup Inc., and as Treasurer and Director of Valley West Community Hospital.

            p Jerry J. Weygandt, PhD, CPA, is Arthur Andersen Alumni Professor of Accounting at the University of Wisconsin-Madison. He holds a Ph.D. in accounting from the University of Illinois. Articles by Professor Weygandt have appeared in the Accounting Review, Journal of Accounting Research, Accounting Horizons, Journal of Accountancy, and other academic and professional journals. These articles have examined such financial reporting issues as accounting for price-level adjustments, pensions, convertible securities, stock option contracts, and interim reports. Professor Weygandt is author of other accounting and financial reporting books and is a member of the American Accounting Association.
    div(class="section-permissions", id="permission-section")
        h2(class="section-title collapsed", data-toggle="collapse", data-target="#permission-section-item")
            | Permissions
        div(class="collapse", id="permission-section-item")
            p
                a(href="#") Request permission
                |  to reuse content from this site
section(class="page-section section-author-wr",id="author-section")
    div(class="page-section-content section-author")
        h2(class="section-title collapsed", data-toggle="collapse", data-target="#author-section-item")
            | About the Author
        div(class="collapse", id="author-section-item")
            p Donald E. Kieso, PhD, CPA, received his bachelor's degree from Aurora University and his doctorate in accounting from the University of Illinois. He is currently the KPMG Peat Marwick Emeritus Professor of Accounting at Northern Illinois University. He has public  accounting experience with Price Waterhouse & Co. (San Francisco and Chicago) and Arthur Andersen & Co. (Chicago) and research experience with the Research Division of the American Institute of Certified Public Accountants (New York). He has done  post doctorate work as a Visiting Scholar at the University of California at Berkeley and is a recipient of NIU's Teaching Excellence Award and four Golden Apple Teaching Awards. Professor Kieso is the author of other accounting and business books and is a member of the American Accounting Association, the American Institute of Certified Public Accountants, and the Illinois CPA Society. He is currently serving on the Board of Trustees and Executive Committee of Aurora University, as a member of the Board of Directors of Castle BancGroup Inc., and as Treasurer and Director of Valley West Community Hospital.

            p Jerry J. Weygandt, PhD, CPA, is Arthur Andersen Alumni Professor of Accounting at the University of Wisconsin-Madison. He holds a Ph.D. in accounting from the University of Illinois. Articles by Professor Weygandt have appeared in the Accounting Review, Journal of Accounting Research, Accounting Horizons, Journal of Accountancy, and other academic and professional journals. These articles have examined such financial reporting issues as accounting for price-level adjustments, pensions, convertible securities, stock option contracts, and interim reports. Professor Weygandt is author of other accounting and financial reporting books and is a member of the American Accounting Association.


