section#get-discount-bundle-section.get-discount.get-discount-bundle.page-section
    .get-discount-wr
        .get-discount-inner-wr
            .discount-description
                .discount-item-description
                    .discount-item-image
                        span.item-image-wrapper
                            img.item-image(src='https://media.wiley.com/product_data/coverImage300/80/04705239/0470523980.jpg', alt='Windows 7 For Dummies, Book + DVD Bundle', title='Windows 7 For Dummies, Book + DVD Bundle')
                        a(href='/en-be/Computing+with+Windows+7+for+the+Older+and+Wiser%3A+Get+Up+and+Running+on+Your+Home+PC-p-9780470687031')
                            img.item-image(src='https://media.wiley.com/product_data/coverImage300/37/04706870/0470687037.jpg', alt='Computing with Windows 7 for the Older and Wiser: Get Up and Running on Your Home PC', title='Computing with Windows 7 for the Older and Wiser: Get Up and Running on Your Home PC')
                    h4.discount-title
                        | Buy Both and Save 25%!
                    p.discount-item-common
                        b This item: 
                        | Windows 7 For Dummies, Book + DVD Bundle
                    p.discount-item-additional
                        a(href='/en-be/Computing+with+Windows+7+for+the+Older+and+Wiser%3A+Get+Up+and+Running+on+Your+Home+PC-p-9780470687031')
                            | Computing with Windows 7 for the Older and Wiser: Get Up and Running on Your Home PC
                        i (Paperback €15.60)
                p.discount-item-disclaimer
                    | Cannot be combined with any other offers.
            .discount-price-info
                .discount-item-price
                    p.orign-price
                        | Original Price:
                        span €41.10
                    p.discount-price
                        | Purchased together:
                        span €30.83
                    p.saved-price
                        | save €10.27
                    p.price-disclaimer
                        sup *
                        span
                            | VAT
                            i.hidden-xs  information
                        a.icon-info.black(role='menuitem', tabindex='0', data-placement='bottom-right top-right', aria-label='information icon', data-container-class='wiley-tax-popover', data-content='Please note ebook prices are sales VAT inclusive. All other prices are sales VAT exclusive. A detailed breakdown of sales VAT will be provided upon order completion.', data-original-title='', title='')
                    .addToCartTitle(style='display:none')
                        | Added to Your Shopping Cart
                    form#addToCartForm9780470687031.add_to_cart_form(data-related-products-url='/en-be/relatedProducts', action='https://customerukq.wiley.com:91/CGI-BIN/lansajson?procfun+shopcart5+sh5fn90', method='post')
                        input.country(type='hidden', name='ACOUNTRY', value='BE')
                        input.currency(type='hidden', name='ACURRENCY', value='EUR')
                        input.promocode(type='hidden', name='APROMCODE', value='ADD')
                        input#productAIsbn(type='hidden', name='AAISBN', value='9780470523988')
                        input#productAQuantity(type='hidden', name='PAQUANT', value='1')
                        input#productBIsbn(type='hidden', name='ABISBN', value='9780470687031')
                        input#productBQuantity(type='hidden', name='PBQUANT', value='1')
                        button.add-to-cart-button.js-add-to-cart(type='submit') Buy both now!
                        span.js-add-to-cart-product(hidden='', data-code='9780470523988', data-medium-type='Paperback', data-name='Windows 7 For Dummies, Book + DVD Bundle', data-authors='Andy Rathbone', data-image='https://media.wiley.com/product_data/coverImage300/80/04705239/0470523980.jpg', data-publication-date='Oct 2009', data-countable='true')
                        span.js-add-to-cart-product(hidden='', data-code='9780470687031', data-medium-type='Paperback', data-name='Computing with Windows 7 for the Older and Wiser: Get Up and Running on Your Home PC', data-authors='Adrian Arnold', data-image='https://media.wiley.com/product_data/coverImage300/37/04706870/0470687037.jpg', data-publication-date='Jan 2010', data-countable='true')
                        div
                            input(type='hidden', name='CSRFToken', value='351b4142-27a8-451c-b4fa-2f156e2b7515')


section#get-discount-section.get-discount.page-section
    .get-discount-wr
        .get-discount-inner-wr
            .discount-description
                .discount-item-description
                    .discount-item-image
                        a(href='')
                            img.item-image(src='https://media.wiley.com/product_data/coverImage300/37/04706870/0470687037.jpg', alt='Test normal image', title='Test normal image')
                    h4.discount-title
                        | Buy Set of 1 Items
                    p.discount-item-common
                        b This item: 
                        | Wiley com base Set Component
                    .discount-items
                        .discount-item
                            p.discount-item-additional
                                a(href='/wileyb2cstorefront/en-us/Wiley+com+base+Set+Component-p-WCOM_VARIANT_EBOOK_SET_COMPONENT') Wiley com base Set Component
                            p.discount-item-author
                                i
                                    | (E-Book $58.11)
                        .discount-item
                            p.discount-item-additional
                                a(href='/wileyb2cstorefront/en-us/Wiley+com+base+Set+Component-p-WCOM_VARIANT_EBOOK_SET_COMPONENT') Wiley com base Set Component
                            p.discount-item-author
                                i
                                    | (E-Book $58.11)
                        .discount-item
                            p.discount-item-additional
                                a(href='/wileyb2cstorefront/en-us/Wiley+com+base+Set+Component-p-WCOM_VARIANT_EBOOK_SET_COMPONENT') Wiley com base Set Component
                            p.discount-item-author
                                i
                                    | (E-Book $58.11)
                        .discount-item
                            p.discount-item-additional
                                a(href='/wileyb2cstorefront/en-us/Wiley+com+base+Set+Component-p-WCOM_VARIANT_EBOOK_SET_COMPONENT') Wiley com base Set Component
                            p.discount-item-author
                                i
                                    | (E-Book $58.11)
            .discount-price-info
                .discount-item-price
                    p.orign-price
                        | Original Price:
                        span $58.11
                    p.discount-price
                        | Purchased Together:
                        span $40.99
                    p.saved-price save $17.12
                    .addToCartTitle(style='display:none')
                        | Added to Your Shopping Cart
                    form#addToCartFormWCOM_VARIANT_EBOOK_SET.add_to_cart_form(data-related-products-url='/wileyb2cstorefront/en-us/relatedProducts', action='https://customerq.wiley.com/CGI-BIN/lansajson?procfun+shopcart5+sh5fn90', method='post')
                        input.country(type='hidden', name='ACOUNTRY', value='US')
                        input.currency(type='hidden', name='ACURRENCY', value='USD')
                        input.productAIsbn(type='hidden', name='AAISBN', value='WCOM_VARIANT_EBOOK_SET')
                        input.productAQuantity(type='hidden', name='PAQUANT', value='1')
                        button.small-button.add-to-cart-button.js-add-to-cart(type='submit') Buy all now
                        span.js-add-to-cart-product(hidden='', data-code='WCOM_VARIANT_EBOOK_SET', data-medium-type='E-Book', data-name='Wiley com base product Set', data-authors='Donald E. Kieso 2, Jerry J. Weygandt 2, Terry D. Warfield 2', data-image='/medias/?context=bWFzdGVyfGltYWdlc3w0NTAzfGltYWdlL3BuZ3xpbWFnZXMvaGE0L2gyOS84Nzk2MjM2NDQ3Nzc0LnBuZ3wwZmQ3ZmIzYjMwZTY2ZTIzYjdhMDY0NmJhNWNmZDRmYzc3MmUzNDM2Y2Q4YjkzMTAwYWM4ZDI2ZjQwYmQ1NWRi', data-publication-date='Jun 2017', data-countable='true')
                        span.js-add-to-cart-product-set-component(hidden='', data-parent-code='WCOM_VARIANT_EBOOK_SET', data-code='WCOM_VARIANT_EBOOK_SET_COMPONENT', data-medium-type='E-Book', data-name='Wiley com base Set Component', data-authors='', data-image='/Wiley+com+base+Set+Component-p-WCOM_VARIANT_EBOOK_SET_COMPONENT', data-publication-date='', data-countable='')
                        div
                            input(type='hidden', name='CSRFToken', value='6ee19231-6d6e-4d35-8889-0adafc69775c')


