section(class="page-section product-long-description", id="description-section")
    h2.section-title Description
    div.description
        | Master essential skills to ace even the toughest tests!
        br
        br
        |   Do tests make you nervous? Don't worry--you're not alone. Imagine  how you'll feel when you're ready to face any test confidently and  fully prepared. This book will help you get there! How to Ace any  Test shows you how to build efficient test-taking skills and score  your best each and every time, whether it's a surprise quiz or a  final exam.
        br
        br
        |   Do tests make you nervous? Don't worry--you're not alone. Imagine  how you'll feel when you're ready to face any test confidently and  fully prepared. This book will help you get there! How to Ace any  Test shows you how to build efficient test-taking skills and score  your best each and every time, whether it's a surprise quiz or a  final exam.
        br
        |   * Be Prepared
        br
        |   * Practice, Practice, Practice
        ul
            li: a Tailor Your Studying Style
            li: a Construct Winning Essays
            li: a Master Your Test-Taking Strategies
            li: a Take Control of Test Anxiety
            li
                a
                    | Improve with
                    i  Experience
                    br
        br
        |   So get ready to improve your test-taking skills-and ace any exam  that comes your way!

section(class="page-section companion-sites", id='companion-sites-section')
    h2(class="section-title")
        | Related resources
    div
        div(class="companion-sites-block")
            h5(class="section-sub-title")
                | Instructor
            p
                a(href="#") View Instructor Companion Site
            p
                a(href="#") Contact your
                |  Rep for all inquiries
        div(class="companion-sites-block")
            h5(class="section-sub-title")
                | Student
            p
                a(href="#") Visit Student Companion Site
section(class="page-section section-video", id="pdp-video-section")
    div(class="page-section-content")
        h2.section-title Product video
        div.pdp-video-component
            img(src='responsive/common/images/image_video_test.png')