div(class="product-qty site-form")
    if !qtyValue
        div(class="form-label")
            label(for="qty")
                span(class="hidden-xs") Quantity:
        div(class="form-field")
            div(class="product-quantity")
                input(id="qty" class="product-item-spinner")
    else
        | Quantity: #{qtyValue}