section(class="page-section",id="content-section")
    div(class="page-section-content")
        h2(class="section-title collapsed", data-toggle="collapse", data-target="#content-section-item") Table of Contents
        div(id="content-section-item", class="collapse")
            p
                | 1. Accounting in Action </br>
                | 2. The Recording Process </br>
                | 3. Adjusting the Accounts </br>
                | 4. Completing the Accounting Cycle </br>
                | 5. Accounting for Merchandising Operations (Perpetual Approach) </br>
                | 5A. Accounting for Merchandising Operations (Periodic Approach)* </br>
                | 6. Inventories (Periodic Approach) </br>
                | 6A. Inventories (Perpetual Approach)* </br>
                | 7. Fraud, Internal Control, and Cash </br>
                | 8. Accounting for Receivables </br>
                | 9. Plant Assets, Natural Resources, and Intangible Assets </br>
                | 10. Liabilities </br>
                | 11. Corporations: Organization, Stock Transactions, and Stockholders' Equity </br>
                | 12. Statement of Cash Flows </br>
                | 13. Financial Statement Analysis </br>
                | 14. Managerial Accounting </br>
                | 15. Job Order Costing </br>
                | 15A. Job Order Costing (Non-Debit and Credit Approach)* </br>
                | 16. Process Costing </br>
                | 16A. Process Costing (Non-Debit and Credit Approach)* </br>
                | 17. Activity-Based Costing </br>
                | 18. Cost-Volume-Profit </br>
                | 19. Cost-Volume-Profit Analysis: Additional Issues </br>
                | 20. Incremental Analysis </br>
                | 21. Pricing </br>
                | 22. Budgetary Planning </br>
                | 23. Budgetary Control and Responsibility Accounting </br>
                | 24. Standard Costs and Balanced Scorecard </br>
                | 25. Planning for Capital Investments </br>
            p
                | Appendices A-F: Apple, Pepsi, Coca-Cola, Amazon.com, Wal-Mart, Louis Vuitton financial statements </br>
                | Appendix G: Time Value of Money </br>
                | Appendix H. Investments </br>
                | Appendix I: Payroll Accounting </br>
                | Appendix J: Subsidiary Ledgers and Special Journals </br>
                | Appendix K: Other Significant Liabilities </br>

                p Cases for Managerial Decision-Making* </br>

                p *Available in WileyPLUS and Wiley Custom </br>
section(class="page-section", id="new-to-this-edition-section")
    div(class="page-section-content")
        h2(class="section-title collapsed", data-toggle="collapse", data-target="#new-to-this-edition-section-item") New to this Edition
        div(id="new-to-this-edition-section-item", class="collapse")
            p Expanded Video Library: The course now includes even more solutions walkthrough videos, providing students with further coverage of the types of problems and exercises most frequently assigned. The Video Library also includes Course Section Opener Videos, Applied Skills Videos, Excel Tutorials, and a “Real World” Video Series.

            p Modular Presentation of Managerial Topics: This feature enables instructors to customize the course more easily. For example, there is an expanded discussion of incremental analysis and regression analysis, and a new section on ABC.

            p Additional content now available in WileyPLUS and via Wiley Custom: Includes alternate course section options which allow instructors to customize their approach to inventory to either the periodic or perpetual approach, or to offer coverage of costing without the use of debits and credits.

            p Accounting Cycle Connections: Added to the accounting cycle sections and topics, this feature helps students make connections between the different steps of the accounting cycle and adds emphasis with explanations, illustrations, and homework problems on the accounting cycle.

            p Narrated Interactive Tutorials: Provide students with an enhanced, mobile-friendly experience that allows students to navigate by subtopic to review the content they find most challenging.

section(class="page-section",id="reviews-section")
    div(class="page-section-content")
        h2(class="section-title collapsed", data-toggle="collapse", data-target="#reviews-section-item") Reviews
        div(id="reviews-section-item", class="collapse")
            p “Overall I am delighted to see that the 5th edition of this textbook has retained the format and style that so attracted me to entomology some 20 years ago. At the same time, each edition, and the 5th edition is no exception in this, has responded to developments in technology and concerns that drive the field of entomology. I am delighted to see that I will have no hesitation in recommending the latest edition of this textbook to our students.”  (Antenna, 1 January 2015)

            p “Penny Gullan and Peter Cranston have recently produced a revised fifth version of their text, maintaining much of the structure and style of the former editions, but significantly updating the information and adding a chapter on human-mediated changes in insect distributions; i.e. global climate change, globalized commerce, and invasive insects. . . The book is supported by a companion website that includes Powerpoint versions of all illustrations and PDFs of all tables, thereby aiding lecture development. By significantly updating the information presented in the book, the authors amply illustrate the dynamic nature of Entomology. Insects can capture the imagination of new students, but showing those students that Entomology can sustain an exciting life is the means to recruit the ablest minds to our discipline. This book is an excellent ambassador to that pursuit.”  (Cornell University Insect Collection, 8 December 2014)

            p "Gullan and Cranston’s fifth edition is a textbook that should be on every entomologist’s shelf. I also highly recommend this exemplary book to instructors teaching insect biology and related courses, and any student interested in the life sciences. The remarkable range of content, coupled with the resources to support learning,is exceptional. It is a comprehensive introduction to insect science that keeps the pace with a dynamic, diverse, and fast-moving field." (American Entomologist 2016)

section(class="page-section",id="extra-section")
    div(class="page-section-content")
        h2(class="section-title collapsed", data-toggle="collapse", data-target="#extra-section-item") Extra
        div(id="extra-section-item", class="collapse")
            p
                a(href="#") Related site


section(class="page-section",id="downloads-section")
    div(class="page-section-content")
        h2(class="section-title collapsed", data-toggle="collapse", data-target="#downloads-section-item") Downloads
        div(class="downloads-section-content collapse", id="downloads-section-item")
            table
                tr
                    td 1st Edition
                    td
                        a(href="https://media.wiley.com/product_ancillary/11/11188915/DOWNLOAD/Pages from 9781118891575.pdf", target="_blank") Download
                tr
                    td 2d Edition
                    td
                        a(href="https://media.wiley.com/product_ancillary/11/11188915/DOWNLOAD/Pages from 9781118891575.pdf" target="_blank") Download

section(class="page-section",id="errata-section")
    div(class="page-section-content")
        h2(class="section-title collapsed", data-toggle="collapse", data-target="#errata-section-item") Errata
        div(id="errata-section-item", class="collapse")
            table
                tbody
                    tr
                        td
                        td xii
                        td
                            | In sub title Reach out, you will find the following error,"of if a topic" should be "or if a topic" in the following: "The publisher and I want your feedback.  Please let us know of any mistakes in the book of if a topic is covered particularly well."
                        td 5/17/04
                        td
                    tr
                        td
                        td xii
                        td
                            | In sub title Reach out, you will find the following error,"of if a topic" should be "or if a topic" in the following: "The publisher and I want your feedback.  Please let us know of any mistakes in the book of if a topic is covered particularly well."
                        td 5/17/04
                        td
                    tr
                        td
                        td xii
                        td
                            | Author e-mail,Readers are instructed to contact wiley at www.wiley.com/techsupport.  Questions for the author may be sent to tom@pender.com.
                        td 5/17/04
                        td
                    tr
                        td
                        td xii
                        td
                            | Author e-mail,Readers are instructed to contact wiley at www.wiley.com/techsupport.  Questions for the author may be sent to tom@pender.com.
                        td 5/17/04
                        td
                    tr
                        td
                        td 65
                        td
                            | Missing bullet,Add another bullet to the list: An association between OrderFulfillment and FillOrder.
                        td 5/17/04
                        td
                    tr
                        td
                        td 65
                        td
                            | Missing bullet,Add another bullet to the list: An association between OrderFulfillment and FillOrder.
                        td 5/17/04
                        td
                    tr
                        td
                        td 65
                        td
                            | Missing line in Figure 6-3,In Figure 6-3, there should be a line between OrderFulfillment and FillOrder.
                        td 5/17/04
                        td
                    tr
                        td
                        td 65
                        td
                            | Missing line in Figure 6-3,In Figure 6-3, there should be a line between OrderFulfillment and FillOrder.
                        td 5/17/04
                        td
                    tr
                        td
                        td 85
                        td
                            | Error in Figure 8-1,The arrow on the far right following the [no] path out of the decision "Any unfilled quantities?" should point to the end (bullseye), not to Create Back Order.
                        td 5/17/04
                        td
                    tr
                        td
                        td 85
                        td
                            | Error in Figure 8-1,The arrow on the far right following the [no] path out of the decision "Any unfilled quantities?" should point to the end (bullseye), not to Create Back Order.
                        td 5/17/04
                        td
                    tr
                        td
                        td 87
                        td
                            | Error in Figure 8-4,The arrow on the far right following the [no] path out of the decision "Any unfilled quantities?" should point to the end (bullseye), not to Create Back Order.
                        td 5/17/04
                        td
                    tr
                        td
                        td 87
                        td
                            | Error in Figure 8-4,The arrow on the far right following the [no] path out of the decision "Any unfilled quantities?" should point to the end (bullseye), not to Create Back Order.
                        td 5/17/04
                        td
                    tr
                        td
                        td 99
                        td
                            | Missing text in third bullet,The third bullet should read: Class level operation (underlined operation declaration): Optional.  Denoted as an operation accessible at the class level; it does not require an instance (object) reference to be accessed...  note the addition of "does not require".
                        td 5/17/04
                        td
                    tr
                        td
                        td 99
                        td
                            | Missing text in third bullet,The third bullet should read: Class level operation (underlined operation declaration): Optional.  Denoted as an operation accessible at the class level; it does not require an instance (object) reference to be accessed...  note the addition of "does not require".
                        td 5/17/04
                        td
                    tr
                        td
                        td 102
                        td
                            | Text error in sentence referring to Figure 9-3,Figure 9-3 illustrates three ways..." not two ways...
                        td 5/17/04
                        td
                    tr
                        td
                        td 102
                        td
                            | Text error in sentence referring to Figure 9-3,Figure 9-3 illustrates three ways..." not two ways...
                        td 5/17/04
                        td
                    tr
                        td
                        td 131
                        td
                            | Text errors,The Product class (box) on the far right should be labeled "Location".  The multiplicity on the top left side of Order should be 0..* instead of 0..1 to agree with page 132, #5.
                        td 5/17/04
                        td
                    tr
                        td
                        td 131
                        td
                            | Text errors,The Product class (box) on the far right should be labeled "Location".  The multiplicity on the top left side of Order should be 0..* instead of 0..1 to agree with page 132, #5.
                        td 5/17/04
                        td
                    tr
                        td
                        td 157
                        td
                            | Text error,"The narrative for a Use Case tells you the rules and the logic required to accomplish a goal..." Not "the goal" as in the text.
                        td 5/17/04
                        td
                    tr
                        td
                        td 157
                        td
                            | Text error,"The narrative for a Use Case tells you the rules and the logic required to accomplish a goal..." Not "the goal" as in the text.
                        td 5/17/04
                        td
                    tr
                        td
                        td 194
                        td
                            | Arrow pointing in wrong diretion,The arrow on the far right following the [no] path out of the decision "Any unfilled quantities?" should point to the end (bullseye), not to Create Back Order.
                        td 5/17/04
                        td
                    tr
                        td
                        td 194
                        td
                            | Arrow pointing in wrong diretion,The arrow on the far right following the [no] path out of the decision "Any unfilled quantities?" should point to the end (bullseye), not to Create Back Order.
                        td 5/17/04
                        td
                    tr
                        td
                        td 265
                        td
                            | Error in Figure 26-2,In Figure 26-2, remove "1..1" and "1..*" This is an instance level diagram.
                        td 5/17/04
                        td
                    tr
                        td
                        td 265
                        td
                            | Error in Figure 26-2,In Figure 26-2, remove "1..1" and "1..*" This is an instance level diagram.
                        td 5/17/04
                        td

section(class="page-section",id="notes-section")
    div(class="page-section-content")
        h2(class="section-title collapsed", data-toggle="collapse", data-target="#notes-section-item") Notes
        div(class="collapse", id="notes-section-item")
            p The authors are grateful for the participation in the work on the book to their families and friends.

section(class="page-section",id="whats-new-section")
    div(class="page-section-content")
        h2(class="section-title collapsed", data-toggle="collapse", data-target="#whats-new-section-item") What's New
        div(id="whats-new-section-item", class="collapse")

            p WileyPLUS with ORION addresses the challenges of student readiness and retention, and helps instructors and students improve learning outcomes, by integrating course content with learning tools, assessment, and practice activities on one adaptive platform.

            p Based on cognitive science, ORION provides students with a personal, adaptive learning experience so they can identify what they know and don’t know early, build their proficiency on topics, and use their study time most effectively. WileyPLUS with ORION helps students learn by learning about them.


section(class="page-section",id="press-release-section")
    div(class="page-section-content")
        h2(class="section-title collapsed", data-toggle="collapse", data-target="#press-release-section-item") Press release
        div(id="press-release-section-item", class="collapse")
            p He is currently the KPMG Peat Marwick Emeritus Professor of Accounting at Northern Illinois University. He has public  accounting experience with Price Waterhouse & Co. (San Francisco and Chicago) and Arthur Andersen & Co. (Chicago) and research experience with the Research Division of the American Institute of Certified Public Accountants (New York). He has done  post doctorate work as a Visiting Scholar at the University of California at Berkeley and is a recipient of NIU's Teaching Excellence Award and four Golden Apple Teaching Awards. Professor Kieso is the author of other accounting and business books and is a member of the American Accounting Association, the American Institute of Certified Public Accountants, and the Illinois CPA Society.


section(class="page-section",id="series-section")
    h2(class="section-title collapsed", data-toggle="collapse", data-target="#series-section-item") Series
    div(class="series-section-blocks collapse", id="series-section-item")
        p
            a(href="#") Study Guide Intermediate Accounting, Volume 1: Chapters 1 - 14, 16th Edition
        p
            a(href="#") Study Guide Intermediate Accounting, Volume 1: Chapters 1 - 14, 16th Edition
        p
            a(href="#") Study Guide Intermediate Accounting, Volume 1: Chapters 1 - 14, 16th Edition
        p
            a(href="#") Study Guide Intermediate Accounting, Volume 2: Chapters 15 - 24, 16th Edition

