div(class="product-type")
    div(class="type-of-book-chooser")
        - each item in chooserList.items
            a(href="#", title="", class="item-wr " + (item.status ? item.status : ""))
                div(class="item")
                    if item.stock
                        span(class="item-stock")=item.stock
                    if item.type
                        span(class="item-type") #{item.type}
                            i(role="menuitem", tabindex="0", aria-label="Purchase option description", data-content="<p>Information about e-books:</p><ul><li>E-books are offered as e-Pubs or PDFs. To download and read them, users must install Adobe Digital Editions (ADE) on their PC.</li><li>E-books have DRM protection on them, which means only the person who purchases and downloads the e-book can access it.</li><li>E-books are non-returnable and non-refundable.</li><li>To learn more about our e-books, please refer to our&nbsp;<a href=&quot;http://www.wiley.com/WileyCDA/Section/id-302039.html&quot;>FAQ</a>.</li></ul>", class="icon-info black")
                    if item.price
                        span(class="item-price")=item.price
        if typeOfBook
            a(href="#", title="View on Wiley", class="item-wr item-wr-link")
                div(class="item")
                    span(class="item-type") View on Wileyplus
        if typeOfBookWol
            a(href="#", title="View on Wiley Online Library", class="item-wr item-wr-link")
                div(class="item")
                    span(class="item-type") View on Wiley Online Library


