<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ attribute name="cartData" required="true" type="de.hybris.platform.commercefacades.order.data.CartData" %>
<%@ attribute name="showTax" required="false" type="java.lang.Boolean" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="theme" tagdir="/WEB-INF/tags/shared/theme" %>
<%@ taglib prefix="format" tagdir="/WEB-INF/tags/shared/format" %>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags" %>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>

<c:url value="/cart/checkout/" var="checkoutUrl" scope="session"/>
<c:url value="/checkout/paypal/from-cart" var="payPalCheckoutUrl" scope="session"/>

<div class="subscriptions-subtotal">
    <div class="subscriptions-subtotal-items">
        <div class="subscriptions-subtotal-item item-subtotal">
            <div class="subscriptions-subtotal-name"><spring:theme code="basket.page.totals.subtotal"/></div>
            <div class="subscriptions-subtotal-value"><format:price priceData="${cartData.subTotalWithoutDiscount}"/></div>
        </div>        
        <c:if test="${not empty vouchers}">
         <div class="subscriptions-subtotal-item item-discount-code">
	                <div class="subscriptions-subtotal-name discount-code-desktop">
	                    <spring:theme code="basket.page.totals.discount.code"/>
	                </div>
	                <div class="subscriptions-subtotal-value">
						<c:forEach items="${vouchers}" var="voucher" varStatus="loop">
							<div class="voucher-list__item">
								<spring:url value='/cart/voucher/remove' var="voucherRemoveFormAction"/>
								<form:form commandName="voucherForm" action="${voucherRemoveFormAction}" method="post">
									<span id="voucher-code-${voucher.code}" class="js-release-voucher voucher-list__item-box">
										${voucher.code}
										<form:input id="discountCodeValue" path="discountCodeValue" hidden="hidden" value="${voucher.code}" type="text"/>
										<span id="voucher-remove-button_${loop.index}" class="glyphicon glyphicon-remove js-release-voucher-remove-btn voucher-list__item-remove"/>
									</span>
								</form:form>
							</div>
						</c:forEach>
	                </div>
	     </div>
	    </c:if>
        <c:if test="${cartData.totalDiscounts.value > 0}">
            <div class="subscriptions-subtotal-item item-discount">
                <div class="subscriptions-subtotal-name"><spring:theme code="basket.page.totals.discount"/></div>
                <div class="subscriptions-subtotal-value">-<format:price priceData="${cartData.totalDiscounts}"/></div>
            </div>
        </c:if>
        <sec:authorize access="!hasRole('ROLE_ANONYMOUS')">
        <c:if test="${cartData.taxAvailable}">
            <div class="subscriptions-subtotal-item item-taxes">
                <div class="subscriptions-subtotal-name">
                    <spring:theme code="basket.page.totals.netTax"/>
                </div>
                <div class="subscriptions-subtotal-value">
                    <format:price priceData="${cartData.totalTax}"/>
                </div>
            </div>
        </c:if>
        </sec:authorize>
        <c:if test="${not empty cartData.deliveryCost and cartData.showDeliveryCost}">
        	<div class="subscriptions-subtotal-item item-taxes">
            	<div class="subscriptions-subtotal-name">
                	<spring:theme code="basket.page.totals.delivery" />
                </div>
                <div class="subscriptions-subtotal-value">
                	<format:price displayFreeForZero="true" priceData="${cartData.deliveryCost}" />
                </div>
        	</div>
        </c:if>
        <div class="subscriptions-subtotal-item item-total">
            <div class="subscriptions-subtotal-name"><spring:theme code="basket.page.totals.total"/></div>
            <div class="subscriptions-subtotal-value"><format:price priceData="${cartData.totalPriceWithTax}"/></div>
        </div>
    </div>
    <div class="subscriptions-action-buttons">
        <a href="${continueShoppingUrl}" class="link"><spring:theme code="basket.keep.shopping"/></a>
        <button type="button" class="btn btn-primary checkoutButton" data-checkout-url="${checkoutUrl}"><spring:theme
                code="checkout.checkout"/></button>
    </div>
    <c:if test="${cartData.subTotal.value > 0 and not isPreOrder}">
		<div class="subscriptions-paypal-buttons">
			<button type="button" class="btn btn-paypal checkoutButton" data-checkout-url="${payPalCheckoutUrl}">
				<img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-pill-paypalcheckout-44px.png"
					alt="PayPal Checkout">
			</button>
		</div>
	</c:if>
</div>


