extends layouts/grid-error-page

block vars
	- var pageTitle = "404";
	- var headTitleText =  pageTitle;
	- var containerCSSClass = "error-page";

block center
	.error-block
		img(class="error-image" src="responsive/common/images/404error_icon@2x.png")
		h1.error-title PAGE NOT FOUND (404)
		p.error-text
			| Apologies, we can’t find the page you’re looking for.
			br
			| Please try again later or &nbsp;
			a(href="#") contact us
			| &nbsp; if this issue persists.