extends layouts/grid-error-page

block vars
	- var pageTitle = "500";
	- var headTitleText =  pageTitle;
	- var containerCSSClass = "error-page";
	- var emptyHeader = true;
	- var emptyFooter = true;

block center
	.error-block
		img(class="error-image" src="responsive/common/images/500error_icon@2x.png")
		h1.error-title SERVER ERROR (500)
		p.error-text
			| Apologies, we are currently experiencing a server error.
			br
			| Please try again later or &nbsp;
			a(href="#") contact us
			| &nbsp; if this issue persists.