extends layouts/grid-main

block vars
    - var pageTitle = "Shopping Cart Order History";
    - var headTitleText =  pageTitle;
    - var containerCSSClass = "shopping-cart-page shopping-cart-order-history";
    - var checkoutBreadcrumb = false;
    - var errorMessage = false;
    - var tooltipContent = "Registration codes are used to access WileyPLUS. The can be purchased separately or as part of a bundle.";

block center
    div(class="shopping-cart-top")
        h1(class="main-page-title icon-confirmation") Order history
    div(class="sort-panel")
        span(class="sort-panel-title") Sort by
        div(class="select-component sort-panel-component")
            select
                option(value='1', selected) By Date
                option(value='2') By Order Number
    div(class="products-table order-history-table")
        div(class="table-head")
            div(class="table-head-item item-product-detail") Product Detail
            div(class="table-head-item item-order-number") Order Number
            div(class="table-head-item item-data-placed") Data Placed
            div(class="table-head-item item-total") Amount Charged
            div(class="table-head-item item-action-button")
        div(class="table-body")
            div(class="table-body-row")
                div(class="table-body-item item-product-detail")
                    p(class="item-title-mobile") Product Detail
                    div(class="item-value")
                        span(class="product-label") ONLINE OPEN
                        | Advanced Science
                    div(class="item-value")
                        span(class="product-label") ONLINE OPEN
                        | Advanced Science Advanced Science
                div(class="table-body-item item-order-number")
                    p(class="item-title-mobile") Order Number
                    p(class="item-value") 222222
                div(class="table-body-item item-data-placed")
                    p(class="item-title-mobile") Data Placed
                    p(class="item-value") 17 January 2018
                div(class="table-body-item item-total")
                    p(class="item-title-mobile") Amount Charged
                    p(class="item-value") $2,5000
                div(class="table-body-item item-action-button")
                    a(href="#", class="button button-main small") Manage Order
            div(class="table-body-row")
                div(class="table-body-item item-product-detail")
                    p(class="item-title-mobile") Product Detail
                    div(class="item-value")
                        span(class="product-label") ONLINE OPEN
                        | Advanced Science
                    div(class="item-value")
                        span(class="product-label") ONLINE OPEN
                        | Advanced Science Advanced Science Advanced Science
                div(class="table-body-item item-order-number")
                    p(class="item-title-mobile") Order Number
                    p(class="item-value") 222222
                div(class="table-body-item item-data-placed")
                    p(class="item-title-mobile") Data Placed
                    p(class="item-value") 17 January 2018
                div(class="table-body-item item-total")
                    p(class="item-title-mobile") Amount Charged
                    p(class="item-value") $2,5000
                div(class="table-body-item item-action-button")
                    a(href="#", class="button button-main small") Manage Order
    div.pagination-panel
        a(href="#", class="arrow-left")
        a.pagination-panel-item.active(href="#") 1
        a.pagination-panel-item(href="#") 2
        a.pagination-panel-item(href="#") 3
        a.pagination-panel-item(href="#") 4
        a.pagination-panel-item(href="#") 5
        a(href="#", class="arrow-right disabled")







