extends layouts/grid-main

block vars
    - var pageTitle = "Shopping Cart Confirmation";
    - var headTitleText =  pageTitle;
    - var containerCSSClass = "shopping-cart-page shopping-cart-confirmation";
    - var checkoutBreadcrumb = true;
    - var errorMessage = true;
    - var tooltipContent = "Registration codes are used to access WileyPLUS. The can be purchased separately or as part of a bundle.";

block center
    div(class="shopping-cart-top")
        div(class="product-cart-id") Cart ID:
            b  00024002
        h1(class="main-page-title icon-shopping-cart") Confirmation
    div(class="confirmation-message-block")
        div(class="confirmation-message-title") Thank you. Your order was successful!
        p
            | Thank you for submitting your order. Your order number is &nbsp;
            b 00024002
            | .A copy of your order details has been sent to &nbsp;
            a(href="mailto:author_mail@gmail.com") author_mail@gmail.com
            | &nbsp;If you have selected to pay by invoice, you will receive an email with the invoice attached within 24-48 hours. If you have any questions, please contact
            | Wiley Author Support via this &nbsp;
            b form.
    div(class="confirmation-order-review")
        div(class="confirmation-order-summary")
            h3(class="order-review-section-title") Order Summary
            div.order-review-items-list
                div.order-review-item
                    div.order-review-label Order Number
                    div.order-review-value
                        b 00024002
                div.order-review-item
                    div.order-review-label Date Placed
                    div.order-review-value 19 September 2017  10:00 AM
                div.order-review-item
                    div.order-review-label Order Total
                    div.order-review-value $2,536.00

        div(class="form-wrapper order-review-block")
            div(class="form-top")
                div(class="form-title") Product Details
                div(class="order-review-table", id="orderReviewProductTable")
                    div(class="products-table")
                        div(class="table-head")
                            div(class="table-head-item item-product") Product
                            div(class="table-head-item item-quantity") Quantity
                            div(class="table-head-item item-total") Total
                        div(class="table-body")
                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-1.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") ONLINE OPEN
                                        h4(class="item-description-title") Advanced Science
                                        p(class="item-description-text")
                                            | Exploitation of the Large-Area Basal Plane of MoS2 and Preparation of Bifunctional
                                            | Catalysts through On-Surface Self-Assembly
                                        div(class="description-extra-info")
                                            div(class="extra-item")
                                                p(class="item-title") DOI
                                                p(class="item-value") 10.1002/cam4.2864
                                            div(class="extra-item")
                                                p(class="item-title") Delivery Date
                                                p(class="item-value") 25/07/2017
                                            div(class="extra-item")
                                                p(class="item-title") Level of Service
                                                p(class="item-value") Basic
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $2,500.00

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-2.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") COLOR CHARGE
                                        h4(class="item-description-title") Groupthink and outcomes of health care teams
                                        p(class="item-description-text")
                                            | Speaking up in Defense of Teamwork Training Towards
                                            | Patient Safety: A Response
                                    div(class="table-body-item item-quantity")
                                        p(class="item-quantity-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile")
                                            b Total
                                        p(class="item-value")
                                            b $2,500.00

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-3.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") PUBLICATION CHARGE
                                        h4(class="item-description-title") Pharmacy Practice and Research
                                        p(class="item-description-text")
                                            | Speaking up in Defense of Teamwork Training Towards
                                            | Patient Safety: A Response
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $320.00
                                div(class="item-price-discount")
                                    p * You received a 10% discount on this product

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-4.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") PAGE CHARGE
                                        h4(class="item-description-title") Macromolecular Theory and Simulations
                                        p(class="item-description-text")
                                            | Network Polydispersity and Deformation-Induced Damage in
                                            | Filled Elastomers
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $200.00
                                div(class="item-price-discount")
                                    p * You received a 10% discount on this product

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-5.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") COVER CHARGE
                                        h4(class="item-description-title") Advanced Healthcare Materials
                                        p(class="item-description-text")
                                            | Connecting Biology to Electronics: Molecular
                                            | Communication via Redox Modality
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $150.00
                                div(class="item-price-discount")
                                    p * You received a 10% discount on this product

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-6.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") EDITING SERVICE
                                        h4(class="item-description-title") Advanced Healthcare Materials
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $200.00
                                div(class="item-price-discount")
                                    p * You received a 10% discount on this product

                    .product-summ-total
                        .total-row
                            .item-total-label Subtotal
                            .item-total-value $4,320.00
                        .total-row
                            .item-total-label Taxes
                            .item-total-value $136.00
                        .total-row
                            .item-total-label Discounts
                            .item-total-value - $100.00
                        .total-row
                            .item-total-label Total
                            .item-total-value $4,356.00

            div(class="tab-content order-review-payment")
                h3.order-review-section-title Payment
                div.order-review-items-list
                    div.order-review-item
                        div.order-review-label Payment Method
                        div.order-review-value Credit card
                    div.order-review-item
                        div.order-review-label Payment Type
                        div.order-review-value Visa   **** - **** - **** - 1234
            div(class="tab-content order-review-billing")
                h3.order-review-section-title Billing Information
                div.order-review-items-list
                    div.order-review-item
                        div.order-review-label Name
                        div.order-review-value Nicole Ruffin
                    div.order-review-item
                        div.order-review-label University
                        div.order-review-value Louisiana State University
                    div.order-review-item
                        div.order-review-label Department
                        div.order-review-value Business & Management
                    div.order-review-item
                        div.order-review-label Address
                        div.order-review-value 1893 Wescam Court, Medina, NY 14103, United States
                    div.order-review-item
                        div.order-review-label Phone Number
                        div.order-review-value 7812223714
                    div.order-review-item
                        div.order-review-label Email Address
                        div.order-review-value nicolebruffin@gmail.com
                h3.order-review-section-title Tax Exemption Details
                div.order-review-items-list
                    div.order-review-item
                        div.order-review-label Tax Number
                        div.order-review-value 20260743
                    div.order-review-item
                        div.order-review-label Tax Code Expiration Date
                        div.order-review-value 21 September 2017
    div.discount-coupon-block
        p Thank you for submitting your payment
        p.blue You've earned the following coupon!
        div.discount-coupon
            div.discount-coupon-amount 25% discount
            p on your next purchase
            span.button.button-main.small Buymore16

    div.shopping-cart-survey-block
        form(name="shopping-cart-survey", id="shopping-cart-survey-form")
            h4.shopping-cart-survey-title Help us improve your experience
            p Indicate your agreement with the following statement. “It was easy and straighforward to pay for my journal article."
            ul.shopping-cart-survey-list
                li.radio-button-component
                    label
                        input(type="radio", name="shopping-cart-survey", value="StronglyDisagree")
                        span Strongly disagree
                li.radio-button-component
                    label
                        input(type="radio", name="shopping-cart-survey", value="disagree")
                        span Disagree
                li.radio-button-component
                    label
                        input(type="radio", name="shopping-cart-survey", value="NeitherAgreeNotDisagree")
                        span Neither agree not disagree
                li.radio-button-component
                    label
                        input(type="radio", name="shopping-cart-survey", value="agree")
                        span Agree
                li.radio-button-component
                    label
                        input(type="radio", name="shopping-cart-survey", value="StronglyAgree")
                        span Strongly agree
            p Please add any comments below to expand on your reply.
            .input-group
                .form-field
                    textarea#shoppingCartSurveyComments.form-control(maxlength='250', name='newCartDescription', placeholder='Enter comments')

            button.button.right.small(disabled, type='submit') Submit
    a(href="#", class="button button-main back-button") Back to Dashboard




