extends layouts/grid-main

block vars
    - var pageTitle = "Shopping Cart History Details";
    - var headTitleText =  pageTitle;
    - var containerCSSClass = "shopping-cart-page shopping-cart-history-details";
    - var tooltipContent = "Registration codes are used to access WileyPLUS. The can be purchased separately or as part of a bundle.";

block center
    div.order-history-details-wrapper
        div(class="shopping-cart-top")
            a(class="button button-secondary button-back-to-order", href="", title="Back to Order History") Back to Order History
            h1(class="main-page-title icon-shopping-cart") Order Details

        div(class="order-history-details")
            div(class="form-top")
                div(class="payment-details")
                    div(class="payment-number-date")
                        p Order Number:
                            span &nbsp;00024002
                        p Date Placed:
                            span &nbsp;17 January 2018
                    div(class="payment-group-buttons")
                        a(class="button button-main", href="#", title="Edit Payment Details") Edit Payment Details
                div(class="order-history-details-table")
                    div(class="products-table")
                        div(class="table-head")
                            div(class="table-head-item item-product") Product
                            div(class="table-head-item item-product-status") Status
                            div(class="table-head-item item-quantity") Quantity
                            div(class="table-head-item item-total") Total
                        div(class="table-body")
                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-1.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") ONLINE OPEN
                                        h4(class="item-description-title") Advanced Science
                                        p(class="item-description-text")
                                            | Exploitation of the Large-Area Basal Plane of MoS2 and Preparation of Bifunctional
                                            | Catalysts through On-Surface Self-Assembly
                                        div(class="description-extra-info")
                                            div(class="extra-item mobile")
                                                p(class="item-title") Status
                                                p(class="item-value") In Process
                                            div(class="extra-item")
                                                p(class="item-title") DOI
                                                p(class="item-value") 10.1002/cam4.2864
                                            div(class="extra-item")
                                                p(class="item-title") Delivery Date
                                                p(class="item-value") 25/07/2017
                                            div(class="extra-item")
                                                p(class="item-title") Level of Service
                                                p(class="item-value") Basic
                                    div(class="table-body-item item-status desktop")
                                        p(class="item-title-mobile") Status
                                        p(class="item-value") In Process
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $2,500.00
                                    div(class="table-body-item item-remove")
                                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeOrderLineModal") Remove
                                    a(class="button button-main item-invoice-button", href="#", title="View Invoice") View Invoice

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-2.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") COLOR CHARGE
                                        h4(class="item-description-title") Groupthink and outcomes of health care teams
                                        p(class="item-description-text")
                                            | Speaking up in Defense of Teamwork Training Towards
                                            | Patient Safety: A Response
                                    div(class="table-body-item item-status")
                                        p(class="item-title-mobile") Status
                                        p(class="item-value item-cancelled") Cancelled

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-3.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") PUBLICATION CHARGE
                                        h4(class="item-description-title") Pharmacy Practice and Research
                                        p(class="item-description-text")
                                            | Speaking up in Defense of Teamwork Training Towards
                                            | Patient Safety: A Response
                                    div(class="table-body-item item-status")
                                        p(class="item-title-mobile") Status
                                        p(class="item-value") In Process
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $320.00
                                    div(class="table-body-item item-remove")
                                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeOrderLineModal") Remove

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-4.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") PAGE CHARGE
                                        h4(class="item-description-title") Macromolecular Theory and Simulations
                                        p(class="item-description-text")
                                            | Network Polydispersity and Deformation-Induced Damage in
                                            | Filled Elastomers
                                    div(class="table-body-item item-status")
                                        p(class="item-title-mobile") Status
                                        p(class="item-value") In Process
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $200.00

                                    div(class="table-body-item item-remove")
                                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeOrderLineModal") Remove

                                div(class="item-price-discount")
                                    p * You received a 10% discount on this product
                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-5.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") COVER CHARGE
                                        h4(class="item-description-title") Advanced Healthcare Materials
                                        p(class="item-description-text")
                                            | Connecting Biology to Electronics: Molecular
                                            | Communication via Redox Modality
                                    div(class="table-body-item item-status")
                                        p(class="item-title-mobile") Status
                                        p(class="item-value") In Process
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $150.00
                                    div(class="table-body-item item-remove")
                                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeOrderLineModal") Remove

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-6.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") EDITING SERVICE
                                        h4(class="item-description-title") Advanced Healthcare Materials
                                    div(class="table-body-item item-status")
                                        p(class="item-title-mobile") Status
                                        p(class="item-value") In Process
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $200.00
                                    div(class="table-body-item item-remove")
                                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeOrderLineModal") Remove

                    .product-summ-total
                        .total-row
                            .item-total-label Subtotal
                            .item-total-value $4,320.00
                        .total-row
                            .item-total-label Taxes
                            .item-total-value $136.00
                        .total-row
                            .item-total-label Discounts
                            .item-total-value - $100.00
                        .total-row
                            .item-total-label Total
                            .item-total-value $4,356.00

            div(class="tab-content order-review-payment")
                h3.order-review-section-title Payment
                div.order-review-items-list
                    div.order-review-item
                        div.order-review-label Payment Method
                        div.order-review-value Credit card
                    div.order-review-item
                        div.order-review-label Payment Type
                        div.order-review-value Visa   **** - **** - **** - 1234
            div(class="tab-content order-review-billing")
                h3.order-review-section-title Billing Information
                div.order-review-items-list
                    div.order-review-item
                        div.order-review-label Name
                        div.order-review-value Nicole Ruffin
                    div.order-review-item
                        div.order-review-label University
                        div.order-review-value Louisiana State University
                    div.order-review-item
                        div.order-review-label Department
                        div.order-review-value Business & Management
                    div.order-review-item
                        div.order-review-label Address
                        div.order-review-value 1893 Wescam Court, Medina, NY 14103, United States
                    div.order-review-item
                        div.order-review-label Phone Number
                        div.order-review-value 7812223714
                    div.order-review-item
                        div.order-review-label Email Address
                        div.order-review-value nicolebruffin@gmail.com
                h3.order-review-section-title Tax Exemption Details
                div.order-review-items-list
                    div.order-review-item
                        div.order-review-label Tax Number
                        div.order-review-value 20260743
                    div.order-review-item
                        div.order-review-label Tax Code Expiration Date
                        div.order-review-value 21 September 2017

        a(class="button", href="", title="Cancel Order", data-toggle="modal", data-target="#cancelProductConfirm") Cancel Order

    include modals/cancell-product-confirmation
    include modals/remove-order-line-modal




