extends layouts/grid-main

block vars
	- var pageTitle = "Shopping Cart Empty";
	- var headTitleText =  pageTitle;
	- var containerCSSClass = "shopping-cart-page";

block center
	div(class="shopping-cart-top")
		div(class="product-cart-id") Cart ID:
			b  00024002
		h1(class="main-page-title icon-shopping-cart") Shopping Cart
	div.shopping-cart-empty
		.content
			div(class="products-table")
				div(class="table-head")
					div(class="table-head-item item-product") Product
					div(class="table-head-item item-quantity") Quantity
					div(class="table-head-item item-total") Total
				div(class="table-body")
					div(class="table-body-row")
						img(src="responsive/common/images/empty_cart.png", srcset="responsive/common/images/empty_cart@2x.png 2x, responsive/common/images/empty_cart@3x.png 3x")
						div.empty-cart-title Your Shopping Cart is Empty
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
						a(href="#", class="button button-add-services button-main", title="Add More Services") Add More Services
	div(class="shopping-cart-bottom")
		div(class="shopping-cart-action-buttons")
			div.action-buttons-mobile-wrapper
				a(href="#", class="button button-paypal disabled", title="Proceed to checkout")
				a(href="#", class="button button-main disabled", title="Proceed to checkout") Proceed to checkout
	include shopping-cart/recommended-products
	include modals/new-cart-modal





