extends layouts/grid-main

block vars
    - var pageTitle = "Shopping Cart";
    - var headTitleText =  pageTitle;
    - var containerCSSClass = "shopping-cart-page";

block center
    div(class="shopping-cart-top")
        div(class="product-cart-id") Cart ID:
            b  00024002
        h1(class="main-page-title icon-shopping-cart") Shopping Cart

    div(class="products-table")
        div(class="table-head")
            div(class="table-head-item item-product") Product
            div(class="table-head-item item-quantity") Quantity
            div(class="table-head-item item-total") Total
        div(class="table-body")
            div(class="table-body-row")
                div(class="table-body-item item-image")
                    img(src="responsive/common/images/product-cart-image-1.png", alt="product image")
                div(class="table-body-mobile-wrap")
                    div(class="table-body-item item-description")
                        span(class="product-label") ONLINE OPEN
                        h4(class="item-description-title") Advanced Science
                        p(class="item-description-text")
                            | Exploitation of the Large-Area Basal Plane of MoS2 and Preparation of Bifunctional
                            | Catalysts through On-Surface Self-Assembly
                        div(class="description-extra-info")
                            div(class="extra-item")
                                p(class="item-title") DOI
                                p(class="item-value") 10.1002/cam4.2864
                            div(class="extra-item")
                                p(class="item-title") Delivery Date
                                p(class="item-value") 25/07/2017
                            div(class="extra-item")
                                p(class="item-title") Level of Service
                                p(class="item-value") Basic
                    div(class="table-body-item item-quantity")
                        p(class="item-title-mobile") Quantity
                        p(class="item-value") 2
                    div(class="table-body-item item-total")
                        p(class="item-title-mobile") Total
                        p(class="item-value") $2,500.00
                    div(class="table-body-item item-remove")
                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeProductConfirm") Remove

                div(class="item-price-discount")
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product You received a 10% discount on this product
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product
            div(class="table-body-row")
                div(class="table-body-item item-image")
                    img(src="responsive/common/images/product-cart-image-2.png", alt="product image")
                div(class="table-body-mobile-wrap")
                    div(class="table-body-item item-description")
                        span(class="product-label") COLOR CHARGE
                        h4(class="item-description-title") Groupthink and outcomes of health care teams
                        p(class="item-description-text")
                            | Speaking up in Defense of Teamwork Training Towards
                            | Patient Safety: A Response
                    div(class="table-body-item item-quantity")
                        p(class="item-quantity-mobile") Quantity
                        p(class="item-value") 2
                    div(class="table-body-item item-total")
                        p(class="item-title-mobile")
                            b Total
                        p(class="item-value")
                            b $2,500.00
                    div(class="table-body-item item-remove")
                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeProductConfirm") Remove

            div(class="table-body-row")
                div(class="table-body-item item-image")
                    img(src="responsive/common/images/product-cart-image-3.png", alt="product image")
                div(class="table-body-mobile-wrap")
                    div(class="table-body-item item-description")
                        span(class="product-label") PUBLICATION CHARGE
                        h4(class="item-description-title") Pharmacy Practice and Research
                        p(class="item-description-text")
                            | Speaking up in Defense of Teamwork Training Towards
                            | Patient Safety: A Response
                    div(class="table-body-item item-quantity")
                        p(class="item-title-mobile") Quantity
                        p(class="item-value") 2
                    div(class="table-body-item item-total")
                        p(class="item-title-mobile") Total
                        p(class="item-value") $320.00
                    div(class="table-body-item item-remove")
                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeProductConfirm") Remove

                div(class="item-price-discount")
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product You received a 10% discount on this product
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product
            div(class="table-body-row")
                div(class="table-body-item item-image")
                    img(src="responsive/common/images/product-cart-image-4.png", alt="product image")
                div(class="table-body-mobile-wrap")
                    div(class="table-body-item item-description")
                        span(class="product-label") PAGE CHARGE
                        h4(class="item-description-title") Macromolecular Theory and Simulations
                        p(class="item-description-text")
                            | Network Polydispersity and Deformation-Induced Damage in
                            | Filled Elastomers
                    div(class="table-body-item item-quantity")
                        p(class="item-title-mobile") Quantity
                        p(class="item-value") 2
                    div(class="table-body-item item-total")
                        p(class="item-title-mobile") Total
                        p(class="item-value") $200.00

                    div(class="table-body-item item-remove")
                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeProductConfirm") Remove

                div(class="item-price-discount")
                    p * You received a 10% discount on this product
            div(class="table-body-row")
                div(class="table-body-item item-image")
                    img(src="responsive/common/images/product-cart-image-5.png", alt="product image")
                div(class="table-body-mobile-wrap")
                    div(class="table-body-item item-description")
                        span(class="product-label") COVER CHARGE
                        h4(class="item-description-title") Advanced Healthcare Materials
                        p(class="item-description-text")
                            | Connecting Biology to Electronics: Molecular
                            | Communication via Redox Modality
                    div(class="table-body-item item-quantity")
                        p(class="item-title-mobile") Quantity
                        p(class="item-value") 2
                    div(class="table-body-item item-total")
                        p(class="item-title-mobile") Total
                        p(class="item-value") $150.00

                    div(class="table-body-item item-remove")
                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeProductConfirm") Remove

                div(class="item-price-discount")
                    p * You received a 10% discount on this product
            div(class="table-body-row")
                div(class="table-body-item item-image")
                    img(src="responsive/common/images/product-cart-image-6.png", alt="product image")
                div(class="table-body-mobile-wrap")
                    div(class="table-body-item item-description")
                        span(class="product-label") EDITING SERVICE
                        h4(class="item-description-title") Advanced Healthcare Materials
                    div(class="table-body-item item-quantity")
                        p(class="item-title-mobile") Quantity
                        p(class="item-value") 2
                    div(class="table-body-item item-total")
                        p(class="item-title-mobile") Total
                        p(class="item-value") $200.00
                    div(class="table-body-item item-remove")
                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeProductConfirm") Remove

                div(class="item-price-discount")
                    p * You received a 10% discount on this product
    div(class="shopping-cart-bottom")
        div(class="total-details-wrapper")
            div(class="discount-code-block")
                form(class="discount-code-form")
                    div(class="discount-code-form-title")
                        label Enter Society Discount / Promotion Code
                    div(class="input-group")
                        div(class="form-field")
                            input(id="discountCodeValue", name="discountCodeValue", class="discount-code-input error form-control", type="text", placeholder="Enter Society Discount / Promotion Code", required)
                        span(class="input-group-btn")
                            button(type="submit", class="button form-button small") Apply
                    div(class="form-field-message")
                        img(src="responsive/common/images/applied-discount-icon.png", srcset="responsive/common/images/applied-discount-icon@2x.png 2x, responsive/common/images/applied-discount-icon@3x.png 3x")
                        span This discount has been applied
                    div(class="form-field-message error-message")
                        img(src="responsive/common/images/error-discount-icon.png", srcset="responsive/common/images/error-discount-icon@2x.png 2x, responsive/common/images/error-discount-icon@3x.png 3x")
                        span The you entered is not valid

                form(class="discount-code-form")
                    div(class="discount-code-form-title")
                        label Select discount
                    div(class="input-group")
                        div(class="select-component")
                            select
                                option(selected disabled) Select
                                option(value='1') University of Kentucky-Paducah, Department of Marketing
                                option(value='2') University of Kentucky-Paducah, Department of Marketing
                                option(value='3') University of Kentucky-Paducah, Department of Marketing
                                option(value='4') University of Kentucky-Paducah, Department of Marketing
                        span(class="input-group-btn")
                            button(type="submit", class="button form-button small") Apply

            div(class="total-details-table")
                div(class="total-details-row")
                    div  Subtotal
                    div   $4,320.00
                div(class="total-details-row")
                    div  Estimated Taxes
                    div   $136.00
                div(class="total-details-row")
                    div  Discount code
                    div
                        a(href="javascript:void(0)" class="discount-code-value js-release-voucher-remove-btn" title="Lorem Ipsum") Lorem Ipsum
                            i(class="remove-discount") &#x2715;
                        a(href="javascript:void(0)" class="discount-code-value js-release-voucher-remove-btn" title="Lorem Ipsum Lorem ipsum") Lorem Ipsum Lorem ipsum
                            i(class="remove-discount") &#x2715;
                div(class="total-details-row")
                    div  Discount
                    div   -$150.00
                div(class="total-details-row")
                    div
                        b Total
                    div
                        b $4,456.00
        div(class="discount-code-message") You are going to spend over
            b &nbsp;$3000.00,
            | &nbsp;a discount coupon for your next purchase will be awarded upon placing the order.
    div(class="shopping-cart-action-buttons")
        a(href="#", class="button button-secondary button-add-services", title="Add More Services") Add More Services
        div.action-buttons-mobile-wrapper
            span.button-paypal-wrapper
                button.button.button-paypal

            a(href="#", class="button button-main button-checkout", title="Proceed to checkout") Proceed to checkout
    include shopping-cart/recommended-products
    include modals/new-cart-modal
    include modals/remove-product-confirmation





