extends layouts/grid-main

block vars
    - var pageTitle = "Shopping Cart Checkout";
    - var headTitleText =  pageTitle;
    - var containerCSSClass = "shopping-cart-page shopping-cart-checkout";
    - var asmPanel = true;
    - var checkoutBreadcrumb = true;
    - var errorMessage = false;
    - var tooltipContent = "Registration codes are used to access WileyPLUS. The can be purchased separately or as part of a bundle.";

block center
    div(class="shopping-cart-top")
        div(class="product-cart-id") Cart ID:
            b  00024002
        h1(class="main-page-title icon-shopping-cart") Checkout
    .order-summary
        h2.order-summary-title Order Summary
        .order-summary-product-summ
            .product-summ-wr
                .product-summ-image
                    img(src="responsive/common/images/product-cart-image-1.png", alt="product image")
                .product-summ-description
                    .description-items-list
                        span(class="product-label") ONLINE OPEN
                        h4(class="item-description-title") Advanced Science
                    .description-items-list
                        span(class="product-label") ONLINE OPEN
                        h4(class="item-description-title") Advanced Science
                    .description-items-list
                        span(class="product-label") ONLINE OPEN
                        h4(class="item-description-title") Advanced Science
                a(class="button-view-details collapsed", data-toggle="collapse", href="#productTable", role="button",
                aria-expanded="false", aria-controls="productTable") View Detail
            .product-summ-total
                .total-row
                    .item-total-label Subtotal
                    .item-total-value $4,320.00
                .total-row
                    .item-total-label Taxes
                    .item-total-value $136.00
                .total-row
                    .item-total-label Discounts
                    .item-total-value - $100.00
                .total-row
                    .item-total-label Total
                    .item-total-value $4,356.00

            div(class="product-summ-table products-table collapse", id="productTable")
                div(class="table-body")
                    div(class="table-body-row")
                        div(class="table-body-item item-image")
                            img(src="responsive/common/images/product-cart-image-1.png", alt="product image")
                        div(class="table-body-mobile-wrap")
                            div(class="table-body-item item-description")
                                span(class="product-label") ONLINE OPEN
                                h4(class="item-description-title") Advanced Science
                                p(class="item-description-text")
                                    | Exploitation of the Large-Area Basal Plane of MoS2 and Preparation of Bifunctional
                                    | Catalysts through On-Surface Self-Assembly
                                div(class="description-extra-info")
                                    div(class="extra-item")
                                        p(class="item-title") DOI
                                        p(class="item-value") 10.1002/cam4.2864
                                    div(class="extra-item")
                                        p(class="item-title") Delivery Date
                                        p(class="item-value") 25/07/2017
                                    div(class="extra-item")
                                        p(class="item-title") Level of Service
                                        p(class="item-value") Basic
                            div(class="table-body-item item-quantity")
                            div(class="table-body-item item-total")
                                p(class="item-title-mobile") Total
                                p(class="item-value") $2,500.00

                    div(class="table-body-row")
                        div(class="table-body-item item-image")
                            img(src="responsive/common/images/product-cart-image-2.png", alt="product image")
                        div(class="table-body-mobile-wrap")
                            div(class="table-body-item item-description")
                                span(class="product-label") COLOR CHARGE
                                h4(class="item-description-title") Groupthink and outcomes of health care teams
                                p(class="item-description-text")
                                    | Speaking up in Defense of Teamwork Training Towards
                                    | Patient Safety: A Response
                            div(class="table-body-item item-quantity")
                                p(class="item-quantity-mobile") Quantity
                                p(class="item-value") 2
                            div(class="table-body-item item-total")
                                p(class="item-title-mobile") Total
                                p(class="item-value") $2,500.00

                    div(class="table-body-row")
                        div(class="table-body-item item-image")
                            img(src="responsive/common/images/product-cart-image-3.png", alt="product image")
                        div(class="table-body-mobile-wrap")
                            div(class="table-body-item item-description")
                                span(class="product-label") PUBLICATION CHARGE
                                h4(class="item-description-title") Pharmacy Practice and Research
                                p(class="item-description-text")
                                    | Speaking up in Defense of Teamwork Training Towards
                                    | Patient Safety: A Response
                            div(class="table-body-item item-quantity")
                            div(class="table-body-item item-total")
                                p(class="item-title-mobile") Total
                                p(class="item-value") $320.00

                    div(class="table-body-row")
                        div(class="table-body-item item-image")
                            img(src="responsive/common/images/product-cart-image-4.png", alt="product image")
                        div(class="table-body-mobile-wrap")
                            div(class="table-body-item item-description")
                                span(class="product-label") PAGE CHARGE
                                h4(class="item-description-title") Macromolecular Theory and Simulations
                                p(class="item-description-text")
                                    | Network Polydispersity and Deformation-Induced Damage in
                                    | Filled Elastomers
                            div(class="table-body-item item-quantity")
                            div(class="table-body-item item-total")
                                p(class="item-title-mobile") Total
                                p(class="item-value") $200.00

                    div(class="table-body-row")
                        div(class="table-body-item item-image")
                            img(src="responsive/common/images/product-cart-image-5.png", alt="product image")
                        div(class="table-body-mobile-wrap")
                            div(class="table-body-item item-description")
                                span(class="product-label") COVER CHARGE
                                h4(class="item-description-title") Advanced Healthcare Materials
                                p(class="item-description-text")
                                    | Connecting Biology to Electronics: Molecular
                                    | Communication via Redox Modality
                            div(class="table-body-item item-quantity")
                            div(class="table-body-item item-total")
                                p(class="item-title-mobile") Total
                                p(class="item-value") $150.00

                    div(class="table-body-row")
                        div(class="table-body-item item-image")
                            img(src="responsive/common/images/product-cart-image-6.png", alt="product image")
                        div(class="table-body-mobile-wrap")
                            div(class="table-body-item item-description")
                                span(class="product-label") EDITING SERVICE
                                h4(class="item-description-title") Advanced Healthcare Materials
                            div(class="table-body-item item-quantity")
                            div(class="table-body-item item-total")
                                p(class="item-title-mobile") Total
                                p(class="item-value") $200.00
    #checkout-accordion.panel-group
        .panel
            a.panel-title(data-toggle='collapse', data-parent='#checkout-accordion', href='#cart-payment-info') Payment information
            #cart-payment-info.panel-collapse.collapse
                .panel-body
                    div(class="form-wrapper")
                        div(class="form-top")
                            div(class="form-title") Payment Options
                            ul(class="tab-links", role="tablist")
                                li(class="active credit-card-tab")
                                    a(href="#credit-card-tab" role="tab" data-toggle="tab")
                                        input(id="card", type="radio", value="credit-card",  name="payment-options")
                                        label(for="card")
                                            span Credit card
                                li
                                    a(href="#invoice-tab" role="tab" data-toggle="tab")
                                        input(id="invoice", type="radio", value="invoice",  name="payment-options")
                                        label(for="invoice")
                                            span Invoice
                                li
                                    a(href="#proforma-tab" role="tab" data-toggle="tab")
                                        input(id="proforma", type="radio", value="proforma",  name="payment-options")
                                        label(for="proforma")
                                            span Proforma
                                li(class="tab-link-paypal")
                                    a(href="#paypal-tab" role="tab" data-toggle="tab")
                                        input(id="paypal", type="radio", value="paypal", disabled="true", name="payment-options")
                                        label(for="paypal")
                                            span
                                                img(src="responsive/common/images/paypal_active_icon@2x.png", alt="PayPal")
                                        a(href="#", class="link-info") What is PayPal?

                        div.tab-content
                            div(class="tab-pane fade in active", id="credit-card-tab")
                                form(action="", name="credit-card-form", id="wileyPaymentForm")
                                    div.form-content
                                        div(class="form-title")
                                            | Payment:
                                            b  Credit card
                                        a(href="#", class="button form-title-button small", data-toggle="modal", data-target="#creditCardsModal") Saved Credit cards
                                        div(class="required-field-legend") Required fields
                                        div(class="form-controls-wrapper payment-controls-custom")

                                            div(class="input-group")
                                                div(class="form-field required")
                                                    label(for="cardNumber") Card Number
                                                    input(id="cardNumber", name="card-number", pattern="[0-9]+", value="222" title="Please input numbers only", class="form-control middle", type="text", placeholder="Enter Card Number", required)
                                            div(class="card-type-icons")
                                                img(src="responsive/common/images/visa_active@3x.png")
                                                img(src="responsive/common/images/master_active@3x.png")
                                                img(src="responsive/common/images/discovery_active@3x.png")
                                                img(src="responsive/common/images/american-active@2x.png")

                                            div(class="input-group")
                                                div(class="form-field required")
                                                    label Expiration data
                                                    div(class="select-component small")
                                                        select(required)
                                                            option( disabled value='') Select Month
                                                            option(value='1', selected) 01
                                                            option(value='2') 02
                                                            option(value='3') 03
                                                            option(value='4') 04
                                                            option(value='5') 05
                                                            option(value='6') 06
                                                            option(value='7') 07
                                                            option(value='8') 08
                                                            option(value='9') 09
                                                            option(value='10') 10
                                                            option(value='11') 11
                                                            option(value='12') 12
                                                    div(class="select-component small")
                                                        select(required)
                                                            option(selected disabled value='') Select Year
                                                            option(value='2018') 2018
                                                            option(value='2019') 2019
                                                            option(value='2020') 2020
                                                            option(value='2021') 2021
                                                            option(value='2022') 2022
                                                            option(value='2023') 2023
                                                            option(value='2024') 2024
                                                            option(value='2025') 2025
                                                            option(value='2026') 2026
                                                            option(value='2027') 2027

                                            div(class="input-group")
                                                div(class="form-field required")
                                                    label(for="securityCode") Security code
                                                        span(class="popover-help-icon")
                                                            | &nbsp;
                                                            a( role="menuitem", tabindex="0", data-toggle="popover", aria-label="information icon", class="popover-help", data-content=tooltipContent)

                                                    input(id="securityCode", maxlength='3', name="card-security-code", pattern="[0-9]+", title="Please input numbers only", class="form-control small", type="text", placeholder="Enter security code", required)


                                    div(class="form-footer")
                                        label.custom-checkbox
                                            input(type='checkbox')
                                            | Save to Credit Card Info
                                        button.button.button-main.small(type='submit') Next Step
                            div(class="tab-pane fade", id="invoice-tab")
                                form(action="", name="invoice-form")
                                    div.form-content
                                        div(class="form-title")
                                            | Payment:
                                            b  Invoice
                                        div(class="form-controls-wrapper")
                                            div(class="input-group characters-counter")
                                                div(class="form-field")
                                                    label(for="invoiceName") Purchase Order Number
                                                    input(id="invoiceName", maxlength='10', name="invoiceName", value="Descripti", class="form-control", type="text", placeholder="Enter name", required)

                                                i(class="characters-counter-result") Characters left:&nbsp;
                                                    span(class="characters-counter-value")
                                            div(class="input-group characters-counter")
                                                div(class="form-field")
                                                    label(for="invoiceDescription") Notes to appear on Invoice
                                                    textarea(id="invoiceDescription", maxlength='250', name="invoiceDescription", class="form-control", placeholder="Enter description")
                                                i(class="characters-counter-result") Characters left:&nbsp;
                                                    span(class="characters-counter-value")
                                    div(class="form-footer")
                                        button.button.button-main.small(type='submit') Next Step
                            div(class="tab-pane fade", id="proforma-tab")
                                form(action="", name="proforma-form")
                                    div.form-content
                                        div(class="form-title")
                                            | Payment:
                                            b  Proforma
                                        div(class="form-controls-wrapper")
                                            div(class="input-group characters-counter", data-max-characters='5')
                                                div(class="form-field")
                                                    label(for="proformaName") Purchase Order Number
                                                    input(id="proformaName", maxlength='5', name="proformaName", class="form-control", type="text", placeholder="Enter name", required)
                                                i(class="characters-counter-result") Characters left:&nbsp;
                                                    span(class="characters-counter-value")
                                            div(class="input-group characters-counter", data-max-characters='250')
                                                div(class="form-field")
                                                    label(for="proformaDescription") Notes to appear on Proforma
                                                    textarea(id="proformaDescription", maxlength='250', name="proformaDescription", class="form-control", placeholder="Enter description")
                                                i(class="characters-counter-result") Characters left:&nbsp;
                                                    span(class="characters-counter-value")
                                    div(class="form-footer")
                                        button.button.button-main.small(type='submit') Next Step
                            div(class="tab-pane fade", id="paypal-tab")
                                div(class="form-footer")
                                    a.button.button-main(href="#") Continue to PayPal
        .panel
            a.panel-title.completed.collapsed(data-toggle='collapse', data-parent='#checkout-accordion', href='#cart-billing-info') Billing information
            #cart-billing-info.panel-collapse.collapse.in
                .panel-body
                    div
                        form(class="form-wrapper", action="", name="credit-card-form", id="addressForm")
                            div.form-content.column
                                div(class="form-title") Billing information
                                a(href="#", class="button form-title-button small", data-toggle="modal", data-target="#savedAddressesModal") Saved Addresses
                                div(class="required-field-legend") Required fields
                                div(class="form-controls-wrapper", id="i18nAddressForm")
                                    div(class="input-group")
                                        div(class="form-field required")
                                            div(class="form-group")
                                                label Country
                                                div(class="select-component", id="country-select")
                                                    select(required, id="address.country")
                                                        option(disabled) Select Country
                                                        option(value='AT', selected) Austria
                                                        option(value='BE') Belgium
                                                        option(value='BG') Bulgaria
                                                        option(value='CY') Cyprus
                                                        option(value='CZ') Czech Rep
                                                        option(value='DK') Denmark
                                                        option(value='EE') Estonia
                                                        option(value='FI') Finland
                                                        option(value='FR') France
                                                        option(value='GE') Germany
                                                        option(value='EL') Greece
                                                        option(value='HU') Hungary
                                                        option(value='IE') Ireland
                                                        option(value='IT') Italy
                                                        option(value='LV') Latvia
                                                        option(value='LT') Lithuania
                                                        option(value='LU') Luxembourg
                                                        option(value='MT') Malta
                                                        option(value='NL') Netherlands
                                                        option(value='PL') Poland
                                                        option(value='PT') Portugal
                                                        option(value='RO') Romania
                                                        option(value='ES') Spain
                                                        option(value='SK') Slovakia
                                                        option(value='SI') Slovenia
                                                        option(value='SE') Sweden
                                                        option(value='GB') United Kingdom
                                                        option(value='NO') Norway
                                                        option(value='ZA') South Africa
                                    div(class="input-group")
                                        div(class="form-field required")
                                            div(class="form-group")
                                                label Title
                                                div(class="select-component", id="title-select")
                                                    select(required)
                                                        option(selected disabled) Select Title
                                                        option(value='visa') Visa
                                                        option(value='mastercard') MasterCard
                                                        option(value='discover') Discover
                                                        option(value='americanexpress') American Express
                                    div(class="input-group")
                                        div(class="form-field required")
                                            div(class="form-group")
                                                label(for="firstName") First name
                                                input(id="firstName", name="first-name", class="form-control", type="text", placeholder="Enter First Name", required)

                                    div(class="input-group")
                                        div(class="form-field required")
                                            div(class="form-group ")
                                                label(for="lastName") Last name
                                                input(id="lastName", name="last-name", class="form-control", type="text", placeholder="Enter Last Name", required)

                                    div(class="input-group")
                                        div(class="form-field required")
                                            div(class="form-group ")
                                                label(for="addressLine1") Address Line 1
                                                input(id="addressLine1", name="addressLine1", class="form-control", type="text", placeholder="Address Line 1", required)

                                    div(class="input-group")
                                        div(class="form-field required")
                                            div(class="form-group ")
                                                label(for="addressLine2") Address Line 2
                                                input(id="addressLine2", name="addressLine2", class="form-control", type="text", placeholder="Address Line 2", required)

                                    div(class="input-group")
                                        div(class="form-field required")
                                            div(class="form-group ")
                                                label(for="city") City
                                                input(id="city", name="addressLine2", class="form-control", type="text", placeholder="Enter City", required)

                                    div(class="input-group")
                                        div(class="form-field required")
                                            div(class="form-group")
                                                label State/Province
                                                div(class="select-component")
                                                    select(required)
                                                        option(selected disabled value='') Select State/Province
                                                        option(value='1') State1
                                                        option(value='2') State2
                                                        option(value='3') State3
                                                        option(value='4') State4
                                                        option(value='5') 05
                                                        option(value='6') 06
                                                        option(value='7') 07
                                                        option(value='8') 08
                                                        option(value='9') 09
                                                        option(value='10') 10
                                                        option(value='11') 11
                                                        option(value='12') 12

                                    div(class="input-group")
                                        div(class="form-field required")
                                            div(class="form-group ")
                                                label(for="zipCode") Zip/Postal code
                                                input(id="zipCode", name="zip-code", title="Please input zip code", class="form-control", type="text", placeholder="Enter Zip/Postal code", required)

                                    div(class="input-group")
                                        div(class="form-field required")
                                            div(class="form-group ")
                                                label(for="address.phone") Phone Number
                                                input(id="address.phone", name="phone-number-code", pattern="[0-9]+", title="Please input numbers only", class="form-control", type="text", placeholder="Enter Phone Number", required)

                                    div(class="input-group")
                                        div(class="form-field required")
                                            div(class="form-group ")
                                                label(for="emailAddress") Email Address
                                                input(id="emailAddress", name="email-address", class="form-control", type="text", placeholder="Enter Email Address", required)

                            div.form-content.column
                                div.additionalBillingInfoForm
                                    div(class="form-title") Additional Billing Information
                                    div(class="form-controls-wrapper")
                                        div(class="input-group")
                                            div(class="form-field")
                                                div(class="form-group has-error")
                                                    label(for="institution") University/ Organization/ Institution
                                                    input(id="institution", name="institution", class="form-control", type="text", placeholder="Enter University/Organization/Institution")
                                                    .help-block
                                                        span(id="email.errors")
                                                            | You have entered invalid email address
                                        div(class="input-group")
                                            div(class="form-field")
                                                div(class="form-group ")
                                                    label(for="department") Department
                                                    input(id="department", disabled, name="department", class="form-control", type="text", placeholder="Enter Department")
                                div.taxExemptionDetailsForm
                                    div(class="form-title") Tax Exemption Details
                                    div(class="form-controls-wrapper vatRegistrationDetailsForm")
                                        div(class="tax-details")
                                            p(class="tax-details-country-name") US and Canada:
                                            p Please supply your tax exemption/resale number and a valid
                                                | copy of your certificate. Orders not accomplanied by a
                                                | certificate will result in sales tax/GST/HST charged as
                                                | applicable. Please note: by law, individuals are not eligible
                                                | for tax-exempt status.
                                        div(class="input-group")
                                            div(class="form-field")
                                                div(class="form-group")
                                                    label(for="vatRegistrationDetailsForm.taxNumber") Vat Number
                                                        span(class="popover-help-icon")
                                                            | &nbsp;
                                                            a( role="menuitem", tabindex="0", data-toggle="popover", aria-label="information icon", class="popover-help", data-content=tooltipContent)

                                                    input(id="vatRegistrationDetailsForm.taxNumber", name="vatRegistrationDetailsForm.taxNumber", class="form-control", type="text", placeholder="Enter Tax Number")
                                        div(class="input-group")
                                            div(class="form-field required wiley-datepicker")
                                                div(class="form-group")
                                                    label(for="taxExemptionDetailsForm.taxNumberExpirationDate") Tax Code Expiration Date
                                                        span(class="popover-help-icon")
                                                            | &nbsp;
                                                            a( role="menuitem", tabindex="0", data-toggle="popover", aria-label="information icon", class="popover-help", data-content=tooltipContent)
                                                    input(id="taxExemptionDetailsForm.taxNumberExpirationDate", name="taxExemptionDetailsForm.taxNumberExpirationDate", class="form-control datepicker", type="date", placeholder="Select Tax Code Expiration Date")



                            div(class="form-footer")
                                label.custom-checkbox.disabled
                                    input(type='checkbox', disabled)
                                    | Save to Address Book
                                button.button.button-main.small(type='submit', id="addressSubmit") Next Step
        .panel
            a.panel-title.collapsed(data-toggle='collapse', data-parent='#checkout-accordion', href='#cart-order-review') Order review
            #cart-order-review.panel-collapse.collapse
                .panel-body
                    div(class="form-wrapper order-review-block")
                        div(class="form-top")
                            div(class="form-title") Product Details
                                a(class="button-view-details", data-toggle="collapse", href="#orderReviewProductTable", role="button",
                                aria-expanded="false", aria-controls="orderReviewProductTable") View
                                    span.word-more More
                                    span.word-less Less
                            div(class="order-review-table collapse show in", id="orderReviewProductTable")
                                div(class="products-table")
                                    div(class="table-head")
                                        div(class="table-head-item item-product") Product
                                        div(class="table-head-item item-quantity") Quantity
                                        div(class="table-head-item item-total") Total
                                    div(class="table-body")
                                        div(class="table-body-row")
                                            div(class="table-body-item item-image")
                                                img(src="responsive/common/images/product-cart-image-1.png", alt="product image")
                                            div(class="table-body-mobile-wrap")
                                                div(class="table-body-item item-description")
                                                    span(class="product-label") ONLINE OPEN
                                                    h4(class="item-description-title") Advanced Science
                                                    p(class="item-description-text")
                                                        | Exploitation of the Large-Area Basal Plane of MoS2 and Preparation of Bifunctional
                                                        | Catalysts through On-Surface Self-Assembly
                                                    div(class="description-extra-info")
                                                        div(class="extra-item")
                                                            p(class="item-title") DOI
                                                            p(class="item-value") 10.1002/cam4.2864
                                                        div(class="extra-item")
                                                            p(class="item-title") Delivery Date
                                                            p(class="item-value") 25/07/2017
                                                        div(class="extra-item")
                                                            p(class="item-title") Level of Service
                                                            p(class="item-value") Basic
                                                div(class="table-body-item item-quantity")
                                                    p(class="item-title-mobile") Quantity
                                                    p(class="item-value") 2
                                                div(class="table-body-item item-total")
                                                    p(class="item-title-mobile") Total
                                                    p(class="item-value") $2,500.00

                                        div(class="table-body-row")
                                            div(class="table-body-item item-image")
                                                img(src="responsive/common/images/product-cart-image-2.png", alt="product image")
                                            div(class="table-body-mobile-wrap")
                                                div(class="table-body-item item-description")
                                                    span(class="product-label") COLOR CHARGE
                                                    h4(class="item-description-title") Groupthink and outcomes of health care teams
                                                    p(class="item-description-text")
                                                        | Speaking up in Defense of Teamwork Training Towards
                                                        | Patient Safety: A Response
                                                div(class="table-body-item item-quantity")
                                                    p(class="item-quantity-mobile") Quantity
                                                    p(class="item-value") 2
                                                div(class="table-body-item item-total")
                                                    p(class="item-title-mobile")
                                                        b Total
                                                    p(class="item-value")
                                                        b $2,500.00

                                        div(class="table-body-row")
                                            div(class="table-body-item item-image")
                                                img(src="responsive/common/images/product-cart-image-3.png", alt="product image")
                                            div(class="table-body-mobile-wrap")
                                                div(class="table-body-item item-description")
                                                    span(class="product-label") PUBLICATION CHARGE
                                                    h4(class="item-description-title") Pharmacy Practice and Research
                                                    p(class="item-description-text")
                                                        | Speaking up in Defense of Teamwork Training Towards
                                                        | Patient Safety: A Response
                                                div(class="table-body-item item-quantity")
                                                    p(class="item-title-mobile") Quantity
                                                    p(class="item-value") 2
                                                div(class="table-body-item item-total")
                                                    p(class="item-title-mobile") Total
                                                    p(class="item-value") $320.00
                                            div(class="item-price-discount")
                                                p * You received a 10% discount on this product

                                        div(class="table-body-row")
                                            div(class="table-body-item item-image")
                                                img(src="responsive/common/images/product-cart-image-4.png", alt="product image")
                                            div(class="table-body-mobile-wrap")
                                                div(class="table-body-item item-description")
                                                    span(class="product-label") PAGE CHARGE
                                                    h4(class="item-description-title") Macromolecular Theory and Simulations
                                                    p(class="item-description-text")
                                                        | Network Polydispersity and Deformation-Induced Damage in
                                                        | Filled Elastomers
                                                div(class="table-body-item item-quantity")
                                                    p(class="item-title-mobile") Quantity
                                                    p(class="item-value") 2
                                                div(class="table-body-item item-total")
                                                    p(class="item-title-mobile") Total
                                                    p(class="item-value") $200.00
                                            div(class="item-price-discount")
                                                p * You received a 10% discount on this product

                                        div(class="table-body-row")
                                            div(class="table-body-item item-image")
                                                img(src="responsive/common/images/product-cart-image-5.png", alt="product image")
                                            div(class="table-body-mobile-wrap")
                                                div(class="table-body-item item-description")
                                                    span(class="product-label") COVER CHARGE
                                                    h4(class="item-description-title") Advanced Healthcare Materials
                                                    p(class="item-description-text")
                                                        | Connecting Biology to Electronics: Molecular
                                                        | Communication via Redox Modality
                                                div(class="table-body-item item-quantity")
                                                    p(class="item-title-mobile") Quantity
                                                    p(class="item-value") 2
                                                div(class="table-body-item item-total")
                                                    p(class="item-title-mobile") Total
                                                    p(class="item-value") $150.00
                                            div(class="item-price-discount")
                                                p * You received a 10% discount on this product

                                        div(class="table-body-row")
                                            div(class="table-body-item item-image")
                                                img(src="responsive/common/images/product-cart-image-6.png", alt="product image")
                                            div(class="table-body-mobile-wrap")
                                                div(class="table-body-item item-description")
                                                    span(class="product-label") EDITING SERVICE
                                                    h4(class="item-description-title") Advanced Healthcare Materials
                                                div(class="table-body-item item-quantity")
                                                    p(class="item-title-mobile") Quantity
                                                    p(class="item-value") 2
                                                div(class="table-body-item item-total")
                                                    p(class="item-title-mobile") Total
                                                    p(class="item-value") $200.00
                                            div(class="item-price-discount")
                                                p * You received a 10% discount on this product

                                .product-summ-total
                                    .total-row
                                        .item-total-label Subtotal
                                        .item-total-value $4,320.00
                                    .total-row
                                        .item-total-label Taxes
                                        .item-total-value $136.00
                                    .total-row
                                        .item-total-label Discounts
                                        .item-total-value - $100.00
                                    .total-row
                                        .item-total-label Total
                                        .item-total-value $4,356.00

                        div(class="tab-content order-review-payment")
                            h3.order-review-section-title Payment
                            div.order-review-items-list
                                div.order-review-item
                                    div.order-review-label Payment Method
                                    div.order-review-value Credit card
                                div.order-review-item
                                    div.order-review-label Payment Type
                                    div.order-review-value Visa   **** - **** - **** - 1234
                            button(class="button order-review-edit-button") Edit
                        div(class="tab-content order-review-billing")
                            h3.order-review-section-title Billing Information
                            div.order-review-items-list
                                div.order-review-item
                                    div.order-review-label Name
                                    div.order-review-value Nicole Ruffin
                                div.order-review-item
                                    div.order-review-label University
                                    div.order-review-value Louisiana State University
                                div.order-review-item
                                    div.order-review-label Department
                                    div.order-review-value Business & Management
                                div.order-review-item
                                    div.order-review-label Address
                                    div.order-review-value 1893 Wescam Court, Medina, NY 14103, United States
                                div.order-review-item
                                    div.order-review-label Phone Number
                                    div.order-review-value 7812223714
                                div.order-review-item
                                    div.order-review-label Email Address
                                    div.order-review-value nicolebruffin@gmail.com
                            h3.order-review-section-title Tax Exemption Details
                            div.order-review-items-list
                                div.order-review-item
                                    div.order-review-label Tax Number
                                    div.order-review-value 20260743
                                div.order-review-item
                                    div.order-review-label Tax Code Expiration Date
                                    div.order-review-value 21 September 2017
                            button(class="button order-review-edit-button") Edit

                        div(class="form-footer")
                            label.custom-checkbox
                                input(type='checkbox')
                                | I agree to pay

    a(href="#", title="Place order", class="button button-main right place-order-btn") Place Order
    include modals/saved-cards-modal
    include modals/saved-addresses-modal






