extends layouts/grid-main

block vars
    - var pageTitle = "Shopping Cart Order History";
    - var headTitleText =  pageTitle;
    - var containerCSSClass = "shopping-cart-page shopping-cart-order-history-empty";
    - var checkoutBreadcrumb = false;
    - var errorMessage = false;
    - var tooltipContent = "Registration codes are used to access WileyPLUS. The can be purchased separately or as part of a bundle.";

block center
    div(class="shopping-cart-top")
        h1(class="main-page-title icon-confirmation") Order history
    div.no-orders-found
        p No Orders Found







