extends layouts/grid-main

block vars
    - var pageTitle = "Shopping Cart History Details";
    - var headTitleText =  pageTitle;
    - var containerCSSClass = "shopping-cart-page shopping-cart-history-details";
    - var tooltipContent = "Registration codes are used to access WileyPLUS. The can be purchased separately or as part of a bundle.";

block center
    div(class="shopping-cart-top")
        a(class="button button-secondary button-back-to-order", href="", title="Back to Order History") Back to Order History
        h1(class="main-page-title icon-shopping-cart") Order Details

    div(class="order-history-details")
        div(class="form-top")
            div(class="payment-details")
                div(class="payment-number-date")
                    p Order Number:
                        span &nbsp;00024002
                    p Date Placed:
                        span &nbsp;17 January 2018
            div(class="order-history-details-table")
                div(class="products-table")
                    div(class="table-head")
                        div(class="table-head-item item-product") Product
                        div(class="table-head-item item-product-status") Status
                        div(class="table-head-item item-quantity") Quantity
                        div(class="table-head-item item-total") Total
                    div(class="table-body")
                        div(class="table-body-row")
                            div(class="table-body-item item-image")
                                img(src="responsive/common/images/product-cart-image-1.png", alt="product image")
                            div(class="table-body-mobile-wrap")
                                div(class="table-body-item item-description")
                                    span(class="product-label") ONLINE OPEN
                                    h4(class="item-description-title") Advanced Science
                                    p(class="item-description-text")
                                        | Exploitation of the Large-Area Basal Plane of MoS2 and Preparation of Bifunctional
                                        | Catalysts through On-Surface Self-Assembly
                                    div(class="description-extra-info")
                                        div(class="extra-item")
                                            p(class="item-title") DOI
                                            p(class="item-value") 10.1002/cam4.2864
                                        div(class="extra-item")
                                            p(class="item-title") Delivery Date
                                            p(class="item-value") 25/07/2017
                                        div(class="extra-item")
                                            p(class="item-title") Level of Service
                                            p(class="item-value") Basic
                                div(class="table-body-item item-status")
                                    p(class="item-title-mobile") Status
                                    p(class="item-value") In Process

                .product-summ-total-funder
                    | * Your charges are covered by Yale University.

    a(class="button", href="", title="Cancel Order", data-toggle="modal", data-target="#cancelProductConfirm") Cancel Order

    include modals/cancell-product-confirmation




