<%@ attribute name="regions" required="true" type="java.util.List"%>
<%@ attribute name="country" required="false" type="java.lang.String"%>
<%@ attribute name="tabIndex" required="false" type="java.lang.Integer"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="formElement" tagdir="/WEB-INF/tags/responsive/formElement" %>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="theme" tagdir="/WEB-INF/tags/shared/theme" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags" %>

<c:choose>
	<c:when test="${country == 'US'}">
		<formElement:formInputBox idKey="address.firstName" labelKey="address.firstName" path="firstName" mandatory="true" />
		<formElement:formInputBox idKey="address.surname" labelKey="address.surname" path="lastName" mandatory="true" />
		<formElement:formInputBox idKey="address.line1" labelKey="address.line1" path="line1" mandatory="true" />
		<formElement:formInputBox idKey="address.line2" labelKey="address.line2" path="line2" mandatory="false"/>
		<formElement:formInputBox idKey="address.townCity" labelKey="address.townCity" path="townCity" mandatory="true" />
		<div class="row">
			<div class="col-xs-6 col-sm-6">
					<formElement:formSelectBox
							formFieldClass="form-field select-component select-form-element"
							idKey="address.region"
							labelKey="address.state"
							path="regionIso"
							mandatory="true"
							skipBlank="false"
							skipBlankMessageKey="address.state"
							items="${regions}"
							itemValue="${useShortRegionIso ? 'isocodeShort' : 'isocode'}"
							selectedValue="${addressForm.regionIso}"/>
			</div>
			<div class="col-xs-6 col-sm-6">
				<formElement:formInputBox idKey="address.postcode" labelKey="address.zipcode" path="postcode" mandatory="true" />
			</div>
		</div>
		<formElement:formInputBox idKey="address.phone" labelKey="address.phone" path="phone" mandatory="false" />
	</c:when>
	<c:when test="${country == 'CA'}">
		<formElement:formInputBox idKey="address.firstName" labelKey="address.firstName" path="firstName" mandatory="true" />
		<formElement:formInputBox idKey="address.surname" labelKey="address.surname" path="lastName" mandatory="true" />
		<formElement:formInputBox idKey="address.line1" labelKey="address.line1" path="line1" mandatory="true" />
		<formElement:formInputBox idKey="address.line2" labelKey="address.line2" path="line2" mandatory="false"/>
		<formElement:formInputBox idKey="address.townCity" labelKey="address.townCity" path="townCity" mandatory="true" />

		<div class="row">
			<div class="col-xs-6 col-sm-6">
				<formElement:formSelectBox formFieldClass="form-field select-component select-form-element" idKey="address.region" labelKey="address.province" path="regionIso" mandatory="true" skipBlank="false" skipBlankMessageKey="address.state" items="${regions}" itemValue="${useShortRegionIso ? 'isocodeShort' : 'isocode'}" selectedValue="${addressForm.regionIso}"/>
			</div>
			<div class="col-xs-6 col-sm-6">
				<formElement:formInputBox idKey="address.postcode" labelKey="address.postalcode" path="postcode" mandatory="true" />
			</div>
		</div>

		<formElement:formInputBox idKey="address.phone" labelKey="address.phone" path="phone" mandatory="false" />
	</c:when>
	<c:when test="${country == 'CN'}">
		<formElement:formInputBox idKey="address.postcode" labelKey="address.postalcode" path="postcode" mandatory="true" />
		<formElement:formSelectBox formFieldClass="form-field select-component select-form-element" idKey="address.region" labelKey="address.province" path="regionIso" mandatory="true" skipBlank="false" skipBlankMessageKey="address.selectProvince" items="${regions}" itemValue="${useShortRegionIso ? 'isocodeShort' : 'isocode'}" selectedValue="${addressForm.regionIso}"/>
		<formElement:formInputBox idKey="address.townCity" labelKey="address.townCity" path="townCity" mandatory="true" />
		<formElement:formInputBox idKey="address.line1" labelKey="address.street" path="line1" mandatory="true" />
		<formElement:formInputBox idKey="address.line2" labelKey="address.building" path="line2" mandatory="false"/>
		<formElement:formInputBox idKey="address.surname" labelKey="address.surname" path="lastName" mandatory="true" />
		<formElement:formInputBox idKey="address.firstName" labelKey="address.firstName" path="firstName" mandatory="true" />
		<formElement:formInputBox idKey="address.phone" labelKey="address.phone" path="phone" mandatory="false" />
	</c:when>
	<c:when test="${country == 'JP'}">
		<formElement:formInputBox idKey="address.surname" labelKey="address.surname" path="lastName" mandatory="true" />
		<formElement:formInputBox idKey="address.firstName" labelKey="address.firstName" path="firstName" mandatory="true" />
		<formElement:formInputBox idKey="address.line1" labelKey="address.furtherSubarea" path="line1" mandatory="true" />
		<formElement:formInputBox idKey="address.line2" labelKey="address.subarea" path="line2" mandatory="true"/>
		<formElement:formInputBox idKey="address.townCity" labelKey="address.townJP" path="townCity" mandatory="true" />
		<formElement:formSelectBox formFieldClass="form-field select-component select-form-element" idKey="address.region" labelKey="address.prefecture" path="regionIso" mandatory="true" skipBlank="false" skipBlankMessageKey="address.selectPrefecture" items="${regions}" itemValue="${useShortRegionIso ? 'isocodeShort' : 'isocode'}" selectedValue="${addressForm.regionIso}"/>
		<formElement:formInputBox idKey="address.postalcode" labelKey="address.postcode" path="postcode" mandatory="true" />
		<formElement:formInputBox idKey="address.phone" labelKey="address.phone" path="phone" mandatory="false" />
	</c:when>
	<c:otherwise>
		<formElement:formInputBox idKey="address.firstName" labelKey="address.firstName" path="firstName" mandatory="true" />
		<formElement:formInputBox idKey="address.surname" labelKey="address.surname" path="lastName" mandatory="true" />
		<formElement:formInputBox idKey="address.line1" labelKey="address.line1" path="line1" mandatory="true" />
		<formElement:formInputBox idKey="address.line2" labelKey="address.line2" path="line2" mandatory="false"/>
		<formElement:formInputBox idKey="address.townCity" labelKey="address.townCity" path="townCity" mandatory="true" />
		<formElement:formInputBox idKey="address.postcode" labelKey="address.postcode" path="postcode" mandatory="true" />
		<formElement:formInputBox idKey="address.phone" labelKey="address.phone" path="phone" mandatory="false" />
	</c:otherwise>
</c:choose>

