nav(class="my-account-nav")
	each val in ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"]
		if(pageTitle == val)
			a(href="", title="", class ="nav-item active")
				span
				| #{val}
		else
			a(href="", title="", class ="nav-item") #{val}
