div(class="order-total-section checkout-desktop")
	div(class="checkout-accordion-content-wrap")
		div(class="order-total-list")
			div(class="order-total-title")
				| Order Total
			div(class="order-total-item")
				div(class="row")
					div(class="col-xs-12 col-sm-6")
						| Subtotal:
					div(class="col-xs-12 col-sm-6 text-right price")
						| <$##.##>
			div(class="order-total-item")
				div(class="row")
					div(class="col-xs-12 col-sm-6")
						| Delivery:
					div(class="col-xs-12 col-sm-6 text-right price")
						| <$##.##>
			if promoStatus == "promo-accepted"
				div(class="order-total-item")
					div(class="row")
						div(class="col-xs-8 col-sm-8")
							| Discount Code:
						div(class="col-xs-4 col-sm-4 text-right price")
							| &lt;discount code&gt;
				div(class="order-total-item")
					div(class="row")
						div(class="col-xs-8 col-sm-8")
							| Order Discount:
						div(class="col-xs-4 col-sm-4 text-right price")
							| &lt;$####.##&gt;
		div(class="order-promotion-code")
			div(class="promotion-field")
				include ../partials/form-promo-field
		div(class="order-total-info order-total-title")
			div(class="row")
				div(class="col-xs-12 col-sm-6")
					| Total:
				div(class="col-xs-12 col-sm-6 text-right")
					| $312.96
		if oderReviewMessage
			div(class="checkout-total-message")
				p
					| Order Message(Optional):
				textarea(cols="78", rows="6", aria-label="Order Message")
	div(class="checkout-full-width-wrap")
		div(class="checkout-accordion-content-wrap")
			div(class="order-terms-and-conds checkbox-component")
				input(type="checkbox", id="termsConds")
				label(for="termsConds")
					| By placing the order, I am confirming that I've read and agree with the &nbsp;
					a(href="#", title="Terms & Conditions", data-toggle="modal", data-target="#termsAndConditionsModal")
						| Terms & Conditions
	div(class="checkout-accordion-content-wrap")
		button(class="button button-main large")
			| Place Order