div(class="order-brief-section checkout-desktop wrap")
	if isConfirmationPage
		div(class="print-section checkout-mobile")
			a(class="icon-print" href="#")
	div(class="order-brief-top")
		if isConfirmationPage
			div(class="order-brief-top-item")
				div(class="row")
					div(class="col-xs-12 col-sm-4 order-brief-top-title")
						| Ship to:
					div(class="col-xs-12 col-sm-8")
						p(class="user-name") Mr. Issac Gerber
						p 1111 River Street
						p Hoboken, NJ 07030-5774
			if isB2BPage
				div(class="order-brief-top-item")
					div(class="row")
						div(class="col-xs-12 col-sm-4 order-brief-top-title")
							| Desired Shipping Date:
						div(class="col-xs-12 col-sm-8")
							p mm/dd/yyyy
				div(class="order-brief-top-item")
					div(class="row")
						div(class="col-xs-12 col-sm-4 order-brief-top-title")
							| Shipping Method:
						div(class="col-xs-12 col-sm-8")
							p Shipping Method
		else
			div(class="order-brief-top-item")
				div(class="row")
					div(class="col-xs-12 col-sm-6 order-brief-top-title")
						| Ship to:
					div(class="col-xs-12 col-sm-6")
						p Mr. Issac Gerber
						p 1111 River Street
						p Hoboken, NJ 07030-5774
			div(class="order-brief-top-item")
				div(class="row")
					div(class="col-xs-12 col-sm-6 order-brief-top-title")
						| Desired Shipping Date:
					div(class="col-xs-12 col-sm-6")
						p mm/dd/yyyy
			div(class="order-brief-top-item")
				div(class="row")
					div(class="col-xs-12 col-sm-6 order-brief-top-title")
						| Shipping Method:
					div(class="col-xs-12 col-sm-6")
						p Shipping Method
	div(class="product-list")
		- for (var x = 1; x < 4; x++)
			div(class="product-list-item")
				div(class="row product-list-info")
					div(class="col-xs-12 col-sm-9")
						div(class="product-list-image")
							img(src="responsive/common/images/product-image.png", alt="product image", width="60", height="80")
						div(class="product-list-title")
							a(href='#')
								| 2014 FASB Update Intermediate Accounting, 15th Edition
						div(class="product-list-description")
							if !isPONumber
								div(class="product-list-qty") Qty: 1
							else
								div(class="product-list-qty") Qty: 1 (P. O NO. &lt;P. O. Number&gt;)
							div(class="product-list-status")
								div(class="status-title")
									| Availability:
								div(class="status-description")
									div
										| 2 In Stock; expected 07/20/2016
									div
										| 5 Back-order; expected 12/31/2016
									div
										| 4 Back-order; expected 01/31/2017
					div(class="col-xs-12 col-sm-3")
						div(class="product-item-price") $114.12
	div(class="payment-type")
		div(class="row")
			div(class="col-xs-2 col-sm-2")
				div(class="payment-type-title")
					| Payment:
			div(class="col-xs-10 col-sm-10")
				div(class="payment-type-info")
					p
						| &lt;Payment Type&gt; ****####
					p
						| &lt;Payment Type&gt; ****####
	div(class="order-total-section")
		div(class="order-total-list")
			div(class="order-total-title")
				| Order Total
			div(class="order-total-item")
				div(class="row")
					div(class="col-xs-6 col-sm-6")
						| Subtotal:
					div(class="col-xs-6 col-sm-6 text-right price")
						| <$##.##>
			div(class="order-total-item")
				div(class="row")
					div(class="col-xs-6 col-sm-6")
						| Delivery:
					div(class="col-xs-6 col-sm-6 text-right price")
						| <$##.##>
			div(class="order-total-item")
				div(class="row")
					div(class="col-xs-12 col-sm-6")
						| Your order includes $33.46 tax.
		div(class="order-total-info order-total-title")
			div(class="row")
				div(class="col-xs-6 col-sm-6")
					| Total:
				div(class="col-xs-6 col-sm-6 text-right")
					| $312.96