div(class="registration-code")
	div(class="row")
		div(class="col-xs-12 col-sm-5")
			div(class="site-form")
				form
					div(class="form-cell")
						div(class="form-field")
							input(type="text", placeholder="<enter registration code>", aria-label="enter registration code")

					div(class="form-cell")
						div(class="form-field")
							button(class="button button-main large")
								| Continue
		div(class="col-xs-12 col-sm-7")
			div(class="row")
				div(class="col-xs-12 col-sm-5 col-sm-push-7")
					div(class="registration-code-info")
						| Registration code is located under the PULL TAB on your WileyPLUS card as highlighted.
				div(class="col-xs-12 col-sm-7 col-sm-pull-5")
					img(src="responsive/common/images/registration-code.png", alt="registration code", class="img-responsive")
