div(class="free-trial")
	div(class="purchase-option-description")
		p
			| Don’t fall behind in your class. Start using WileyPLUS today. You can pay at any time during your &nbsp;
			a(href="#", title="", data-toggle="popover",  data-trigger="hover focus", data-content="Gain instant access to WileyPLUS which includes the complete interactive textbook online for 14 days. At the end of the Grace Period you will need to purchase to WileyPLUS. All of your work will be saved.", tabindex="0")
				| Grace Period.
		p
			| Gain instant access to WileyPLUS which includes complete interactive textbook online for 14 days. At the end of the Grace Period you will need to purchase access to WileyPLUS. All of your work will be saved.

	button(class="button button-main large")
		| Begin Grace Period