div(class="purchase-options-summary gray-super-light wrap")
	div(class="row")
		div(class="col-xs-12")
			div(class="product-list-image")
				img(src="responsive/common/images/product-image.png", alt="product image")
			div(class="product-list-info")
				div(class="product-list-title")
					| Product title
				div(class="product-list-description")
					div(class="product-list-author")
						| David Srolovitz
				div(class="product-list-description")
					div(class="additional-inform")
						| Not the right class? &nbsp;
						a(href="#")
							| Find a different class