div(class="purchase-options-note")
	div(class="purchase-options-note-title")
		| important note
	div(class="purchase-options-note-description")
		p
			| A WileyPLUS Shopping Cart account is required to purchase access to WileyPLUS.
			| Once your purchase is complete, you can access your WileyPLUS class from your learning management system.
		p
			| Please contact &nbsp;
			a(href="#")
				|  WileyPLUS Techincal Support &nbsp;
			| if you have any questions.