div(class="instant-access")
	div(class="instant-access-item")
		div(class="row")
			div(class="col-xs-12 col-sm-6")
				div(class="icon-tablet")
				div(class="item-description")
					| WileyPLUS Instant Access ONLY
					span(class="popover-help", data-toggle="popover", data-content=item.tooltipContent, data-trigger="hover focus", tabindex="0")
						| &nbsp;
					br
					| Includes Online-only versionn of the book.
			div(class="col-xs-12 col-sm-3")
				div(class="item-price")
					div(class="numeric-bold regular")
						| $123
			div(class="col-xs-12 col-sm-3 text-center")
				button(class="button button-main large")
					| Add to Cart

	div(class="promo-msg hidden-xs")
		div(class="row")
			div(class="col-xs-12 col-sm-12")
				| Select a bundle and save!


	div(class="discounted-list")
		- for (var x = 1; x < 3; x++)
			div(class="instant-access-item gray-super-light")
				if x ==1
					div(class="most-popular", aria-label="most popular")
					div(class="promo-msg visible-xs")
						div(class="row")
							div(class="col-xs-12 col-sm-12")
								| Select a bundle and save!
				div(class="row")
					div(class="col-xs-12 col-sm-3")
						div(class="icon-tablet")
						div(class="item-description")
							| WileyPLUS Instant Access
							div(class="numeric")
								| $123
					div(class="col-xs-12 col-sm-1")
						div(class="icon-plus", aria-label="Plus")
					div(class="col-xs-12 col-sm-2")
						if x == 1
							div(class="icon-ebook")
						if x == 2
							div(class="icon-looseleaf")
						div(class="item-description")
							| eBook
							span(class="popover-help", data-toggle="popover", data-content=item.tooltipContent, data-trigger="hover focus", tabindex="0")
								| &nbsp;
							div(class="numeric line-through")
								| $123
							div(class="numeric dark-teal")
								| $400.36
					div(class="col-xs-12 col-sm-3")
						div(class="item-price dark-teal")
							div(class="numeric-bold")
								| Discounted Price:
							div(class="numeric-bold")
								| $123
							div(class="numeric")
								| $162.50 savings!
					div(class="col-xs-12 col-sm-3 text-center")
						button(class="button button-main large")
							| Add to Cart