extends layouts/grid-one-column
block vars
	- var drawFooterAddInfo = false;
	- var progressLineType = 'activePinProgressLine';
	- var drawCategoryNavigationMenu = false;

block main
	div(class="container confirmation-pin")

		include partials/progress-line

		include partials/feedback-title

		div(class="confirmation-text")
			h2 Thank you for activating your PIN!
			p You may now access your product.

		form(action="", method="get")
			div(class="form-buttons")
				button(class="button button-submit form-button", type="submit") Go to My Account