extends layouts/grid-checkout
block vars
	- var drawFooterAddInfo = false;
	- var drawCategoryNavigationMenu = false;

block main
	div(class="container billing")
		include partials/top-error-message
		include partials/progress-line
		div(class="content")
			include partials/feedback-title

			div(class="row billing-address panel-group" id="accordion" role="tablist" aria-multiselectable="false")
				form(action="", method="post")
					div(class="col-xs-12 col-sm-6 col-md-4 panel")
						include partials/form-billing
					div(class="col-xs-12 col-sm-6 col-md-4 panel")
						include partials/form-shipping
					div(class="col-xs-12 col-sm-6 col-md-4")
						include partials/payment-method
						include partials/order-details