extends layouts/grid-one-column
block vars
    - var drawFooterAddInfo = true;
    - var drawCategoryNavigationMenu = true;
    - var mainCSSClass = "full-width-layout";

block main
    include cfa/product-description
    include cfa/cart-box-gray-bg
    include cfa/try-it-free
    include cfa/whats-included
    include cfa/mock-exam-questions
    include cfa/plan
    include cfa/product-tour
    include cfa/cart-box
    include cfa/front-row
    include cfa/competitiors
    include cfa/story
    include cfa/key-features
    include cfa/highlights-from-course
    include cfa/chat-with-expert
    include cfa/cart-box
