extends layouts/grid-one-column
block vars
	- var drawFooterAddInfo = true;
	- var showLogoutLink = true;
	- var showCurrencySelector = false;
	- var drawCategoryNavigationMenu = true;

block main
	div(class="container confirmation-page")
		include partials/progress-line
		div(class="content")
			include partials/feedback-title

			include partials/confirmation-text

			div(class="table-order")
				div(class="table-order-row")
					div(class="table-order-head") Order #658221 11/19/15 6:04pm
					div(class="table-order-head") Price
					div(class="table-order-head") Qty
					div(class="table-order-head") Total

				div(class="table-order-row subscription-row")
					div(class="table-order-cell")
						div(class="subscription-image")
							img(src="https://app.efficientlearning.com/pv5/v8/page_assets/res/mycart/images/cpa_platinum_90x90.jpg", alt="Platinum CPA Review Course: Complete Print 2015")
						h3(class="subscription-title")
							| Silver CPA Review Course: Complete(Print) 2015
					div(class="table-order-cell") $575.00
					div(class="table-order-cell") 1
					div(class="table-order-cell") $575.00

				div(class="table-order-row-mobile")
					div(class="table-order-row")
						div(class="table-order-cell") Price: $575.00
					div(class="table-order-row")
						div(class="table-order-cell") Qty: 1
					div(class="table-order-row")
						div(class="table-order-cell") Total: $575.00

				div(class="table-order-row-group")
					div(class="table-order-row")
						div(class="table-order-cell")
						div(class="table-order-cell")
						div(class="table-order-cell") Subtotal:
						div(class="table-order-cell") $575.00
					div(class="table-order-row")
						div(class="table-order-cell")
						div(class="table-order-cell")
						div(class="table-order-cell") Discount:
						div(class="table-order-cell") &#45;$0.0
					div(class="table-order-row")
						div(class="table-order-cell")
						div(class="table-order-cell")
						div(class="table-order-cell") Tax:
						div(class="table-order-cell") $40.25
					div(class="table-order-row total-row")
						div(class="table-order-cell")
						div(class="table-order-cell")
						div(class="table-order-cell") Total:
						div(class="table-order-cell") $615.25

			div(class="form-buttons")
				button(class="button form-button", type="submit") Start Searching

			include partials/confirmation-note