extends layouts/grid-one-column
block vars
	- var drawFooterAddInfo = true;
	- var drawCategoryNavigationMenu = true;
	- var mainCSSClass = "full-width-layout";

block main
	include cpa/how-it-works
	include cpa/start-free-trial
	include cpa/pass-with-us
	include cpa/best-value-out-there
	include cpa/courses
	include cpa/start-free-trial
	include cpa/best-brightest-professors
	include cpa/with-you-until-you-pass
	include partials/better-than-our-competitors
	include cpa/story
	include cpa/unrivaled-cpaexcel-experience
	include cpa/partners


