extends layouts/grid-one-column
block vars
	- var drawFooterAddInfo = false;
	- var drawCategoryNavigationMenu = false;

block main
	div(class="container login-page")
		h1(class="page-title") Forgot Password

		div(class="site-form forgot-password-form")
			div(class="form-title")
				| Retrieve your login information
			div(class="form-description")
				p Enter the email address you used to create your Architectural Graphic Standards Online account.
				p We will locate your account information and send you an e-mail with a link to rest your password.
			form(action="", method="post")
				div(class="form-cell")
					div(class="form-label")
						| Enter your email address:
					div(class="form-field")
						input(type="email", name="email")
				div(class="form-cell")
					button(class="button button-submit form-button", type="submit")
						| Submit