extends layouts/grid-one-column
block vars
	- var drawFooterAddInfo = false;
	- var drawCategoryNavigationMenu = false;

block main
	div(class="container free-trial-confirmation")

		include partials/feedback-title

		div(class="confirmation-text")
			h2 Welcome to your free trial!
			p You may now access your course.

		form(action="", method="get")
			div(class="form-buttons")
				button(class="button button-submit form-button", type="submit") Go to My Account

		include partials/confirmation-note