extends layouts/grid-partner

block main
	div(class="container kpmg-page")
		div(class="row")
			div(class="col-md-12")
				h1
					|  Welcome to the Staff of KPMG – US
		div(class="row")
			div(class="col-md-4 col-md-push-8 col-sm-4 col-sm-push-8 col-xs-12")
				div(class="kpmg-img")
					img(src="responsive/theme-blue/images/KPMG.png", alt="KPMG")
			div(class="col-md-8 col-md-pull-4 col-sm-8 col-sm-pull-4 col-xs-12")
				div(class="kpmg-description")
					p
						| Wiley CPAexcel is proud to partner with KPMG to offer CPA Exam candidates an exceptional CPA Exam Review Course.&nbsp;
						a(href="#", title="")
							| See below for course description
		div(class="row")
			div(class="col-md-12 top-option")
				h2
					| Option 1: Enroll in the Course Free of Charge
				p
					| Authorized KPMG Employees and campus hires may enroll in the course free of charge by completing the form below. Your order is subject to approval by the KPMG Human Resources Department. You will advance to the shopping cart to complete your order. There is no credit card information required.
		div(class="row")
			div(class="col-md-12")
				h3
					| Price to authorized KPMG employees: Free
				div(class="kpmg-enroll")
					div(class="site-form")
						div(class="form-cell")
							div(class="form-label label-bold")
								| Enter your Registration ID:
							div(class="form-label")
								| For campus hires only
							div(class="form-field")
								input(type="text", name="registrationID", required, tabindex="1")
						div(class="form-cell")
							div(class="form-label label-bold")
								| Or enter your Employee ID:
							div(class="form-label")
								| For KPMG employees only
							div(class="form-field")
								input(type="text", name="employeeID", required, tabindex="2")
						div(class="form-cell")
							div(class="form-label label-bold required")
								| First Name
							div(class="form-field")
								input(type="text", name="firstname", required, tabindex="3")
						div(class="form-cell")
							div(class="form-label label-bold required")
								| Last Name
							div(class="form-field")
								input(type="text", name="lastname", required, tabindex="4")
						div(class="form-cell")
							div(class="form-label label-bold required")
								| Email
							div(class="form-label")
								| KPMG Employees must enter their @kpmg.* email address.
							div(class="form-field")
								input(type="text", name="email", required, tabindex="5")
						div(class="form-cell")
							div(class="form-label label-bold")
								| Function
							div(class="form-field")
								select(tabindex="6")
									option(value="Audit")
										| Audit
									option(value="Advisory")
										| Advisory
									option(value="Tax")
										| Tax
									option(value="BPG")
										| BPG
						div(class="form-cell")
							div(class="form-label label-bold")
								| Office
							div(class="form-field")
								select(tabindex="7")
									option(value="AK - Anchorage (10012 - 012)")
										| AK - Anchorage (10012 - 012)
									option(value="AL - Birmingham (10518 - 044)")
										| AL - Birmingham (10518 - 044)
									option(value="AZ - Phoenix (10046 - 046)")
										| AZ - Phoenix (10046 - 046)
									option(value="AZ - Phoenix (10201 - 201)")
										| AZ - Phoenix (10201 - 201)
									option(value="CA - Century City (10145 - 145)")
										| CA - Century City (10145 - 145)
									option(value="CA - Cypress (10516 - 299)")
										| CA - Cypress (10516 - 299)
						div(class="form-buttons")
							span(class="btn-control")
								button(class="button form-button", type="submit")
									| Enroll Now!
		div(class="row")
			div(class="col-md-12 bottom-option")
				h2
					| Option 2: Get 40% Off Any Product
				p
					|  For those who are no longer eligible to enroll into option #1 (per KPMG’s review course policy), KPMG employees can still enroll at a reduced rate. Order on the
					a(href="", title="Wiley CPAexcel public website")
						| Wiley CPAexcel public website
					| &nbsp; with discount code
					strong
						|  KPMG40
					|  to receive 40% off at checkout. This discount code may not be combined with other offers, student discounts or discount codes. Please use your @kpmg.com email address to order.
		div(class="row course-summary")
			div(class="col-md-12 course-description")
				h2
					| Course Description:
				p
					| The Gold CPA Review Course includes Wiley CPAexcel’s most powerful combination of features, including the exam planner, online/offline synchronization, full set of textbooks, flash drive (for offline use), the Core Study Materials, Video Lectures and Professor Mentoring. See below for a complete list of course features.
				p
					| You now have free access to the Wiley CPA Online Test Bank until you pass the exam. We trust you will find it a valuable supplement in your exam preparation process. The Wiley Test Bank has over 4,400 multiple choice questions and 164 simulations – ideal for drilling on your weakest areas!
			div(class="col-md-6 col-sm-6  col-xs-12 course-description-image")
				img(class="course-description-image", src="responsive/theme-blue/images/cpa_gold_large.jpg", alt="")
			div(class="col-md-6 col-sm-6  col-xs-12 course-description-includes")
				div(class="container-fluid")
					div(class="row")
						p(class="product-include-title")
							| Includes:
						ul(class="features-listing blueTheme col-md-6 clearfix")
							li
								a(href="", title="")
									| Core Study Materials
							li
								| Video Lectures + Slides
							li
								| Professor Mentoring
						ul(class="features-listing blueTheme col-md-6 clearfix")
							li
								| Course Outlines
							li
								| Flash Drive for Offline Access
							li
								| Partner Until You Pass Guarantee – Free Content and Software Updates &nbsp;

								span(class="tooltipHelp", data-toggle="popover", data-original-title="Free Continuing Access to the Course - Guaranteed", data-content="<p>Your Wiley CPAexcel course has no expiration date. Use it until one year after you pass the CPA Exam.<br>Course repeats, online content updates, and software upgrades are free.</p><p>This is our promise and guarantee. There is no fine print.</p>")
									| ?
			div(class="col-md-6 col-sm-6  col-xs-12 course-product-variant")
				input(type="radio", id="product-variant-WEL_TYPE_PRINT", checked="")
				label(for = "product-variant-WEL_TYPE_PRINT")
					| Print
				input(type="radio", id="product-variant-WEL_TYPE_BOOK")
				label(for = "product-variant-WEL_TYPE_BOOK")
					| eBook
		include partials/tabs
		+tabs(['Product Features', 'Purchase Information', 'System Requirements'])