extends layouts/grid-checkout
block vars
	- var drawFooterAddInfo = false;
	- var drawCategoryNavigationMenu = false;

block main
	div(class="container login-page")
		include partials/top-error-message
		include partials/progress-line
		div(class="content")
			include partials/feedback-title

			h1(class="page-title")
				| Create an Account or Login
				span(class="tooltip-question")
					| Already have a free trial&nbsp;
					span(class="tooltipHelp" data-toggle="popover" data-content="Use your email and previously created password to checkout." data-original-title="") ?

			div(class="row panel-group" id="accordion" role="tablist" aria-multiselectable="false")
				div(class="col-sm-6 col-md-6 panel")
					div(class="panel-heading" role="tab" id="headingOne")
						div(class="form-title")
							| Create a New Account
							a(class="collapsed form-title-toggle", role="button", data-parent="#accordion", data-toggle="collapse", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne")
					div(id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne")
						div(class="panel-body")
							div(class="container-fluid create-account")
								div(class="row")
									div(class="col-sm-6 col-md-6 form-cell")
										label(class="form-label required", for="") First Name
										div(class="form-field")
											input(type="text" name="")
									div(class="col-sm-6 col-md-6 form-cell")
										label(class="form-label required", for="") Last Name
										div(class="form-field")
											input(type="text" name="")
								div(class="row")
									div(class="col-sm-6 col-md-6 form-cell")
										label(class="form-label required", for="") Email Address
										div(class="form-field")
											input(type="text" name="")
									div(class="col-sm-6 col-md-6 form-cell")
										label(class="form-label required", for="") Confirm Email Address
										div(class="form-field")
											input(type="text" name="")
								div(class="row")
									div(class="col-sm-6 col-md-6 form-cell")
										label(class="form-label required", for="") Password
										div(class="form-field")
											input(type="password", name="", autocomplete="off")
									div(class="col-sm-6 col-md-6 form-cell")
										label(class="form-label required", for="") Confirm Password
										div(class="form-field")
											input(type="password", name="", autocomplete="off")
								div(class="row")
									div(class="form-required mobile")
										| Required
								div(class="row")
									div(class="col-md-12 form-buttons")
										button(class="button form-button pull-right", type="submit") Create Account
				div(class="col-sm-6 col-md-6 panel")
					div(class="panel-heading" role="tab" id="headingTwo")
						div(class="form-title")
							| Returning Users
							a(class="collapsed form-title-toggle", role="button", data-parent="#accordion", data-toggle="collapse", href="#collapseTwo", aria-expanded="false", aria-controls="collapseTwo")
					div(id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo")
						div(class="panel-body create-account")
							div(class="row")
								div(class="col-sm-6 col-md-6 form-cell")
									label(class="form-label required", for="") Email Address
									div(class="form-field")
										input(type="text" name="")
							div(class="row")
								div(class="col-sm-6 col-md-6 form-cell")
									label(class="form-label required", for="") Password
									div(class="form-field")
										input(type="password", name="", autocomplete="off")
								div(class="col-xs-12 col-sm-12 col-md-12")
									div(class="form-required mobile")
										| Required
							div(class="row")
								div(class="col-sm-12 col-md-12 form-buttons")
									a(class="recover-password")
										| Forgot password?
									button(class="button form-button pull-right", type="submit") Log In

			div(class="form-required laptop")
				| Required
