extends layouts/grid-one-column
block vars
	- var drawFooterAddInfo = true;
	- var drawCategoryNavigationMenu = true;

block main
	div(class="container product-brief")
		div(class="container-fluid")
			div(class="row")
				div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
					img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
					h3(class="product-brief-item-name") Study Guides
					div(class="product-brief-item-description")
						| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
					div(class="product-brief-item-buttons")
						div(class="row two-btn")
							div(class="col-xs-12 col-md-6 col-sm-6")
								span(class="product-brief-item-price")
									| Starting at $225.00
							div(class="col-xs-12 col-md-6 col-sm-6")
								a(class="button button-default form-button", href="#") Start now
								a(class="button button-secondary form-button", href="#") Learn More

				div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
					img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
					h3(class="product-brief-item-name") Study Guides
					div(class="product-brief-item-description")
						| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
					div(class="product-brief-item-buttons")
						span(class="product-brief-item-price")
							| Starting at $225.00
						a(class="button button-secondary form-button", href="#") Learn More

				div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
					img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
					h3(class="product-brief-item-name") Study Guides
					div(class="product-brief-item-description")
						| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
					div(class="product-brief-item-buttons")
						span(class="product-brief-item-price")
							| Starting at $225.00
						a(class="button button-secondary form-button", href="#") Learn More

			div(class="row")
				div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
					img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
					h3(class="product-brief-item-name") Study Guides
					div(class="product-brief-item-description")
						| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
					div(class="product-brief-item-buttons")
						span(class="product-brief-item-price")
							| Starting at $225.00
						a(class="button button-secondary form-button", href="#") Learn More

				div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
					img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
					h3(class="product-brief-item-name") Study Guides
					div(class="product-brief-item-description")
						| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
					div(class="product-brief-item-buttons")
						span(class="product-brief-item-price")
							| Starting at $225.00
						a(class="button button-secondary form-button", href="#") Learn More

				div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
					img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
					h3(class="product-brief-item-name") Study Guides
					div(class="product-brief-item-description")
						| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
					div(class="product-brief-item-buttons")
						span(class="product-brief-item-price")
							| Starting at $225.00
						a(class="button button-secondary form-button", href="#") Learn More