extends layouts/grid-one-column
block vars
	- var drawFooterAddInfo = false;
	- var drawCategoryNavigationMenu = false;

block main
	div(class="container login-page")
		h1(class="page-title") Reset Password

		div(class="site-form reset-password-form")
			div(class="form-title")
				| Create a new password for your account
			div(class="form-description")
				| Please enter a new password for your account.
				div(class="user-email") Emails Address:&nbsp;
					b isaac.gerber@gamil.com
			form(action="", method="post")
				div(class="form-cell")
					div(class="form-label required")
						| New Password
					div(class="form-field")
						input(type="password", name="new_password", autocomplete="off")
				div(class="form-cell")
					div(class="form-label required")
						| Confirm New Password
					div(class="form-field")
						input(type="password", name="confirm_new_password", autocomplete="off")

				div(class="form-buttons")
					button(class="button button-submit form-button", type="submit")
						| Submit

		div(class="form-required")
			| Required