extends layouts/grid-one-column
block vars
	- var drawFooterAddInfo = false;
	- var drawCategoryNavigationMenu = false;
	- var hideMobileLoginButton = true;

block main
	include partials/subscriptions