extends layouts/grid-checkout
block vars
	- var drawFooterAddInfo = false;
	- var progressLineType = 'studentFlowProgressLine';
	- var drawCategoryNavigationMenu = false;

block main
	div(class="container student-verification")
		include partials/progress-line

		div(class="content")
			h1(class="page-title") Student Verification

			p(class="student-verification-question") University/College currently enrolled in?

			form
				div(class="site-form")
					div(class="form-cell")
						div(class="form-field")
							select
								option(value="Select Country") Select Country
					div(class="form-cell")
						div(class="form-field")
							select
								option(value="Select State") Select State
					div(class="form-cell")
						div(class="form-field")
							select
								option(value="Select College") Select College

					div(class="panel-group expanding-sections")
						div(class="panel panel-default expanding-section")
							div(class="panel-heading expanding-section-header")
								h4(class="panel-title expanding-section-title")
									| Purchase Requirements & Proof of Academic Status:
									a(class="expanding-section-toggle collapsed", data-toggle="collapse", href="#collapseOne")
							div(id="collapseOne" class="panel-collapse collapse expanding-section-collapse")
								div(class="panel-body expanding-section-body")
									p Student Pricing is available to faculty, actively enrolled full-time and part-time college or university students, and those who have graduated within 90 days of the date they order. Proof of your academic status is required. Upon receipt of this proof, vie will process your order within 1 business day. You can place your order at anytime. We will put your order on "hold" until we receive proof of your academic status.

						div(class="panel panel-default expanding-section")
							div(class="panel-heading expanding-section-header")
								h4(class="panel-title expanding-section-title")
									| Acceptable Forms of Academic Proof Include:
									a(class="expanding-section-toggle collapsed", data-toggle="collapse", href="#collapseTwo")
							div(id="collapseTwo" class="panel-collapse collapse expanding-section-collapse")
								div(class="panel-body expanding-section-body")
									ul
										li Dated Student ID Card
										li Dated Faculty ID Card
										li Dated, current class schedule
										li Letter from school on school letterhead
										li Recent faculty/staff payment stub

						div(class="panel panel-default expanding-section")
							div(class="panel-heading expanding-section-header")
								h4(class="panel-title expanding-section-title")
									| How to Send Your Academic Proof:
									a(class="expanding-section-toggle collapsed", data-toggle="collapse", href="#collapseThree")
							div(id="collapseThree" class="panel-collapse collapse expanding-section-collapse")
								div(class="panel-body expanding-section-body")
									ul
										li FAX: 928-203-4567
										li EMAIL: info@efficientlearning.com (send proof as attachment)
										li MAIL: Wiley Efficient Learning
											ul
												li P.O. Box 4223
												li Sedona, AZ 86340

									p Agreement: I am a university or college student or faculty member and agree to comply with the above terms.

					div(class="agreement")
						p(class="agreement-title") Agreement

						div(class="checkbox-component")
							input(type="checkbox", id="agreement")
							label(for="agreement") I am a university or college student or faculty member and agree to comply with the above terms.
								span
									| &#42;

					div(class="form-required") Required

					div(class="form-buttons")
						button(class="button form-button", type="submit") Next
