extends layouts/grid-one-column
block vars
    - var drawFooterAddInfo = false;
    - var drawCategoryNavigationMenu = true;

block main
    div(class="container una-page")
        div(class="row")
            include partials/una-navigation

            div(class="col-sm-9")
                include partials/una-description
                include partials/una-middle-content
                
