extends layouts/grid-one-column
block vars
	- var drawFooterAddInfo = false;
	- var drawCategoryNavigationMenu = true;

block main
	div(class="container unified-partner")
		div(class="content")

			div(class="tabs links-tabs")
				ul(class="tabs-list links-tabs-list")
					li(class="active"): a(href="#") CPA
					li: a(href="#") CMA
				div(class="tabbody links-tabs-content")
					include partials/welcome-partners
					include partials/product-detailed-info

			include partials/tabs
			+tabs(['Product Features','FAQs', 'Purchase Information', 'System Requirements', 'Refund Policy'])

			div(class="unified-partner-contacts")
				h2(class="title") Contact Us
				p Jeff Johnson
				p Wiley CPAexcel Program Director
				p Phone: 858.243.5265
				p Email: jefjohnson@wiley.com




