extends layouts/grid-checkout
block vars
	- var drawFooterAddInfo = false;
	- var drawCategoryNavigationMenu = false;

block main
	div(class="container payment")
		include partials/progress-line
		div(class="content")

			include partials/feedback-title

			div(class="table-layout")
				div(class="wpg-subscriptions subscriptions")
					div(class="subscriptions-title")
						a(href="#") Back

					div(class="subscriptions-container")
						div(class="subscriptions-header")
							div(class="subscriptions-header-item item-item") Item
							div(class="subscriptions-header-item item-price") Price
							div(class="subscriptions-header-item item-qty") Qty
							div(class="subscriptions-header-item item-total") Total

						div(class="subscriptions-content")
							div(class="subscription")
								div(class="subscription-info")
									div(class="subscription-image")
										a(class="subscription-image-link", href="#")
											img(src="https://app.efficientlearning.com/pv5/v8/page_assets/res/mycart/images/cpa_platinum_90x90.jpg", alt="Platinum CPA Review Course: Complete Print 2015")
									h3(class="subscription-title")
										a(class="subscription-title-link", href="#") Platinum CPA Review Course: Complete Print 2016
									div(class="subscription-description")
										ul
											li Complete Review Course
											li Virtual Classroom
											li Online Test Bank
											li Focus Notes
											li Flashcards
											li Course Offline Access (USB Drive)
											li Partner Until You Pass Guarantee - no expiration date until you pass your exam

								div(class="subscription-price-item item-price")
									div(class="subscription-price-name") Price:
									div(class="subscription-price-value") $1470.00
								div(class="subscription-price-item item-qty")
									div(class="subscription-price-name") Qty:
									div(class="subscription-price-value") 1
								div(class="subscription-price-item item-total")
									div(class="subscription-price-name") Total:
									div(class="subscription-price-value") $1470.00

					div(class="subscriptions-footer")
						div(class="subscriptions-subtotal")
							div(class="subscriptions-subtotal-items")
								div(class="subscriptions-subtotal-item item-subtotal")
									div(class="subscriptions-subtotal-name")
										| Subtotal:
									div(class="subscriptions-subtotal-value")
										| $1,098.00
								div(class="subscriptions-subtotal-item item-discount")
									div(class="subscriptions-subtotal-name")
										| Tax:
									div(class="subscriptions-subtotal-value")
										| $0.00
								div(class="subscriptions-subtotal-item item-tax")
									div(class="subscriptions-subtotal-name")
										| Shipping:
									div(class="subscriptions-subtotal-value")
										| $0.00
								div(class="subscriptions-subtotal-item item-total")
									div(class="subscriptions-subtotal-name")
										| Total:
									div(class="subscriptions-subtotal-value")
										| $1,098.00

				div(class="wpg-payment")
					include partials/wpg-payment-iframe