div(class="order-brief-section")
	div(class="order-total-section")
		div(class="order-total-list")
			div(class="order-total-item")
				div(class="row")
					div(class="col-xs-8 col-sm-8")
						| Subtotal: (3 items)
					div(class="col-xs-4 col-sm-4 text-right price")
						| <$##.##>
			div(class="order-total-item")
				div(class="row")
					div(class="col-xs-8 col-sm-8")
						| Shipping:
					div(class="col-xs-4 col-sm-4 text-right price")
						| <$##.##>
			div(class="order-total-item free-shipping")
				div(class="row")
					div(class="col-xs-8 col-sm-8")
						| You qualify for FREE Shipping:
					div(class="col-xs-4 col-sm-4 text-right price")
						| <$##.##>
			div(class="order-total-item")
				div(class="row")
					div(class="col-xs-8 col-sm-8")
						| Sales Tax:
					div(class="col-xs-4 col-sm-4 text-right price")
						| <$##.##>
			if promoStatus == "promo-accepted"
				div(class="order-total-item")
					div(class="row")
						div(class="col-xs-8 col-sm-8")
							| Discount Code:
						div(class="col-xs-4 col-sm-4 text-right price")
							| &lt;discount code&gt;
			div(class="order-total-item order-discount")
				div(class="row")
					div(class="col-xs-8 col-sm-8")
						| Order Discount:
					div(class="col-xs-4 col-sm-4 text-right price")
						| <$##.##>
		div(class="order-promotion-code")
			div(class="promotion-field")
				include ../partials/form-promo-field
		div(class="order-total-info order-total-title")
			div(class="row")
				div(class="col-xs-6 col-sm-6")
					| Order Total:
				div(class="col-xs-6 col-sm-6 text-right")
					| $312.96
			div(class="row")
				div(class="col-xs-12 col-sm-12")
					span(class="info-message")
						| Your order includes $5.82 tax
		if !isB2BShoppingCart
			div(class="enrolled-in-school checkbox-component")
				div(class="enrolled-in-school-section")
					input(type="checkbox", id="enrolledInSchool", data-toggle="collapse" data-target="#enterSchool")
					label(for="enrolledInSchool")
						| I am currently enrolled in school.
				div(id="enterSchool", class="inter-school collapse ")
					input(type="text", placeholder="Enter School")
		div(class="order-button-group")
			button(class="button button-main large")
				| Place Order
		if !isB2BShoppingCart
			div(class="order-button-group")
					button(class="button button-outlined icon-paypal large", aria-label="Checkout with PayPal")
						| Checkout with
		if disabledPayPal
			div(class="order-button-group")
				button(class="button large disabled-paypal", disabled, aria-label="Checkout with PayPal option is not supported for carts contain subscription product")
					| Checkout with PayPal option is not supported for carts contain subscription product
		div(class="continue-shopping checkout-mobile")
			a(href="#")
				| Continue Shopping