
div(class="recommended-items-wrapper")
    div(class="recommended-items-title") You May Also Like
    div(class="recommended-items-carousel-wrapper")
        div(class="recommended-items owl-carousel")
            div(class="recommended-item")
                div(class="recommended-item-image")
                    img(src="responsive/common/images/product-cart-image-6.png",alt="product image")
                div(class="recommended-item-info")
                    div(class="recommended-item-title", title="My super super Product. You should buy it for sure, please buy it, the cos is not so much, but it's very useful for you and will make you happy") My super super Product. You should buy it for sure, please buy it, the cos is not so much, but it's very useful for you and will make you happy
                    div(class="recommended-item-price-title") Estimated price
                    div(class="recommended-item-price") CAD $33,333.00
                    div(class="recommended-item-button")
                        a(href="#", class="button") Select Product
            div(class="recommended-item")
                div(class="recommended-item-image")
                    img(src="responsive/common/images/product-cart-image-6.png",alt="product image")
                div(class="recommended-item-info")
                    div(class="recommended-item-title", title="Product long name Product long name Product long name") Product long name Product long name Product long name
                    div(class="recommended-item-price-title") Estimated price
                    div(class="recommended-item-price") CAD $33,333.00
                    div(class="recommended-item-button")
                        a(href="#", class="button") Select Product
            div(class="recommended-item")
                div(class="recommended-item-image")
                    img(src="responsive/common/images/product-cart-image-6.png",alt="product image")
                div(class="recommended-item-info")
                    div(class="recommended-item-title", title="My super super Poster You should buy it for sure, please buy it") My super super Poster You should buy it for sure, please buy i
                    div(class="recommended-item-price-title") Estimated price
                    div(class="recommended-item-price") CAD $33,333.00
                    div(class="recommended-item-button")
                        a(href="#", class="button") Select Product
            div(class="recommended-item")
                div(class="recommended-item-image")
                    img(src="responsive/common/images/product-cart-image-6.png",alt="product image")
                div(class="recommended-item-info")
                    div(class="recommended-item-title", title="Collaborative Authoring Tool") Collaborative Authoring Tool
                    div(class="recommended-item-price-title") Estimated price
                    div(class="recommended-item-price") CAD $33,333.00
                    div(class="recommended-item-button")
                        a(href="#", class="button") Select Product
            div(class="recommended-item")
                div(class="recommended-item-image")
                    img(src="responsive/common/images/product-cart-image-6.png",alt="product image")
                div(class="recommended-item-info")
                    div(class="recommended-item-title", title="My super super Poster You should buy it for sure, please buy it") My super super Poster You should buy it for sure, please buy it
                    div(class="recommended-item-price-title") Estimated price
                    div(class="recommended-item-price") CAD $33,333.00
                    div(class="recommended-item-button")
                        a(href="#", class="button") Select Product
            div(class="recommended-item")
                div(class="recommended-item-image")
                    img(src="responsive/common/images/product-cart-image-6.png",alt="product image")
                div(class="recommended-item-info")
                    div(class="recommended-item-title", title="Poster") Poster
                    div(class="recommended-item-price-title") Estimated price
                    div(class="recommended-item-price") CAD $33,333.00
                    div(class="recommended-item-button")
                        a(href="#", class="button") Select Product
            div(class="recommended-item")
                div(class="recommended-item-image")
                    img(src="responsive/common/images/product-cart-image-6.png",alt="product image")
                div(class="recommended-item-info")
                    div(class="recommended-item-title", title="Poster") Poster
                    div(class="recommended-item-price-title") Estimated price
                    div(class="recommended-item-price") CAD $33,333.00
                    div(class="recommended-item-button")
                        a(href="#", class="button") Select Product