block adDonsBlock
    div(class="product-addons")
        div(class="product-addons-title")
            | Popular add ons
        div(class="product-addons-content")
            input(type="checkbox" name="product-addon" id="product-addon-WEL_CPA_GOLD_REVIEW_COURSE" value="WEL_CPA_GOLD_REVIEW_COURSE" data-price="600.0")
            label(for="product-addon-WEL_CPA_GOLD_REVIEW_COURSE")
                | CPA Gold Review Course