block cartBox
    div(class="cart-box")
        div(class="container")
            div(class="box")
                div
                    div(class="price")
                        | $ 945.00
                    div(class="text")
                        div(class="product-variants")
                            input(type="radio", name="product", id="product-variant-2")
                            label(for="product-variant-2") Print
                            input(type="radio", name="product", id="product-variant-3")
                            label(for="product-variant-3") eBook

                        input(type="checkbox", id="cardBox2")
                        label(for="cardBox2")
                            a(data-toggle="popover", title="Popover title", data-content="<p>And here's some amazing content.</p> <p>It's very engaging. Right?</p>", data-placement="top")
                                | Apply 20% student discount

                div(class="cart-box-buttons")
                    button(type="button")
                        | Add to Cart
                    a(href="", title="")
                        | Free Trial