block chatWithExpert
    div(class="chat-with-expert")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    a(href="", title="")
                        span
                            | Have a question? &nbsp;
                            strong
                                | Chat now with an expert
