h2(class="comparison-table-title") Compare CFA Review Courses

div(class="comparison-product-navigation")
	h3(class="comparison-table-subtitle") Choose the course that's right for you.
	div(class="comparison-product-anchors")
		p(class="anchors-text") Browse individual supplements
		div(class="anchors-links")
			a(class="anchor-link", href="responsive/theme-blue/pages/cfa-product-list.html#level1") Level I
			a(class="anchor-link", href="responsive/theme-blue/pages/cfa-product-list.html#level2") Level II
			a(class="anchor-link", href="responsive/theme-blue/pages/cfa-product-list.html#level3") Level III

div(class="comparison-table comparison-table-mobile")
	div(class="course-component")
		div(class="course-component-header")
			div(class="course-component-title")
				span(class="most-popular-label") most popular
				| Platinum
				br
				| Course
			div(class="learn-more-links")
				p(class="title") Learn More
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEVEL I
					div(class="link-wrapper"): a(class="link", href="#") LEVEL II
					div(class="link-wrapper"): span(class="link not-active") LEVEL III

		div(class="course-component-content")
			div(class="course-component-price")
				div(class="price-value") Starting at $1245
				div(class="price-name") LEVEL I &amp; II
			div(class="course-component-price")
				span(class="not-applicable") N/A
				div(class="price-name") LEVEL III

			ul(class="course-component-products")
				li(class="course-component-product")
					span(class="check-mark")
					| Free Updates Until You Pass
				li(class="course-component-product")
					span(class="check-mark")
					| Test Bank
				li(class="course-component-product")
					span(class="check-mark")
					| Mock Exams
				li(class="course-component-product")
					span(class="check-mark")
					| Practice Questions
				li(class="course-component-product")
					span(class="check-mark")
					| Study Guide
				li(class="course-component-product")
					span(class="check-mark")
					| Exam Planner
				li(class="course-component-product")
					span(class="check-mark")
					| Formula Sheets
				li(class="course-component-product")
					span(class="check-mark")
					| Lecture Videos
				li(class="course-component-product")
					span(class="check-mark")
					| Online Mentoring
				li(class="course-component-product")
					span(class="check-mark")
					| Virtual Classroom
					br
					| (Weekly Live Online Classes)
				li(class="course-component-product")
					span(class="check-mark")
					| Final Review Seminar
				li(class="course-component-product")
					span(class="check-mark")
					| Mock Exam Seminar
				li(class="course-component-product")
					span(class="check-mark")
					| Flash Cards
				li(class="course-component-product")
					span(class="check-mark")
					| Free Updates Until You Pass

		div(class="course-component-footer")
			div(class="learn-more-links")
				p(class="title") Learn More
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEVEL I
					div(class="link-wrapper"): a(class="link", href="#") LEVEL II
					div(class="link-wrapper"): span(class="link not-active") LEVEL III


	div(class="course-component")
		div(class="course-component-header")
			div(class="course-component-title")
				| Gold
				br
				| Course
			div(class="learn-more-links")
				p(class="title") Learn More
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEVEL I
					div(class="link-wrapper"): a(class="link", href="#") LEVEL II
					div(class="link-wrapper"): a(class="link", href="#") LEVEL III

		div(class="course-component-content")
			div(class="course-component-price")
				div(class="price-value") Starting at $945
				div(class="price-name") LEVEL I &amp; II
			div(class="course-component-price")
				div(class="price-value") $745
				div(class="price-name") LEVEL III

			ul(class="course-component-products")
				li(class="course-component-product")
					span(class="check-mark")
					| Free Updates Until You Pass
				li(class="course-component-product")
					span(class="check-mark")
					| Test Bank
				li(class="course-component-product")
					span(class="check-mark")
					| Mock Exams
				li(class="course-component-product")
					span(class="check-mark")
					| Practice Questions
				li(class="course-component-product")
					span(class="check-mark")
					| Study Guide
				li(class="course-component-product")
					span(class="check-mark")
					| Exam Planner
				li(class="course-component-product")
					span(class="check-mark")
					| Formula Sheets
				li(class="course-component-product")
					span(class="check-mark")
					| Lecture Videos
				li(class="course-component-product")
					span(class="check-mark")
					| Online Mentoring
				li(class="course-component-product")
					span(class="check-mark")
					| Virtual Classroom
					br
					| (Weekly Live Online Classes)
				li(class="course-component-product")
					span(class="check-mark")
					| Final Review Seminar
				li(class="course-component-product") Mock Exam Seminar
				li(class="course-component-product") Flash Cards
				li(class="course-component-product") Free Updates Until You Pass

		div(class="course-component-footer")
			div(class="learn-more-links")
				p(class="title") Learn More
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEVEL I
					div(class="link-wrapper"): a(class="link", href="#") LEVEL II
					div(class="link-wrapper"): a(class="link", href="#") LEVEL III


	div(class="course-component")
		div(class="course-component-header")
			div(class="course-component-title")
				| Silver
				br
				| Course
			div(class="learn-more-links")
				p(class="title") Learn More
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEVEL I
					div(class="link-wrapper"): a(class="link", href="#") LEVEL II
					div(class="link-wrapper"): a(class="link", href="#") LEVEL III

		div(class="course-component-content")
			div(class="course-component-price")
				div(class="price-value") $795
				div(class="price-name") LEVEL I &amp; II
			div(class="course-component-price")
				div(class="price-value") $595
				div(class="price-name") LEVEL III

			ul(class="course-component-products")
				li(class="course-component-product")
					span(class="check-mark")
					| Free Updates Until You Pass
				li(class="course-component-product")
					span(class="check-mark")
					| Test Bank
				li(class="course-component-product")
					span(class="check-mark")
					| Mock Exams
				li(class="course-component-product")
					span(class="check-mark")
					| Practice Questions
				li(class="course-component-product")
					span(class="check-mark")
					| Study Guide
				li(class="course-component-product")
					span(class="check-mark")
					| Exam Planner
				li(class="course-component-product")
					span(class="check-mark")
					| Formula Sheets
				li(class="course-component-product")
					span(class="check-mark")
					| Lecture Videos
				li(class="course-component-product") Online Mentoring
				li(class="course-component-product")
					| Virtual Classroom
					br
					| (Weekly Live Online Classes)
				li(class="course-component-product") Final Review Seminar
				li(class="course-component-product") Mock Exam Seminar
				li(class="course-component-product") Flash Cards
				li(class="course-component-product") Free Updates Until You Pass

		div(class="course-component-footer")
			div(class="learn-more-links")
				p(class="title") Learn More
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEVEL I
					div(class="link-wrapper"): a(class="link", href="#") LEVEL II
					div(class="link-wrapper"): a(class="link", href="#") LEVEL III


	div(class="course-component")
		div(class="course-component-header")
			div(class="course-component-title")
				| Self Study
				br
				| Course
			div(class="learn-more-links")
				p(class="title") Learn More
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEVEL I
					div(class="link-wrapper"): a(class="link", href="#") LEVEL II
					div(class="link-wrapper"): a(class="link", href="#") LEVEL III

		div(class="course-component-content")
			div(class="course-component-price")
				div(class="price-value") $545
				div(class="price-name") LEVEL I &amp; II
			div(class="course-component-price")
				div(class="price-value") $345
				div(class="price-name") LEVEL III

			ul(class="course-component-products")
				li(class="course-component-product")
					span(class="check-mark")
					| Free Updates Until You Pass
				li(class="course-component-product")
					span(class="check-mark")
					| Test Bank
				li(class="course-component-product")
					span(class="check-mark")
					| Mock Exams
				li(class="course-component-product")
					span(class="check-mark")
					| Practice Questions
				li(class="course-component-product")
					span(class="check-mark")
					| Study Guide
				li(class="course-component-product")
					span(class="check-mark")
					| Exam Planner
				li(class="course-component-product")
					span(class="check-mark")
					| Formula Sheets
				li(class="course-component-product") Lecture Videos
				li(class="course-component-product") Online Mentoring
				li(class="course-component-product")
					| Virtual Classroom
					br
					| (Weekly Live Online Classes)
				li(class="course-component-product") Final Review Seminar
				li(class="course-component-product") Mock Exam Seminar
				li(class="course-component-product") Flash Cards
				li(class="course-component-product") Free Updates Until You Pass

		div(class="course-component-footer")
			div(class="learn-more-links")
				p(class="title") Learn More
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEVEL I
					div(class="link-wrapper"): a(class="link", href="#") LEVEL II
					div(class="link-wrapper"): a(class="link", href="#") LEVEL III


	div(class="course-component")
		div(class="course-component-header")
			div(class="course-component-title")
				| 11th Hour
				br
				| Course
			div(class="learn-more-links")
				p(class="title") Learn More
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEVEL I
					div(class="link-wrapper"): a(class="link", href="#") LEVEL II
					div(class="link-wrapper"): span(class="link not-active") LEVEL III

		div(class="course-component-content")
			div(class="course-component-price")
				div(class="price-value") $345
				div(class="price-name") LEVEL I &amp; II
			div(class="course-component-price")
				span(class="not-applicable") N/A
				div(class="price-name") LEVEL III

			ul(class="course-component-products")
				li(class="course-component-product") Free Updates Until You Pass
				li(class="course-component-product") Test Bank
				li(class="course-component-product") Mock Exams
				li(class="course-component-product") Practice Questions
				li(class="course-component-product") Study Guide
				li(class="course-component-product")
					span(class="check-mark")
					| Exam Planner
				li(class="course-component-product")
					span(class="check-mark")
					| Formula Sheets
				li(class="course-component-product") Lecture Videos
				li(class="course-component-product") Online Mentoring
				li(class="course-component-product")
					| Virtual Classroom
					br
					| (Weekly Live Online Classes)
				li(class="course-component-product")
					span(class="check-mark")
					|Final Review Seminar
				li(class="course-component-product")
					span(class="check-mark")
					| Mock Exam Seminar
				li(class="course-component-product")
					span(class="check-mark")
					| Flash Cards
				li(class="course-component-product")
					span(class="check-mark")
					| Free Updates Until You Pass

		div(class="course-component-footer")
			div(class="learn-more-links")
				p(class="title") Learn More
				div(class="links")
					div(class="link-wrapper"): a(class="link", href="#") LEVEL I
					div(class="link-wrapper"): a(class="link", href="#") LEVEL II
					div(class="link-wrapper"): span(class="link not-active") LEVEL III


div(class="comparison-table comparison-table-desktop")
		table
			thead
				tr
					th Product Components
					th
						span(class="most-popular-label") most popular
						| Platinum Course
					th Gold Course
					th Silver Course
					th Self Study Course
					th 11th Hour Course

			tbody
				tr
					td: span(class="price-name") LEVEL I &amp; II
					td: span(class="price-value")
							| $1245
					td
						span(class="starting-at")
							| Starting at &nbsp;
						span(class="price-value")
							| $945
					td: span(class="price-value")
							| $795
					td: span(class="price-value")
							| $545
					td: span(class="price-value")
							| $345

				tr
					td: span(class="price-name") LEVEL III
					td: span(class="not-applicable") N/A
					td: span(class="price-value")
							| $795
					td: span(class="price-value")
							| $545
					td: span(class="price-value")
							| $345
					td: span(class="not-applicable") N/A

					tr
						td Free Updates Until You Pass
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td

					tr
						td Test Bank
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td

					tr
						td Mock Exams
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td

					tr
						td Practice Questions
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td

					tr
						td Study Guide
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td

					tr
						td Exam Planner
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")

					tr
						td Formula Sheets
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")

					tr
						td Lecture Videos
						td: span(class="check-mark")
						td: span(class="check-mark")
						td: span(class="check-mark")
						td
						td

					tr
						td Online Mentoring
						td: span(class="check-mark")
						td: span(class="check-mark")
						td
						td
						td

					tr
						td Virtual Classroom (Weekly Live Online Classes)
						td: span(class="check-mark")
						td: span(class="check-mark")
						td
						td
						td

					tr
						td Final Review Seminar
						td: span(class="check-mark")
						td
						td
						td
						td: span(class="check-mark")

					tr
						td Mock Exam Seminar
						td: span(class="check-mark")
						td
						td
						td
						td: span(class="check-mark")

					tr
						td Flash Cards
						td: span(class="check-mark")
						td
						td
						td
						td: span(class="check-mark")

					tr
						td Free Updates Until You Pass
						td: span(class="check-mark")
						td
						td
						td
						td: span(class="check-mark")

			tfoot
				tr(class="learn-more")
					td
					td
						p Learn More
					td
						p Learn More
					td
						p Learn More
					td
						p Learn More
					td
						p Learn More
				tr(class="level-link")
					td
					td
						div
							a( href="#") LEVEL I
							a(href="#") LEVEL II
							span(class="not-active") LEVEL III
					td
						div
							a(href="#") LEVEL I
							a(href="#") LEVEL II
							a(href="#") LEVEL III
					td
						div
							a(href="#") LEVEL I
							a(href="#") LEVEL II
							a(href="#") LEVEL III
					td
						div
							a(href="#") LEVEL I
							a(href="#") LEVEL II
							a(href="#") LEVEL III
					td
						div
							a( href="#") LEVEL I
							a(href="#") LEVEL II
							span(class="not-active") LEVEL III


div(class="comparison-products")
	div(class="comparison-product")
		div(class="comparison-product-title")
			a(name="level1")
			| Level I CFA Exam Supplements - June 2016

		div(class="product-brief")
				div(class="container-fluid")
					div(class="row")
						div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
							img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
							h3(class="product-brief-item-name") Study Guides
							div(class="product-brief-item-description")
								| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
							div(class="product-brief-item-buttons")
								span(class="product-brief-item-price")
									| Starting at $225.00
								a(class="button button-secondary form-button", href="#") Learn More

						div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
							img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
							h3(class="product-brief-item-name") Study Guides
							div(class="product-brief-item-description")
								| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
							div(class="product-brief-item-buttons")
								span(class="product-brief-item-price")
									| Starting at $225.00
								a(class="button button-secondary form-button", href="#") Learn More

						div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
							img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
							h3(class="product-brief-item-name") Study Guides
							div(class="product-brief-item-description")
								| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
							div(class="product-brief-item-buttons")
								span(class="product-brief-item-price")
									| Starting at $225.00
								a(class="button button-secondary form-button", href="#") Learn More

					div(class="row")
						div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
							img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
							h3(class="product-brief-item-name") Study Guides
							div(class="product-brief-item-description")
								| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
							div(class="product-brief-item-buttons")
								span(class="product-brief-item-price")
									| Starting at $225.00
								a(class="button button-secondary form-button", href="#") Learn More

						div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
							img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
							h3(class="product-brief-item-name") Study Guides
							div(class="product-brief-item-description")
								| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
							div(class="product-brief-item-buttons")
								span(class="product-brief-item-price")
									| Starting at $225.00
								a(class="button button-secondary form-button", href="#") Learn More

						div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
							img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
							h3(class="product-brief-item-name") Study Guides
							div(class="product-brief-item-description")
								| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
							div(class="product-brief-item-buttons")
								span(class="product-brief-item-price")
									| Starting at $225.00
								a(class="button button-secondary form-button", href="#") Learn More


	div(class="comparison-product")
		div(class="comparison-product-title")
			| Level I Course Add-Ons – June 2016

		div(class="product-brief")
			div(class="container-fluid")
				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More


	div(class="comparison-product")
		div(class="comparison-product-title")
			a(name="level2")
			| Level II CFA Exam Supplements - June 2016

		div(class="product-brief")
			div(class="container-fluid")
				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More


	div(class="comparison-product")
		div(class="comparison-product-title")
			| Level II Course Add-Ons - June 2016

		div(class="product-brief")
			div(class="container-fluid")
				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More


	div(class="comparison-product")
		div(class="comparison-product-title")
			a(name="level3")
			| Level III CFA Exam Supplements and Add-Ons – June 2016

		div(class="product-brief")
			div(class="container-fluid")
				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More