h2(class="comparison-table-title-cfa") Level I CFA

div(class="comparison-table-cfa comparison-table-cfa-mobile")
	div(class="course-component-cfa")
		div(class="course-component-header")
			div(class="course-component-image")
				a(href="#" title="CFA Level I Platinum Course")
					span(class="most-popular-label") most popular
					img(src="responsive/theme-blue/images/CFA-Level1-Platinum-Course.png")
			div(class="course-component-title")
				p
					a(href="#" title="Platinum")
						| Platinum
				a(href="#" title="Learn more" class="learn-more") Learn more
				div(class="course-price")
					| $1,295

		div(class="course-component-content")
			ul(class="course-component-products")
				li(class="course-component-product")
					span(class="check-mark")
					| Pay Only Once Until You Pass Guarantee
				li(class="course-component-product")
					span(class="check-mark")
					| Adaptive Exam Planner & Study Schedule
				li(class="course-component-product")
					span(class="check-mark")
					| Dashboard & Performance Metrics
				li(class="course-component-product")
					span(class="check-mark")
					| 30-45 Minute Bite-Sized Lessons
				li(class="course-component-product")
					span(class="check-mark")
					| 90+ pages of Formula Sheets
				li(class="course-component-product")
					span(class="check-mark")
					| Print eBook Study Guide
				li(class="course-component-product")
					span(class="check-mark")
					| Course Outlines
				li(class="course-component-product")
					span(class="check-mark")
					| 1,000s of Practice Questions per Level
				li(class="course-component-product")
					span(class="check-mark")
					| 2 Full-length Mock Exams
				li(class="course-component-product")
					span(class="check-mark")
					| Video Lectures by Expert Instructors
				li(class="course-component-product")
					span(class="check-mark")
					| 14-16 Weeks of Live Online Virtual Classes
				li(class="course-component-product")
					span(class="check-mark")
					| Professional Online Mentoring
				li(class="course-component-product")
					span(class="check-mark")
					| 11th Hour Final Review Course
				li(class="course-component-product")
					span(class="check-mark")
					| 11th Hour Review Study Guide
				li(class="course-component-product")
					span(class="check-mark")
					| Additional 11th Hour Mock Exam

		div(class="course-component-footer")
			a(href="#" title="Learn more" class="learn-more") Learn more

	div(class="course-component-cfa")
		div(class="course-component-header")
			div(class="course-component-image")
				a(href="#" title="CFA Level I Gold Course")
					img(src="responsive/theme-blue/images/CFA-Level1-Gold-Course.png")
			div(class="course-component-title")
				p
					a(href="#" title="Gold")
						| Gold
				a(href="#" title="Learn more" class="learn-more") Learn more
				div(class="course-price")
					| $995

		div(class="course-component-content")
			ul(class="course-component-products")
				li(class="course-component-product")
					span(class="check-mark")
					| Pay Only Once Until You Pass Guarantee
				li(class="course-component-product")
					span(class="check-mark")
					| Adaptive Exam Planner & Study Schedule
				li(class="course-component-product")
					span(class="check-mark")
					| Dashboard & Performance Metrics
				li(class="course-component-product")
					span(class="check-mark")
					| 30-45 Minute Bite-Sized Lessons
				li(class="course-component-product")
					span(class="check-mark")
					| 90+ pages of Formula Sheets
				li(class="course-component-product")
					span(class="check-mark")
					| Print eBook Study Guide
				li(class="course-component-product")
					span(class="check-mark")
					| Course Outlines
				li(class="course-component-product")
					span(class="check-mark")
					| 1,000s of Practice Questions per Level
				li(class="course-component-product")
					span(class="check-mark")
					| 2 Full-length Mock Exams
				li(class="course-component-product")
					span(class="check-mark")
					| Video Lectures by Expert Instructors
				li(class="course-component-product")
					span(class="check-mark")
					| 14-16 Weeks of Live Online Virtual Classes
				li(class="course-component-product")
					span(class="check-mark")
					| Professional Online Mentoring

		div(class="course-component-footer")
			a(href="#" title="Learn more" class="learn-more") Learn more

	div(class="course-component-cfa")
		div(class="course-component-header")
			div(class="course-component-image")
				a(href="#" title="CFA Level I Silver Course")
					img(src="responsive/theme-blue/images/CFA-Level1-Silver-Course.png")
			div(class="course-component-title")
				p
					a(href="#" title="Silver")
						| Silver
				a(href="#" title="Learn more" class="learn-more") Learn more
				div(class="course-price")
					| $795

		div(class="course-component-content")
			ul(class="course-component-products")
				li(class="course-component-product")
					span(class="check-mark")
					| Pay Only Once Until You Pass Guarantee
				li(class="course-component-product")
					span(class="check-mark")
					| Adaptive Exam Planner & Study Schedule
				li(class="course-component-product")
					span(class="check-mark")
					| Dashboard & Performance Metrics
				li(class="course-component-product")
					span(class="check-mark")
					| 30-45 Minute Bite-Sized Lessons
				li(class="course-component-product")
					span(class="check-mark")
					| 90+ pages of Formula Sheets
				li(class="course-component-product")
					span(class="check-mark")
					| Print eBook Study Guide
				li(class="course-component-product")
					span(class="check-mark")
					| Course Outlines
				li(class="course-component-product")
					span(class="check-mark")
					| 1,000s of Practice Questions per Level
				li(class="course-component-product")
					span(class="check-mark")
					| 2 Full-length Mock Exams
				li(class="course-component-product")
					span(class="check-mark")
					| Video Lectures by Expert Instructors

		div(class="course-component-footer")
			a(href="#" title="Learn more" class="learn-more") Learn more



div(class="comparison-table-cfa comparison-table-cfa-desktop")
		table
			thead
				tr(class="cfa-thead-title")
					th(rowspan="4") &nbsp;
				tr(class="cfa-thead-image")
					th
						a(href="#" title="CFA Level I Platinum Course")
							span(class="most-popular-label") most popular
							img(src="responsive/theme-blue/images/CFA-Level1-Platinum-Course.png")
					th
						a(href="#" title="CFA Level I Gold Course")
							img(src="responsive/theme-blue/images/CFA-Level1-Gold-Course.png")
					th
						a(href="#" title="CFA Level I Silver Course")
							img(src="responsive/theme-blue/images/CFA-Level1-Silver-Course.png")

				tr(class="cfa-thead-courses")
					th
						p
							a(href="#" title="Platinum")
								| Platinum
						a(href="#" title="Learn more" class="learn-more") Learn more
					th
						p
							a(href="#" title="Gold")
								| Gold
						a(href="#" title="Learn more" class="learn-more") Learn more
					th
						p
							a(href="#" title="Silver")
								| Silver
						a(href="#" title="Learn more" class="learn-more") Learn more
				tr(class="cfa-thead-price")
					th $1,295
					th $995
					th $795

			tbody
				tr
					td Pay Only Once Until You Pass Guarantee
					td: span(class="check-mark")
					td: span(class="check-mark")
					td: span(class="check-mark")

				tr
					td Adaptive Exam Planner & Study Schedule
					td: span(class="check-mark")
					td: span(class="check-mark")
					td: span(class="check-mark")

				tr
					td Dashboard & Performance Metrics
					td: span(class="check-mark")
					td: span(class="check-mark")
					td: span(class="check-mark")

				tr
					td 30-45 Minute Bite-Sized Lessons
					td: span(class="check-mark")
					td: span(class="check-mark")
					td: span(class="check-mark")

				tr
					td 90+ pages of Formula Sheets
					td: span(class="check-mark")
					td: span(class="check-mark")
					td: span(class="check-mark")

				tr
					td Print eBook Study Guide
					td: span(class="check-mark")
					td: span(class="check-mark")
					td: span(class="check-mark")

				tr
					td Course Outlines
					td: span(class="check-mark")
					td: span(class="check-mark")
					td: span(class="check-mark")

				tr
					td 1,000s of Practice Questions per Level
					td: span(class="check-mark")
					td: span(class="check-mark")
					td: span(class="check-mark")

				tr
					td 2 Full-length Mock Exams
					td: span(class="check-mark")
					td: span(class="check-mark")
					td: span(class="check-mark")

				tr
					td Video Lectures by Expert Instructors
					td: span(class="check-mark")
					td: span(class="check-mark")
					td: span(class="check-mark")

				tr
					td 14-16 Weeks of Live Online Virtual Classes
						span(class="tooltipHelp", data-toggle="popover", data-content="Classes Commence January 2017", data-trigger="hover focus", tabindex="0")
							| ?
					td: span(class="check-mark")
					td: span(class="check-mark")
					td

				tr
					td Professional Online Mentoring
						span(class="tooltipHelp", data-toggle="popover", data-content="Classes Commence January 2017", data-trigger="hover focus", tabindex="0")
							| ?
					td: span(class="check-mark")
					td: span(class="check-mark")
					td

				tr
					td 11th Hour Final Review Course
						span(class="tooltipHelp", data-toggle="popover", data-content="Classes Commence January 2017", data-trigger="hover focus", tabindex="0")
							| ?
					td: span(class="check-mark")
					td
					td

				tr
					td 11th Hour Review Study Guide
						span(class="tooltipHelp", data-toggle="popover", data-content="Classes Commence January 2017", data-trigger="hover focus", tabindex="0")
							| ?
					td: span(class="check-mark")
					td
					td

				tr
					td Additional 11th Hour Mock Exam
						span(class="tooltipHelp", data-toggle="popover", data-content="Classes Commence January 2017", data-trigger="hover focus", tabindex="0")
							| ?
					td: span(class="check-mark")
					td
					td

			tfoot
				tr
					td
					td
						a(href="#" title="Learn more" class="learn-more") Learn more
					td
						a(href="#" title="Learn more" class="learn-more") Learn more
					td
						a(href="#" title="Learn more" class="learn-more") Learn more

div(class="comparison-products")
	div(class="comparison-product")
		div(class="comparison-product-title")
			a(name="level1")
			| Level I CFA Exam Supplements - June 2016

		div(class="product-brief")
				div(class="container-fluid")
					div(class="row")
						div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
							img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
							h3(class="product-brief-item-name") Study Guides
							div(class="product-brief-item-description")
								| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
							div(class="product-brief-item-buttons")
								span(class="product-brief-item-price")
									| Starting at $225.00
								a(class="button button-secondary form-button", href="#") Learn More

						div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
							img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
							h3(class="product-brief-item-name") Study Guides
							div(class="product-brief-item-description")
								| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
							div(class="product-brief-item-buttons")
								span(class="product-brief-item-price")
									| Starting at $225.00
								a(class="button button-secondary form-button", href="#") Learn More

						div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
							img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
							h3(class="product-brief-item-name") Study Guides
							div(class="product-brief-item-description")
								| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
							div(class="product-brief-item-buttons")
								span(class="product-brief-item-price")
									| Starting at $225.00
								a(class="button button-secondary form-button", href="#") Learn More

					div(class="row")
						div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
							img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
							h3(class="product-brief-item-name") Study Guides
							div(class="product-brief-item-description")
								| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
							div(class="product-brief-item-buttons")
								span(class="product-brief-item-price")
									| Starting at $225.00
								a(class="button button-secondary form-button", href="#") Learn More

						div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
							img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
							h3(class="product-brief-item-name") Study Guides
							div(class="product-brief-item-description")
								| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
							div(class="product-brief-item-buttons")
								span(class="product-brief-item-price")
									| Starting at $225.00
								a(class="button button-secondary form-button", href="#") Learn More

						div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
							img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
							h3(class="product-brief-item-name") Study Guides
							div(class="product-brief-item-description")
								| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
							div(class="product-brief-item-buttons")
								span(class="product-brief-item-price")
									| Starting at $225.00
								a(class="button button-secondary form-button", href="#") Learn More


	div(class="comparison-product")
		div(class="comparison-product-title")
			| Level I Course Add-Ons – June 2016

		div(class="product-brief")
			div(class="container-fluid")
				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More


	div(class="comparison-product")
		div(class="comparison-product-title")
			a(name="level2")
			| Level II CFA Exam Supplements - June 2016

		div(class="product-brief")
			div(class="container-fluid")
				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More


	div(class="comparison-product")
		div(class="comparison-product-title")
			| Level II Course Add-Ons - June 2016

		div(class="product-brief")
			div(class="container-fluid")
				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More


	div(class="comparison-product")
		div(class="comparison-product-title")
			a(name="level3")
			| Level III CFA Exam Supplements and Add-Ons – June 2016

		div(class="product-brief")
			div(class="container-fluid")
				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

				div(class="row")
					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More

					div(class="product-brief-item col-md-4 col-sm-4 col-xs-12 ")
						img(src="http://www.efficientlearning.com/wiley-cfa/wp-content/uploads/sites/5/2015/07/CFA-Level1-StudyGuide-Book-420.png", alt="")
						h3(class="product-brief-item-name") Study Guides
						div(class="product-brief-item-description")
							| Understand, master, and retain the CFA Program Curriculum with 1,300+ pages of study text in 5 volumes or printable ebook.
						div(class="product-brief-item-buttons")
							span(class="product-brief-item-price")
								| Starting at $225.00
							a(class="button button-secondary form-button", href="#") Learn More