block betterThanOurCompetitors
    div(class="competitors bottom-shadow")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    h3
                        | See why Wiley is better than the competitors
            div(class="row")
                div(class="col-md-12")
                    table(class="competitors-table")
                        thead
                            tr
                                th
                                th
                                    | Wiley
                                th
                                    | Others
                        tbody
                            tr
                                td
                                    | Price
                                td
                                    | $1,245
                                td
                                    | $1,399+
                            tr
                                td
                                    | Course format
                                td
                                    | Self Study and/or Virtual Classes
                                td
                                    | Self-Study and/or Live Classes
                            tr
                                td
                                    | Cost to repeat the course
                                td
                                    | Free until you pass, no conditions
                                td
                                    | 50% extra per part retaken
                            tr
                                td
                                    | Length of access time
                                td
                                    | Until you pass
                                td
                                    | Limited
                            tr
                                td
                                    | Video lecture hours
                                td
                                    | 110+
                                td
                                    | 100
            div(class="row")
                div(class="col-md-12")
                    p(class="notice")
                        | Our data is taken from the Kaplan
                        sup
                            | TM &nbsp;
                        | website and other sources we believe to be reliable. We strive to be accurate.