div(class="front-row bottom-line")
	div(class="front-row-image")
		img(width="1280" height="443" src="responsive/theme-blue/images/bgimage_3.jpg", alt="")
	div(class="front-row-text")
		div(class="container")
			div(class="row")
				div(class="col-sm-7 col-md-7")
					h3
						| Get a front row seat everyday
					p
						| Bring the classroom anywhere you are with CFA Exam Virtual Classes.  Get hands on problems solving and interactive classroom time with top instructors. All sessions are recorded and available for review after each session.
					p
						| Standard with your Platinum Course–view the
						a(href="/wiley-cfa/wp-content/uploads/sites/5/2014/11/SM-CFA-Virtual-061215d.pdf" target="_blank")
							|  December 2015 Level I Virtual Class Schedule</a>