block highlightsFromCourse
    div(class="highlights")
        div(class="container")
            div(class="row")
                h4
                    | Highlights from the Course
            div(class="row tablet-view")
                div(class="col-md-4 col-sm-4")
                    ul(class="list-unstyled")
                        li
                            span(class="promo-flag-new") NEW
                            | Featuring top university professors and CFA Exam Review instructors from leading institutions.
                        li
                            | Focus where it matters most. Students with strong existing knowledge of a particular topic can often speed through
                            | a lesson by watching the video and then taking the Proficiency and Exam Questions.
                        li
                            | Wiley's Video Lectures cover the key concepts and principles in every subject area, plus heavily weighted exam topics and challenging subjects.
                div(class="col-md-4 col-sm-4")
                    img(src="responsive/theme-blue/images/CFA-11th-Hour-Guide-phone-video.png", alt="", class="img-responsive")
                div(class="col-md-4 col-sm-4")
                    ul(class="list-unstyled")
                        li
                            | Ideal for audio-visual learners.
                        li
                            | Learn when you want. Never worry about missed lectures. Listen to any speaker or topic as many times as you need.
                            | Professor Mentoring students can ask questions and receive prompt answers.
                        li
                            | The video lectures feature three different subject-matter experts.
            div(class="row mobile-view")
                div(class="col-md-12")
                    div(id="owl-text")
                        p
                            span(class="promo-flag-new") NEW
                            | Featuring top university professors and CFA Exam Review instructors from leading institutions.
                        p
                            | Focus where it matters most. Students with strong existing knowledge of a particular topic can often speed through a lesson by watching the video and then taking the Proficiency and Exam Questions.
                        p
                            | Wiley's Video Lectures cover the key concepts and principles in every subject area, plus heavily weighted exam topics and challenging subjects.
                        p
                            | Ideal for audio-visual learners.
                        p
                            | Learn when you want. Never worry about missed lectures. Listen to any speaker or topic as many times as you need. Professor Mentoring students can ask questions and receive prompt answers.
                        p
                            | The video lectures feature three different subject-matter experts.



