block keyFeatures
	div(class="key-features")
		div(class="container")
			div(class="row")
				div(class="col-md-6 col-sm-6 col-xs-12")
					div(class="heading free-trial")
						span
							| Free Trial
					div
						p
							| Access a sample of bite-sized lessons with study text,
							| video lectures, exam questions, task-based simulations,
							| and all of the study tools available.
						p(class="try-now")
							a( href="#", title="")
								| Try it Now!
				div(class="col-md-6 col-sm-6 col-xs-12")
					div(class="heading our-promise")
						span
							| Our Promise
					div
						p
							| Your course has no expiration date. You will have
							| unlimited access until  you pass the CFA Exam.
							| Course repeats, online content updates, and
							| software upgrades are free.
			div(class="row")
				div(class="col-md-6 col-sm-6 col-xs-12")
					div(class="heading meet-your-professors")
						span
							| Meet Your Professors
					div
						p
							| Learn from the top team of CFA Exam Review
							| Course Professors in the country. Our team
							| authors the content, deliver the lectures, and
							| mentors you through the course.
				div(class="col-md-6 col-sm-6 col-xs-12")
					div(class="heading bite-sized-lessons")
						span
							| Bite-Sized Lessons
					div
						p
							| We created Bite-Sized Lessons for real-world CFA
							| Exam candidates just like you. These efficient
							| mini-lessons cover everything you need to know
							| about a specific exam topic in as little as 30 minutes.