block mockExamQuestions
    div(class="mock-questions")
        div(class="container")
            div(class="row")
                h3
                    | Sample Our Mock Exam Questions
                    br
                    a(href="", title="", target="_blank")
                        strong
                            | Read the Case Scenario &nbsp;
                        | before answering the questions below.
            div(class="row")
                div(class="col-md-6 col-sm-6 col-xs-12")
                    iframe(height="300", width="100%", src="", frameborder="0", allowfullscreen )
                div(class="col-md-6 col-sm-6 col-xs-12")
                    p
                        strong
                            | Are you ready for exam day?
                    p
                        | We understand it can be difficult to go through the entire CFA® Institute curriculum in the last few weeks, so we have condensed the material to help you focus on what you need to know to pass.
                    p
                        strong
                            | Test your knowledge. &nbsp;
                        | Our 11th Hour Review Course lets you:
                    ul(class="list-unstyled")
                        li
                            | Take a full-length mock CFA
                            sup
                                | &reg;
                            | Exam in timed conditions
                        li
                            | Retake the mock exam as many times as you need
                        li
                            | Your last 10 results will be recorded so you can stay on track and measure your progress
                    p
                        | Want to test your knowledge further? &nbsp;
                        strong
                            | Check out our &nbsp;
                            a(href="", title="")
                                | CFA
                                sup
                                    |&reg;
                                |  Test Bank
                            |  where you can take an additional full-length Mock Exam and build your own online quiz from a new set of 500 questions &nbsp;
                        | (Wiley Test Bank is included as standard in Platinum, Gold, Silver and Self-Study courses).

