div(class="plan")
    img(class="img-block" src="responsive/theme-blue/images/bgimage_211.jpg", alt="")
    div(class="container")
        div(class="row")
            div(class="col-sm-6 col-md-6")
                h3
                    | Get a plan, down to the day
                p
                    | With the Exam Planner, plug in your exam date–or the time you think you have to study–and we’ll give you a study plan down to the day.
                    | You’ll quickly see how much time you realistically need. This tool schedules your study time and personalizes the course to your life.
                    | Your schedule is synchronized after each study session so you can pick up where you left off each time.