block productDescription
    div(class="description-product")
        div(class="container")
            div(class="row")
                div(class="col-md-12 col-sm-12 col-xs-12 tablet")
                    h1
                        | Level I CFA Gold Course – December 2015
                div(class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12")
                    div(class="image")
                        img(src="responsive/theme-blue/images/CFA-Level1-Gold-420x330-transparent1.png", alt="")
                div(class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12")
                    div(class="description")
                        h2(class="mobile")
                            | Level I CFA Gold Course – December 2015
                        div(class="text")
                            p(class="top-link")
                                a(href="", title="")
                                    | View Level I&nbsp;June 2016
                            p
                                a(href="", title="", target="_blank")
                                    strong
                                        |  December 2015 Live Online Weekly Classes Start July 25 2015.
                            p
                                strong
                                    | Pass with Wiley!
                                | This online review course combines the best CFA exam content with our leading e-learning platform. Plug in your exam date and you’ll have an exam plan schedule in seconds. Learn with 18 weekly live virtual classes supported with online mentoring,
                                | 110+ hours pre-recorded lecture videos, study guides and test banks. Then take the full-length
                                | mock exams and track your progress right up to exam day. Excludes 11th Hour Final Review cram course.
                                a(href="", title="")
                                    |  Compare courses
                            div(class="note")
                                p(class="margin-bottom0")
                                    |Save 15% + get free shipping (International and domestic U.S.)
                                    | on the December 2015 Level I CFA Gold Course until November 30. Code Required at checkout:
                                    strong
                                        |  EXTENDED
                div(class="col-md-12 col-sm-12 col-xs-12")
                    include ad-dons-block