div(class="product-tour")
    div(class="container")
        div(class="row")
            div(class="col-sm-4 col-md-4")
                h4 Prepare Your Study Process
                ul
                    li
                        | Exam Planner &amp; Personalized Study Schedule
                    li
                        | Diagnostic Exams &amp; Strategy Support
                    li
                        | Performance Metrics
            div(class="col-sm-4 col-md-4")
                h4 Study the Material
                ul
                    li
                        | Efficient Learning System with Bite-Sized Lessons
                    li
                        | 1,500 Practice Questions for Level&nbsp;I
                    li
                        | 110+ Hours of Video for Level&nbsp;I
                    li
                        | Mentoring by Top Instructors
                    li
                        | 18 Session Virtual Classroom Series for Level&nbsp;I
                a(href="#", class="show-hide")
                    | Show more...
            div(class="col-sm-4 col-md-4")
                h4 Review for the Test
                ul
                    li
                        | 500+ Testbank Questions
                    li
                        | 2 Full-length Mock Exams
                    li
                        | 60 Pages of Formula Sheets
                    li
                        | 11th Hour Review Course
                    li
                        | 60 Pages of Formula Sheets
                a(href="#", class="show-hide")
                    | Show more...