div(class="story bottom-line")
	div(class="container")
		div(class="row")
			div(class="col-md-12")
				h2
					| People are passing with Wiley
		div(class="row")
			div(class="col-md-6")
				div(class="content content--orange")
					p(class="description")
						| Your study guides, lectures and practice questions are really helping me grasp these difficult concepts better. Thanks!"
					p(class="by")
						| Amy, USA
			div(class="col-md-6")
				div(class="content content--orange")
					p(class="description")
						| I just wanted to commend you guys on the amazing product”
					p(class="by")
						| Arfa, Australia
		div(class="row")
			div(class="col-md-12")
				a(class="read-more pull-right", href="http://www.efficientlearning.com/wileycpaexcel/why-cpaexcel/success-stories/")
					| Read more success stories