block whatsIncluded
    div(class="whats-included")
        div(class="container")
            div(class="row")
                div(class="col-md-6 col-sm-8 col-xs-12")
                    div(class="image-gallery")
                        div(class="slider")
                            div(id="sync1", class="owl-carousel")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/CFA-Screens-352x265-Dashboard.jpg")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/CFA-Screens-352x265-Metrics.jpg")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/CFA-Screens-352x265-Notes.jpg")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/CFA-Screens-352x265-Syllabus.jpg")
                            div(id="sync2", class="owl-carousel")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/CFA-Screens-352x265-Dashboard.jpg")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/CFA-Screens-352x265-Metrics.jpg")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/CFA-Screens-352x265-Notes.jpg")
                                div(class="item")
                                    img(src="responsive/theme-blue/images/CFA-Screens-352x265-Syllabus.jpg")
                div(class="col-md-6 col-sm-4 col-xs-12")
                    h4
                        | See what you’ll get from our course
                    ul(class="list-unstyled")
                        li
                            | New! 18 Weekly Live Online Classes with our Virtual Classroom Series. &nbsp;
                            a(href="", title="", target="_blank")
                                |  Learn More
                        li
                            | Professional Online Mentoring – post your CFA exam related questions and receive a response within 24-48 hours or less
                        li
                            | Pay Only Once Until You Pass Guarantee including Free Updates & Upgrades
                        li
                            | 30-45 minute Bite-Sized Lessons with Video Lectures, Study Text &  1500+ Practice Questions to Help you Fit in a Class even in your Lunch Hour
                        li
                            | 2 Full-length Mock Exams
                        li
                            | Print or eBook Study Text Covering Every LOS
                        li
                            | Dashboard & Performance Metrics
                        li
                            | Adaptive Exam Planner & Personalized Study Schedule
                        li
                            | 60+ pages of Formula Sheets