<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
		<tr>
			<td height="125px" width="100%" class="structureViewSection">
				<cockpit code="SiteLogo" />
			</td>
		</tr>
		<tr>
				<td height="400px" width="100%" class="structureViewSection">
					<cockpit code="EmailBody" />
				</td>
		</tr>
		<tr>
			<td height="125px" width="100%" class="structureViewSection">
				<cockpit code="SiteLogoBottom" />
			</td>
		</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>