block asideMenu
    div(class="aside-menu", id="aside-menu")
        div(class="panel-heading")
            h3(class="panel-title text-center text-uppercase")
                span My Account
        div(class="panel-body")
            nav(class="navigation")
                a(class="navigation-item current", href='#')
                    span
                        | Edit profile
                a(class="navigation-item", href='#')
                    span
                        | Change password
                a(class="navigation-item", href='#')
                    span
                        | Manage Subscription
                a(class="navigation-item", href='#')
                    span
                        | Edit Payment