block cardInfo
    table(class="card-info")
        tr
            th
                | Card Type
            th
                | Card Number
        tr
            td
                span(class="card-type visa", title="Visa") Visa
            td(class="card-number")
                | xxxx-xxxx-4790
    table(class="card-expirience")
        tr
            th(colspan="2")
                | Expiration Date
        tr
            td(class="date")
                | 08/2016
            td(class="td-button")
                button(class="button form-button", type="submit")
                    | Update Credit Card
