block commonScripts
	script(src="responsive/common/js/jquery-2.1.1.min.js")
	script(src="responsive/common/bootstrap/dist/js/bootstrap.min.js")

	script(src="responsive/common/js/header.js")

	script(src="responsive/common/js/wiley.js")