div(class="confirmation-text")
	h2 Thanks you for your purchase!
	p
		| Your order has been processed and a confirmation email
		br
		| will be sent to you which will include your product information.