block footer
	div(class="footer")
		div(class="footer-left-side")
			div(class="copyright")
				p &copy;2016 John Wiley &amp; Sons Inc and all related companies.
				p All rights reserved.

		div(class="footer-right-side")
			div(class="footer-logo")
				a(href="#")
					img(src="responsive/theme-blue/images/logo-footer.png")
