block vars
	- showLogoutLink = true;
	- showCurrencySelector = true;

block header
	div(class="header")
		div(class="header-container")
			div(class="header-left-side")

			div(class="header-title")
				a(href="#")
					img(class="logo-header-mobile", src="responsive/theme-blue/images/logo-header-mobile.png", alt="Architectural Graphic Standards Online")
					img(class="logo-header", src="responsive/theme-blue/images/logo-header.png", alt="Architectural Graphic Standards Online")

			div(class="header-right-side")
				if showCurrencySelector
					div(class="currency-selector dropdown", id="currency-selector")
						button(class="dropdown-toggle", type="button", id="currency-selector-menu", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
							span(class="dropdown-text") USD &dollar;
						ul(class="dropdown-menu", aria-labelledby="currency-selector-menu")
							li(class="current", data-value="USD")
								a USD &dollar;
							li(data-value="GBP")
								a GBP &pound;
							li(data-value="EUR")
								a EUR &euro;
				if showLogoutLink
					a(class="logout-link", href="#") Logout