block orderDetails
    div(class="order-details")
        div(class="form-title")
            | Order Details
        div(class="order-details-info")
            div(class="subtotal")
                span
                    | Subtotal
                span
                    | &#36; 575.00
            div(class="tax")
                span
                    | Tax
                span
                    | &#36; 0.00
            div(class="total")
                span
                    | Total
                span
                    | &#36; 575.00
        div(class="form-buttons")
            span(class="link-control")
                a(href="#", class="go-to-card", title="")
                    | Cancel and return to cart
            span(class="btn-control")
                button(class="button form-button", type="submit")
                    | Continue