block progressLine
	ul(class="progress-line")
		- if(progressLineType == 'account')
			li(class="step step-completed")
				span(class="step-number") 1
				span(class="step-name step-name-desktop") Create an Account or Log In
				span(class="step-name step-name-mobile") Log In
			li(class="step step-completed")
				span(class="step-number") 2
				span(class="step-name") Billing
			li(class="step")
				span(class="step-number") 3
				span(class="step-name") Payment
			li(class="step")
				span(class="step-number") 4
				span(class="step-name") Order Confirmation
		- else
			li(class="step step-completed")
				span(class="step-number") 1
				span(class="step-name") Pin Input
			li(class="step")
				span(class="step-number") 2
				span(class="step-name step-name-desktop") Create an Account or Log In
				span(class="step-name step-name-mobile") Login
			li(class="step")
				span(class="step-number") 3
				span(class="step-name") Confirmation