div(id="wpg-iframe")
   iframe(width="400" height="520" frameborder="0" src="https://chttpsandbox.wileypay.com/content/tns/webForm.php?session=x%DAM%92%DBN%DC0%10%86%EFy%8A%15Roc%27qN%D5%D4%08%95%0AP%2BX%ED%82z%ED%C4%13%12ic%1B%DBYH%9F%BENX%C2%FAj%FE9x%BE%FC%0E%5C%BD%0F%87%CD%11%AD%EB%B5%FAq%19G%F4%F2%8A_%80%11vp%1C%B4A%2B%7C%A8p1%FA%0E%C8%97%06%DF%0F%E8%BC%18%0C%8FY%96dU%C5%2AZ%24%14%C8W%01%8E%A8%A4%B6%F77%3C%A1%19%90U%81%B7B%B9%10%D0%D3%89%29K%C3%E0%29%0B%03%FANK%7E%F7%F4%B4%05r%12+%D15%B67%CB%F2%BF%DB%DB%CD%9D%F7fs%1D%A8%B4%ED%FF-L%9B%1D%BE%8Ea5%90%F3%5E8%8A%C3%88%3C%CB%A2%C0%F6%11C3Z%8B%AA%99%F8%F3%FE%06%C8%AA%C0%E2%CB%3C%F2p%0D%E4%14%82%C3P%EE%FD%C4%B1%AC0%CE%E3%9A%C5yAYR%E5%B9%94M%5B%149%D6L%B4i%02dm%05%21%A5E%E7%F8%EB%1B%02%F9%14%60%B4%F3%8D%96%C8%93%E5%00Y%13%D0%E8Qy%3B%FD%9CE%C9%02%E8y%220%B8%F9u%F8%FE%D7%7E%7F%FF%F80%1B%C6%2AF%B3%22f%C5mN%8B2%CDX%F9%BB%98%09%3E%1A%C3%87%F8%D1%AA%ADxA%DE%05%9F%DCwB%9A%25%10J%D6%FA%3Dz%EB%0F8%191E%8D%1E%C2.%E5Qy%E2%95%23%B3%A1%3BtF%2B%87%91%E9%CCl%C4zU%B8%B6%C5%D9%2A%E4%B2%8A%2B%86%AC.sJkV%D7%AC%C14iQ%A6yKsd%F9%3C%F7%D9%0B%B2wF%F8%A6%7B%DE%FDYq%16%B30R%22%0Ak%03%C9%10%08%DC%82%D3j%3B%90o.%BC%E2%D9X0k%F9%23%2F%FE%03%EC%03%EC%B2")

div(id="wpg-session-timeout" style="display:none; color:red")
    | Your session has expired. Please <a href="https://eCommerce-UAT-Web-ELB-997773317.us-east-1.elb.amazonaws.com/agsstorefront/ags/en/checkout/multi/billing-address/add" style="text-decoration: underline">go back</a> to make a payment

div(id="wpg-termsAndConditions")
    | By clicking on Make Payment I agree to the <a href="https://eCommerce-UAT-Web-ELB-997773317.us-east-1.elb.amazonaws.com/agsstorefront/termsAndConditions" target="_blank">Terms and Conditions</a>