include ../partials/mixins
doctype html
html(lang="en" dir="ltr")
	block vars
	head
		block headSection
			include ../partials/head
	body
		main
			div(class="container-fluid")
				div(class="row")
					block header
						include ../partials/header
					if asmPanel
						include ../partials/asm-panel
					if checkoutBreadcrumb
						include ../partials/breadcrumb
					if errorMessage
						include ../partials/error-message
						include ../partials/error-message
						include ../partials/error-message
			div(class="container " + (containerCSSClass || " "))
				div(class="row")
					div(class="col-xs-12")
						block center
			block footer
				include ../partials/footer

		// scripts
		block commonScripts
			include ../partials/common-scripts