include ../partials/mixins
doctype html
html(lang="en" dir="ltr")
	block vars
	head
		block headSection
			include ../partials/head
	body
		main
			div(class="container-fluid")
				div(class="row")
					block header
						if emptyHeader
							include ../partials/header-empty
						else
							include ../partials/header
			div(class="container " + (containerCSSClass || " "))
				div(class="row")
					div(class="col-xs-12")
						block center
			block footer
				if emptyFooter
					include ../partials/footer-empty
				else
					include ../partials/footer

		// scripts
		block commonScripts
			include ../partials/common-scripts