extends layouts/grid-two-row-col-12
block vars
	- var containerCSSClass = "activate-registration-code wrap authorization-support-message-wr";
	- var loginMainButtonTitle = "Login";
	- var hiddenBottom = true;
	- var supportMessage = true;
block top
	div(class="site-form central-form")
		form
			div(class="form-cell heading")
				h1 Activate Registration Code

			div(class="form-cell")
				| Already purchased a registration code? Activate here to begin using the product.

			div(class="form-cell")
				div(class="form-label required")
					label(id="registration-code")
						| Registration code
				div(class="form-field")
					input(type="text", for="registration-code", placeholder="<registration code>")
			div(class="form-cell")
				button(class="button button-main large")
					| Activate Registration Code