extends layouts/grid-two-column-4-8
block vars
	- var headTitleText = "b2b - Product description page";
	- var containerCSSClass = "product-description";

block left
	div(class="product-details visible-xs")
		h2
			| Journal of Food Biochemistry
		div(class="product-summary")
			p Subject: General & Introductory Food Science & Technology
			p ISBN/Product ID: 9780JRNL61883
			p Type: Backfiles
			p Content Year: 1977 - 1997
			p Available Online: JAN 2008

	div(class="image-gallery")
		div(class="carousel")
			div(id="pdp-carousel-sync1", class="owl-carousel")
				div(class="item")
					div(class="item-image")
						img(src="responsive/common/images/pdp-image1.png")
				div(class="item")
					div(class="item-image")
						img(src="responsive/common/images/pdp-image2.jpg")
				div(class="item")
					div(class="item-image")
						img(src="responsive/common/images/pdp-image3.jpg")
				div(class="item")
					div(class="item-image")
						img(src="responsive/common/images/pdp-image4.jpg")
			div(id="pdp-carousel-sync2", class="owl-carousel")
				div(class="item")
					div(class="item-image")
						img(src="responsive/common/images/pdp-image1.png")
				div(class="item")
					div(class="item-image")
						img(src="responsive/common/images/pdp-image2.jpg")
				div(class="item")
					div(class="item-image")
						img(src="responsive/common/images/pdp-image3.jpg")
				div(class="item")
					div(class="item-image")
						img(src="responsive/common/images/pdp-image4.jpg")

block center
	div(class="row")
		div(class="col-xs-12 col-sm-6 col-sm-push-6")
			div(class="product-add-to-cart")
				div(class="product-price")
					| Item Price: $114.12
				div(class="product-qty")
					label(for="qty")
						| Qty:
					input(type="text", id="qty", aria-label="quantity")
				div(class="product-availability")
					| &lt; item availability &gt;
				div(class="add-to-cart")
					button(class="button button-outlined large")
						| Log in to see pricing
		div(class="col-xs-12 col-sm-6 col-sm-pull-6")
			div(class="product-details hidden-xs")
				h2
					| Journal of Food Biochemistry
				div(class="product-summary")
					p Subject: General & Introductory Food Science & Technology
					p ISBN/Product ID: 9780JRNL61883
					p Type: Backfiles
					p Content Year: 1977 - 1997
					p Available Online: JAN 2008
			div(class="product-additional-inform")
				p
					| <Item Description> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam memini etiam quae nolo, oblivisci non possum quae volo. Mihi, inquam, qui te id ipsum rogavi? Quid de Platone aut de Democrito loquar? Sed id ne cogitari quidem potest quale sit, ut non repugnet ipsum sibi. Sed residamus, inquit, si placet. Non modo carum sibi quemque, verum etiam vehementer carum esse?
				p
					| Sed quia studebat laudi et dignitati, multum in virtute processerat. Quare attende, quaeso. Sapientem locupletat ipsa natura, cuius divitias Epicurus parabiles esse docuit. Ita relinquet duas, de quibus etiam atque etiam consideret.

