extends layouts/grid-two-column-7-4
block vars
	- var pageTitle = "Secure Checkout";
	- var headTitleText = "b2b - Shipping Method";
	- var containerCSSClass = "checkout-shipping-method b2b-checkout checkout-support-message-wr";
	- var pageTitleCSSClass = "icon-lock";
	- var supportMessage = true;
	- var isPONumber = true;

block left
	+checkoutAccordion(3, [{name: "Payment"}, {name: "Shipping Information"},{name:"Shipping Method"},{name:"Payment & Billing Address"},{name:"Order Review"}])
		div(class="checkout-accordion-content-wrap")
			div(class="checkout-delivery-option-dates")
				div(class="row")
					div(class="col-xs-12 col-sm-6")
						div(class="checkout-content-subtitle")
							| Delivery Options
						div(class="checkout-delivery-list")
							div(class="checkout-delivery-item radio-button-component")
								input(type="radio", id="one-day-shipment", name="delivery-item")
								label(for="one-day-shipment")
									div(class="delivery-item-title")
										| One-Day shipment
									div(class="delivery-item-description")
										| $22.59 - Priority overnight delivery
							div(class="checkout-delivery-item radio-button-component")
								input(type="radio", id="two-day", name="delivery-item")
								label(for="two-day")
									div(class="delivery-item-title")
										| Two-Day
									div(class="delivery-item-description")
										| &lt;$##.##&gt; - &lt;Description&gt;
							div(class="checkout-delivery-item radio-button-component")
								input(type="radio", id="economy", name="delivery-item")
								label(for="economy")
									div(class="delivery-item-title")
										| Economy
									div(class="delivery-item-description")
										| &lt;$##.##&gt; - &lt;Description&gt;
					div(class="col-xs-12 col-sm-6")
						div(class="checkout-delivery-addition")
							| Items will ship as soon as they are available. See the Order Summary area for more information.
			div(class="checkout-shipment-list")
				div(class="checkout-content-subtitle")
					| Shipment - 3 Item(s)
				div(class="checkout-content-address")
					| Issac Gerber
					br
					| 111 River Street
					br
					| Hoboken, NJ, 07030-5774, United States
				div(class="checkout-shipment-item")
					div(class="checkout-shipment-title")
						| 2014 FASB Update Intermediate Accounting, 15th Edition
					div(class="checkout-shipment-qty")
						| Qty: 1
					div(class="checkout-shipment-est-del")
						| Est. delivery: 1 day(s)
				div(class="checkout-shipment-item")
					div(class="checkout-shipment-title")
						| Accounting for Dummies, 5th Edition
					div(class="checkout-shipment-qty")
						| Qty: 1
					div(class="checkout-shipment-est-del")
						| Est. delivery: 3 day(s)
				div(class="checkout-shipment-item")
					div(class="checkout-shipment-title")
						| Nutrition for Foodservice and Culinary Professionals, 8th Edition
					div(class="checkout-shipment-qty")
						| Qty: 1
					div(class="checkout-shipment-est-del")
						| Est. delivery: 2 day(s)
			div(class="checkout-shipment-shipping-date")
				div(class="checkout-content-subtitle")
					| Desired Shipping Date
				div(class="datepicker site-form")
					div(class="form-cell")
						div(class="form-field")
							input(type="text", id="date-picker", class="date-picker", aria-label="Desired Shipping Date")
							label(for="date-picker")
							input(type="hidden", class="date-desired")
			div(class="checkout-accordion-button-next")
				button(class="button button-main large") Next Step
block right
	include checkout/checkout-order-brief-section