extends layouts/grid-two-column-7-4
block vars
	- var pageTitle = "Secure Checkout";
	- var headTitleText = "b2b - Order Review";
	- var containerCSSClass = "order-review-page b2b-checkout checkout-support-message-wr";
	- var pageTitleCSSClass = "icon-lock";
	- var supportMessage = true;
	- var isOderReview = true;
	- var oderReviewMessage = true;
	- var isPONumber = true;
	- var promoStatus = "promo-denied";

block left
	+checkoutAccordion(5, [{name: "Payment"}, {name: "Shipping Information"},{name:"Shipping Method"},{name:"Payment & Billing Address"},{name:"Order Review"}])
		include checkout/checkout-order-total-section
block right
	include checkout/checkout-order-brief-section

	+modal("termsAndConditionsModal", "Terms and Conditions")
		div(class="terms-conditions")
			+termsAndConditions()