extends layouts/grid-two-row-col-12
block vars
	- var containerCSSClass = "log-in wrap authorization-support-message-wr";
	- var loginMainButtonTitle = "Login";
	- var isB2BPage = true;
	- var nonLoggedIn = true;
	- var hiddenBottom = true;
	- var supportMessage = true;

block top
	include partials/form-login