extends layouts/grid-two-column-7-4
block vars
	- var pageTitle = "Secure Checkout";
	- var headTitleText = "b2b - Checkout: Payment & Billing Address";
	- var containerCSSClass = "checkout-payment b2b-checkout checkout-support-message-wr";
	- var pageTitleCSSClass = "icon-lock";
	- var isCheckoutPayment = true;
	- var isCheckoutPaymentB2B = true;
	- var supportMessage = true;

	- var productModalList = [];
	- productModalList.push({title: "2014 FASB Update Intermediate Accounting 15th Edition", imageSRC: "responsive/theme-blue/images/product-image.png", qty: 1, price: 114.32});
	- productModalList.push({title: "2014 FASB Update Intermediate Accounting 15th Edition", imageSRC: "responsive/theme-blue/images/product-image.png", qty: 1, price: 114.32});
	- productModalList.push({title: "2014 FASB Update Intermediate Accounting 15th Edition", imageSRC: "responsive/theme-blue/images/product-image.png", qty: 1, price: 114.32});

block left
	+checkoutAccordion(1, [{name: "Payment"}, {name: "Shipping Information"}, {name: "Shipping Method"}, {name: "Order Review"}])
		div(class="checkout-accordion-content-wrap")
			div(class="checkout-payment-buttons")
				div(class="row")
					div(class="col-xs-12 col-sm-6")
						button(class="button button-main large", data-toggle="modal", data-target="#payByInvoice") Pay By Invoice
					div(class="col-xs-12 col-sm-6")
						button(class="button button-secondary large add-another-card") Add another Credit Card
						div(class="checkout-payment-credit-cards")
							div(class="credit-card")
		+modal("payByInvoice", "Pay By Invoice")
			div(class="modal-wnd-list")
				- each item, i in productModalList
					div(class="modal-wnd-list-item")
						div(class="modal-wnd-list-image")
							img(src=item.imageSRC, alt="")
						div(class="row modal-wnd-list-info")
							div(class="col-xs-12 col-sm-6")
								div(class="modal-wnd-list-title")
									=item.title
								div(class="modal-wnd-list-qty")
									| Qty:
									=item.qty
							div(class="col-xs-12 col-sm-2")
								div(class="modal-wnd-list-price")
									=item.price
							div(class="col-xs-12 col-sm-4")
								div(class="modal-wnd-list-number")
									input(type="text", placeholder="Enter P.O Number")
				div(class="modal-button-wrap")
					div(class="row")
						div(class="col-xs-12 col-sm-4 col-sm-offset-4")
							button(class="button button-main medium")
								| Continue
						div(class="col-xs-12 col-sm-4")
							button(class="button button-outlined medium", data-dismiss="modal", aria-label="Close")
								| Cancel
block right
	include checkout/checkout-order-brief-section