extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Update Personal Details";
	- var headTitleText = "b2b - " + pageTitle;
	- var containerCSSClass = "my-account my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var isfullWidthGrayH1Mobile = true;
	- var navItem = "Update Personal Details";

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

block left
	+sideBarNavigation(sideBarList)

block right
	div(class="my-account-wrap personal-details")
		div(class="row")
			div(class="col-xs-12 col-sm-4")
					include partials/form-personal-details