extends layouts/grid-two-column-6-6
block vars
	- var headTitleText = "b2c - Reg Code Confirmation";
	- var containerCSSClass = "reg-code-confirmation wrap";
	- var pageTitle = "Registration Code Activated";
	- var isfullWidthGrayH1Mobile = true;

block left
	div(class="success-message icon-check wrap")
		p Your registration code has been accepted.

	div(class="buttons-wrap")
		button(class="button button-main large") Get Started