extends layouts/grid-two-column-6-6
block vars
	- var headTitleText = "b2c - Free Trial Confirmation";
	- var containerCSSClass = "free-trial confirmation wrap";
	- var pageTitle = "Free Trial Starts Now";
	- var isfullWidthGrayH1Mobile = true;

block left
	div(class="product-list wrap")
		- for (var h = 1; h < 3; h++)
		div(class="product-list-item")
			div(class="product-list-image")
				img(src="responsive/common/images/product-image.png", alt="product image")
			div(class="row product-list-info")
				div(class="col-xs-12 col-sm-9")
					div(class="product-list-title")
						| 2014 FASB Update Intermediate Accounting, 15th Edition
					div(class="product-list-description")
						div(class="product-list-author") Donald E. Kieso, Jerry J. Weygandt, Terry D. Warfield

	div(class="success-message icon-check wrap")
		p Thank you. You’ve signed up for Wiley.com free trial.
		p You now have up to 14 days to access the book. You can get full access to the book at anytime before or after the trial period expires.
			a(href="#") &nbsp;Show me how.

	div(class="button-wrap")
		button(class="button button-main large") Get Started