extends layouts/grid-two-column-9-3

block vars
	- var headTitleText = "b2c - Purchase options";
	- var containerCSSClass = "purchase-options limited-access wrap";
	- var isfullWidthGrayH1Mobile = true;

block center
	h1(class="full-width-gray")
		| Register for this WileyPLUS Class

	include purchase-options/purchase-option-summary

	div(class="purchase-message")
		div(class="row")
			div(class="col-xs-12 col-sm-12")
				h2 Thank you. Please click continue to access your course.
		div(class="row")
			div(class="col-xs-12 col-sm-12 text-right")
				button(class="button button-main large") Continue
