extends layouts/grid-two-column-9-3

block vars
	- var headTitleText = "b2c - Purchase options";
	- var containerCSSClass = "purchase-options wrap";
	- var isfullWidthGrayH1Mobile = true;

	- var purchaseOptionsItems = [];
	-	purchaseOptionsItems.push({title: "I have a registration code.", tooltipContent: "Registration codes are used to access WileyPLUS. The can be purchased separately or as part of a bundle."});
	-	purchaseOptionsItems.push({title: "I want to purchase instant access to WileyPLUS.", tooltipContent: "Registration codes are used to access WileyPLUS. The can be purchased separately or as part of a bundle."});
	-	purchaseOptionsItems.push({title: "I'm not ready to buy. I'd like to use the 14-day Grace Period.", tooltipContent: "Registration codes are used to access WileyPLUS. They can be purchased separately or as part of a bundle."});

block center
	h1(class="full-width-gray")
		| Register for this WileyPLUS Class

	include purchase-options/purchase-option-summary

	div(class="panel-group", id="purchase-accordion")
		- each item, i in purchaseOptionsItems
			- var collapseItem = i + 1
				div(class="purchase-accordion-item wrap-inner-bordered")
					div(class="purchase-accordion-heading")
						div(class="heading-body")
							div(class="heading-left", data-toggle="collapse", data-parent="#accordion", href="#collapse" + collapseItem)
								span(class="heading-arrow")
							div(class="heading-center", data-toggle="collapse", data-parent="#accordion", href="#collapse" + collapseItem, tabindex="0")
								h2=item.title
							div(class="heading-right")
								span(class="popover-help", data-toggle="popover", data-content=item.tooltipContent, data-trigger="hover focus", tabindex="0")
									| &nbsp;
					div(id="collapse" + collapseItem, class="panel-collapse collapse")
						div(class="purchase-accordion-body")
							case collapseItem
								when 1
									include purchase-options/purchase-option-registration-code
								when 2
									include purchase-options/purchase-option-instant-access
								when 3
									include purchase-options/purchase-option-free-trial

block right
	include purchase-options/purchase-option-note