extends layouts/grid-two-column-6-6
block vars
	- var headTitleText = "b2c - Order Confirmation";
	- var containerCSSClass = "checkout-order-confirmation wrap";
	- var subTitleBlock = true;
	- var isConfirmationPage = true;

block subTitle
	h2(class="icon-tick-green") Thank you for your Order!
	p Your Order Number is&nbsp;
		a(href="#") &lt;order number&gt;
	p A copy of your order details has been sent to&nbsp;
		a(href="mailto:#") &lt;recipient email address&gt;
		
	include partials/support-message

block left
	include checkout/checkout-order-confirmation-section
	div(class="buttons-section text-center")
		button(class="button button-main large") My Account

block right
	div(class="print-section checkout-desktop")
		a(class="icon-print" href="#") Print