extends layouts/grid-two-column-7-4
block vars
	- var pageTitle = "Secure Checkout";
	- var headTitleText = "b2c - Order Review";
	- var containerCSSClass = "order-review-page checkout-support-message-wr";
	- var pageTitleCSSClass = "icon-lock";
	- var supportMessage = true;
	- var isOderReview = true;
	- var isB2CPage = true;
	- var promoStatus = "promo-denied";

block left
	+checkoutAccordion(4)
		include checkout/checkout-order-total-section

block right
	include checkout/checkout-order-brief-section

	+modal("termsAndConditionsModal", "Terms and Conditions")
		div(class="terms-conditions")
			+termsAndConditions()