extends layouts/grid-fluid
block center
    div(style="background: #797097;")
        div.container.page-content-wrapper
            div(style="margin-bottom: 30px;")
                h5 LINK WITH ARROW
                a.link-arrow Learn more
            div(style="margin-bottom: 30px;")
                h5 LINK WITH BULLET
                a.link-bullet Learn more
            div(style="margin-bottom: 30px;")
                h5 LINK BUTTON TRANSPARENT WITH ARROW
                a.link-button.transparent.arrow Learn more
            div(style="margin-bottom: 30px;")
                h5 LINK BUTTON WITH GREEN COLOR
                a.link-button(style="color: green;") Learn more
            div(style="margin-bottom: 30px;")
                h5 LINK BUTTON WITH BLUE COLOR
                a.link-button(style="color: blue;") Learn more
            div(style="margin-bottom: 30px;")
                h5 LINK BUTTON WITH YELLOW BACKGROUND
                a.link-button(style="background-color: yellow; border-color: yellow; color: white;") Learn more
    div.container
        div.content.cke-content
            ul
                li endum tellus. Fusce commodo risus eu leo fringilla, ut faucibus mauris interdum. In non tortor arcu.
                li Integer sodales dui ut efficitur pharetra. Cras sodales tortor non
                li is fermentum. Praesent vitae leo mattis, finibus
            ol
                li endum tellus. Fusce commodo risus eu leo fringilla, ut faucibus mauris interdum. In non tortor arcu.
                li Integer sodales dui ut efficitur pharetra. Cras sodales tortor non
                li is fermentum. Praesent vitae leo mattis, finibus