extends layouts/grid-fluid
block vars
    - var containerCSSClass = 'category-landing-page';
    - var breadcrumbsList = ["Home", "Products", "Special products"];
    - var text = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..";
    - var fishtext = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...";

block center
    div(class="container")
        include partials/breadcrumbs
    div(class="hero-banner")
        div.simple-responsive-banner-component
            img(class="responsive-image js-responsive-image", src="responsive/common/images/pdp-bg-web.png")
        div(class="container")
            article.section-description.page-section
                .content.cke-content
                    .wiley-slogan
                        h1
                            span(style='color:#1b1c1d;')
                        h1(style='text-align: justify;')  
                        h1(style='text-align: justify;')
                            span(style='color:#ffffff;') Accounting
                        p Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    .section-wrapper
                        .section-left
                        .section-right
    div(class="container-fluid gray-bg")
        section.container.featured-products
            header
                h1 Featured products
                span.link-view-more
                    a(href="#", class="link-corner") View more
            div(class="featured-products-gallery plcGridCarousel")
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author

    div(class="container container-with-panel")
        div(class="side-panel")
            header
                div.content
                    h4 Subject
            ul
                li: a(href="#") Subject 1
                li: a(href="#") Subject 1
                li: a(href="#") Subject 1
                li: a(href="#") Subject 1
                li: a(href="#") Subject 1
                li: a(href="#") Subject 1
                li: a(href="#") Subject 1
                li: a(href="#") Subject 1
                li: a(href="#") Subject 1
                li: a(href="#") Subject 1
                li: a(href="#") Subject 1
                li: a(href="#") Subject 1
            span.link-view-more
                a(href="#", class="link-corner") View more
        div(class="content-panel")
            .dropdown.dropdown-component.facets-dropdown-component.visible-xs
                button#dropdownMenuButton.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Dropdown button
                .dropdown-menu(aria-labelledby='dropdownMenuButton')
            section.products-preview-block
                header
                    h3 Recently released products

                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
            section.products-preview-block
                header
                    h3 Recently released products
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author

            section.preview-articles
                .content
                    header
                        h3 From the community
                .content
                    article(class="row preview-article")
                        div(class="col-xs-12 col-sm-5")
                            div.preview-image-wrapper
                                img(src='responsive/common/images/image_video_test.png')
                                span.publish-date-badge 1 month ago

                        div(class="col-xs-12 col-sm-7")
                            .preview-title
                                h5
                                    a(href="#") What I learned at My First Library Conference
                                    i.author by Wiley Excharges
                            p #{ fishtext }
                            span.editor-choice-badge.glyphicon.glyphicon-star
                                | Editor's choice
                .content
                    article(class="row preview-article")
                        div(class="col-xs-12 col-sm-5")
                            div.preview-image-wrapper
                                img(src='responsive/common/images/image_video_test.png')
                                span.publish-date-badge 1 month ago

                        div(class="col-xs-12 col-sm-7")
                            .preview-title
                                h5
                                    a(href="#") What I learned at My First Library Conference
                                    i.author by Wiley Excharges
                            p #{ fishtext }
                            span.editor-choice-badge.glyphicon.glyphicon-star
                                | Editor's choice
            section.author-spotlight-section
                .content
                    header
                        h3 Author spotlight
                .content
                    div(class="row")
                        div(class="col-xs-12 col-sm-6 section-author")
                            section(class="author")
                                h5 Donald E. Kieso
                                p(class="author-skill") CPA, Author & Educator
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec convallis nulla. Vivamus nec imperdiet lectus. Sed nec bibendum

                        div(class="col-xs-12 col-sm-6 section-author")
                            section(class="author")
                                h5 Donald E. Kieso
                                p(class="author-skill") CPA, Author & Educator
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec convallis nulla. Vivamus nec imperdiet lectus. Sed nec bibendum
                        div(class="col-xs-12 col-sm-6 section-author")
                            section(class="author")
                                h5 Donald E. Kieso
                                p(class="author-skill") CPA, Author & Educator
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec convallis nulla. Vivamus nec imperdiet lectus. Sed nec bibendum

                        div(class="col-xs-12 col-sm-6 section-author")
                            section(class="author")
                                h5 Donald E. Kieso
                                p(class="author-skill") CPA, Author & Educator
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec convallis nulla. Vivamus nec imperdiet lectus. Sed nec bibendum


            section
                div(class="row")
                    div(class="col-xs-12 col-sm-6")
                        .blue-info-box
                            h4 Society partner
                            p Wiley is a place to publish for Society
                            a(href="#", class="link-corner") Learn more
    div(class="related-series")
        div(class="container")
            h6 Related series
            .links
                a(href="#") Neque porro quisquam est qui dolorem ipsum quia
                a(href="#") Neque porro quisquam est qui dolorem ipsum quia
                a(href="#") Neque porro quisquam est qui dolorem ipsum quia
                a(href="#") Neque porro quisquam est qui dolorem ipsum quia
                a(href="#") Neque porro quisquam est qui dolorem ipsum quia
                a(href="#") Neque porro quisquam est qui dolorem ipsum quia


