extends layouts/grid-fluid
block vars
    - var breadcrumbsList = ["Home", "Products", "Special products"];
    - var text = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..";
    - var fishtext = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...";

block center
    div(class="category-product-list-page")
        section(class="container")
            include partials/breadcrumbs
            article
                header
                    h1 Lorem ipsum dolorem ipsum quia dolor sit amet
                p #{ text }
                p #{ text }
            section(class="section-video")
                img(src='responsive/common/images/image_video_test.png')
            article(class="section-description")
                header
                    h2 Lorem ipsum dolorem ipsum quia dolor sit amet
                p #{ text }
                span.link-view-more
                    a(href="#", class="link-corner") Learn more
        section(class="container products-list-container")
            div(class="product-list-wrapper lazy-loading")
                div(class="products-list")
                    include partials/product-item
                    include partials/product-item
        section(class="related-series")
            div(class="container")
                h6 Related series
                .links
                    a(href="#") Neque porro quisquam est qui dolorem ipsum quia
                    a(href="#") Neque porro quisquam est qui dolorem ipsum quia
                    a(href="#") Neque porro quisquam est qui dolorem ipsum quia
                    a(href="#") Neque porro quisquam est qui dolorem ipsum quia
                    a(href="#") Neque porro quisquam est qui dolorem ipsum quia
                    a(href="#") Neque porro quisquam est qui dolorem ipsum quia


