extends layouts/grid-two-column-7-4
block vars
	- var pageTitle = "Secure Checkout";
	- var headTitleText = "b2c - Shipping Information";
	- var containerCSSClass = "checkout-shipping-information checkout-support-message-wr";
	- var pageTitleCSSClass = "icon-lock";
	- var supportMessage = true;
	- var labelCheckBox = "Save to address book";
	- var formCheckBoxId = "saveAddressId";
	- var isCheckoutShipping = true;
	- var isB2CPage = true;

	- var addAddressModalList = [];
	- addAddressModalList.push({ description: [ "Mr. Saurabh Jetly (Default)" , "402 Hidden Valley Dr.", "<address line 2>", "Edison, New Jersey", "United States 08820" ], buttonName: "Use this Address"});
	- addAddressModalList.push({ description: [ "Mr. Saurabh Jetly (Default)" , "402 Hidden Valley Dr.", "<address line 2>", "Edison, New Jersey", "United States 08820" ], buttonName: "Use this Address"});
	- addAddressModalList.push({ description: [ "Mr. Saurabh Jetly (Default)" , "402 Hidden Valley Dr.", "<address line 2>", "Edison, New Jersey", "United States 08820" ], buttonName: "Use this Address"});


block left
	+checkoutAccordion(1)
		div(class="checkout-full-width-wrap")
			div(class="checkout-accordion-content-wrap")
				div(class="checkout-shipment-list")
					div(class="checkout-content-subtitle")
						| Shipment: &lt;#&gt; Items(s)
					div(class="checkout-shipment-item")
						div(class="row")
							div(class="col-xs-12 col-sm-10")
								| 2014 FASB Update Intermediate Accounting, 15th Edition
							div(class="col-xs-12 col-sm-2")
								| Qty: 1
					div(class="checkout-shipment-item")
						div(class="row")
							div(class="col-xs-12 col-sm-10")
								| Accounting for Dummies, 5th Edition
							div(class="col-xs-12 col-sm-2")
								| Qty: 1
					div(class="checkout-shipment-item")
						div(class="row")
							div(class="col-xs-12 col-sm-10")
								| Nutrition for Foodservice and Culinary Professionals, 8th Edition
							div(class="col-xs-12 col-sm-2")
								| Qty: 1
		div(class="checkout-accordion-content-wrap")
			div(class="checkout-shipping-address")
				div(class="checkout-content-subtitle")
					| Shipping Address
				div(class="checkout-view-address-book")
					button(class="button button-main large", data-toggle="modal", data-target="#addressBookModelWnd")
						| View Address Book
			div(class="checkout-add-address-form")
				include partials/site-form

			div(class="checkout-accordion-button-next")
				button(class="button button-main large") Next Step

		+modal("addressBookModelWnd", "Address Book")
			+modalList(addAddressModalList)

block right
	include checkout/checkout-order-brief-section