extends layouts/grid-two-column-7-4
block vars
	- var pageTitle = "Secure Checkout";
	- var headTitleText = "b2c - Payment";
	- var containerCSSClass = "checkout-payment-gateway";
	- var subTitleBlock = true;
	- var isB2CPage = true;

block subTitle
	h2 Enter Credit Card Information

block left
	div(class="checkout-payment-gateway-wrap")
		div(class="payment-credit-cards")
			div(class="credit-card")
		include partials/form-payment-gateway

block right
	include checkout/checkout-order-brief-section