extends layouts/grid-fluid
block vars
    - var breadcrumbsList = ["Home", "Products", "Special products"];
    - var text = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..";
    - var fishtext = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...";

block center
    div(class="container")
        include partials/breadcrumbs
    div(class="hero-banner collection-banner")
        div.simple-responsive-banner-component.hero-banner-component
            img(class="responsive-image js-responsive-image", src="responsive/common/images/pdp-bg-web.png")
        div(class="container")
            article(class="section-description page-section")
                header.page-title
                    h1 Chemistry
                div(class="section-wrapper")

                    div(class="section-video section-left")
                    div(class="section-info section-right")
                        p #{ text }
    div(class="container")
        div(class="product-list-wrapper collection-list")
            h3(class="products-title") Accounting
            include partials/product-item-flexible
        div(class="product-list-wrapper collection-list")
            h3(class="products-title") Forensic Science
            include partials/product-item-flexible

