extends layouts/grid-two-row-col-12
block vars
	- var headTitleText = "Create Account";
	- var containerCSSClass = "create-account wrap authorization-support-message-wr";
	- var loginMainButtonTitle = "Login";
	- var hiddenBottom = true;
	- var supportMessage = true;
	- var globalAlerts = true;

block top
	include partials/form-account-create-standalone