extends layouts/grid-fluid
block vars
    - var containerCSSClass = 'dts-page';
    - var breadcrumbsList = ["Home", "Products", "Special products"];
    - var text = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..";
    - var fishtext = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...";

block center

    .container
        h1 Student Bookstore
        h2 University of Nevada Las Vegas
        section.page-section
            .content
                article(class="row")
                    div(class="col-xs-12 col-sm-5")
                        div.preview-image-wrapper
                            img(src='responsive/common/images/image_video_test.png')

                    div(class="col-xs-12 col-sm-7")
                        h3
                            | What I learned at My First Library Conference
                        p #{ fishtext }

        section(class="products-list-container")
            div(class="product-list-wrapper lazy-loading")
                div(class="products-list")
                    include partials/product-item
                    include partials/product-item