extends layouts/grid-two-column-6-6
block vars
	- var pageTitle = "Student Bookstore";
	- var containerCSSClass = "dts-page";
	- var subTitleBlock = true;
	- var fullWidthTitle = true;
	- var isfullWidthGrayH1Mobile = true;

block subTitle
	h3 University of Nevada
	p Welcome to the Direct-To-Student Website for your Engineering Thermodynamics course.
	p Your professor has negotiated directly with the publisher to facilitate the purchase of your course material.
	p(class="slim") ME 311
		br
		| Engineering Thermodynamics

block left
	div(class="product-list product-list-cart")
		- for (var x = 1; x < 4; x++)
		div(class="product-list-item")
			div(class="product-list-image")
				img(src="responsive/common/images/product-image.png", alt="product image", width="124", height="163")
			div(class="row product-list-info")
				div(class="col-xs-10 col-sm-9")
					div(class="product-list-title")
						| 2014 FASB Update Intermediate Accounting, 15th Edition
					div(class="product-list-description")
						div(class="product-list-author") Donald E. Kieso, Jerry J. Weygandt, Terry D. Warfield
						div(class="product-list-format") Format: Wiley Custom
				div(class="col-xs-2 col-sm-3")
					div(class="product-item-buttons")
						button(class="button button-remove")
				div(class="product-item-price")
					div(class="col-xs-12 col-sm-5")
						div(class="item-price")
							| Original Price:&nbsp;
							span(class="line-through") $114.12
						div(class="item-price-discounted")
							| Discounted Price: $114.12
							span (plus shipping fee where applicable)

	div(class="product-list-buttons")
		button(class="button button-main large") Add to Cart