extends layouts/grid-two-column-6-6
block vars
	- var pageTitle = "Start Free Trial";
	- var headTitleText = "Start Free Trial";
	- var containerCSSClass = "free-trial wrap";
	- var showRightCol = true;
	- var isfullWidthGrayH1Mobile = true;
	- var isFreeTrialCourse = true;

block left
	div(class="product-list wrap")
		div(class="product-list-item")
			div(class="product-list-image")
				img(src="responsive/common/images/product-image.png", alt="product image")
			div(class="row product-list-info")
				div(class="col-xs-10 col-sm-9")
					div(class="product-list-title")
						| 2014 FASB Update Intermediate Accounting, 15th Edition
					div(class="product-list-description")
						div(class="product-list-author") Donald E. Kieso, Jerry J. Weygandt, Terry D. Warfield

	include partials/form-request-trial