extends layouts/grid-two-column-7-4
block vars
	- var pageTitle = "Secure Checkout";
	- var headTitleText = "b2c - Shipping Information";
	- var containerCSSClass = "checkout-shipping-information guest-checkout checkout-support-message-wr";
	- var hideCheckbox = true;
	- var pageTitleCSSClass = "icon-lock";
	- var supportMessage = true;
	- var isCheckoutShipping = true;
	- var isB2CPage = true;

block left
	+checkoutAccordion(1)
		div(class="checkout-full-width-wrap")
			div(class="checkout-accordion-content-wrap")
				div(class="checkout-shipment-list")
					div(class="checkout-content-subtitle")
						| Shipment: &lt;#&gt; Items(s)
					div(class="checkout-shipment-item")
						div(class="row")
							div(class="col-xs-12 col-sm-10")
								| 2014 FASB Update Intermediate Accounting, 15th Edition
							div(class="col-xs-12 col-sm-2")
								| Qty: 1
					div(class="checkout-shipment-item")
						div(class="row")
							div(class="col-xs-12 col-sm-10")
								| Accounting for Dummies, 5th Edition
							div(class="col-xs-12 col-sm-2")
								| Qty: 1
					div(class="checkout-shipment-item")
						div(class="row")
							div(class="col-xs-12 col-sm-10")
								| Nutrition for Foodservice and Culinary Professionals, 8th Edition
							div(class="col-xs-12 col-sm-2")
								| Qty: 1
		div(class="checkout-accordion-content-wrap")
			div(class="checkout-shipping-address")
				div(class="checkout-content-subtitle")
					| Shipping Address
			div(class="checkout-add-address-form")
				include partials/site-form

			div(class="checkout-accordion-button-next")
				button(class="button button-main large") Next Step

block right
	include checkout/checkout-order-brief-section
