extends layouts/grid-two-column-6-6
block vars
	- var headTitleText = "b2c - Order Confirmation";
	- var containerCSSClass = "checkout-order-confirmation guest-checkout";
	- var subTitleBlock = true;
	- var isConfirmationPage = true;

block subTitle
	h2(class="icon-tick-green") Thank you for your Order!
	p Your Order Number is&nbsp;
		a(href="#") &lt;order number&gt;
	p A copy of your order details has been sent to&nbsp;
		a(href="mailto:#") &lt;recipient email address&gt;
	include partials/support-message

block left
	div(class="create-account-section")
		div(class="print-section checkout-mobile")
			a(class="icon-print" href="#")
		include partials/form-account-create
	include checkout/checkout-order-confirmation-section

block right
	div(class="print-section checkout-desktop")
		a(class="icon-print" href="#") Print