extends layouts/grid-two-column-7-4
block vars
	- var pageTitle = "Secure Checkout";
	- var headTitleText = "Guest - Checkout: Payment & Billing Address";
	- var containerCSSClass = "checkout-payment-billing-address guest-checkout checkout-support-message-wr";
	- var isCheckoutPayment = true;
	- var pageTitleCSSClass = "icon-lock";
	- var supportMessage = true;
	- var isB2CPage = true;

	- var savedCardsModalList = [];
	- savedCardsModalList.push({ title: "Saurabh Jetly", description: [ "Master" , "**********1111", "Expires 3 / 2018", "1234 Main Street", "Parker CO", "80134    US" ], buttonName: "Use this card"});
	- savedCardsModalList.push({ title: "Saurabh Jetly", description: [ "Master" , "**********1111", "Expires 3 / 2018", "1234 Main Street", "Parker CO", "80134    US" ], buttonName: "Use this card"});
	- savedCardsModalList.push({ title: "Saurabh Jetly", description: [ "Master" , "**********1111", "Expires 3 / 2018", "1234 Main Street", "Parker CO", "80134    US" ], buttonName: "Use this card"});

block left
	+checkoutAccordion(3)
		div(class="checkout-accordion-content-wrap")
			div(class="checkout-payment-buttons")
				div(class="row")
					div(class="col-xs-12 col-sm-6")
						button(class="button button-outlined icon-paypal large") Checkout with
			div(class="checkout-payment-billing-address")
				div(class="checkout-content-subtitle") Billing Address
				div(class="row")
					div(class="col-xs-12 col-sm-7")
						div(class="checkbox-component")
							input(type="checkbox", id="sameAsBilling", checked="checked")
							label(for="sameAsBilling") Same as Shipping Address
						div(class="shipping-address")
							| &lt;title&gt;&lt;first name&gt;&lt;last name&gt;
							| &lt;address1&gt;&lt;address2&gt;&lt;city&gt;&lt;state/prov.&gt;
			div(class="checkout-add-credit-card-form collapse", id="addCreditCard")
				include partials/site-form
			div(class="checkout-accordion-button-next")
				div(class="row")
					div(class="col-xs-12 col-sm-6")
						div(class="order-summary-info-link")
							a(href="javascript:void(0);") See the Order Summary area for more information.
					div(class="col-xs-12 col-sm-6 text-right")
						button(class="button button-secondary large add-another-card" ) Add another Credit Card
						div(class="checkout-payment-credit-cards")
							div(class="credit-card")

block right
	include checkout/checkout-order-brief-section