extends layouts/grid-fluid
block vars
    - var pageTitle = "Intermediate Accounting, 16th Edition";
    - var containerCSSClass = "wiley-rich-content-page";
    - var resources = ["Students", "Instructors", "Researchers", "Professionals", "Librarians", "Institutions", "Authors", "Resellers", "Corporations","Societies",  "Journalists"];
    - var subjects = ["Arts & Architecture", "Buisness & Management", "Computing", "Earth & Space Scieces", "Education", "Life Science"];
    - var text = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...";


block center
    div(class="hero-banner")
        div(class="hero-banner-component")
            .carousel-default
                .carousel-gallery
                    .carousel
                        div(class="hero-banner-carousel owl-carousel",data-component-model={
                            'items': 1,
                            nav: true,
                            dots: true,
                            animateIn: 'fadeIn',
                            animateOut: 'fadeOut',
                            smartSpeed: 1000
                        })
                            div(class="item")
                                div(class="item-inner", data-url="https://google.com")
                                    div.simple-responsive-banner-component
                                        img(class="responsive-image js-responsive-image", src="responsive/common/images/homepage-carousel.png")
                                    div(class="container")
                                        article(class="page-section")
                                            .wiley-slogan
                                                p.banner-heading-text Building
                                                .banner-heading Building a better feature
                                                p.banner-heading-text Neque porro quisquam
                                            a.link-button.transparent(href="#") Learn more
                            div(class="item")
                                div(class="item-inner", data-url="https://google.com")
                                    div.simple-responsive-banner-component
                                        img(class="responsive-image js-responsive-image", src="responsive/common/images/pdp-bg-web.png")
                                    div(class="container")
                                        article(class="page-section")
                                            .wiley-slogan
                                                p Building
                                                h1 Building a better feature
                                                p Neque porro quisquam
                                            a.link-button.transparent(href="#") Learn more

    div(class="container-fluid gray-bg teal-border")
        div(class="container")
            div(class="description-component component-wrapper")
                div
                    h1.description-component-title For over 200 years we have been helping peaople and organazing develop the skills and knowledge they need to success
                    .description-component-text
                        p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                a(href="#", title="Learn more about us", class="link-button" style="color: white; background: teal") Learn more about us

    div(class="container")
        div(class="who-we-serve-component component-wrapper")
            header.page-title
                h2 Who we serve
            div(class="row who-we-serve-blocks")
                each resource in resources
                    .col-sm-2.col-xs-6.who-we-serve-block
                        .yCmsComponent
                            .simple-responsive-banner-component
                                img(src="responsive/common/images/Students.png" alt='#{resource}')
                        .yCmsComponent
                            a.who-we-serve-block-title(href='#', title='#{resource}') #{resource}

    <!-- wierd markup for hubris components-->
    div(class="container")
        div(class="subjects-component component-wrapper")
            header.page-title
                h2 Shop by Subject
        .subjects-component.component-wrapper
            .container-fluid
                .row.subjects-blocks
                    .col-sm-9.col-xs-12.row
                        .yCmsComponent
                            .content.cke-content
                                .col-sm-4.col-xs-12
                                    a.subjects-block(href='#')
                                        img(src="responsive/common/images/subjects-architecture-icon.png")
                                        h3.subjects-block-title(href='#', title='Arts & Architecture') Arts & Architecture
                        .yCmsComponent
                            .content.cke-content
                                .col-sm-4.col-xs-12
                                    a.subjects-block(href='#')
                                        img(src='https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/242ce817-97a3-48fe-9acd-b1bf97930b01/09-posterization-opt.jpg', width='24px', height='24px')
                                        h3.subjects-block-title(href='#', title='Buisiness & Management') Buisness & Management
                        .yCmsComponent
                            .content.cke-content
                        .yCmsComponent
                            .content.cke-content
                                .col-sm-4.col-xs-12
                                    a.subjects-block(href='#')
                                        img(src='https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/242ce817-97a3-48fe-9acd-b1bf97930b01/09-posterization-opt.jpg', width='24px', height='24px')
                                        h3.subjects-block-title(href='#', title='Earth & Space Science') Earth & Space Science
                        .yCmsComponent
                            .content.cke-content
                                .col-sm-4.col-xs-12
                                    a.subjects-block(href='#')
                                        img(src='https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/242ce817-97a3-48fe-9acd-b1bf97930b01/09-posterization-opt.jpg', width='24px', height='24px')
                                        h3.subjects-block-title(href='#', title='Earth & Space Science') Earth & Space Science
                        .yCmsComponent
                            .content.cke-content
                                .col-sm-4.col-xs-12
                                    a.subjects-block(href='#')
                                        img(src='https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/242ce817-97a3-48fe-9acd-b1bf97930b01/09-posterization-opt.jpg', width='24px', height='24px')
                                        h3.subjects-block-title(href='#', title='Earth & Space Science') Earth & Space Science
                    .col-sm-3.col-xs-12.row
                        .yCmsComponent
                            .content.cke-content
                                .col-sm-12.col-xs-12
                                    a.subjects-block-button(href='#') Explorer all subjects

    div(class="container")
        div(class="building-future-component component-wrapper")
            header.page-title
                h2 Building a better future
            div(class="row")
                .col-sm-4.col-xs-12.who-we-serve-block
                    .yCmsComponent
                        .simple-responsive-banner-component
                            img(src="responsive/common/images/building-future.png" alt='Building better future')
                .col-sm-4.col-xs-12.who-we-serve-block
                    .yCmsComponent
                        .simple-responsive-banner-component
                            img(src="responsive/common/images/building-future2.png" alt='Building better future')
                .col-sm-4.col-xs-12.who-we-serve-block
                    .yCmsComponent
                        .simple-responsive-banner-component
                            img(src="responsive/common/images/building-future3.png" alt='Building better future')

    div(class="container-fluid green-bg")
        div(class="container special-and-news-block-wrapper")
            div(class="special-and-news-block")
                div(class="sub-title icon-flag") Specials
                article(class="section-description")
                    div.section-content
                        h3.title 2016 Nobel Prize
                        span(class="subtitle") Author
                        span(class="date") November
                        div.line-separator
                        div(class="section-info")
                            p #{ text }
            a.link-button(style="color: green;") Read all
        div.stroke-line-separator
        div(class="container special-and-news-block-wrapper")
            div(class="special-and-news-block")
                div(class="sub-title icon-flag") News
                article(class="section-description")
                    div.section-content
                        h3.title News
                        span(class="subtitle") Author
                        span(class="date") November
                        div.line-separator
                        div(class="section-info")
                            p #{ text }
                    div(class="float-image")
                        img(src="responsive/common/images/avatar.png")
            a.link-button(style="color: green;") Read all


    div(class="hero-banner collection-banner")
        div.simple-responsive-banner-component
            img(class="responsive-image js-responsive-image", src="responsive/common/images/pdp-bg-web.png")
        div(class="container wiley-careers")
            article(class="page-section right-block")
                span.under-title Explore wiley opprotunities
                h3.title Explore wiley opprotunities
                p #{text}
                a.link-button.transparent(href="#") Learn more
    div(class="container-fluid")
        div(class="container proudly-publishing")
            article(class="page-section")
                h3.title Proudly Publishing
                div.simple-responsive-banner-component
                    img(class="responsive-image js-responsive-image", src="responsive/common/images/pdp-bg-web.png")
                div.block-bottom
                    div.count
                        span.count-number 1,500
                        span.count-title journals
                    a.link-button(style="background-color: yellow; border-color: yellow; color: white;") Learn more

    div(class="container-fluid teal-bg")
        div(class="container special-and-news-block-wrapper")
            div(class="special-and-news-block")
                div(class="sub-title icon-bulb") Product strategy
                article(class="section-description")
                    div.section-content
                        h3.title 2016 Nobel Prize
                        div(class="section-info")
                            p #{ text }
            a.link-button(style="color: teal;") Learn more
            div.simple-responsive-banner-component
                img(class="responsive-image js-responsive-image", src="responsive/common/images/pdp-bg-web.png")


link(rel="stylesheet",type="text/css",href="../../theme.css")


