extends layouts/grid-two-column-6-6
block vars
	- var headTitleText = "b2c - Log in";
	- var containerCSSClass = "log-in wrap authorization-support-message-wr";
	- var loginMainButtonTitle = "Login and Checkout";
	- var supportMessage = true;
	- var nonLoggedIn = true;

block left
	div(class="row")
		div(class="col-xs-12 col-sm-8 col-sm-offset-4 wrap")
			include partials/form-login

block right
	div(class="row")
		div(class="col-xs-12 col-sm-8")
			include partials/form-login-register