extends layouts/grid-two-row-col-12
block vars
	- var containerCSSClass = "returning-user wrap authorization-support-message-wr";
	- var loginMainButtonTitle = "Login";
	- var hiddenBottom = true;
	- var supportMessage = true;

block top
	include partials/form-login