extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Manage Subscriptions";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account subscriptions wrap my-account-support-message-wr";
	- var supportMessage = true;
	- var isfullWidthGrayH1Mobile = true;
	- var navItem = "Manage Subscriptions";

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

block left
	+sideBarNavigation(sideBarList)
block right
	div(class="product-list subscription-product-list my-account-wrap wrap")
		- for (var x = 1; x < 4; x++)
			div(class="product-list-item")
				div(class="row")
					div(class="col-xs-12 col-sm-9")
						div(class="product-list-image")
							img(src="responsive/common/images/product-image.png", alt="product image")
						div(class="product-list-info")
							div(class="product-list-title")
								| 2014 FASB Update Intermediate Accounting, 15th Edition
							div(class="product-list-description")
								include my-account/partials/product-description
					div(class="col-xs-12 col-sm-3 text-right")
						div(class="my-account-button-small")
							button(class="button button-main large")
								| Manage
	div(class="row")
		div(class="col-sm-12")
			include partials/pagination
