extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "My Digital Products";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account digital-products wrap";
	- var isfullWidthGrayH1Mobile = true;
	- var isH1LeftBlock = true;
	- var navItem = "My Digital Products";

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

block left
	+sideBarNavigation(sideBarList)

block h1LeftBlock
	div(class="top-pagination")
		include partials/pagination

block right
	div(class="product-list subscription-product-list my-account-wrap wrap")
		- for (var x = 1; x < 4; x++)
			div(class="product-list-item")
				div(class="row")
					div(class="col-xs-12 col-sm-9")
						div(class="product-list-image")
							img(src="responsive/common/images/product-image.png", alt="product image")
						div(class="product-list-info")
							div(class="product-list-title")
								| Social Movements for Good:
								br
								| How Companies and Causes Create Viral Change
							div(class="product-list-description")
								| Product ID: &lt;product id&gt;
								br
								| Purchased: Jan 18, 2016
					div(class="col-xs-12 col-sm-3 text-right")
						div(class="my-account-button-small")
							button(class="button button-outlined large")
								| Access Now

		- for (var x = 1; x < 4; x++)
			div(class="product-list-item")
				div(class="row")
					div(class="col-xs-12 col-sm-9")
						div(class="product-list-image")
							img(src="responsive/common/images/product-image.png", alt="product image")
						div(class="product-list-info")
							div(class="product-list-title")
								| Social Movements for Good:
								br
								| How Companies and Causes Create Viral Change
							div(class="product-list-description")
								| Product ID: &lt;product id&gt;
								br
								| Purchased: Jan 18, 2016

					div(class="col-xs-12 col-sm-3 text-right")
						div(class="my-account-button-small")
							button(class="button button-outlined icon-download-dark-teal large")
								| Download

	div(class="row")
		div(class="col-sm-12")
			include partials/pagination
