extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Edit Billing Address";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account billing-address my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var isfullWidthGrayH1Mobile = true;
	- var navItem = "Payment Details";

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

block left
	+sideBarNavigation(sideBarList)

block right
	div(class="my-account-wrap")
		div(class="row")
			div(class="col-xs-12 col-sm-4")
				div(class="site-form")
					form
						div(class="form-cell")
							div(class="form-label required")
								label(for="country")
									| Country
							div(class="form-field select-component select-form-element", data-banner="usa")
								select(id="country")
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada

						div(class="form-cell")
							div(class="form-label required")
								label(for="title")
									| Title
							div(class="form-field select-component select-form-element")
								select(id="title")
									option
										| Title1
									option
										| Title2
						div(class="form-cell")
							div(class="form-label required")
								label(for="first-name")
									| First Name
							div(class="form-field")
								input(type="text", id="first-name", placeholder="<first Name>")
						div(class="form-cell")
							div(class="form-label required")
								label(for="last-name")
									| Last Name
							div(class="form-field")
								input(type="text", id="last-name", placeholder="<last Name>")
						div(class="form-cell")
							div(class="form-label required")
								label(for="address-line1")
									| Address Line 1
							div(class="form-field")
								input(type="text", id="address-line1", placeholder="<address line 1>")
						div(class="form-cell")
							div(class="form-label required")
								label(for="address-line2")
									| Address Line 2 (optional)
							div(class="form-field")
								input(type="text", id="address-line2", placeholder="<address line 2>")
						div(class="form-cell")
							div(class="form-label required")
								label(for="city")
									| City
							div(class="form-field")
								input(type="text", id="city", placeholder="<city>")
						div(class="row")
							div(class="col-xs-6 col-sm-6")
								div(class="form-cell")
									div(class="form-label required")
										label(for="state-province")
											| State / Province
									div(class="form-field select-component select-form-element")
										select(id="state-province")
											option
												| State / Province1
											option
												| State / Province2
							div(class="col-xs-6 col-sm-6")
								div(class="form-cell")
									div(class="form-label required")
										label(for="zip-postal-code")
											| Zip / Postal Code
									div(class="form-field")
										input(type="text", id="zip-postal-code", placeholder="<zip / postal code>")

						div(class="my-account-button-wrap")
							div(class="row")
								div(class="col-xs-12 col-sm-6")
									button(class="button button-main large")
										| Save
								div(class="col-xs-12 col-sm-6")
									button(class="button button-main large button-outlined")
										| Cancel