extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Manage Subscriptions";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account manage-subscriptions my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var titleTools = true;
	- var isfullWidthGrayH1Mobile = true;
	- var navItem = "Manage Subscriptions";
	- var isH1LeftBlock = true;

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

	- var savedCardsModalList = [];
	- savedCardsModalList.push({ title: "Saurabh Jetly", description: [ "Master" , "**********1111", "Expires 3 / 2018", "1234 Main Street", "Parker CO", "80134    US" ], buttonName: "Use this card"});
	- savedCardsModalList.push({ title: "Saurabh Jetly", description: [ "Master" , "**********1111", "Expires 3 / 2018", "1234 Main Street", "Parker CO", "80134    US" ], buttonName: "Use this card"});
	- savedCardsModalList.push({ title: "Saurabh Jetly", description: [ "Master" , "**********1111", "Expires 3 / 2018", "1234 Main Street", "Parker CO", "80134    US" ], buttonName: "Use this card"});

	- var addAddressModalList = [];
	- addAddressModalList.push({ description: [ "Mr. Saurabh Jetly (Default)" , "402 Hidden Valley Dr.", "<address line 2>", "Edison, New Jersey", "United States 08820" ], buttonName: "Use this Address"});
	- addAddressModalList.push({ description: [ "Mr. Saurabh Jetly (Default)" , "402 Hidden Valley Dr.", "<address line 2>", "Edison, New Jersey", "United States 08820" ], buttonName: "Use this Address"});
	- addAddressModalList.push({ description: [ "Mr. Saurabh Jetly (Default)" , "402 Hidden Valley Dr.", "<address line 2>", "Edison, New Jersey", "United States 08820" ], buttonName: "Use this Address"});

	- var upgradeOptions = [];
	- var modalTitle = "<Product name>";
	- upgradeOptions.push({ description: [ "Price: <$price/Monthly>", "Billing Frequency: <Monthly>", "Contract Duration: <1 Year(s)>" ], currentSubscription: "Current Subscription"});
	- upgradeOptions.push({ description: [ "Price: <$price/Monthly>", "Billing Frequency: <Monthly>", "Contract Duration: <1 Year(s)>" ], buttonName: "Add Upgrade"});
	- upgradeOptions.push({ description: [ "Price: <$price/Monthly>", "Billing Frequency: <Monthly>", "Contract Duration: <1 Year(s)>" ], buttonName: "Add Upgrade"});
	- upgradeOptions.push({ description: [ "Price: <$price/Monthly>", "Billing Frequency: <Monthly>", "Contract Duration: <1 Year(s)>" ], buttonName: "Add Upgrade"});

block left
	+sideBarNavigation(sideBarList)

block h1LeftBlock
	div(class="title-tools text-right")
		a(href="#") Return to Subscriptions

block right
	div(class="my-account-wrap")
		div(class="plan-name")
			div(class="row")
				div(class="col-sm-12")
					h3 Subscription Plan Name &gt;
					p Subscription Plan Details  -  Frequency &gt;
		div(class="row")
			div(class="col-xs-12 col-sm-5")
				div(class="subscription-details")
					div(class="row")
						div(class="col-sm-12")
							h3 Subscription Details
					div(class="row")
						div(class="col-xs-6 col-sm-6")
							| Price:
						div(class="col-xs-6 col-sm-6")
							| &lt;$price/Monthly&gt;
					div(class="row")
						div(class="col-xs-6 col-sm-6")
							| Contract Duration:
						div(class="col-xs-6 col-sm-6")
							| &lt;$####.##&gt;
			div(class="col-xs-12 col-sm-5 col-sm-offset-2")
				div(class="subscription-status")
					div(class="row")
						div(class="col-sm-12")
							h3 Manage Subscriptions
					div(class="row")
						div(class="col-xs-3 col-sm-6")
							| Status:
						div(class="col-xs-9 col-sm-6 text-right")
							| &lt;status&gt;
					div(class="row")
						div(class="col-sm-12")
							div(class="enrolled-in-school checkbox-component")
								input(type="checkbox", id="enrolledInSchool")
								label(for="enrolledInSchool") Auto-renewal
					div(class="row")
						div(class="col-xs-6 col-sm-6")
							| Service End Date:
						div(class="col-xs-6 col-sm-6 text-right")
							| &lt;service end date&gt;
					div(class="row")
						div(class="col-xs-12 col-sm-9 extend-subscription")
							| Extend Subscription by <12 Month>
						div(class="col-xs-12 col-sm-3")
							div(class="my-account-button-small")
								button(class="button button-main large", data-toggle="modal", data-target="#upgradeOptionsWnd") Upgrade options
					div(class="row")
						div(class="col-xs-3 col-sm-3 payment")
							div(class="bold")
								| Payment:
						div(class="col-xs-9 col-sm-6 payment")
							| CC**********1234
						div(class="col-xs-12 col-sm-3")
							div(class="my-account-button-small")
								button(class="button button-main large", data-toggle="modal", data-target="#savedCardModelWnd") Update
					div(class="row")
						div(class="col-xs-3 col-sm-3 shipping")
							div(class="bold")
								| Ship to:
						div(class="col-xs-9 col-sm-6 shipping")
							| Mr. Isaac Gerber
							br
							| 1111 River street
							br
							| Hoboken, NJ 07030-5774
						div(class="col-xs-12 col-sm-3")
							div(class="my-account-button-small")
								button(class="button button-main large", data-toggle="modal", data-target="#addressBookModelWnd") Update
				div(class="subscription-activity")
					div(class="row")
						div(class="col-xs-3 col-sm-6")
							h3 Activity
						div(class="col-xs-9 col-sm-6 text-right")
							div(class="order-number")
								| Oder Number: &nbsp;
								a(href="#") &lt;order number&gt;
					div(class="row")
						div(class="col-sm-12")
							div(class="billing-activity")
								a(href="#") View Billing Activity
					div(class="row")
						div(class="col-xs-6 col-sm-6")
							| Service Start Date:
						div(class="col-xs-6 col-sm-6 text-right")
							| &lt;ServiceStartDate&gt;
					div(class="row")
						div(class="col-xs-6 col-sm-6")
							| Ordered:
						div(class="col-xs-6 col-sm-6 text-right")
							| &lt;OrderDate&gt;
	+modal("savedCardModelWnd", "Saved Cards")
		+modalList(savedCardsModalList)
	+modal("addressBookModelWnd", "Address Book")
		+modalList(addAddressModalList)
	+modal("upgradeOptionsWnd", "Upgrade Options")
		+modalList(upgradeOptions)