extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Add a Credit Card";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account wpg my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var navItem = "Payment Details";
	- var isfullWidthGrayH1Mobile = true;

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

block left
	+sideBarNavigation(sideBarList)

block right
	div(class="my-account-wrap")
		div(class="row")
			div(class="col-xs-12 col-sm-6")
				div(class="wpg-payment")
					include partials/wpg-payment-iframe
