extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Address Book";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account address-book my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var isfullWidthGrayH1Mobile = true;
	- var navItem = "Address Book";

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];
		
block left
	+sideBarNavigation(sideBarList)
block right
	div(class="simple-list my-account-wrap")
		div(class="wrap-inner-bordered")
			div(class="row")
				div(class="col-xs-12 col-sm-12")
					a(class="button button-main large", href="")
						| Add Address
		div(class="wrap-inner-bordered")
			div(class="row")
				div(class="col-xs-12 col-sm-8")
					div(class="simple-list-text")
						p Mr. Saurabh Jetly (Default)
						p 402 Hidden Valley Dr.
						p Edison, New Jersey
						p United States 08820
				div(class="col-xs-12 col-sm-4 text-right")
					button(class="button button-edit", aria-label="Edit Billing Address")
					button(class="button button-remove", data-toggle="modal", data-target="#deleteAddress", aria-label="Delete Payment")
		div(class="wrap-inner-bordered")
			div(class="row")
				div(class="col-xs-12 col-sm-8")
					div(class="simple-list-text")
						p Mr. Saurabh Jetly
						p 111 River St.
						p Hoboken, New Jersey
						p United States 07030
				div(class="col-xs-12 col-sm-4 text-right")
					div(class="row")
						div(class="col-xs-8 col-sm-8")
							div(class="my-account-button-small")
								button(class="button button-outlined large")
									| Set As Default
						div(class="col-xs-4 col-sm-4")
							button(class="button button-edit", aria-label="Edit Billing Address")
							button(class="button button-remove", data-toggle="modal", data-target="#deleteAddress", aria-label="Delete Payment")

		+modal("deleteAddress", "Delete Address", "deleteAddress")
			div(class="modal-wnd-content")
				p The following address will be deleted
			div(class="modal-wnd-list bold")
				div(class="modal-wnd-list-item")
					div
						p Mr. Saurabh Jetly
						p 402 Hidden Valley Dr.
						p Edison, New Jersey
						p United States 08820
				div(class="modal-button-wrap")
					div(class="row")
						div(class="col-xs-12 col-sm-4 col-sm-offset-4")
							button(class="button button-main medium")
								| Delete
						div(class="col-xs-12 col-sm-4")
							button(class="button button-outlined medium", data-dismiss="modal", aria-label="Close")
								| Cancel
