extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Order Details";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var isfullWidthGrayH1Mobile = true;
	- var isH1LeftBlock = true;
	- var navItem = "Order History";

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

block left
	+sideBarNavigation(sideBarList)

block h1LeftBlock
	div(class="top-icons text-right" role="links")
		a(class="icon-email", href="#", title="Send an e-mail", aria-label="send an e-mail")
			| &nbsp;
		a(class="icon-print2", href="#", title="Print", aria-label="print")
			| &nbsp;

block right
	div(class="my-account-wrap order-details")
		div(class="order-details-top")
			div(class="row")
				div(class="col-xs-12 col-sm-5")
					div(class="order-details")
						div(class="order-number")
							div(class="row")
								div(class="col-xs-6 col-sm-6")
									| Order Number:
								div(class="col-xs-6 col-sm-6")
									| <#########>
						div(class="row")
							div(class="col-xs-6 col-sm-6")
								| Placed on:
							div(class="col-xs-6 col-sm-6")
								| 8/15/14 11:36 AM
						div(class="row")
							div(class="col-xs-6 col-sm-6")
								| Order Status:
							div(class="col-xs-6 col-sm-6")
								| Status
				div(class="col-xs-12 col-sm-5 col-sm-offset-2")
					div(class="order-details-total")
						div(class="row")
							div(class="col-xs-6 col-sm-6")
								| Subtotal:
							div(class="col-xs-6 col-sm-6")
								| <$####.##>
						div(class="row")
							div(class="col-xs-6 col-sm-6")
								| Savings:
							div(class="col-xs-6 col-sm-6")
								| <$####.##>
						div(class="row")
							div(class="col-xs-6 col-sm-6")
								| Delivery:
							div(class="col-xs-6 col-sm-6")
								| <$####.##>
						div(class="row")
							div(class="col-xs-6 col-sm-6")
								| Tax:
							div(class="col-xs-6 col-sm-6")
								| <$####.##>
						div(class="order-details-total-sum")
							div(class="row")
								div(class="col-xs-6 col-sm-6")
									| Total:
								div(class="col-xs-6 col-sm-6")
									| <$####.##>

		div(class="order-details-add-info")
			div(class="row")
				div(class="col-xs-12 col-sm-11 col-sm-offset-1")
					div(class="row")
						div(class="col-xs-12 col-sm-3")
							div(class="add-info-title")
								| Delivery Address
							div(class="add-info-description")
								p 111 River St.
								p Hoboken, New Jersey
								p United States 07030

						div(class="col-xs-12 col-sm-3")
							div(class="add-info-title")
								p Delivery Method
							div(class="add-info-description")
								p FEDEX Express Saver
								p 3 day $13.99

						div(class="col-xs-12 col-sm-3")
							div(class="add-info-title")
								| Payment Details
							div(class="add-info-description")
								p Visa
								p **** **** **** 1234
								p Exp 11/16

						div(class="col-xs-12 col-sm-3")
							div(class="add-info-title")
								| Billing Address
							div(class="add-info-description")
								p Visa
								p **** **** **** 1234
								p Exp 11/16

		div(class="items-shipped-list")

			div(class="items-shipped-item")
				div(class="items-shipped")
					span(class="icon-check")
						| &nbsp;
					label(for="itemsShipped")
						| All 8 items shipped
				div(class="product-list order-details-product-list")
					- for (var a = 1; a < 4; a++)
						div(class="product-list-item")
							div(class="row")
								div(class="col-xs-12 col-sm-11 col-sm-offset-1")
									div(class="product-list-image")
										img(src="responsive/common/images/product-image.png", alt="product image")
									div(class="product-list-info")
										div(class="product-list-title")
											| 2014 FASB Update Intermediate Accounting, 15th Edition
										div(class="product-list-description")
											div(class="row purchase-info")
												div(class="col-xs-12 col-sm-6")
													p
														| &lt;Author Name Goes Here&gt;
													p
														| Product ID: &lt; Product Id &gt;
												div(class="col-xs-12 col-sm-6")
													p
														| Unit Price: &lt;$price&gt;
													p
														| Quantity: &lt;quantity&gt;
													p
														| Total: &lt;$total&gt;

				div(class="tracking-numbers")
					div(class="row")
						div(class="col-xs-12 col-sm-11 col-sm-offset-1")
							div(class="tracking-numbers-title")
								| Tracking Numbers
							div(class="tracking-numbers-list")
								div(class="row")
									div(class="col-xs-12 col-sm-6")
										| 3 items shipped on 02/02/2016
									div(class="col-xs-12 col-sm-6") Tracking No. &nbsp;
										a(href="#") 1234566788
								div(class="row")
									div(class="col-xs-12 col-sm-6")
										| 3 items shipped on 02/02/2016
									div(class="col-xs-12 col-sm-6") Tracking No. &nbsp;
										a(href="#") 1234566788
								div(class="row")
									div(class="col-xs-12 col-sm-6")
										| 3 items shipped on 02/02/2016
									div(class="col-xs-12 col-sm-6") Tracking No. &nbsp;
										a(href="#") 1234566788

			div(class="items-shipped-item")
				div(class="items-shipped")
					span(class="icon-error")
						| &nbsp;
					label(for="itemsShipped")
						| 0 of 2 items shipped
				div(class="product-list order-details-product-list")
					- for (var b = 1; b < 4; b++)
						div(class="product-list-item")
							div(class="row")
								div(class="col-xs-12 col-sm-11 col-sm-offset-1")
									div(class="product-list-image")
										img(src="responsive/common/images/product-image.png", alt="product image")
									div(class="product-list-info")
										div(class="product-list-title")
											| 2014 FASB Update Intermediate Accounting, 15th Edition
										div(class="product-list-description")
											div(class="row purchase-info")
												div(class="col-xs-12 col-sm-6")
													p
														| &lt;Author Name Goes Here&gt;
													p
														| &lt;$Price&gt;
												div(class="col-xs-12 col-sm-6")
													p
														| Unit Price: &lt;$price&gt;
													p
														| Quantity: &lt;quantity&gt;
													p
														| Total: &lt;$total&gt;

			div(class="items-shipped-item")
				div(class="items-shipped")
					span(class="icon-digital")
						| &nbsp;
					label(for="itemsShipped")
						| Your digital product
				div(class="product-list order-details-product-list")
					- for (var c = 1; c < 4; c++)
						div(class="product-list-item")
							div(class="row")
								div(class="col-xs-12 col-sm-11 col-sm-offset-1")
									div(class="product-list-image")
										img(src="responsive/common/images/product-image.png", alt="product image")
									div(class="product-list-info")
										div(class="product-list-title")
											| 2014 FASB Update Intermediate Accounting, 15th Edition
										div(class="product-list-description")
											div(class="row purchase-info")
												div(class="col-xs-12 col-sm-6")
													p
														| &lt;Author Name Goes Here&gt;
													p
														| &lt;$Price&gt;
												div(class="col-xs-12 col-sm-6")
													p
														| Expires on June 18, 2016
													p
														| Total: &lt;$total&gt;