extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Payment Details";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account payment-details my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var isfullWidthGrayH1Mobile = true;
	- var navItem = "Payment Details";

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

block left
	+sideBarNavigation(sideBarList)
block right
	div(class="simple-list my-account-wrap")
		div(class="simple-list-item")
			button(class="button button-main large")
				| Add a Credit Card
		div(class="wrap-inner-bordered")
			div(class="row")
				div(class="col-xs-12 col-sm-8")
					div(class="simple-list-text")
						p Mr. Saurabh Jetly (Default)
						p Visa
						p ************1111
						p 01/2018
						p 402 Hidden Valley Dr.
						p Edison, New Jersey
						p United States 08820
				div(class="col-xs-12 col-sm-4 text-right")
					button(class="button button-remove", data-toggle="modal", data-target="#deletePayment", aria-label="Delete Payment")
		div(class="simple-list-item")
			div(class="row")
				div(class="col-xs-12 col-sm-8")
					div(class="simple-list-text")
						p Mr. Saurabh Jetly (Default)
						p Visa
						p ************1111
						p 01/2018
						p 402 Hidden Valley Dr.
						p Edison, New Jersey
						p United States 08820
				div(class="col-xs-12 col-sm-4 text-right")
					div(class="row")
						div(class="col-xs-10 col-sm-10")
							div(class="my-account-button-small")
								button(class="button button-outlined large")
									| Set As Default
						div(class="col-xs-2 col-sm-2")
							button(class="button button-remove", data-toggle="modal", data-target="#deletePayment", aria-label="Delete Payment")

		+modal("deletePayment", "Delete Payment", "deletePayment")
			div(class="modal-wnd-content")
				p The following payment method will be deleted

			div(class="modal-wnd-list bold")
				div(class="modal-wnd-list-item")
					div
						p Mr. Saurabh Jetly (Default)
						p Visa
						p ************1111
						p 01/2018
						p 402 Hidden Valley Dr.
						p Edison, New Jersey
						p United States 08820
				div(class="modal-button-wrap")
					div(class="row")
						div(class="col-xs-12 col-sm-4 col-sm-offset-4")
							button(class="button button-main medium")
								| Delete
						div(class="col-xs-12 col-sm-4")
							button(class="button button-outlined medium", data-dismiss="modal", aria-label="Close")
								| Cancel
