extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Update Email";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account update-email my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var isfullWidthGrayH1Mobile = true;
	- var navItem = "Update Email";

block left
	include partials/sitebar-nav
block right
	div(class="my-account-wrap")
		div(class="row")
			div(class="col-xs-12 col-sm-4")
				div(class="site-form")
					form
						div(class="form-cell")
							div(class="form-label required")
								label(for="new-email-address")
									| New Email Address
							div(class="form-field")
								input(type="text", id="new-email-address", placeholder="<new email address>")
						div(class="form-cell")
							div(class="form-label required")
								label(for="confirm-new-email-address")
									| Confirm New Email Address
							div(class="form-field")
								input(type="text", id="confirm-new-email-address", placeholder="<confirm new email address>")
						div(class="form-cell")
							div(class="form-label required")
								label(for="password")
									| Password
							div(class="form-field")
								input(type="password", id="password", autocomplete="off", placeholder="<password>")
						div(class="my-account-button-wrap")
							div(class="row")
								div(class="col-xs-12 col-sm-6")
									button(class="button button-main large")
										| Continue
								div(class="col-xs-12 col-sm-6")
									button(class="button button-outlined large")
										| Cancel
