extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Update Password";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account update-password my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var isfullWidthGrayH1Mobile = true;
	- var navItem = "Update Password";

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

block left
	+sideBarNavigation(sideBarList)
block right
	div(class="my-account-wrap")
		div(class="row")
			div(class="col-xs-12 col-sm-4")
				div(class="site-form")
					form
						div(class="form-cell")
							div(class="form-label required")
								label(for="new-email-address")
									| Current Password
							div(class="form-field")
								input(type="password", id="current-password", autocomplete="off", placeholder="<current password>")
						div(class="form-cell")
							div(class="form-label required")
								label(for="confirm-new-email-address")
									| New Password
							div(class="form-field")
								input(type="password", id="new-password", autocomplete="off", placeholder="<new password>")
						div(class="form-cell")
							div(class="form-label required")
								label(for="password")
									| Confirm New Password
							div(class="form-field")
								input(type="password", id="confirm-new-password", autocomplete="off", placeholder="<confirm new password>")

						div(class="my-account-button-wrap")
							div(class="row")
								div(class="col-xs-12 col-sm-6")
									button(class="button button-main large")
										| Continue
								div(class="col-xs-12 col-sm-6")
									button(class="button button-outlined large")
										| Cancel
