extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Subscription Billing Activity";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account manage-subscriptions billing-activity my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var titleTools = true;
	- var isfullWidthGrayH1Mobile = true;
	- var navItem = "Manage Subscriptions";
	- var isH1LeftBlock = true;
	- var noBillingActivity = true;

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

block left
	+sideBarNavigation(sideBarList)

block h1LeftBlock
	div(class="title-tools text-right")
		a(href="#") Return to Subscriptions

block right
	div(class="my-account-wrap")
		div(class="row")
			div(class="col-xs-12")
				div(class="plan-name")
					h3 Subscription Plan Name &gt;
					p Subscription Plan Details  -  Frequency &gt;
		
		if noBillingActivity
			div(class="row")
				div(class="col-xs-12")
					p(class="no-billing-found") No Billing Activity found
		else
			div(class="row")
				div(class="col-xs-12")
					div(class="common-table")
						div(class="thead hidden-xs")
							div(class="row")
								div(class="col-sm-3")
									| Billing Date
								div(class="col-sm-3")
									| Payment Amount
								div(class="col-sm-3")
									| Payment Status
								div(class="col-sm-3")
									| Payment Details
						div(class="tbody")
							- for (var x = 1; x < 9; x++)
								div(class="item")
									div(class="row")
										div(class="col-xs-12 col-sm-3")
											div(class="row")
												div(class="col-xs-6 thead visible-xs")
													| Billing Date
												div(class="col-xs-6 col-sm-12")
													| 11/11/2016
										div(class="col-xs-12 col-sm-3")
											div(class="row")
												div(class="col-xs-6 thead visible-xs")
													| Payment Amount
												div(class="col-xs-6 col-sm-12")
													| $15.00
										div(class="col-xs-12 col-sm-3")
											div(class="row")
												div(class="col-xs-6 thead visible-xs")
													| Payment Status
												div(class="col-xs-6 col-sm-12")
													| Paid
										div(class="col-xs-12 col-sm-3")
											div(class="row")
												div(class="col-xs-6 thead visible-xs")
													| Payment Details
												div(class="col-xs-6 col-sm-12")
													| PayPal
			div(class="row")
				div(class="col-xs-12")
					include partials/pagination