extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Add a Credit Card";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account add-card my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var navItem = "Payment Details";
	- var labelCheckBox = "Make this payment card my default";
	- var formCheckBoxId = "saveAddressId";
	- var isfullWidthGrayH1Mobile = true;

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

block left
	+sideBarNavigation(sideBarList)

block right
	div(class="my-account-wrap")
		div(class="row")
			div(class="col-xs-12 col-sm-4")
				div(class="site-form")
					form
						div(class="form-cell")
							div(class="form-label required")
								label(for="country")
									| Country
							div(class="form-field select-component select-form-element", data-banner="usa")
								select(id="country")
									option
										| &nbsp;
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada


						div(class="form-elements-wrap hidden")
							div(class="form-cell")
								div(class="form-label required")
									label(for="title")
										| Title
								div(class="form-field select-component select-form-element")
									select(id="title")
										option
											| Title1
										option
											| Title2
							div(class="form-cell")
								div(class="form-label required")
									label(for="first-name")
										| First Name
								div(class="form-field")
									input(type="text", id="first-name", placeholder="<first Name>")
							div(class="form-cell")
								div(class="form-label required")
									label(for="last-name")
										| Last Name
								div(class="form-field")
									input(type="text", id="last-name", placeholder="<last Name>")
							div(class="form-cell")
								div(class="form-label required")
									label(for="address-line1")
										| Address Line 1
								div(class="form-field")
									input(type="text", id="address-line1", placeholder="<address>")
							div(class="form-cell")
								div(class="form-label required")
									label(for="address-line2")
										| Address Line 2 (optional)
								div(class="form-field")
									input(type="text", id="address-line2")
							div(class="form-cell")
								div(class="form-label required")
									label(for="city")
										| City
								div(class="form-field")
									input(type="text", id="city", placeholder="<city>")
							div(class="row")
								div(class="col-xs-6 col-sm-6")
									div(class="form-cell")
										div(class="form-label required")
											label(for="state-province")
												| State / Province
										div(class="form-field select-component select-form-element")
											select(id="state-province")
												option
													| State / Province1
												option
													| State / Province2
								div(class="col-xs-6 col-sm-6")
									div(class="form-cell")
										div(class="form-label required")
											label(for="zip-postal-code")
												| Zip / Postal Code
										div(class="form-field")
											input(type="text", id="zip-postal-code", placeholder="<Zip / Postal Code>")

						div(class="form-cell")
							div(class="form-field checkbox-component save-to-address-book")
								input(type="checkbox", id=formCheckBoxId)
								label(for=formCheckBoxId)
									=labelCheckBox

						div(class="my-account-button-wrap")
							div(class="row")
								div(class="col-xs-12 col-sm-6")
									button(class="button button-main large")
										| Continue
								div(class="col-xs-12 col-sm-6")
									button(class="button button-outlined large")
										| Cancel
