extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "< Username >";
	- var headTitleText = "b2b - " + "Manage Users";
	- var containerCSSClass = "my-company manage-user wrap";
	- var isMyCompany = true;
	- var navItem = "Manage Users";

	- var sideBarList = ["My Company", "Manage Business Units", "Manage Users"];

block left
	+sideBarNavigation(sideBarList)

block right
	div(class="my-company-wrap")
		button(class="button button-edit edit-mobile")

		div(class="annotation wrap")
			div(class="row")
				div(class="col-xs-12 col-sm-9")
					div(class="annotation-text")
						p The functionality available to a user is dependent on the roles they have. In general, the visibility and jurisdiction of a user is restricted to the branch of the unit to which they are assigned.

				div(class="col-xs-12 col-sm-3 text-right")
					div(class="my-account-button-small")
						button(class="button button-edit hidden-xs")
						button(class="button button-outlined large")
							| Disable User


		div(class="user-details-wrap")
			div(class="row")
				div(class="col-xs-12 col-sm-9")
					div(class="row")
						div(class="col-xs-6 col-sm-6")
							p Email:
							p Title:
							p First Name:
							p Middle Name:
							p Last Name:
							p Suffix:
							p Password:
							p User Enabled Status:
						div(class="col-xs-6 col-sm-6")
							p &lt;user email address&gt;
							p &lt;user title&gt;
							p &lt;first name&gt;
							p &lt;middle name&gt;
							p &lt;last name&gt;
							p &lt;suffix&gt;
							p
								a(href="#formForgotPassword", data-toggle="modal")
									| Reset Password
							p &lt;status&gt;

		div(class="user-roles-wrap")
			div(class="row")
				div(class="col-xs-12 col-sm-12")
					h2 Roles
			div(class="row")
				div(class="col-xs-12 col-sm-9")
					div(class="roles-description wrap")
						p A user is an individual who is able to login to the Powertools Store. The functionality available to a user is dependent on the roles they have. B2B Administrators jave access to the My Company area to modify the organization hierarchy. B2B Managers can view statistics on the sales of the organization (awaiting implementation). B2B Approvers can approve orders for which the B2B Customer did not have enough permission. B2B Customers can place orders on the Powertools Storefront.

					div(class="user-roles-title wrap")
						| USER ROLES

					div(class="user-roles-description")
						| B2B Manager

	+modal("formForgotPassword", "Forgot your Password")
		p Enter your email address or account ID and we will email you instructions to reset your password.
		include partials/form-forgot-password