extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Unit Name";
	- var headTitleText = "b2b - " + "Business units view details";
	- var containerCSSClass = "my-company business-units-view-details wrap";
	- var isMyCompany = true;
	- var navItem = "Manage Business Units";
	- var sideBarList = ["My Company", "Manage Business Units", "Manage Users"];

	- var businessUnitsDetails = [];
	- businessUnitsDetails.push({title: "Your Wiley Rep",table: [{thead: "Name", td: "James Bell"}, {thead: "Phone", td: "###-###-####"}, {thead: "Email", td: "james.bell@pronto-hw.com"}]});
	- businessUnitsDetails.push({title: "Billing Address", annotation: "The Addresses will be available to a customer ordering for a cost center related to this unit.", table: [{thead: "Address Line  1", td: "110000 Bagby Street Houston"}, {thead: "Address Line  2", td: ""}, {thead: "  Town/City", td: "Houston"}, {thead: "Postal Code", td: "Texas"}, {thead: "Country", td: "United States"}]});
	- businessUnitsDetails.push({title: "Shipping Addresses",annotation: "The Addresses will be available to a customer ordering for a cost center related to this unit.", createButton: "Create", table: [{thead: "Address Line  1", td: "110000 Bagby Street Houston"}, {thead: "Address Line  2", td: ""}, {thead: "Town/City", td: "Houston"}, {thead: "Postal Code", td: "Texas"},{thead: "Country", td: "United States"}, {thead: "Actions", td: ""}]});
	- businessUnitsDetails.push({title: "Administrators", annotation: "Users with the administrator role have the ability to administrate this branch of the organization using the My Company area of the storefront. Adding or removing a user here adds or removes the administrator role from the user.", editButton: true, createButton: "Create New",table: [{thead: "Name", td: "James Bell"}, {thead: "Email", td: "james.bell@pronto-hw.com"}, {thead: "Roles", td: "B2C Customer"}, {thead: "Actions", td: " "}]});
	- businessUnitsDetails.push({title: "Invoice Collectors",annotation: "Users with the manager role have the ability to see reports using the reports area of the storefront (awaiting implementation). Adding or removing a user here adds or removes the manager role from the user.",editButton: true,createButton: "Create New", table: [{thead: "Name", td: "James Bell"}, {thead: "Email", td: "james.bell@pronto-hw.com"}, {thead: "Roles", td: "B2C Customer"}, {thead: "Actions", td: " "}]});
	- businessUnitsDetails.push({title: "Customers", annotation: "Users with the customer role have the ability to place orders against cost centers to which they have access. Adding or removing a user here adds or removes the customer role.", editButton: true, createButton: "Create New", table: [{thead: "Name", td: "James Bell"}, {thead: "Email", td: "james.bell@pronto-hw.com"}, {thead: "Roles", td: "B2C Customer"}, {thead: "Actions", td: ""}]});

block left
	+sideBarNavigation(sideBarList)
block right
	div(class="my-company-wrap")
		div(class="annotation wrap")
			div(class="row")
				div(class="col-xs-12 col-sm-9")
					div(class="annotation-text")
						p Units represent a logical grouping of individuals or function within an organization, such as a project team or a department. Units are placed into an organization hierarchy, which is navigable below. Units inherit from their parent unit (unless overridden locally) and as such the placement of a unit within the hierarchy is important. The organization hierarchy also affects such things as available cost centers, budgets, delivery addresses and the escalation of such things as order approval.

		div(class="unit-summary wrap")
			div(class="row")
				div(class="col-xs-12 col-sm-9")
					div(class="unit-summary-item")
						div(class="row")
							div(class="col-xs-12 col-sm-6")
								div(class="thead") Business Unit ID:
							div(class="col-xs-12 col-sm-6")
								div(class="td") Pronto Goods
					div(class="unit-summary-item")
						div(class="row")
							div(class="col-xs-12 col-sm-6")
								div(class="thead") Last Name:
							div(class="col-xs-12 col-sm-6")
								div(class="td") Pronto Goods

		div(class="unit-list")
			- each item, i in businessUnitsDetails
				div(class="unit-item")
					if item.title
						if item.editButton
							div(class="row")
								div(class="col-xs-9 col-sm-12")
									h2=item.title
								div(class="col-xs-3 visible-xs text-right")
									if item.editButton
										button(class="button button-edit")
						else
							h2=item.title

					if item.annotation
						div(class="annotation wrap")
							div(class="row")
								div(class="col-xs-12 col-sm-9")
									if item.annotation
										div(class="annotation-text")
											p=item.annotation
								div(class="col-xs-12 col-sm-3 text-right")
									div(class="my-account-button-small")
										if item.editButton
											button(class="button button-edit hidden-xs")
										if item.createButton
											button(class="button button-outlined large hidden-xs")
												=item.createButton

					div(class="unit-item-table")
						div(class="thead hidden-xs")
							div(class="row")
								- each titem, i in item.table
									div(class="col-sm-2")
										=titem.thead

						div(class="tbody")
							- for (var x = 0; x < 2; x++)
								div(class="unit-item-row")
									div(class="row")
										- each titem, i in item.table
											div(class="col-xs-12 col-sm-2")
												div(class="thead visible-xs")
													=titem.thead
												div(class="td")
													case titem.thead
														when "Name"
															a(href="", title="#")
																=titem.td

														when "Actions"
															a(href="#", title="") Edit /
															a(href="#", title="") Remove

														default
															=titem.td
					if item.createButton
						button(class="button button-outlined large visible-xs")
							=item.createButton



