extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Create shipping address for unit: " + "< Business Unit Name >";
	- var headTitleText = "b2b - Create shipping address for unit";
	- var containerCSSClass = "my-company create-shipping-address wrap";
	- var isMyCompany = true;
	- var navItem = "Manage Business Units";
	- var sideBarList = ["My Company", "Manage Business Units", "Manage Users"];

block left
	+sideBarNavigation(sideBarList)

block right
	div(class="my-company-wrap")
		div(class="create-shipping-address-form wrap")
			div(class="row")
				div(class="col-xs-12 col-sm-4")
					div(class="my-company-form-msg wrap")
						| Please use this form to update business unit details
					div(class="site-form")
						form
							div(class="form-cell")
								div(class="form-label required")
									label(for="country")
										| Country
								div(class="form-field select-component select-form-element", data-banner="usa")
									select(id="country")
										option
											| USA
										option
											| Canada
										option
											| USA
										option
											| Canada
										option
											| USA
										option
											| Canada
										option
											| USA
										option
											| Canada
										option
											| USA
										option
											| Canada
										option
											| USA
										option
											| Canada
										option
											| USA
										option
											| Canada
										option
											| USA
										option
											| Canada

							div(class="form-cell")
								div(class="form-label required")
									label(for="first-name")
										| First Name
								div(class="form-field")
									input(type="text", id="first-name", placeholder="<first name>")

							div(class="form-cell")
								div(class="form-label required")
									label(for="last-name")
										| Last Name
								div(class="form-field")
									input(type="text", id="last-name", placeholder="<last name>")

							div(class="form-cell")
								div(class="form-label required")
									label(for="address-line1")
										| Address Line 1
								div(class="form-field")
									input(type="text", id="address-line1", placeholder="<address line 1>")
							div(class="form-cell")
								div(class="form-label required")
									label(for="address-line2")
										| Address Line 2 (optional)
								div(class="form-field")
									input(type="text", id="address-line2", placeholder="<address line 2>")
							div(class="form-cell")
								div(class="form-label required")
									label(for="city")
										| City
								div(class="form-field")
									input(type="text", id="city", placeholder="<city>")
							div(class="row")
								div(class="col-xs-6 col-sm-6")
									div(class="form-cell")
										div(class="form-label required")
											label(for="state-province")
												| State / Province
										div(class="form-field select-component select-form-element")
											select(id="state-province")
												option
													| State / Province1
												option
													| State / Province2
								div(class="col-xs-6 col-sm-6")
									div(class="form-cell")
										div(class="form-label required")
											label(for="zip-postal-code")
												| Zip / Postal Code
										div(class="form-field")
											input(type="text", id="zip-postal-code", placeholder="<zip / postal code>")

							div(class="form-cell")
								div(class="form-label required")
									label(for="phone-number")
										| Phone Number (optional)
								div(class="form-field")
									input(type="text", id="phone-number", placeholder="<phone number>")

		div(class="row")
			div(class="col-xs-12 col-sm-5")
				div(class="my-account-button-wrap")
					div(class="row")
						div(class="col-xs-12 col-sm-6")
							button(class="button button-main large")
								| Save Changes
						div(class="col-xs-12 col-sm-6")
							button(class="button button-outlined large")
								| Cancel
			div(class="col-xs-12 col-sm-7 one-arrow-pagination-wrap")
				div(class="panel-pagination")
					div(class="pagination-element")
						a(href="#", class="arrow-left", title="") &nbsp;