extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Confirm Disable";
	- var headTitleText = "b2b - " + "Users confirm disable";
	- var containerCSSClass = "my-company user-confirm-disable wrap";
	- var isMyCompany = true;
	- var navItem = "Manage Users";

	- var sideBarList = ["My Company", "Manage Business Units", "Manage Users"];

block left
	+sideBarNavigation(sideBarList)
block right
	div(class="my-company-wrap")
		div(class="annotation wrap-inner-bordered")
			div(class="row")
				div(class="col-xs-12 col-sm-12")
					p Doing this will prevent customer nakamura@pronto-hw.com from logging to storefront and placing order.
					p Do you want to proced?

		div(class="row")
			div(class="col-xs-12 col-sm-4")
				div(class="my-account-button-wrap")
					div(class="row")
						div(class="col-xs-12 col-sm-6")
							button(class="button button-main large")
								| Submit
						div(class="col-xs-12 col-sm-6")
							button(class="button button-outlined large")
								| Cancel