extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Create user for unit: " + "< Business Unit Name >";
	- var headTitleText = "b2b - Create User";
	- var containerCSSClass = "my-company create-user wrap";
	- var isMyCompany = true;
	- var navItem = "Manage Users";

	- var sideBarList = ["My Company", "Manage Business Units", "Manage Users"];

block left
	+sideBarNavigation(sideBarList)

block right
	div(class="my-company-wrap")

		div(class="user-form wrap")
			div(class="row")
				div(class="col-xs-12 col-sm-4")
					div(class="my-company-form-msg wrap")
						| Please use this form to update business unit details

					div(class="site-form")
						form
							div(class="form-cell")
								div(class="form-label")
									label(for="title")
										| Title (optional)
								div(class="form-field select-component select-form-element")
									select(id="title")
										option
											| Title1
										option
											| Title2
							div(class="form-cell")
								div(class="form-label required")
									label(for="email")
										| Email Address
								div(class="form-field")
									input(type="text", id="email", placeholder="<email address>")
							div(class="form-cell")
								div(class="form-label required")
									label(for="first-name")
										| First Name
								div(class="form-field")
									input(type="text", for="first-name", placeholder="<first name>")
							div(class="form-cell")
								div(class="form-label")
									label(for="middle-name")
										| Middle Name (optional)
								div(class="form-field")
									input(type="text", id="middle-name", placeholder="<middle name>")
							div(class="form-cell")
								div(class="form-label required")
									label(for="last-name")
										| Last Name
								div(class="form-field")
									input(type="text", id="last-name", placeholder="<last name>")
							div(class="form-cell")
								div(class="form-label")
									label(for="suffix")
										| Suffix (optional)
								div(class="form-field")
									input(type="text", id="suffix", placeholder="<suffix>")

		div(class="user-roles-wrap wrap-inner-bordered")
			div(class="row")
				div(class="col-xs-12 col-sm-12")
					h2 Roles

					div(class="user-roles-option")
						div(class="checkbox-component")
							input(type="checkbox", id="b2b-administrator")
							label(for="b2b-administrator")
								| B2B Administrator
						div(class="checkbox-component")
							input(type="checkbox", id="b2b-customer")
							label(for="b2b-customer")
								| B2B Customer
						div(class="checkbox-component")
							input(type="checkbox", id="b2b-invoice-collector")
							label(for="b2b-invoice-collector")
								| B2B Invoice Collector


		div(class="row")
			div(class="col-xs-12 col-sm-5")
				div(class="my-account-button-wrap")
					div(class="row")
						div(class="col-xs-12 col-sm-6")
							button(class="button button-main large")
								| Save Changes
						div(class="col-xs-12 col-sm-6")
							button(class="button button-outlined large")
								| Cancel
			div(class="col-xs-12 col-sm-7 one-arrow-pagination-wrap")
				div(class="panel-pagination")
					div(class="pagination-element")
						a(href="#", class="arrow-left", title="") &nbsp;