extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "All Users";
	- var headTitleText = "b2b - All Users";
	- var containerCSSClass = "my-company all-users wrap";
	- var isMyCompany = true;
	- var navItem = "Manage Users";
	- var sideBarList = ["My Company", "Manage Business Units", "Manage Users"];

block left
	+sideBarNavigation(sideBarList)

block right
	div(class="my-company-wrap")
		div(class="wrap")
			button(class="button button-main large")
				| Create New User

		div(class="control-panel top")
			div(class="row")
				div(class="col-xs-4 col-sm-8")
					div(class="total-results")
						| 9&nbsp;Users&nbsp;found
				div(class="col-xs-8 col-sm-4 text-right")
					div(clas="row")
						div(clas="col-xs-12")
							a(href="#", class="show-hide visible-xs", title=" ")
								| Show All
						div(clas="col-xs-12")
							include partials/pagination
							a(href="#", class="show-hide hidden-xs", title=" ")
								| Show All


		div(class="common-table")
			div(class="thead hidden-xs")
				div(class="row")
					div(class="col-sm-3")
						| Name
					div(class="col-sm-3")
						| Roles
					div(class="col-sm-3")
						| Status

			div(class="tbody")
				- for (var x = 1; x < 9; x++)
					div(class="item")
						div(class="row")
							div(class="col-xs-12 col-sm-3")
								div(class="row")
									div(class="col-xs-6 thead visible-xs")
										| Names
									div(class="col-xs-6 col-sm-12")
										a(href="", title="")
											| James Bell
							div(class="col-xs-12 col-sm-3")
								div(class="row")
									div(class="col-xs-6 thead visible-xs")
										| Roles
									div(class="col-xs-6 col-sm-12")
										| B2B Manager
							div(class="col-xs-12 col-sm-3")
								div(class="row")
									div(class="col-xs-6 thead visible-xs")
										| Status
									div(class="col-xs-6 col-sm-12")
										| Active

		div(class="control-panel")
			div(class="row")
				div(class="col-xs-4 col-sm-8")
					div(class="total-results")
						| 9&nbsp;Users&nbsp;found
				div(class="col-xs-8 col-sm-4 text-right")
					div(class="visible-xs")
						div(clas="row")
							div(clas="col-xs-12")
								a(href="#", class="show-hide", title=" ")
									| Show All
							div(clas="col-xs-12")
								include partials/pagination
					div(class="hidden-xs")
						include partials/pagination
						a(href="#", class="show-hide", title=" ")
							| Show All





