extends layouts/grid-fluid
block vars
    - var containerCSSClass = 'partnership-solution-page';
    - var breadcrumbsList = ["Home", "Products", "Special products"];
    - var text = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..";
    - var fishtext = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...";

block center
    div(class="container")
        include partials/breadcrumbs
    div(class="hero-banner collection-banner")
        div.simple-responsive-banner-component
            img(class="responsive-image js-responsive-image", src="responsive/common/images/pdp-bg-web.png")
        div(class="container")
            article(class="section-description page-section")
                header.page-title
                    h1 Chemistry
                div(class="section-wrapper")
                    div(class="section-info")
                        p #{ text }
                a.link-button.transparent.arrow Learn more
    div(class="container page-content-wrapper")
        article(class="section-description")
            header
                h3 Lorem ipsum quia dolor sit amet
            p
                em Neque porro &nbsp;
                | Neque porro quisquam est qui dolorem ipsum quia dolor sit amet

        section(class="section-video")
            div.simple-banner-component
                img(src='responsive/common/images/image_video_test.png')
        section.preview-articles
            header
                h3 From the community
            section(class="product-item")
                div(class="product-image")
                    img(src="responsive/common/images/product-image.png", class="item-image")
                div(class="product-content")
                    h3(class="product-title")
                        a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                    div(class="product-description") Author
                    p(class="product-text")
                        #{ text }

            section(class="product-item")
                div(class="product-image")
                    img(src="responsive/common/images/product-image.png", class="item-image")
                div(class="product-content")
                    h3(class="product-title")
                        a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                    div(class="product-description") Author
                    p(class="product-text")
                        #{ text }
        section.author-spotlight-section
            .content
                header
                    h3 Author spotlight
            .content
                div(class="section-author")
                    section(class="author")
                        h5 Donald E. Kieso
                        p(class="author-skill") CPA, Author & Educator
                        p #{ text }
                div(class="section-author")
                    section(class="author")
                        h5 Donald E. Kieso
                        p(class="author-skill") CPA, Author & Educator
                        p #{ text }
                div(class="section-author")
                    section(class="author")
                        h5 Donald E. Kieso
                        p(class="author-skill") CPA, Author & Educator
                        p #{ text }
                div(class="section-author")
                    section(class="author")
                        h5 Donald E. Kieso
                        p(class="author-skill") CPA, Author & Educator
                        p #{ text }




