extends layouts/grid-fluid
block vars
    - var breadcrumbsList = ["Home", "Products", "Special products"];
    - var fishtext = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...";
block center
    div(class="product-listing-page")
        section(class="page-header")
            div.container
                include partials/breadcrumbs
                header
                    h1 Neque porro quisqua
        section(class="page-content")
            div(class="container product-list-container")
                include partials/facets-panel
                div(class="product-list-wrapper lazy-loading")
                    div(class="search-results-top-bar")
                        div(class="sort-panel")
                            span(class="sort-panel-title", aria-labelledby="sortOptions") Sort by
                            div(class="select-component sort-panel-component")
                                select(id="sortOptions", aria-label="sortOptions")
                                    option(value='Relevance', selected) Relevance
                                    option(value='2') Publication date (newest-oldest)
                                    option(value='3') Author's name (A-Z)
                                    option(value='4') Product's name (A-Z)
                                    option(value='4') Best seller

                        div(class="facets-panel-button visible-xs") Filter

                        div(class="pagination-bar")
                            ul(class="pagination")
                                li(class="pagination-prev disabled"): span «
                                li(class="page-number")
                                    form(class="page-number-form")
                                        input(type="text", value="1", maxlength="3", aria-label="Page Number Input")
                                li(class="pagination-next"): a(href="#0") »
                                li(class="pagination-quantity-text") of 42 Pages

                            div(class="pagination-quantity")
                                span(class="pagination-quantity-text") Items per page:
                                div(class="select-component")
                                    select(class="itemsPerPageLimiter", name="itemsPerPageLimiter", aria-label="itemsPerPageLimiter")
                                        option(value='10', selected) 10
                                        option(value='25') 25
                                        option(value='50') 50

                    div(class="facets-panel-button visible-xs") Filter

                    div(class="products-list")
                        include partials/product-item
                        include partials/product-item
                    
                    div(class="pagination-bar")
                        ul(class="pagination")
                            li(class="pagination-prev disabled"): span «
                            li(class="page-number")
                                form(class="page-number-form")
                                    input(type="text", value="1", maxlength="3", aria-label="Page Number Input")
                            li(class="pagination-next"): a(href="#0") »
                            li(class="pagination-quantity-text") of 42 Pages

                        div(class="pagination-quantity")
                            span(class="pagination-quantity-text") Items per page:
                            div(class="select-component")
                                select(class="itemsPerPageLimiter", name="itemsPerPageLimiter", aria-label="itemsPerPageLimiter")
                                    option(value='10', selected) 10
                                    option(value='25') 25
                                    option(value='50') 50