extends layouts/grid-fluid
block vars
    - var breadcrumbsList = ["Home", "Products", "Special products"];
block center
    div(class="product-listing-page")
        section(class="page-header")
            div.container
                include partials/breadcrumbs
                header
                    h2 Neque porro quisqua
        div(class="page-content")
            div(class="container")
                div(class="empty-result")
                    h5  &#8216;
                        b 0
                        | &#8217; products found



