extends layouts/grid-fluid
block vars
    - var pageTitle = "Intermediate Accounting, 16th Edition students and professionals in the fields";
    - var headTitleText = "Product description page";
    - var breadcrumbsList = ["Home", "Products", "Special products"];
    - var typeOfBook = "eBook"; //Value for selected type of book. If haven't value didn't show
    - var cartProductPrice = "$20.00" //Add to cart. Product price Value. If haven't value "Out of stock"
    - var cartProductInStock = "In stock";

    - var chooserList = {items:[{status: "active", stock: "In stock", type: "eBook", price: "$20.00"},{type: "Registration Card",price: "$20.00"}, {type: "APP"}, {stock: "In stock", type: "hardcover", price: "$200.00"}, {stock: "Out of stock", type: "Spiral-Bound Paperback", price: "$200.00"}, {stock: "In stock", type: "loose-leaf", price: "$200.00"}, {stock: "In stock", type: "textbook", price: "$200.00"}, {type: "software"}]};

block center
    div(class="product-details-page")
        div.container
            include partials/breadcrumbs
        div.container
            div(class="row product-details-wr")
                div(class="col-xs-12 col-sm-2")
                    //Mobile title
                    h1(class="visible-xs") #{ pageTitle }
                    //Gallery
                    div(class="image-gallery")
                        div(class="carousel")
                            div(id="pdp-carousel-sync1")
                                div(class="item")
                                    div(class="item-image")
                                        img(src="responsive/common/images/product-image.png", alt="Product Image")
                                div(class="item")
                                    div(class="item-image")
                                        img(src="responsive/common/images/product-image.png", alt="Product Image")
                                div(class="item")
                                    div(class="item-image")
                                        img(src="responsive/common/images/product-image.png", alt="Product Image")
                                div(class="item")
                                    div(class="item-image")
                                        img(src="responsive/common/images/product-image.png", alt="Product Image")
                                div(class="item")
                                    div(class="item-image")
                                        img(src="responsive/common/images/product-image.png", alt="Product Image")
                            div(id="pdp-carousel-sync2")
                                div(class="item")
                                    div(class="item-image")
                                        img(src="responsive/common/images/pdp-image1.png", alt="Product Image")
                                div(class="item")
                                    div(class="item-image")
                                        img(src="responsive/common/images/pdp-image2.jpg", alt="Product Image")
                                div(class="item")
                                    div(class="item-image")
                                        img(src="responsive/common/images/pdp-image3.jpg", alt="Product Image")
                                div(class="item")
                                    div(class="item-image")
                                        img(src="responsive/common/images/pdp-image1.png", alt="Product Image")
                                div(class="item")
                                    div(class="item-image")
                                        img(src="responsive/common/images/pdp-image2.jpg", alt="Product Image")
                    div(class="dropdown-block read-excerpt hidden-xs")
                        button(data-toggle="collapse", data-target="#read-excerpt-files", class="collapsed")
                           | Read an Excerpt
                        nav(id="read-excerpt-files", class="collapse")
                            a(href="#", title="") Chapter 01 (PDF)
                            a(href="#", title="") Index (PDF)
                            a(href="#", title="") Table of contents (PDF)
                    div(class="page-sections-menu")
                        ul
                            li: a(href="#description-section") Description
                            li: a(href="#evaluation-copy-section") Evaluation Copy
                            li: a(href="#companion-sites-section") Related Resources
                            li: a(href="#pdp-video-section") Video
                            li: a(href="#pdpsetcomponentscomponent-section") Set Components test Set Components test Set Component Set
                            li: a(href="#pdpsetcomponentscomponent-section") Related Products test Related Products test Related Professional
                            li: a(href="#get-discount-section") Buy Both and Save 25% and much more
                            li: a(href="#get-discount-section") Buy Both and Save 25% and much much more like Buy Both and Save 25%
                            li: a(href="#related-products-section") Related Products
                            li: a(href="#author-section") About the Author
                            li: a(href="#permission-section") Permissions
                            li: a(href="#content-section") Table of Contents
                            li: a(href="#new-to-this-edition-section") New to this Edition
                            li: a(href="#reviews-section") Reviews
                            li: a(href="#extra-section") Extra
                            li: a(href="#downloads-section") Downloads
                            li: a(href="#errata-section") Errata
                            li: a(href="#notes-section") Notes
                            li: a(href="#whats-new-section") What's New
                            li: a(href="#press-release-section") Press Releases
                            li: a(href="#series-section") Series

                div(class="col-xs-12 col-sm-10 product-details-content")
                    section.product-details-sidebar
                        include product-details-page/add-to-cart
                        div.evaluation-copy-section(id="evaluation-copy-section")
                            h2(class="section-title") Evaluation copy
                            a(href="#") Request evaluation copy
                        div
                            a(href='#')
                                img(src="responsive/common/images/wiley-archive-banner.png", alt="Product Banner")
                    section(class="product-details")
                        h1(class="hidden-xs") #{ pageTitle }
                        div(class="product-summary")
                            p(class="author")
                                a(href="#") Donald E. Kieso, Jerry J. Weygandt, Terry D. Warfield
                            p
                                span ISBN/Product ID: 9780JRNL61883
                                span May 2015
                                span 1040 pages
                    section(class="choose-type-of-book")
                        include product-details-page/type-of-book-chooser
                        div(class="product-editions")
                            span Editions
                            a(href="#", title="" class="prev")
                                | Previous
                            a(href="#", title="" class="next")
                                | Next
                        div(class="dropdown-block read-excerpt visible-xs")
                            button(data-toggle="collapse", data-target="#read-excerpt-files-mobile", class="collapsed")
                                | Read an Excerpt
                            nav(id="read-excerpt-files-mobile", class="collapse")
                                a(href="#", title="") Chapter 01 (PDF)
                                a(href="#", title="") Index (PDF)
                                a(href="#", title="") Table of contents (PDF)

                    include product-details-page/product-long-decription
                    include product-details-page/buy-one-save-25
                    include partials/related-items
                    include product-details-page/author-block
                    include product-details-page/product-tabs

        #addToCartModalWnd.modal.fade.modalWindow(role='dialog')
            .modal-dialog
                .modal-content
                    form(method="action")
                        .modal-header
                            .modal-title You've added 1 item
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                        .modal-body
                            .modal-wnd-list
                                .modal-vnd-error
                                    p(class="error")
                                        | Error adding&nbsp;
                                        strong "978-0-7303-3425-5"&nbsp;
                                        | (error code: 795)
                                    p(class="info")
                                        | Please try again later. If the error persists please contact&nbsp;
                                        a(href="#", target="_blank") customer care
                                        | .
                                .product-item
                                    .product-image
                                        img(alt="", src="responsive/common/images/product-image.png")
                                    .product-content
                                        div.product-price
                                            span.old-price $200.00
                                            span.price $120.00
                                        h3(class="product-title") Intermediate Accounting, 16th Edition
                                        div(class="product-author") Donald E. Kieso, Jerry J. Weygandt, Terry D. Warfield
                                        div(class="product-type")
                                            span.product-type-name eBook
                                    div(class="product-sets")
                                        p(class="sets-title") Set includes:
                                        ul(class="sets-list")
                                            li Preclinical Development Handbook: ADME and Biopharmaceutical Properties
                                            li Handbook of Pharmaceutical Biotechnology
                                            li Drug Discovery Handbook
                                            li Pharmaceutical Manufacturing Handbook: Production and Processes
                                            li Pharmaceutical Manufacturing Handbook: Regulations and Quality
                                            li Clinical Trials Handbook
                                            li Preclinical Development Handbook: Toxicology
                                            li Development of Therapeutic Agents Handbook

                              .modal-wnd-subtotal
                                | Subtotal (
                                span(class="item-count") 1 item
                                | )
                                span(class="item-price") $120.00
                                span.price-disclaimer
                                    | * Price and Tax information
                                    a(role="menuitem", tabindex="0", data-placement="bottom-right top-right", aria-label="information icon", class="icon-info black", data-container="#addToCartModalWnd", data-container-class="wiley-tax-popover" data-content='<p>Please note all Recommended Retail Prices (RRPs) are in Australian dollars and are subject to change without notice. Goods and Services Tax (GST) is included in the RRP for orders within Australia and is included on international orders.</p>')
                            .modal-wnd-carousel.carousel-default.carousel-modal
                                h4
                                    | You may also like

                                div(class="carousel-gallery")
                                    div(class="carousel")
                                        div(class="owl-carousel related-products-carousel")
                                            div(class="item")
                                                a(href="#", class="item-link")
                                                    span(class="item-image-wrapper")
                                                        img(src="responsive/common/images/product-image.png", alt="product image", class="item-image")
                                                    p(class="item-title")
                                                        | Accounting All-In-One for Dummies
                                                p(class="item-author")
                                                    | By Jarry J.
                                            div(class="item")
                                                a(href="#", class="item-link")
                                                    span(class="item-image-wrapper")
                                                        img(src="responsive/common/images/product-image.png", alt="product image", class="item-image")
                                                    p(class="item-title")
                                                        | Accounting All-In-One for Dummies
                                                p(class="item-author")
                                                    | By Jarry J.
                                            div(class="item")
                                                a(href="#", class="item-link")
                                                    span(class="item-image-wrapper")
                                                        img(src="responsive/common/images/product-image.png", alt="product image", class="item-image")
                                                    p(class="item-title")
                                                        | Accounting All-In-One for Dummies
                                                p(class="item-author")
                                                    | By Jarry J.
                                            div(class="item")
                                                a(href="#", class="item-link")
                                                    span(class="item-image-wrapper")
                                                        img(src="responsive/common/images/product-image.png", alt="product image", class="item-image")
                                                    p(class="item-title")
                                                        | Accounting All-In-One for Dummies
                                                p(class="item-author")
                                                    | By Jarry J.
                                            div(class="item")
                                                a(href="#", class="item-link")
                                                    span(class="item-image-wrapper")
                                                        img(src="responsive/common/images/product-image.png", alt="product image", class="item-image")
                                                    p(class="item-title")
                                                        | Accounting All-In-One for Dummies
                                                p(class="item-author")
                                                    | By Jarry J.
                                            div(class="item")
                                                a(href="#", class="item-link")
                                                    span(class="item-image-wrapper")
                                                        img(src="responsive/common/images/product-image.png", alt="product image", class="item-image")
                                                    p(class="item-title")
                                                        | Accounting All-In-One for Dummies
                                                p(class="item-author")
                                                    | By Jarry J.
                                            div(class="item")
                                                a(href="#", class="item-link")
                                                    span(class="item-image-wrapper")
                                                        img(src="responsive/common/images/product-image.png", alt="product image", class="item-image")
                                                    p(class="item-title")
                                                        | Accounting All-In-One for Dummies
                                                p(class="item-author")
                                                    | By Jarry J.
                                            div(class="item")
                                                a(href="#", class="item-link")
                                                    span(class="item-image-wrapper")
                                                        img(src="responsive/common/images/product-image.png", alt="product image", class="item-image")
                                                    p(class="item-title")
                                                        | Accounting All-In-One for Dummies
                                                p(class="item-author")
                                                    | By Jarry J.
                                            div(class="item")
                                                a(href="#", class="item-link")
                                                    span(class="item-image-wrapper")
                                                        img(src="responsive/common/images/product-image.png", alt="product image", class="item-image")
                                                    p(class="item-title")
                                                        | Accounting All-In-One for Dummies
                                                p(class="item-author")
                                                    | By Jarry J.
                                            div(class="item")
                                                a(href="#", class="item-link")
                                                    span(class="item-image-wrapper")
                                                        img(src="responsive/common/images/product-image.png", alt="product image", class="item-image")
                                                    p(class="item-title")
                                                        | Accounting All-In-One for Dummies
                                                p(class="item-author")
                                                    | By Jarry J.
                                            div(class="item")
                                                a(href="#", class="item-link")
                                                    span(class="item-image-wrapper")
                                                        img(src="responsive/common/images/product-image.png", alt="product image", class="item-image")
                                                    p(class="item-title")
                                                        | Accounting All-In-One for Dummies
                                                p(class="item-author")
                                                    | By Jarry J.
                        .modal-footer
                            button(type="submit", class="button large button-dark-gray") Continue Shopping
                            button(type="submit", class="button large button-teal") Check Out