extends layouts/grid-two-row-col-12
block vars
	- var containerCSSClass = "reset-password wrap";
	- var loginMainButtonTitle = "Reset Password";
	- var hiddenBottom = true;

block top
	include partials/form-reset-password