extends layouts/grid-fluid
block vars
    - var containerCSSClass = 'about-author-page';
    - var breadcrumbsList = ["Home", "Resources for"];
    - var text = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..";
    - var fishtext = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...";

block center
    div(class="container")
            include partials/breadcrumbs
    div(class="hero-banner intro-banner")
        div.simple-responsive-banner-component
            img(class="responsive-image js-responsive-image", src="responsive/common/images/pdp-bg-web.png")
        div(class="container")
            article(class="section-description")
                header.page-title
                    h1 Chemistry
                div.line-separator
                div(class="section-wrapper")
                    div(class="section-info")
                        p #{ text }
    div(class="container page-content-wrapper")
        article(class="section-description")
            div(class="section-wrapper")
                div(class="section-info")
                    p #{ text }
                    div(class="links-wrapper")
                        a(href='#') Link1
                        a(href='#') Link2
                        a(href='#') Link3

        section(class="section-video")
            div.simple-banner-component
                img(src='responsive/common/images/image_video_test.png')
        article(class="section-description page-section")
            div(class="section-wrapper")
                div(class="section-info")
                    p #{ text }
                    p #{ text }
        section.page-section
            .content
                article(class="row")
                    div(class="col-xs-12 col-sm-5")
                        div.preview-image-wrapper
                            img(src='responsive/common/images/image_video_test.png')

                    div(class="col-xs-12 col-sm-7")
                        h5
                            | What I learned at My First Library Conference
                        p #{ fishtext }
            .content
                article(class="row preview-article")
                    div(class="col-xs-12 col-sm-5")
                        div.preview-image-wrapper
                            img(src='responsive/common/images/image_video_test.png')

                    div(class="col-xs-12 col-sm-7")
                        p #{ fishtext }
        article(class="hero-banner intro-banner")
            div.simple-responsive-banner-component
                img(class="responsive-image js-responsive-image", src="responsive/common/images/pdp-bg-web.png")
            div(class="container")
                article(class="page-section")
                    div.title-layer
                        header.page-title
                            h2 Chemistry Neque porro quisquam est
                            span Neque porro quisquam est
        article(class="section-text page-section")
            header.medium-size
                h2 Book authors
            p #{ text }
            ul
                li
                    b
                        a(href="#") Link
                    | rest text
                li
                    b
                        a(href="#") Link
                    | rest text
                li
                    b
                        a(href="#") Link
                    | rest text
            p #{ text }
        article(class="section-text page-section")
            header.medium-size
                h2 Global education
            p #{ text }
            p #{ text }
            div
                b
                    a(href="#") Link
            div
                b
                    a(href="#") Link

        article(class="section-text page-section")
            header.small-size
                h5 Helpful resources
            p #{ text }
            p #{ text }

        article(class="section-text page-section")
            header.medium-size
                h2 Proposal Guidlines
            p #{ text }
            header.small-size
                h5 Product vision
            ol
                li
                    b Vision:
                    | rest text
                li
                    b Vision:
                    | rest text
            header.small-size
                h5 Product vision
            ol
                li
                    b Vision:
                    | rest text
                li
                    b Vision:
                    | rest text


        include product-details-page/product-tabs




