extends layouts/grid-fluid
block vars
    - var fishtext = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...";
block center
    div(class="search-result-page")
        div(class="search-result-header")
            div(class="container")
                div(class="result-count")
                    span 0
                    |  results for
                    b  "accounting"
        div(class="search-result-content")
            div(class="container")
                div(class="empty-result")
                    h1 Your search
                        b  "Lorem ipsum"
                        | did not match any results.
                    p #{ fishtext }
                    p For better search result
                                a(href="#") use more general terms, check your spelling or try different words.