extends layouts/grid-fluid
block vars
    - var fishtext = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...";
block center
    div(class="search-result-page")
        section(class="search-result-header")
            div(class="container")
                div(class="result-suggestion")
                    | Did you mean &nbsp;
                    a(href="#") accounting
                    | &nbsp;?
                ul(class="nav nav-tabs search-result-tabs")
                    li(class="active")
                        a(href='#PRODUCTS', data-toggle='tab') Products <span class="nav-tabs-results"><i class="hidden-xs">(</i><i>770</i> results<i class="hidden-xs">)</i></span>
                    li: a(href='#CONTENT', data-toggle='tab') Content <span class="nav-tabs-results"><i class="hidden-xs">(</i><i>9</i> results<i class="hidden-xs">)</i></span>
        section(class="search-result-content")
            div(class="container product-list-container")
                include partials/facets-panel
                div(class="search-result-tabs-wrapper")
                    div(class="tab-content")
                        div(id="PRODUCTS", class="tab-pane fade in active")
                            div(class="product-list-wrapper lazy-loading")
                                div(class="search-results-top-bar")
                                    div(class="sort-panel")
                                        span(class="sort-panel-title", aria-labelledby="sortOptions") Sort by
                                        div(class="select-component sort-panel-component")
                                            select(id="sortOptions", aria-label="sortOptions")
                                                option(value='Relevance', selected) Relevance
                                                option(value='2') Publication date (newest-oldest)
                                                option(value='3') Author's name (A-Z)
                                                option(value='4') Product's name (A-Z)
                                                option(value='4') Best seller
                                    div(class="facets-panel-button visible-xs") Filter

                                    div(class="pagination-bar")
                                        ul(class="pagination")
                                            li(class="pagination-prev disabled"): span «
                                            li(class="page-number")
                                                form(class="page-number-form")
                                                    input(type="text", value="1", maxlength="3", aria-label="Page Number Input")
                                            li(class="pagination-next"): a(href="#0", title="Next page") »
                                            li(class="pagination-quantity-text") of 42 Pages

                                        div(class="pagination-quantity")
                                            span(class="pagination-quantity-text" ) Items per page:
                                            div(class="select-component")
                                                select(class="itemsPerPageLimiter", name="itemsPerPageLimiter", aria-label="itemsPerPageLimiter")
                                                    option(value='10', selected) 10
                                                    option(value='25') 25
                                                    option(value='50') 50

                                div(class="products-list")
                                    include partials/product-item-flexible
                                    include partials/product-item-flexible

                                div(class="pagination-bar")
                                    ul(class="pagination")
                                        li(class="pagination-prev disabled"): span «
                                        li(class="page-number")
                                            form(class="page-number-form")
                                                input(type="text", value="1", maxlength="3", aria-label="Page Number Input")
                                        li(class="pagination-next"): a(href="#0") »
                                        li(class="pagination-quantity-text") of 42 Pages

                                    div(class="pagination-quantity")
                                        span(class="pagination-quantity-text" ) Items per page:
                                        div(class="select-component")
                                            select(class="itemsPerPageLimiter", name="itemsPerPageLimiter", aria-label="itemsPerPageLimiter")
                                                option(value='10', selected) 10
                                                option(value='25') 25
                                                option(value='50') 50

                        div(id="CONTENT", class="tab-pane fade")
                            div(class="contentSearchTopPagination")

                                div(class="pagination-bar")
                                    ul(class="pagination")
                                        li(class="pagination-prev disabled"): span «
                                        li(class="page-number")
                                            form(class="page-number-form")
                                                input(type="text", value="1", maxlength="3", aria-label="Page Number Input")
                                        li(class="pagination-next"): a(href="#0") »
                                        li(class="pagination-quantity-text") of 42 Pages

                                    div(class="pagination-quantity")
                                        span(class="pagination-quantity-text" ) Items per page:
                                        div(class="select-component")
                                            select(class="itemsPerPageLimiter", name="itemsPerPageLimiter",aria-label="itemsPerPageLimiter")
                                                option(value='10', selected) 10
                                                option(value='25') 25
                                                option(value='50') 50

                            article(class="content-block")
                                header
                                    h4 Accounting | Subjects | Wiley
                                        span(class="subtitle") Subtitle
                                p #{ fishtext }
                                a(href='#') https://www.wiley.com/en-us/Accounting-c-AC00

                            article(class="content-block")
                                header
                                    h6 Over title
                                    h4 Title
                                p #{ fishtext }
                                a(href='#') link

                            div.contentSearchBottomPagination
                                div(class="pagination-bar")
                                    ul(class="pagination")
                                        li(class="pagination-prev disabled"): span «
                                        li(class="page-number")
                                            form(class="page-number-form")
                                                input(type="text", value="1", maxlength="3", aria-label="Page Number Input")
                                        li(class="pagination-next"): a(href="#0") »
                                        li(class="pagination-quantity-text") of 42 Pages

                                    div(class="pagination-quantity")
                                        span(class="pagination-quantity-text" ) Items per page:
                                        div(class="select-component")
                                            select(class="itemsPerPageLimiter", name="itemsPerPageLimiter", aria-label="itemsPerPageLimiter")
                                                option(value='10', selected) 10
                                                option(value='25') 25
                                                option(value='50') 50