doctype html
html(lang="en" dir="ltr")
    block vars
    head
        block headSection
            include ./partials/head
    body
        .wiley-server-error-page
            header.header-light
                div(class="container-fluid")
                    div(class="container")
                        a(class="logo", href="javascript:void(0);", title="Wiley")
                            img(src="responsive/common/images/logo.png", alt="Wiley")
            main.server-error
                .container
                    h1 Server error (
                        b 500
                        | )
                    p We are experiencing a server error.
                    p
                        span Please try again later or contact &nbsp;
                                a(href="mailto:info@wiley.com") info@wiley.com &nbsp;
                            |for further assistance.

            footer.footer-light
                div(class="container-fluid")
                    div(class="container")
                        div(class="footer-copyright-text")
                            p
                                a(href="#") Copyright &copy; 2000-2017 by &nbsp;
                                a(href="#") John Wiley & Sons, Inc., &nbsp;
                                | or related companies. All rights reserved. Review &nbsp;
                                a(href="#") our privacy policy.
                        a(class="logo", href="javascript:void(0);", title="Wiley")
                            img(src="responsive/common/images/logo.png", alt="Wiley")
