doctype html
html(lang="en" dir="ltr")
    block vars
    head
        block headSection
            include ./partials/head
    body
        .wiley-server-error-page
            header.header-light
                div(class="container-fluid")
                    div(class="container")
                        a(class="logo", href="javascript:void(0);", title="Wiley")
                            img(src="responsive/common/images/logo.png", alt="Wiley")
            .server-error
                .container
                    h1 Server error (
                        b 400
                        | )
                    p
                        b Our Apologies. &nbsp;
                        | We can't find the page you're looking for.
                    p
                        | Maybe we can help you - please feel free to &nbsp;
                        a(href="#") contact us

            footer.footer-light
                div(class="container-fluid")
                    div(class="container")
                        div(class="footer-copyright-text")
                            p
                                a(href="#") Copyright &copy; 2000-2017 by &nbsp;
                                a(href="#") John Wiley & Sons, Inc.,
                                | &nbsp; or related companies. All rights reserved. Review &nbsp;
                                a(href="#") our privacy policy.
                        a(class="logo", href="javascript:void(0);", title="Wiley")
                            img(src="responsive/common/images/logo.png", alt="Wiley")
