extends layouts/grid-two-column-7-4

block vars
	- var pageTitle = "Shopping Cart";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "shopping-cart-page wrap";

block left
	div(class="order-total-top-section checkout-mobile")
		div(class="order-summary")
			div(class="text") Cart (3 items) $312.96
			a(class="help", href="", title="") &nbsp;
		div(class="order-button-group")
			button(class="button button-main large")
				| Place Order
		div(class="order-button-group")
			button(class="button button-outlined icon-paypal large")
				| Checkout with
		div(class="continue-shopping")
			a(href="#")
				| Continue Shopping

	div(class="product-list product-list-cart")
		- for (var x = 1; x < 4; x++)
			div(class="product-list-item")
				div(class="product-list-image")
					img(src="responsive/common/images/product-image.png", alt="product image", width="124", height="163")

				div(class="row product-list-info")
					div(class="col-xs-10 col-sm-9")
						div(id="productNumber"+x, class="product-list-title")
							| 2014 FASB Update Intermediate Accounting, 15th Edition
						div(class="product-list-description")
							div(class="product-list-author") Donald E. Kieso, Jerry J. Weygandt, Terry D. Warfield
							div(class="product-list-date") August 2014, &copy;2014
							div(class="product-list-status")
								div(class="status-title")
									| Availability:
								div(class="status-description")
									div
										| 2 In Stock; expected 07/20/2016
									div
										| 5 Back-order; expected 12/31/2016
									div
										| 4 Back-order; expected 01/31/2017
					div(class="col-xs-2 col-sm-3")
						div(class="product-item-buttons")
							button(class="button button-remove", aria-label="remove", aria-describedby="productNumber"+x)

					div(class="product-item-price")
						div(class="col-xs-12 col-sm-5")
							div(class="item-price") Item Price: $114.12
						div(class="col-xs-12 col-sm-4")
							div(class="item-qty")
								div(class="qty-label")
									label(id="qty"+x)
										| Qty:
								div(class="qty-input")
									input(class="item-qty-input", for="qty"+x, aria-label="quantity")
						div(class="col-xs-12 col-sm-3")
							div(class="item-total-price") $114.12

	div(class="product-list-buttons")
		button(class="button button-secondary small") Continue Shopping

block right
	include shopping-cart/shopping-cart-order-brief

block bottom
	include partials/recommended-items