extends layouts/grid-two-row-col-12

block vars
	- var pageTitle = "Shopping Cart Empty";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "shopping-cart-empty-page wrap";

block top
	h1 Your Cart is Empty

block bottom
	include partials/recommended-items

