extends layouts/grid-fluid
block vars
    - var pageTitle = "Site Map";
    - var headTitleText = "Site Map";
    - var breadcrumbsList = ["Home", "Site Map"];
block center
    div(class="site-map-page")
        div.container
            include partials/breadcrumbs
        div.container
            h1 #{ pageTitle }

            section.sitemap-section
                ul.sitemap-lists-col
                    li: a(href="#0") Homepage

            section.sitemap-section
                h2.sitemap-section-header Resources For

                ul.sitemap-lists-col
                    li
                        a(href="#0") Resources for Authors
                        ul
                            li: a(href="#0") Book Authors
                            li: a(href="#0") Journal Authors
                            li
                                a(href="#0") Sales & Marketing Support
                                ul
                                    li: a(href="#0") Book Authors
                                    li: a(href="#0") Journal Authors
                                    li: a(href="#0") Sales & Marketing Support
                    li
                        h3 Resources for Librarians
                        ul
                            li: a(href="#0") Books Update
                            li: a(href="#0") Online Resources
                            li: a(href="#0") News & Trends Asia
                            li: a(href="#0") Sales Reps & Vendors
                            li: a(href="#0") Special Offers
                    li
                        span Resources for Librarians
                        ul
                            li: a(href="#0") U.S. Sales Contacts
                            li: a(href="#0") International Sales Contacts
                            li: a(href="#0") Returns Policy
                            li: a(href="#0") Cooperative Advertising

                ul.sitemap-lists-col
                    li
                        a(href="#0") Resources for Instructors
                        ul
                            li: a(href="#0") Evaluation Copies and Desk Copies
                    li: a(href="#0") Government Employees
                    li: a(href="#0") Resources for Societies
                    li: a(href="#0") Resources for Healthcare Industry
                    li: a(href="#0") Resources for Corporate partners

            section.sitemap-section
                h2.sitemap-section-header About Wiley

                ul.sitemap-lists-col
                    li
                        a(href="#0") Corporate Information
                        ul
                            li: a(href="#0") Core Businesses
                            li: a(href="#0") Directors and Officers
                            li: a(href="#0") Narrative History
                            li: a(href="#0") Locations
                            li: a(href="#0") Corporate Governance
                            li: a(href="#0") Corporate Giving
                            li: a(href="#0") Wiley Foundation
                            li: a(href="#0") The Wiley Logo
                            li: a(href="#0") Rights & Permissions

                    li
                        a(href="#0") Investor Relations
                        ul
                            li: a(href="#0") Why Invest in Wiley?
                            li: a(href="#0") Earnings Releases
                            li: a(href="#0") SEC Filings and Annual Reports
                            li: a(href="#0") Events and Presentations
                            li: a(href="#0") Corporate Governance
                            li: a(href="#0") Investor FAQs/Analyst Coverage
                            li: a(href="#0") Investor Contact
                            li: a(href="#0") The Wiley Vision

                ul.sitemap-lists-col
                    li: a(href="#0") Careers
                        ul
                            li: a(href="#0") A Career in Publishing
                            li: a(href="#0") Summary of U.S. Benefits
                            li: a(href="#0") Internships

                    li: a(href="#0") Press Room
                        ul
                            li: a(href="#0") Media Resources

                    li: a(href="#0") Author Events

                    li: a(href="#0") Conferences

                    li
                        a(href="#0") Corporate Citizenship
                        ul
                            li: a(href="#0") Overview
                            li: a(href="#0") Workplace
                            li: a(href="#0") Environment
                            li: a(href="#0") Community
                            li: a(href="#0") Publication Ethics

                    li
                        a(href="#0") Partner With Us
                        ul
                            li: a(href="#0") Corporate Sales
                            li: a(href="#0") Affiliates
                            li: a(href="#0") Societies
  