extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Terms and Conditions";
	- var headTitleText = pageTitle;
	- var containerCSSClass = "terms-conditions wrap";
	- var termsAndConditionsList = [{title: "Terms of use"},{title: "Proprietary rights"},{title: "Procedure for making claims of copyright infringement"},{title: "Disclaimer of warranties"},{title: "Limitation of liability"},	  {title: "Indemnification"}, {title: "Choice of law and forum"}, {title: "Termination"}];

block left
	a(name="top-anchor")
	div(class="terms-and-cond-nav")
		- each item, i in termsAndConditionsList
			- var currentItem = (i+1);
				div(class="nav-item")
					span(class="item-number")
						=currentItem
						|.&nbsp;
					a(href="#" + item.title, data-anchor = item.title)
						=item.title

block right
	div(class="my-account-wrap")
		+termsAndConditions(termsAndConditionsList)
