extends layouts/grid-fluid
block vars
    - var containerCSSClass = 'category-landing-page';
    - var breadcrumbsList = ["Home", "Products", "Special products"];
    - var text = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..";
    - var fishtext = "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...";

block center
    div(class="container-fluid gray-bg")
        section.container
            header(class="wiley-product-list-component-header")
                h4 plcGridCarousel
                span.link-view-more
                    a(href="#", class="link-corner") View more
            div(class="wiley-product-list-component plcGridCarousel")
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author

            header(class="wiley-product-list-component-header")
                h4 plcGrid
            div(class="wiley-product-list-component plcGrid")
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                        div(class="product-table-flexible")
                            div(class="product-table-container")
                                div(class="product-table-head")
                                    div.product-table-row
                                        div.product-type Type
                                        div.product-date Published on
                                        div.product-quantity Quantity
                                        div.product-price Original Price
                                        div.product-price Discounted Price
                                        div.product-button
                                div(class="product-table-body")
                                    div.product-table-row
                                        div.table-row-content
                                            div(class="product-type")
                                                div
                                                    span.product-type-name WILEYPLUS
                                                    div(class="icon-info black", data-content='<p><a href="#">Text with styles</a></p>')

                                            div(class="product-date") 08/04/2016
                                            div(class="product-quantity")
                                                span(class="product-quantity-title") Quantity:&nbsp
                                                | 1
                                            div(class="product-price gray") $20
                                            div(class="product-price") $20
                                            div(class="product-button")
                                                a(class="small-button learn-more-button") Learn more
                                    div.product-table-row
                                        .table-row-content
                                            div(class="product-type")
                                                div
                                                    span.product-type-name
                                                        | WILEYPLUS
                                                        i(class="product-badge") In stock

                                            div(class="product-date") 08/04/2016
                                            div(class="product-quantity")
                                                span(class="product-quantity-title")
                                                | 1
                                            div(class="product-price gray") $20
                                            div(class="product-price") $20
                                            div(class="product-button")
                                                span(class="pr-not-available") Product not available </br> for purchase
                                    div.product-table-row
                                        .table-row-content
                                            div(class="product-type")
                                                div
                                                    span.product-type-name WILEYPLUS

                                            div(class="product-date") 08/04/2016
                                            div(class="product-quantity")
                                                span(class="product-quantity-title") Quantity:&nbsp;
                                                div(class="select-component select-component-short")
                                                    select
                                                        option(value='1', selected) 1
                                                        option(value='2') 2
                                                        option(value='3') 3
                                                        option(value='4') 4
                                            div(class="product-price gray") $20
                                            div(class="product-price") $20
                                            div(class="product-button")
                                                a(class="small-button") Add to cart
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                        div(class="product-table-flexible")
                            div(class="product-table-container")
                                div(class="product-table-head")
                                    div.product-table-row
                                        div.product-type Type
                                        div.product-date Published on
                                        div.product-quantity Quantity
                                        div.product-price Original Price
                                        div.product-price Discounted Price
                                        div.product-button
                                div(class="product-table-body")
                                    div.product-table-row
                                        div.table-row-content
                                            div(class="product-type")
                                                div
                                                    span.product-type-name WILEYPLUS
                                                    div(class="icon-info black", data-content='<p><a href="#">Text with styles</a></p>')

                                            div(class="product-date") 08/04/2016
                                            div(class="product-quantity")
                                                span(class="product-quantity-title") Quantity:&nbsp
                                                | 1
                                            div(class="product-price gray") $20
                                            div(class="product-price") $20
                                            div(class="product-button")
                                                a(class="small-button learn-more-button") Learn more
                                        div.product-includes
                                            p Set includes:
                                                ul
                                                    li Custom print text
                                                    li webassign plus math registration card
                                    div.product-table-row
                                        .table-row-content
                                            div(class="product-type")
                                                div
                                                    span.product-type-name
                                                        | WILEYPLUS
                                                        i(class="product-badge") In stock

                                            div(class="product-date") 08/04/2016
                                            div(class="product-quantity")
                                                span(class="product-quantity-title")
                                                | 1
                                            div(class="product-price gray") $20
                                            div(class="product-price") $20
                                            div(class="product-button")
                                                span(class="pr-not-available") Product not available </br> for purchase
                                    div.product-table-row
                                        .table-row-content
                                            div(class="product-type")
                                                div
                                                    span.product-type-name WILEYPLUS

                                            div(class="product-date") 08/04/2016
                                            div(class="product-quantity")
                                                span(class="product-quantity-title") Quantity:&nbsp;
                                                div(class="select-component select-component-short")
                                                    select
                                                        option(value='1', selected) 1
                                                        option(value='2') 2
                                                        option(value='3') 3
                                                        option(value='4') 4
                                            div(class="product-price gray") $20
                                            div(class="product-price") $20
                                            div(class="product-button")
                                                a(class="small-button") Add to cart

                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author

            header(class="wiley-product-list-component-header")
                h4 plcList
            div(class="wiley-product-list-component plcList")
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                        div(class="product-table-flexible")
                            div(class="product-table-container")
                                div(class="product-table-head")
                                    div.product-table-row
                                        div.product-type Type
                                        div.product-date Published on
                                        div.product-quantity Quantity
                                        div.product-price Original Price
                                        div.product-price Discounted Price
                                        div.product-button
                                div(class="product-table-body")
                                    div.product-table-row
                                        div.table-row-content
                                            div(class="product-type")
                                                div
                                                    span.product-type-name WILEYPLUS
                                            div(class="product-date") 08/04/2016
                                            div(class="product-quantity")
                                                span(class="product-quantity-title") Quantity:&nbsp
                                                | 1
                                            div(class="product-price gray") $20
                                            div(class="product-price") $20
                                            div(class="product-button")
                                                span(class="pr-not-available") Product not available </br> for purchase
                                        div.product-includes
                                            p Set includes:
                                                ul
                                                    li Custom print text
                                                    li webassign plus math registration card
                                    div.product-table-row
                                        .table-row-content
                                            div(class="product-type")
                                                div
                                                    span.product-type-name WILEYPLUS
                                            div(class="product-date") 08/04/2016
                                            div(class="product-quantity")
                                                span(class="product-quantity-title")
                                                | 1
                                            div(class="product-price gray") $20
                                            div(class="product-price") $20
                                            div(class="product-button")
                                                span(class="pr-not-available") Product not available </br> for purchase
                                    div.product-table-row
                                        .table-row-content
                                            div(class="product-type")
                                                div
                                                    span.product-type-name WILEYPLUS

                                            div(class="product-date") 08/04/2016
                                            div(class="product-quantity")
                                                span(class="product-quantity-title") Quantity:&nbsp
                                                | 1
                                            div(class="product-price gray") $20
                                            div(class="product-price") $20
                                            div(class="product-button")
                                                a(class="small-button") Add to cart
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author
                section(class="product-item")
                    div(class="product-image")
                        img(src="responsive/common/images/product-image.png", class="item-image")
                    div(class="product-content")
                        h3(class="product-title")
                            a('href=#') Principles and Modern Applications of Mass Transfer Operations, 3rd Edition
                        div(class="product-description") Author


